[2016-06-03 09:02] antw commented on #1044
This appears to be a cache issue; the numbers coming out of the gas calculation are fine, and the bug is not present locally when the cache is disabled.

I'm investigating...

[2016-06-03 09:10] grdw commented on #1039
I'm going to draw a line in the sand at 1.000.000.000. I think we should switch to scientific notation in order for these numbers to become somewhat readable. I remember there being an issue about this problem already...

[2016-06-03 09:13] grdw commented on #1045
[Related](https://stackoverflow.com/questions/22608564/neterr-incomplete-chunked-encoding-in-chrome-only)

[2016-06-03 09:39] grdw commented on #1044
I'm also watching with this issue... I enabled caching and started testing:
I don't see the errors in the log though (in Firefox), what I do see. Is when you select the first week:

<img width="617" alt="screen shot 2016-06-03 at 11 33 40" src="https://cloud.githubusercontent.com/assets/2676542/15774884/0f26680e-297f-11e6-978c-0985a26f8052.png">

Than select a random week in the future:
<img width

[2016-06-03 09:44] grdw commented on #1044
[Relevant line](https://github.com/quintel/etmoses/blob/master/app/services/network_cache/fetcher.rb#L21) ?

[2016-06-03 09:45] antw commented on #1044
@grdw Those screenshots are interesting. It kind-of looks like the "Gas (with strategies)" load lags behind by one request. The second screenshot still has the gas-strategies load from the first request, and the third screenshot has the load from the second. It's harder to tell if the same is true of electricity.

[2016-06-03 10:00] grdw commented on #1044
Wait I'm starting to think that it's related to strategies. So the featured cache ... because the normal load is actually correct but the strategies cache is the one you saw before. So it looks like the cache for strategies is not clearing correctly?

[2016-06-03 10:10] #1044 closed

[2016-06-03 10:53] dennisschoenmakers commented on #1039
Couldn't we reproduce the solution that we utilize in etmodel? I like what we did there.

[2016-06-03 11:11] grdw commented on #1041
This is only in the stacked view. I thought it was happening because the domain isn't changing properly but that's not it. It's calculated correctly but it doesn't quiet 'fit' in the height of the box... hmm, I need to look into it a bit better before I can fix this.

[2016-06-03 11:12] grdw commented on #1039
https://github.com/quintel/etmoses/issues/139

[2016-06-06 07:43] ChaelKruip commented on #1038
If you 'save as' a LES, the new LES consists of copies or *clones* of the topology,  market model, technology matrix etc. This is to ensure that if you edit those clones, the original (parent) LES does not change.

In the future, I would like to simplify the above by storing it as one entity. So, there would be no separate market model and topology but only one thing, the LES.

[2016-06-06 12:07] grdw commented on #919
Closing due to duplicate: #1028

[2016-06-06 12:07] #919 closed

[2016-06-06 12:08] grdw commented on #608
Closing due to duplicate: #719

[2016-06-06 12:08] #608 closed

[2016-06-06 12:08] grdw commented on #719
Closing due to duplicate #731

[2016-06-06 12:08] #719 closed

[2016-06-06 12:10] grdw commented on #830
Closing due to duplicate: #864

[2016-06-06 12:10] #830 closed

[2016-06-06 12:11] ChaelKruip commented on #970
We decided to do this the same way as with all other heating technologies. We separately take the following 'technologies' into account from ETE:
* households_space_heater_district_heating_steam_hot_water
* households_water_heater_district_heating_steam_hot_water

[2016-06-06 12:24] ChaelKruip commented on #1043
I can't reproduce this. @antw @grdw is this still relevant?

[2016-06-06 12:26] ChaelKruip commented on #1011
Closing as this question has been answered. There already is a ticket for adding losses: https://github.com/quintel/etmoses/issues/805

[2016-06-06 12:26] #1011 closed

[2016-06-06 12:30] antw commented on #1043
I believe what @dennisschoenmakers means is that if you hide one of the series in the main chart, that series is still shown in the smaller "brush chart". I guess that a hidden series should not be visible there.

[2016-06-06 12:33] ChaelKruip commented on #1043
Right! Thanks for pointing that out @antw!

[2016-06-06 12:34] ChaelKruip commented on #1018
These numbers are very rough and based on the typical costs of the technologies included in the ETM which feed the heat network.

@Sanne512 can you ask around if these numbers are satisfactory as the defaults? If you can find more accurate numbers, please let me know.

[2016-06-07 13:08] grdw opened #1047 "How do I determine the costs of a heat technology in the source list?"
Is it:

[code]

Or is it a bit more complex than my initial thought?

[2016-06-07 13:28] ChaelKruip commented on #1047
Yes 😄

## For dispatchable sources

The `depreciation_costs` (what is shown on the diagonal of the business case matrix) is defined as follows:
[code]
where the initial_investment is defined as:
[code]
and the
[code]

## For must-run sources

The `depreciation_costs` (what is shown on the diagonal of the business case matrix) is **again** defined as follows:
[code]
where the initial_investment is

[2016-06-07 13:39] grdw commented on #1047
Great. So why do we import `marginal_costs`?

[2016-06-07 13:50] ChaelKruip commented on #1047
The marginal costs are there to help the user (or the calculator) to assign priorities. The cheapest source should come first.

Also, if the user would like to create a new `transaction` in the Market Model the marginal costs provides a good typical number for what is would cost to produce a kWh of heat.

[2016-06-07 14:46] grdw commented on #1047
So it's not really used in any of the business case/financial calculations but we import it nontheless. Will it be used in any of the calculations in the future though? Or is this like said, merely to check if the `marginal_costs` are a good price for a kWh of heat in a Markt Model transaction?

If so, it's a bit weird that the `marginal_costs` are present in the `heat_sources` list. Couldn't we i

[2016-06-08 07:12] dennisschoenmakers opened #1048 "New interface concerns, questions and suggestions"
![image](https://cloud.githubusercontent.com/assets/104830/15885684/1512417e-2d59-11e6-915e-4b7d5e235096.png)

[2016-06-08 08:32] ChaelKruip opened #1049 "The heat infra assets should be editable by the user"
As described in https://github.com/quintel/etmoses/issues/962, the cost of heat infrastructure is separated into
* Primary (transmission) infrastructure. This contains one or more pipes from the source to the secondary network.
* Secondary infrastructure. This contains the distribution pipes and the connections to the households including heat exchangers.

I think we should have a page for heat in

[2016-06-08 08:34] ChaelKruip commented on #962
@Sanne512 what is the status of this? When can you provide numbers as requested above?

[2016-06-08 08:35] ChaelKruip commented on #966
@Sanne512 what is the status of this? When can you provide numbers as requested above?

[2016-06-08 08:49] ChaelKruip opened #1050 "Gas-load charts do not load for the LESses I have tried"
For instance: [https://beta-moses.energytransitionmodel.com/testing_grounds/499/gas_load](https://beta-moses.energytransitionmodel.com/testing_grounds/499/gas_load)

![etmoses](https://cloud.githubusercontent.com/assets/1303760/15888282/8cc7b6ba-2d66-11e6-93ca-00fc615301ee.png)

[2016-06-08 09:30] ChaelKruip commented on #1049
## Primary infrastructure

When specifying the sources, the user has already submitted a 'distance' to the LES as shown in this (indicative) table:
<img width="796" alt="20150513_etmoses_sprint3_v7_pptx" src="https://cloud.githubusercontent.com/assets/1303760/15249787/ccd1af80-1921-11e6-8f12-9ffefdfda6bd.png">

These distances need to be multiplied by costs (per km) for the pipe between LES and so

[2016-06-08 09:39] ChaelKruip opened #1051 "New measures and a new stakeholder need to be added for heat"
The new stakeholder:
* heat_producer

The new measures:
* number_of_connections_to_heat_network
* kWh_of_heat_consumed
* kWh_of_heat_produced (only available for heat_producer)

[2016-06-08 09:56] ChaelKruip commented on #970
Although the above works fine for the technology matrix, the `number_of_heat_connections` measure in the Market Model transactions should not be the sum of `households_space_heater_district_heating_steam_hot_water` and `households_water_heater_district_heating_steam_hot_water` because houses typically only pay once for their connection to the heat network.

I propose to take the maximum of heat/ho

[2016-06-08 10:00] ChaelKruip commented on #1049
## Secondary infrastructure

The cost of secondary infrastructure depends largely on location and type of house. We have chosen the following combinations of these two characteristics:

- rural_detached
- rural_terraced
- village_detached
- village_terraced
- village_apartment
- city_terraced
- city_apartment
- city_flat

Because the secondary infra depends on the number of connections (see https:

[2016-06-08 10:07] ChaelKruip commented on #1049
At second thought, the table shown above should be extended a bit to give the user the ability to change attributes for the costs:

| type |  investment [kEUR] | O&M [EUR/y] | lifetime [y] | stakeholder | units |
|---|---|---|---|---|---|
| rural_detached | 7 |  20 | 50 | system operator | 20 |
| village_terraced | 8 |  30 | 50 | system operator | 30 |

[2016-06-08 11:21] ChaelKruip opened #1052 "Electric heaters should be imported from ETE"
These two electric technologies need to be added to the list of imported technologies.

* households_water_heater_resistive_electricity
* households_space_heater_electricity

This is relevant for https://github.com/quintel/etmoses/issues/626

[2016-06-08 13:56] ChaelKruip commented on #1048
I'll try to bring some order in my ideas, concerns, questions etc. by grouping them here below:

## Re-use of ETModel interface

First, I like the idea of re-using the main characteristics of the ETM interface for the following reasons:
* Familiarity: users will recognise the interface and will have to think less
* Compatibility: it will be easier to fully integrate ETM and ETMoses later on if we

[2016-06-08 15:24] grdw commented on #1049
None of these attributes need to be imported from et-engine, right?
And to follow up on that question, what is the default primary and secondary infrastructure? Is this going to be generated? If so: how exactly?

I'm now at a stage where I created all the views/models/controllers and necessary STI to make this a bit more smoother.

[2016-06-08 15:52] ChaelKruip commented on #1049
True!

Excellent question! I think we have to make up something until @Sanne512 tells us more.

[2016-06-09 08:14] antw commented on #1050
The HTTP request times out because the LES takes too long to calculate. We'll need to switch this page to use a poller. I think this is related to #1017.

[2016-06-09 09:23] antw commented on #970
Agreed. I think this makes more sense than using the number of base loads. If you have ten base loads, but only three "Buffer water heating" and five "Buffer space heating" techs, it seems reasonable to say that you have five heat connections, not ten.

[2016-06-09 09:31] ChaelKruip commented on #970
I assume you mean `households_space_heater_district_heating_steam_hot_water` instead of ""Buffer space heating" techs" right?
We are talking about the number of connection *to the heat network*. The number of buffers (connected to local heat pumps etc.) might be larger than the number of buffers connected to the network.

[2016-06-09 09:46] AlexanderWirtz commented on #970
makes sense to me

[2016-06-09 09:55] ChaelKruip opened #1053 "ETMoses crashes when I push 'create LES' button on BETA"
"Failed to load resource: the server responded with a status of 500 (Internal Server Error)"

[2016-06-09 10:03] antw commented on #1053
Fixed by importing the latest ETSource in ETE.

[2016-06-09 10:03] #1053 closed

[2016-06-09 10:04] dennisschoenmakers opened #1054 "[Airbrake] [Staging] Couldn't find LoadProfile with 'id'="
**Airbrake error:** [#6358](https://quintel.airbrake.io/projects/111227/groups/1704252593693766358)
**Airbrake project:** ETMoses

**Error type:** `ActiveRecord::RecordNotFound`
**Error message:** `` Couldn't find LoadProfile with 'id'= ``
**Where:** `<no information>`
**Occurred at:** Jun 09, 2016 10:04:20 UTC
**First seen at:** Jun 09, 2016 10:04:20 UTC
**Occurrences:** 1 (1 since last deploy on

[2016-06-09 10:05] antw opened #1055 "Changing heat assets should clear the network cache"

[2016-06-09 10:07] antw commented on #1054
Caused by a must-run heat asset being set to the "---" profile.

[2016-06-09 10:10] ChaelKruip commented on #967
What is the status of this @grdw?

[2016-06-09 10:11] ChaelKruip commented on #973
The associated converters in ETE are

`households_space_heater_district_heating_steam_hot_water` and `households_water_heater_district_heating_steam_hot_water`

[2016-06-09 10:15] ChaelKruip commented on #1047
@grdw the `marginal_heat_costs` method is available in ETE now. You can use that instead of the `marginal_costs`.

[2016-06-09 10:20] antw commented on #1054
Tentatively closed by ef4820ce.

[2016-06-09 10:20] #1054 closed

[2016-06-09 12:06] ChaelKruip opened #1056 "User should be able to select carriers in load chart"
This button is 'frozen'/'disabled but I don't think it should be:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/15929111/3cfac9a2-2e4b-11e6-9d72-383db1a102f5.png)

[2016-06-09 12:20] ChaelKruip opened #1057 "Heat source tables need a bit of TLC"
* Units should be rounded at 2 figures after the decimal
* Investments seem to be in EUR but should be in kEUR (divided by 1000)
* marginal costs -> marginal heat costs
* marginal costs should be rounded at 2 figures after the decimal
* priorities should be a continuous range (now the '1' seems to be missing)

![etmoses](https://cloud.githubusercontent.com/assets/1303760/15929387/ffd3a22c-2e4c-11e

[2016-06-09 13:03] ChaelKruip opened #1058 "Button on heat asset page should point to heat load"
![etmoses](https://cloud.githubusercontent.com/assets/1303760/15930448/4dcb049c-2e53-11e6-9e4b-173f5fa343ac.png)

[2016-06-09 14:07] ChaelKruip commented on #966
I have made a first attempt at putting numbers on the attributes described above (sorry for the Dutch):
![20150609_etmoses_sprint3_v11_pptx](https://cloud.githubusercontent.com/assets/1303760/15932443/0b61d7e4-2e5c-11e6-991c-b60fb495e4ed.png)

@Sanne512 please let me know how these numbers can be improved!

[2016-06-09 14:58] grdw commented on #967
Are not imported. There are two gql's which determine the needed production and capacity and the financial numbers are specified as defaults in ETMoses. It's merged and on beta. Do we still need to use that technology to extract values from it or?

[2016-06-09 15:01] ChaelKruip commented on #967
No, but they need to become technologies in the technology matrix (heat exchangers) as in:
![20150609_etmoses_sprint3_v11_pptx](https://cloud.githubusercontent.com/assets/1303760/15934422/c98934b8-2e63-11e6-8399-fd819c6a5ebe.png)

[2016-06-09 15:11] grdw commented on #967
Are they not the same as https://github.com/quintel/etmoses/issues/973#issuecomment-224853904 ?

[2016-06-09 15:13] ChaelKruip commented on #967
Yes 😄

[2016-06-09 15:15] grdw commented on #1056
I think you mentioned this before. But you can toggle them with the legend items.

[2016-06-09 15:25] antw commented on #1051
I have pushed these, but the measure for heat production is temporarily disabled. In isolation, the code works and passes the tests, but in a real network the measure never gets applied due to the lack of a "Heat Network" node in the electricity network. I'll deal with setting the correct heat buffering volume first, then come up with a workaround for this.

In the short-term, you can work around

[2016-06-09 15:29] ChaelKruip commented on #971
To be more explicit about the size of the storage volumes: they are based on physical considerations
[code]
where the `heat_capacity_of_water = 0.001163 KWh/(liter * K)`.

The `volume_in_liters` can be linked to the volume of the pipes of the heat network which can be assigned to a single connection. The temperature difference would be:
* `temperature_difference_normal = 60 K - 15 K = 45 K`
* `tem

[2016-06-09 15:31] ChaelKruip commented on #1056
👍

[2016-06-10 08:32] ChaelKruip opened #1060 "LIVE crashes when selecting a week after calculating whole year"
In [this LES](https://moses.energytransitionmodel.com/testing_grounds/481), I just calculated the whole year which displayed fine. After showing the capacity line in the load chart I selected the first week of the year. Now it is stuck...

[2016-06-10 09:18] grdw commented on #1012
After talking with @ChaelKruip about this issue. It's pretty clear that this is the hurdle that will probably cause a lot of other hurdles.

I'll change the name + description of this issue and will fix it when time is due.

[2016-06-10 09:21] ChaelKruip commented on #968
Can we close this @grdw?

[2016-06-10 09:42] antw commented on #1060
Duplicate of #1028. Fixed it by removing the cache for this LES. I still don't know what really causes this – except that it's related to the cache somehow – but I'll investigate it later today once heat buffering is completed.

[2016-06-10 09:42] #1060 closed

[2016-06-10 10:12] ChaelKruip commented on #1049
I propose to use `city_apartment` as the default for all connections. @Sanne512 let me know if you disagree.

[2016-06-10 10:12] ChaelKruip commented on #973
Can we close this @grdw?

[2016-06-10 10:13] ChaelKruip commented on #1052
Can we close this @grdw?

[2016-06-10 11:22] ChaelKruip commented on #1017
This is true for the heat calculation as well!

[2016-06-10 11:56] #495 closed

[2016-06-10 12:00] grdw commented on #1048
Just yesterday I had an idea!

Stating the [confusion](https://github.com/quintel/etmoses/issues/1024) about Gas load and Gas load of the gas infrastructure. I thought it would be nice to split the charts up in individual 'series'. So when you plot a chart you'd get something like this:

![screen shot 2016-06-10 at 13 55 43](https://cloud.githubusercontent.com/assets/2676542/15963534/0d06e01e-2f13

[2016-06-10 12:04] #967 closed

[2016-06-10 12:04] #973 closed

[2016-06-10 12:04] #1052 closed

[2016-06-10 12:11] dennisschoenmakers commented on #1048
Very nice @grdw ! Keep that inspiration flowing! 😃

[2016-06-10 13:30] antw commented on #970
My bad; I did not realise that. I'll fix this.

[2016-06-10 14:16] ChaelKruip commented on #1057
Also, the must-run table:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/15967125/9240d2a4-2f26-11e6-9a52-5aef1366954e.png)
I think the title should be EUR/MWh instead of kEUR/MWh

[2016-06-10 14:33] #970 closed

[2016-06-10 14:47] grdw opened #1062 "Dispatchables in heat sources need to be dragged in order"

[2016-06-12 14:31] ChaelKruip opened #1063 "Stacked and individual load curves don't show negative load (on LIVE)"
In [this LES](https://moses.energytransitionmodel.com/testing_grounds/482), the total load looks like this:
<img width="650" alt="etmoses" src="https://cloud.githubusercontent.com/assets/1303760/15991687/bd098388-30ba-11e6-931c-d4568e9868b2.png">
But the individual loads don't show the negative production:
<img width="610" alt="etmoses" src="https://cloud.githubusercontent.com/assets/1303760/15991

[2016-06-12 14:38] ChaelKruip opened #1064 "After clicking "save all and view LES" without editing anything, the LES fails to calculate"
[This LES](https://moses.energytransitionmodel.com/testing_grounds/482) just stopped working... 😭

[2016-06-12 14:39] ChaelKruip commented on #1057
I think @grdw and myself addressed these. Closing.

[2016-06-12 14:39] #1057 closed

[2016-06-12 14:39] ChaelKruip commented on #1014
Closing.

[2016-06-12 14:39] #1014 closed

[2016-06-12 14:49] ChaelKruip opened #1065 "Adding a district heating connection gives an error"
In [this LES](https://beta-moses.energytransitionmodel.com/testing_grounds/521/edit):
<img width="1412" alt="etmoses" src="https://cloud.githubusercontent.com/assets/1303760/15991788/996e89b6-30bd-11e6-8fb8-1ee7ed339289.png">

[2016-06-12 15:19] #968 closed

[2016-06-12 15:20] ChaelKruip commented on #1036
@grdw are you using the `marginal_heat_costs` function already?

[2016-06-12 15:31] antw commented on #1064
Weekly caching bug *again*. I don't understand how it's still happening after af9810fb. 😧

[2016-06-12 15:33] ChaelKruip commented on #1064
It seems to happen if I save stuff without actually changing anything...

[2016-06-12 15:58] #1028 closed

[2016-06-12 15:58] #1064 closed

[2016-06-12 16:01] ChaelKruip commented on #1064
👍 👍

[2016-06-12 16:27] ChaelKruip opened #1066 "Weekly loads should be taken from yearly cache if available"
Currently, the weeks are all re-calculated even if there is a full year available.

[2016-06-12 19:38] ChaelKruip opened #1067 "Naming of load should be made consistent"
"Load" => "Electricity load"
<img width="1243" alt="etmoses" src="https://cloud.githubusercontent.com/assets/1303760/15993418/fae75312-30e5-11e6-9ad1-834148cfd8ea.png">

[2016-06-12 19:41] ChaelKruip opened #1068 "Heat sources should be able to belong to stakeholders that are not in the electricity topology"
Now only these stakeholders are available:
<img width="1202" alt="screen shot 2016-06-12 at 21 39 54" src="https://cloud.githubusercontent.com/assets/1303760/15993431/675297a0-30e6-11e6-81d8-099c1683a095.png">

[2016-06-12 19:50] ChaelKruip opened #1069 "Numbers in sources list should be consistent"
Some costs are divided by 1000 for all but for the central network:
<img width="1149" alt="etmoses" src="https://cloud.githubusercontent.com/assets/1303760/15993471/a4be2c48-30e7-11e6-896b-382ff6fbb47f.png">

Also, some numbers are not rounded to 1 digit after the decimal.

[2016-06-12 20:49] dennisschoenmakers opened #1070 "[Airbrake] [Production] key not found: "default""
**Airbrake error:** [#2786](https://quintel.airbrake.io/projects/111227/groups/1706751260057122786)
**Airbrake project:** ETMoses

**Error type:** `KeyError`
**Error message:** `` key not found: "default" ``
**Where:** `testing_grounds#data`
**Occurred at:** Jun 12, 2016 20:49:03 UTC
**First seen at:** Jun 12, 2016 20:49:03 UTC
**Occurrences:** 1 (1 since last deploy on Jun 12, 2016 15:59:55 UTC)

[2016-06-13 06:22] ChaelKruip opened #1071 "Gas assets should belong to system operator by default"
<img width="1271" alt="etmoses" src="https://cloud.githubusercontent.com/assets/1303760/15998607/f4697d94-313f-11e6-84f0-67aec6aa07b1.png">

[2016-06-13 08:15] grdw commented on #1065
I am aware of this problem. The PR #1061 should fix this.

[2016-06-13 10:36] antw commented on #971
The heat network is now set up such that its (buffering) volume will be set to 10kWh per heat connection. The amplified volume – available only to must-runs – is set to 17.78kWh per connection.

[2016-06-13 11:03] antw commented on #1067
I'm not sure I agree with calling either of these "Electricity load".

The one on the top-left might be better as "Network", but that tab describes more than just "*Electricity* load". Perhaps "Gas load" might become "Gas infrastructure"?

The instance on the right makes little sense as "Electricity load", since the chart also includes gas and heat.

[2016-06-13 11:37] grdw opened #1072 "Heat source list: dispatchable table may only contain dispatchables same for must-run."
Now it's possible to put a dispatchable converter in the must-run table. This must not be possible.

[2016-06-13 12:17] ChaelKruip commented on #1067
Excellent points @antw!

I like that!

[2016-06-13 12:18] #1055 closed

[2016-06-13 12:37] grdw commented on #964
I have some questions. How would somebody be able to view these charts? Just by clicking on and end-point? Or is this not connected to an end-point at all and does this need to be in a different chart?

[2016-06-13 12:55] antw commented on #964
I'll wait for @ChaelKruip to clarify, but at the moment I don't think there is enough data available to the front-end to be able to make this chart possible. The network calculation is going to have to do more book-keeping to properly record exactly which producers were running when, and how much energy was output.

I'd like to know the answers to @grdw's questions too

[2016-06-13 13:48] grdw opened #1074 "Legend for individual charts + stacked chart are broken"

[2016-06-13 13:48] grdw opened #1075 "Stacked chart doesn't contain any producing technologies"
I think we're still missing Solar PV production in the stacked load chart of a LES.

[2016-06-13 13:49] antw commented on #1075
#1063

[2016-06-13 13:49] #1075 closed

[2016-06-13 14:42] ChaelKruip commented on #964
Yes. Just like with the gas 'tab', I'd like to have a tab with heat demand/production overview for the whole LES.

I think we would like to have access to the following curves:
* total space heating demand (adding all scaled profiles for space heating)
* total hot water demand (adding all scaled profiles for space heating)
* the net load of the buffers (can be positive or negative)
* the productio

[2016-06-13 15:06] ChaelKruip commented on #964
I present to you probably the ugliest mock-up chart ever:
![20160613_chart_v01_pptx](https://cloud.githubusercontent.com/assets/1303760/16012228/da967d88-3188-11e6-8175-e78e4b28d682.png)
I hope a few things are clear from it though:
* Demand = positive load and stacked
* Supply = negative load and also stacked
* The mismatch between supply and demand is drawn as a production deficit
* Buffers can

[2016-06-13 15:35] dennisschoenmakers opened #1078 "[Airbrake] [Staging] undefined method `marginal_heat_costs' for #<InstalledHeatSource:0x007f674ad3f500>"
**Airbrake error:** [#4669](https://quintel.airbrake.io/projects/111227/groups/1707317994170334669)
**Airbrake project:** ETMoses

**Error type:** `NoMethodError`
**Error message:** `` undefined method `marginal_heat_costs' for #<InstalledHeatSource:0x007f674ad3f500> ``
**Where:** `testing_grounds#edit`
**Occurred at:** Jun 13, 2016 15:35:01 UTC
**First seen at:** Jun 13, 2016 15:35:01 UTC
**Occur

[2016-06-13 15:36] grdw commented on #1078
Fixed by: b584d44

[2016-06-13 15:36] #1078 closed

[2016-06-13 15:52] ChaelKruip opened #1079 "Is the capacity of dispatchable central heat network every non-zero?"
![etmoses](https://cloud.githubusercontent.com/assets/1303760/16013905/7c9bc51a-318f-11e6-80a2-2e5c0fc97ff2.png)

[2016-06-13 15:52] ChaelKruip commented on #1079
This could point to a bug...

[2016-06-13 16:00] antw commented on #964
I'll work on getting this data out of the network calculation. I'll aim to expose it via a Rails action which responds with JSON something like:

[code]

I *think* that covers all the bases...

[2016-06-14 07:24] ChaelKruip commented on #964
Sounds good!

Thinking about it a bit more, I think it would be great if we could show the sources of the heat network separately if possible:
* central heat network (must-run)
* central heat network (dipatchable)
* heat network (geothermal)
* heat network (gas CHP)
* heat network (biogas CHP)
* heat network (biomass CHP)

[2016-06-14 07:57] grdw opened #1080 "Chart colors for a converter should be specified in the technologies YML"

[2016-06-14 09:37] #1074 closed

[2016-06-14 09:47] antw commented on #964
In which case, instead of `must_run` and `dispatchable` "supply" series', we can separate out each technology.

[code]

[2016-06-14 11:58] grdw commented on #1080
@ChaelKruip if you could find some time to think about which technology should need what color, that'd be great. You can edit the colors in the yml files on the branch: `issues/technologies-yml-should-hold-the-color`.

[2016-06-14 11:58] #1072 closed

[2016-06-14 11:59] #1065 closed

[2016-06-14 11:59] grdw opened #1082 "Arrows are missing for buffers children on beta"
<img width="88" alt="screen shot 2016-06-14 at 13 58 58" src="https://cloud.githubusercontent.com/assets/2676542/16041872/349efa8a-3238-11e6-90ea-ccbf98969b09.png">

[2016-06-14 12:03] grdw opened #1083 "Putting all calculation actions in a separate controller"
Currently I'm working on making a mocked version for the heat load chart. However I'm thinking about putting all the actual calculation requests in a separate controller.

This to reduce the now really big TestingGroundsController and to have all 'load' calculations in one place.

What do you think @antw ?

[2016-06-14 12:04] antw commented on #1083
I had the *exact* same thought this morning. 😀

I think it's the way to go.

[2016-06-14 12:23] ChaelKruip opened #1084 "It should not be possible to add a micro CHP to the technology matrix"
This is not implemented but occurs in the list of technologies.

[2016-06-14 12:24] ChaelKruip commented on #1084
Same for fuel cells

[2016-06-14 12:24] grdw opened #1085 "Make capistrano task for synchronizing load profiles csv's"
I currently use a bash script but maybe this can be put in a Rake task or even simpler, put this bash script in the repo and make a switch between 'production' and 'staging'? Or come to think of it, maybe we could make it part of the `rake db2local` capistrano script.

Contents of the bash script

[code]

[2016-06-14 12:28] ChaelKruip commented on #1084
I'm also confused about the option to add three "parts" of the hybrid heat pump (I understand that you need an electric and a gas-part):
![screen shot 2016-06-14 at 14 27 17](https://cloud.githubusercontent.com/assets/1303760/16042712/52337554-323c-11e6-8c71-e06fc63b3b54.png)

[2016-06-14 12:29] grdw commented on #1084
hmm.. turns out that all invisble technologies appear in the list ...

[2016-06-14 12:46] dennisschoenmakers opened #1086 "[Airbrake] [Production] undefined method `symbolize_keys' for #<Array:0x007f1c6ab5e3d8>"
**Airbrake error:** [#0031](https://quintel.airbrake.io/projects/111227/groups/1707957968137860031)
**Airbrake project:** ETMoses

**Error type:** `NoMethodError`
**Error message:** `` undefined method `symbolize_keys' for #<Array:0x007f1c6ab5e3d8> ``
**Where:** `topologies#update`
**Occurred at:** Jun 14, 2016 12:46:31 UTC
**First seen at:** Jun 14, 2016 12:46:31 UTC
**Occurrences:** 1 (1 since l

[2016-06-14 12:50] ChaelKruip commented on #1080
Current colours for electricity technologies:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/16043283/322d5254-323f-11e6-9802-22e3dee298b8.png)
For gas technologies:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/16043303/4bcf70a2-323f-11e6-9b23-db438768d96b.png)
Heat network:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/16043319/5d1a3cac-323f-11e6-8b

[2016-06-14 13:03] grdw commented on #1080
I like it - color wise - but I think we're stumbling accross the same problem with the merit order hourly supply chart of ETModel. That because there are that many colors, the meaning of the color is a bit gone.

[2016-06-14 13:09] ChaelKruip commented on #1080
These are the *current* colours (the ones you picked!) 😆
I intend to bring this set back to fewer colours with easily distinguishable shades of brightness.

[2016-06-14 13:55] ChaelKruip commented on #1080
For gas I have found these:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/16045360/5f704ec0-3248-11e6-83d3-c8f1ce2fde64.png)

[2016-06-14 13:58] ChaelKruip commented on #1080
For heat:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/16045472/d9402950-3248-11e6-9485-b68f4a296e2e.png)

[2016-06-14 14:02] grdw commented on #1080
I didn't really picked them by hand in all honesty 😶
But I like the improved colors! 👍

[2016-06-14 14:23] grdw commented on #1068
Fixed by: https://github.com/quintel/etmoses/commit/854b582ffd04553d4cf1e1dd7185351d5dbbc9d7#diff-36d5c149182cfc95143456f5662e7bf2R61

[2016-06-14 14:23] #1068 closed

[2016-06-14 14:26] grdw commented on #1079
Well this currently had to do with rounding ...

The GQL's return:

0.00033 for central heat network must-run production and
0.0533 for central heat network disp. capacity

for scenario 515515 on beta.

[2016-06-14 14:27] ChaelKruip commented on #1080
And for electricity:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/16046452/d1e0f9a6-324c-11e6-88d6-521095f0a4b2.png)

[2016-06-14 14:51] grdw opened #1087 "Convert LoadChartsSettings to something like OutputElementSeries in ETModel"
I'm noticing that the [LoadChartsSettings](https://github.com/quintel/etmoses/blob/master/app/assets/javascripts/les/topology_load_charts/load_charts_settings.js) file is getting really fat. Also there are now multiple ways of drawing a chart which I would like to reduce to only a single way.

I actually like how that's done in ETModel so maybe we could (re)-use those parts for ETMoses?

[2016-06-15 09:54] ChaelKruip commented on #1047
@grdw can this be closed?

[2016-06-15 10:16] grdw commented on #1063
To tell you what I'm seeing:

Total:
<img width="589" alt="screen shot 2016-06-15 at 12 14 32" src="https://cloud.githubusercontent.com/assets/2676542/16076279/d3bd6998-32f2-11e6-9554-5d748bb247fe.png">

Technologies I used:
<img width="574" alt="screen shot 2016-06-15 at 12 14 40" src="https://cloud.githubusercontent.com/assets/2676542/16076280/d3bedde6-32f2-11e6-9d8d-21d9893f5a22.png">

Stacked:

[2016-06-15 10:48] #1047 closed

[2016-06-15 10:48] grdw commented on #1047
Yes it can.

[2016-06-15 13:33] grdw commented on #1063
After some digging it looks as though there's no production being held into account for the `SubPath`'s.

However, the `PullConsumption` [here](https://github.com/quintel/etmoses/blob/master/app/models/calculation/pull_consumption.rb#L44) - does log some values (which look okay) for the load of the solar panels. The thing is that I don't quiet get how these values are passed on to the `tech_loads`

[2016-06-15 13:38] antw commented on #1063
FWIW I know about this, and it has always been this way; it's not a new bug. It's not a front-end or chart issue, but rather a limitation of the network calculation itself. I have some rough ideas – but nothing firm yet – for how to fix it.

Fundamentally, the problem is that the model is driven by consumption, not production. We can't account for production the same way we do consumption; during

[2016-06-15 14:15] grdw commented on #952
I'm closing this. Maybe @ChaelKruip, could you find the issue about the 'break down' improvement?

[2016-06-15 14:15] #952 closed

[2016-06-15 14:21] grdw commented on #1041
Fixed by this line: https://github.com/quintel/etmoses/blob/master/app/assets/javascripts/les/topology_load_charts/d3_load_chart.js#L283

[2016-06-15 14:21] #1041 closed

[2016-06-15 14:29] #944 closed

[2016-06-15 20:12] ChaelKruip commented on #1063
I would like to hear your ideas about this @antw. Let's pick this up with priority.

But afterwards there must be a way to know what every technology did right?

[2016-06-15 20:15] ChaelKruip commented on #859
@grdw what is the status of this?

[2016-06-15 20:15] #526 closed

[2016-06-15 20:15] ChaelKruip commented on #526
Re-open if this issue is not solved.

[2016-06-15 20:17] ChaelKruip opened #1090 "The business case table should show a breakdown of the number in each cell on mouse-over"
Right now it is very difficult to see what the origin of outcomes of the cost calculation are.

[2016-06-15 20:17] ChaelKruip commented on #952
https://github.com/quintel/etmoses/issues/1090

[2016-06-15 20:27] dennisschoenmakers commented on #1041
:+1:

Sent from my iPhone

On 15 jun. 2016, at 16:21, Gerard <notifications@github.com> wrote:

Closed #1041 <https://github.com/quintel/etmoses/issues/1041>.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/quintel/etmoses/issues/1041#event-693310071>, or mute
the thread
<https://github.com/notifications/unsubscribe/AAG

[2016-06-15 23:30] antw commented on #1063
I need to think this through some more and experiment a bit, because calling them "ideas" might still be optimistic. I'll make this my first priority next week.

You can query a technology to find out what it's (net) load was, and that would work fine if we wanted only to show the load of technologies on endpoints. However, the need to show tech loads on non-endpoints means that this isn't suffici

[2016-06-15 23:34] antw commented on #859
I think @grdw [has finished this](https://github.com/quintel/etmoses/blob/395787e8f5ebe69b7a2438d440271f4849380a73/db/static/technologies/transport_car_using_electricity.yml#L19).

[2016-06-15 23:34] #859 closed

[2016-06-16 07:16] grdw commented on #859
Yes I did 😅

[2016-06-16 07:53] ChaelKruip commented on #1063
👍

Thanks for clarifying that! I was indeed still thinking about the end-points only...

[2016-06-16 10:03] #701 closed

[2016-06-16 11:18] dennisschoenmakers opened #1091 "[Airbrake] [Production] undefined method `default_demand' for nil:NilClass"
**Airbrake error:** [#0466](https://quintel.airbrake.io/projects/111227/groups/1709363318036610466)
**Airbrake project:** ETMoses

**Error type:** `NoMethodError`
**Error message:** `` undefined method `default_demand' for nil:NilClass ``
**Where:** `testing_grounds#render_template`
**Occurred at:** Jun 16, 2016 11:18:10 UTC
**First seen at:** Jun 16, 2016 11:18:10 UTC
**Occurrences:** 1 (1 since

[2016-06-16 12:35] grdw commented on #1045
How do you reproduce this bug?

[2016-06-16 13:05] #1084 closed

[2016-06-16 13:07] #615 closed

[2016-06-16 13:07] #631 closed

[2016-06-16 13:07] #706 closed

[2016-06-16 13:09] grdw commented on #868
I'm closing this issue due to the unlikelyhood of this ever happening again. It's also not reproduceable without mingling with the database.

[2016-06-16 13:19] grdw commented on #988
I'm closing this one aswell on the basis that it only occurred on one day. Also if I understand correctly, this error implies that there were no loads present to downsample. But as of right now the LES is correctly loading.

[2016-06-16 13:19] #988 closed

[2016-06-16 14:16] DorinevanderVlies opened #1094 "ETModel rounds some parameters (P2G) when exporting to ETMoses. Should be floats instead of integers"
It seems to me that when exporting my ETM scenario to ETMoses something goes wrong with rounding some parameters.

This issue came up when I changed my P2G from 0.8 to 0.133 (to represent ~ 0.1 MW) .
After the change the technology P2G was no longer present.
In the 0.8 case the technology was overrepresented as one full plant.

![image](https://cloud.githubusercontent.com/assets/19907658/16119826/

[2016-06-16 14:21] grdw commented on #840
I see that the Buffers are blanked for this LES. It does have profiles attached or did you do that manually afterwards? Also stating that this issue is old, can this still be reproduced?

[2016-06-16 14:31] grdw commented on #1007
I looked into it again but I can't seem to exactly reproduce this. What does happen is as described when refreshing the page the GOS connector appears at the bottom of the list instead of the top where you might expect it to be.

[2016-06-16 14:33] DorinevanderVlies opened #1095 "BUG: Units and capacity do not multiply correctly in capacity chart"
The default topology contains "customers" both a capacity (17.25) and units (33). These two inputs do not multiply, leading to a capacity of just 17.25 kW.

Images are shown below

### Default topology
![image](https://cloud.githubusercontent.com/assets/19907658/16120156/df0ba728-33de-11e6-8a57-b6c485f69d4b.png)

### Capacity shown in graph
![image](https://cloud.githubusercontent.com/assets/19907

[2016-06-16 14:54] grdw commented on #1066
It's weird. It doesn't actually recalculate from the looks of it. In essence, it doesn't shoot a new DelayedJob in the queue whenever somebody calculates the year in full and than selects a week. Does this by any chance have to with the fix for #1028 ?

[2016-06-16 14:56] antw commented on #1066
[Yup](https://github.com/quintel/etmoses/commit/af9810fbc4b617dcec6f96d4c95f5d58f31e6fdd).

I'm planning on making some changes to caching as soon as our schedules allow, and weekly loads are reasonable fast to calculate, so I think we should leave this for now.

[2016-06-16 14:57] grdw commented on #1095
Related: https://github.com/quintel/etmoses/issues/336

[2016-06-16 14:58] antw commented on #1095
I'm guessing this is a display issue only, because the electricity network builder *does* [multiply the capacity by the number of units](https://github.com/quintel/etmoses/blob/master/app/models/network/builders/electricity.rb#L54).

[2016-06-16 15:14] ChaelKruip commented on #840
If I try to update any LES by using a CSV dump of the technologies, it crashes.

[2016-06-16 15:15] ChaelKruip commented on #1007
This is still very confusing but not a bug as such. Let's open a new issue for this.

[2016-06-16 15:15] #1007 closed

[2016-06-16 15:17] ChaelKruip opened #1096 "When adding new lines to the gas asset table, it should not disappear off screen due to immediate sorting"
As described in https://github.com/quintel/etmoses/issues/1007

I don't know how to deal with this though. Perhaps a new line should not be sorted automatically?

[2016-06-16 15:20] #1045 closed

[2016-06-16 15:39] grdw commented on #840
As in Airbrake 500 internal server error?

Maybe we should revisit the CSV import ...

[2016-06-16 15:42] ChaelKruip commented on #840
👍

[2016-06-16 17:15] Sanne512 commented on #1018
Shoudn't this be 1 [kEUR/MW_h_]

And I'm asking around. When I know more I'll update you.

[2016-06-17 12:21] ChaelKruip commented on #1018
For dispatchable plants it is customary to express the *fixed* O&M costs in EUR/MW. We don't take the variable O&M costs into account currently in ETMoses.

[2016-06-17 13:29] ChaelKruip opened #1097 "Clarify and check O&M costs for dispatchable sources"
There is some confusion about the numbers provided by Alliander:

![screenshot_17_06_16_15_25](https://cloud.githubusercontent.com/assets/1303760/16151961/c5732bda-349f-11e6-926b-99281449c978.png)

* Are the investment costs given in EUR/MW or EUR/MWh? The latter (as it is written in the Excel) does not make sense as the capacity factor the dispatchables is unknown
* Are the yearly O&M costs quote

[2016-06-17 13:30] ChaelKruip opened #1098 "The costs of heat sources and infra need to be updated"
We have numbers now!

[2016-06-20 08:08] DorinevanderVlies commented on #1095
Thanks @antw! @grdw can you fix this?

[2016-06-20 08:34] #764 closed

[2016-06-20 08:36] #1056 closed

[2016-06-20 08:55] dennisschoenmakers opened #1100 "[Airbrake] [Production] undefined method `ancestors' for nil:NilClass"
**Airbrake error:** [#1632](https://quintel.airbrake.io/projects/111227/groups/1712190105598801632)
**Airbrake project:** ETMoses

**Error type:** `NoMethodError`
**Error message:** `` undefined method `ancestors' for nil:NilClass ``
**Where:** `<no information>`
**Occurred at:** Jun 20, 2016 08:55:00 UTC
**First seen at:** Jun 20, 2016 08:55:00 UTC
**Occurrences:** 1 (1 since last deploy on Jun 1

[2016-06-20 08:58] dennisschoenmakers opened #1101 "[Airbrake] [Production] undefined method `ancestors' for nil:NilClass"
**Airbrake error:** [#1211](https://quintel.airbrake.io/projects/111227/groups/1712191684250941211)
**Airbrake project:** ETMoses

**Error type:** `NoMethodError`
**Error message:** `` undefined method `ancestors' for nil:NilClass ``
**Where:** `testing_grounds#data`
**Occurred at:** Jun 20, 2016 08:57:55 UTC
**First seen at:** Jun 20, 2016 08:57:55 UTC
**Occurrences:** 1 (1 since last deploy on J

[2016-06-20 09:01] dennisschoenmakers opened #1102 "[Airbrake] [Production] undefined method `ancestors' for nil:NilClass"
**Airbrake error:** [#7419](https://quintel.airbrake.io/projects/111227/groups/1712193620282947419)
**Airbrake project:** ETMoses

**Error type:** `NoMethodError`
**Error message:** `` undefined method `ancestors' for nil:NilClass ``
**Where:** `gas_asset_lists#load_summary`
**Occurred at:** Jun 20, 2016 09:01:22 UTC
**First seen at:** Jun 20, 2016 09:01:22 UTC
**Occurrences:** 1 (1 since last dep

[2016-06-20 09:01] dennisschoenmakers opened #1103 "[Airbrake] [Production] undefined method `ancestors' for nil:NilClass"
**Airbrake error:** [#0564](https://quintel.airbrake.io/projects/111227/groups/1712193620022900564)
**Airbrake project:** ETMoses

**Error type:** `NoMethodError`
**Error message:** `` undefined method `ancestors' for nil:NilClass ``
**Where:** `gas_asset_lists#gas_load`
**Occurred at:** Jun 20, 2016 09:01:59 UTC
**First seen at:** Jun 20, 2016 09:01:59 UTC
**Occurrences:** 1 (1 since last deploy

[2016-06-20 09:53] ThomBuijs opened #1104 "ETMoses doesn't display the Residential PV panel power"
When running a simple grid with residential PV panels, the power of the PV panels is not shown when displaying the individual components. It only shows the power of the households.

![not displaying residential pv power](https://cloud.githubusercontent.com/assets/20039533/16189410/866699da-36da-11e6-86b0-b92d2ed2ac69.png)
![not displaying residential pv power 2](https://cloud.githubusercontent.com

[2016-06-20 09:58] ChaelKruip commented on #1104
This issue is already described in: https://github.com/quintel/etmoses/issues/1063. Closing this.

[2016-06-20 09:58] #1104 closed

[2016-06-20 11:03] antw commented on #1101
Dup: #1100

[2016-06-20 11:03] #1101 closed

[2016-06-20 11:03] antw commented on #1102
Dup: #1100

[2016-06-20 11:03] #1102 closed

[2016-06-20 11:03] antw commented on #1103
Dup: #1100

[2016-06-20 11:03] #1103 closed

[2016-06-20 11:55] dennisschoenmakers opened #1105 "[Airbrake] [Staging] Curve must not be empty"
**Airbrake error:** [#7796](https://quintel.airbrake.io/projects/111227/groups/1712281128698097796)
**Airbrake project:** ETMoses

**Error type:** `RuntimeError`
**Error message:** `` Curve must not be empty ``
**Where:** `data#load_curves`
**Occurred at:** Jun 20, 2016 11:55:51 UTC
**First seen at:** Jun 20, 2016 11:55:51 UTC
**Occurrences:** 1 (1 since last deploy on Jun 20, 2016 08:38:53 UTC)

[2016-06-20 12:50] grdw commented on #1086
I'm closing this. It looks as though somebody made a typo in the edit screen.
Topology edit form needs to be improved: https://github.com/quintel/etmoses/issues/596

[2016-06-20 12:50] #1086 closed

[2016-06-20 13:10] grdw opened #1107 "Revisiting export page"
<img width="720" alt="screen shot 2016-06-20 at 15 08 37" src="https://cloud.githubusercontent.com/assets/2676542/16195226/e689f0c8-36f8-11e6-9bc3-e0c9337a9aa0.png">

- Export page buttons need to be at the bottom of the page
- Remove the ASCII-arrows
- The list has to align with the text (also make the text non bold) and keep the numbers bold?

[2016-06-20 13:13] grdw opened #1108 "Export is giving an SSL redirect error"
<img width="1440" alt="screen shot 2016-06-20 at 15 11 09" src="https://cloud.githubusercontent.com/assets/2676542/16195366/845fc944-36f9-11e6-9993-72c45b34c4be.png">

It's `beta-pro` instead of `beta.pro`.

[2016-06-20 13:17] grdw commented on #173
I'm asuming this is done. Therefor closing.

[2016-06-20 13:17] #173 closed

[2016-06-20 13:19] grdw commented on #593
@ChaelKruip can this be closed?

[2016-06-20 13:20] grdw commented on #499
I was just looking at these two buttons. Therefor closing this issue.

[2016-06-20 13:20] #499 closed

[2016-06-20 13:22] #700 closed

[2016-06-20 13:28] ChaelKruip opened #1110 "Rescale gas assets to gas connections does not blank/reset the quantities"

[2016-06-20 13:28] ChaelKruip opened #1111 "Compressors should have a unit"
![etmoses](https://cloud.githubusercontent.com/assets/1303760/16195834/ae7849fc-36fb-11e6-8a9a-7d132aac5d82.png)

[2016-06-20 13:35] ChaelKruip opened #1112 "We need a legend for the gas assets"
![etmoses](https://cloud.githubusercontent.com/assets/1303760/16196061/a57b8746-36fc-11e6-9af0-f3bdafc9835c.png)

[2016-06-20 13:36] ChaelKruip commented on #1112
These terms are very specialistic and not explained yet.

[2016-06-20 13:46] ChaelKruip opened #1113 "There should also be a generic must-run option for heat network"
![etmoses](https://cloud.githubusercontent.com/assets/1303760/16196429/2b45d9f2-36fe-11e6-8cd3-bbbdf8e2ca71.png)

[2016-06-20 13:53] dennisschoenmakers opened #1114 "[Airbrake] [Staging] Missing use profile for Heat pump for space heating (air)"
**Airbrake error:** [#3540](https://quintel.airbrake.io/projects/111227/groups/1712340572991633540)
**Airbrake project:** ETMoses

**Error type:** `RuntimeError`
**Error message:** `` Missing use profile for Heat pump for space heating (air) ``
**Where:** `testing_grounds#data`
**Occurred at:** Jun 20, 2016 13:53:44 UTC
**First seen at:** Jun 20, 2016 13:53:44 UTC
**Occurrences:** 1 (1 since last

[2016-06-20 14:12] ChaelKruip commented on #1107
Also, we need add all new technologies that we recently added to ETMoses (hybrid heat pumps for example)

[2016-06-20 14:37] ChaelKruip commented on #1097
The new 'correction' by Machiel has resulted in the following values:
![vragen_van_quintel_-_chael_kruip_quintel_com_-_quintel_intelligence_mail](https://cloud.githubusercontent.com/assets/1303760/16198128/10ae40b4-3705-11e6-9300-e4ec2f702587.png)

I am still confused about the EUR/MW unit for investment costs and O&M costs of must-run (altijd aan) sources. I think that EUR/MWh would be more usefu

[2016-06-20 15:04] antw commented on #1114
Old LES using old-style heat pumps; maybe the time has come to get rid of this and the LegacyBuffer class? However there are about 20 LESes on production using this feature (all from 2015), so we'd have to migrate them to use shared demand profiles/buffers. That's doable, but of course the loads will change on account of using different profiles.

We can't keep what we have for long, because the t

[2016-06-20 15:55] ChaelKruip commented on #1114
Can you post the titles and authors here @antw? We can ask @Sanne512 and @JeroenvdLogt if we need to keep supporting these LESes or not. Removing them would have my preference.

[2016-06-20 16:38] antw commented on #1114
I believe some are private. I'll get a list of IDs, titles, and authors and put them into the Moses Slack channel.

There will be some on beta also, but as beta is for testing *new* features... 😈

[2016-06-21 09:57] antw opened #1116 "Add option to move a technology from one endpoint to another"
Suggested by @DorinevanderVlies

It would be useful for users to be able to move a technology from one endpoint to another. Perhaps hidden in the "Advanced settings" section of a technology so as not to clutter the form too badly.

<img width="519" alt="screen shot 2016-06-21 at 10 52 05" src="https://cloud.githubusercontent.com/assets/4383/16225399/3756bc3e-379e-11e6-8587-71072f8a0242.png">

<img

[2016-06-21 10:43] Sanne512 commented on #1114
When you post the concerned LESses here @JeroenvdLogt and I will let you know if we're still using this.

Can you retrieve these or do you need input from @JeroenvdLogt to locate these?

[2016-06-21 10:46] dennisschoenmakers opened #1117 "[Airbrake] [Production] Curve must not be empty"
**Airbrake error:** [#6415](https://quintel.airbrake.io/projects/111227/groups/1712971192235176415)
**Airbrake project:** ETMoses

**Error type:** `RuntimeError`
**Error message:** `` Curve must not be empty ``
**Where:** `data#price_curve`
**Occurred at:** Jun 21, 2016 10:46:14 UTC
**First seen at:** Jun 21, 2016 10:46:14 UTC
**Occurrences:** 1 (1 since last deploy on Jun 20, 2016 12:46:23 UTC)

[2016-06-21 10:47] dennisschoenmakers opened #1118 "[Airbrake] [Production] Curve must not be empty"
**Airbrake error:** [#4569](https://quintel.airbrake.io/projects/111227/groups/1712971292403544569)
**Airbrake project:** ETMoses

**Error type:** `RuntimeError`
**Error message:** `` Curve must not be empty ``
**Where:** `data#load_curves`
**Occurred at:** Jun 21, 2016 10:46:25 UTC
**First seen at:** Jun 21, 2016 10:46:25 UTC
**Occurrences:** 1 (1 since last deploy on Jun 20, 2016 12:46:23 UTC)

[2016-06-21 10:47] antw commented on #1117
Dup: #1105

[2016-06-21 10:47] antw commented on #1118
Dup: #1105

[2016-06-21 10:57] antw commented on #1114
Thanks @Sanne512. These are the LESes which belong to you and Jeroen:

| LES | Creation Date |
|-----|:-------------:|
| First trial oefencase Goor - units in topology - [LES-336](https://moses.energytransitionmodel.com/testing_grounds/336) | 2015-10-13 10:19:48 UTC |
| First trial oefencase Goor - units in topology - [LES-337](https://moses.energytransitionmodel.com/testing_grounds/337) | 2015-10

[2016-06-21 11:09] Sanne512 commented on #1114
@JeroenvdLogt and I are still using the the last LES in the table:

What do we need to change in this LES so it will be supported again?

[2016-06-21 11:23] ThomBuijs commented on #1063
@Sanne512

[2016-06-21 11:35] grdw commented on #1116
Well, the easy way would be a 4 hours? That's just moving the technology under a separate node and updating the matrix and making buffers move correctly.

What I think that users want to happen here is that when your matrix looks like:

[code]

Move EV-car from Endpoint 2 -> Endpoint 1:

[code]
So should it be possible to merge? Or only merge when the capacities / volumes / demands are not similar

[2016-06-21 11:48] Sanne512 opened #1119 "Slider congestion reserve neighbourhood battery keeps changing back to 20%"
In the following LES [https://moses.energytransitionmodel.com/testing_grounds/471/edit](url) the slider for the congestion reserve of the neighbourhood battery changes back to 20%. I'm not sure when or why this happens exactly, but when I run into it again I will update this issue.

@ChaelKruip who do I need to assign to fix this?

[2016-06-21 11:51] antw commented on #1114
The LES contains the following technologies:

* Heat pump for space heating (air)
* Heat pump for space heating (ground)
* Heat pump for hot water (air)

If we were to remove support for the old-style heat pumps, you would have to remove those, add "Buffer space heating" and "Buffer water heating" technologies, and add new heat pumps.

To save you the effort, I created a copy of your LES with the

[2016-06-21 11:57] antw commented on #1116
That's a good point. Merging techs would be nice, but I guess the attributes would have to be identical.

This also seems like a good suggestion to me, but it might be a bit drastic to move the entire buffer from one node to another (all heat demand would disappear from the source node).

@DorinevanderVlies Do you have any preference for how we would handle moving space heating and hot water techn

[2016-06-21 12:01] Sanne512 commented on #1119
Update: I changed the output capacity and the volume of the Neighbourhood battery at Buurtbatterij (1) , clicked the blue save button and clicked the green save all and view les button. When I viewed the LES the slider had changed back to 20% instead of the 33% I set it to.

[2016-06-21 12:04] dennisschoenmakers opened #1120 "[Airbrake] [Production] key not found: "buffer_space_heating_16""
**Airbrake error:** [#2024](https://quintel.airbrake.io/projects/111227/groups/1713010473251092024)
**Airbrake project:** ETMoses

**Error type:** `KeyError`
**Error message:** `` key not found: "buffer_space_heating_16" ``
**Where:** `testing_grounds#data`
**Occurred at:** Jun 21, 2016 12:04:16 UTC
**First seen at:** Jun 21, 2016 12:04:16 UTC
**Occurrences:** 1 (1 since last deploy on Jun 20, 201

[2016-06-21 12:15] antw commented on #1119
Don't worry too much about that; we can assign to an appropriate person. :smiley:

I can't actually reproduce this myself, but I have noticed that <select> boxes are always showing the default (first) option instead of the real selected value.

[2016-06-21 15:48] antw commented on #1013
It would also be nice to plan a move to Ruby 2.3 so that we can use [`# frozen_string_literal: true`](https://wyeworks.com/blog/2015/12/1/immutable-strings-in-ruby-2-dot-3) instead of having to `String#freeze` everywhere.

[2016-06-21 16:07] #1067 closed

[2016-06-21 16:23] #914 closed

[2016-06-21 16:24] #1108 closed

[2016-06-21 16:47] antw commented on #1013
Or maybe [wait for 2.4](https://bugs.ruby-lang.org/issues/12172). 🎉

[2016-06-22 07:03] ChaelKruip commented on #1063
@ThomBuijs what do you mean by this? Are you including @Sanne512 in the discussion? If so, please state so explicitly. If you would like to (co-)assign @Sanne512 you can do that using the Assignees drop-down menu right of this page.

[2016-06-22 07:07] ThomBuijs commented on #1063
I meant to include her. My apologies for the inconvenience.

[2016-06-22 07:08] ChaelKruip commented on #1063
No problem! 👍

[2016-06-22 07:45] dennisschoenmakers opened #1121 "[Airbrake] [Staging] undefined method `symbolize_keys' for "capacity 20000":String"
**Airbrake error:** [#4889](https://quintel.airbrake.io/projects/111227/groups/1713604855780064889)
**Airbrake project:** ETMoses

**Error type:** `NoMethodError`
**Error message:** `` undefined method `symbolize_keys' for "capacity 20000":String ``
**Where:** `topologies#update`
**Occurred at:** Jun 22, 2016 07:45:48 UTC
**First seen at:** Jun 22, 2016 07:45:48 UTC
**Occurrences:** 1 (1 since las

[2016-06-22 07:53] dennisschoenmakers opened #1122 "[Airbrake] [Staging] comparison of NilClass with String failed"
**Airbrake error:** [#2293](https://quintel.airbrake.io/projects/111227/groups/1713608827307802293)
**Airbrake project:** ETMoses

**Error type:** `ArgumentError`
**Error message:** `` comparison of NilClass with String failed ``
**Where:** `<no information>`
**Occurred at:** Jun 22, 2016 07:53:29 UTC
**First seen at:** Jun 22, 2016 07:53:29 UTC
**Occurrences:** 1 (1 since last deploy on Jun 21, 2

[2016-06-22 09:42] dennisschoenmakers commented on #1039
@grdw and @ChaelKruip can we pick this up? Yesterday, a chart was unreadable. (Yes, I am quoting GOT)

[2016-06-22 09:44] dennisschoenmakers opened #1123 "[Airbrake] [Production] Connection refused - connect(2) for "https" port 443"
**Airbrake error:** [#3039](https://quintel.airbrake.io/projects/111227/groups/1713664611165123039)
**Airbrake project:** ETMoses

**Error type:** `Errno::ECONNREFUSED`
**Error message:** `` Connection refused - connect(2) for "https" port 443 ``
**Where:** `testing_grounds#render_template`
**Occurred at:** Jun 22, 2016 09:44:31 UTC
**First seen at:** Jun 22, 2016 09:44:31 UTC
**Occurrences:** 1 (

[2016-06-22 09:45] dennisschoenmakers opened #1124 "[Airbrake] [Production] Connection refused - connect(2) for "https" port 443"
**Airbrake error:** [#8326](https://quintel.airbrake.io/projects/111227/groups/1713665299517518326)
**Airbrake project:** ETMoses

**Error type:** `Errno::ECONNREFUSED`
**Error message:** `` Connection refused - connect(2) for "https" port 443 ``
**Where:** `testing_grounds#perform_import`
**Occurred at:** Jun 22, 2016 09:45:53 UTC
**First seen at:** Jun 22, 2016 09:45:53 UTC
**Occurrences:** 1 (1

[2016-06-22 09:47] #1123 closed

[2016-06-22 09:51] grdw commented on #1124
I fixed it manually on the server for now. But the `https`-prefix is not supposed to be in the `settings/production.yml` yet. On staging this is fine and eventually on production.

[2016-06-22 09:55] #1124 closed

[2016-06-22 10:00] antw commented on #1039
I prefer #139; scientific notation is ugly. The "modern" ETModel solution to this is [Quantity](https://github.com/quintel/etmodel/blob/d5136eae5183e433e2ba7f4c0881167471ce044b/app/assets/javascripts/lib/models/quantity.coffee), and while it would need some changes (to replace calls to ETModel's `Metric`) it would likely get us 90% of the way there...

[2016-06-22 13:02] jorisberkhout opened #1125 "Micro CHP cannot be added assigned to a buffer and ligths up red"
As noticed in LES 452 on the Live server.

I can add a micro CHP to my LES, but cannot assign a buffer to it. No matter what other attributes of the micro CHP I change, it keeps lighting up red to tell me I am doing something wrong. Can you shine some light on this, @ChaelKruip ?

<img width="1118" alt="screen shot 2016-06-22 at 14 58 54" src="https://cloud.githubusercontent.com/assets/4669028/162

[2016-06-22 13:02] DorinevanderVlies commented on #1116
Merging techs when identical sounds like a good idea

Regarding space heating and hot water technologies. When I move my electricity demand from one node to the other (because my households are not evenly distributed) I would like (a representative portion of) my buffer to move as well.

For now (Ameland project) I will try to get around this by using .csv input for my technology table.

[2016-06-22 13:13] antw commented on #1116
I like the idea of moving technologies, but with the need to merge techs, move buffers and demand, it seems that this could be a rabbit-hole of complexity and special-cases. 😬

Perhaps a better approach would be for us to set a number of units on the endpoints, and assign technologies in proportion *when importing from ETModel*. That is, if you have two endpoints and one has `units: 2` and the oth

[2016-06-22 13:18] grdw commented on #1116
Yes, that would be better. Couldn't we also allow for the whitelisting of certain technologies? Let's say endpoint-1 can only have Solar Panels or something along those lines.

[2016-06-22 13:39] dennisschoenmakers opened #1126 "Business case table overview does not format well"
As witnessed with @ChaelKruip

[2016-06-22 14:17] DorinevanderVlies commented on #1116
The idea to influence the way the technologies are distributed after importing from ETM would be a great improvement as well.
This could be complementary or instead of shuffling technologies around.

I agree that whitelisting  certain technologies would be nice.

Yes, if the combination of the above is implemented I think it will be easier to make the initial scenario represent a real situation

[2016-06-22 14:56] Sanne512 commented on #1119
Ok, this keeps happening everytime I work with the neighbourhood battery. As a work-around I save and load the LES one time to ensure the new numbers for capacity and volume are being changed. Then I reopen "edit the LES" to adjust the slider to 33% congestion again. This works, but it takes a lot of time to save and load the LES two times every time I change something.

[2016-06-22 14:57] Sanne512 commented on #984
What's the status?

[2016-06-23 07:17] Sanne512 opened #1127 "Will not download electricity storage curve"
In the following LES https://moses.energytransitionmodel.com/testing_grounds/471 when I try to download the electricity storage curve at the node Buurtbatterij I get an error:
![bug electricity storage curve](https://cloud.githubusercontent.com/assets/17741822/16294755/db0cba06-3922-11e6-8be5-960c2fb8168a.PNG)

The steps I took:

1. Opening the LES
2. Clicking the node Buurtbatterij
3. Switching t

[2016-06-23 07:26] ChaelKruip commented on #1125
Micro CHPs are not supported yet and should not be available in the menu. Assigning @antw

[2016-06-23 07:31] ThomBuijs opened #1128 "Why can I not log in into my ET Moses account?"
I tried with two different accounts to log in today using Chrome and Explorer but it seems I am unable to log in. Why is this the case?

Kind regards,

Thom

[2016-06-23 07:32] ChaelKruip commented on #1126
Example from [LES 482](https://moses.energytransitionmodel.com/testing_grounds/482/edit):
![etmoses](https://cloud.githubusercontent.com/assets/1303760/16295169/7091cc7c-3925-11e6-9b82-13fad59effd8.png)

[2016-06-23 07:43] dennisschoenmakers opened #1129 "Banner on beta should tell users different warning"
Banner was introduced with 9bed4fc0406431dc220644b9fbecba1e25347706. Currently, the message reads:

I suggest the message should warn users when they are using the *beta* server. And keep the message above for when we are in a deploy, right @ChaelKruip ?

[2016-06-23 07:45] ChaelKruip commented on #1129
👍

[2016-06-23 07:45] ThomBuijs commented on #1128
It is also impossible for me to assign someone and to use labels.

[2016-06-23 07:48] ThomBuijs commented on #1128
Okay Sanne solved my problem with not loggin in on ET Moses. I was on the Beta version.

[2016-06-23 07:48] dennisschoenmakers commented on #1128
Hi Thom, thank you for your message. Considering the privacy of your account, could you send us an email to support@quintel.com?

[2016-06-23 07:48] dennisschoenmakers commented on #1128
Thank you for the update!

[2016-06-23 07:52] #1128 closed

[2016-06-23 07:56] ChaelKruip commented on #984
This feature has not been assigned to a sprint yet. Perhaps we can discuss the possibilities to do this offline @Sanne512? Also, what is the relative priority of this?

Moreover, there are some more conceptual questions that we have to answer first:
* How are we going to associate a technology/customer with a higher level of the gas network? Currently, as connection to the gas network is always as

[2016-06-23 09:44] Sanne512 opened #1130 "Same input different outcome"
I have created a LES with five different scenarios: https://moses.energytransitionmodel.com/testing_grounds/471 and recreated each scenario in a single LES. When I compare the electricity load graph at the MSR of the fourth scenario: the strand MSR 4 in the LES buurtbatterij - overzicht with the electricity load graph in the LES buurtbatterij - buurtbatterij  https://moses.energytransitionmodel.co

[2016-06-23 09:47] ChaelKruip commented on #1130
Assigning @antw.

[2016-06-23 10:04] dennisschoenmakers opened #1131 "[Airbrake] [Production] Connection refused - connect(2) for "https" port 443"
**Airbrake error:** [#8292](https://quintel.airbrake.io/projects/111227/groups/1714399399983428292)
**Airbrake project:** ETMoses

**Error type:** `Errno::ECONNREFUSED`
**Error message:** `` Connection refused - connect(2) for "https" port 443 ``
**Where:** `<no information>`
**Occurred at:** Jun 23, 2016 10:03:46 UTC
**First seen at:** Jun 23, 2016 10:03:46 UTC
**Occurrences:** 1 (1 since last de

[2016-06-23 11:11] dennisschoenmakers opened #1132 "Freeform is not working anymore?"
I entered `10.000` in https://beta-moses.energytransitionmodel.com/testing_grounds/525/edit in business case:

![image](https://cloud.githubusercontent.com/assets/104830/16295753/da44d85a-3928-11e6-8dc5-89ebdaf627c5.png)

Then it hangs and keeps saying 'loading' forever:

![image](https://cloud.githubusercontent.com/assets/104830/16295772/fd202da2-3928-11e6-860c-f20c4f8887c4.png)

If I refresh, th

[2016-06-23 11:57] Sanne512 commented on #1119
@JeroenvdLogt and I discovered that the same thing happens to the profiles you change for the different technologies and profiles you add. When I change the profile of the space heating to tussenwoning_midden it keeps changing back to appartement_hoog (in the same LES) and for residential PV panel the profile keeps changing back from solar_pv_amsterdam to solar_pv_amsterdam. Jeroen has the same pr

[2016-06-23 12:57] DorinevanderVlies opened #1133 "Beta server does currently not assign hybrid heatpumps when present in ETM scenario."
**Summary**
When creating a LES on the beta server that contains other technologies for space heating than just combi heating the other technologies are not represented in the technology profile.
The number of units for combi heating is decreased proportionally, but the remaining part of the heating demand is not represented in the technology profile.

On the live server hybrid technologies are as

[2016-06-23 13:06] antw commented on #1119
I know this isn't very helpful, but I'm fairly sure the congestion percentage and profile settings *are* being saved. It's just that when you visit the "Edit LES" page it's showing you the *default* options instead of what is really selected. I'm looking into it now.

[2016-06-23 13:48] Sanne512 commented on #1119
Not all the time. I tried to reproduce it myself in the LES I mentioned in the first post (buurtbatterij - overzicht) and couldn't do so. The slider was showing the default setting, but it calculated with the 33% I changed it to.

However I reproduced the error it in the following LES: https://moses.energytransitionmodel.com/testing_grounds/476 by taking these steps:

1. Opened the LES and saw in

[2016-06-23 14:05] JeroenvdLogt commented on #1119
It indeed looks like the settings are saved but not displayed correctly in the technology table (at least for the profiles, I don't know for the neighborhood battery). Strange thing is that it is correcly displayed in the overall dashboard.

https://moses.energytransitionmodel.com/testing_grounds/490 - eerste trial route kaar hof van twente → MV customer Amt Delden

![bug wijziging profielen1](htt

[2016-06-23 14:28] antw commented on #1120
Just to be clear about this one...

This is not an error in the calculator. A heating technology is reporting that it belongs to `buffer_space_heating_16`, and no such buffer exists. I suspect something in the technology form is to blame.

[code]

[2016-06-23 14:47] Sanne512 commented on #984
Summary of @ChaelKruip and my phone call:

We both like this: adding customer connections (the HAS and AS) at higher pressure levels is a feature for PRO users. Thus the default remains connecting the customers to 0.125 bar pressure level. But a new attribute in the topology YAMLs could make it possible to connect the endpoint to a higher pressure level.

By using the demand side approach it makes

[2016-06-23 14:57] DorinevanderVlies commented on #1116
cc @dennisschoenmakers and @ChaelKruip

[2016-06-23 15:11] antw commented on #1119
I have fixed the technology profile drop-down showing the wrong option.

However, I can't reproduce any situation in which the congestion battery percentage is incorrect. I set it to 20% and the value was correctly saved (and refreshing the "Edit LES" page showed the correct value). I set it to 80% and, likewise, the value was saved and the slider showed the correct value.

Changing the congestion

[2016-06-24 11:58] ChaelKruip opened #1134 "Secondary heat infra table needs some TLC"
* The new lines should have a '0.0' share of the connections
* The default stakeholder should be the system operator (same goes for primary heat infra)
<img width="1176" alt="etmoses" src="https://cloud.githubusercontent.com/assets/1303760/16337180/a0cc59ae-3a13-11e6-9b78-87b45fb1730b.png">

[2016-06-24 12:55] DorinevanderVlies opened #1135 "Buildings gas, the heat portion of buildings electrical and PV on buildings should be transferred from ETModel to ETMoses"
When exporting my ETModel Ameland scenario to ETMoses several parts of my demand are not transferred.

As far as I can see now the heating portion of "buildings electrical" and the whole of "Buildings gas" is not transferred to ETMoses. The same goes for the part of PV that is placed on top of buildings. The image below is a screenshot of a table which summarises my findings.

![image](https://clo

[2016-06-24 13:32] grdw commented on #1120
I think so to... my best guess would be that there's something going haywire when hitting the concurrency buttons too many times. However, it could also be a bit harder like adding 20 buffers and than adding one again, than switching concurrency? I need to look into this though.

[2016-06-24 14:22] dennisschoenmakers opened #1136 "[Airbrake] [Production] undefined method `+' for nil:NilClass"
**Airbrake error:** [#3901](https://quintel.airbrake.io/projects/111227/groups/1715254088241233901)
**Airbrake project:** ETMoses

**Error type:** `NoMethodError`
**Error message:** `` undefined method `+' for nil:NilClass ``
**Where:** `testing_grounds#edit`
**Occurred at:** Jun 24, 2016 14:22:33 UTC
**First seen at:** Jun 24, 2016 14:21:49 UTC
**Occurrences:** 1 (1 since last deploy on Jun 23, 2

[2016-06-24 15:15] dennisschoenmakers opened #1137 "[Airbrake] [Staging] undefined method `stored=' for #<Network::Technologies::ElectricVehicle:0x007f4de0ac50c8>"
**Airbrake error:** [#2668](https://quintel.airbrake.io/projects/111227/groups/1715280666555822668)
**Airbrake project:** ETMoses

**Error type:** `NoMethodError`
**Error message:** `` undefined method `stored=' for #<Network::Technologies::ElectricVehicle:0x007f4de0ac50c8> ``
**Where:** `testing_grounds#data`
**Occurred at:** Jun 24, 2016 15:15:21 UTC
**First seen at:** Jun 24, 2016 15:15:21 UTC

[2016-06-27 06:17] dennisschoenmakers opened #1138 "[Airbrake] [Production] undefined method `*' for nil:NilClass"
**Airbrake error:** [#6663](https://quintel.airbrake.io/projects/111227/groups/1717184500727266663)
**Airbrake project:** ETMoses

**Error type:** `NoMethodError`
**Error message:** `` undefined method `*' for nil:NilClass ``
**Where:** `testing_grounds#data`
**Occurred at:** Jun 27, 2016 06:17:39 UTC
**First seen at:** Jun 27, 2016 06:17:39 UTC
**Occurrences:** 1 (1 since last deploy on Jun 23, 2

[2016-06-27 07:08] dennisschoenmakers opened #1139 "[Airbrake] [Staging] undefined method `stored=' for #<Network::Technologies::ElectricVehicle:0x007f4de0ac4470>"
**Airbrake error:** [#7573](https://quintel.airbrake.io/projects/111227/groups/1717210084530437573)
**Airbrake project:** ETMoses

**Error type:** `NoMethodError`
**Error message:** `` undefined method `stored=' for #<Network::Technologies::ElectricVehicle:0x007f4de0ac4470> ``
**Where:** `gas_asset_lists#gas_load`
**Occurred at:** Jun 27, 2016 07:07:58 UTC
**First seen at:** Jun 27, 2016 07:07:58

[2016-06-27 07:08] dennisschoenmakers opened #1140 "[Airbrake] [Staging] undefined method `stored=' for #<Network::Technologies::ElectricVehicle:0x007f4de0adc8e0>"
**Airbrake error:** [#6029](https://quintel.airbrake.io/projects/111227/groups/1717210084178116029)
**Airbrake project:** ETMoses

**Error type:** `NoMethodError`
**Error message:** `` undefined method `stored=' for #<Network::Technologies::ElectricVehicle:0x007f4de0adc8e0> ``
**Where:** `gas_asset_lists#load_summary`
**Occurred at:** Jun 27, 2016 07:08:44 UTC
**First seen at:** Jun 27, 2016 07:08

[2016-06-27 07:08] dennisschoenmakers opened #1141 "[Airbrake] [Staging] undefined method `stored=' for #<Network::Technologies::ElectricVehicle:0x007f501ac5fe88>"
**Airbrake error:** [#5876](https://quintel.airbrake.io/projects/111227/groups/1717210153602235876)
**Airbrake project:** ETMoses

**Error type:** `NoMethodError`
**Error message:** `` undefined method `stored=' for #<Network::Technologies::ElectricVehicle:0x007f501ac5fe88> ``
**Where:** `<no information>`
**Occurred at:** Jun 27, 2016 07:08:37 UTC
**First seen at:** Jun 27, 2016 07:08:37 UTC
**Oc

[2016-06-27 07:18] dennisschoenmakers opened #1142 "[Airbrake] [Staging] undefined method `each' for nil:NilClass"
**Airbrake error:** [#2650](https://quintel.airbrake.io/projects/111227/groups/1717215259403992650)
**Airbrake project:** ETMoses

**Error type:** `NoMethodError`
**Error message:** `` undefined method `each' for nil:NilClass ``
**Where:** `testing_grounds#update`
**Occurred at:** Jun 27, 2016 07:19:02 UTC
**First seen at:** Jun 27, 2016 07:19:02 UTC
**Occurrences:** 1 (1 since last deploy on Jun

[2016-06-27 07:39] DorinevanderVlies opened #1143 "ETMoses notes (Dorine van der Vlies)"
_This ticket serves as a note for myself.
Some of the points might evolve into tickets, others might disappear as I move on.
Just so I don't forget them._
### Documentation
- Right now it is not clear to me which base load I should choose to represent my situation best. A short description (couple of words) in the Wiki that describe the properties of the load would be helpful.
- Change "degrees"

[2016-06-27 08:07] antw commented on #1139
Dup: #1137

[2016-06-27 08:07] #1139 closed

[2016-06-27 08:07] antw commented on #1140
Dup: #1137

[2016-06-27 08:07] #1140 closed

[2016-06-27 08:07] antw commented on #1141
Dup: #1137

[2016-06-27 08:07] #1141 closed

[2016-06-27 08:35] dennisschoenmakers opened #1144 "[Airbrake] [Staging] key not found: "buffer_water_heating_1""
**Airbrake error:** [#9645](https://quintel.airbrake.io/projects/111227/groups/1717253882190999645)
**Airbrake project:** ETMoses

**Error type:** `KeyError`
**Error message:** `key not found: "buffer_water_heating_1"`
**Where:** `testing_grounds#data`
**Occurred at:** Jun 27, 2016 08:35:30 UTC
**First seen at:** Jun 27, 2016 08:35:30 UTC
**Occurrences:** 1 (1 since last deploy on Jun 24, 2016 13:

[2016-06-27 09:35] DorinevanderVlies opened #1145 "switching concurrency leads to errors"
In a working LES [(#549)](https://beta-moses.energytransitionmodel.com/testing_grounds/549/) I switched concurrency of buildings and households to minimal.
This resulted in a LES that can not be calculated. Screenshot is shown below.

Switching back to max buildings concurrency does not reset the initial technology profile, but also  results in a LES that can not be calculated.

The same applies w

[2016-06-27 10:38] antw commented on #1137
I believe this is likely due to an incorrect technology profile CSV being imported. An EV was assigned to a heating buffer, which wouldn't be possible using the normal technology form. I'll close this since I think it falls under the wider category of improving data validation.

[2016-06-27 10:38] #1137 closed

[2016-06-27 13:06] JeroenvdLogt opened #1146 "Problems with uploading technology table"
I tried to upload an csv technology table after I added to nodes but didn't change the old ones. The old technology file was downloaded and uploaded in the new one without any editing. Did didn't work.

After calling with Joris I added the nodes manually in the technology file. Uploading the file in te existing  LES didn't work but uploading in a new LES did. In the new LES I am able to do everyth

[2016-06-27 13:06] jorisberkhout commented on #1146
Assigning @grdw to look into this with priority.

[2016-06-27 13:07] antw commented on #1146
I have already fixed this on master / beta. I'll deploy the fix to production.

[2016-06-27 13:21] jorisberkhout commented on #1146
Thanks @antw! I opened Jeroens LES (#500), but am still not able to edit it. Would you have time to look into this?

[2016-06-27 13:27] antw commented on #1146
Will do.

[2016-06-27 13:48] ChaelKruip commented on #1145
For many technologies, the number of units is zero in this LES. I can imagine that the concurrency calculation has trouble dealing with this. Perhaps you could try to remove all of those technologies from the LES and try again? I have confirmed that in a simpler LES the concurrency settings work as expected and result in valid output.

[2016-06-27 14:20] jorisberkhout commented on #1146
This is fixed manually by @antw . Closing this issue.

[2016-06-27 14:20] #1146 closed

[2016-06-27 14:37] JeroenvdLogt commented on #1146
It works on my computer too. Thank you guys.

[2016-06-27 14:46] dennisschoenmakers opened #1147 "[Airbrake] [Production] No such file or directory @ rb_sysopen - /var/www/etmoses/releases/20160610160327/public/system/load_profile_components/curves/000/000/240/energy_power_wind_turbine_inland.original.csv"
**Airbrake error:** [#8465](https://quintel.airbrake.io/projects/111227/groups/1717440641621278465)
**Airbrake project:** ETMoses

**Error type:** `Errno::ENOENT`
**Error message:** `` No such file or directory @ rb_sysopen - /var/www/etmoses/releases/20160610160327/public/system/load_profile_components/curves/000/000/240/energy_power_wind_turbine_inland.original.csv ``
**Where:** `<no information

[2016-06-28 07:31] DorinevanderVlies commented on #1145
Sounds plausible. But I don't think that is the problem.

I have tried again on [LES 553](https://beta-moses.energytransitionmodel.com/testing_grounds/553).
This LES does not contain any technologies with number of units 0.

For any change in concurrency I end up with a LES that cannot be calculated.

**Example**
I set all the PV units to 1. When I change the concurrency of PV to min. Several othe

[2016-06-28 10:08] DorinevanderVlies opened #1148 "stacked and individual curve does not include residential PV panel"
### Problem
Residential PV is shown in the _total electricity_ curve, but not in the _stacked_ and _individual_ curve.

### Example
This is shown clearly in a node where just residential PV is present: the _PV plant_ node of scenario
[554](https://beta-moses.energytransitionmodel.com/testing_grounds/554).

**Total electricity**
![image](https://cloud.githubusercontent.com/assets/19907658/16411714/

[2016-06-28 10:11] antw commented on #1148
This is reported in #1063 so I'll close this. It had been my intention to look at solving it last week, but other things came up. However, it remains high on the priority list.

[2016-06-28 10:11] #1148 closed

[2016-06-28 13:44] ChaelKruip commented on #1145
I can confirm that his happens. Weird that the PV concurrency slider has impact on the other technologies. @antw can you look into this?

[2016-06-28 14:48] DorinevanderVlies opened #1149 "Interface to view load profile has non-working buttons"
**Problem**
The interface to view the base load profiles is not working properly.
Two charts (flex and inflex) are shown with two buttons to specify the time interval. Both buttons influence to bottom chart.
Whether the buttons both affect the top or bottom chart, or work properly, varies for the different profiles

**Examples**
[E1A](https://beta-moses.energytransitionmodel.com/load_profiles/240)

[2016-06-28 14:59] ChaelKruip commented on #1149
Duplicate of https://github.com/quintel/etmoses/issues/326. Closing.

[2016-06-28 14:59] #1149 closed

[2016-06-28 15:25] grdw opened #1150 "Base load EDSN is currently missing from permitted technologies select in load profile form"
As spotted while helping @DorinevanderVlies the `base_load_edsn` or "Aggregated households" is currently missing from the technologies dropdown on beta.

I manually edited her Ameland `load_profile` so it would accept `base_load_edsn` technologies.

[2016-06-28 15:54] ChaelKruip commented on #1150
I am confused. When you assign more than 30 units to the households-technology, the profiles should change to 'aggregated' ones automatically right @grdw? Are the EDSN profiles not selectable for such > 30 unit technologies?

[2016-06-29 09:52] ChaelKruip commented on #840
Assigning @antw

[2016-06-29 09:54] antw commented on #840
I fixed that a couple of days ago in 5eb7e893 and 9715ea85.

[2016-06-29 09:59] ChaelKruip commented on #1133
@antw can you look into this?

[2016-06-29 10:05] ChaelKruip opened #1151 "OVERVIEW TICKET: Sprint 5"
## Background

This ticket serves as an overview of all improvements that we would like to pick up in Sprint 5. After gathering, prioritising, estimating man-days and discussing the list of issues, this ticket can be used as the 'project backlog' for the next sprint.

The higher in the list, the higher the priority of the issue.

## List of issues/improvements

- Better support for buildings: http

[2016-06-29 10:14] antw commented on #840
Profiles do seem to be imported correctly from the CSV; I'll close this.

[2016-06-29 10:14] #840 closed

[2016-06-29 10:19] antw commented on #1150
Yes, and it does appear to work correctly:

| 30 households | 31 households |
| --- | --- |
| <img width="413" alt="screen shot 2016-06-29 at 12 18 29" src="https://cloud.githubusercontent.com/assets/4383/16448799/a0839488-3df3-11e6-9b3f-7657c95c0f23.png"> | <img width="411" alt="screen shot 2016-06-29 at 12 18 35" src="https://cloud.githubusercontent.com/assets/4383/16448805/a50c045e-3df3-11e6-86

[2016-06-29 11:03] Sanne512 commented on #1127
The same happens in this LES:

https://moses.energytransitionmodel.com/testing_grounds/476

I was wondering what the status is? Because I need this option for a report that's due next week. If it's not possible to fix this before then, I would also like to know, because if that's the case I need to figure out something else for the report.

[2016-06-29 11:11] grdw commented on #1150
I'm sorry for specifying this problem this vaguely. But I'm talking about the technologies select boxes at the load profiles form:

<img width="624" alt="screen shot 2016-06-29 at 13 11 05" src="https://cloud.githubusercontent.com/assets/2676542/16450015/f88a5ae8-3dfa-11e6-83ea-d5f4d197a452.png">

[2016-06-29 11:17] ChaelKruip commented on #1127
@antw can you give us an indication of how much time this would take to fix?

[2016-06-29 11:40] antw commented on #1127
I have fixed the neighbourhood battery not appearing in the CSV.

We have to compute the network from scratch to create the storage CSV since the cached copy doesn't contain enough information. This is why it sometimes takes a long time for the file to download, and sometimes results the error shown above.

@Sanne512 If you are still unable to download the CSV files, please let me know which ones

[2016-06-29 12:14] Sanne512 commented on #1127
I was able to download the ones I need. Thanks!

[2016-06-29 12:47] #1127 closed

[2016-06-29 12:58] #1150 closed

[2016-06-29 13:49] #1133 closed

[2016-06-29 14:00] antw commented on #1130
I looked into this at the time the issue was created, and I think the two scenarios were not identical. The neighbourhood battery in one of the LESes had a COP assigned (COP is not supported on the battery) among other differences. Today, the two give identical results:

| Showcase buurtbatterij - overzicht | Showcase buurtbatterij - buurtbatterij |
| --- | --- |
| <img width="578" alt="screen sho

[2016-06-29 14:00] #1130 closed

[2016-06-29 14:12] #1129 closed

[2016-06-29 15:01] ChaelKruip commented on #1116
I like the following idea (courtesy of @antw): When the user creates a new LES, the current 'technology matrix interface' is not shown but the user will be looking at something like this:
![20141209_topology_interface_v1_key](https://cloud.githubusercontent.com/assets/1303760/16457091/8e0af25c-3e1a-11e6-92c4-e6d84953c661.png)
Here, the user can move technologies from one end-point to another and c

[2016-06-29 15:02] antw commented on #1125
Can't reproduce this myself. The micro CHP does not appear in the menu:

<img width="399" alt="screen shot 2016-06-29 at 17 01 48" src="https://cloud.githubusercontent.com/assets/4383/16457281/324c80ba-3e1b-11e6-909e-59029373a0d4.png">

[2016-06-29 15:02] Sanne512 commented on #1119
I don't understand this: because I think it does the change the behaviour of the battery in times of network congestion. If you have a really big battery and more storage volume of the battery is available for congestion (slider set to a lower percentage), more kWh can be stored in the battery which would otherwise have caused overcapacity. Could you explain to me what goes wrong in my reasoning?

[2016-06-29 15:09] #1136 closed

[2016-06-29 15:12] #1131 closed

[2016-06-29 15:12] jorisberkhout commented on #1125
I see these technologies in a somewhat older LES (#452) on the LIVE server.

<img width="1158" alt="screen shot 2016-06-29 at 17 09 05" src="https://cloud.githubusercontent.com/assets/4669028/16457666/930e4d56-3e1c-11e6-85d0-2d1a7f45d320.png">

[2016-06-29 15:15] #1121 closed

[2016-06-29 15:33] #1098 closed

[2016-06-29 15:35] #1082 closed

[2016-06-29 15:35] #1080 closed

[2016-06-30 07:31] antw commented on #1119
That's a fair point; you're completely right. This does actually happen in your LES on 22nd April:

| 30% Reserved | 70% Reserved |
| --- | --- |
| <img width="560" alt="screen shot 2016-06-30 at 09 21 10" src="https://cloud.githubusercontent.com/assets/4383/16480039/4be0caf2-3ea4-11e6-915c-acbbd2ef89c4.png"> | <img width="575" alt="screen shot 2016-06-30 at 09 20 30" src="https://cloud.githubuser

[2016-06-30 09:43] Sanne512 commented on #1119
Ah great! Then i understood it correctly. I'll close this issue for now, since i wasn't able to reproduce this error either. If i encounter it again i'll reopen this issue.

[2016-06-30 09:43] #1119 closed

[2016-06-30 10:00] antw commented on #1125
My bad, I wasn't paying attention. 😞

[2016-06-30 11:59] ChaelKruip commented on #1112
@MarjoleinSchwachofer could you provide an explanation text for these technical terms? We could add that to the documentation and provide the user with a link.

[2016-06-30 12:15] ChaelKruip opened #1152 "OVERVIEW TICKET: Caching improvement"
Part of this overhaul:

- https://github.com/quintel/etmoses/issues/1066

[2016-06-30 12:17] ChaelKruip commented on #1058
Can this be closed @grdw?

[2016-06-30 12:21] #1049 closed

[2016-06-30 12:22] ChaelKruip commented on #1036
Closing this.

[2016-06-30 12:22] #1036 closed

[2016-06-30 12:25] antw commented on #1030
This is still an issue. Might need to be updated to include a heat curve also:

<img width="325" alt="screen shot 2016-06-30 at 14 25 08" src="https://cloud.githubusercontent.com/assets/4383/16488011/85ad38a4-3ece-11e6-9dfd-d397b8557d07.png">

[2016-06-30 12:26] #1024 closed

[2016-06-30 12:27] #1016 closed

[2016-06-30 12:28] antw commented on #999
Closing in favour of #1120.

[2016-06-30 12:29] #991 closed

[2016-06-30 12:31] #995 closed

[2016-06-30 12:33] #971 closed

[2016-06-30 12:34] ChaelKruip commented on #969
@jorisberkhout what is the status of this?

[2016-06-30 12:34] #966 closed

[2016-06-30 12:34] #963 closed

[2016-06-30 12:34] #962 closed

[2016-06-30 12:35] #961 closed

[2016-06-30 12:36] #960 closed

[2016-06-30 12:36] #959 closed

[2016-06-30 12:36] #957 closed

[2016-06-30 12:37] #956 closed

[2016-06-30 12:37] #955 closed

[2016-06-30 12:40] ChaelKruip commented on #936
@grdw what is the status of this?

[2016-06-30 12:45] #912 closed

[2016-06-30 12:46] #886 closed

[2016-06-30 12:46] #870 closed

[2016-06-30 12:49] #849 closed

[2016-06-30 12:49] #747 closed

[2016-06-30 12:51] #807 closed

[2016-06-30 12:53] ChaelKruip commented on #785
This has been resolved right @jorisberkhout?

[2016-06-30 13:00] antw commented on #775
This has been fixed. The high-capacity profiles are no longer automatically selected when changing concurrency.

[2016-06-30 13:00] #775 closed

[2016-06-30 13:04] #645 closed

[2016-06-30 13:11] #726 closed

[2016-06-30 13:11] #671 closed

[2016-06-30 13:13] #652 closed

[2016-06-30 13:16] #640 closed

[2016-06-30 13:21] ChaelKruip commented on #597
Only the effects of updated slider-settings affect the scaled back ETM scenario.

[2016-06-30 13:21] #597 closed

[2016-06-30 13:22] #636 closed

[2016-06-30 13:24] ChaelKruip commented on #574
@jorisberkhout  can you give this a push in the right direction?

[2016-06-30 13:25] #536 closed

[2016-06-30 13:27] #505 closed

[2016-06-30 13:28] #362 closed

[2016-06-30 13:31] #279 closed

[2016-06-30 13:31] #243 closed

[2016-06-30 13:32] #239 closed

[2016-06-30 13:32] #237 closed

[2016-06-30 13:33] ChaelKruip commented on #235
We now assign different types of customer to the end-points. Closing this.

[2016-06-30 13:33] #235 closed

[2016-06-30 13:33] #211 closed

[2016-06-30 13:34] #209 closed

[2016-06-30 13:36] #139 closed

[2016-06-30 13:36] #87 closed

[2016-06-30 13:37] #64 closed

[2016-06-30 13:38] #65 closed

[2016-06-30 13:38] #62 closed

[2016-06-30 13:38] #61 closed

[2016-06-30 13:38] #59 closed

[2016-06-30 13:39] #53 closed

[2016-07-01 09:48] DorinevanderVlies opened #1153 "Different outcome when same load is assigned to different node"
### Problem
I have four scenario's.
All of them have the same technologies and same total amount of capacity/units. The only thing that varies is how the capacities/units are divided among the nodes.
The problem is that the outcome of the scenario's is different.

### Question
Is this something I can fix (by defining my technology profile differently?) or is it a bug?

###  The four LES's
Straight

[2016-07-01 10:11] ChaelKruip commented on #1153
I have a sneaking suspicion that the observed differences are due to one of two things:

* the aggregation of household base-load profiles. As described in [this part of the documentation](https://github.com/quintel/etmoses/wiki/Base-loads), groups of houses larger than 30 households only use aggregated (EDSN) profiles. 562 and 563 seem to use EDSN profiles (just from looking at the images) while

[2016-07-01 11:38] Sanne512 commented on #1097
Update: Machiel is on holiday untill 10th of July. I forwarded the question to him, but getting the answer will take a while.

[2016-07-01 11:45] Sanne512 commented on #1151
When checking my GitHub issues I also discovered this one: https://github.com/quintel/etmoses/issues/902 . Is this still relevant @ChaelKruip ?

[2016-07-01 11:55] Sanne512 commented on #862
I was wondering when the heat networks will be working on the Beta server? Because I can adjust the settings (jeeeeej), but I can't view the heat load.

[2016-07-01 15:44] ChaelKruip commented on #1151
👍 Added to the list!

[2016-07-04 06:47] ChaelKruip commented on #1112
Assigning @MarjoleinSchwachofer

[2016-07-04 06:51] ChaelKruip opened #1154 "Documentation needed for heat assets"
The primary and secondary infrastructure for heat networks should be explained:
* Where do the numbers come from?
* What is the difference between the two etc.

This can be done in the documentation wiki first. Later we can link to the documentation from the interface.

Assigning @MarjoleinSchwachofer

[2016-07-04 07:33] Sanne512 commented on #1112
![image](https://cloud.githubusercontent.com/assets/17741822/16553329/4e6b203e-41c8-11e6-945a-4610c7bbff3a.png)
Not in the same order, I grouped similar terms:

- pe_lp: a gas pipe at 100 mbar made out of PE
- pvc_lp: a gas pipe at 100 mbar made out of PVC
- steel_lp: a gas pipe at 100 mbar made out of steel
These three are the most common used materials at the 100 mbar level.

- pe_hp: a gas pipe

[2016-07-04 07:43] ChaelKruip commented on #1094
Thinking about this a bit better, I've realised that this is a feature instead of a bug :)

If we would use floats, the number of units of technologies cannot be represented in the technology matrix. Perhaps in the future we can improve this (by installing a certain capacity instead of a number of units). Closing for now.

[2016-07-04 07:43] #1094 closed

[2016-07-04 08:00] #834 closed

[2016-07-04 09:06] #1111 closed

[2016-07-04 10:30] MarjoleinSchwachofer commented on #1154
I do not know the details of heat. The difference between primary and secondary infrastructure is explained elswhere:
https://github.com/quintel/etmoses/issues/962
and heat overall:
https://github.com/quintel/etmoses/issues/862
@jorisberkhout , @ChaelKruip:  Is this enough or do you have questions for a heat expert?

I will check the source details for the numbers with Sanne @Sanne512 .

[2016-07-04 11:15] dennisschoenmakers opened #1156 "[Airbrake] [Staging] Curve must not be empty"
**Airbrake error:** [#4377](https://quintel.airbrake.io/projects/111227/groups/1722407662750514377)
**Airbrake project:** ETMoses

**Error type:** `RuntimeError`
**Error message:** `` Curve must not be empty ``
**Where:** `data#price_curve`
**Occurred at:** Jul 04, 2016 11:15:17 UTC
**First seen at:** Jul 04, 2016 11:15:17 UTC
**Occurrences:** 1 (1 since last deploy on Jul 04, 2016 09:08:38 UTC)

[2016-07-04 11:18] antw commented on #1156
Happened when trying to download the merit price curve for [beta LES-566](https://beta-moses.energytransitionmodel.com/testing_grounds/566).

[2016-07-04 11:25] ChaelKruip commented on #1154
Thanks @MarjoleinSchwachofer!

[2016-07-04 11:27] DorinevanderVlies commented on #1153
I figured out that in this case the problem occurs when I add the electric heaters.
I put two technology profile CSV files in a gist. One with all load and one without the electric heating.

[Gist with technology profiles](https://gist.github.com/DorinevanderVlies/e82365f4a8b0e8566a63a4a76ea517fb)

@dennisschoenmakers FYI

[2016-07-04 11:36] ChaelKruip opened #1157 "When uploading a CSV file, it would be nice if you could click an 'import' button"
Now you have to 'save' the LES and are automatically taken to the load overview. An 'import' button would give the user the opportunity to review the effect of the CSV-import.

[2016-07-04 11:37] ChaelKruip opened #1158 "Buffering/boosting should be shown when importing from CSV"
The values are set by the import action but not shown in the front-end.

[2016-07-04 11:39] #1030 closed

[2016-07-04 11:45] DorinevanderVlies opened #1159 "When is the electrical boost of the hybrid heat pump activated?"
### Situation

Say I have 100 households, 90 of which have space heater combined network gas, 10 have hybrid heat pump space heating. In my technology profile I assign:

- 90 units Households space heater combined network gas, buffering
- 10 units Hybrid heat pump space heating (electricity), buffering
- 10 units Hybrid heat pump space heating (gas), boosting

### Question
Are the 10 units belongi

[2016-07-04 11:58] antw commented on #1159
This is correct. If you have a space heating buffer with annual demand of 1000kWh and volume of 3kWh **and 10 units**, then we model that as a single buffer with demand of 10000kWh and volume of 30kWh.

It's the same with technologies: if you have a combined gas heater with capacity of 20kW **and 10 units**, we model that as a single heating technology with 200kW of capacity.

In your example abov

[2016-07-04 12:18] grdw commented on #766
Chael could you maybe find the time to test this on some of your LES's?

I do find that when you remove all technologies and hit "Save all and view LES" button breaks.

[2016-07-04 12:18] antw commented on #1120
From @ChaelKruip via e-mail:

I can reproduce this. Apparently, if I move a technology from one buffer to another, save and then refresh, the technology is not actually moved; it remains attached to the original buffer.

[2016-07-04 12:26] antw opened #1160 "Replacing a buffer results in incorrect name and key"
Steps to reproduce:

1. Create an LES with three endpoints, and a space heating buffer on each. "Buffer space heating 1" on endpoint 1, "Buffer space heating 2" on endpoint 2, "Buffer space heating 3" on endpoint 3.
2. Delete "Buffer space heating 1".
3. Refresh the "edit LES" page.
4. Add a new space heating buffer to endpoint 1.

The buffer has been wrongly named "Buffer space heating 3" and giv

[2016-07-04 12:41] grdw commented on #1120
👍 Thanks for finding out the problem though. I'll take a look pretty soon.

[2016-07-04 12:44] #766 closed

[2016-07-04 12:44] DorinevanderVlies commented on #1159
Thanks for you answer!

As a user this strategy feels a bit complicated. I think, for example, that looking at my load vs capacity is much more difficult if I have two end nodes in my topology that are one end node in reality.

I think my problem can also be solved by creating a separate buffer for the hybrid heat pumps (within the same end node). @antw, do you agree?

@jorisberkhout, I think the

[2016-07-04 12:45] grdw commented on #766
I found out that the technologies matrix was sometimes not correctly marked as 'editing' which is something the "Save all" button is scanning for. The only odd form was the technology matrix, so I think this should kill off all the issues with the save all and view LES buttons.

If not, please re-open this issue.

[2016-07-04 12:50] antw commented on #1159
Indeed, that's a better idea than mine. :grinning:

[2016-07-04 13:00] ChaelKruip commented on #1159
Can we close this @DorinevanderVlies?

[2016-07-04 13:01] ChaelKruip commented on #1112
Thanks @Sanne512, assigning @jorisberkhout to add this to the documentation.

[2016-07-04 13:04] ChaelKruip opened #1161 "Heat chart needs some TLC and improvements"
* [x] Add a drop-down so that the visitor may choose which week to display.
* [x] Deficit and separate producers need to be added to the heat chart
* [x] To limit the number of series in the chart I would like to group all local production (heat pumps, combi boilers etc.) into one series (currently the black one). Other series I think should have separate colours:
  * Buffers
  * Deficit
  * Every

[2016-07-04 13:08] ChaelKruip commented on #1161
And the vertical axis should be labeled 'kWh':
![etmoses](https://cloud.githubusercontent.com/assets/1303760/16561374/219685a4-41f9-11e6-8bf1-8f2df8f79a7e.png)

[2016-07-04 13:13] ChaelKruip commented on #862
The chart is on BETA!:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/16561469/a7a9d42a-41f9-11e6-9207-6854204bac03.png)

I have already posted several possible improvements [here](https://github.com/quintel/etmoses/issues/1161). You can add your possible issues to that ticket @Sanne512

[2016-07-04 13:15] ChaelKruip commented on #964
Closing as this chart has been merged. Some improvements are listed in https://github.com/quintel/etmoses/issues/1161

[2016-07-04 13:15] #964 closed

[2016-07-04 13:20] DorinevanderVlies commented on #1159
Yes, I shall open another issue about the documentation

[2016-07-04 13:20] #1159 closed

[2016-07-04 13:26] DorinevanderVlies opened #1162 "Documentation regarding the implementation of hybrid heat pumps should be more clear"
As discussed in #1159 hybrid heatpumps should be assigned their own buffer.
Currently this is not clear in the documentation.

@jorisberkhout can you add this?

[2016-07-04 13:47] antw commented on #1153
I'm not sure what the issue is here. I tried both CSVs and the results look as I would expect. When there are electric heaters the electricity load is higher, and gas load is consequently lower.

In both cases, the heat demand is satisfied, but using different technologies:

| With electric heater | Without electric heater |
| --- | --- |
| ![screen shot 2016-07-04 at 14 45 18](https://cloud.githu

[2016-07-04 13:52] DorinevanderVlies commented on #1153
The problem is that the first node does not have the same load as the other nodes. This is unexpected as the technologies assigned to all the nodes are exactly the same.

[2016-07-04 17:03] #1113 closed

[2016-07-04 19:39] #1153 closed

[2016-07-05 08:22] jorisberkhout commented on #785
Correct, the storage volume has been changed back to `25 kWh` in quintel/etsource@8d65405d97ef280b91ea41e60638e96e2041d167.

Closing this issue.

[2016-07-05 08:22] #785 closed

[2016-07-05 09:17] Sanne512 opened #1164 "Stakeholders gas assets"
In the following LES: https://moses.energytransitionmodel.com/testing_grounds/506/edit I deleted the stakeholders in the electricity topology and added a market model so I could just view the costs involved with the gas infrastructure. However, after deleting the stakeholders in the electricity topology there are no more stakeholders available in the drop down menu at the gas assets.

[2016-07-05 09:19] ChaelKruip commented on #1164
Assigning @grdw to fix this. All stakeholders (not just those in the topology) should be selectable in the gas-asset list.

[2016-07-05 09:28] ThomBuijs opened #1165 "Cannot load gas load charts and heat load"
When I try to display the gas load charts I get the message "sorry the chart could not be loaded".
![gas load](https://cloud.githubusercontent.com/assets/20039533/16581039/c26d44aa-42a7-11e6-94bc-d365dbe31467.png)
For the heat load I get the following chart:
![heat load](https://cloud.githubusercontent.com/assets/20039533/16581080/ec8586e4-42a7-11e6-83cb-ef7904e090ba.png)
The LES I am using is: ht

[2016-07-05 09:33] Sanne512 opened #1167 "Gas connections"
Is it possible to adjust the number of gas connections?

[2016-07-05 09:39] ChaelKruip commented on #1165
Closing this as it is a duplicate of https://github.com/quintel/etmoses/issues/1050

[2016-07-05 09:42] ChaelKruip commented on #1167
Yes. The number of gas connections is given by the sum of the numbers of base-load profiles on end-points of the electricity network which have at least one gas technology attached.

Also see this comment: https://github.com/quintel/etmoses/issues/851#issuecomment-206347194

[2016-07-05 09:42] ChaelKruip commented on #1167
Re-open if this does not answer your question @Sanne512

[2016-07-05 10:00] grdw commented on #1164
On beta all stakeholders are available for selection in the gas asset list. At the end of this week we will synchronize the beta server with the production server.

[2016-07-05 10:13] grdw commented on #1165
The heat load is an Internet Explorer 11 specific issue. I'll look into it and fix it asap.

[2016-07-05 10:22] ChaelKruip commented on #1164
@Sanne512 is that soon enough for your purposes? Let me know if not and we will find another solution.

Closing this for now.

[2016-07-05 10:22] #1164 closed

[2016-07-05 10:26] #1160 closed

[2016-07-05 10:32] #1165 closed

[2016-07-05 10:59] MarjoleinSchwachofer opened #1168 "standard stakeholder for gas assets should be the system operator"
The standard stakeholder of a gas asset should be the system operator and not the customer.

[2016-07-05 11:26] Sanne512 opened #1169 "Deleting 4 bar gas infrastructure"
When you delete the gas infrastructure at 4 bar, which is a realistic situation, the load still displays a gas load at 4 bar. I tried this in the following LES: https://moses.energytransitionmodel.com/testing_grounds/506/gas_load

[2016-07-05 11:34] antw commented on #1169
If there is absolutely no infrastructure installed at a level in the gas network, it is assumed that capacity at that level is infinite, and efficiency is 100% in both directions (no loss). We only start limiting capacity and efficiency once something has been installed.

It would not be difficult to have capacity become zero in these situations; in which case no gas would be able to flow across a

[2016-07-05 11:47] grdw commented on #1158
I'm having a bit of hard time reproducing this locally.

What I do, fetch a CSV, import a scenario (scenario id on beta = 515515). Than I remove all technologies from the profile. Select a CSV and hit "Create Local energy solution".

![screen shot 2016-07-05 at 13 46 18](https://cloud.githubusercontent.com/assets/2676542/16583592/df06cc62-42b6-11e6-888b-beffd90e42d3.png)

I think @antw might have

[2016-07-05 11:49] grdw opened #1170 "Buffering/boosting radio button name incorrect when adding new technologies to newly add buffers"
How to reproduce:

1. Import a scenario with default topology/market-model
2. Remove all technologies
3. Add 1 buffer to each end-point
4. Add technologies to those buffers
5. Radio buttons begin to turn-off

[2016-07-05 11:56] ChaelKruip commented on #1169
I think the current approach is logical. If nothing is installed it cannot lead to a constraint either (the absence of a pressure level implies that the surrounding levels are connected directly).

Closing this. If you disagree @Sanne512 please re-open this issue.

[2016-07-05 11:57] ChaelKruip commented on #1168
@grdw is already working on this right @grdw?

[2016-07-05 12:17] Sanne512 opened #1171 "Calculation gas load"
In the following LES: https://moses.energytransitionmodel.com/testing_grounds/506/gas_load I made the gas demand humongous and the gas infrastructure very little. This doesn't seem to influence the outcome of the gas load..

[2016-07-05 12:21] dennisschoenmakers opened #1172 "[Airbrake] [Staging] undefined method `round' for "-8,9":String"
**Airbrake error:** [#7301](https://quintel.airbrake.io/projects/111227/groups/1723165705964597301)
**Airbrake project:** ETMoses

**Error type:** `NoMethodError`
**Error message:** `` undefined method `round' for "-8,9":String ``
**Where:** `testing_grounds#show`
**Occurred at:** Jul 05, 2016 12:21:26 UTC
**First seen at:** Jul 05, 2016 12:21:26 UTC
**Occurrences:** 1 (1 since last deploy on Jul

[2016-07-05 12:21] dennisschoenmakers opened #1173 "[Airbrake] [Staging] undefined method `/' for "-8,9":String"
**Airbrake error:** [#8026](https://quintel.airbrake.io/projects/111227/groups/1723165736272638026)
**Airbrake project:** ETMoses

**Error type:** `NoMethodError`
**Error message:** `` undefined method `/' for "-8,9":String ``
**Where:** `<no information>`
**Occurred at:** Jul 05, 2016 12:21:26 UTC
**First seen at:** Jul 05, 2016 12:21:26 UTC
**Occurrences:** 1 (1 since last deploy on Jul 05, 2016

[2016-07-05 12:22] ChaelKruip commented on #1171
@Sanne512 could this be a duplicate of https://github.com/quintel/etmoses/issues/1050?

[2016-07-05 12:23] Sanne512 commented on #1171
Yes, that could definately be the case..

[2016-07-05 12:26] ChaelKruip commented on #1171
Closing this as it is a duplicate of #1050.

[2016-07-05 12:26] #1171 closed

[2016-07-05 12:37] ThomBuijs opened #1174 "Should the priority of the plant types for heat change automatically when deleting one?"
When deleting some of the plant types, should the priority change accordingly? So if you have 5 types with priority 1 till 5 and delete the plant type with priority 3, I guess it would be better if 4 changed to 3 and 5 changed to 4.

[2016-07-05 12:39] ThomBuijs opened #1175 "Is the demand for heat met when deleting a plant type?"
When you delete a plant type is the demand for heat still met? This should mean that the production of the remaining plant types should increase. Is this the case?

[2016-07-05 12:42] ChaelKruip commented on #1174
Good point @ThomBuijs! We already have an issue for this: https://github.com/quintel/etmoses/issues/1062

The most elegant solution would be to 'drag' the various options into order, eliminating the need for explicit priorities. Closing this.

[2016-07-05 12:42] #1174 closed

[2016-07-05 12:44] ChaelKruip commented on #1175
I think so. @antw can you clear this up?

Plotting a possible deficit of heat production in the heat chart is already described here: https://github.com/quintel/etmoses/issues/1161

[2016-07-05 12:51] antw commented on #1172
@grdw Unless you had some sort of quick fix in mind when you self-assigned this, I think we should close this issue. It falls under the category of the ["Input Validation" milestone](https://github.com/quintel/etmoses/milestones/Input%20Validation) and I don't think we need more issues describing incorrect inputs.

[2016-07-05 12:54] grdw commented on #1172
Not really. I just self-assign myself to these airbrake issues, because otherwise it doesn't turn up in anyone's filter.

[2016-07-05 12:55] antw commented on #1172
Let's close it then. I want to try something with [dry-validation](http://dry-rb.org/gems/dry-validation/) as soon as we have time, but in the short-term we will have to do without. I'll look into this LES and fix the broken value.

[2016-07-05 12:55] #1172 closed

[2016-07-05 12:56] #1173 closed

[2016-07-05 12:56] ThomBuijs opened #1176 "Cannot scale heat load to a yearly overview"
I cannot display a yearly overview of the heat load (this is also not possible when I go to the electricity tab).

[2016-07-05 12:56] Sanne512 commented on #1167
So checking if I understand this correctly: when you have selected gas technologies in the ETM these technologies are divided over the different endpoints from the electricity topology in the LES? So it is not possible for the user to select the amount of connections used in the LES?

[2016-07-05 12:57] ThomBuijs opened #1177 "Legend of heat load is not the same colour as the graph"
The colours of the legend for heat load do not correspond with the colours in the graph.

[2016-07-05 13:00] antw commented on #1175
Provided the other dispatchable plants have sufficient capacity, their production will increase.

**Heat load with lots of geothermal:**

<img width="594" alt="screen shot 2016-07-05 at 13 58 54" src="https://cloud.githubusercontent.com/assets/4383/16585424/b402abce-42b8-11e6-8d2b-7632ba8d565f.png">

**Heat load with geothermal removed:**

<img width="596" alt="screen shot 2016-07-05 at 13 58 19"

[2016-07-05 13:00] #1175 closed

[2016-07-05 13:11] ThomBuijs opened #1178 ""Save all and view gas/heat load" button does not save changes"
Why can't I alter the distance and associated with source settings for the primary network heat asset list

[2016-07-05 13:14] ChaelKruip commented on #1167
You can move the gas-technologies to other end-points and/or change the number of base-loads of an end-point. Both change the number of gas-connections.

There is currently no option to hard-code the number of gas-connections per end-point of the electricity topology (the same goes for electricity by the way). This could be added in principle in the next sprint if needed.

[2016-07-05 13:19] antw commented on #1178
Looks like the gas and heat forms are not marked as "editing".

@ThomBuijs The blue "Save" buttons will work in the meantime.

[2016-07-05 13:29] MarjoleinSchwachofer opened #1179 "It should be possible to clone a public LES and edit it yourself"
Instead of creating a whole new LES by going through ETM, we would like to be able to clone an existing LES and make some minor changes and see the results and compare this. Currently you can only see a public case and see the electricity load, gas load and businesscase. Bu you cannot see the gas assets and the like and change one item or just add one node.

[2016-07-05 13:33] MarjoleinSchwachofer commented on #1151
I added the  "clone a public LES from someone else and edit it: #1179 ". I think this should be high on the list

[2016-07-05 13:36] Sanne512 opened #1180 "SSL encryption"
Is this implemented? @JeroenvdLogt requested a test from Alliander to test this, but hasn't heard back yet.

[2016-07-05 13:38] antw commented on #1180
It is.

<img width="462" alt="screen shot 2016-07-05 at 14 37 51" src="https://cloud.githubusercontent.com/assets/4383/16586483/12c25470-42be-11e6-9b86-f09397a3563e.png">

[2016-07-05 13:38] #1180 closed

[2016-07-05 13:38] jorisberkhout opened #1181 "Name of measure "Annual maximum kW load ("contracted")" is misleading"
As discussed with @MarjoleinSchwachofer , the name of the measure `Annual maximum kW load ("contracted")` is misleading. As discussed in https://github.com/quintel/etmoses/issues/333, this measure simply determines the maximum annual load and assigns a price to this maximum load as described by

However, "contracted" means something different than what is described here as described in this text s

[2016-07-05 13:39] jorisberkhout commented on #1181
Assigning @ChaelKruip . Re-assign at will.

[2016-07-05 13:42] ThomBuijs opened #1182 "Secondary network pops back to default settings when viewing the heat-load"
When the settings of the secondary network of the heat asset list are changed or types are added, the settings will go back to the default settings when the heat load is viewed.

[2016-07-05 13:42] Sanne512 opened #1183 "Scaling up to a national scenario"
Which technologies are taken into account when scaling up to a national scenario? All of them? Because when scaling up the neighbourhood battery it doesn't seem to be included in the national scenario.

And how about the technologies from gas en heat?

[2016-07-05 13:54] #1177 closed

[2016-07-05 13:55] Sanne512 opened #1184 "Solar fields and wind farms at MS/HS level"
Connecting large scale wind farms and solar fields at high voltage and medium voltage levels.

[2016-07-05 13:55] antw commented on #1182
Is this when you hit the "Save all and view heat-load" button? If so, this would be a duplicate of #1178.

The blue "Save" button should work until we have that fixed.

[2016-07-05 14:01] Sanne512 opened #1185 "Green gas feed in"
It should be possible to add a technology, like a fermenter, that can feed in green gas.

[2016-07-05 14:01] ChaelKruip commented on #1184
You can already do this manually. Do you mean that this would happen automatically?

Right now, wind-farms and central solar fields are part of the "local production park" which determines the Merit Price curve. Do you expect central solar and wind to be taken out of the "local production park" and modelled explicitly in ETMoses (connected to the topology)?

[2016-07-05 14:31] ThomBuijs commented on #1182
It is for both buttons. If I press the blue button first and then the green one, it will still pop back to default settings.

[2016-07-05 14:33] ChaelKruip commented on #1176
You mean an overview such as we have for gas?
![etmoses](https://cloud.githubusercontent.com/assets/1303760/16588147/0e5887b4-42ce-11e6-8418-b9e1a7093f81.png)

That is not planned or implemented as part of any sprint. Removing label "Bug".

[2016-07-05 14:38] Sanne512 opened #1186 "Calculating the CO2 emissions for a LES"
Besides the impact on the networks and the business case, CO2 emissions/LES would be a valuable result of a LES. Especially when you can compare it with the CO2 emissions of another LES, like you can compare business cases.

[2016-07-05 14:42] ThomBuijs opened #1187 "The capacities of the heat network are not visible in the heat load chart"
When viewing the heat load chart, the capacities (maximum temperatures) of the primary and secondary network are not visible. Will this be added?

[2016-07-05 14:43] Sanne512 commented on #1038
I'm including this in our wish list for the next sprint.

[2016-07-05 14:53] ChaelKruip opened #1188 "Integrate assets, topology and market model into one object: LES"
Also see the discussion in https://github.com/quintel/etmoses/issues/1038

[2016-07-05 14:55] ChaelKruip commented on #1176
OK, clear. This should be a relatively easy fix right @antw?

[2016-07-05 14:59] antw commented on #1161
Also:

* Add a drop-down so that the visitor may choose which week to display.

[2016-07-05 15:01] antw commented on #1176
I'm not too familiar with the chart code, but I'm hoping so.

Last week we discussed adding drop-downs for this and the gas load chart to allow visitors to choose which *week* they want to view, but would likely not support a full annual view (at least not until the caching improvements are in place [see: #1152, #1083]). Would that suffice for now?

I have added this request to the chart TLC issue

[2016-07-05 15:02] ChaelKruip commented on #1176
I think so. @ThomBuijs do you agree?

[2016-07-05 15:05] Sanne512 commented on #1151
**WORK IN PROGRESS**

I'll finish this tomorrow.

**List of issues/improvements**

_High priority_

1. Stabilizing the PRO server: ensuring that there are no more bugs and that everything works as it should.
2. Connecting large scale wind farms and solar fields at medium and high voltage level  https://github.com/quintel/etmoses/issues/1184
3. Adding a technology that can feed in green gas. https:

[2016-07-05 15:19] DorinevanderVlies opened #1189 "Add a summary to documentation regarding buffers"
This part of the documentation is very elaborate.
For me it took quite a while to understand how to implement the buffers and heating technologies in my LES. I think a summary, with a diagram and maybe typical settings would help to understand buffers more quickly.

@dennisschoenmakers

[2016-07-05 15:29] DorinevanderVlies opened #1190 "Gas load of my LES cannot be loaded"
In my [current LES](https://beta-moses.energytransitionmodel.com/testing_grounds/572/gas_load
) I get the error that my gas load chart cannot be loaded.

I have not made any changes to the gas infrastructure. The basic infrastructure should work right?

![image](https://cloud.githubusercontent.com/assets/19907658/16589976/e222a050-42d5-11e6-944c-2f4b58591261.png)

@dennisschoenmakers FYI

[2016-07-05 15:44] Sanne512 commented on #1048
Ok,  if that's the case i'll remove it from the list for the next sprint.

[2016-07-05 15:50] ThomBuijs commented on #1176
I think it would, what do you think @Sanne512?

[2016-07-05 15:58] Sanne512 commented on #1184
What we had in mind is that etm provides the size of central solar and wind in the "local production park" and that the user can connect it to a relevant node. Because it doesn 't make sense to divide it over all the nodes as the other technologies. What do you think about this idea?

[2016-07-05 16:00] ChaelKruip commented on #1179
This is problematic if any part of the original LES contains private information. Currently several parts of the LES (say, the Market Model, the Topology, the Gas-Assets etc.) can be either public or private. Only if a LES is completely public, would it be possible to 'clone' it and save it as your own new LES.

In [this issue](https://github.com/quintel/etmoses/issues/839) we discuss the idea of

[2016-07-06 06:19] MarjoleinSchwachofer commented on #1179
ik voeg jullie toe aan de discussie ter info: @Sanne512 @ThomBuijs @JeroenvdLogt

[2016-07-06 06:39] Sanne512 commented on #1176
I agree as well!

[2016-07-06 06:41] ChaelKruip commented on #1179
Friendly reminder: please use English as we are working with an international crowd here :)

[2016-07-06 06:57] DorinevanderVlies opened #1191 "The gas network documentation is still a bit unclear"
What I'm missing in the documentation regarding the gas network is some practical information/tips.

- What do the basic settings mean? Can I use the default settings as a start?
- Maybe some examples of typical changes to the basic settings.

@dennisschoenmakers FYI

[2016-07-06 07:12] ChaelKruip commented on #1184
Interesting idea which raises several questions:
* Why would you bother connecting something to the high voltage network? The remainder of the demand is already communicated to the HV node.
* If you connect plants that are at intermediate levels (such as PV and wind farms), why not connect decentral (neighbourhood) CHPs as well?
* What is a relevant node? Would that mean that you 'reserve' a node

[2016-07-06 07:13] jorisberkhout commented on #1183
@ChaelKruip , can you provide the answer to these question? I'll leave myself assigned to include the answer in the documentation.

[2016-07-06 07:19] DorinevanderVlies opened #1192 "Topology chart should be"
Right now, if a topology is relatively large, the names of the nodes overlap.
It would be nice to be able to scale/zoom this chart to be able look at different sections in detail.

![image](https://cloud.githubusercontent.com/assets/19907658/16610256/78d65170-435a-11e6-906b-5941a2bedf39.png)

@dennisschoenmakers

[2016-07-06 07:22] ChaelKruip commented on #1183
The list of technologies which is currently exported is found here: https://github.com/quintel/etmoses/issues/1107

That ticket also describes that we need to include some other more recently added technologies.

[2016-07-06 07:26] dennisschoenmakers opened #1193 "[Airbrake] [Staging] undefined method `topology' for nil:NilClass"
**Airbrake error:** [#2740](https://quintel.airbrake.io/projects/111227/groups/1723741864225912740)
**Airbrake project:** ETMoses

**Error type:** `NoMethodError`
**Error message:** `` undefined method `topology' for nil:NilClass ``
**Where:** `market_models#new`
**Occurred at:** Jul 06, 2016 07:26:10 UTC
**First seen at:** Jul 06, 2016 07:25:11 UTC
**Occurrences:** 1 (1 since last deploy on Jul 0

[2016-07-06 07:38] ChaelKruip commented on #1190
Closing as this is a duplicate of https://github.com/quintel/etmoses/issues/1050

[2016-07-06 07:38] #1190 closed

[2016-07-06 07:42] ChaelKruip commented on #1181
I'm fine with this solution!

Assigning @jorisberkhout to add this to the documentation. I'll open an issue for the renaming in the front-end.

[2016-07-06 07:42] DorinevanderVlies opened #1194 "Bug: "create new" market model does not open from menu"
Pressing "Market Models" followed by "Create new" leads to an error.

I can get around this now by opening an existing market model and saving that one under a different name.

![image](https://cloud.githubusercontent.com/assets/19907658/16610770/b7a68eb2-435d-11e6-9d4d-037b21746738.png)

@dennisschoenmakers FYI

[2016-07-06 07:43] ChaelKruip opened #1195 "Annual maximum kW load ("contracted") should be renamed"
It should be called "Annual maximum kW load"

[2016-07-06 07:53] DorinevanderVlies opened #1196 "create button to go to bottom of technology profile page"
I have a les with ~25 end nodes and a lot of technologies per end node. So it is a long list.
Every time I want to load a CSV, edit or save my LES I have to scroll all the way down.
A button which takes me straight to the bottom of the page would be nice.

@dennisschoenmakers FYI

[2016-07-06 08:15] #1193 closed

[2016-07-06 08:15] #1194 closed

[2016-07-06 08:15] #1195 closed

[2016-07-06 08:18] jorisberkhout commented on #1112
I have included the legend in the [documentation](https://github.com/quintel/etmoses/wiki/Gas-network#user-interface). Closing.

[2016-07-06 08:18] #1112 closed

[2016-07-06 08:20] jorisberkhout commented on #1191
I have updated the gas network documentation to answer your first two question.

I like the idea of stating some examples, but considering it very low priority given the other areas of the documentation that need some improvement.

Closing. Re-open if the documentation is still unclear.

[2016-07-06 08:20] #1191 closed

[2016-07-06 08:22] jorisberkhout commented on #1181
I updated the documentation to reflect the changes in https://github.com/quintel/etmoses/commit/dbf4c13ddb10e6fe9472a73e3771f356bc3112b0 (renaming the measure to `Annual maximum kW load `).

Closing.

[2016-07-06 08:22] #1181 closed

[2016-07-06 08:23] DorinevanderVlies opened #1197 "The capacity is defined in two columns of a CSV from a technology profile, one would be enough"
When I create a CSV from my topology profile the capacity is define in two columns: C and V.
I think one would be enough. Now it is confusing which one to change (I currently change both).

@dennisschoenmakers FYI

[2016-07-06 08:24] jorisberkhout commented on #574
I believe this issue has been superseded by https://github.com/quintel/etmoses/issues/1112 and https://github.com/quintel/etmoses/issues/1191. Also the gas network documentation was given a push in the right direction by @ChaelKruip and me.

Closing this issue.

[2016-07-06 08:24] #574 closed

[2016-07-06 08:42] ChaelKruip commented on #1196
I think we should try to come up with a solution for this page which does not include a lot of scrolling rather than make a button to allow 'jumping'. Point taken though!

[2016-07-06 08:46] Sanne512 opened #1198 "Energy losses in the infrastructure"
Energy losses in the infrastructure are not included in ETMoses at the moment, while this has a significant influence on the total energy production. To be able to compare the different energy carriers in a "fair" way, the best way to do this is to implement this at the same time for electricity, gas and heat.

[2016-07-06 08:47] Sanne512 commented on #1198
For heat there is already a seperate issue: https://github.com/quintel/etmoses/issues/972

[2016-07-06 08:48] grdw commented on #1145
I took some time to investigate it a little.

I tested the following LES's on 'beta':

*With one technology/buffer at one endpoint*:

- A Les with one technology, switching concurrency from min to max with unit > 1. This seems to be working ok. I used one EV/Base load. I don't experience any problems with the calculation. I do see that the demand is empty when adding a new base load but I think th

[2016-07-06 08:53] grdw commented on #1145
I'm still not sure if that's what you are experiencing. So maybe you could show me what the problems are that you experienced? @DorinevanderVlies

[2016-07-06 08:56] Sanne512 opened #1199 "Costs of removing gas infrastructure"
The Netherlands is transitioning more and more to full-electric neighbourhoods. When this happens there is a possiblity that gas infrastructure needs to be removed. It would be nice to be able to include these costs.

[2016-07-06 09:00] Sanne512 opened #1200 "Load based on price incentives"
It would be nice to be able to simulate the consequences of price incentives for the electricity load. For example when electricity prices on quarterly values are introduced in the market this will influence the profile of the electricity load or the use of batteries. It would be nice to be able to simulate these consequences.

[2016-07-06 09:03] MarjoleinSchwachofer opened #1201 "Why is in the gas network 125 mbar used instead of 100 mbar?"
Could the answer to this question also be put in the documentation so that other people also have the answer directly?

[2016-07-06 09:06] Sanne512 opened #1202 "New measure in the market model: fixed amount"
It would be nice to have the option in the market model to add a cash flow of a fixed amount in time between stakeholders.

[2016-07-06 09:07] grdw opened #1203 "Importing default technologies, minimizing concurrency for all technologies"
Found out when testing things for #1145

*Import all technologies of scenario 515515:*
Minimizing concurrency for all technologies becomes a pain at that moment 😞 my browser freezes for a moment, than when it does come back you can't seem to be able to save your results. It will give a [HTTP/1.1 413 Request Entity Too Large 5027ms].

This issue is also related to the new interface (since your brow

[2016-07-06 09:14] Sanne512 opened #1204 "Multiple actors per stakeholder"
A stakeholder, like an energy supplier, can be different actors, like Eneco, Vattenfall, etcetera. To be able to specify this would give new opportunities for calculating business cases more in detail.

[2016-07-06 09:15] antw commented on #1145
Here's the scenario I've been using to try to reproduce this: [beta LES-585](https://beta-moses.energytransitionmodel.com/testing_grounds/585). It has a fairly normal distribution of technologies on one endpoint.

What I found so far is that if I edit the LES and set solar PV concurrency to "min" and hit "Apply" everything seems to work fine. However, if I add a solar PV array to "Endpoint 2" and

[2016-07-06 09:16] Sanne512 opened #1205 "Cashflow model"
Besides the total business case it would be nice if the cashflows between the different stakeholders could be displayed. This would provide more information than the business case.

[2016-07-06 09:19] ChaelKruip commented on #1205
How is this different from the business case matrix?
![etmoses](https://cloud.githubusercontent.com/assets/1303760/16613260/85ca1b3a-436b-11e6-9ac2-889de2bd71c8.png)

[2016-07-06 09:20] ChaelKruip commented on #1205
Also see https://github.com/quintel/etmoses/issues/1090

[2016-07-06 09:21] MarjoleinSchwachofer opened #1206 "question about local gas production"
In the documentation it states: Local production of gas can be fed into the network at the lowest (125 millibar) level by using a power-to-gas (P2G) installation.
Power-to-gas in ETmoses produces hydrogen, correct? Than it cannot be just fed into the grid. (e.g. It should be mixed in the right concentration). So is this correctly been taken into account in the model and described  in the documenta

[2016-07-06 09:26] ThomBuijs opened #1207 "What is meant with locally produced heat?"
When changing the technologies from everybody uses district heating to everybody uses the gas network for warm water, the locally-produced heat is increased. Can someone explain why this is the case?

[2016-07-06 09:27] Sanne512 opened #1208 "Multiple stakeholders per node"
In practice the price a customer pays is calculated according to a cascade: e.g. the customers that are connected to the medium voltage grid don't pay for the low voltage grid. In order to calculate this in the business case, and calculate other future alternative tariff models, you want to know what the share of different customers & cooperations is in the load and especially the peaks on the med

[2016-07-06 09:30] ChaelKruip commented on #1208
I have rephrased the title to reflect the idea better.

[2016-07-06 09:31] Sanne512 commented on #1151
@ChaelKruip This is our list of wishes for the next sprint. I've noticed that you are already doing this, but our question is: which things can be realised, how long will this take or do you need to do further research to make this improvement.

[2016-07-06 09:35] ChaelKruip commented on #1206
Yes.

As discussed with @Sanne512 and in the sprint meeting for sprint 2, we treat hydrogen (and other gas) purely energetically at this moment. The mixing fraction, Wobbe index etc. are not taken into account right now.

Assigning @jorisberkhout to put this in the documentation (perhaps we can have an 'assumptions' section in the 'modelling' section of the gas-network page).

[2016-07-06 09:37] ChaelKruip commented on #1207
Locally produced heat is all the heat that is produced by technologies inside the households. Heat pumps and combi boilers etc. take over when you disconnect people from the heat network.

Please re-open if this is unclear.

[2016-07-06 09:37] #1207 closed

[2016-07-06 09:50] jorisberkhout commented on #1154
I gave the het network documentation a big push. The results can be reviewed [here](https://github.com/quintel/etmoses/wiki/Heat-network).

Closing this issue. Please open a new issue if you have more specific questions that need answering in the documentation.

[2016-07-06 09:50] #1154 closed

[2016-07-06 09:53] DorinevanderVlies commented on #1196
Indeed intended as a quick fix.

[2016-07-06 10:00] dennisschoenmakers commented on #1144
*Comment from Airbrake:* Resolved [error](https://quintel.airbrake.io/projects/111227/groups/1717253882190999645) reoccurred.

[2016-07-06 10:23] ChaelKruip commented on #1182
I can reproduce this as follows:
1. add new line in secondary network list
2. press 'save'
3. refresh page -> back to the default

[2016-07-06 10:28] ChaelKruip commented on #1158
Is this the case @antw?

[2016-07-06 10:45] antw commented on #1158
If I have, it wasn't intentional. 😆

[2016-07-06 11:05] #1176 closed

[2016-07-06 11:20] dennisschoenmakers commented on #1118
*Comment from Airbrake:* Resolved [error](https://quintel.airbrake.io/projects/111227/groups/1712971292403544569) reoccurred.

[2016-07-06 11:21] dennisschoenmakers commented on #1117
*Comment from Airbrake:* Resolved [error](https://quintel.airbrake.io/projects/111227/groups/1712971192235176415) reoccurred.

[2016-07-06 11:23] dennisschoenmakers opened #1209 "[Airbrake] [Staging] undefined method `call' for nil:NilClass"
**Airbrake error:** [#9110](https://quintel.airbrake.io/projects/111227/groups/1723861211049079110)
**Airbrake project:** ETMoses

**Error type:** `NoMethodError`
**Error message:** `` undefined method `call' for nil:NilClass ``
**Where:** `<no information>`
**Occurred at:** Jul 06, 2016 11:23:12 UTC
**First seen at:** Jul 06, 2016 11:23:12 UTC
**Occurrences:** 1 (1 since last deploy on Jul 06, 20

[2016-07-06 11:45] ChaelKruip commented on #863
Why is this on-hold @grdw?

[2016-07-06 11:54] dennisschoenmakers opened #1210 "[Airbrake] [Staging] undefined method `call' for nil:NilClass"
**Airbrake error:** [#0802](https://quintel.airbrake.io/projects/111227/groups/1723877208694960802)
**Airbrake project:** ETMoses

**Error type:** `NoMethodError`
**Error message:** `` undefined method `call' for nil:NilClass ``
**Where:** `<no information>`
**Occurred at:** Jul 06, 2016 11:54:43 UTC
**First seen at:** Jul 06, 2016 11:54:43 UTC
**Occurrences:** 1 (1 since last deploy on Jul 06, 20

[2016-07-06 13:17] ChaelKruip opened #1211 "LES freezes when selecting other week"
[This LES](https://beta-moses.energytransitionmodel.com/testing_grounds/582) does not display other weeks loads:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/16619060/c79c525a-438c-11e6-97a6-00f3e7b46268.png)

[2016-07-06 13:54] dennisschoenmakers opened #1212 "[Airbrake] [Staging] Validation failed: Technology profile includes a connection to missing node "B build""
**Airbrake error:** [#2367](https://quintel.airbrake.io/projects/111227/groups/1723937216828782367)
**Airbrake project:** ETMoses

**Error type:** `ActiveRecord::RecordInvalid`
**Error message:** `` Validation failed: Technology profile includes a connection to missing node "B build" ``
**Where:** `testing_grounds#save_as`
**Occurred at:** Jul 06, 2016 13:54:13 UTC
**First seen at:** Jul 06, 2016

[2016-07-06 13:56] DorinevanderVlies opened #1213 "It would be nice if the fuel cell technology was added to ETMoses"
It would be nice if fuell cell technology was added to ETMoses.

In my case I want to implement a 2 kW fuel cell working on gas, supplying electricity to the network and heat to one buffer.

@dennisschoenmakers FYI

[2016-07-06 13:58] ThomBuijs opened #1214 "Business case for Heat doesn't seem to work"
When I change the distance and lifetimes of the dispatchable plant types I see no change in the business case. Also the effect of changing the values for the heat market model (number of heat connections and kWh of heat consumed) is not visible in the business case. I deleted all the gas assets and the costs for the electricity grid, but I still get the same numbers as I did before I deleted those

[2016-07-06 14:04] #1211 closed

[2016-07-06 14:29] dennisschoenmakers opened #1215 "[Airbrake] [Staging] undefined method `symbolize_keys' for "Topology saved 20160706":String"
**Airbrake error:** [#2718](https://quintel.airbrake.io/projects/111227/groups/1723954876534732718)
**Airbrake project:** ETMoses

**Error type:** `NoMethodError`
**Error message:** `` undefined method `symbolize_keys' for "Topology saved 20160706":String ``
**Where:** `topologies#clone`
**Occurred at:** Jul 06, 2016 14:29:01 UTC
**First seen at:** Jul 06, 2016 14:29:01 UTC
**Occurrences:** 1 (1 s

[2016-07-06 14:54] dennisschoenmakers commented on #432
*Comment from Airbrake:* Resolved [error](https://quintel.airbrake.io/projects/111227/groups/1515882299653599519) reoccurred.

[2016-07-06 14:54] antw commented on #1188
To be clear: the proposal is not to merge the three objects or database tables into one, but rather to make the association between LES, market model, topology, and assets simpler for visitors. With that in mind, does this differ from #839?

[2016-07-06 15:00] ChaelKruip commented on #1188
No. Closing this as a duplicate.

[2016-07-06 15:00] #1188 closed

[2016-07-06 15:02] ChaelKruip commented on #1214
@antw is still working on the heat-producer stakeholder. Correct @antw?

[2016-07-06 15:16] antw commented on #1038
#839

[2016-07-06 15:16] #1038 closed

[2016-07-06 15:32] antw commented on #1215
Bad topology YAML. I'll put this into the Input Validation milestone as a reminder that it's not only technologies which need better validation and error-checking.

[2016-07-06 15:34] antw commented on #1212
I'm guessing this is a CSV import which specified a non-existent node, and the error was caught later when someone tried to clone the LES.

Adding to Input Validation milestone as a reminder that CSV imports need to be better validated.

[2016-07-06 15:38] DorinevanderVlies opened #1217 "Business case does not calculate money in for stakeholder cooperation"
I have defined a [LES](https://beta-moses.energytransitionmodel.com/testing_grounds/588/business_cases/349) with a cooperation with a PV plant. I would expect the cooperation to receive money. However, this is not the case. Is it a bug or an error in my market model?

In my market model the cooperation is defined as follows:
![image](https://cloud.githubusercontent.com/assets/19907658/16623426/2b3

[2016-07-06 15:46] ChaelKruip commented on #1217
I think you mean 'market model' instead of 'business case'. I have looked at the relevant transactions and they seem to be fine. Assigning @antw to see what goes wrong in the back-end (that is where I am assuming things are going wrong).

[2016-07-06 16:25] #1168 closed

[2016-07-07 08:20] DorinevanderVlies opened #1219 "The business case table in "edit LES" does not allow scrolling"
I want to examine my [business case](https://beta-moses.energytransitionmodel.com/testing_grounds/588/edit) in the Edit menu.
However, I cannot scroll through te tabel.

![image](https://cloud.githubusercontent.com/assets/19907658/16646756/30ae1e8c-442c-11e6-929d-eee1d12b27cc.png)

cc @dennisschoenmakers

[2016-07-07 08:22] DorinevanderVlies commented on #1217
You are right, thanks, I changed it.

[2016-07-07 08:31] antw commented on #1219
I'm able to scroll left-and-right through the table, and it looks like you're using Chrome as your browser as am I.

This might just be that Mac OS X hides scrollbars by default, which gives the impression that you cannot scroll. Click the  icon on the left of the menu bar at the top of your screen → System preferences → General. Then choose "Scroll bars: Always". Hopefully the horizontal scrollb

[2016-07-07 08:36] #1219 closed

[2016-07-07 09:04] DorinevanderVlies opened #1220 "Add "save as" option to edit market model"
When editing a market model a "save as" option would be nice.
Currently it is only possible to change the name and save, but not to create a new market model (keep the old one as it is).

![image](https://cloud.githubusercontent.com/assets/19907658/16648065/7c5b1f00-4432-11e6-9550-fe589947e585.png)

cc: @dennisschoenmakers

[2016-07-07 09:12] DorinevanderVlies opened #1221 "Error when saving market model with Merit price as tariff"
In Edit market model (so not inside my LES) I want to add Merit price as Tariff from supplier to producer.
This gives the error that " interactions value for tariff can't be blank".

Changing back to fixed price removes this error.
Sometimes when I change back again from fixed price to Merit price I can save the market model once.
However, when saving again the same error comes up.

[Link to marke

[2016-07-07 09:18] antw commented on #1221
I have already fixed this locally and should have it on beta shortly. I believe this may be the cause for #1217.

[2016-07-07 09:36] #1221 closed

[2016-07-07 09:37] jorisberkhout commented on #1201
Good question, @MarjoleinSchwachofer . The following image seems to suggest `100 mbar`. Do you now why we use `125 mbar` instead, @ChaelKruip ?

![0bfba1b0-e6b5-11e5-8f8d-08b131a2ba1f](https://cloud.githubusercontent.com/assets/4669028/16649015/047c71e6-4437-11e6-9b5a-906bac7a6cb0.png)

[2016-07-07 10:25] antw commented on #1217
Closing because this does appear to be fixed.

[2016-07-07 10:25] #1217 closed

[2016-07-07 10:34] DorinevanderVlies opened #1222 "water heater combined network gas does not have default investment set"
Most (heating) technologies have a default setting for initial investment.
Households water heater combined network gas does not. I think this would be a good enhancement.

![image](https://cloud.githubusercontent.com/assets/19907658/16650526/e18a8fee-443e-11e6-9967-d6c9c17606d0.png)

cc: @dennisschoenmakers

[2016-07-07 10:36] DorinevanderVlies commented on #1222
I think I understand why, because you never use combined heating just for water.

[2016-07-07 10:36] #1222 closed

[2016-07-07 11:07] antw commented on #1214
I have tested this in my own LES and it seems to be working fine. I edited distances and technical lifetimes and saw a change in the business case for both.

Use the *blue* "Save" button, and ignore the green "Save and view..." buttons for now.

[2016-07-07 11:07] #1214 closed

[2016-07-07 11:41] ChaelKruip commented on #1201
This was suggested by @Sanne512 and @JeroenvdLogt at the time. Nothing changes in the calculations if we rename it to 100mbar so let me know if that is indeed desirable.

[2016-07-07 12:00] dennisschoenmakers opened #1223 "Add Google Analytics"

[2016-07-07 12:00] dennisschoenmakers commented on #1223
cc @ChaelKruip

[2016-07-07 13:01] grdw opened #1224 "Remove certain properties from the database in the profile matrix due to redundancy with the technologies yml"
Attributes that can be removed

- includes
- composite

[2016-07-07 13:24] DorinevanderVlies opened #1225 "Not all technologies have default investment and O&M"
Some technologies have default settings for initial investment, OM costs and technical life.
There are some technologies which don't have this.

In a [test les](https://beta-moses.energytransitionmodel.com/testing_grounds/596/edit) I added all possible technologies once. A screenshot of (part of) the CSV is shown below.

The following technologies currently do not have default investment, OM costs

[2016-07-07 13:34] grdw commented on #1225
Most of these technologies have nowhere to draw those values from. This is a bit of scoping problem also. To bore you with a bit of technical details: ETEngine holds the data for certain converters. However most converters you are specifying don't exist in ETEngine, therefor there's no default.

The only two technologies that strike me as odd are:

[code]

Since they do exist in ETEngine and shoul

[2016-07-07 13:41] ChaelKruip commented on #1225
👍

[2016-07-07 13:43] ChaelKruip commented on #1225
The hybrid heat pump also exists in the ETM and should have attributes. We can discuss how to divide those costs over the two components (gas and electricity part).

[2016-07-07 13:44] ChaelKruip commented on #969
Has this been done @jorisberkhout?

[2016-07-07 13:57] #1209 closed

[2016-07-07 13:57] #1210 closed

[2016-07-08 07:43] JeroenvdLogt commented on #1201
As far as I know the pressure in low pressure pipes is 125 mbar. Of course the pressure is allways between a range. I don't know whether 125 mbar is the maximum and 100mbar the minimum.

[2016-07-08 07:49] DorinevanderVlies opened #1226 "Business case of stakeholder cooperation unrealistic when considering input"
It seems to me that something goes wrong in my business case. The part I'm focussing up now is the stakeholder cooperation, which has one PV plant.
The other part of the business case is less relevant now as I'm still tuning the load, and not all stakeholders have been defined properly.

### Summary
I have initial investment of 7 million euro, O&M of 10,000 euro. My business case gives yearly spen

[2016-07-08 07:50] ChaelKruip commented on #1226
@antw can you pik this up with priority?

[2016-07-08 07:51] JeroenvdLogt commented on #1201
![image](https://cloud.githubusercontent.com/assets/7781037/16680792/7322da94-44f1-11e6-9993-b23e180a4a58.png)
https://www.enexis.nl/Documents/kwaliteit-en-capaciteit/enexis-kwaliteit-en-capaciteit-2012-2021-g-deel-1.pdf
Overview from Enexis document about quality and capacity of their networks

[2016-07-08 08:00] JeroenvdLogt commented on #1201
Seems to be a bit fuzzy to me. Let's see what the "Aansluit en transportcode gas RNB" says:
"2.1.1.9
Leidingen ten behoeve van de aansluiting voldoen aan de volgende technische normen:

a. NEN 1059:2010 “Nederlandse editie op basis van NEN-EN 12186 en NEN-EN 12279 – Gasvoorzieningssystemen – Gasdrukregelstations voor transport en distributie”;
b. NEN-EN 1594:2009 “Gasvoorziening – Leidingsystemen

[2016-07-08 08:03] JeroenvdLogt commented on #1201
"Deel 5" is about pipes up to 200 mbar. So it's a maximum and says nothing about operation.
"Deel 10" is about metering and not in consideration within the issue we're talking about right now.

As far as I can oversee whe should use 125 mbar.

[2016-07-08 08:23] ChaelKruip commented on #1187
The heat network is modelled purely energetically. So, temperature is not calculated at the moment. Moreover, as far as I understand, the infrastructure is not likely to be the limited factor for a heat network but rather the rate at which extracted heat can be replaced (leading to possible deficits). This is what the heat chart communicates to the user.

[2016-07-08 08:23] #1187 closed

[2016-07-08 08:23] ChaelKruip commented on #1187
If this does not answer your question, please re-open.

[2016-07-08 08:33] DorinevanderVlies opened #1227 "Exported CSV has fills parameters that should be empty"
### Summary
In this [LES](https://beta-moses.energytransitionmodel.com/testing_grounds/600/edit) the interface was used to make a technology profile.
The exported CSV has values to some parameters which, I think, should be empty.
I don't think this extra parameters lead to bugs, but it is confusing for me as a user.

### Details
A buffer itself should not be attached to a buffer. And a water heati

[2016-07-08 08:41] grdw opened #1228 "Demand/volume/capacity of technologies is reduced / multiplied when toggling concurrency"
As specified by @antw  in [this pull request](https://github.com/quintel/etmoses/pull/1216#issuecomment-231099936)

[2016-07-08 09:00] dennisschoenmakers commented on #540
*Comment from Airbrake:* Resolved [error](https://quintel.airbrake.io/projects/111227/groups/1534704988711271017) reoccurred.

[2016-07-08 09:06] grdw commented on #1134
But shouldn't the percentages be replace by sliders? I'm ok with finding a way to do this. But if someone specifies the first row percentage as 0.5. The second should also have 0.5. And the third one should have zero etc. I'm going to investigate a little and let you know if it's easy or hard to fix.

[2016-07-08 09:07] ChaelKruip commented on #1074
can this be closed @grdw?

[2016-07-08 09:32] ChaelKruip commented on #1134
Yes! If that is not too hard to do sliders would have my strong preference. @antw has a lot of experience with sliders he might be able to help :)

[2016-07-08 09:40] antw commented on #1226
This happens because all the gas infrastructure is assigned to the co-operation. In a local copy of the LES I reassigned the infrastructure to the "aggregator", and then the co-operation costs drop to the expected €290k.

<img width="668" alt="screen shot 2016-07-08 at 10 39 34" src="https://cloud.githubusercontent.com/assets/4383/16683538/5466c2a8-44f8-11e6-96a1-e598c3dceb9b.png">

I'm not entire

[2016-07-08 10:05] ChaelKruip commented on #1226
I think that the FLHs come from ETEngine. Perhaps we should base the FLHs on the profile that the user specifies. This would make this more consistent.

[2016-07-08 10:10] ChaelKruip opened #1229 "The default stakeholder should be the system operator for all infrastructure (heat and gas)"
Can you pick this up with some priority? This is easy to fix and leads to confusion now (see for example https://github.com/quintel/etmoses/issues/1226).

[2016-07-08 10:10] ChaelKruip commented on #1226
This is related to https://github.com/quintel/etmoses/issues/1229

[2016-07-08 10:10] #1226 closed

[2016-07-08 10:12] ChaelKruip opened #1230 "Base the FLHs on the profile that the user specifies"
From the profile, it is clear what the FLHs for the technology are.

[2016-07-08 10:32] JeroenvdLogt commented on #1201
I will adress this issue at our internal gasexperts and let you know when I have some answer.

[2016-07-08 10:51] #1229 closed

[2016-07-08 11:00] Sanne512 commented on #1201
The numbers for the low pressure infrastructure are based on pipes ranging between 100 and 200 mbar. In Liander 100 mbar is used for aggregating these pressure levels, while at Enexis 125 mbar is being used. Since Liander uses 100 mbar this has my preference, but both ways are correct as long as it is documented clearly.

[2016-07-08 11:10] ChaelKruip commented on #1201
I don't really have an opinion but it would be easiest to leave it at 125 mbar as this is what we currently use in the interface. The value is not used for calculation so it doesn't affect the outcomes anyway.

[2016-07-08 11:31] ChaelKruip opened #1231 "Are the heat source capacities properly scaled?"
Looking at the heat chart I see that geothermal only produces 370.6 kW (I think, as the axes has no label):
![etmoses](https://cloud.githubusercontent.com/assets/1303760/16686110/1aca28ce-4510-11e6-8863-30f9036d2c50.png)

In the source table I have installed 100 units of 3.7 MW = 370 MW:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/16686134/4ac26fe6-4510-11e6-9e6c-0088a9d12d48.png

[2016-07-08 11:33] antw commented on #1231
Indeed. I'll fix it...

[2016-07-08 11:47] antw commented on #1231
Is there a reason why we use MW there when the rest of the application uses kW?

The unit is also incorrect for costs which all specify `kEUR` but in fact the business case shows that the numbers are just being treated as `EUR`. I have a pipe with investment costs of €1,200,000, lifetime of 50 years, and O&M costs of €12,000. In the business case, the price shown is €36,000.

Was there a decision

[2016-07-08 12:32] ChaelKruip commented on #1231
I think the numbers would be too big to display conveniently in kW, so the table shows it in MW. Perhaps that is why it is stored in MW as well?

Yes please!

[2016-07-08 12:34] DorinevanderVlies opened #1233 "Business case does not load"
The business case of my [LES](https://beta-moses.energytransitionmodel.com/testing_grounds/605/business_cases/366) does not load.

![image](https://cloud.githubusercontent.com/assets/19907658/16687392/a32faba0-4518-11e6-9a04-bd14e57ddb8e.png)

The network is working. And, as far as I can see, are all the stakeholders and nodes mentioned in the market model assigned in the topology.

![image](https

[2016-07-08 12:40] #1122 closed

[2016-07-08 12:40] #1233 closed

[2016-07-08 12:44] jorisberkhout commented on #1162
Closed by https://github.com/quintel/etmoses/wiki/Buffers/870d9b1c8dab6fdaf219bccb7ab356d845f6a380.

[2016-07-08 12:44] #1162 closed

[2016-07-08 12:44] jorisberkhout commented on #1189
Closed by https://github.com/quintel/etmoses/wiki/Buffers/870d9b1c8dab6fdaf219bccb7ab356d845f6a380.

[2016-07-08 12:44] #1189 closed

[2016-07-08 12:55] jorisberkhout commented on #1201
I have updated the documentation to reflect the fact that we use `125 mbar` for now (see https://github.com/quintel/etmoses/wiki/Gas-network/5381a346a8d10eb48e9d50bce6258f412778adbb). I am closing this issue because I think the question is answered.

Please open a new, actionable issue, if you that the value needs to be changed to `100 mbar`.

[2016-07-08 12:55] #1201 closed

[2016-07-08 12:58] jorisberkhout commented on #1183
I have included a short description of the technologies that are currently exported in https://github.com/quintel/etmoses/wiki/Quick-start-guide#scale-the-testing-ground-scenario-up-to-national-size. I also added a link to issue #1107 , such that the readers of the documentation can keep track of the current status. Considering the documentation part of this done. Closing.

[2016-07-08 12:58] #1183 closed

[2016-07-08 13:09] MarjoleinSchwachofer opened #1234 "The second picture of the heat network is incorrect and should be changed"

[2016-07-08 13:12] jorisberkhout commented on #969
Done with https://github.com/quintel/etmoses/wiki/Technologies/734bfac5c4e18eb0cce7037bce090ac5600c1bfc and https://github.com/quintel/etmoses/wiki/Business-cases/f1789cc91f2ed7f3c6af3216565ef2522c2e9f2e.

Closing.

[2016-07-08 13:12] #969 closed

[2016-07-08 13:15] jorisberkhout commented on #1234
Closed by https://github.com/quintel/etmoses/wiki/Heat-network/c347b085cc16723bc095a0bdf5e1f706b00bcd28.

[2016-07-08 13:15] #1234 closed

[2016-07-08 13:23] jorisberkhout commented on #1206
Added to the documentation in https://github.com/quintel/etmoses/wiki/Gas-network/c44e7f2c348b208d1ed655ea9a74f31960495eee. Closing.

[2016-07-08 13:23] #1206 closed

[2016-07-08 13:24] MarjoleinSchwachofer opened #1235 "missing documentation on heat networks"
In the heat section under modelling approach, I still miss some explanation on how the heat network is modelled. More explanation about things like:
- topology of primary and secundary (transport and distribution) network , difference
- capacities of network
- calculation:
   * if temperatures are used in calculation
  *  if losses are taken into account
- How connections of the heat network are a

[2016-07-08 13:29] jorisberkhout commented on #893
With great help from @MarjoleinSchwachofer , I have given the documentation of ETMoses a big push in the right direction. The result can be found at the [ETMoses Wiki](https://github.com/quintel/etmoses/wiki).

As ETMoses is constantly developing, so needs the documentation to do the same. The nice thing about the Wiki is that every ETMoses team member can edit the Wiki directly. I would suggest t

[2016-07-08 13:29] jorisberkhout commented on #893
Closing this issue.

[2016-07-08 13:29] #893 closed

[2016-07-08 13:31] dennisschoenmakers opened #1236 "[Airbrake] [Staging] undefined method `symbolize_keys' for "#<InstalledGasAsset:0x007ff74aecbb18>":String"
**Airbrake error:** [#3473](https://quintel.airbrake.io/projects/111227/groups/1725375173498483473)
**Airbrake project:** ETMoses

**Error type:** `NoMethodError`
**Error message:** `` undefined method `symbolize_keys' for "#<InstalledGasAsset:0x007ff74aecbb18>":String ``
**Where:** `gas_asset_lists#update`
**Occurred at:** Jul 08, 2016 13:30:52 UTC
**First seen at:** Jul 08, 2016 13:30:52 UTC
**O

[2016-07-08 14:49] antw commented on #1231
Will do.

The must-run production value appears to also be incorrect. It takes the value in PJ [from the query](https://github.com/quintel/etsource/blob/master/gqueries/modules/etmoses/etmoses_must_run_heat_for_households_from_central_heat_network.gql) (the query unit is specified as MJ but [the "upstream" query returns PJ](https://github.com/quintel/etsource/blob/master/gqueries/output_elements/o

[2016-07-08 14:55] ChaelKruip commented on #1231
Well spotted! Shall I fix these queries? What unit would the ETE output be in ideally?

[2016-07-08 14:58] ChaelKruip commented on #1182
Assigning @grdw

[2016-07-08 14:59] antw commented on #1231
I suppose that [the Moses query](https://github.com/quintel/etsource/blob/master/gqueries/modules/etmoses/etmoses_must_run_heat_for_households_from_central_heat_network.gql) should either specify the unit as `PJ`, or multiply the value by a billion to convert back to `MJ`. My preference would be for the latter, but I don't mind either way.

[2016-07-08 15:07] ChaelKruip commented on #1231
Done! https://github.com/quintel/etsource/commit/8e032f5ada9310302116547d9a519b85e2154c0b

[2016-07-08 15:14] #1043 closed

[2016-07-08 15:15] grdw commented on #1043
Fixed as by PR https://github.com/quintel/etmoses/pull/1088

[2016-07-09 15:08] dennisschoenmakers opened #1238 "[Airbrake] [Staging] Invalid :protocol option: "http://https://""
**Airbrake error:** [#1193](https://quintel.airbrake.io/projects/111227/groups/1726149006463581193)
**Airbrake project:** ETMoses

**Error type:** `ArgumentError`
**Error message:** `` Invalid :protocol option: "http://https://" ``
**Where:** `devise/passwords#create`
**Occurred at:** Jul 09, 2016 15:08:40 UTC
**First seen at:** Jul 09, 2016 15:08:40 UTC
**Occurrences:** 1 (1 since last deploy on

[2016-07-09 15:32] antw commented on #1231
I have updated the units used in the heat source lists, fixed the import attribute classes to convert to the new units, and migrated old LESes.

1. Must-run central heat was importing heat demand from ETEngine as MJ (as is standard) but did not convert that value to kWh.

2. Some prices were labelled with an absurd kEUR unit (kEUR/kW would be better expressed as EUR/MW, and kEUR/MW as EUR/GW). Des

[2016-07-09 15:39] #1238 closed

[2016-07-10 17:20] ChaelKruip commented on #1205
Closing because duplicate of #1090

[2016-07-11 09:01] dennisschoenmakers opened #1239 "Make sure documentation also covers starting a LES from scratch *without* etmodel"
Requested by Hans Verberne.

Cc @JorisBerkhout, @ChaelKruip

[2016-07-11 09:15] dennisschoenmakers opened #1240 "Validation using time resolved information on connection to Ameland"
For gas and electricity

For multiple years, including warm and cold winters

[2016-07-11 10:08] antw commented on #1227
This is not a problem with the CSV export; there really are buffers assigned to belong to other buffers. I have no idea what effect this will have on the load, nor how it could have happened. Perhaps it's a bug in the concurrency settings, or a bad CSV file was used to create the list of technologies?

[code]

I think I'll move to issue to the "Input validation" milestone as a reminder to myself t

[2016-07-11 10:15] antw commented on #1220
If you choose "Edit LES" and make changes to the market model there, your changes are saved to a copy of the market model rather than to the original (so as not to change other LESes which use the same market model). If you save your changes and then refresh the page, you'll find that it is now called something like "Default Market Model - Clone 1".

I think there might be value to a "Save as" fea

[2016-07-11 10:17] #1118 closed

[2016-07-11 10:28] #1125 closed

[2016-07-11 11:12] DorinevanderVlies commented on #1220
copy of the market model rather than to the original

Thanks, currently I indeed use that workaround.

Agree, I think this would be useful for both topology and market model

[2016-07-11 11:44] DorinevanderVlies opened #1242 "How to define my market model to pay for imported electricity?"
## Aim / situation
I have a [LES](
In my business case I want to see how much the supplier pays the producer for the produced energy (electricity and gas).
) with a large PV plant. In my business case I want to see how much the supplier pays the producers for the produced energy (electricity and gas).

So, in my business case I want
- the supplier to pay the PV plant for all electricity that is pr

[2016-07-11 12:46] antw commented on #1242
If you insert another node between the HV and MV networks and assign it to a new stakeholder, I believe you will be able to use "kWh of electricity produced" measure to determine how much energy flows through it from the HV network.

[2016-07-11 12:54] DorinevanderVlies opened #1243 "My profile curve differs from my load curve"
## Problem/question
In my [LES](https://beta-moses.energytransitionmodel.com/testing_grounds/611) I do not see the shape of my demand curve for hot water which is supplied by electrical heating represented in my "household water heater electricity" curve.

## Suspicion
I have a suspicion that the capacity of my electrical water heater might be insufficient to supply the peaks. Is my demand not sat

[2016-07-11 13:03] DorinevanderVlies commented on #1242
Thanks! I think this will work indeed.

It feels a bit like a workaround though. I prefer my nodes to represent physical entities.
I can imagine that in a more complicated topology more problems like this one will arise (for example if one stakeholder has different euro/kWh for different nodes). Filling up the topology with "dummy nodes" feels a bit devious.
@antw what is your opinion?

[2016-07-11 14:12] ChaelKruip opened #1245 "Heat demand query needs to exclude non-modelled technologies"
[This query](https://github.com/quintel/etsource/blob/master/gqueries/modules/etmoses/etmoses_space_heating_buffer_demand.gql) currently exports all space heating demand to ETMoses. This has to be refined.

Check if this is also the case for hot water!

[2016-07-11 14:15] DorinevanderVlies opened #1246 "Assign highest pressure level of gas network to top node for implementation in market model."
Right now it is difficult to create a market model in which the producer of gas is paid.
The amount of gas that is produced as gas is not attached to nodes of the topology.

The consumption of the end node cannot always be used as a measure for the total produced gas, as some of the load may be supplied by local production.

An idea would be to assign the amount of gas that comes out of the highes

[2016-07-11 14:49] ChaelKruip commented on #1243
In the [heat load chart](https://beta-moses.energytransitionmodel.com/testing_grounds/611/heat_load) you can see the production deficit.

Is this the same node as where the gas-technologies are? Perhaps the gas-techs are supplying the peaks?

[2016-07-11 15:26] DorinevanderVlies commented on #1243
So, no deficits :-).

As there are two different buffers with both one technology, but the same load, I don't think the gas can supply the peaks for both buffers.

[2016-07-12 07:19] DorinevanderVlies opened #1247 "Add option to view whole year to heat load chart"
Right now there is just a weekly view possible for the heat load chart.
To make it more easy to find deficits a "whole year" option would be nice.

[2016-07-12 07:19] DorinevanderVlies commented on #1247
cc @dennisschoenmakers

[2016-07-12 07:22] DorinevanderVlies commented on #1243
I did find some deficits in summer.
Do you think they are the reason I'm not seeing the shape of the demand curve?

![image](https://cloud.githubusercontent.com/assets/19907658/16758485/14cb1f3c-4812-11e6-8756-fd2ae23baf24.png)

[2016-07-12 07:23] grdw commented on #1134
The stakeholder defaults are fixed by: https://github.com/quintel/etmoses/blob/master/app/services/heat_asset_lists/asset_list_generator.rb#L37

The percentage of heat connections will be replaced by sliders.

[2016-07-12 07:23] #1134 closed

[2016-07-12 07:26] DorinevanderVlies opened #1248 "Add aggregated hot water profile(s)."
As far as I can see, the current hot water profiles are for individual households.

It would be nice to have a/some aggregated profile(s).

Especially when scaling up the peaks become unrealistically high, leading to deficits which I think in real life will not occur. Splitting the demand over more buffers is an option, but right now quite a lot of effort.

cc @dennisschoenmakers

[2016-07-12 07:53] ChaelKruip opened #1249 "Double counting in ETMoses"
Currently, we model hot water and space heating separately. This has several unwanted side-effects:
* The investment and O&M costs are payed twice by the stakeholder
* The buffer-size is fully available for both applications
* The capacity of both technologies can be deployed simultaneously

To really solve this in an elegant way, we need to merge space heating and hot water combi-options in the E

[2016-07-12 07:56] ChaelKruip commented on #1243
Could be! Try installing more capacity (one very big electric water heater) and see if you get the right peaks?

[2016-07-12 07:58] ChaelKruip commented on #1248
@jorisberkhout can you help me do this? You made the original profiles and I remember you also have an aggregated curve (basically the probability distribution for domestic hot water use).

[2016-07-12 08:03] DorinevanderVlies commented on #1243
Yes, it's working!

I think my standard water heater should have enough capacity to fulfil normal individual demand . So, with an aggregated curve the problem of deficit should be solved (see #1248).

![image](https://cloud.githubusercontent.com/assets/19907658/16759511/9cd1fe82-4817-11e6-91dc-ea29056b7bee.png)

[2016-07-12 08:03] #1243 closed

[2016-07-12 08:10] ChaelKruip commented on #1247
Assigning @antw to pick this up if there is time.

[2016-07-12 08:11] ChaelKruip commented on #1246
Assigning @antw for when there is time.

[2016-07-12 08:14] ChaelKruip commented on #1242
Closing this as the original question has been answered.

[2016-07-12 08:14] #1242 closed

[2016-07-12 08:15] ChaelKruip commented on #1240
If I have a 15 minute resolution for these connections I can do this. I have no idea where to find these though...

[2016-07-12 09:16] #1178 closed

[2016-07-12 09:31] #1126 closed

[2016-07-12 10:59] ChaelKruip commented on #1132
Can this be closed @grdw @antw?

[2016-07-12 11:00] Sanne512 opened #1250 "Reset heat infrastructure"
It would be nice to a have a button to reset the heat infrastructure to the orginal values of the LES.

[2016-07-12 11:14] Sanne512 opened #1251 "Buffer in heat infrastructure"
It would be nice if the user can add a heat buffer in the heat infrastructure.

[2016-07-12 11:17] Sanne512 commented on #1151
I've added two wishes to the low priority list:

and

[2016-07-12 11:28] ChaelKruip commented on #1251
Do you mean that this buffer should represent the buffer-size of the heat infra?

[2016-07-12 11:49] ChaelKruip opened #1252 "Capacities should get physically meaningful names"
Related to https://github.com/quintel/etmoses/issues/805 and https://github.com/quintel/etmoses/issues/799.

The current names create a lot of confusion and errors. I think that it would be worth the effort to align the terms across ETE and ETMoses.

First, I believe that we should distinguish between `input_capacity` and `output_capacity` perhaps even with carrier attached (as in `gas_input_capac

[2016-07-12 11:54] jorisberkhout commented on #1248
Yes! By when do you need this, @DorinevanderVlies ?

[2016-07-12 11:56] jorisberkhout commented on #1239
As far as I understand this is not technically possible yet. Details are discussed in https://github.com/quintel/etmoses/issues/1179.

[2016-07-12 11:58] Sanne512 commented on #1050
What's the status?

[2016-07-12 12:13] grdw commented on #1182
This problem is fixed together with https://github.com/quintel/etmoses/pull/1241

[2016-07-12 12:13] #1182 closed

[2016-07-12 12:47] DorinevanderVlies commented on #1248
Thanks!
This week would be awesome. Next week Tuesday latest.

[2016-07-12 12:59] Sanne512 opened #1254 "Peak loads in weekly and yearly load curve do not correspond"
In the folowing LES: https://moses.energytransitionmodel.com/testing_grounds/477 the electricity load with capacities do not correspond in the weekly and yearly view:

When you look at the weekly view of 16-22 July, see picture below, you can clearly see that the electricity load with strategies exceeds the capacity of the MSR.
![bug buurtbatterij week vs jaar load week](https://cloud.githubuserco

[2016-07-12 13:19] DorinevanderVlies opened #1255 "Add aggregate space heat demand profile for detached houses with low isolation."
For the Ameland scenario an aggregated load profile which represents detached households with low isolation would be very useful.

@ChaelKruip could you provide this?
cc @dennisschoenmakers

[2016-07-12 13:28] DorinevanderVlies opened #1256 "Make all space heat profiles available for beta server"
Currently there are more load profiles for space heating on the live than on the beta server.
It would be nice if all profiles become available on the beta server.

**Live server:**
![image](https://cloud.githubusercontent.com/assets/19907658/16768527/fc097f7e-4844-11e6-849a-4b9ec1b5b62a.png)

**Beta server:**
![image](https://cloud.githubusercontent.com/assets/19907658/16768491/e1ca9a80-4844-11e6

[2016-07-12 14:30] ChaelKruip commented on #1050
This will be picked up in the current sprint. I have increased its priority but it would still be useful to know if you need this at a certain time.

[2016-07-12 14:31] ChaelKruip commented on #1249
Including @antw @dennisschoenmakers @grdw @jorisberkhout @AlexanderWirtz @DorinevanderVlies

[2016-07-12 14:58] grdw commented on #736
The following technologies don't have an `export_to` value:

[code]

[2016-07-12 15:18] grdw commented on #1249
Is this for every technology that has a distinction between hot water and space heating? Or are we just talking buffers?

[code]

[2016-07-12 15:20] ChaelKruip commented on #1249
Yes.

Every household has two buffers now. But connected to these buffers are technologies. I don't understand the question or the confusion 😕

[2016-07-12 15:53] ChaelKruip commented on #1255
I have taken the NEDU gas-consumption profile for 'kleingebruikers' (see the first five days):
![screenshot_12_07_16_17_49](https://cloud.githubusercontent.com/assets/1303760/16773765/7703c2fc-4859-11e6-9c92-a4378142dfb5.png)

It is quite spiky still but I don't have anything better at the moment...

[2016-07-12 18:34] jorisberkhout commented on #1235
Closed with https://github.com/quintel/etmoses/wiki/Heat-network/4e668e829a37d563265a87bf0ecb08c530d84159.

Could you have look @MarjoleinSchwachofer . Please re-open if you think more documentation should be added.

[2016-07-12 18:34] #1235 closed

[2016-07-13 06:50] DorinevanderVlies commented on #1255
Thanks!

Would you say it's overall more smooth than the current profiles? For example "Vrijstaand Hoog"?

![image](https://cloud.githubusercontent.com/assets/19907658/16794240/c9a4b4da-48d6-11e6-90d9-f4fa4eb2a893.png)

[2016-07-13 08:26] ChaelKruip commented on #1255
I have uploaded one new profile: the [total gas consumption](https://beta-moses.energytransitionmodel.com/load_profiles/427):
![etmoses](https://cloud.githubusercontent.com/assets/1303760/16796659/255c472c-48e4-11e6-8217-bdd8c2d4c172.png)

[2016-07-13 08:27] ChaelKruip opened #1257 "Deleting a profile gives me an error:"
![the_page_you_were_looking_for_doesn_t_exist__404_](https://cloud.githubusercontent.com/assets/1303760/16796725/69682f1c-48e4-11e6-9ea4-34c5f43b7120.png)

[2016-07-13 08:32] Sanne512 opened #1258 "Default financial profiles"
When you're creating a new market model there are three financial profiles available when selecting "price curve". Will these also be explained in the documentation just as the technological profiles?

[2016-07-13 08:34] grdw commented on #736
The fuel cell CHP is currently not enabled in the technology matrix. Should we add an `export_to` attribute anyway or should we leave it blank for now and when we make it visible, add the `export_to` attribute?

@ChaelKruip

[2016-07-13 08:52] ChaelKruip commented on #736
Whatever you think will give us least problems later on. Adding it now will lessen the chance of forgetting to add it later. I don't know if that has some unwanted side-effects though.

[2016-07-13 08:56] ChaelKruip commented on #1256
@grdw @antw is there an easier way to get these profiles to BETA than manually uploading them?

[2016-07-13 09:00] grdw commented on #736
Yes it does. And stating that it's already rejected from importing and invisible in the front-end I think adding the `export_to` attribute won't do any harm for now 👍

[2016-07-13 09:22] ChaelKruip commented on #1248
I've uploaded [a profile for hot water](https://beta-moses.energytransitionmodel.com/load_profiles/428) taken from the BDH scenariotool:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/16798342/e002cc2a-48eb-11e6-8588-c6410d62e881.png)

This profile is less peaked and should be not too far off from the truth. Closing

[2016-07-13 09:22] #1248 closed

[2016-07-13 09:32] ChaelKruip commented on #1255
Closing.

[2016-07-13 09:32] #1255 closed

[2016-07-13 10:06] grdw commented on #1256
Hmm, not really... Paperclip uses the database ID to associate the CSV file with the load profile row in the database. So manually copying them over from the staging database to prodcution will do more harm than good. I guess that we'd need to write some sort of script to do this nicely.

[2016-07-13 10:25] ChaelKruip opened #1260 "Buffers should not be categorised as electric technologies in profile upload selector"
![screen shot 2016-07-13 at 10 22 10](https://cloud.githubusercontent.com/assets/1303760/16800285/cc8c5022-48f4-11e6-95f7-6680748efcd6.png)

[2016-07-13 10:36] antw opened #1261 "Cached consumption in Technologies::Buffer results in oversupply of heat"
`Technologies::Buffer` caches its [mandatory](https://github.com/quintel/etmoses/blob/7a9c55e4b1b0da1c5fb8e0bd084e67e0824c6631/app/models/network/technologies/buffer.rb#L41) and [conditional consumption](https://github.com/quintel/etmoses/blob/7a9c55e4b1b0da1c5fb8e0bd084e67e0824c6631/app/models/network/technologies/buffer.rb#L57) after the first call. This is necessary so that the calculator can [

[2016-07-13 11:29] grdw opened #1262 "Model the hybrid heat pump as a single technology"
The hybrid heat pump is now modelled as two separate technologies. A gas part and an electricity part. This is only necesarry for the load calculation. In the front-end and in the database I'd like to only save the fact that there is a 'hybrid heat pump' for space heating or water heating. When calculating we can split it up in two separate parts. Much like once said in this [issue](https://github

[2016-07-13 11:29] grdw commented on #1262
CC @ChaelKruip

[2016-07-13 11:37] ChaelKruip commented on #1256
Closing this as the profiles have been uploaded.

[2016-07-13 11:37] #1256 closed

[2016-07-13 11:38] ChaelKruip opened #1263 "Alphabetic sorting for profiles"
Currently not on BETA:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/16802123/1d02d094-48ff-11e6-8f20-95276f70dc81.png)

[2016-07-13 12:21] #1231 closed

[2016-07-13 12:40] grdw opened #1264 "Fixing export percentages per share group"
Right now it's possible to add more than 100% of technologies for a certain share group. This should not be possible because ETEngine doesn't know how to cope with this (it will result in a 422 when exporting).

**The nice fix:**
Group the ETEngine inputs by the share group and filter them to the technologies specified in your les. Sum those percentages per share group and check if it's higher tha

[2016-07-13 13:41] ChaelKruip commented on #1245
Ok, it actually takes this properly into account already. I overreacted. Sorry.

[2016-07-13 13:41] #1245 closed

[2016-07-13 14:15] antw commented on #1051
Is it genuinely useful to have a measure which says "stakeholder one" pays "stakeholder two" for heat produced by technologies owned by "stakeholder three"? Or does it suffice to price the heat by the marginal cost of the producer, and show that as a cost for the associated stakeholder (much like other costs which aren't explicitly defined in the market model)?

The reason I ask is that this measu

[2016-07-13 14:16] ChaelKruip commented on #1258
At the moment these are not well researched. I think that two of them have been created by @JeroenvdLogt . I could write something about them but I'm not sure what it would add for the user.

[2016-07-13 14:21] ChaelKruip commented on #1258
I have added a line in the documentation about day-night profiles but this part of the model is very volatile (as users can add their own profiles) so the documentation is hard to keep up-to-date. Closing.

[2016-07-13 14:21] #1258 closed

[2016-07-13 14:59] Sanne512 commented on #1258
This, or something similar that states that the available profiles are created by users and not provided by Quintel, is also a valuable addition to the wiki and would provide more clarity

[2016-07-13 16:05] Sanne512 commented on #1251
Yes!

[2016-07-14 06:34] dennisschoenmakers commented on #1249
I strongly agree. We should try to fix it in the ETM to start with.

[2016-07-14 07:00] ThomBuijs opened #1265 "Explanation of compressor is missing in user interface documentation of gas asset"
In the gas asset list you can choose different compressors. However I am missing documentation about this since, at least for me, it was not clear that in order to choose a compressor connected at 125 mbar, you need to set the pressure level at 0.125 (bar). I think it would be nice to add this. I'm assigning @jorisberkhout.

[2016-07-14 07:22] ChaelKruip commented on #1051
I'm afraid so yes. We need to be able to give subsidies to a stakeholder based on its heat production for example.

Could we not add some 'virtual nodes' to the topology: one for every source of heat?

We could even show them in the topology and make them clickable at some point (show the load of that source):
![etmoses](https://cloud.githubusercontent.com/assets/1303760/16831288/7a18d9a4-49a4-11e

[2016-07-14 08:47] Sanne512 commented on #1151
@ChaelKruip : Should https://github.com/quintel/etmoses/issues/1158 and https://github.com/quintel/etmoses/issues/1110 be part of the "bugs, fixes and stability" list?

[2016-07-14 10:07] grdw opened #1266 "Gas load charts on the network should be rendered on a per week basis like the heat load chart"
* The gas load chart "Load on the gas network" should be rendered the same as the Heat load chart.
* The Yearly gas load chart should not render unless explicitly desired by the user.

[2016-07-14 10:07] ChaelKruip commented on #1110
@grdw @antw what is the status of this?

[2016-07-14 10:07] ChaelKruip commented on #1158
@grdw is this still an issue? If so, what is the status?

[2016-07-14 10:18] antw opened #1267 "Discussion: Add button to "split" technologies; replace concurrency"
[As suggested here](https://github.com/quintel/etmoses/pull/1216#issuecomment-231333920), I'd like to propose a "Split" button as a replacement for the concurrency options we have today.

The idea is that any technology with two or more `units` can be split into two separate technologies, with half the number of units each.

For example, if we have a Household with 4 units:

... the visitor may hi

[2016-07-14 10:25] dennisschoenmakers commented on #1267
I agree about that '...' button which is mysterious. Why not use *one* button that reads: Split, then you get that dialogue:

![image](https://cloud.githubusercontent.com/assets/104830/16836429/c12b921e-49bd-11e6-959a-b1fb24bedbe6.png)

Default should be 2 (what if it is not divisible by 2? 😒 ) or the last chosen number. Disadvantage is a standard 'two click', but I wouldn't be bothered too much a

[2016-07-14 10:39] antw commented on #1051
Thanks for that, I'll get to work on the changes.

While our graph library is perfectly capable of that, much of Moses is predicated on the network being a tree. Orphaned nodes will likely cause problems elsewhere, and would require extra book-keeping during the calculation (to duplicate the load of the heat producers onto these nodes).

[2016-07-14 10:41] antw commented on #1267
Round one up, round one down. `units=3` => `units=2` + `units=1`.

[2016-07-14 11:08] ChaelKruip commented on #1267
I ❤️  the ideas in this post!

Auto-select a new one. This is the reason why people might want to split anyway.

I am not sure about this one. Perhaps not at first but heating is an important part of the load and being able to change concurrency of that is worth some effort IMO.

Yes. I think that we need to have an option to split into more groups than two. I like @dennisschoenmakers suggestion.

[2016-07-14 11:17] grdw commented on #1110
This is already merged; this can be closed.

[2016-07-14 11:17] #1110 closed

[2016-07-14 11:36] ChaelKruip commented on #1266
I think some context to this issue would help:

Currently, the yearly gas load chart causes a server time-out for large LESses (https://github.com/quintel/etmoses/issues/1050 and others). This renders the whole gas-load chart useless for such LESses.

Possible ways to improve the situation:
* Show gas load in a weekly-only chart (like the one for heat)
* Move the yearly chart to another place wher

[2016-07-14 12:05] antw commented on #1266
I think this relates to #1083, which is that any action involving a calculation should go through a dedicated CalculationController, and accept parameters such as `range_start`, `range_end`, and `resolution`. This way, network load, gas load, and heat load would all have an identical API (and hopefully be able to use `Poller` on the front-end to wait for a calculation to complete).

In the short-t

[2016-07-14 12:08] ChaelKruip commented on #1266
Let's do that first indeed. 👍

[2016-07-14 12:36] dennisschoenmakers opened #1268 "[Airbrake] [Staging] undefined method `amount' for #<InstalledGasAsset:0x007f5a8f106c38>"
**Airbrake error:** [#5900](https://quintel.airbrake.io/projects/111227/groups/1729696179285375900)
**Airbrake project:** ETMoses

**Error type:** `NoMethodError`
**Error message:** `` undefined method `amount' for #<InstalledGasAsset:0x007f5a8f106c38> ``
**Where:** `testing_grounds#edit`
**Occurred at:** Jul 14, 2016 12:35:04 UTC
**First seen at:** Jul 14, 2016 12:35:04 UTC
**Occurrences:** 1 (1

[2016-07-14 12:37] dennisschoenmakers opened #1269 "[Airbrake] [Staging] undefined method `total_yearly_costs' for #<InstalledHeatAssetPipe:0x007fe71c6d6d60>"
**Airbrake error:** [#4371](https://quintel.airbrake.io/projects/111227/groups/1729697056121404371)
**Airbrake project:** ETMoses

**Error type:** `NoMethodError`
**Error message:** `` undefined method `total_yearly_costs' for #<InstalledHeatAssetPipe:0x007fe71c6d6d60> ``
**Where:** `<no information>`
**Occurred at:** Jul 14, 2016 12:36:49 UTC
**First seen at:** Jul 14, 2016 12:36:49 UTC
**Occurre

[2016-07-14 12:37] dennisschoenmakers opened #1270 "[Airbrake] [Staging] undefined method `reject' for nil:NilClass"
**Airbrake error:** [#2418](https://quintel.airbrake.io/projects/111227/groups/1729697075658472418)
**Airbrake project:** ETMoses

**Error type:** `NoMethodError`
**Error message:** `` undefined method `reject' for nil:NilClass ``
**Where:** `business_cases#render_summary`
**Occurred at:** Jul 14, 2016 12:36:51 UTC
**First seen at:** Jul 14, 2016 12:36:51 UTC
**Occurrences:** 1 (1 since last deplo

[2016-07-14 13:02] Sanne512 opened #1271 "Solar capping doesn't work"
In the LES Lunch and Learn - Buurtbatterij https://moses.energytransitionmodel.com/testing_grounds/512 solar capping doesn't work. I selected solar capping and put the slider on 100%, but as you can see in the picture below it eliminates the load on the demand side and not on the supply side as it should.

![bug solar capping 20160714](https://cloud.githubusercontent.com/assets/17741822/16840220/c

[2016-07-14 13:46] ChaelKruip commented on #1271
Assigning @antw

[2016-07-14 13:46] antw commented on #1138
Shared buffer volume is blank. Should default to 0.0.

[2016-07-14 13:51] antw commented on #1271
Here's the weekly load for 3rd July.

| Capping off | Capping on; 100% |
| --- | --- |
| <img width="571" alt="screen shot 2016-07-14 at 14 49 58" src="https://cloud.githubusercontent.com/assets/4383/16841698/5412b13e-49d2-11e6-93b5-f574fca00107.png"> | <img width="589" alt="screen shot 2016-07-14 at 14 49 47" src="https://cloud.githubusercontent.com/assets/4383/16841701/5752de96-49d2-11e6-8e0b-e5

[2016-07-14 13:51] #1271 closed

[2016-07-14 13:53] grdw commented on #1269
This is the delayed job handler freaking out because of the changes in #1237.

Maybe we should merge these changes on a more quiet moment.

[2016-07-14 13:58] #1269 closed

[2016-07-14 13:58] #1270 closed

[2016-07-14 13:59] #1268 closed

[2016-07-14 14:04] grdw opened #1273 "Question: why doesn't this gas load range code work as it should?"
I am currently struggling really badly with these [lines](https://github.com/quintel/etmoses/blob/issues/%231266-gas-chart/app/controllers/calculation_controller.rb#L8-L15).

To explain it as easily as I can, when you select a week which isn't '01 January - 07 January' than all the gas loads reduce to 0.0. The thing is, `gas_network` comes down quiet okay (I see all the loads for any random week).

[2016-07-14 14:13] ChaelKruip opened #1274 "Load calculator could use a re-design"
This ticket serves as a place to document some ideas @antw and myself had about the electricity load calculator and possible improvements to it.

@antw please correct me if I misrepresent our ideas or the current situation.

## Current calculator

The calculator combines two principles:
* push-production (PP)
* bottom-up-consumption (BUC)

### Push-production
All possible production is 'pushed' up

[2016-07-14 14:14] ChaelKruip commented on #1274
Including @dennisschoenmakers @grdw

[2016-07-14 14:41] antw commented on #1273
This is because a load range (`range_start`/`range_end`) is being requested such as `673..1346` and you're were then slicing the load array by that range. However, when calculating weekly loads, the values always start at index 0 regardless of which week is being computed.

i.e. the loads are in the first 673 elements of the array:

[code]

... and so, if you slice it like this:

[code]

... then

[2016-07-14 14:41] #1273 closed

[2016-07-14 16:20] #1254 closed

[2016-07-14 16:22] antw commented on #1254
A fix has been pushed to `master` (beta) and `production`.

[2016-07-15 08:16] Sanne512 opened #1275 "Measure flexibility realised in market model doesn't work"
In the LES Lunch and Learn - buurtbatterij (https://moses.energytransitionmodel.com/testing_grounds/512/edit) I added the following measure to the market model.
![bug measure flex realized 20160715](https://cloud.githubusercontent.com/assets/17741822/16867849/8ba149a6-4a74-11e6-875d-62d4407c5d32.PNG)

Flex is being realized by the neighourhood battery at the buurtbatterij node of which the aggrega

[2016-07-15 08:33] grdw commented on #1266
The yearly gas load chart is now behind a load button and a warning:
<img width="1170" alt="screen shot 2016-07-15 at 10 32 15" src="https://cloud.githubusercontent.com/assets/2676542/16868355/7a8c3466-4a77-11e6-98fb-c970fdbba13a.png">

After you click on the render button:

<img width="1176" alt="screen shot 2016-07-15 at 10 32 01" src="https://cloud.githubusercontent.com/assets/2676542/16868354/

[2016-07-15 10:10] grdw commented on #1267
The split does need to be limited to `[technology_units, number_of_profiles].min`. Also - as discussed with @ChaelKruip yesterday the first approach shall be with non-buffer technologies. The technologies will automatically-assign a profile.

What I'm thinking about though. When clicking the split button it should only affect the technology to which the split button is attached.

Some code about h

[2016-07-15 10:23] antw commented on #1267
I'm not sure I follow the need for any Ruby, or the round-trip to the server. Can't this be done all in JS?

I was expecting that we might be able to reuse/adapt the "Add technology" code in the tech form, except that "Split" would:

* Add a new technology immediately below the one being split (the "source"), instead of at the top of the list.
* Take the attributes from the source technology inste

[2016-07-15 10:34] grdw commented on #1267
It could I guess. 👍  I do need to draw up some different pseudo code than. You're take on the word 'split' would be cut in half I guess. So hit the split button, get two technologies with the units divided by two and assign a new profile for the technology below that.

However the BONUS ROUND should be done at the server end I guess. That makes a bit more sense to me.

This would probably be the m

[2016-07-15 11:26] Sanne512 commented on #1275
I need this for a presentation next week. How long will it take to fix this?

[2016-07-15 11:56] Sanne512 commented on #1050
@JeroenvdLogt @ThomBuijs Do you need this for a certain time?

[2016-07-15 12:04] Sanne512 commented on #1169
I agree with this part. And consequently for me it would make sense if you look at the yearly gas flow (see below) that the two columns of 0.125 bar - 4 bar and 4 bar- 8 bar would be merged to one column of 0.125 bar - 8 bar. I don't know if this is possible?
![afstemming wensenlijst 1169](https://cloud.githubusercontent.com/assets/17741822/16873586/8fae8494-4a94-11e6-94c2-492a49366a71.PNG)

[2016-07-15 12:16] Sanne512 commented on #1097
Machiel's answer: the fact that a heat source is always turned on does not mean that the heat it produces is always being used (completely). So the biggest part of the investment and O&M costs are independent of the use of the heat of the must-run heat sources. The costs that are strongly related to the heat use of the must-run source these can be added in the marginal costs.

[2016-07-15 13:21] grdw commented on #1267
Pure JS solution would be something like:

[code]

[2016-07-18 07:32] DorinevanderVlies opened #1278 "Unexpected deficits in heat load curve"
### Situation
The [LES](https://beta-moses.energytransitionmodel.com/testing_grounds/627/heat_load) contains 4 nodes. 3 of them have heat buffers and load profiles attached to them. The hot water demand profile of "toerisme" is higher in summer than in winter.

### Question
I would expect the capacity of my technologies to be sufficient to supply the demand. However, the heat load curve shows defi

[2016-07-18 07:44] ChaelKruip commented on #1275
Adding priority label and assigning @antw

[2016-07-18 07:52] ChaelKruip commented on #1169
Yes this is certainly possible but I'm not sure if it worth the effort. I'd have to talk to @antw and @grdw about this but my early estimate is that merging the bars based on the gas-assets list would take at least 5 man-days of work.

Changing the label from 'bug' to 'feature'.

[2016-07-18 07:57] ChaelKruip commented on #1151
Yes. Added #1158. #1110 has been fixed/closed already.

[2016-07-18 08:35] MarjoleinSchwachofer opened #1279 "Attributes of technologies: are all used in ETMoses?"
Do all the possible  attributes of the technologies relevant for ETMoses?
E.g. are there any technologies that use:
- O&M costs for ccs per full load hour: operation & maintenance costs for carbon capture & storage per full load hour
- O&M costs per full load hour: operation & maintenance costs per full load hour

A good enhancement for the future would be to only have the relevant attributes for

[2016-07-18 08:40] ChaelKruip commented on #1279
No, we currently import more than needed for some technologies. We are thinking about a more tailored approach as well.

[2016-07-18 08:43] MarjoleinSchwachofer opened #1280 "Use with caution should be explained"
In the Profiles section, under create profiles, after certain attributes it is mentioned : used with caution. This should best be explained below the items.

[2016-07-18 08:49] DorinevanderVlies opened #1281 "Deleting a load profile works, but gives leads user to a "page that doen't exist""
When deleting a load profile the user is now sent to this page:
![image](https://cloud.githubusercontent.com/assets/19907658/16909782/09e83ae2-4cd5-11e6-99ad-2766bfc3a7eb.png)
I think it would be more appropriate to be sent to either the general load profile page, or to receive a message like "your load profile has been deleted successfully"

cc @dennisschoenmakers

[2016-07-18 08:57] MarjoleinSchwachofer opened #1282 "Explanation of units"
Many people have problems with getting the units rights in the topology when using Units and children (for capacities etc.). Some text is added for this, but an calculation example would be better to explain this.

[2016-07-18 09:05] antw commented on #1275
The problem here is the use of "Flexibility realised" on endpoint containing the neighbourhood battery. "Flexibility realised" measures occasions where the absolute load on an endpoint is lower with the strategies turned on (the green curve) than when they are turned off (blue curve).

By "absolute" I mean that if the blue load is 2kW (consumption) and the green load is -2kW (production), then the

[2016-07-18 09:11] ChaelKruip commented on #1275
@antw would it be difficult to change the definition of "Flexibility realised" to:

"The absolute difference between the blue and green curve"?

@Sanne512 would that definition be more aligned with your expectations/needs?

[2016-07-18 09:19] antw commented on #1275
But does this not cause us to measure periods when the green curve load is *higher* than the blue? That's whats happening on the neighbourhood battery node; there's never *flexibility* happening there because the load is always higher with the strategies turned on. However, there *is* flexibility occurring on the parent node:

<img width="565" alt="screen shot 2016-07-18 at 10 16 03" src="https://

[2016-07-18 09:32] ChaelKruip commented on #1275
Yes. And I agree that this is probably not what people want to pay for or expect.

Me too!

I think the current measure is fine. Perhaps we could add the 'absolute difference' measure at some point in the future but for now there is no need.

[2016-07-18 09:43] grdw opened #1283 "Follow up on #1267 -> Splitting up of buffers"
The splitting up of buffers is harder than first imagined. So we're going to give it a shot in this issue. How I'm currently thinking about this problem is as follows:

#### Scenario 1 (1 Buffer, 1 technology attached to buffer, units similar)

[code]
After split in groups of 2:

[code]

----

#### Scenario 2 (1 Buffer, 1 technology attached to buffer, units technology lower than buffer)

[code]
A

[2016-07-18 09:43] grdw opened #1284 "Follow up on #1267 -> Interface for splitting into groups of > 2"

[2016-07-18 09:48] Sanne512 commented on #1275
It did! But I'm reopening the issue, because now I have a similar issue with the flex measure for solar capping and I don't understand what's happening. I added the following measure:

![bug measure flex solar capping](https://cloud.githubusercontent.com/assets/17741822/16911070/afe103e6-4cdc-11e6-92d8-b27d3bef53b3.PNG)

I have the following graph for the load at the "Huishoudens" node:

![image](

[2016-07-18 09:51] grdw commented on #1284
I'm a bit worried about "why would a user split it into groups of X?". Why not pick the largest groups the technology can split in; where that would be the maximum amount of profiles for the amount of units?

@ChaelKruip

[2016-07-18 10:13] ChaelKruip commented on #1284
I think that makes a lot of sense and is essentially the 'minimise concurrency' option.

@grdw are you suggesting to offer the user two options:
* split in two groups
* split in maximum number of groups
?

[2016-07-18 10:25] ChaelKruip opened #1285 "What should the 'split'-function do for buffers?"
In general I think that splitting a buffer should to the following:

* Split the buffer into X buffers (as long as the 'units' of the parent buffer > X and the number of available distinct profiles > X)
* Connect the technologies which were connected to the parent buffer to the child buffers as fairly as possible

Specifying the second bullet is the aim of this ticket.

# Case one: same technologi

[2016-07-18 11:17] antw commented on #1284
I think it would be useful to gather some metrics instead of guessing. Maybe we can find out what proportion of LESes have technologies using the "min" concurrency setting?

If that number is above *some* threshold we might consider splitting technologies into the maximum number of groups instead of into two. My reasoning being that we should probably support this if it is a common use-case. If it

[2016-07-18 11:20] grdw commented on #1284
Well I don't want to create a whole button 'fest'. I also think 3 buttons is already a bit of the max per technology. Maybe add a toggle which says `Min / Max`. As in, smallest group and largest group you can split the technologies in? I would love it, if we could just keep one 'Split' button per technology item and have "something else" determine how large the groups would be.

Yes. I think split

[2016-07-18 11:26] grdw commented on #1284
By running
[code]

in the console I get:

Environment | Total Les's | Les's with min concurrency
----------- | ------------| -----------------------------
staging:       |  592            | 47
production: |  189             | 29

[2016-07-18 11:56] grdw commented on #1284
Allright how about:

<img width="73" alt="screen shot 2016-07-18 at 13 30 52" src="https://cloud.githubusercontent.com/assets/2676542/16913662/617e5306-4cec-11e6-9fed-0ae01a40ff42.png">

This is what the user initially sees. Than when he hovers the button. It will show a input box with the number 2 next to it:

<img width="108" alt="screen shot 2016-07-18 at 13 56 08" src="https://cloud.githubuser

[2016-07-18 11:56] antw commented on #1284
Is it fair to assume that the total number of people who *really* wanted min concurrency was probably lower? Some may have been experimenting, others may have just wanted more technologies instead of true min concurrency. Maybe? :grinning:

Personally I think those numbers are low enough to drop the idea of *defaulting* to splitting into the maximum number of technologies.

I'm not sure about the

[2016-07-18 11:57] grdw commented on #1285
Copy pasting my content from issue #1283

The splitting up of buffers is harder than first imagined. So we're going to give it a shot in this issue. How I'm currently thinking about this problem is as follows:

#### Scenario 1 (1 Buffer, 1 technology attached to buffer, units similar)

[code]
After split in groups of 2:

[code]

----

#### Scenario 2 (1 Buffer, 1 technology attached to buffer, uni

[2016-07-18 12:00] antw commented on #1284
To be honest, I dislike things appearing when hovered, or form fields being automatically focused. Why not just display the input always? It's a bit ugly to do that, I guess...

Still, I like the simplicity of that approach rather than making a whole box appear.

[2016-07-18 12:04] antw commented on #1284
Maybe...

![screen shot 2016-07-18 at 13 03 33](https://cloud.githubusercontent.com/assets/4383/16914185/0ee2fff6-4ce8-11e6-9b94-cf7b3297ec3f.png)

Still feels like that's going to add a lot of "noise" and clutter to the page though.