[2016-02-18 14:54] grdw commented on #803
What I've done so far is assign is the correct type + default profile and profile key; that's it. The LES now shows load + a business case: http://moses.et-model.com/testing_grounds/361

[2016-02-18 15:00] AlexanderWirtz commented on #802
I like it

[2016-02-18 15:07] grdw opened #807 "Technology CSV import/export buffers"
Buffers are currently not correctly taken into account.

[2016-02-18 15:07] ChaelKruip opened #808 "Profiles for EV need to be generated for 20 kWh storage volumes"
The EV volume has been updated in the ETM from 25 to 20 kWh.

[2016-02-18 15:14] grdw commented on #806
This is my fault. I updated a LES for https://github.com/quintel/etmoses/issues/803 and forgot to update the profiles directly.

[2016-02-18 15:14] #806 closed

[2016-02-18 19:47] dennisschoenmakers commented on #805
Excellent write up! Still I wonder why we would take two different approaches here for heat pumps vs gas heaters. Shouldn't/couldn't we reconcile them?

[2016-02-19 08:02] RobTerwel commented on #805
We surely can! :smile: The (equivalent) formula's I wrote down above

covers all heating technologies since the <a href="https://github.com/quintel/etmoses/blob/master/app/models/installed_technology.rb#L145-L163"a>performance coefficient is equal to 1 for all current technologies except for heatpumps<a/> and therefore reduces to @ChaelKruip 's formula for non-heatpumps

[2016-02-19 11:07] wouterterlouw opened #809 "Buffering of heat does not work on beta"
I am trying out the "buffering of heat" solution on the beta server (Household 3 in http://beta.moses.et-model.com/testing_grounds/439). See specifications below. Network does have a capacity of 150 kW.

![image](https://cloud.githubusercontent.com/assets/4319656/13174022/4bc4a7a6-d701-11e5-942d-16aa57ef9a77.png)

@antw When I apply the "buffering of heat" I do not see any result.

![image](https:

[2016-02-22 09:41] ChaelKruip commented on #809
@antw what is the status of this ticket?

[2016-02-22 09:43] antw commented on #809
Looking into it along with some other HP issues. Buffering does work locally, so perhaps something specific to this scenario...

Hopefully I'll have it figured out today.

[2016-02-22 15:48] ChaelKruip opened #810 "Strategy for solar PV preference should not overrule strategy for buffering while respecting the network"
![etmoses](https://cloud.githubusercontent.com/assets/1303760/13223236/bf3fe982-d983-11e5-818d-a9dd2c6c6f84.png)

I'll expand on this ASAP

[2016-02-22 15:48] ChaelKruip opened #811 "Rename "buffering of heat in heat pumps" strategy"
![etmoses](https://cloud.githubusercontent.com/assets/1303760/13223335/205dcf9a-d984-11e5-91dd-e02d91021d0f.png)

[2016-02-22 20:18] antw commented on #809
Fixed by 5bce92bb.

![screen shot 2016-02-22 at 20 17 11](https://cloud.githubusercontent.com/assets/4383/13231346/5de2bc14-d9a1-11e5-8859-ab2455eeb4d2.png)

![screen shot 2016-02-22 at 20 17 21](https://cloud.githubusercontent.com/assets/4383/13231349/618be746-d9a1-11e5-866b-a101734c2789.png)

[2016-02-22 20:18] #809 closed

[2016-02-23 08:37] ChaelKruip opened #812 "Flexibility should be accounted for in business case"
I have made a [LES](http://beta.moses.et-model.com/testing_grounds/425) where the aggregator pays the customer for realised flex:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/13245961/f6fc8ce4-da10-11e5-8104-a7bce18e144d.png)

The LES shows a lot of flexibility (differences between blue and green curves:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/13245980/0bbb48

[2016-02-23 08:48] ChaelKruip commented on #810
Only with the "Only buffer EVs if network has spare capacity":
![etmoses](https://cloud.githubusercontent.com/assets/1303760/13246031/5dbb0e2e-da11-11e5-84e0-6e2559536d31.png)
Note how the load remains under 100 MW in January.

With both "Only buffer EVs if network has spare capacity" and "Only buffer EVs with excess PV production":
![etmoses](https://cloud.githubusercontent.com/assets/1303760/132

[2016-02-23 08:48] ChaelKruip commented on #810
Closing.

[2016-02-23 08:48] #810 closed

[2016-02-23 08:51] ChaelKruip commented on #811
I think it should become something like "Only buffer with heat pumps if network has spare capacity".

Do you agree @antw @dennisschoenmakers ?

[2016-02-23 10:19] dennisschoenmakers opened #813 "[Airbrake] [Staging] undefined method `round' for nil:NilClass"
Check full details on Airbrake: [#1626708376361089351](https://quintel.airbrake.io/projects/111227/groups/1626708376361089351)

Airbrake project: **ETMoses**

Backtrace:
[code]

[2016-02-23 10:23] RobTerwel opened #814 "Validated DB technology capacities [Version 1.0]"
This issue is about how capacities are defined in ETMoses. It supersedes #789 and will be replaced (longer term) by #805 . It can best be seen as a WIP capacity definition before moving on to implement the more 'physical' capacities, losses and efficiencies of #805 .

The capacities in the DB should be updated as follows in the table below. For these capacities we use the following definitions:

-

[2016-02-23 10:26] ChaelKruip commented on #814
:+1:

[2016-02-23 10:28] #794 closed

[2016-02-23 10:37] antw commented on #811
No. :laughing:

But only because the new wording doesn't accurately describe the strategy. The old one doesn't, either, so it *does* need a change.

With the strategy disabled, heat pumps do not buffer; they will run only as much as is needed satisfy heat demand in that frame (time step). With the strategy enabled, HPs may also create extra heat which is stored in the buffer (but not exceeding net

[2016-02-23 10:42] #813 closed

[2016-02-23 10:45] ChaelKruip commented on #811
@antw would that be a lot of work? With hindsight that would probably be even more realistic than the recent changes you made to the heat pump behaviour (https://github.com/quintel/etmoses/issues/503).  Wish I had realised this earlier :sob:

[2016-02-23 10:48] antw commented on #811
Not at all.

[2016-02-23 10:53] ChaelKruip commented on #811
Than I would be in favour of option 1 :smile:

[2016-02-23 11:11] wouterterlouw commented on #809
Thanks @antw
![image](https://cloud.githubusercontent.com/assets/4319656/13249785/9af1eb90-da26-11e5-84aa-4b8e9bf58040.png)

[2016-02-24 08:33] grdw opened #816 "Beta LES's broken due to https"
![screen shot 2016-02-24 at 9 33 13 am](https://cloud.githubusercontent.com/assets/2676542/13279653/a4ef89d2-dad9-11e5-8db0-606dda8153f0.png)

Mixed content warning from Firefox and Chrome, the URL's in the Rails app are still formed as a HTTP url and the page is loaded with HTTPS. This is something the browser does not like.

[2016-02-24 11:24] #816 closed

[2016-02-24 12:28] ChaelKruip commented on #814
@grdw can you pick this up this week? I think this can be done quite quickly

[2016-02-24 12:31] grdw commented on #812
Staging is up and running again :+1: so I'll look into this problem.

[2016-02-25 10:42] dennisschoenmakers opened #818 "[Airbrake] [Production] Can't connect to local MySQL server through socket '/var/run/mysqld/mysqld.sock' (2)"
Check full details on Airbrake: [#1628169851692890480](https://quintel.airbrake.io/projects/111227/groups/1628169851692890480)

Airbrake project: **ETMoses**

Backtrace:
[code]

[2016-02-25 10:49] dennisschoenmakers opened #819 "Switch Moses to HTTPS"

[2016-02-25 10:49] dennisschoenmakers commented on #819
Done for staging and production now @ChaelKruip !

[2016-02-25 10:49] #819 closed

[2016-02-25 10:51] dennisschoenmakers commented on #818
Closed after completed #819

[2016-02-25 10:51] #818 closed

[2016-02-25 10:52] dennisschoenmakers commented on #705
@ChaelKruip and @grdw this is still happening: https://quintel.airbrake.io/projects/111227/groups/1578232110142436206/notices/1627373947604889093

[2016-02-25 10:53] ChaelKruip commented on #819
:+1:

[2016-02-25 12:17] antw commented on #753
(2) and (3) turn out to be very simple, but I don't think I'll be able to satisfy (1). The capacity of a buffer dictates the amount of energy which can be taken from the storage (tank?) to satisfy demand. For example:

* We have a full buffer with a capacity of 10kW,
* An attached technology whose capacity is 15kW
* And demand of 20kW

... the buffer "produces" 10kW from storage, and the technolog

[2016-02-25 13:15] grdw commented on #705
Hmm I see. I'll look into this. The usual suspect is rushing calculations.

[2016-02-29 09:33] grdw opened #820 "Error when importing a scenario"
[code]

[2016-02-29 09:35] grdw opened #821 "Airbrake broken (https?)"
[code]

[2016-02-29 09:46] grdw commented on #820
It has to do with associates in the profile matrix as far as I'm concerned.

[2016-02-29 10:15] grdw commented on #820
I know what the problem is, fixing it - one moment please

[2016-02-29 10:23] #820 closed

[2016-02-29 10:33] grdw commented on #821
This is weird. The command: `rake airbrake:test` works. I'll investigate a little further.

[2016-02-29 10:38] dennisschoenmakers opened #822 "[Airbrake] [Staging] Notification"
Check full details on Airbrake: [#1631066747340045334](https://quintel.airbrake.io/projects/111227/groups/1631066747340045334)

Airbrake project: **ETMoses**

Backtrace:
[code]

[2016-02-29 10:41] grdw commented on #821
Also triggering them from the command line doesn't cause any problems.

I'll keep this issue open in case no Airbrake messages seem to appear. It could also just be a one-time only problem from #820.

[2016-02-29 10:42] grdw commented on #822
This is a test error I created for #821; closing.

[2016-02-29 10:42] #822 closed

[2016-02-29 10:47] grdw commented on #814
If I understand correctly. What you want me to do here; is that I replace the **bold** capacities with the capacities in the database eventhough some of those don't currently exist?

[2016-02-29 11:01] #811 closed

[2016-02-29 12:10] RobTerwel commented on #814
Bold capacities are capacities that are new or should replace existing capacities. So if a value is bold, it should be entered in the database (and replace the existing value if there is one already).

[2016-02-29 12:32] grdw commented on #814
After migrating it looks like:

| Part                                                                                                                       | Capacity |
| -------------------------------------------------------------------------------------------------------- |  ---- |
| households_solar_pv_solar_radiation | -1.6 |
| households_space_heater_heatpump_air_water_electricity |  2.2222

[2016-02-29 12:34] RobTerwel commented on #814
Looks good to me for now, @grdw ! :+1:

Closing.

[2016-02-29 12:34] #814 closed

[2016-02-29 13:07] grdw commented on #812
Is this still a problem?

[2016-02-29 13:17] #812 closed

[2016-02-29 14:09] ChaelKruip commented on #808
Assigned @jorisberkhout

[2016-02-29 14:10] grdw opened #823 "Yearly investment of a business case returns NaN because full load hours is 0."
See title.

This causes the business case to calculate incorrectly for it will ignore all other investment attributes and returns NaN.

[2016-02-29 14:20] ChaelKruip opened #825 "Link to 'all profiles"
![etmoses](https://cloud.githubusercontent.com/assets/1303760/13397013/104477d4-def8-11e5-89ea-002370db120a.png)

It now points to [https://beta-moses.energytransitionmodel.com/load_profiles](https://beta-moses.energytransitionmodel.com/load_profiles) which does not exist.

Is should point to [https://beta-moses.energytransitionmodel.com/profiles](https://beta-moses.energytransitionmodel.com/profi

[2016-02-29 19:44] antw commented on #753
f24a2d9 disables the HHP congestion strategy by default, with (2) and (3) done. I'll see what I can do about (1) tomorrow morning.

[Moses Beta LES-436](https://beta-moses.energytransitionmodel.com/testing_grounds/436)

![screen shot 2016-02-29 at 19 44 20](https://cloud.githubusercontent.com/assets/4383/13406709/d9d060a8-df1c-11e5-8f47-fd31ad9004ce.png)

[2016-03-01 08:32] #825 closed

[2016-03-01 09:17] #803 closed

[2016-03-01 09:19] grdw commented on #800
Status: there's a branch on my local machine which is capable of showing the parts of the load (obviously while faking the data). I'm waiting for the pull requests for the NVD3 -> D3 to merge. After that it's waiting for @antw to fetch the calculation in parts. And I would still have to do some tweaking after that.

[2016-03-01 09:34] grdw commented on #790
![screen shot 2016-03-01 at 10 33 05 am](https://cloud.githubusercontent.com/assets/2676542/13423059/00ae9128-df99-11e5-93a3-b88691abfe89.png)

Capacities are now filled due to the closing of #814 . This will also be automatically fixed on production when master is merged with it (due to it being a migration).

[2016-03-01 09:34] #790 closed

[2016-03-01 09:45] #823 closed

[2016-03-01 09:46] #804 closed

[2016-03-01 10:18] #798 closed

[2016-03-01 10:23] grdw commented on #754
![screen shot 2016-03-01 at 11 22 43 am](https://cloud.githubusercontent.com/assets/2676542/13424273/ef57b236-df9f-11e5-9355-da5340351140.png)

Input and output capacity are now shown as two separate fields in the technologies tab.

[2016-03-01 10:23] #754 closed

[2016-03-01 10:24] grdw opened #827 "Technologies tab of LES show page rather 'cramped'"
![screen shot 2016-03-01 at 11 22 43 am](https://cloud.githubusercontent.com/assets/2676542/13424294/12239136-dfa0-11e5-8608-847730315b4e.png)

This is a little to 'cramped' in relation to #780

[2016-03-01 10:28] grdw commented on #750
Fixed with: #814 - temporarily

[2016-03-01 10:28] #750 closed

[2016-03-01 13:11] grdw commented on #778
Closing this. I know why I created this issue but this is already resolved.

[2016-03-01 13:11] #778 closed

[2016-03-01 14:12] ChaelKruip commented on #753
:+1:

[2016-03-01 14:21] #753 closed

[2016-03-01 14:37] grdw opened #828 "[ Technical ] It should be possible to run the load calculations for time-intervals"
Part of #802

----

**Rough draft**

*Current situation:*
Currently the load calculation is done for the full year and all points are stored in cache. Afterwards the content of the nodes are fetched from the cache on a resolution base.

I would suggest to split the cache up into separate parts.

Right now the following folder structure is present:
[code]

I'd suggest to change it to:
[code]
Where

[2016-03-01 14:49] ChaelKruip commented on #670
This become more important now that we buffer as much as possible by default. Successful buffering would lead to a buffer which is 'full' rendering P2H useless.

[2016-03-01 15:27] grdw commented on #802
It shouldn't in my opinion. I think there should be something shown to the user. If we could calculate the *whole topology* in a certain resolution that would save time I would guess (if it's possilble). I think that calculating something on a per node basis might also be a possibility but I can't say for sure due to the questions that are also still present at #828.

If I get it correctly this is

[2016-03-01 15:40] ChaelKruip commented on #802
Sorry if I misunderstand you here @grdw but what do you mean with 'It'? I agree that there should be something shown to the user (as is currently the case :smile: )

To clarify: my idea is not to do the load calculation on a 'per node' basis as I agree this will not work. I propose to calculate the load for all nodes but for a limited number of time-steps (one week) optionally.

[2016-03-01 16:11] dennisschoenmakers opened #829 "[Airbrake] [Staging] undefined method `/' for "9,6":String"
Check full details on Airbrake: [#1631958897175018272](https://quintel.airbrake.io/projects/111227/groups/1631958897175018272)

Airbrake project: **ETMoses**

Backtrace:
[code]

[2016-03-01 17:36] dennisschoenmakers opened #830 "[Airbrake] [Staging] undefined method `*' for nil:NilClass"
Check full details on Airbrake: [#1632001636654627786](https://quintel.airbrake.io/projects/111227/groups/1632001636654627786)

Airbrake project: **ETMoses**

Backtrace:
[code]

[2016-03-01 19:11] antw commented on #821
I think this can be closed as messages have arrived at Airbrake today.

[2016-03-01 19:11] #821 closed

[2016-03-01 19:52] antw commented on #829
This was from a new scenario on beta, so probably unrelated to your old one. I fixed the wrongly-formatted number and I think I'll close this since it falls into the wider category of needing to improve the validation of technology values.

[2016-03-01 19:52] #829 closed

[2016-03-02 13:39] antw commented on #800
I think @dennisschoenmakers' idea above is solid, but I have two questions/concerns:

1. How do we deal with the strategies on/off? I find the *current* chart hard-to-read with just four series present (electricity on/off, gas on/off). Needless to say the chart would be unreadable if we were to plot each technology load twice. We will have to decide:

  * Do we show the "strategies on" loads (exce

[2016-03-02 13:47] jorisberkhout commented on #788
The source for the 'old' capacity (i.e. `135 kW`) is described in https://github.com/quintel/etdataset/issues/598#issuecomment-99492739. Subsequent research by @RobTerwel proved that units with larger capacity are currently available and we decided to increase the capacity to `739.5833 kW`.

So, I would say that the capacity is not inconsistent, but has been updated :;):. Closing this issue.

[2016-03-02 13:47] #788 closed

[2016-03-02 14:11] grdw commented on #800
Moreover there also needs to be a toggle between stacked and 'normal' view.

[2016-03-02 14:23] antw commented on #802
To add to what @ChaelKruip said: this is how early versions of the calculator worked, but it's not really the case anymore. Storage and flexibility put an end to that. :disappointed:

We have two types of consumption load in the network calculation: "mandatory" and "conditional".

A mandatory load does not depend on anything outside of the endpoint; it describes a load which *must* be placed on th

[2016-03-02 15:06] antw commented on #828
I'm not really sure what you mean by this. What significance is there to the last frame of a week when strategies are applied? Sorry if I'm being dense. :worried:

--

Just so I'm clear: you mean to split the load curves which result from the network calculation into separate files, not the [load profiles](https://beta-moses.energytransitionmodel.com/profiles); is that right?

I think what prohibi

[2016-03-02 15:07] #772 closed

[2016-03-02 15:37] #801 closed

[2016-03-02 15:57] grdw commented on #828
To explain a bit better: What I'm sort of worrying about is if you apply a strategy to the 'full year' - like it's happening now - if you apply that strategy to a week and one week only, will there be any unforseen changes to the load? Let's say, you have some excess load left and it needs to be put at the first day of the week following that week

That's better though. Maybe if we use [`file#gets

[2016-03-03 08:07] ChaelKruip commented on #802
Thanks for your clarification @antw!

[2016-03-03 08:13] ChaelKruip commented on #800
We already do this (right?) and I would keep doing that as I share @antw's concern of readability.

I can imagine the following being useful: if strategies are selected, show the stack of the curves-with-strategies (the current green line) and **in addition** show the blue line without the stacked sub-division. I think that a stack and a line might be still manageable.

[2016-03-03 08:14] ChaelKruip commented on #800
I think we need to show the load per technology for higher level nodes too. That's why this is a challenging feature :grimacing:

[2016-03-03 08:21] ChaelKruip commented on #828
My 2-cents for a first version: why not invalidate cache and re-calculate in all cases except for when the whole year has been calculated. If the user selects a sub-interval, it's going to be very messy indeed (and could even slow down the calculation!) to figure out what part may or may not be needed to be re-calculated. Because sub-intervals will be much smaller than a year in general, the speed

[2016-03-03 08:25] grdw commented on #800
I'm going to be honest here and say that this is probably going to look really chaotic. I'm fine with including it in the chart as a line but I would hide it by default to prevent the initial chaos a little.

[2016-03-03 09:38] antw commented on #828
I've come to a similar conclusion: the high-res cache should store either:

* The full year, if it has been calculated; and if not
* Only the values from the most recent calculation (changing which week is shown should invalidate the cache).

This means that if you switch between viewing different nodes, without changing which week is shown, we can pull the values out of the cache instead of havin

[2016-03-03 09:55] ChaelKruip commented on #828
Also, if you edit the market model or something else unrelated to the load calculation, those cached values can be re-used.

[2016-03-03 10:07] grdw commented on #828
Yes they can. Also the business case should not calculate on a per week basis. Just noting, I think we already discussed this. :+1:

[2016-03-03 13:52] ChaelKruip opened #832 "How can we include gas (and later, heat) in the network topology"
In sprint 2, we will add load calculations on the gas network. This requires that the user can specify the gas-infrastructure similar to the electricity infrastructure.

## Requirements

* end-points need to be consistent (should coincide) across different infra-structures: I think it makes sense to limit the freedom of users to combine any electricity-topology with any gas-topology with any heat-

[2016-03-03 13:53] ChaelKruip commented on #832
@dennisschoenmakers @jorisberkhout @antw @grdw @JeroenvdLogt @AlexanderWirtz @RobTerwel feel free to criticise the above ideas. I'm just trying to get the creativity flowing here :smile:

[2016-03-03 14:08] grdw commented on #832
On a related note: https://github.com/quintel/etmoses/issues/596

[2016-03-03 14:38] grdw commented on #832
I'm still convinced that we should use some D3 type solution for creating a topology. Here comes a really ugly drawing:

When you start creating you'll see one node where the title is an input field and two buttons + and -.
![screen shot 2016-03-03 at 15 29 08](https://cloud.githubusercontent.com/assets/2676542/13497418/7a391d5c-e155-11e5-91e7-42e557943f35.png)

After adding two nodes you'll get:

[2016-03-03 14:40] antw commented on #832
I haven't much to add at this stage, except to agree with everything above.

On a technical note, we currently implement the electricity and gas networks as completely separate data structures. I would like to explore an approach closer to that of ETEngine: a single graph where the edges between nodes have a carrier. This wasn't attempted during the previous gas sprint due to time constraints, but

[2016-03-03 14:46] ChaelKruip commented on #832
Sounds good! :+1:

[2016-03-03 15:18] ChaelKruip commented on #832
I am not against that if it fits our requirements

This is the 'normal' way to build an hierarchical network: starting with the highest level and working your way down to the 'leaf nodes' or end-points. The conceptual issue I'm having with this in combination with different carriers is that the leaf-nodes should be the same/coincide (although not all carriers need to be available in each end-point

[2016-03-03 15:32] ChaelKruip commented on #832
Some network-drawing tools to play with:

* [https://www.draw.io/](https://www.draw.io/)
* [https://www.gliffy.com/](https://www.gliffy.com/)

What do you like? What don't you like? What could/should we copy?

[2016-03-03 15:56] grdw commented on #832
eh... okay. But up from there it could be that they are joined or are they always separate from each other?

Like:
[code]

Where C is both a heat and electricity carrier?

[2016-03-03 16:03] ChaelKruip commented on #832
Do you mean that node C uses both electricity and heat as carriers than yes. It is not likely that the highest node for electricity (HV network) and the highest node for the heat network coincide in location or function.

[2016-03-03 16:05] ChaelKruip opened #833 "Load calculation on gas infrastructure: what does it do?"
This ticket is to explore and specify what a load calculation for gas could look like and what is technically feasible. Thanks @jorisberkhout for the initial brainstorming on this.

## Certainties

There are a few things that we already know with 99% certainty that are going to be in there:

* low-, medium- and high pressure levels separated by pressure stations (similar to voltage levels for elec

[2016-03-04 14:12] grdw commented on #828
I'm no able to calculate a week only (with caching disabled) :dancers:

![screen shot 2016-03-04 at 15 10 45](https://cloud.githubusercontent.com/assets/2676542/13529222/4d8b7c8e-e21b-11e5-8eb7-312efa0988ea.png)

![screen shot 2016-03-04 at 15 07 21](https://cloud.githubusercontent.com/assets/2676542/13529147/dbed7dde-e21a-11e5-95e4-26836f504469.png)

Look at those benchmarks.

Still need to tweak

[2016-03-04 18:55] dennisschoenmakers opened #834 "[Airbrake] [Staging] undefined method `round' for "":String"
Check full details on Airbrake: [#1634215911657813124](https://quintel.airbrake.io/projects/111227/groups/1634215911657813124)

Airbrake project: **ETMoses**

Backtrace:
[code]

[2016-03-07 09:13] ChaelKruip commented on #828
Very cool!

[2016-03-07 10:14] grdw commented on #828
I'm hitting a bump at the moment. Whenever I'm selecting a range over a certain number > 8000 Rails throws a

[code]

Which is a bit hard to debug.

[2016-03-07 10:16] antw commented on #828
Ruby 2.2 (and newer) will give you a more meaningful error message in the event of a SystemStackError.

[2016-03-07 10:23] grdw commented on #828
@antw thanks! I'll try that. I do know it's somewhere in the `PullConsumption` calculation where it freezes up.

[2016-03-07 14:56] grdw commented on #828
One question: can I assume all Les's contain a profile which has a max of 35040 values?

[2016-03-07 15:00] antw commented on #828
*Maximum?* Yes I think so.

It would be nice to be compatible with profiles of 8760 values (one-per-hour); or even fewer. However, we don't currently support that, and I don't think there are any plans to do so. If it's easier, I think it fair to assume all profiles are *exactly* 35040 values.

[2016-03-07 16:39] grdw commented on #828
**Status thusfar:**
I had to rewrite some code because the older version of this produced SystemStackError's and I couldn't really find out why. :disappointed:

The select box is working now (also for a full year). The next thing, is disabling the business case calculation for week selections (I don't think this is a lot of work), some TLC and re-enabling the caching as discussed. Caching is still

[2016-03-07 18:16] dennisschoenmakers opened #835 "[Airbrake] [Staging] bad component(expected host component): *.energytransitionmodel.com"
Check full details on Airbrake: [#1636370629255475679](https://quintel.airbrake.io/projects/111227/groups/1636370629255475679)

Airbrake project: **ETMoses**

Backtrace:
[code]

[2016-03-07 22:22] dennisschoenmakers opened #836 "[Airbrake] [Production] bad component(expected host component): *.energytransitionmodel.com"
Check full details on Airbrake: [#1636494363261908006](https://quintel.airbrake.io/projects/111227/groups/1636494363261908006)

Airbrake project: **ETMoses**

Backtrace:
[code]

[2016-03-09 15:27] dennisschoenmakers opened #838 "What do we compare to what?"
It's a bit arbitrary now that we always compare **all** the strategies off between **all** the strategies on.

Possible improvements:
1. Compare load calculation with the last load calculation (@antw: how hard would this be?)
2. Being able to 'remember' a current load calculation as a 'reference scenario'

[2016-03-09 16:30] dennisschoenmakers opened #839 "Connect market model and topology one-on-one to LESses"
As discussed with @antw and @ChaelKruip.

[2016-03-09 16:31] dennisschoenmakers commented on #839
And when you choose your (starting) market model, you can select some featured ones, or copy it from (your) other LESses.

[2016-03-10 09:23] ChaelKruip opened #840 "Profiles are not displayed when initialising a LES with a technology matrix in CSV format"
[This LES](https://moses.energytransitionmodel.com/testing_grounds/418/edit#) does not show profiles.

For this LES, the tariffs are blank as well:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/13664920/1c872b90-e6aa-11e5-8949-7196443e8cf7.png)

[2016-03-10 10:00] ChaelKruip commented on #839
This would greatly reduce the clutter in both topology and market model menu's.

![img_5158_jpg](https://cloud.githubusercontent.com/assets/1303760/13665942/47b158c2-e6af-11e5-8c2b-25e564f31963.png)

[2016-03-10 12:07] ChaelKruip opened #841 "Difference between blue and green curve disappears when zooming in on the week"
There are differences in [this LES](https://beta-moses.energytransitionmodel.com/testing_grounds/479):
![etmoses](https://cloud.githubusercontent.com/assets/1303760/13669012/dbc2c922-e6c0-11e5-8319-88ee6bb0954c.png)
but in the week-view the curves are the same:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/13669033/07679454-e6c1-11e5-9f61-bd67df7e7fe3.png)

[2016-03-10 12:49] ChaelKruip opened #842 "Axes should have labels"
![etmoses](https://cloud.githubusercontent.com/assets/1303760/13669908/e6bd0f26-e6c6-11e5-85cf-83ee03911bb2.png)

[2016-03-10 13:09] grdw commented on #841
I know which line of code this is doing, moment please...

[2016-03-10 14:04] #841 closed

[2016-03-10 14:12] #842 closed

[2016-03-10 14:14] ChaelKruip opened #844 "When are the Merit curves greyed out?"
![etmoses](https://cloud.githubusercontent.com/assets/1303760/13671786/49d4486c-e6d2-11e5-8c05-1250ce413dda.png)

[2016-03-10 14:17] grdw commented on #844
Related: https://github.com/quintel/etmoses/issues/765

[2016-03-10 14:17] ChaelKruip opened #845 "Why is there no gas use in this LES?"
In [LES 479](https://beta-moses.energytransitionmodel.com/testing_grounds/479), there are hybrid heat pumps which should switch to gas if the network is congested. This requirement is met but no gas consumption is seen:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/13671983/2024dc7e-e6d3-11e5-9b6b-9d6ebea8c8eb.png)
Am I missing something? Or is the calculator/chart broken?

[2016-03-10 14:22] grdw commented on #844
I think the correct answer is: always, which is the same answer to when they are functional. I already created an issue for this bug.

[2016-03-10 14:35] ChaelKruip commented on #833
After discussions with @JeroenvdLogt @antw @jorisberkhout @dennisschoenmakers and others, the following pictures has emerged.

## Questions we want to answer

The following questions are likely to be relevant in the discussions about gas-infrastructure:

* Building a new neighbourhood: should we invest in gas infrastructure?
* For existing neighbourhoods: should we refurbish existing infrastructur

[2016-03-10 14:37] ChaelKruip commented on #833
@JeroenvdLogt @dennisschoenmakers @antw am I missing anything?

[2016-03-10 14:38] antw commented on #845
The gas component is "boosting" and there are two criteria – either being true – which will cause the technology to become active:

* Demand for heat has not been satisfied by the other heating technologies by the time the gas component is calculated, or
* Demand for energy is greater than the capacity of the buffer.

I checked out all the time steps in January 13, and neither criteria are met.

*

[2016-03-10 14:39] ChaelKruip commented on #845
Thanks @antw! :relieved:

[2016-03-10 14:39] #845 closed

[2016-03-10 14:41] ChaelKruip opened #846 "A new resistive (electric) heater should be added when I press 'add' for P2H"
![etmoses](https://cloud.githubusercontent.com/assets/1303760/13672808/96ca6706-e6d6-11e5-8add-ab81aa63d263.png)

Now nothing happens...

[2016-03-10 14:43] grdw commented on #846
Isn't P2H added to a Buffer water heating?

[2016-03-10 15:00] ChaelKruip commented on #846
Oh, I see, it literally appears beneath the hot water buffer!

It works but is quite ghastly from a users perspective because nothing happens on your screen to indicate that the P2H unit has actually been added to your technologies.

[2016-03-10 15:00] #846 closed

[2016-03-10 15:08] ChaelKruip opened #847 "It should be more apparent if a P2H unit is placed"
![etmoses](https://cloud.githubusercontent.com/assets/1303760/13672808/96ca6706-e6d6-11e5-8add-ab81aa63d263.png)

Now nothing happens on the screen...

[2016-03-10 16:09] grdw commented on #834
Somebody managed turned capacity into a string. This looks like the double quotes problem again.

For instance. If I fill in a stringified capacity, the capacity is casted to the correct type (which is a Float).

[code]

However if I do:

[code]

This might be what's happening, however I remove all the quotes from the input box [here](https://github.com/quintel/etmoses/blob/master/app/assets/javas

[2016-03-10 16:12] ChaelKruip commented on #834
Just a stupid question: is ```"'``` also properly replaced? Or is that seen as neither ```'``` nor ```"```.

[2016-03-10 16:17] grdw commented on #834
Yes. The regex `[\"\']g` says any character of `"` or `'` and it doesn't really matter in which order they occur in the string.

But I already found out what happened :) the capacity was blank (`""`). This is not possible in newer LES's, these attributes will be filtered out when posting those to the server.

[2016-03-11 08:40] grdw commented on #705
This can be caused by the same problem Alex had during his last demo. Explanation [here](https://github.com/quintel/etmoses/pull/831). Also this is on the production environment. It's already solved on the staging environment but the fix is not yet present on production.

@ChaelKruip what should we do in this situation?

[2016-03-11 08:48] grdw commented on #834
However there's still something weird going on with LES#45 on staging. The calculation apparaently never finishes. I don't know why yet ... :disappointed: but delayed job keeps on calculating instead of writing cache...

[2016-03-11 08:53] grdw commented on #836
@antw or @dennisschoenmakers  could you maybe tell what's going on here? :sweat_smile:

[2016-03-11 08:54] grdw commented on #835
Related #836

[2016-03-11 09:01] grdw commented on #744
Issue only exists on production. This is resolved with: 3641db84c0778cd8ae487b3f97859930d7bec654

[2016-03-11 09:15] grdw opened #849 "Idea: changing the profile matrix editor to something more useable considering large topologies"
Whenever I try to create a LES with a really big topology my browser hangs some time and eventually it will render the really big profile matrix editor, which is than unmanageable due to it's slowness.

However, fear not, I have an idea that might solve this.

<img width="1113" alt="screen shot 2016-03-11 at 10 09 53" src="https://cloud.githubusercontent.com/assets/2676542/13697974/6dca256c-e771-1

[2016-03-11 09:19] grdw commented on #849
Related: https://github.com/quintel/etmoses/issues/747

[2016-03-11 09:50] grdw commented on #758
This is already fixed with: f1bf4dd51369314ea65ad8e14400f09e09cb4a68
However this is not yet merged to production.

[2016-03-11 09:52] grdw commented on #757
This is already fixed with: f1bf4dd
However this is not yet merged to production.

[2016-03-11 10:26] grdw commented on #830
This looks like a composite without a volume.

[2016-03-11 12:02] ChaelKruip commented on #705
I think it is time for a deploy of staging to production. @antw @dennisschoenmakers do you agree we could do this on Monday 14th?

[2016-03-11 12:46] #762 closed

[2016-03-11 12:53] antw commented on #836
The user agent was IE6 and `*.energytransitionmodel.com` is the hostname attached to our SSL certificate. I think we'd need to grab an IE6 VM to check it out.

The error hasn't been raised by a visitor with any other browser, and we're not supporting IE6 anymore, so... *shrug*.

[2016-03-11 12:54] antw commented on #705
Let's do it.

[2016-03-11 14:22] ChaelKruip opened #850 "Costs of gas-infrastructure should be manageable through a web-form"
## Background

For the electricity network, topology, load-calculation and asset-management (investment costs etc.) are all intimately linked (by the topology YAML).
Because we are going to implement the gas-load calculation as several levels without explicit topology (see https://github.com/quintel/etmoses/issues/833), the asset-management side of the story has to happen separately.

## Functiona

[2016-03-11 15:07] ChaelKruip commented on #850
@dennisschoenmakers @AlexanderWirtz @antw @jorisberkhout @JeroenvdLogt please share ideas and feedback!

[2016-03-14 13:21] ChaelKruip commented on #850
After discussion with @RobTerwel, an idea to incorporate construction/refurbishing and removal has emerged. The refurbished design looks like this:
![20141209_topology_interface_v1_key](https://cloud.githubusercontent.com/assets/1303760/13745694/c1ccd18e-e9ef-11e5-94c4-e4720c6f6754.png)

[2016-03-14 16:09] ChaelKruip commented on #850
The idea behind the above "gas asset dashboard" is that every line represents an asset.

Every asset has a type (which we hard-code the options for), a measure (how many/much of this do we have) an owner (one of the stakeholders), a lifetime (not shown in this design) and a construction date (not shown). If the lifetime ends within the period 2013 -- 20xx, the status is 'red'. The user than needs

[2016-03-14 16:12] ChaelKruip opened #851 "How to connect gas technologies to the gas network?"
In the light of https://github.com/quintel/etmoses/issues/833, we still have to decide how to connect technologies and consumers to the various levels of the gas network.

TO BE EXPANDED!

[2016-03-15 08:38] ChaelKruip opened #852 "How/where should the user select the gas-level for inspection of its load and capacity?"
For electricity, the nodes are clickable:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/13771916/825fa736-ea91-11e5-8e18-671e3275730b.png)

For gas, we will not use a full-fledged topology though...

TO BE EXPANDED

[2016-03-15 10:24] ChaelKruip commented on #851
After discussion with @dennisschoenmakers I concluded that we should make the connection-level an attribute of the technology. Default to the lowest level for all technologies for now. If we have time, we can make the connection level an 'advanced attribute' and let the user change this in the technology overview page.

[2016-03-15 10:37] ChaelKruip commented on #852
After discussion with @dennisschoenmakers I decided that the following output would be interesting in order of priority:
* yearly/weekly load on the highest node of the gas-network. It would be nice if this can be split up per technology (similar to electricity load)
* yearly consumption, production and losses for all levels in a stacked bar chart
* a table showing, capacity (up), capacity (down),

[2016-03-15 11:11] ChaelKruip commented on #850
After discussion with @dennisschoenmakers, the above has made another step towards usefulness:
![20141209_topology_interface_v1_key](https://cloud.githubusercontent.com/assets/1303760/13775621/d66d05ee-eaa5-11e5-92a2-dda25a14fde9.png)

The main ideas behind the re-design:
* Clearer separation of input (left-central block) and output (right-most two columns).
* Refurbished pipes are just another ty

[2016-03-15 16:02] dennisschoenmakers opened #853 "[Airbrake] [Production] undefined method `reject' for nil:NilClass"
**Airbrake error:** [#1543](https://quintel.airbrake.io/projects/111227/groups/1642101202104071543)
**Airbrake project:** ETMoses

**Error type:** `NoMethodError`
**Error message:** `undefined method `reject' for nil:NilClass`
**Occurred at:** Mar 15, 2016 16:01:57 UTC
**First seen at:** Mar 15, 2016 16:01:57 UTC
**Occurrences:** 1 (1 since last deploy on Mar 15, 2016 14:31:50 UTC)

**URL:** [http

[2016-03-15 20:44] ChaelKruip opened #854 "Business case sometimes(!) gives different outcomes"
It seems like it happens after you have edited the market model, and the new business case is calculated for the first time it gives different results than after you recalculate by turning a strategy on and off again (triggering calculations each time).

After changing concurrency of EV to 'minimal' in [this LES](https://moses.energytransitionmodel.com/testing_grounds/427), the business case read:

[2016-03-16 08:33] Sanne512 opened #855 "No options to log in if you have forgotten your password"
Is there an option to reset your password in case you have forgotten it?

[2016-03-16 08:37] Sanne512 opened #856 "Seperate accounts for Pro and Beta server"
Why are the accounts for the Pro and Beta server seperate?

[2016-03-16 08:37] ChaelKruip commented on #855
@dennisschoenmakers can you pick this up?

[2016-03-16 08:38] ChaelKruip commented on #856
@dennisschoenmakers can you answer this please?

[2016-03-16 09:09] ChaelKruip commented on #854
I was able to reproduce the problem today.

I'm just guessing here but could it be that the business case calculation takes an 'old' load calculation or uses the 'blue' instead of the 'green' curve as a basis?

[2016-03-16 09:47] ChaelKruip commented on #852
![etmoses](https://cloud.githubusercontent.com/assets/1303760/13807252/95d7daac-eb60-11e5-915b-69776280ce2e.png)

![20141209_topology_interface_v1_key](https://cloud.githubusercontent.com/assets/1303760/13807918/f4eb1100-eb63-11e5-9ae8-8cd105134a0a.png)

(sorry that the values are a bit nonsensical, in reality the consumption_1 - production_1 + loss_1 = consumption_2 - production_2 etc. for the di

[2016-03-16 09:57] ChaelKruip commented on #850
![20141209_topology_interface_v1_key](https://cloud.githubusercontent.com/assets/1303760/13808206/4a89d44c-eb65-11e5-896d-bb3f7130083f.png)

![20141209_topology_interface_v1_key](https://cloud.githubusercontent.com/assets/1303760/13808318/de850b6c-eb65-11e5-8d65-3bca91b21df7.png)

(this could also be a line-chart perhaps)

[2016-03-16 10:27] ChaelKruip opened #857 "OVERVIEW TICKET sprint 2"
This ticket summarises the main features we want to implement in sprint 2. It includes links to important issues where more details can be found.

After discussion with @JeroenvdLogt @Sanne512 @MarjoleinSchwachofer @antw @dennisschoenmakers @AlexanderWirtz and @jorisberkhout we have decided to model the gas network as a number of communicating pressure levels.

## Load calculation for gas

A summa

[2016-03-16 11:38] antw commented on #854
Closed by 08ebfef2.

[2016-03-16 11:38] #854 closed

[2016-03-16 12:15] dennisschoenmakers commented on #856
Each application is currently a fully functioning separate entity with its own list of users et cetera. This can be improved. We would like to make a *single sign on*, where user management of different applications (etmodel and etmoses) is shared, so that the user only has to sign up and log in once.

This new feature is logged in quintel/etcentral#138. Please note this is not scheduled to be imp

[2016-03-16 12:15] #856 closed

[2016-03-16 13:10] ChaelKruip opened #858 "GasTerra logo should be added to ETMoses"
I think this should be done ASAP as GasTerra is currently sponsoring development of ETMoses as well.

[2016-03-16 14:14] ChaelKruip commented on #858
I think the logo should not be clipped (bottom!) and better aligned with the others:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/13815151/b7b83242-eb89-11e5-8c4e-6cce4645fce8.png)

[2016-03-16 14:30] dennisschoenmakers commented on #858
Agree. working on it :smile:

[2016-03-16 15:03] ChaelKruip commented on #857
I don't think your commit closes this issue @dennisschoenmakers :smile:

[2016-03-16 15:15] dennisschoenmakers commented on #858
Fixed with 3d4944359cddb9d66bd0995b6175a22515de08fb

[2016-03-16 15:15] #858 closed

[2016-03-16 15:15] dennisschoenmakers commented on #857
That would be way too easy :grinning:

[2016-03-17 10:39] dennisschoenmakers opened #859 "Are Investment costs of EV taken into account?"

[2016-03-17 10:40] dennisschoenmakers commented on #859
Including @ChaelKruip

[2016-03-17 10:52] Sanne512 commented on #857
Overall, it looks really good. Due to different holidays Jeroen and I are meeting the gas experts on March 25th to check the design of the gas modelling with them and make a start with collecting the necessary values. I still have some questions for Chael for which I will call him tomorrow, but the first remarks you can find in the different sections.

[2016-03-17 11:08] Sanne512 commented on #833
- Feedback on the questions we want to answer: keep in mind that these questions are relevant for all the stakeholders.
•How big are the investments in the electricity network that we can prevent if we keep the current gas network operational? And what would that cost? --> the question is more relevant the other way around: what are the financial consequences for the electric and gas infrastructur

[2016-03-17 11:10] Sanne512 commented on #852
Could the yearly and weekly load be shown for all the nodes and not just the top node?

[2016-03-17 11:10] Sanne512 commented on #851
We totally agree!

[2016-03-21 08:44] #757 closed

[2016-03-21 08:44] #758 closed

[2016-03-21 08:44] #705 closed

[2016-03-21 08:44] #744 closed

[2016-03-21 10:00] grdw commented on #740
The previous previous friday I looked into [active_hash](https://github.com/zilkey/active_hash) and found it to be quiet useful for what we are trying to achieve here.

[2016-03-21 10:05] grdw opened #860 "Save and save all buttons go off screen when hovering in LES edit screen"
![1](https://cloud.githubusercontent.com/assets/2676542/13915380/a89b947e-ef54-11e5-8116-78ec2640ca50.png)
![3](https://cloud.githubusercontent.com/assets/2676542/13915381/a8bb3464-ef54-11e5-866e-73bfb7968007.png)
![2](https://cloud.githubusercontent.com/assets/2676542/13915382/a8bb4cd8-ef54-11e5-9363-6f4334814d8a.png)

[2016-03-21 10:42] jorisberkhout commented on #808
There is more to this issue than I thought. The `20 kWh` in the original post comes from research that @mariatsagkaraki did (see [the relevant node source analysis](https://github.com/quintel/etdataset/blob/master/nodes_source_analyses/transport/transport_car_using_electricity.converter.xlsx)). This `20 kWh` is the average storage volume for a number of small EV, all having storage volumes close t

[2016-03-21 11:00] ChaelKruip commented on #808
:+1:

[2016-03-21 11:02] AlexanderWirtz commented on #808
:+1:

[2016-03-21 11:30] #808 closed

[2016-03-21 13:30] ChaelKruip commented on #859
Now that we have a slider in the ETM for the extra costs of EVs, this extra cost should be included in ETMoses as well. The 'investment_cost' attribute can be used for this.

[2016-03-21 16:12] ChaelKruip opened #861 "Load calculation for gas: specification"
Contrary to the load calculation for electricity, there is no flexible network topology but rather a static 'stack' of buffers which communicate with each other. The gas topology can be visualised as follows:
![20141209_topology_interface_v1_key](https://cloud.githubusercontent.com/assets/1303760/13924571/2a481620-ef85-11e5-855d-befa7bd10f65.png)
The levels, and the connectors have the same struct

[2016-03-22 10:54] ChaelKruip opened #862 "OVERVIEW TICKET: heat networks"
This ticket serves as an overview for Sprint 3 about heat networks. It contains links to main issues about this topic.

## Background

Heat networks are the third infrastructure to be added to ETMoses (after electricity and gas).

- [x] High-over explanation of how the sources feed the network: https://github.com/quintel/etmoses/issues/963

## Topology

- [x] Interface for primary and secondary in

[2016-03-22 12:28] antw opened #863 "Remove TestingGroundDelayedJob records when the job raises an error"
If an exception is raised while processing a testing ground calculator job, the `TestingGroundDelayedJob` records are not removed and this prevents calculating the job again. (This *may* be desirable in production – where an error is either not something the user can resolve, or requires changes to their LES – but is a bit of a pain in development).

[2016-03-22 13:41] dennisschoenmakers opened #864 "[Airbrake] [Production] undefined method `*' for nil:NilClass"
**Airbrake error:** [#4952](https://quintel.airbrake.io/projects/111227/groups/1647103666083574952)
**Airbrake project:** ETMoses

**Error type:** `NoMethodError`
**Error message:** `undefined method `*' for nil:NilClass`
**Occurred at:** Mar 22, 2016 13:40:57 UTC
**First seen at:** Mar 22, 2016 13:40:57 UTC
**Occurrences:** 1 (1 since last deploy on Mar 16, 2016 15:05:30 UTC)

**URL:** URL not av

[2016-03-22 14:47] antw commented on #863
... and should delete any cache files already written, along with the directory.

[2016-03-22 15:17] ChaelKruip commented on #861
To elaborate:

* The (storage) volume of a pressure level is related to the length and diameter of pipes on that level by:
[code]
for all pipes.

* The capacity (both 'up' and 'down') is determined by the joint capacity of all 'connectors' to the next level:
[code]

[2016-03-23 08:32] dennisschoenmakers opened #866 "[Airbrake] [Staging] 301 Moved Permanently"
**Airbrake error:** [#8988](https://quintel.airbrake.io/projects/111227/groups/1647672921694908988)
**Airbrake project:** ETMoses

**Error type:** `RestClient::MovedPermanently`
**Error message:** `301 Moved Permanently`
**Occurred at:** Mar 23, 2016 08:31:58 UTC
**First seen at:** Mar 23, 2016 08:31:58 UTC
**Occurrences:** 1 (1 since last deploy on Mar 16, 2016 15:07:41 UTC)

**URL:** [https://be

[2016-03-23 08:33] grdw commented on #866
Import is broken on beta environment.

[2016-03-23 09:06] #866 closed

[2016-03-23 11:16] dennisschoenmakers opened #868 "[Airbrake] [Staging] undefined method `each_node' for nil:NilClass"
**Airbrake error:** [#6710](https://quintel.airbrake.io/projects/111227/groups/1647755463877966710)
**Airbrake project:** ETMoses

**Error type:** `NoMethodError`
**Error message:** `undefined method `each_node' for nil:NilClass`
**Occurred at:** Mar 23, 2016 11:08:22 UTC
**First seen at:** Mar 23, 2016 11:08:18 UTC
**Occurrences:** 2 (2 since last deploy on Mar 23, 2016 09:08:12 UTC)

**URL:** [h

[2016-03-23 15:02] grdw opened #869 "Stacked chart - which views were there again?"
There are as far as I know of, a:

- Stacked chart
- Individual lines

There's now a toggle between the two.

*However* considering strategies I was thinking to toggle between either strategies or no strategies with individual lines and the stacked chart. This is to prevent 'chaos'.

Also should there be a total view? Maybe we could show strategies and no strategies both in that one chart view.

W

[2016-03-24 13:18] ChaelKruip opened #870 "Asset data for gas infrastructure needs to be retrieved and clearly documented"
Both for the load calculation on the gas-network and the business case and other financial calculations, the following properties for **all relevant types** of pipes for **each relevant** pressure level need to be documented:

* investment cost [EUR]
* cost for digging in low building-density area [EUR/meter]
* cost for digging in medium building-density area [EUR/meter]
* cost for digging in high

[2016-03-24 14:55] grdw commented on #853
Related to -> https://github.com/quintel/etmoses/issues/570

[2016-03-24 15:55] ChaelKruip opened #871 "Heat network topology: make the user draw it on a map"
## Background

The topology of heat networks is expected to be very different at different scales. For a city, the main infrastructure might resemble a ring, for a street it could be more like a branching tree, for a block of houses it could be more like a single pipe.
The cost of a heat network (per connection) will likely be strongly correlated with the length of pipe needed and the density of t

[2016-03-24 23:33] antw commented on #800
I pushed to the `local-preference` branch the load calculation changes required to show the loads of individual technologies. I'm sure it will need further testing from me to ensure everything is behaving correctly, but hopefully there is enough to help with the charts.

Presently, the data is delivered to the browser with the load data (`data.json`), but I'm perfectly happy to reconsider that and

[2016-03-29 11:16] ChaelKruip commented on #861
NOTE: the lowest pressure level (0.125 bar) is *actually* 1.125 bar. The 0.125 used in practice and speech is actually an **overpressure** added to the standard atmospheric pressure of 1.0 bar. For higher pressure levels, such as 4 bar, I'm not sure if that is an overpressure as well.

@Sanne512 @JeroenvdLogt do you know this?

[2016-03-29 13:09] ChaelKruip opened #873 "Buttons disappear behind new footer"
Only when selected (save button) do they come to the foreground:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/14108983/2cff5a7c-f5c0-11e5-908e-d09a265bb9cc.png)

[2016-03-29 14:59] ChaelKruip commented on #871
To inspire some debate and ideas here is a very crude mock-up of a possible interface:
![openstreetmap](https://cloud.githubusercontent.com/assets/1303760/14112554/625d6c2c-f5cf-11e5-82a2-ee3bb5b6c9aa.png)

The user can drag new elements into the map from the legend on the right. Right-clicking will reveal a dialog window where attributes can be edited.

[2016-03-30 08:48] ChaelKruip opened #874 "Concurrency buttons can be drastically reduced"
The buttons with a line through it can be removed:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/14136778/e3305040-f664-11e5-836d-d6af9b31b230.png)

[2016-03-30 09:14] ChaelKruip opened #875 "Space heating demand and hot water demand should be refined"
Currently, the space heating demand which is used to scale the space heating profiles with is taken as the demand of the converter in the red box:
![https___beta-engine_energytransitionmodel_com_data_latest_layout](https://cloud.githubusercontent.com/assets/1303760/14137347/b7d528c8-f667-11e5-9631-1c08825822aa.png)

The issue with this is that this demand represents the total demand for space heat

[2016-03-30 09:15] ChaelKruip commented on #875
@antw @grdw are these demands passed from ETE to ETMoses by means of gqueries? In that case I assign myself to produce the relevant queries for these demands.

[2016-03-30 09:17] ChaelKruip opened #876 "Find out if we use the correct base load demand"
In the light of https://github.com/quintel/etmoses/issues/875, I am concerned if we need to refine the base-load demand as well.

@grdw @antw can you point me to the place where this demand is defined in ETMoses?

[2016-03-30 09:21] antw commented on #875
The demands are read directly from the converter and made available to Moses [through a JSON API](https://github.com/quintel/etengine/blob/master/app/models/api/v3/converter_stats_presenter.rb). No Gqueries involved.

Gqueries would be a far better solution, but would take some effort to implement.

[2016-03-30 09:22] ChaelKruip commented on #875
I'll try to give that a place in the next sprint.

[2016-03-30 09:23] antw commented on #876
Maybe [DemandAttribute](https://github.com/quintel/etmoses/blob/master/app/models/import/demand_attribute.rb)? That's what we use to import the demand from ETEngine (and convert it to kWh).

[2016-03-30 09:50] AlexanderWirtz commented on #871
Seems ambitious. I hope we can get some representative numbers for heat network investment costs. One condition this depends on quite strongly is the kind of soil or underground the network is layed into or onto. This is also true for gas networks, by the way.

The only way to get a good feel for this si to go and talk to some people, I suppose. Wouter Meyers has a contact in Amsterdam (Peter Simo

[2016-03-30 09:54] AlexanderWirtz commented on #871
Another possible source is Albert Blom from Nuon / Vattenfall. @jorisberkhout has been in touch with him about waste incinerator CHPs

[2016-03-30 10:07] Sanne512 commented on #861
That's totally correct, every value mentioned is an overpressure.

[2016-03-30 14:51] Sanne512 opened #877 "Storing grey electricity in neighbourhood battery"
When modelling a neighbourhood battery in the LES Showcase buurtbatterij (link to LES added below), it only stores the energy from the PV panels to prevent congestion and not the grey electricity from the net.

https://moses.energytransitionmodel.com/testing_grounds/436

[2016-03-30 15:19] grdw commented on #873
Possible duplicate: https://github.com/quintel/etmoses/issues/860

[2016-03-31 09:36] grdw commented on #874
![screen shot 2016-03-31 at 11 35 00](https://cloud.githubusercontent.com/assets/2676542/14171706/9e23c376-f734-11e5-858e-840f8184c84e.png)

That will leave us with this :+1:
There are boolean's called 'expandable' in the `technologies` table. I set them manually on the beta environment to false for the technologies specified in the image above.

[2016-03-31 09:46] ChaelKruip commented on #874
:+1: nice changes @grdw!

One last request: can you make all names plural? "Households" instead of "Household" etc.

[2016-03-31 09:54] grdw opened #878 "Add pressure levels asset sheet in front-end"
There's only one gas topology 'shape' available. The only thing the user can determine is what the attributes of this topology are. The user can determine the volume, capacity (high, low) and loss of every pressure level. The way to do this is through the asset-sheet.

[2016-03-31 09:59] ChaelKruip commented on #878
See https://github.com/quintel/etmoses/issues/861#issuecomment-199861250 for the relation between the chosen assets and the volume/capacities.

[2016-03-31 12:13] grdw commented on #874
Yes. I could. I do consider this somewhat low-prio so I'll probably change this tomorrow.

[2016-03-31 12:21] ChaelKruip commented on #874
:+1:

:+1:

:+1:  :+1:

[2016-03-31 12:24] grdw commented on #874
<img src="https://media.giphy.com/media/XreQmk7ETCak0/giphy.gif"/>

[2016-03-31 12:35] ChaelKruip commented on #861
After discussion with experts within Alliander, @Sanne512 and co have come to the conclusion that modelling of conventional buffering is not relevant (the potential is negligible). This simplifies the picture described above in the following sense:

* The volume of pipes is no longer relevant
* The pressure and pressure ranges are not needed
* For every level, conservation of energy is the only th

[2016-03-31 12:36] ChaelKruip commented on #861
Including @dennisschoenmakers @grdw @Sanne512

[2016-03-31 12:52] #695 closed

[2016-03-31 14:03] ChaelKruip commented on #852
I think we could add the different levels either as differently coloured curves (as with technologies) or have a select box for which level the load chart should display the data.

[2016-03-31 14:04] ChaelKruip commented on #851
I think we should make time for this in this sprint and give the user the choice for each technology to which pressure level it is connected.

[2016-03-31 14:22] ChaelKruip commented on #875
What about these lines:

https://github.com/quintel/etmoses/blob/master/app/models/import/composite_builder.rb#L8-L9 ?

Don't they refer to these queries:

https://github.com/quintel/etsource/blob/master/gqueries/modules/etmoses/etmoses_hot_water_buffer_demand.gql and https://github.com/quintel/etsource/blob/master/gqueries/modules/etmoses/etmoses_space_heating_buffer_demand.gql?

[2016-03-31 14:32] antw commented on #875
Yes. I was having a senile moment. :blush:

*Most* technology demands are read from the converter directly; composites (space heating, hot water) and base loads are special cases which use gqueries. For those technologies, it is only the demand which is read this way.

[2016-03-31 14:36] ChaelKruip commented on #875
:tada: :dancers: those are exactly the ones I need to improve the queries for :tada: :dancers:

[2016-03-31 14:43] ChaelKruip opened #881 "Some weeks do not show loads with weekly calculations"
[This LES] shows no loads for the second week of January:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/14179516/a7077a02-f75f-11e5-9db7-e7206f85b209.png)

[2016-03-31 14:52] grdw commented on #881
Hmm,, I see.. crap. I'm looking into it as we speak.

[2016-03-31 15:02] antw commented on #877
@ChaelKruip I do believe I can fix this, although I will have to test it manually to be sure that the fix doesn't inadvertently break some other aspect of the NB. Unfortunately the local preference ("subnet awareness" / "bottom-up calculation" / whatever else you might call it) features which come with #872 will immediately break it again (in fact, #872 will require it to be reverted).

We could p

[2016-03-31 15:28] grdw commented on #881
Well I figured out it's a caching problem.. (ofcourse). It turns out it cuts out a piece of 673 array items at the range of 673..1346 . which ofcourse is not possible. It should only do that when it has a full year in cache.

[2016-03-31 18:34] #881 closed

[2016-04-01 07:42] ChaelKruip commented on #877
I think that's fine. It is important that @Sanne512 can work with the battery on LIVE. If we can fix it on beta (with the bottom-up calculator) in this sprint, things work out fine. There is no *fundamental* reason for the battery to not work with the bottom-up calculator right?

[2016-04-01 09:11] #802 closed

[2016-04-01 09:11] #828 closed

[2016-04-01 09:15] grdw commented on #768
I just tested this but it doesn't really work that well.. whenever the `markt_model_id` changes (for instance, you make a change to a market model that isn't yours and it starts cloning) than it still triggers a recalculation.

Also the `save all and view Les` button triggers a save action on the LES itself which causes the cache to flush.

[2016-04-01 12:06] grdw opened #884 "Power-to-gas should not have a profile, yet it validates and complains that it doesn't have one"
See title

[2016-04-04 09:57] antw commented on #877
Indeed, there is not.

A fix has been pushed to production; the neighbourhood should now take energy from the grid in all situations, provided there is sufficient network capacity. Sorry for the inconvenience @Sanne512.

[2016-04-04 09:57] #877 closed

[2016-04-04 14:02] ChaelKruip commented on #871
@jorisberkhout Could you see if he is available for an interview?

[2016-04-04 14:04] ChaelKruip opened #886 "Costs of heat infrastructure: what numbers can we find?"
Quoting email from Wouter Meyers:

From: Wouter Meyers
Sent: Tuesday, April 12, 2011 15:14
To: Wouter van Lelyveld
Cc: Alexander Wirtz
Subject: Kosten warmtenetten

Hi Wouter,          cc. Alex

Uit mijn interview met Peter Simoës van het Afvalenergiebedrijf in Amsterdam heb ik wat gegevens over de investeringskosten van warmtenetten zoals zij die hanteren in hun planningen. Zie jij een manier om

[2016-04-04 14:04] #874 closed

[2016-04-04 17:15] antw commented on #861
This being the case, what is the significance of `capacity` on connections? With pressure modelled, we could have constrained the flow of gas by capacity, and then shown times of the year when a layer was under- or over-pressure.

Is the capacity still a hard constraint limiting the flow from one level to another, or a soft constraint which may be exceeded but results in the connection being shown

[2016-04-04 18:19] ChaelKruip commented on #861
I think the capacity is a hard constraint both up and down (they are not equal). Downwards the gas is expanding and the maximum rate at which this happens is given by how big the 'hole' is and how fast the gas can be heated. Upwards (from low to high pressure), the capacity is constrained (hard) by what the compressor can do.

So, I think instead of showing 'congestions', it might be more useful t

[2016-04-05 07:16] Sanne512 commented on #861
Capacitiy is indeed a hard constraint both up and down. The gas moves downward due to a pressure difference caused by gas use. The biggest restraint for the maximum rate is indeed the diameter of the pipe. Upwards the capacity is indeed (hard) constrained by the compressor.

About what to show: the gas-demand is being met almost always, due to the many "vermazingen". More specific: the gas infrast

[2016-04-05 08:21] ChaelKruip commented on #876
In [this line](https://github.com/quintel/etmoses/blob/master/app/models/import/house_builder.rb#L28) the total final demand of electricity is used to scale the base load. This should be replaced with a gquery which only returns electricity for appliances, lighting and cooking.

[2016-04-05 13:35] antw commented on #861
@ChaelKruip and @Sanne512: Thank you for your input. I'm going to think about what you've written, and how it impacts the gas model, and will get back to you shortly with a more detailed reply.

In the meantime, I do have one further question: how far do the feed-in constraints apply? To the level at which the technology is attached, or all the way to the highest level?

For example:

[code]

Does

[2016-04-05 13:45] ChaelKruip commented on #861
I would say (3). But the way in which this would happen is still bottom-up in my mind. So, the bottom level has no immediate knowledge of the top level constraints.

What I think would happen (please correct me if I'm wrong @Sanne512):

* 10 kW is fed in to level 3
* 8 kW is fed into level 2, 2 kW is 'flared' at the intersection between level 2 and level 3
* 5 kW is fed into level 1, 3 kW is flare

[2016-04-05 13:45] ChaelKruip commented on #861
The above implies that it's useful to keep track of how much is flared at each intersection...

[2016-04-05 13:46] antw commented on #861
Thanks! That is good news. :tada:

[2016-04-05 13:55] antw commented on #861
... although that does assume that there is an inverse for flaring when there is too much **consumption**. If you take [the above example](https://github.com/quintel/etmoses/issues/861#issuecomment-205807986) and swap "production" for "consumption", presumably the technology consumes 10kW, but only 8kW appears on Level 2, and 5kW on Level 1.

This means that the connection between Level 2 and 3 ne

[2016-04-05 14:01] ChaelKruip commented on #861
That makes sense to me. In real life, the infrastructure for consumption always will have sufficient capacity. In the case that the user makes a LES with capacities which are limiting for consumption, I think it would be best to keep track (and display!) deficits at the various connections. Both flaring and deficits would mean that extra investments need to be made.

[2016-04-06 10:43] antw commented on #861
Is the capacity of a connection an *input* capacity or an *output* capacity? The order in which we apply the constraints (capacity and efficiency) affect the energy coming out the other end, and the amount of loss and flaring.

For example:

[code]

[2016-04-06 11:04] ChaelKruip commented on #861
Output. The flaring is applied only after all losses have been accounted for I think.

Note, however, that the capacity and loss depend on the *direction* the gas is flowing. When flowing from high to low pressure, capacity is very large and losses small. Upwards the capacity is limited and losses substantial.

[2016-04-06 11:07] antw commented on #861
Thanks again @ChaelKruip. That is how I implemented the connections already, so there is nothing to change (although changing it would have been trivial).

That's fine; I've modelled the connections as having different capacities and efficiencies depending on the direction.

[2016-04-06 12:26] ChaelKruip commented on #851
I thought about how the number of gas connections can be specified in ETMoses. First we must distinguish between the number of gas **connections** and the number of end-points of the electrical topology which 'have' gas.

So far, we have used the technology interface to define whether an end-point 'has' gas or not. If the user (or ETMoses) has connected at least one gas-technology to an end-point

[2016-04-06 12:27] ChaelKruip commented on #851
BTW: the number of gas connections already is a 'measure' to be used in market models. @antw isn't the above how ETMoses currently 'measures' the number of gas connections?

[2016-04-06 12:31] ChaelKruip opened #888 "Replace electricity demand for base-load with gquery"
As described in [this issue](https://github.com/quintel/etmoses/issues/876), the electricity demand to scale base load with needs to be refined.

The new query in question lives here: [etsource/gqueries/modules/etmoses/etmoses_electricity_base_load_demand.gql](https://github.com/quintel/etsource/blob/master/gqueries/modules/etmoses/etmoses_electricity_base_load_demand.gql)

The demand used to scal

[2016-04-06 12:43] antw commented on #851
This attribute is new to me. The number of connections is determined by [how many base load techs are installed on an endpoint](https://github.com/quintel/etmoses/blob/14882b8f12e6ff1fcabde0a6caf3edfb1ff3a93d/app/models/market/measures/number_of_connections.rb#L5). For gas, the number of connections will be zero if there are no gas techs attached to the endpoint.

[2016-04-06 12:48] ChaelKruip commented on #851
It only existed in my head! :smile:

:+1:

Right! But *if* there are gas technologies connected, the number of connections is the same as the number of base-loads right?

[2016-04-06 12:50] antw commented on #851
Yes, exactly. If there are no gas technologies installed, the number of **gas** connections is zero. If an endpoint does have one or more gas technologies, the number of gas connections is equal to the number of electricity connections.

[2016-04-07 09:30] Sanne512 commented on #870
I'm working on retreiving these numbers in Alliander, but it takes time. My question right now is, in order to prioritize this in relation to retreiving information about heath infrastructure, how necessary is this information to integrate the gas infrastructure in ETMoses? Because when I consider the analogy with electricity these numbers are necessary to create a LES, but the user enters these n

[2016-04-07 10:17] Sanne512 commented on #870
The efficiency from high to low pressure is 100% (0 kW), because it is a passive process without energy losses.

You request the efficiency in kW, but efficiency is usually a percentage. Do you want a percentage for the efficiency or do you want the losses in kW per compressor/booster?

[2016-04-07 11:51] ChaelKruip commented on #870
Percentages please!

[2016-04-07 12:22] #655 closed

[2016-04-07 12:25] ChaelKruip commented on #870
Here you go: [https://github.com/quintel/etmoses/wiki/gas-infrastructure](https://github.com/quintel/etmoses/wiki/gas-infrastructure)

[2016-04-07 12:29] ChaelKruip commented on #870
Right now, the priorities are as follows:

1. Which types of assets per pressure level need to be included (three types of pipes? Two types of 'connectors'?)
2. Numbers for the attributes of those types (see above)
3. Information about the heat network (sprint 3)

[2016-04-07 14:33] ChaelKruip opened #889 "The national quantity of each asset needs to be researched"
If the user opens a new LES, the gas-asset page should  be initialised with the fraction of the national assets which are relevant for this LES.

So, if the LES contains 50% of the connections in the Netherlands, the asset-page of the LES should list half of all assets per pressure level in the Netherlands.

[2016-04-08 07:46] Sanne512 commented on #889
Just to check if I understand this correctly: the first page of the new LES is a standard topology for gas? Can the user still adjust these figures afterwards, similar to the way technologies are being determined in the LES now?

[2016-04-08 09:24] Sanne512 commented on #877
Thanks for fixing it!

[2016-04-08 09:31] Sanne512 opened #890 "No buffer volume in heat pumps while set to buffering"
The heat pumps in the LES showcase buurtbatterij are set to buffer instead of boost, but they show no buffer volume. A link to the LES is provided below. Could you explain why?

https://moses.energytransitionmodel.com/testing_grounds/436

[2016-04-08 11:14] Sanne512 opened #891 "EDSN profiles"
There seems to be something wrong with the EDSN profiles: in the LES test EDSN (link included below) at node "Households 2" there are 100 households with 1 kWh yearly use. However the amount of energy use in the LES seems to differ from the amount of energy use in the profiles on which they are based. Could you explain what is happening here? You can clearly see the difference by comparing the Y-a

[2016-04-08 14:34] ChaelKruip commented on #890
@Sanne512 please assign someone to your ticket so they feel responsible for solving it :smile:

[2016-04-11 07:58] ChaelKruip commented on #891
@Sanne512, the curves shown in the first plot are normalised to have **unity surface area**. So, when you assign 100 units with 1 kWh, the EDSN profile is scaled to have 100 kWh surface area for the whole year. This amounts to a load of 0.01141 kW on average. Although the profile is fluctuating, the average of  0.012 kW seems to be quite in line with the results I see in the LES.

NOTE: 1 kW of lo

[2016-04-11 07:58] #891 closed

[2016-04-11 07:58] ChaelKruip commented on #891
please re-open if this does not answer your question adequately.

[2016-04-11 08:33] Sanne512 commented on #890
@ChaelKruip I will do, but who can I choose from?

[2016-04-11 08:51] ChaelKruip commented on #890
<img width="481" alt="screen shot 2016-04-11 at 10 35 24" src="https://cloud.githubusercontent.com/assets/1303760/14421661/235d2fa4-ffd3-11e5-96d1-52fee4670055.png">

For technical bugs: @grdw
For documentation: @jorisberkhout
For the rest: @chaelkruip

[2016-04-11 10:13] dennisschoenmakers opened #892 "[Airbrake] [Production] key not found: "buffer_space_heating_2""
**Airbrake error:** [#7431](https://quintel.airbrake.io/projects/111227/groups/1661494885471467431)
**Airbrake project:** ETMoses

**Error type:** `KeyError`
**Error message:** `` key not found: "buffer_space_heating_2" ``
**Where:** `<no information>`
**Occurred at:** Apr 11, 2016 10:13:44 UTC
**First seen at:** Apr 11, 2016 10:13:44 UTC
**Occurrences:** 1 (1 since last deploy on Apr 04, 2016 09:

[2016-04-12 09:10] #869 closed

[2016-04-12 09:25] jorisberkhout opened #893 "[Overview issue] Improve ETMoses documentation"
As discussed with @MarjoleinSchwachofer and @ChaelKruip, we would like to give the ETMoses documentation a big push in the right direction. This push should encompass improvements in the following two areas:

- Accessability of the ETMoses documentation from the ETMoses app / front-end
- The content of the ETMoses documentation

I will create separate, more atomic issues to discuss specific improv

[2016-04-12 09:33] jorisberkhout commented on #704
This has been done as part of https://github.com/quintel/etmoses/issues/893. Re-open if you disagree.

[2016-04-12 09:33] #704 closed

[2016-04-12 09:35] jorisberkhout commented on #574
The documentation on the gas infrastructure has been moved to https://github.com/quintel/etmoses/wiki/gas-infrastructure.

Linking to https://github.com/quintel/etmoses/issues/893.

[2016-04-12 09:36] jorisberkhout commented on #380
Linking to https://github.com/quintel/etmoses/issues/893.

[2016-04-12 09:37] jorisberkhout commented on #380
@ChaelKruip , if you can forward me this information, I can pick it up as part of improving the documentation.

[2016-04-12 09:49] #876 closed

[2016-04-12 09:53] ChaelKruip commented on #875
These queries have been refined in https://github.com/quintel/etsource/pull/1105

[2016-04-12 09:53] #875 closed

[2016-04-12 10:32] jorisberkhout opened #894 "Add a direct link from ETMoses front-end to ETmoses Wiki"
As discussed in https://github.com/quintel/etmoses/issues/893, a direct link from the ETMoses app to the documentation on the ETMoses Wiki would be very helpful. @MarjoleinSchwachofer and I came up with the suggestion of adding an 'Information' item to the menu bar like we have in the ETM front-end.

<img width="1176" alt="screen shot 2016-04-12 at 12 05 41" src="https://cloud.githubusercontent.co

[2016-04-12 10:45] MarjoleinSchwachofer commented on #894
Good idea. In my view an important item under information is a direct link to how to use section. I think this should be a specific item, as documentation  can also be viewed as background information. What do you think?

[2016-04-12 11:30] ChaelKruip commented on #890
The buffer volume of the heat pump is given by the volume of the buffer to which it is connected. I know this sentence is confusing so here is an image:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/14458578/7e034314-00b2-11e6-9bad-aa644be9aa82.png)

I think we should remove the 'volume' indicator for heat pumps to limit this confusion.

[2016-04-12 11:30] jorisberkhout commented on #894
I like it. The Information menu item would then look like this (I also re-arranged the menu items).

- Information
  - How to use (linking to https://github.com/quintel/etmoses/wiki/How-to-use)
  - Documentation (linking to github.com/quintel/etmoses/wiki)
  - About Quintel Intelligence (linking to quintel.com)

Any objections?

[2016-04-12 11:30] ChaelKruip commented on #890
Closing. Please re-open if this does not answer your question.

[2016-04-12 11:30] #890 closed

[2016-04-12 16:16] jorisberkhout opened #895 "Should we redirect `How to` item under `Local Energy Solutions` menu to ETMoses Wiki?"
Currently the menu item in the red box below redirects to a separate webpage. The information on that page is now also available on the ETMoses Wiki, where it can be maintained more easily. I would suggest to make the `How to` item redirect to https://github.com/quintel/etmoses/wiki/LES. In addition, I would suggest changing its name to `More information` and make the Wiki page it refers to open i

[2016-04-12 16:23] jorisberkhout opened #896 "Should we add `More information` items under `Profiles`, `Topologies` and `Market models` menus?"
As suggested in https://github.com/quintel/etmoses/issues/895, I would prefer to make have a `More information` item under the `Local Energy Solutions`menu that redirects to the ETMoses Wiki. That way, we can easily update the documentation regarding the Local Energy Solutions and avoid having to store the same information in multiple places.

Likewise I would suggest to add `More information` ite

[2016-04-12 16:24] jorisberkhout commented on #895
Part of https://github.com/quintel/etmoses/issues/893.

[2016-04-12 16:24] jorisberkhout commented on #896
Part of https://github.com/quintel/etmoses/issues/893.

[2016-04-13 06:34] MarjoleinSchwachofer commented on #895
Wouldn't  https://github.com/quintel/etmoses/wiki/LES-overview be a better link to redirect to and in step 1 add a link to the link mentioned above? Or the new items how-to-use/Quick start pages.

[2016-04-13 07:07] ChaelKruip opened #897 "Image on https://github.com/quintel/etmoses/wiki/LES is missing"
It does not display correctly:
![les_ _quintel_etmoses_wiki](https://cloud.githubusercontent.com/assets/1303760/14485391/0adb85a4-0157-11e6-9f18-318003cbde66.png)

[2016-04-13 07:10] ChaelKruip commented on #742
@grdw what is the status of this?

[2016-04-13 07:10] #800 closed

[2016-04-13 07:16] ChaelKruip commented on #897
Part of https://github.com/quintel/etmoses/issues/893

[2016-04-13 07:24] ChaelKruip commented on #895
I think both are good suggestions. [LES]( https://github.com/quintel/etmoses/wiki/LES) is not the most intuitive place to start (mostly my fault).

[2016-04-13 07:26] ChaelKruip commented on #889
Yes. The national average is presented as a default (scaled to the number of connections) but can be adjusted by the user.

[2016-04-13 07:27] ChaelKruip commented on #889
@Sanne512 what is the status of this? We are close to the deadline with this.

[2016-04-13 07:28] #897 closed

[2016-04-13 07:32] ChaelKruip commented on #870
@Sanne512 what is the status of this? We are close to the deadline with this.

[2016-04-13 07:37] jorisberkhout commented on #895
Good point. I think it would be even better to have a close look at the content of the Quick start / LES and LES-overview pages and combine the information that is on these pages. I will do so and come back to this issue once I have done that.

[2016-04-13 07:42] grdw commented on #742
Not fixed yet. Still need to look into it. It's probably a case of removing `storage.volume` from the `importable_attributes` table.

[2016-04-13 07:52] grdw commented on #742
I blanked the `default_volume` field and set it from 9.3 to `NULL`. This causes the volume to be `nil`, not zero. We could explicitly make it zero (if you'd want that) and maybe disable the field from being edited? (Because changing that value doesn't make any sense).

[2016-04-13 08:01] grdw commented on #768
Closing, just tested on beta and this is fixed.

[2016-04-13 08:01] #768 closed

[2016-04-13 08:02] grdw commented on #859
This sounds like an additional imported attribute that needs to be taken into account in the business case calculation?

[2016-04-13 08:07] antw commented on #742
I think `nil`/`NULL` is the correct choice. The P2H tech itself doesn't have, or need, a volume attribute; only the buffer/composite to which it belongs has a volume.

[2016-04-13 08:08] ChaelKruip commented on #742
So, can we close this @grdw?

[2016-04-13 08:11] grdw commented on #742
Yes, we can. Just tested to see if production/staging/development acted the same way.

[2016-04-13 08:11] #742 closed

[2016-04-13 08:12] grdw commented on #74
Can this be closed?

[2016-04-13 08:12] #74 closed

[2016-04-13 08:12] #679 closed

[2016-04-13 08:13] ChaelKruip commented on #859
Yes. You can use [this gquery](https://github.com/quintel/etsource/blob/master/gqueries/output_elements/output_series/vertical_stacked_bar_170_investment_electric_cars/electric_cars_additional_costs.gql)

[2016-04-13 08:16] grdw commented on #733
#734 was fixed some time ago... I'm closing off this airbrake issue.

[2016-04-13 08:16] #733 closed

[2016-04-13 09:11] #756 closed

[2016-04-13 09:21] ChaelKruip opened #900 "Selecting a week not always shows this week"
This shows the first week of [this LES](https://beta-moses.energytransitionmodel.com/testing_grounds/479) while the second week is selected:
![banners_and_alerts_and_etmoses](https://cloud.githubusercontent.com/assets/1303760/14488714/d022ef02-0169-11e6-9c45-2dfdb0affdcd.png)

[2016-04-13 09:22] ChaelKruip commented on #900
Sorry, not true. My bad.

[2016-04-13 09:22] #900 closed

[2016-04-13 09:24] ChaelKruip opened #901 "'Total' load plots should have shading"
I really liked the shading in the previous plots:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/14488836/59864988-016a-11e6-9d1f-744ea74fc6c1.png)

Now the curves are more difficult to tell apart:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/14488816/45021f50-016a-11e6-81d3-81170380e773.png)

[2016-04-13 09:43] ChaelKruip opened #902 "The initial conditions should not dominate the load for weekly calculations"
This is an issue that we have chosen to come back to whenever the weekly calculator was working properly. I think this is a good time to address it.

When starting a weekly calculation, batteries, buffers and EV batteries are assumed to be empty (right @antw?). This results in a spike in the load in the first day of the week. This spike often dominates the load in the whole week:
![etmoses](https:

[2016-04-13 09:44] ChaelKruip commented on #902
Including @dennisschoenmakers @Sanne512

[2016-04-13 11:25] ChaelKruip opened #903 "Colours should not change when toggling in stacked chart"
Toggling between 'basic' and 'strategies', the technologies change and so do the colours assigned to them. This should not happen as it is terribly confusing.
Basic:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/14491784/2bcb0d1a-017b-11e6-878e-f1654430ea01.png)
Strategies:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/14491792/36d400d6-017b-11e6-8124-94270aefadee.p

[2016-04-13 11:25] ChaelKruip commented on #903
This is the LES: https://beta-moses.energytransitionmodel.com/testing_grounds/479

[2016-04-13 11:28] grdw commented on #903
It's not really LES specific this issue. This is more that the colours are assigned in the order that the technologies arrive in the front-end. I'll assign a color per technology to avoid further confusion.

[2016-04-13 11:38] ChaelKruip commented on #903
I think you should also fix the order somehow.

[2016-04-13 11:39] antw commented on #902
Starting buffers half-full is super-easy: a couple of hours once you add in some time for testing.

Computing an extra day is certainly more work, but I agree it's the more correct option. We'd provide the calculator with a profile containing eight days of data instead of seven, and then chop off the first day. Presumably for the first week of January we'd use profiles for 31st December as the "in

[2016-04-13 11:40] antw commented on #903
I think @grdw has the right idea: assign a specific colour to each technology. The order in which the technologies appear in the response shouldn't matter.

[2016-04-13 11:41] ChaelKruip commented on #903
I agree, but now they also take different positions in the legend :cry:

[2016-04-13 11:49] antw commented on #903
A colour *and* a sort order can be defined (perhaps sort the legends alphanumerically?).

All I'm saying is that the order in which things appear in an HTTP response – the order in which they arrive in the front-end – shouldn't matter as this isn't guaranteed to be constant (it can depend on the order in which `Technology` records are saved in the database, the order in which a visitor added techs

[2016-04-13 12:38] ChaelKruip opened #904 "'Individual' load chart should remember which technologies have been selected"
Switching between 'basic' and 'strategies' now shows all technologies even if some were de-selected before.

[2016-04-13 12:52] ChaelKruip opened #905 "Load of full year is not shown if I re-calculate the year while in 'individual' mode"
![etmoses](https://cloud.githubusercontent.com/assets/1303760/14493720/13b9c5f2-0187-11e6-9a41-14bc41c3aa74.png)

Is this a feature?

[2016-04-13 12:55] ChaelKruip commented on #905
This LES: https://beta-moses.energytransitionmodel.com/testing_grounds/479

[2016-04-13 12:57] ChaelKruip commented on #905
Also, the selection button for the chart is non-responsive after calculating the full year (it cannot be changed from 'total' back to 'individual' or 'stacked') even if I switch to weekly view...

[2016-04-13 14:48] ChaelKruip commented on #886
@Sanne512 perhaps you can use these numbers as a starting point for your expert meetings?

[2016-04-15 08:20] grdw opened #907 "Add rake db2local to etmoses"
I'm working from home currently and I forgot the adapter to my Mac. No worrries, since there are 2 other laptops in the building where I can work from. Only downside is that there's no wonderfull program called Sequelpro for Linux. There are alternatives but most of them don't work/aren't developed for since 2005/etc. etc.

So my idea is to include rake db2local just as etmodel, etengine. So I don

[2016-04-15 09:35] #903 closed

[2016-04-15 10:01] #904 closed

[2016-04-15 10:03] grdw commented on #904
I fixed the visiblity settings for switching between basic and strategies. However, when restarting your browser your visiblity settings are not remembered.

[2016-04-15 10:12] grdw commented on #905
I just tried it locally, the problem I saw was that the resolution is incorrect (I'm getting the charts back in high resolution for the full year when switching to "Full year" from "Individual mode").

Did your browser froze by accident or?

[2016-04-15 12:11] grdw commented on #905
Upon further investigation I found out that the cache for loads per technology is correctly written but it does not fetch correctly... I'm now seeing to it to fix it.

[2016-04-15 12:19] grdw commented on #905
Okay, I found it :sweat_smile: moment please.

[2016-04-15 13:29] grdw commented on #884
Fixed with: 4b4521efa29758b38ce0df4f8a48103da439082e

[2016-04-15 13:29] #884 closed

[2016-04-15 13:53] grdw commented on #864
This seems to happen whenever a composite's volume is blanked. This should not be possible but I think that in the current front-end, you're allowed to do this.

[2016-04-15 14:52] dennisschoenmakers opened #912 "[Airbrake] [Staging] No route matches {:action=>"show", :controller=>"topologies", :format=>:json, :id=>nil} missing required keys: [:id]"
**Airbrake error:** [#2070](https://quintel.airbrake.io/projects/111227/groups/1664534044670932070)
**Airbrake project:** ETMoses

**Error type:** `ActionController::UrlGenerationError`
**Error message:** `` No route matches {:action=>"show", :controller=>"topologies", :format=>:json, :id=>nil} missing required keys: [:id] ``
**Where:** `testing_grounds#show`
**Occurred at:** Apr 15, 2016 14:52:00

[2016-04-15 14:57] grdw commented on #868
Topology of the LES is set to nil :disappointed:  This should not even be possible in the first place. Even after you remove a topology, the topology should still be 'present' but 'orphaned'. I'm guessing that somebody removed the topology it directly from the database OR the user in question was able to pass a nil value from the chrome/firefox console and submitted the form.

[2016-04-15 15:01] grdw commented on #863
I encountered it myself today. And I can confirm: it is rather annoying. I'll look into it.

[2016-04-18 08:10] JeroenvdLogt opened #913 "I am disabled to edit my own marktmodel"
default_marketmodel_TKI-village - Clone #3

This is a private marketmodel of my account jeroen.vande.logt@alliander.com but I am disabled to edit this marketmodel and to set it on public.

[2016-04-18 08:13] dennisschoenmakers opened #914 "[Airbrake] [Production] undefined method `downcase' for nil:NilClass"
**Airbrake error:** [#9995](https://quintel.airbrake.io/projects/111227/groups/1666507774947209995)
**Airbrake project:** ETMoses

**Error type:** `NoMethodError`
**Error message:** `` undefined method `downcase' for nil:NilClass ``
**Where:** `market_models#show`
**Occurred at:** Apr 18, 2016 08:13:27 UTC
**First seen at:** Apr 18, 2016 08:13:27 UTC
**Occurrences:** 1 (1 since last deploy on Apr

[2016-04-18 08:14] grdw commented on #914
Whenever you try to create a market model and submit it empty. It will give this error.

[2016-04-18 08:14] ChaelKruip opened #915 "Cumulative investment chart does not show any curve"
In Chrome:
![screen shot 2016-04-18 at 10 11 23](https://cloud.githubusercontent.com/assets/1303760/14597629/436631ee-054e-11e6-987a-cf0c9c56a7bb.png)

[Link to the LES](http://etmoses.dev/testing_grounds/358/edit)

[2016-04-18 08:17] grdw commented on #913
Do you mean:

- You can't visit the edit page?
- You can't make changes to the market model (as in; it doesn't save the changes)?

Because, I do notice that the edit buttons are missing under the market model in question (id=160).
You can however edit it [here](https://moses.energytransitionmodel.com/market_models/160/edit).

Also the save button is partially hidden:

![screen shot 2016-04-18 at 1

[2016-04-18 08:21] ChaelKruip opened #916 "Buttons to reset and rescale the assets should move up (between the table and the charts)"
![screen shot 2016-04-18 at 10 20 18](https://cloud.githubusercontent.com/assets/1303760/14597798/49a31e18-054f-11e6-9624-dd87b5374aed.png)

[2016-04-18 08:21] ChaelKruip commented on #916
Also, there should be a question mark with extra information about what these buttons do

[2016-04-18 08:23] grdw commented on #913
After some further investigation I found that the footer 'spacing' is incorrect. I fixed it and merged it to master. This should make the edit buttons visible again.

[2016-04-18 08:24] grdw commented on #916
I think the only weird button, that actually needs some explanation is the green one. Also the color green for that button is a bit weird. I think red would be better considering you're destroying your old gas asset list.

[2016-04-18 08:26] grdw commented on #873
Fixed with: https://github.com/quintel/etmoses/commit/a31829bf66cd5c4dfa5c0730efecf056fc87d660

[2016-04-18 08:26] #873 closed

[2016-04-18 08:27] grdw commented on #860
Fixed with: https://github.com/quintel/etmoses/commit/a31829bf66cd5c4dfa5c0730efecf056fc87d660

[2016-04-18 08:27] #860 closed

[2016-04-18 08:27] #905 closed

[2016-04-18 08:28] grdw commented on #915
That's logical considering all your building years to be 1960. There's only one total 'dot' and that's on point 'February'. However, it looks a bit odd though.

[2016-04-18 08:32] grdw opened #917 "Move edit and destroy buttons of market model to top of the page"
![screen shot 2016-04-18 at 10 30 42](https://cloud.githubusercontent.com/assets/2676542/14598025/9eeeb46c-0550-11e6-8c78-582858e77f73.png)

As seen in some cases; market models can be really big. It's annoying to have to scroll all the way down every time just to edit your market model. So my 2 cents: move the edit and destroy buttons to the top of the page and  for the sake of consistency do it

[2016-04-18 08:50] ChaelKruip commented on #915
I see! So this will change once we have different build years and lifetimes 👍

Closing.

[2016-04-18 08:50] #915 closed

[2016-04-18 09:54] ChaelKruip commented on #916
I disagree. I find the text 'update gas asset list' of the blue button very confusing. I just updated the list myself, why should I press a button now?
Isn't this button to update the charts instead? If that is its function, why not change the text to "Update gas asset charts"?

[2016-04-18 09:56] ChaelKruip commented on #916
Perhaps it makes it less confusing if we would also include the usual 'save' and 'save all and view les' buttons?

@antw @dennisschoenmakers what do you think?

[2016-04-18 09:59] grdw commented on #916
Fair enough. The most ideal situation would be ofcourse that it automatically saves (there's already an issue for that). I think renaming it to 'Save' would probably cause less confusion.

'Save all and  view LES' is a bit weird, because you don't want to visit the 'load' page after you click that button. You want to go to the gas load page - because that makes much more sense.

[2016-04-18 10:08] ChaelKruip commented on #916
👍

Perhaps we could add a "Save and view gas-load" button then?

[2016-04-18 10:10] grdw commented on #916
Yes. Same functionality - different redirect.

[2016-04-18 11:52] dennisschoenmakers opened #919 "[Airbrake] [Staging] No such file or directory @ rb_file_s_mtime - /var/www/etmoses/releases/20160418082917/tmp/networks/staging/490/feature/electricity/49a08c0e397826d795e50f9a6a16b08f35708bd965875a2b22d9bb1db5e25bc6.load.current_week.tmp"
**Airbrake error:** [#8684](https://quintel.airbrake.io/projects/111227/groups/1666617828971098684)
**Airbrake project:** ETMoses

**Error type:** `Errno::ENOENT`
**Error message:** `` No such file or directory @ rb_file_s_mtime - /var/www/etmoses/releases/20160418082917/tmp/networks/staging/490/feature/electricity/49a08c0e397826d795e50f9a6a16b08f35708bd965875a2b22d9bb1db5e25bc6.load.current_week.

[2016-04-18 12:00] ChaelKruip opened #920 "Shouldn't different end-points show the same load?"
I thought that the new bottom-up calculator would produce equal load results for equal end-points. For [this LES](https://beta-moses.energytransitionmodel.com/testing_grounds/490) the results are quite different for the first and second end-point.

Also, it fails to calculate... 😢

[2016-04-18 12:02] antw commented on #920
Related to #919. Will look into it shortly.

[2016-04-18 12:28] grdw commented on #916
I moved the buttons inbetween the table and the charts but I don't think it looks that pretty:

![screen shot 2016-04-18 at 14 27 45](https://cloud.githubusercontent.com/assets/2676542/14604022/be6ae074-0571-11e6-9f53-4e380ba01f6f.png)

[2016-04-18 13:08] ChaelKruip commented on #916
I think it is fine for now.

Can you rename the green button to: "Save and view gas-load" as well?

Also, I think "Reload gas asset list" should be renamed too. Perhaps "Scale gas assets to number of connections" is a better name? I still think an information item (question mark) would be useful here.

[2016-04-18 13:48] grdw commented on #916
I would if it actually did just that.

Yes. Maybe 'Rescale assets to gas connections' .. Because you wipe out all the old data and than create a new asset list.

[2016-04-18 14:29] ChaelKruip commented on #916
It doesn't?

👍

[2016-04-18 14:31] dennisschoenmakers opened #921 "[Airbrake] [Staging] key not found: "buffer_space_heating_2""
**Airbrake error:** [#3110](https://quintel.airbrake.io/projects/111227/groups/1666697901413743110)
**Airbrake project:** ETMoses

**Error type:** `KeyError`
**Error message:** `` key not found: "buffer_space_heating_2" ``
**Where:** `<no information>`
**Occurred at:** Apr 18, 2016 14:31:12 UTC
**First seen at:** Apr 18, 2016 14:31:12 UTC
**Occurrences:** 1 (1 since last deploy on Apr 18, 2016 14:

[2016-04-18 14:32] antw commented on #921
My bad. This can be ignored.

[2016-04-18 14:32] #921 closed

[2016-04-18 14:32] grdw commented on #916
Not yet. It doesn't take to much time to fix that though.

[2016-04-18 14:37] antw commented on #920
I'll get the core issue resolved, but until then you can temporarily work around this by selecting a different week.

None of the three endpoints are identical. They have differing numbers of buildings and heat-pumps. [Check out LES491](https://beta-moses.energytransitionmodel.com/testing_grounds/491) which corrects the differences; the loads are the same on all three endpoints.

[2016-04-18 14:43] ChaelKruip commented on #920
Sorry about that! I think the app broke while I was changing them to be identical...

[2016-04-18 14:44] #920 closed

[2016-04-19 12:11] ChaelKruip opened #924 "Better number formatting needed for gas-chart"
<img width="272" alt="screen shot 2016-04-19 at 14 10 48" src="https://cloud.githubusercontent.com/assets/1303760/14638654/8e323ad4-0638-11e6-9d16-0dc926efd21a.png">

[2016-04-19 12:11] ChaelKruip commented on #924
The numbers being cut off in the above images is not due to cropping 😄

[2016-04-19 12:16] grdw commented on #924
No, it's a bad margin. I already fixed it [here](https://github.com/quintel/etmoses/pull/923/files#diff-7205be044d8febf8e4e45168d601bfe7R7)

[2016-04-19 12:20] ChaelKruip opened #925 "It would be nice and logical if these buttons are also in the gas-load page"
<img width="573" alt="screen shot 2016-04-19 at 14 19 19" src="https://cloud.githubusercontent.com/assets/1303760/14638865/ce982ef2-0639-11e6-8ee1-4de3e22d4356.png">

[2016-04-19 12:33] ChaelKruip opened #926 "Weird behaviour of gas-load when P2G is used"
Sorry to be vague but several things seem to wrong at the same time.

In [this LES](https://beta-moses.energytransitionmodel.com/testing_grounds/493) I have built a P2G facility and selected the P2G strategy. In the week of 18 to 24 June, the gas-load on end-point "Households 2" looks different with and without strategies:
<img width="606" alt="screen shot 2016-04-19 at 14 27 31" src="https://clou

[2016-04-19 12:35] antw commented on #926
P2G is not fed into the new gas network. I'll make that a priority.

[2016-04-19 12:38] ChaelKruip opened #927 "Temporary technologies should have more serious looking names"
Please use names like "small_pipe", "medium_pipe" etc. for the moment. I need a bit more serious looking table for tomorrows presentation.

[2016-04-19 12:41] grdw commented on #927
Yes, I'll change them to 'small_pipe' and 'big_pipe' for now. The same for connector.

[2016-04-19 17:05] dennisschoenmakers opened #930 "[Airbrake] [Staging] undefined method `attributes' for nil:NilClass"
**Airbrake error:** [#0794](https://quintel.airbrake.io/projects/111227/groups/1667500253943150794)
**Airbrake project:** ETMoses

**Error type:** `NoMethodError`
**Error message:** `` undefined method `attributes' for nil:NilClass ``
**Where:** `gas_asset_lists#calculate_cumulative_investment`
**Occurred at:** Apr 19, 2016 17:05:20 UTC
**First seen at:** Apr 19, 2016 17:05:20 UTC
**Occurrences:**

[2016-04-19 17:05] dennisschoenmakers opened #931 "[Airbrake] [Staging] undefined method `attributes' for nil:NilClass"
**Airbrake error:** [#1737](https://quintel.airbrake.io/projects/111227/groups/1667500252852631737)
**Airbrake project:** ETMoses

**Error type:** `NoMethodError`
**Error message:** `` undefined method `attributes' for nil:NilClass ``
**Where:** `gas_asset_lists#calculate_net_present_value`
**Occurred at:** Apr 19, 2016 17:05:20 UTC
**First seen at:** Apr 19, 2016 17:05:20 UTC
**Occurrences:** 1 (

[2016-04-20 07:17] dennisschoenmakers opened #932 "[Airbrake] [Staging] undefined method `attributes' for nil:NilClass"
**Airbrake error:** [#4912](https://quintel.airbrake.io/projects/111227/groups/1667928918061464912)
**Airbrake project:** ETMoses

**Error type:** `NoMethodError`
**Error message:** `` undefined method `attributes' for nil:NilClass ``
**Where:** `gas_asset_lists#load_summary`
**Occurred at:** Apr 20, 2016 07:16:16 UTC
**First seen at:** Apr 20, 2016 07:16:16 UTC
**Occurrences:** 1 (1 since last de

[2016-04-20 07:17] dennisschoenmakers opened #933 "[Airbrake] [Staging] undefined method `attributes' for nil:NilClass"
**Airbrake error:** [#6562](https://quintel.airbrake.io/projects/111227/groups/1667928930887646562)
**Airbrake project:** ETMoses

**Error type:** `NoMethodError`
**Error message:** `` undefined method `attributes' for nil:NilClass ``
**Where:** `gas_asset_lists#gas_load`
**Occurred at:** Apr 20, 2016 07:16:16 UTC
**First seen at:** Apr 20, 2016 07:16:16 UTC
**Occurrences:** 1 (1 since last deploy

[2016-04-20 07:32] grdw commented on #926
I still see exactly the same loads. When I switch between gas load and load. Do I have to do it prematurely? Like; not wait until the gas load page is finished?

[2016-04-20 12:19] #930 closed

[2016-04-20 12:19] #932 closed

[2016-04-20 12:19] #933 closed

[2016-04-20 12:19] grdw commented on #930
I fixed this by resetting the gas asset lists on beta.

[2016-04-20 14:22] dennisschoenmakers opened #934 "[Airbrake] [Staging] No route matches {:action=>"gas_load", :controller=>"gas_asset_lists", :id=>nil, :testing_ground_id=>"495"} missing required keys: [:id]"
**Airbrake error:** [#2102](https://quintel.airbrake.io/projects/111227/groups/1668143265685682102)
**Airbrake project:** ETMoses

**Error type:** `ActionController::UrlGenerationError`
**Error message:** `` No route matches {:action=>"gas_load", :controller=>"gas_asset_lists", :id=>nil, :testing_ground_id=>"495"} missing required keys: [:id] ``
**Where:** `testing_grounds#gas_load`
**Occurred at:

[2016-04-20 14:49] grdw opened #935 "Rename 'Applied to stakeholder' to ...."
We once decided to rename 'Applied to stakeholder' to something a little more convenient. But to be honest I forgot what it was. @ChaelKruip do you remember? Or could maybe explain what that select box says about a market model measure?

Including: @jorisberkhout

[2016-04-20 16:10] antw commented on #925
Something like this would be nice. Would probably be a fair bit of work to get the gas charts to reload when changing strategies, but it would be cool:

![screen shot 2016-04-20 at 17 09 25](https://cloud.githubusercontent.com/assets/4383/14681823/aaab1144-071a-11e6-9c20-42cf84c5042e.png)

[2016-04-20 16:11] antw commented on #934
Closed by 4c44942a.

[2016-04-20 16:11] #934 closed

[2016-04-20 16:39] #449 closed

[2016-04-20 16:42] antw commented on #907
Agreed. Would be nice if it also downloaded a copy of the profiles otherwise the DB might refer to profiles which don't exist on your local machine.

[2016-04-21 07:07] grdw commented on #907
I already have a tiny bash script in my etmoses folder which does this. :sweat_smile:

[code]

[2016-04-21 07:30] ChaelKruip commented on #925
Wouldn't it be just as simple/difficult as with the electricity load chart?

[2016-04-21 12:40] antw commented on #902
I took a quick look into this. The spike at the start of the week is not *just* because the storage is empty, but because it is permitted to take energy from the grid. Technologies which cannot take from the grid also produce an effect (provided there is an excess of local production), but don't result in a sudden load spike.

Starting the time period with buffers half full doesn't eliminate the a

[2016-04-21 12:53] ChaelKruip commented on #902
Me too. Putting this on-hold until we have planned it into a sprint.

[2016-04-21 13:28] jorisberkhout commented on #935
Now that @ChaelKruip explained me what is meant by 'Applied to stakeholder' (i.e. it allows you to select at which stakeholder the measure is actually measured), I think that 'Measured at stakeholder' would be better way to describe this. What do you think, @ChaelKruip and @grdw ?

[2016-04-22 08:12] jorisberkhout opened #936 "Why are the properties of P2G used in ETMoses different from the ones in ETModel?"
While working on the documentation of ETMoses, I noticed that the properties of P2G in ETMoses are very different from the ones we use in ETModel. We have refined our thinking on P2G in ETModel a couple of times over the past year, but have now settled for a utility-sized P2G plant with a capacity 740 kW. However, if I add P2G to my LES in ETMoses, it has an input capacity of 5.1765 kW.

Is there

[2016-04-22 10:09] Sanne512 commented on #870
In the attachments an Excel file with asset data, the corresponding document for the GitHub (the word file is attached here and I'll e-mail the markdown version to @ChaelKruip ) and a picture to explain the structure of the gas infrastructure.

I have a few remaining questions:
- In the report from Enexis provided by Netbeheer Nederland you can find the amount of stations and pipe length of the Ne

[2016-04-22 12:41] Sanne512 commented on #870
One addition to the information mentioned above: I forgot to inlude that the efficiency of the stations is 100% due to the passive manner of transporting the gas.

[2016-04-22 12:48] Sanne512 opened #937 "User profiles for gas"
What will be the input for the profiles of the natural gas use? Can the user adjust the profiles just as for electricity?

[2016-04-22 15:41] dennisschoenmakers commented on #902
We might also consider doing this for the yearly calculations while we're at it? It reduces the weird behaviour in week 1.

[2016-04-25 08:00] dennisschoenmakers opened #938 "Order of series in chart should be based on peak/volume ratio"
The lowest ratios comprise the 'base loads': they go on the bottom of the chart. The more peaky series go on the top of the chart.

### Example.

I guess this is also the logic behind the other of technologies from Frauenhofer:

![image](https://cloud.githubusercontent.com/assets/104830/14777288/623adfb0-0acc-11e6-95a0-d989a192a694.png)

As suggested by **Sybren** on our meeting at April 20th 2016

[2016-04-25 08:01] ChaelKruip commented on #938
Assigning to @grdw and putting on-hold for now.

[2016-04-25 11:23] ChaelKruip commented on #937
Right now. The use of natural gas is implicitly defined by the hot water and space heating profiles. The gas-fired heaters (combi-boilers, hybrid heat pumps etc.) connected to buffers wit these profiles will consume gas.

Please re-open if this does not answer your question.

[2016-04-25 11:23] #937 closed

[2016-04-26 11:36] ChaelKruip commented on #870
Where can I find this report?

Sorry but I don't understand this comparison @Sanne512. Do you mean that a `station` is the equivalent of  a `transformer`? Is it possible to calculate back from 'gas streets' to 'stations'? Is a 'gas street' a physical street or something else?

Where are they being neglected? In the Excel sheet your provide @Sanne512? Why are they neglected?

What about the efficie

[2016-04-26 11:46] ChaelKruip commented on #936
Perhaps these changes were made after @RobTerwel @grdw and I tried to align all values in ETE and ETMoses? There is no conscious reason for this as far as I know.

[2016-04-26 13:45] ChaelKruip commented on #857
Closing.

[2016-04-26 13:45] #857 closed

[2016-04-26 13:45] #851 closed

[2016-04-26 13:45] #833 closed

[2016-04-26 13:46] #852 closed

[2016-04-26 13:53] ChaelKruip commented on #490
What is the status of this @antw? Isn't this issue fixed now that P2H is connected to buffers?

[2016-04-26 13:53] #380 closed

[2016-04-26 13:54] #926 closed

[2016-04-26 13:54] #927 closed

[2016-04-26 13:55] ChaelKruip commented on #888
What is the status of this @grdw ?

[2016-04-26 13:55] #878 closed

[2016-04-26 13:56] ChaelKruip commented on #861
Can we close this @antw?

[2016-04-26 13:56] #861 closed

[2016-04-26 13:56] ChaelKruip commented on #859
What is the status of this @grdw?

[2016-04-26 13:57] #850 closed

[2016-04-26 13:58] ChaelKruip commented on #832
We decided to make something a 'gas' connection, if one or more gas-technologies are attached to it.

[2016-04-26 13:58] #832 closed

[2016-04-26 13:59] ChaelKruip commented on #935
Assigned to @grdw

[2016-04-26 13:59] antw commented on #490
Yes.

[2016-04-26 13:59] #490 closed

[2016-04-26 17:59] Sanne512 commented on #870
@jeroenvdlogt could you sent the report to chael? And answer any further questions during my holiday?

The gas goes through a straat,  like electricity through a transformer,  and like an electricity station can contain several transformers a gas station can contain several steeds. So a gas street is the actual equipement that transports the gas from a higher to a lower pressure.
It is not possibl

[2016-04-28 09:43] ChaelKruip commented on #870
Thanks for the answers @Sanne512!

The following additional questions have arisen after looking into the Excel sheet provided:

* What are the capacities [kW] of the ‘connectors’?
* Why does a GOS cost only 100 EUR?
* What are the EUR/MW/pressure_jump voor compression?
* What are the losses for compression in %/delta_P or %/delta_P/MW?
* Is a `District-station` the same thing as a `DRS`?

[2016-04-28 10:14] Sanne512 commented on #870
- the capacities of the connectors are unknown and i'm not able to retreive these numbers from within alliander
- a gos only costs  €100, because alliander only has to pay for the area and structure around the gos, gts pays for the equipement inside It
- i don't have the numbers for compression (yet); i'm looking into that after my holiday
-  a district-station is the same as a drs

[2016-04-28 15:26] jorisberkhout commented on #870
Thanks for the spreadsheets and answers, @Sanne512 . I have tried to translate the data provided into the format ETMoses expects it (see [Kengetallen.gasinfra.20160422.v0.3.xlsx](https://github.com/quintel/etmoses/files/240812/Kengetallen.gasinfra.20160422.v0.3.xlsx), `Input for YAML` sheet.

I have also tried to work out how much gas infrastructure is on average associated with one connection (wh

[2016-04-28 15:31] ChaelKruip commented on #870
@Sanne512 please note, that the data-sheet states that these lines are at 1--4 bar right @jorisberkhout?

[2016-04-29 07:15] jorisberkhout commented on #870
Correct, the referenced datasheet has only one entry for 8 bar pipes.

[2016-04-29 10:30] dennisschoenmakers commented on #894
No, great idea!

[2016-05-02 11:51] dennisschoenmakers opened #939 "[Airbrake] [Staging] Cannot interpolate a curve with 673 values to 8760"
**Airbrake error:** [#5914](https://quintel.airbrake.io/projects/111227/groups/1676764212198095914)
**Airbrake project:** ETMoses

**Error type:** `Market::InvalidInterpolationError`
**Error message:** `` Cannot interpolate a curve with 673 values to 8760 ``
**Where:** `data#price_curve`
**Occurred at:** May 02, 2016 11:51:10 UTC
**First seen at:** May 02, 2016 11:51:10 UTC
**Occurrences:** 1 (1 s

[2016-05-02 13:05] #924 closed

[2016-05-02 13:05] grdw commented on #913
@JeroenvdLogt can this be closed?

[2016-05-02 13:11] grdw commented on #795
Closing. Will add this issue again once it becomes more relevant.

[2016-05-02 13:11] #795 closed

[2016-05-02 13:18] grdw opened #940 "Put business case in a separate tab."
Could we separate the business case from the load page? Just to keep things in scope. We could than choose to only 'enable' the business case tab when somebody calculates the full year load of a LES.

[2016-05-02 13:19] grdw commented on #939
My bad (I clicked the download merit order load curves button). But I have no idea how or why this error happened though ...

[2016-05-02 14:28] grdw commented on #936
Can we please just do the yaml exporting? For starters: what if we just export the existing data to yaml and just keep the current application functioning with static files (will cost some time though) and work our way from there.

I totally see this exploding into lots and lots of manual migrations or worse - manual database edits - while that is actually not something we're supposed to do and I

[2016-05-02 14:36] grdw commented on #740
I just found out that there's still a stale branch on my local machine with a WIP for this issue. It's not really finished though but it's well under way. What should I do with this: https://github.com/quintel/etmoses/tree/issues/%23740-export-technologies-to-yaml-files ?

[2016-05-02 14:47] #765 closed

[2016-05-02 15:09] grdw commented on #740
Prep. for this issue: https://github.com/quintel/etmoses/pull/942. Nothing to harmful.

[2016-05-03 08:45] grdw commented on #888
This is for any base-load (including buildings?) or just for the technology called `base_load`? I'm asking because they're both build by a separate class in etmoses.

[2016-05-03 08:51] ChaelKruip commented on #888
Good question @grdw!
For buildings, the queries should be different indeed. Please make an issue and assign me to create the queries for the buildings sector (hot water, space heating and electricity).

[2016-05-03 08:57] grdw opened #944 "For buildings we use a gquery to determine the demand. Is this still the correct one?"
See line: https://github.com/quintel/etmoses/blob/master/app/models/import/buildings_builder.rb#L31

The gquery that we use right now is `present_demand_in_source_of_electricity_in_buildings.gql` in [etsource](https://github.com/quintel/etsource/blob/master/gqueries/output_elements/output_series/vertical_stacked_bar_74_source_of_electricity_in_buildings/present_demand_in_source_of_electricity_in_b

[2016-05-03 08:57] ChaelKruip commented on #936
Yes!

[2016-05-03 08:59] grdw commented on #888
Related:

- https://github.com/quintel/etmoses/issues/944
- https://github.com/quintel/etmoses/pull/943

[2016-05-03 11:26] antw commented on #939
I'll take a look into this shortly, but "673 values" suggests to me that something tried to run the market model with weekly – instead of annual – load data.

[2016-05-03 11:26] antw commented on #940
Yes please!

[2016-05-03 11:32] Sanne512 opened #945 "Neighbourhood battery doesn't distribute electricity"
The neighbourhood battery does store grey electricity, but it doesn't distribute it afterwards during the winter, which it should. This can be clearly seen in the following LES:

https://moses.energytransitionmodel.com/testing_grounds/436

This also happens on the beta server.

[2016-05-03 11:36] Sanne512 opened #946 ""Save and view LES button" does not save the changes made"
After editing the specifications of the technologies in the LES, to save them I clicked the "Save and view LES button" but it did not save the changes made in the technologies.

This happened while editing the following LES:

https://moses.energytransitionmodel.com/testing_grounds/436/edit

[2016-05-03 11:56] Sanne512 opened #947 "LES crashes while applying different flex strategies or selecting other nodes"
When applying different flex strategies or selecting other nodes in a LES on the beta server the LES crashes. The specific LES is on @JeroenvdLogt 's account.

[2016-05-03 12:03] Sanne512 opened #948 "Residential PV panel has an input capacity"
The residential PV panels in the LES below show an input capacity of 5 kW that cannot be changed. Why do they have an input capacity?

https://moses.energytransitionmodel.com/testing_grounds/436/edit

![pv input capacity](https://cloud.githubusercontent.com/assets/17741822/14982538/5bce5ab4-1137-11e6-9990-981cc0c062e4.PNG)

[2016-05-03 12:35] #947 closed

[2016-05-03 13:50] antw commented on #287
This appears to be resolved. Both P2H and P2G technologies do appear in an LES, provided the original ETM scenario has some installed.

One thing I did notice is that the number of P2G units is quite low. In a scenario scaled to 3000 households you can only install at most 4 P2G. This is because the full-scale scenario [has a hard cap of 10000 units](https://github.com/quintel/etsource/blob/master

[2016-05-03 13:50] #287 closed

[2016-05-03 14:01] antw commented on #786
Yup. Moses' support for efficiency isn't great, and since P2P and EV do weird things – such as emitting *potential* production for use by other techs, and then reclaiming unused energy back – it needs a bit of thought as to how to implement this cleanly. Same goes for the other issues regarding loss (#791, #799).

This seems quite substantial, so I think maybe we should pick this up after heat net

[2016-05-03 14:13] antw commented on #787
Just so we're on the same page:

* input capacity (of electricity): 1.0kW
* output capacity (of gas): 0.8kW

If 0.5kW of electricity goes in, how much gas comes out?

[2016-05-03 15:43] ChaelKruip commented on #940
I like the idea!

[2016-05-03 15:44] ChaelKruip commented on #946
Possible duplicate of https://github.com/quintel/etmoses/issues/766

[2016-05-03 15:47] ChaelKruip commented on #948
The input capacity is shown to inform the user of the possible ration between input and output capacities (efficiency or COP). In the case of solar PV, this attribute is not very informative and could be omitted. We are considering more technology-specific display rules. Hiding the input capacity for PV would be a good idea IMO.

Including @grdw

[2016-05-04 08:28] #353 closed

[2016-05-04 08:29] #462 closed

[2016-05-04 08:30] grdw commented on #495
In relation to documentation efforts.

[2016-05-04 08:31] #546 closed

[2016-05-04 08:49] grdw commented on #913
Closing, re-open if it re-occurs.

[2016-05-04 08:49] #913 closed

[2016-05-04 08:52] #835 closed

[2016-05-04 08:52] #836 closed

[2016-05-04 08:59] grdw commented on #737
In the InstalledTechnology model it's still called `capacity` and `carrier_capacity`.

[2016-05-04 09:09] #751 closed

[2016-05-04 09:11] #770 closed

[2016-05-04 09:15] #844 closed

[2016-05-04 09:18] #888 closed

[2016-05-04 09:21] #901 closed

[2016-05-04 09:22] #916 closed

[2016-05-04 09:29] Sanne512 commented on #948
@JeroenvdLogt  FYI

[2016-05-04 11:49] ChaelKruip commented on #787
0.8 * 0.5 = 0.4 kW I would say.

[2016-05-04 11:51] Sanne512 commented on #945
I was wondering if you could give me an indication about how long it takes to fix this? Because I need to finish my LES of the neighbourhood battery this week.

[2016-05-04 12:19] antw commented on #945
@Sanne512 Could you describe what you would *expect* to see in this network? It would be especially helpful if you could point to specific times, days, or weeks where the load is different to what you expected.

The battery does appear to discharge in winter – albeit not very much – in response to congestion problems on "MSR1 buurtbatterij en heatpumps". My guess is that the rest of the time, ther

[2016-05-04 12:23] ChaelKruip commented on #870
@Sanne512 can you give an indication when you can validate @jorisberkhout's assumptions and analysis?

[2016-05-04 12:39] antw commented on #787
Thanks! I just wanted to confirm that this is an *efficiency*, and not simply two separate capacity limits (i.e. 2.0 in, 0.8 out; 0.8 in, 0.8 out; 0.5 in, 0.5 out; etc).

This would actually be *very* simple to do – [a one-line change](https://github.com/quintel/etmoses/blob/d9450bc79246a247935293adbd1bbe025ec5f982/app/models/network/technologies/siphon.rb#L35) – except for the fact that we don't

[2016-05-04 12:47] ChaelKruip commented on #787
👍

[2016-05-04 13:48] Sanne512 commented on #870
I can do it now!

They way they relate to each other is that TL (transport leidingen) takes place at 8 or 4-1 bar, so the high and middle pressure that are specified on the first sheet. (When you compare this with electricity this is the medium voltage.) And the DL (distributieleidingen) correspond with 100 mbar pressure. (When you compare this with electricity this is the low voltage). The AL (aa

[2016-05-04 13:57] Sanne512 commented on #870
As for the compressors/boosters to transport gas from low to high pressure: we don't have any asset data about this, because these aren't part of our assets. At the moment transporting gas from low to high pressure only takes place at the Gasunie infrastructure (8 bar+) or at (green gas) producers, where the producer owns the compressor/booster. So for more information about these assets we advice

[2016-05-04 14:49] Sanne512 opened #951 "Gas storage/LNG"
I was wondering if gas storage/LNG is included as one of the technologies in ETMoses?

[2016-05-09 08:15] ChaelKruip commented on #951
It is possible to store gas in the network by feed-in from the lowest pressure level.

LNG is not explicitly modelled at the moment. What would you expect an 'LNG technology' to do? Isn't LNG storage (just) compression to even higher pressures?

[2016-05-09 08:18] Sanne512 commented on #945
@JeroenvdLogt mentioned that I should try reloading the LES, because sometimes the LEsses do not automatically update after something has changed in the programming of ETMoses. So I did that and that led to the above picture you posted, which indeed resembles more what I expected. So that question is solved.

But now I have another one: I expect the battery to charge when there is congestion. I en

[2016-05-09 09:55] #935 closed

[2016-05-09 11:28] antw commented on #945
I can't; that seems like a bug. I'm looking into it and will get back to you ASAP.

[2016-05-09 12:08] JeroenvdLogt opened #952 "No network cost are allocated to system operator"
Although there are operational_cost in the topology for the system operator I cannot find these cost in the business case.

test 2016-05-03 on production server

[2016-05-09 12:11] ChaelKruip commented on #952
Assigning @grdw

[2016-05-09 13:40] #945 closed

[2016-05-09 13:46] antw commented on #945
@Sanne512 This should now be fixed.

<img width="568" alt="screen shot 2016-05-09 at 14 46 11" src="https://cloud.githubusercontent.com/assets/4383/15115044/d4bde14e-15f4-11e6-87be-1a42922ca026.png">

[2016-05-09 14:01] grdw commented on #952
The nodes that are related to the system operator stakeholder are excluded from the calculation due to missing properties. In order for the topology costs to be taken into account for a certain node the following attributes have to be present:

- `investment_cost` attribute
- `stakeholder` attribute (which is present 👍 )
- lifetime (being either a `technical_lifetime` or `economic_lifetime` attrib

[2016-05-09 14:21] JeroenvdLogt commented on #952
Nope unfortenately it still doesn't work. In this case all investment cost are 'versdiconteerd' in the operational cost.

---
name: HV Network
stakeholder: producer
children:
- name: MV/LV transformator
  stakeholder: system operator
  capacity: 417
  yearly_o_and_m_costs: 1534
  children:
  - name: Afgaand LS veld
    units: 4
    stakeholder: system operator
    capacity: 260
    yearly_o_and_m_

[2016-05-09 14:31] grdw commented on #952
To clearify my comment in an example:

[code]

It needs the `investment_cost` and `ecnomic_lifetime` attributes for those nodes in order for the `yearly_o_and_m_costs` to be taken into account. We could change this though, considering the fact  that you might not know the values to these attributes.

What you could do in the mean time is specify the `investment_cost` as 0 and the `economic_lifetim

[2016-05-09 15:18] grdw commented on #859
@antw What would be a nice way to approach this? I'm thinking of creating a separate class called `ElectricVehicleBuilder` where build looks something like:

[code]

[2016-05-09 17:03] dennisschoenmakers opened #954 "[Airbrake] [Staging] No route matches {:action=>"show", :controller=>"business_cases", :id=>nil, :testing_ground_id=>"123"} missing required keys: [:id]"
**Airbrake error:** [#0996](https://quintel.airbrake.io/projects/111227/groups/1509247091701430996)
**Airbrake project:** ETMoses

**Error type:** `ActionController::UrlGenerationError`
**Error message:** `` No route matches {:action=>"show", :controller=>"business_cases", :id=>nil, :testing_ground_id=>"123"} missing required keys: [:id] ``
**Where:** `testing_grounds#show`
**Occurred at:** May 09

[2016-05-10 07:21] #940 closed

[2016-05-10 07:22] grdw commented on #946
Is a duplicate of #766 I'll close this issue and all further communication goes there. There's also already an idea to get rid of those two buttons here: https://github.com/quintel/etmoses/issues/776

[2016-05-10 07:22] #946 closed

[2016-05-10 08:40] Sanne512 commented on #870
In case you didn't have the report of Enexis (yet) I uploaded it and I updated the table.

The question about a general rule of thumb for placing new stations has been forwarded to gas experts.

[Investeren in de toekomst 20160122.pdf](https://github.com/quintel/etmoses/files/256721/Investeren.in.de.toekomst.20160122.pdf)

[Relation pipes Liander - report investeren in de toekomst 20160510.xlsx](h

[2016-05-10 09:05] dennisschoenmakers opened #955 "[Airbrake] [Production] No such file or directory @ rb_sysopen - /var/www/etmoses/releases/20160509134345/tmp/networks/production/465/basic/electricity/49a08c0e397826d795e50f9a6a16b08f35708bd965875a2b22d9bb1db5e25bc6.tmp"
**Airbrake error:** [#6840](https://quintel.airbrake.io/projects/111227/groups/1682479525866746840)
**Airbrake project:** ETMoses

**Error type:** `Errno::ENOENT`
**Error message:** `` No such file or directory @ rb_sysopen - /var/www/etmoses/releases/20160509134345/tmp/networks/production/465/basic/electricity/49a08c0e397826d795e50f9a6a16b08f35708bd965875a2b22d9bb1db5e25bc6.tmp ``
**Where:** `dat

[2016-05-10 15:44] jorisberkhout commented on #870
Thanks for this, @Sanne512 . As discussed, I have combined all data provided by you into one analysis which is attached to this comment.

In this analysis I have determined the number of assets / length of pipes per connection (which is technically part of https://github.com/quintel/etmoses/issues/889). The results are in the table below.

<img width="541" alt="screen shot 2016-05-10 at 17 34 06"

[2016-05-10 15:44] jorisberkhout commented on #889
See https://github.com/quintel/etmoses/issues/870#issuecomment-218094181

[2016-05-10 15:48] jorisberkhout commented on #870
I have a suggestion on how to solve this. Why don't we determine how many GOS, OS, DRS, HAS and AS you need for your LES based on the table above and the number of connections. To We can then round this number to the first higher integer to avoid having fractions of a connector in the LES.

[2016-05-11 07:51] Sanne512 commented on #945
It looks good! Thanks for fixing it :)

[2016-05-11 08:05] grdw commented on #954
Fixed with: https://github.com/quintel/etmoses/commit/a271d5e494ace7a03ee51bf8b133675c30c8b31c

[2016-05-11 08:05] #954 closed

[2016-05-11 12:26] grdw opened #956 "Remove name attribute from technologies Yaml and put in their locale files"
It would also be nice to remove the name attribute from the YAML files, and have this defined in a locale file.

[2016-05-11 12:26] grdw opened #957 "Add defaults Hash in technologies yml files"
Perhaps instead of default_capacity, default_volume, and default_demand, we might have a defaults hash instead?

[code]

[2016-05-11 13:53] Sanne512 commented on #951
LNG is a method to buffer natural gas, but with different efficiencies and costs. So when it's possible to buffer natural gas and edit these specifics LNG is included in ETMoses :)

[2016-05-11 14:03] Sanne512 commented on #870
I really like this idea! I've contacted a few gas experts and they couldn't give a straightforward answer or rule of thumb, because every situation differs a lot. So let's solve it this way.

[2016-05-12 08:49] grdw opened #959 "New design for profile matrix editor"
I understood that @dennisschoenmakers has an idea about how to improve the current layout and I was interested.

[2016-05-12 08:57] ChaelKruip commented on #870
I like this idea!

I think this is not going to work. If you model a street, it would be weird if your LES contains at least one whole GOS, OS, DRS, HAS etc. although you only use a fraction of that asset for that street in reality.

[2016-05-12 14:53] ChaelKruip commented on #951
Can you provide these numbers? I think we could include a new type of compressor with the correct efficiency and costs as an alternative for the default compressors.

At the moment, the user cannot edit the specifics of the technologies in the gas-asset matrix.

[2016-05-12 15:17] grdw opened #960 "Adding compressors to etmoses gas asset calculation"
There's a new type of gas asset in ETMoses: the compressor. It's purpose is to compress gas from a lower pressure level to a higher pressure level. The current `Upward` capacity is Infinite but this should be set to a calculated amount based on the compressors.

[2016-05-12 15:54] antw commented on #859
I *guess* so, but does that imply that `gquery` is making an API call to ETEngine to get the data? It might become a problem when importing a new scenario if several technologies have to do this.

An alternative would be to have some sort of "manager" class which takes an array of "builders", determines what data the builders need to create their technologies, and then sends as few requests as pos

[2016-05-13 07:41] grdw commented on #859
Yes. However, there are already a few loose technology builders that do requests through gqueries. I'm looking at Buldings and Households. Maybe we can make the manager as such that it also moves those gquery calls into the `Import::Manager`.

[2016-05-13 08:12] Sanne512 commented on #951
@JeroenvdLogt Do you think we have these numbers available at Alliander? Because if we don't have these I would consider it a nice to have and would like to focus my time on other more urgent tasks.

[2016-05-13 08:14] #948 closed

[2016-05-13 09:16] ChaelKruip commented on #951
Closing this for the moment. Re-open if relevant again.

[2016-05-13 09:16] #951 closed

[2016-05-13 09:30] grdw commented on #960
I'm looking at the code directly but I can stare at it for days and probably just barely touch the essence of what is going on; also reading the specs doesn't make much sense due to the level of abstraction. So therefor these questions:

"The compressors need to control the `Upward` capacity of the Gas Load"
I was told this but I don't really have a clue what that means. How exactly does that infl

[2016-05-13 09:48] dennisschoenmakers opened #961 "[Airbrake] [Production] undefined method `last' for nil:NilClass"
**Airbrake error:** [#8711](https://quintel.airbrake.io/projects/111227/groups/1684675415205458711)
**Airbrake project:** ETMoses

**Error type:** `NoMethodError`
**Error message:** `` undefined method `last' for nil:NilClass ``
**Where:** `<no information>`
**Occurred at:** May 13, 2016 09:48:36 UTC
**First seen at:** May 13, 2016 09:48:36 UTC
**Occurrences:** 1 (1 since last deploy on May 09, 20

[2016-05-13 09:51] grdw commented on #952
Including @ChaelKruip

[2016-05-13 09:56] ChaelKruip commented on #952
To calculate depreciation costs we need both an investment and a lifetime. O&M cost are optional. If we would calculate the costs only based on O&M cost the user would be unaware of his/her mistake in not specifying an important part of the total costs (the depreciation).

I think ETMoses would benefit from an option to 'break down' the total costs in the business case. This would communicate such

[2016-05-13 10:03] antw commented on #960
I'm confused. Isn't upward efficiency and capacity already modelled in `Connectors` using [the `low_to_high` capacity and efficiency](https://github.com/quintel/etmoses/blob/71e320c2a5b62e22b5ed58bc9bb1ec15589b20f3/db/static/connectors/inefficient_connector.yml#L1-L6)?

[2016-05-13 10:13] ChaelKruip commented on #960
Yes. If more gas is being pushed upward then the compressor can handle, the gas is 'flared' away.

OK, a long, long time ago there was a beautiful princess in a very big and cold castle. She asked all the young princes from neighbouring countries to make her feel warm again. Her evil stepmother didn't like the sound of that at all and gave her a little gas-fired heater instead so she could warm up

[2016-05-13 10:15] ChaelKruip commented on #960
Yes, because we (I) thought at the time that the compressor would be an integral part of the connectors (GOS, DRS etc.). It turns out that they are not... But I think every *connection between two levels* still has a `low_to_high` capacity. Does that make sense @antw?

[2016-05-13 10:21] ChaelKruip commented on #871
Closing this issue as our plans have changed with respect to how to model the infrastructure.

[2016-05-13 10:21] #871 closed

[2016-05-13 10:22] grdw commented on #960
It needs a bit more dragons but I get it though. 😄

So am I.

---

So the `low_to_high` capacity of the compressor is *added* to the `low_to_high` capacity of the connector? Or is one swapped out for the other?

[2016-05-13 10:22] ChaelKruip opened #962 "Cost of primary infrastructure of heat networks"
The heat network is modelled as two main components which are kept quite abstract:
* Primary (transmission) infrastructure. This contains one or more pipes from the source to the secondary network.
* Secondary infrastructure. This contains the distribution pipes and the connections to the households including heat exchangers.

The reason to split up the costs of the heat network infrastructure in

[2016-05-13 10:35] ChaelKruip commented on #960
I think of it like this: the *connection* between level 1 and level 2 (connection 1 <--> 2) has two directions of possible gas-flow. The connection is not a single entity but rather the effective sum of all connectors that are in the physical network (GOS, DRS etc.)

The direction from high to low pressure is simple at the moment in the sense that it is of limitless (infinite) capacity and lossles

[2016-05-13 10:46] ChaelKruip opened #963 "How sources feed the heat network"
Roughly speaking the heat-network story could go as follows:
* The user sets a certain percentage of heat-network use in the ETM:
<img width="456" alt="energy_transition_model_-_your_free__independent__comprehensive__fact-based_scenario_builder_" src="https://cloud.githubusercontent.com/assets/1303760/15249660/06582c6c-1921-11e6-8d36-a60458eb1288.png">
and
<img width="472" alt="energy_transition_m

[2016-05-13 11:37] grdw commented on #960
It currently is.

Ignoring the `low_to_high` capacity of all the connectors... ?

[2016-05-13 11:52] ChaelKruip commented on #960
If by connectors you mean the GOS, DRS etc. things then yes. These units turn out not to have a low_to_high anything...

[2016-05-13 12:07] grdw commented on #960
Aha, that makes sense. Thanks.

[2016-05-13 13:08] ChaelKruip opened #964 "For the whole LES, the demand for heat and the different forms of supply need to be shown per time-step"
A chart similar to gas and electricity would be nice. A stack of production combined with a line for demand would be very useful here:
<img width="641" alt="energietransitiemodel_-_je_eigen_onafhankelijke__volledige_en_op_feiten_gebaseerde_energiescenario_" src="https://cloud.githubusercontent.com/assets/1303760/15248766/302379f2-191c-11e6-9a66-e8ca085bae9f.png">

The main categories would be:
* D

[2016-05-13 13:09] ChaelKruip commented on #862
# Links to issues

- [ ] Load charts for heat: https://github.com/quintel/etmoses/issues/964

[2016-05-15 13:25] ChaelKruip commented on #962
The cost of primary infrastructure consists of the sum of
* depreciation costs: investment cost / lifetime
* yearly O&M costs

These numbers need to be specified per unit length (km). The distance between the source and the feed-in point of the secondary network determines the length. This length is specified per source in the source table:
<img width="796" alt="20150513_etmoses_sprint3_v7_pptx" s

[2016-05-15 17:36] ChaelKruip opened #966 "Cost of secondary infrastructure of heat networks"
The cost of secondary infrastructure consists of the sum of

* depreciation costs: investment cost / lifetime
* yearly O&M costs

So we need to research:

* investment cost
* technical_lifetim
* yearly O&M costs

These costs are specified per connection. The cost per connection depends on the type of house and the geography of the region.

I propose to define an average value for the two costs men

[2016-05-15 18:12] ChaelKruip opened #967 "Importing the sources from ETE"
* The user sets a certain percentage of heat-network use in the ETM:
<img width="456" alt="energy_transition_model_-_your_free__independent__comprehensive__fact-based_scenario_builder_" src="https://cloud.githubusercontent.com/assets/1303760/15249660/06582c6c-1921-11e6-8d36-a60458eb1288.png">
and
<img width="472" alt="energy_transition_model_-_your_free__independent__comprehensive__fact-based_scen

[2016-05-15 18:13] ChaelKruip opened #968 "The sources should be shown in an interactive table"
* The different sources for heat that feed the heat network are also imported and shown in a table. A first rough draft of which looks like:
<img width="796" alt="20150513_etmoses_sprint3_v7_pptx" src="https://cloud.githubusercontent.com/assets/1303760/15249787/ccd1af80-1921-11e6-8f12-9ffefdfda6bd.png">
* The user can edit several things:
  * Installed capacities
  * Profiles (for the non-dispatch

[2016-05-15 18:16] ChaelKruip opened #969 "Double-counting of hot water and space heating needs to be explained in documentation"
This leads to too high costs for owners of end-points.

[2016-05-15 18:20] ChaelKruip opened #970 "How should the number of connections to the heat network be determined?"
From the settings in the (scaled) ETM scenario, the number of heat network connections for space heating and hot water are extracted. As with all other heating technologies in the household sector, they are counted twice while in real life, the same connection to the heat network would suffice for both space heating and hot water.

For connections to the heat network, this double counting is even

[2016-05-16 15:30] ChaelKruip opened #971 "The heat budget (demand and supply) of the network should be calculated for each time-step"
This ticket is about the workings of the load calculation for heat.

* demand: defined by profiles, associated with buffers at the end-points of the electricity topology (nothing new)
* supply: (in order of precedence)
  * **heat network must-run**. These sources supply the heat network with heat. The amount is defined by a yearly budget and the instantaneous production is described by a profile.

[2016-05-16 15:35] ChaelKruip commented on #971
It would be nice if we could show demand and different types of supply per end-node for each time-step.

[2016-05-16 15:44] ChaelKruip opened #972 "Losses need to be included with a profile"
The losses of the heat network can vary a lot (between 5% and 35%) as a function of outside temperature. I propose to model these losses simply as a profile with 15 minute values. The use must be able to change the profile similar to the 'behaviour' profile for hybrid heat pumps:
<img width="974" alt="etmoses" src="https://cloud.githubusercontent.com/assets/1303760/15294621/58922e88-1b8d-11e6-9def

[2016-05-16 15:45] ChaelKruip commented on #971
If we have time, losses can be included (see https://github.com/quintel/etmoses/issues/972)

[2016-05-16 15:55] ChaelKruip opened #973 "Connection to the heat network need to be associated with end-points of the electricity topology"
Connections to the heat network are, physically speaking, heat exchangers which can be associated with buffers in ETMoses. In this case, the buffer-size should be reduced to something very small because houses with a connection to a heat network typically don't have buffers.

I think these buffers can be accommodated in the technology matrix:
<img width="1006" alt="screen shot 2016-05-16 at 17 55

[2016-05-16 16:04] #529 closed

[2016-05-16 16:04] #310 closed

[2016-05-16 16:05] #244 closed

[2016-05-16 16:06] ChaelKruip commented on #889
Can we close this @jorisberkhout @Sanne512 ?

[2016-05-16 16:07] ChaelKruip commented on #859
@grdw what is the status of this?

[2016-05-17 06:12] Sanne512 commented on #889
Yes, this can be closed

[2016-05-17 06:58] #889 closed

[2016-05-17 07:21] grdw commented on #859
Pending

[2016-05-17 14:57] grdw commented on #952
I think this also fits in the general usability improvement issues when it comes to editing the topology.

[2016-05-18 13:19] ChaelKruip commented on #740
Can we close this @grdw?

[2016-05-18 13:27] grdw commented on #740
![Yes we can](http://blend-allaboutwine.com/wp-content/uploads/2014/12/Blend_All_About_Wine_Madeira_Vintners_Yes_We_Can.jpg)

[2016-05-18 13:27] #740 closed

[2016-05-18 13:52] grdw commented on #931
The gas asset technologies have been updated (from fake data to real data). I'm going to regenerate all gas asset lists. If anybody has created a really unique gas asset list which they want to keep fixed please say so.

Including @ChaelKruip

[2016-05-18 14:02] ChaelKruip commented on #931
I don't think any gas-asset list so far is really realistic. @Sanne512 @JeroenvdLogt do you agree?

[2016-05-18 14:21] Sanne512 commented on #931
I agree

[2016-05-19 08:17] dennisschoenmakers opened #975 "[Airbrake] [Staging] no implicit conversion from nil to integer"
**Airbrake error:** [#6726](https://quintel.airbrake.io/projects/111227/groups/1688978065694636726)
**Airbrake project:** ETMoses

**Error type:** `TypeError`
**Error message:** `` no implicit conversion from nil to integer ``
**Where:** `gas_asset_lists#load_summary`
**Occurred at:** May 19, 2016 08:17:12 UTC
**First seen at:** May 19, 2016 08:17:12 UTC
**Occurrences:** 1 (1 since last deploy on

[2016-05-19 08:17] dennisschoenmakers opened #976 "[Airbrake] [Staging] no implicit conversion from nil to integer"
**Airbrake error:** [#3499](https://quintel.airbrake.io/projects/111227/groups/1688978074452343499)
**Airbrake project:** ETMoses

**Error type:** `TypeError`
**Error message:** `` no implicit conversion from nil to integer ``
**Where:** `gas_asset_lists#gas_load`
**Occurred at:** May 19, 2016 08:17:05 UTC
**First seen at:** May 19, 2016 08:17:05 UTC
**Occurrences:** 1 (1 since last deploy on May

[2016-05-19 08:40] dennisschoenmakers opened #977 "[Airbrake] [Staging] key not found: "buffer_space_heating_1""
**Airbrake error:** [#4499](https://quintel.airbrake.io/projects/111227/groups/1688989892382014499)
**Airbrake project:** ETMoses

**Error type:** `KeyError`
**Error message:** `` key not found: "buffer_space_heating_1" ``
**Where:** `gas_asset_lists#load_summary`
**Occurred at:** May 19, 2016 08:40:33 UTC
**First seen at:** May 19, 2016 08:40:33 UTC
**Occurrences:** 1 (1 since last deploy on May

[2016-05-19 08:40] dennisschoenmakers opened #978 "[Airbrake] [Staging] key not found: "buffer_space_heating_1""
**Airbrake error:** [#8414](https://quintel.airbrake.io/projects/111227/groups/1688989892298128414)
**Airbrake project:** ETMoses

**Error type:** `KeyError`
**Error message:** `` key not found: "buffer_space_heating_1" ``
**Where:** `gas_asset_lists#gas_load`
**Occurred at:** May 19, 2016 08:40:41 UTC
**First seen at:** May 19, 2016 08:40:41 UTC
**Occurrences:** 1 (1 since last deploy on May 18,

[2016-05-19 08:40] dennisschoenmakers opened #979 "[Airbrake] [Staging] key not found: "buffer_space_heating_1""
**Airbrake error:** [#9175](https://quintel.airbrake.io/projects/111227/groups/1688989930801839175)
**Airbrake project:** ETMoses

**Error type:** `KeyError`
**Error message:** `` key not found: "buffer_space_heating_1" ``
**Where:** `<no information>`
**Occurred at:** May 19, 2016 08:40:45 UTC
**First seen at:** May 19, 2016 08:40:40 UTC
**Occurrences:** 1 (1 since last deploy on May 18, 2016 15:

[2016-05-19 08:42] grdw commented on #975
Closing due to duplicate #976

[2016-05-19 08:42] #975 closed

[2016-05-19 08:54] grdw commented on #978
Closing due to duplicate #977

[2016-05-19 08:54] #978 closed

[2016-05-19 08:55] grdw commented on #979
Closing due to duplicate #977

[2016-05-19 08:55] #979 closed

[2016-05-19 12:34] Sanne512 opened #980 "Gas load graphs do not load"
When I try to view the impact on the gas load by clicking the gas load tab I get an error and it doesn't show  the graphs. This happens in the following LES:

https://beta-moses.energytransitionmodel.com/testing_grounds/504

[2016-05-19 12:40] antw commented on #980
Seems to be caused by #976. I'll close this duplicate issue and take a look into it.

[2016-05-19 12:40] #980 closed

[2016-05-19 12:51] dennisschoenmakers opened #981 "[Airbrake] [Staging] can't iterate from NilClass"
**Airbrake error:** [#1886](https://quintel.airbrake.io/projects/111227/groups/1689116246704371886)
**Airbrake project:** ETMoses

**Error type:** `TypeError`
**Error message:** `` can't iterate from NilClass ``
**Where:** `gas_asset_lists#calculate_cumulative_investment`
**Occurred at:** May 19, 2016 12:51:43 UTC
**First seen at:** May 19, 2016 12:51:34 UTC
**Occurrences:** 1 (1 since last deploy

[2016-05-19 12:51] dennisschoenmakers opened #982 "[Airbrake] [Staging] can't iterate from NilClass"
**Airbrake error:** [#2147](https://quintel.airbrake.io/projects/111227/groups/1689116246763092147)
**Airbrake project:** ETMoses

**Error type:** `TypeError`
**Error message:** `` can't iterate from NilClass ``
**Where:** `gas_asset_lists#calculate_net_present_value`
**Occurred at:** May 19, 2016 12:51:43 UTC
**First seen at:** May 19, 2016 12:51:42 UTC
**Occurrences:** 1 (1 since last deploy on

[2016-05-19 12:52] antw commented on #981
Caused by removing all the gas assets from an LES and then viewing the gas asset list.

[2016-05-19 12:52] Sanne512 opened #983 "Specifying stakeholders gas assets"
The stakeholders for gas assets can be determined by a dropdown menu. This can differ from the stakeholders that are specified in the electricity topology. In practice this can be the same stakeholder, is this taken into account in the business case?

[2016-05-19 12:57] antw commented on #980
@Sanne512 I have fixed the problem in that testing ground, but I'm not sure how the error was caused in the first place. If this happens again, can you let us know and – if possible – try to recall the actions you took before the error occurred? Thanks!

[2016-05-19 12:59] antw commented on #976
I modified the gas asset lists for the affected LESes (see #980). The problem is that a number of assets were assigned `pressure_level_index: null`. I can't seem to recreate this myself.

[2016-05-19 13:14] Sanne512 opened #984 "Connections HAS and AS"
The HAS and AS are delivery stations and can be connected to all pressure levels from 100 mbar to 8 bar. The HAS are used by bulk customers (mostly industry) and the AS are used for "normal customers". At the moment I can only choose a HAS or AS at the 100 mbar level. Is it possible to also make these connectors available on the other pressure levels? This is similar to connecting customers to the

[2016-05-19 13:16] #981 closed

[2016-05-19 13:18] antw opened #985 "Hide gas cost charts when no assets are installed"
If the user removes all the gas assets from their LES, it would be nice to hide the blank charts and instead show a message to the effect of "Your LES has no assets!"

![screen shot 2016-05-19 at 14 17 14](https://cloud.githubusercontent.com/assets/4383/15394710/6dcab194-1dcc-11e6-978e-8acd9937c73f.png) ![screen shot 2016-05-19 at 14 17 47](https://cloud.githubusercontent.com/assets/4383/15394720/

[2016-05-19 13:18] antw commented on #982
Closed by be89fe21.

[2016-05-19 13:18] #982 closed

[2016-05-19 13:20] ChaelKruip commented on #984
Yes, but the load calculation will not feed in the gas at those levels (yet).

I propose to make them available at 4 and 8 bar as well. Assigning @grdw to do this.

[2016-05-19 13:22] ChaelKruip commented on #983
The cost of a piece of infrastructure is assigned in the business case to the stakeholder selected in the gas-asset list. This cost is added to the other costs for that stakeholder.

Does that answer your question @Sanne512?

[2016-05-19 13:26] #570 closed

[2016-05-19 14:52] Sanne512 commented on #983
Yes it does and I have a follow up question: in the market model you can add additional stakeholders that aren't included in the topology. Is it possible to assign gas assets to these new stakeholders?

[2016-05-19 14:55] ChaelKruip opened #986 "Legend of load chart could use a little TLC"
![etmoses](https://cloud.githubusercontent.com/assets/1303760/15397992/511e6cfa-1de2-11e6-8c4a-44b96a06ba41.png)

* 'Load' needs to be renamed to 'electricity'
* If you toggle an attribute in the legend, the coloured square does not indicate this (it does not disappear when toggled 'off' until your mouse is elsewhere)

[2016-05-19 15:02] ChaelKruip commented on #983
Yes. The only thing which is restricted by not including a stakeholder in the electricity topology is the use of a 'measure' for that stakeholder.

[2016-05-19 15:03] jorisberkhout commented on #894
Assigning @grdw as he can implement this a million time quicker than I can ;)

[2016-05-19 15:10] jorisberkhout commented on #895
I have merged the old `LES` and `LES-overview` pages into a single page. This page can be found on https://github.com/quintel/etmoses/wiki/Local-Energy-Solutions and I suggest to link the How To menu item to that page.

[2016-05-19 15:10] jorisberkhout commented on #895
Assigning @grdw to implement this.

[2016-05-19 15:10] jorisberkhout commented on #896
Assigning @grdw to do this.

[2016-05-19 15:10] jorisberkhout commented on #896
Assigning @grdw .

[2016-05-20 07:44] jorisberkhout commented on #896
This has been implemented on the Beta-server. Thanks, @grdw !

[2016-05-20 07:44] #896 closed

[2016-05-20 07:44] jorisberkhout commented on #894
This has been implemented on the Beta-server. Thanks, @grdw !

[2016-05-20 07:44] #894 closed

[2016-05-20 07:45] jorisberkhout commented on #895
This has been implemented on the Beta-server. Thanks, @grdw !

[2016-05-20 07:45] #895 closed

[2016-05-20 08:32] ChaelKruip commented on #960
What is the status @grdw ?

[2016-05-20 08:34] ChaelKruip commented on #870
Can this be closed @Sanne512?

[2016-05-20 08:41] ChaelKruip commented on #626
More specifically, I propose to do the following:
* If the P2H strategy is selected, all **buffering** technologies are used to fill up the buffers to the max (also see https://github.com/quintel/etmoses/issues/670).
* It would be nice if we could prioritise buffering technologies with higher efficiency/COP. So, if a buffer has a heat pump and a resistive electric heater, the heat pump should be u

[2016-05-20 08:56] Sanne512 commented on #984
This makes sense.

I agree.

[2016-05-20 11:13] antw commented on #960
There's a pull request (#965). I understood it was awaiting "[ - ] Test it in a real LES", but perhaps that has been completed? It seems there is data in place from @jorisberkhout; assuming that data is ready, and the testing finished, I can work on getting the PR merged.

Is it the case that connectors have no `low_to_high` anything, and compressors have no `high_to_low` anything? Meaning: connec

[2016-05-20 11:19] ChaelKruip commented on #960
Yes!

No. Not at the moment.

👍

[2016-05-20 11:20] ChaelKruip commented on #960
Good to go!

[2016-05-20 12:19] ChaelKruip commented on #967
The following technologies need to be imported:

* households_collective_chp_network_gas
* households_collective_chp_wood_pellets
* households_collective_chp_biogas
* households_collective_geothermal
* households_heat_network_connection_steam_hot_water (excess heat/must-run)
* households_heat_network_connection_steam_hot_water (dispatchable)

The subdivision of the latter category (the central hea

[2016-05-20 13:28] ChaelKruip commented on #944
No, because it includes electricity from heating which is explicitly modelled in ETMoses.

I have pushed a [dedicated gquery](https://github.com/quintel/etsource/commit/692a78e9237a9000e06d7dab490c64e65615b616) to improve this.

Assigning @grdw to use this query.

[2016-05-20 14:54] dennisschoenmakers opened #987 "[Airbrake] [Production] Duplicate entry 'test' for key 'index_load_profiles_on_key'"
**Airbrake error:** [#2571](https://quintel.airbrake.io/projects/111227/groups/1689902854428932571)
**Airbrake project:** ETMoses

**Error type:** `Mysql2::Error`
**Error message:** `` Duplicate entry 'test' for key 'index_load_profiles_on_key' ``
**Where:** `load_profiles#create`
**Occurred at:** May 20, 2016 14:54:24 UTC
**First seen at:** May 20, 2016 14:54:24 UTC
**Occurrences:** 1 (1 since la

[2016-05-23 08:06] dennisschoenmakers opened #988 "[Airbrake] [Staging] undefined method `length' for nil:NilClass"
**Airbrake error:** [#5565](https://quintel.airbrake.io/projects/111227/groups/1691871607668585565)
**Airbrake project:** ETMoses

**Error type:** `NoMethodError`
**Error message:** `` undefined method `length' for nil:NilClass ``
**Where:** `testing_grounds#data`
**Occurred at:** May 23, 2016 08:05:53 UTC
**First seen at:** May 23, 2016 08:05:53 UTC
**Occurrences:** 1 (1 since last deploy on May

[2016-05-23 08:15] jorisberkhout commented on #495
Do we still want this, @ChaelKruip ? If so, I will pick it up as part of improving the documentation.

[2016-05-23 08:29] Sanne512 opened #989 "Quarterly values in one week do not load"
When I try to view the quarterly values in any week in the following LES, https://beta-moses.energytransitionmodel.com/testing_grounds/504 , I get this error: "sorry, your local energy solution could not be calculated".

@ChaelKruip : who can I assign to look into this?

![bug no quarterly values 20160523](https://cloud.githubusercontent.com/assets/17741822/15464555/58e8d4ac-20d0-11e6-8371-d0c970d

[2016-05-23 08:32] Sanne512 commented on #989
Nevermind, it suddenly decided to work anyway.

[2016-05-23 08:32] #989 closed

[2016-05-23 08:41] ChaelKruip commented on #495
👍

[2016-05-23 11:36] ChaelKruip opened #990 "The gas-load graph should have a week-selector"
Now there is no other view than the whole year:
<img width="614" alt="etmoses" src="https://cloud.githubusercontent.com/assets/1303760/15469563/4f3758b4-20eb-11e6-8994-218c934acea5.png">

[2016-05-24 07:16] #983 closed

[2016-05-24 07:42] Sanne512 commented on #886
The investment costs of heat  networks are strongly dependent on the type of houses or industry connected to the heat network and the area where the heat network is situated: is it a rural, city or semirural area. The costs of the heat network will be clustered in a value per type of house and type of area per meter pipe, we expect it to consist of 3 main types. Besides the investments in the heat

[2016-05-24 08:37] grdw commented on #931
I regenerated all gas asset lists on beta. So closing this issue.

[2016-05-24 08:37] #931 closed

[2016-05-24 08:38] grdw commented on #985
I agree, the same if all the assets are from the same year. Than there's no 'line' only a dot.

[2016-05-24 10:09] grdw opened #991 "Adding profiles for heat source technologies"
This might seem like the simplest solution to me (please correct me if I'm cutting corners here @antw ):

Since heat source technologies are basically a subset of technologies couldn't we keep the current `LoadProfile` functionallity exactly as is. But instead of being able to connect only to the normal technologies, add the functionality to be also able to connect to heat sources?

Maybe we shoul

[2016-05-24 10:30] antw commented on #991
My understanding is that heat sources *are* technologies: they're producers, just like solar panels. I expect they'd have a profile and a (negative) capacity or demand. I'm not even sure that there needs to be a separate HeatSources class because I'm not aware of any distinction between these "sources" and ordinary technologies. Correct me if I'm wrong please!

I think @ChaelKruip decided against

[2016-05-24 10:34] grdw commented on #991
This sounds even better 👍. It was just a little bit of separation but it's a bit pointless I guess.

[2016-05-24 12:11] dennisschoenmakers opened #992 "[Airbrake] [Production] undefined method `abs' for nil:NilClass"
**Airbrake error:** [#1886](https://quintel.airbrake.io/projects/111227/groups/1692719712479721886)
**Airbrake project:** ETMoses

**Error type:** `NoMethodError`
**Error message:** `` undefined method `abs' for nil:NilClass ``
**Where:** `testing_grounds#data`
**Occurred at:** May 24, 2016 12:11:04 UTC
**First seen at:** May 24, 2016 12:11:04 UTC
**Occurrences:** 1 (1 since last deploy on May 24,

[2016-05-24 12:29] dennisschoenmakers opened #993 "[Airbrake] [Production] key not found: "buffer_space_heating_16""
**Airbrake error:** [#6619](https://quintel.airbrake.io/projects/111227/groups/1692728902015236619)
**Airbrake project:** ETMoses

**Error type:** `KeyError`
**Error message:** `` key not found: "buffer_space_heating_16" ``
**Where:** `<no information>`
**Occurred at:** May 24, 2016 12:29:18 UTC
**First seen at:** May 24, 2016 12:29:18 UTC
**Occurrences:** 1 (1 since last deploy on May 24, 2016 09

[2016-05-24 12:32] JeroenvdLogt opened #994 "Problems with toggling concurrency"
When was building the following LES: Testen_HvT_topology_buildings_profiles

I had some troubles with toggling concurrency. First I adjust settings of the technology table and after that toggled minimal concurrency for heat buffers.
1) After that the technology table was much longer than necessary. Many heating technologies had zero units assigned.
2) My previous adjusted settings for buildings an

[2016-05-24 12:34] JeroenvdLogt commented on #994
![bug etmoses](https://cloud.githubusercontent.com/assets/7781037/15503914/ab7d4580-21bc-11e6-95b9-b429c549f9c6.JPG)

[2016-05-24 13:09] JeroenvdLogt opened #995 "Names of buildingprofiles in technology table is not displayed correctly"
In this LES: testing buidingprofiles I am using self uploaded baseload profiles. Although it seems the right profiles are used when looking at the dashboard, the technology table shows EDSN2a profiles to be used.

[2016-05-24 14:02] grdw opened #996 "GasAssets + Technologies blank sometimes on development environment"
I can't even start to explain this bug. Sometimes when restarting the server locally the `GasAssets::Pipe`, `GasAssets::Connector`, etc. are all empty (returning `[]` when running `<class>.all` in a pry session). It's frustrating in a sense that the server returns an error which has nothing to do with the fact that there are none of these assets. The only fix I've seen working is shutting down all

[2016-05-24 14:07] ChaelKruip commented on #994
Assigned @grdw

[2016-05-24 14:08] ChaelKruip commented on #995
Please include a link to your LES @JeroenvdLogt

[2016-05-24 14:08] ChaelKruip commented on #995
Assigned @grdw

[2016-05-24 14:55] Sanne512 opened #997 "Not possible to view load of full year"
In the LES Showcase buurtbatterij - overzicht ( https://moses.energytransitionmodel.com/testing_grounds/471 ) it is not possible to switch viewing the load from the first week of January to the whole year.

(Sorry Chael, I forgot who I could assign to this, so I assigned you.)

[2016-05-25 06:10] JeroenvdLogt commented on #995
https://moses.energytransitionmodel.com/testing_grounds/479

[2016-05-25 06:11] JeroenvdLogt commented on #994
https://moses.energytransitionmodel.com/testing_grounds/478

[2016-05-25 06:15] dennisschoenmakers opened #998 "[Airbrake] [Production] key not found: "buffer_space_heating_16""
**Airbrake error:** [#0838](https://quintel.airbrake.io/projects/111227/groups/1693265495381750838)
**Airbrake project:** ETMoses

**Error type:** `KeyError`
**Error message:** `` key not found: "buffer_space_heating_16" ``
**Where:** `gas_asset_lists#load_summary`
**Occurred at:** May 25, 2016 06:15:25 UTC
**First seen at:** May 25, 2016 06:15:25 UTC
**Occurrences:** 1 (1 since last deploy on May

[2016-05-25 06:15] dennisschoenmakers opened #999 "[Airbrake] [Production] key not found: "buffer_space_heating_16""
**Airbrake error:** [#1970](https://quintel.airbrake.io/projects/111227/groups/1693265495314641970)
**Airbrake project:** ETMoses

**Error type:** `KeyError`
**Error message:** `` key not found: "buffer_space_heating_16" ``
**Where:** `gas_asset_lists#gas_load`
**Occurred at:** May 25, 2016 06:15:25 UTC
**First seen at:** May 25, 2016 06:15:25 UTC
**Occurrences:** 1 (1 since last deploy on May 24,

[2016-05-25 07:53] ChaelKruip commented on #966
After discussion with @Sanne512 and @dennisschoenmakers I suggest to simplify the matrix to a limited number of 'types' which combine the type of house and the location. The following types make sense to me. Please let me know if it is possible to fine typical numbers for secondary infrastructure for these @Sanne512

* rural_detached
* rural_terraced
* village_detached
* village_terraced
* village

[2016-05-25 08:07] Sanne512 commented on #855
What's the status? Because I forgot the password to my own Alliander account (sanne.preso@alliander.com) and I can't access it now..

[2016-05-25 08:09] dennisschoenmakers opened #1000 "[Airbrake] [Production] no implicit conversion from nil to integer"
**Airbrake error:** [#9926](https://quintel.airbrake.io/projects/111227/groups/1693322960970429926)
**Airbrake project:** ETMoses

**Error type:** `TypeError`
**Error message:** `` no implicit conversion from nil to integer ``
**Where:** `gas_asset_lists#gas_load`
**Occurred at:** May 25, 2016 08:09:35 UTC
**First seen at:** May 25, 2016 08:09:35 UTC
**Occurrences:** 1 (1 since last deploy on May

[2016-05-25 08:09] dennisschoenmakers opened #1001 "[Airbrake] [Production] no implicit conversion from nil to integer"
**Airbrake error:** [#8377](https://quintel.airbrake.io/projects/111227/groups/1693322965198288377)
**Airbrake project:** ETMoses

**Error type:** `TypeError`
**Error message:** `` no implicit conversion from nil to integer ``
**Where:** `gas_asset_lists#load_summary`
**Occurred at:** May 25, 2016 08:09:34 UTC
**First seen at:** May 25, 2016 08:09:34 UTC
**Occurrences:** 1 (1 since last deploy on

[2016-05-25 08:31] Sanne512 opened #1002 "Gas load on pro server doesn't load"
In the LES test gas (https://moses.energytransitionmodel.com/testing_grounds/480) the gas load doesn't load. After scaling down an ETM scenario I opened this as a LES, used the default topology and market model, agreed with the technologies and then tried to view the gas load. But it doesn't load.

[2016-05-25 08:36] antw commented on #1002
@Sanne512 I fixed these LES' for you. It's the same issue we had last time (#980). I'll try again to reproduce this and figure out why it happens.

[2016-05-25 09:00] #855 closed

[2016-05-25 09:09] antw commented on #855
You can now reset your password if you forgot it:

| Sign in page | Forgotten password page |
| --- | --- |
| ![screen shot 2016-05-25 at 10 05 24](https://cloud.githubusercontent.com/assets/4383/15534398/866705b6-2260-11e6-8a18-3ae88a26e8ef.png) | ![screen shot 2016-05-25 at 10 08 53](https://cloud.githubusercontent.com/assets/4383/15534450/cc35f6ba-2260-11e6-920f-1ef940a2d0b2.png) |

After askin

[2016-05-25 09:29] grdw commented on #853
Closing due to issue related being closed.

[2016-05-25 09:29] #853 closed

[2016-05-25 09:30] grdw commented on #977
Possible duplicate of:  #892

[2016-05-25 09:30] grdw commented on #892
Closing due to duplicate

[2016-05-25 09:30] #892 closed

[2016-05-25 09:31] grdw commented on #999
Closed the following duplicates: #977, #993, #998

[2016-05-25 09:32] #977 closed

[2016-05-25 09:32] grdw commented on #987
@antw I think you fixed this one right?

[2016-05-25 09:52] grdw commented on #999
The way to reproduce is it for me is to physically - in the database - rename a composite value of a buffer. Ofcourse that's not really what you should do. So my guess is, is that the `compositeValue` of a buffer is mixed up somehwere in the profile matrix. I know that this issue is going to take some hours to complete. I think it might have to do with the concurrency settings and buffers.

[2016-05-25 09:54] #987 closed

[2016-05-25 09:56] antw commented on #987
Oh MySQL, are you kidding me?

[code]

Theres a load profile with the key `Test`. Ruby *quite sensibly* recognises that `"test" != "Test"`, hence the uniqueness validation passes. MySQL on the other hand...

![16or0](https://cloud.githubusercontent.com/assets/4383/15535886/19c0d16a-2267-11e6-8264-4e13afc3debf.gif)

[2016-05-25 10:01] grdw opened #1003 "Concurrency settings break when hitting Apply two times on one concurrency setting"
That's funny, I was just looking at another [completely unrelated issue](https://github.com/quintel/etmoses/issues/999) and discovered this one instead. It's pretty weird. Steps to do in order to reproduce this:

1. Create a LES
2. Remove all technologies
3. Add a buffer
4. Give it a heat pump
5. Give it both 2 units, so it looks like this:

![screen shot 2016-05-25 at 11 56 21](https://cloud.gith

[2016-05-25 11:23] grdw commented on #987
Says "peace among worlds"?

[2016-05-26 07:20] Sanne512 opened #1005 "Deficit caused by pipes or stations?"
Is it possible to see if deficits are caused by the pipes or by the stations at a certain pressure level?

(CC @JeroenvdLogt )

[2016-05-26 07:23] Sanne512 opened #1006 "Are deficits included in the business case?"
When there's a deficit the customer doesn't receive their gas. In practice this influences the business case, but with the electricity business cases if a station is congested this isn't included in the business case. How does this work with gas?

(CC @JeroenvdLogt )

[2016-05-26 07:44] Sanne512 opened #1007 "Apply button doesn't work"
Different day, same LES, different problem.

In the LES Test gas https://moses.energytransitionmodel.com/testing_grounds/480/edit , when you edit the Gas asset list and click on Apply it doesn't apply and save the changes. I'm not sure if it's connected to the last problem.

[2016-05-26 07:45] Sanne512 commented on #1007
CC @JeroenvdLogt

[2016-05-26 07:55] ChaelKruip commented on #1005
Because pipes don't have capacities, they cannot be the limiting factor. Pipes don't have capacities because it depends on their topology if this would be limiting and we don't model that.

[2016-05-26 07:55] #1005 closed

[2016-05-26 08:03] ChaelKruip commented on #1006
This works similarly with gas. Deficits should be dealt with by building more capacity or removing demand. To put a price on deficits would be very complex as the commodity price is never going to be the limiting factor. Consumers might be compensated for 'blackouts' in a variety of manners.

We can think about including a new measure like 'number of blackout events' to include in the market model

[2016-05-26 08:03] #1006 closed

[2016-05-26 08:11] grdw commented on #1007
Could you be more specific, do you do anything out of the ordinary or edited a specific field, removed a row, added a row?

Steps I performed
1. Opened your LES
2. Changed the quantity of the last OS to 0.0952
3. Hit apply
4. Refreshed the page to see if it changed (and it did)
5. Put the quanity back to 0.095

[2016-05-26 08:20] Sanne512 commented on #1007
On the first rule i changed the pressure level from 0,1 bar to 40 and hit apply. It didn't werk.

[2016-05-26 08:47] grdw commented on #1007
I see what is happening here. The gas asset list sorts itself on the pressure level. So if you change the pressure level of a certain gas asset from 0.1 bar to 40 bar the gas asset itself (the row) moves all the way to the bottom. Could you validate that that is what's happening?

This is a bit of hard to detect, so maybe we should give the changed rows (or cells) a yellow background color? @Chael

[2016-05-26 10:07] Sanne512 commented on #1007
I just retraced my steps and this is what happened:

1. I change the pressure level of the first line from 0.1 bar to 40 bar
2. Change the quantity to GOS
3. Change the stakeholder to producer
4. Click on apply

Then it discards all changes...

[2016-05-26 10:11] Sanne512 commented on #1002
The gas load loads now :)

[2016-05-26 10:38] Sanne512 commented on #997
When I first click another week and then whole year it loads the whole year. When I click whole year first nothing changes.

[2016-05-26 10:46] Sanne512 opened #1008 "Node in topology doesn't turn red when there is congestion"
In the LES _Showcase buurtbatterij - overzicht_ https://moses.energytransitionmodel.com/testing_grounds/471 when a node experiences congestion (which are nodes MSR2, MSR4 and MSR5) the node itself doesn't change from blue to red.

![bug knooppunt wordt niet rood bij congestie](https://cloud.githubusercontent.com/assets/17741822/15572261/c3d1afd4-233f-11e6-9e64-326064d5397d.PNG)

[2016-05-26 11:25] antw commented on #971
@ChaelKruip We briefly discussed the notion of having two separate buffer volumes. This would be used to model water being heated *beyond* the level needed by endpoints (with that extra-hot water being mixed with cold).

However I'm not sure what the criteria for this extra heat is. Is it that some must-runs can produce the energy needed to reach the higher volume, and some cannot?

For example, i

[2016-05-26 11:35] ChaelKruip commented on #971
All must-runs are treated equally and the amount of heat they can dump into the buffer is limited by the `max_volume`. The `normal_volume` is the limiting factor for *dispatchable* sources which are buffering heat into the buffer.

The rationale behind this is that dispatchable sources usually have worse COP/efficiency if they produce heat at a higher temperature so they are tweaked to fill the bu

[2016-05-26 11:38] antw commented on #971
Ah, I see. The original post made it seem that dispatchables are purely instantaneous, and only run if demand exceeds the energy stored in the buffer + must-runs. So, dispatchables should also be used to fill up the buffer?

[2016-05-26 11:51] ChaelKruip commented on #971
Yes. Sorry to be unclear about that. I expect the dispatchable sources to behave the same as the buffering technologies in households (without any strategies selected). They fill up the buffer up to the `normal_volume ` after the must-runs have done their thing.

The 'merit order' for heating the heat network is as follows:
* must-run
* dispatchable with highest priority (lower numbers are higher

[2016-05-26 12:10] dennisschoenmakers opened #1009 "[Airbrake] [Production] undefined method `round' for "2,5":String"
**Airbrake error:** [#4566](https://quintel.airbrake.io/projects/111227/groups/1694168775381204566)
**Airbrake project:** ETMoses

**Error type:** `NoMethodError`
**Error message:** `` undefined method `round' for "2,5":String ``
**Where:** `testing_grounds#show`
**Occurred at:** May 26, 2016 12:10:01 UTC
**First seen at:** May 26, 2016 12:10:01 UTC
**Occurrences:** 1 (1 since last deploy on May 2

[2016-05-26 12:16] Sanne512 opened #1010 "The LES "showcase buurtbatterij - overzicht" stopped working"
When I try to open the LES _showcase buurtbatterij - overzicht_ https://moses.energytransitionmodel.com/testing_grounds/471 it doesn't work any more and I get the following screen:

![mega error](https://cloud.githubusercontent.com/assets/17741822/15574180/44557580-234c-11e6-8984-c8c14e92a08b.PNG)

[2016-05-26 12:20] antw commented on #1010
Fixed that for you. A number was entered as `2,5` when the application requires `2.5`.

[2016-05-26 12:20] ChaelKruip commented on #1010
@antw can you have a look please?

[2016-05-26 12:22] antw commented on #1009
Caused (obviously) by entering a number in the wrong format. I very much want to add validation of all user input (ideally with `dry-types` and/or `dry-validation`), but it's too big a task for right now. Maybe after heat networks are finished.

[2016-05-26 12:28] antw commented on #1010
Will close this since the LES is now working. #1009 has a more detailed description of the problem and solution.

@Sanne512 If this happens again, you might be able to fix it by adding "/edit" to the end of the address and changing the value to use the correct format, and then saving the LES.

For example:

* For https://moses.energytransitionmodel.com/testing_grounds/471, visit https://moses.ener

[2016-05-26 12:28] #1010 closed

[2016-05-27 09:32] Sanne512 opened #1011 "Efficiency of neighbourhood battery"
When you change the COP/efficiency of the neighbourhood battery does this affect the calculations?

[2016-05-27 10:01] grdw opened #1012 "Can we change storage.volume to just plain storage in importable attributes?"
It's causing a bit of trouble trying to fetch specific attributes from et-engine with plain technologies. Since ETEngine whitelists 'storage' but not 'storage.volume'.

[2016-05-27 10:06] antw commented on #1012
`storage` should be a hash containing a `volume` key and, optionally, a `decay` key. Doesn't ETE just return the whole hash and then `Import::Attribute` extracts the volume?

[2016-05-27 10:30] grdw commented on #1012
Not really... it returns a: `#<Atlas::StorageDetails:0x007fc05e39bce8>` object.

[2016-05-27 10:48] antw commented on #1012
Could you clarify what "a bit of trouble" means though? ETE has always happily returned the `storage` attribute in the past; what has happened to make that more difficult?

[2016-05-27 11:57] grdw commented on #1012
To cearify. I just recently started to whitelist the attributes list for the technologies. Where it previously was the case where we would just ask ETEngine to return a statically defined list of attributes, that is now dynamic. So in order to also do this for the default list of technologies I stumbled upon the `storage` issue.

I think the reason why `storage.volume` worked great is because it's

[2016-05-27 13:43] Sanne512 commented on #997
When I select the node _MSR4 Buurtbatterij_ I can select weeks for the load, but it doesn't want to show me the load for a whole year.

[2016-05-27 19:09] #992 closed

[2016-05-27 19:09] #997 closed

[2016-05-27 19:12] #1002 closed

[2016-05-30 08:53] ChaelKruip commented on #1011
@antw can you answer this?

[2016-05-30 09:03] antw commented on #1011
Efficiency and loss is not currently modelled in any battery technology, including the neighbourhood battery. Currently, the only technologies to model CoP are "Heat pumps for space heating" and "Heat pumps for hot water".

I'm curious where you see an option to change the neighbourhood battery CoP/efficiency?

[2016-05-30 12:10] #976 closed

[2016-05-30 12:10] #996 closed

[2016-05-30 12:12] antw opened #1013 "Update Rails"
To at least `~> 4.1`, if not `~> 4.2`.

[2016-05-30 12:13] #1001 closed

[2016-05-30 12:13] #1000 closed

[2016-05-30 13:54] #1008 closed

[2016-05-30 14:50] #986 closed

[2016-05-30 16:15] ChaelKruip opened #1014 "The user should be able to add a generic new source to the heat network"
And specify all its attributes. This is similar to a 'generic' technology in the tech matrix.

[2016-05-31 09:02] #1003 closed

[2016-05-31 12:06] dennisschoenmakers opened #1016 "[Airbrake] [Staging] comparison of Float with Float failed"
**Airbrake error:** [#3713](https://quintel.airbrake.io/projects/111227/groups/1697790612560393713)
**Airbrake project:** ETMoses

**Error type:** `ArgumentError`
**Error message:** `` comparison of Float with Float failed ``
**Where:** `testing_grounds#data`
**Occurred at:** May 31, 2016 12:05:53 UTC
**First seen at:** May 31, 2016 12:05:53 UTC
**Occurrences:** 1 (1 since last deploy on May 30, 2

[2016-05-31 12:29] ChaelKruip commented on #967
Also, the buildings can be heated with a heat-network so the following additional converters need to be imported:

* buildings_collective_chp_network_gas
* buildings_collective_chp_wood_pellets
* buildings_collective_geothermal
* buildings_chp_engine_biogas

[2016-05-31 12:56] #939 closed

[2016-05-31 12:59] antw commented on #1016
Super old LES. Probably returning a `NaN` somewhere due to the old-style (standalone) heat pump which has zero units and no buffer volume.

I'll look into it at some point, but I think this is low priority, and not likely to be an issue for any LES created in the past few months.

[2016-05-31 13:05] antw opened #1017 "Gas load and business case pages should reuse cached network"
If a full-length, high-resolution copy of the network is stored in the cache, business case and gas load calculations should use that instead of recomputing the network.

[2016-05-31 14:08] ChaelKruip opened #1018 "Typical numbers for central heat network needed"
The central heat network is subdivided into two non-existing (in the ETM) technologies:

* households_heat_network_connection_steam_hot_water (excess heat/must-run)
* households_heat_network_connection_steam_hot_water (dispatchable)

Investment costs, technical lifetime and yearly O&M cost  for these two 'ghost converters' are not easy to determine. One approach could be to take all must-run techn

[2016-06-01 08:43] AlexanderWirtz commented on #1018
I have no idea what these costs are. @ChaelKruip what are these costs based on?

[2016-06-02 11:27] dennisschoenmakers opened #1020 "It hangs when I click Apply"
To reproduce:

1. Load https://moses.energytransitionmodel.com/testing_grounds/480
5. Click Apply

Indefinitely:
![image](https://cloud.githubusercontent.com/assets/104830/15743412/8cf03734-28c5-11e6-9664-95f9d9ec7934.png)

[2016-06-02 11:32] dennisschoenmakers opened #1021 "Gas load never loads?"
To reproduce:
1. https://moses.energytransitionmodel.com/testing_grounds/480/gas_load
2. it takes on my laptop more than 40 seconds to load.

![Uploading image.png…]()

[2016-06-02 11:33] dennisschoenmakers opened #1022 "Business cases sends many requests to the server?"
![image](https://cloud.githubusercontent.com/assets/104830/15743532/834e10a6-28c6-11e6-8375-0b3abc2afbb6.png)

[2016-06-02 11:34] dennisschoenmakers opened #1023 "X-axis labels of electricity all of a sudden reduced to just 7?"
![image](https://cloud.githubusercontent.com/assets/104830/15743544/a71ed1f0-28c6-11e6-865b-f344d565f4c2.png)

[2016-06-02 11:34] dennisschoenmakers commented on #1023
https://moses.energytransitionmodel.com/testing_grounds/480

[2016-06-02 11:42] dennisschoenmakers opened #1024 "Now there's gas, but no tab 'gas load' anymore?"
https://moses.energytransitionmodel.com/testing_grounds/427

![image](https://cloud.githubusercontent.com/assets/104830/15743732/d0740aec-28c7-11e6-8ce8-5b57a1a7f0cb.png)

[2016-06-02 11:44] dennisschoenmakers opened #1025 "Business cases take forever to load"
https://moses.energytransitionmodel.com/testing_grounds/427/business_cases/191

It takes longer than I need to write this ticket and then some... 😒

![image](https://cloud.githubusercontent.com/assets/104830/15743759/0497ba12-28c8-11e6-872a-9cde17f7efd7.png)

[2016-06-02 11:54] ChaelKruip commented on #1020
I think it is definitely a bug that ETMoses 'hangs' but I'm also confused as to why it is possible to click 'apply' at all when you haven't changed anything yet.

Assigning @antw

[2016-06-02 11:57] ChaelKruip commented on #1021
I don't know why this would take so long. Is this because the gas-load calculation also triggers the electricity load calculation?

Possibly related to https://github.com/quintel/etmoses/issues/1017

Assigning @antw

[2016-06-02 11:57] ChaelKruip commented on #1022
Assigning @antw

[2016-06-02 11:58] ChaelKruip commented on #1023
@dennisschoenmakers what did you do to get this effect?

Assigning @grdw

[2016-06-02 11:59] ChaelKruip commented on #1024
Assigning @grdw

[2016-06-02 12:00] ChaelKruip commented on #1025
Assigning @antw

[2016-06-02 12:04] dennisschoenmakers commented on #1023
1. press 'gas load' tab
2. wait until everything is loaded
3. press 'load' again
4. voila!

![image](https://cloud.githubusercontent.com/assets/104830/15744196/d766b6bc-28ca-11e6-8308-2834a6f93ca9.png)

[2016-06-02 12:06] dennisschoenmakers commented on #1023
Also, then, it is broken when you select another period: 😭

![image](https://cloud.githubusercontent.com/assets/104830/15744222/feaa486a-28ca-11e6-8190-1f617c8f6730.png)

[2016-06-02 12:08] dennisschoenmakers opened #1026 "Red dots are not consisent:"
Only when I click it, it becomes red:

### Right one is not red

![image](https://cloud.githubusercontent.com/assets/104830/15744285/5b1087f4-28cb-11e6-958d-04a8c589248c.png)

### I click it: yes, it is red

![image](https://cloud.githubusercontent.com/assets/104830/15744297/6bf0543c-28cb-11e6-8298-3a61be8133d9.png)

[2016-06-02 12:09] antw commented on #1022
That's expected. The business case is being calculated and [JS is polling](https://github.com/quintel/etmoses/blob/c42b09907fc22680ba54f6f93ac8731007a0b8c2/app/assets/javascripts/poller.js) to find out if it has finished. Once the server returns the calculated business case, the requests will stop.

[2016-06-02 12:09] #1022 closed

[2016-06-02 12:10] ChaelKruip commented on #1026
Assigning @grdw as I recall he has pushed something fixing the colouring of nodes recently.

[2016-06-02 12:10] dennisschoenmakers opened #1027 "BUG: Gas load chart shows up when I was expecting the electricity load"
![image](https://cloud.githubusercontent.com/assets/104830/15744348/af50955c-28cb-11e6-8763-792aafa52916.png)

It is also inconsistent with the **date selector** 😭

To reproduce:

1. load https://moses.energytransitionmodel.com/testing_grounds/476

[2016-06-02 12:11] antw commented on #1020
It's a display issue only. If you click "Apply" without changing anything, no request is sent to Moses, but for some reason the loading "spinner" is still shown. I'll look into that.

[2016-06-02 12:11] dennisschoenmakers commented on #1023
I also got it with another LES when I didn't even touch the gas load:

![image](https://cloud.githubusercontent.com/assets/104830/15744387/f2a28dce-28cb-11e6-9da6-289a8c86135b.png)

[2016-06-02 12:13] dennisschoenmakers opened #1028 "Weekly load cache sometimes has one or more missing nodes"
**Airbrake error:** [#7998](https://quintel.airbrake.io/projects/111227/groups/1699243736076627998)
**Airbrake project:** ETMoses

**Error type:** `Errno::ENOENT`
**Error message:** `` No such file or directory @ rb_file_s_mtime - /var/www/etmoses/releases/20160531130127/tmp/networks/production/476/basic/electricity/49a08c0e397826d795e50f9a6a16b08f35708bd965875a2b22d9bb1db5e25bc6.load.current_week

[2016-06-02 12:13] dennisschoenmakers opened #1029 "All of a sudden, LES cannot be calculated?"
![image](https://cloud.githubusercontent.com/assets/104830/15744424/2c969656-28cc-11e6-95e6-e490e549c7a6.png)

https://moses.energytransitionmodel.com/testing_grounds/476

[2016-06-02 12:14] antw commented on #1029
Closing in favour of #1028.

[2016-06-02 12:14] #1029 closed

[2016-06-02 12:14] dennisschoenmakers opened #1030 "Download curve renders an empty file"
Reproduce:
1. https://moses.energytransitionmodel.com/testing_grounds/476
2. Click options > download curve

![image](https://cloud.githubusercontent.com/assets/104830/15744455/565cbc4a-28cc-11e6-9e18-35d1197b6c5f.png)

[2016-06-02 12:15] antw commented on #1030
Almost certainly related to #1028. Probably a cache issue.

[2016-06-02 12:19] dennisschoenmakers commented on #1024
The reverse is also true:

No gas technologies, but now we *do* have a gas tab...

![image](https://cloud.githubusercontent.com/assets/104830/15744562/f71bc860-28cc-11e6-8d0e-7b618cd69fed.png)

[2016-06-02 12:22] grdw commented on #1023
Can reproduce locally. Will see what this Javascript sorcery is...

[2016-06-02 12:23] antw commented on #1024
The "Gas load" tab shows when you have gas *assets* (connectors or pipes) installed. If you have no gas assets, there's not much point in showing the tab.

[2016-06-02 12:23] dennisschoenmakers opened #1031 "Business cases take very very long to load/calculate"
Even for simple LES's, it takes at least 40 seconds, at least on my laptop. This is so long, that most users will probably have closed their tabs long before that.

Also, if you refresh the page, you have to wait for another 40 seconds. 😒

[2016-06-02 12:24] antw commented on #1025
Closing for the more general issue #1031.

[2016-06-02 12:24] #1025 closed

[2016-06-02 12:26] antw commented on #1031
This is the more immediately fixable issue. It used to be that if the business case had previously been calculated, it would be loaded from the DB without recalculating. I'm not sure when that changed. Perhaps when it moved to a dedicated page?

The initial calculation is slow because it depends on the network calculation running first. #1017 will help in some situations.

[2016-06-02 12:28] antw commented on #1021
This is correct. #1017 is related.

[2016-06-02 12:31] dennisschoenmakers commented on #1031
Anybody know about that?

[2016-06-02 12:32] antw commented on #1024
It has a hybrid heat pump, which has a gas component. The "Gas load" tab does not show because as an older LES it does not have an associated `GasAssetList` record, which describes the pipes and connectors installed at each pressure level.

Maybe we should still show the "Gas load" page, even though the load would be identical at each pressure level.

[2016-06-02 12:32] ChaelKruip commented on #1024
You have gas-technologies but no gas infrastructure. LESses created before the gas-asset list, don't have pipes and connectors and, therefore, no gas load charts.

[2016-06-02 12:33] grdw commented on #1023
I think it somehow switches resolution from `high` to `low` when you toggle tabs. Don't know why exactly yet.

[2016-06-02 12:35] dennisschoenmakers opened #1032 "It seems like the gas charts do not add up"
![image](https://cloud.githubusercontent.com/assets/104830/15744825/9d621930-28ce-11e6-9764-7108d28b326f.png)

Left chart says the following for more than 50% of the time:

* 4 bar: 6.71 kW
* 8 bar: 1.57 kW
* 40 bar: 1 kw

But the right hand chart says:
* almost no kWh from 4 to 8 bar, but judging from the left chart, this cannot be true
* no kWh from 8 to 40, but judging from the left chart, this

[2016-06-02 12:39] #1023 closed

[2016-06-02 12:40] dennisschoenmakers opened #1033 "When you go to gas, back to electricity and select other week your stuck"
Loads forever and hangs:

![image](https://cloud.githubusercontent.com/assets/104830/15745035/f9b1ce46-28cf-11e6-8e4d-da59dee9a82c.png)

[2016-06-02 12:41] grdw commented on #1023
Allright, I won't go into much Javascript detail here but the problem was that the Object that kept all the view options was in the `prototype` of the `D3Chart` object and not in an instance of the Object itself. Yeah... gotta love Javscript. 🙀

[2016-06-02 12:46] grdw commented on #1033
Could you try to reproduce this on beta? It sounds as though it's related to #1023

[2016-06-02 12:47] antw commented on #1024
To be honest, I'm not sure. The gas network defaults to infinite capacity and 1.0 efficiency at each level, but I'll need to test it.

However, some time ago I added[a message](https://github.com/quintel/etmoses/blob/35671936b822730a1f57da7c579854f457a1114f/app/views/testing_grounds/gas_load.html.haml#L23-L27) to be shown if a user accidentally visits the gas load page with no assets. This was bec

[2016-06-02 12:49] ChaelKruip commented on #1032
The weird asymmetry and inconsistency stems from the fact that the gas-connectors still have temporary constraints right @antw?. The constraint for the 0.125 - 4 bar is such that there is a huge deficit (shown in a creamy colour). In reality the constraints for demand are not very relevant (always very much larger than needed) so we probably should set them to 'infinite' to make these charts look

[2016-06-02 12:54] grdw commented on #1027
![screen shot 2016-06-02 at 14 54 20](https://cloud.githubusercontent.com/assets/2676542/15745391/e8aeecee-28d1-11e6-983e-50c3a698b9c6.png)

I'm currently getting an error.

[2016-06-02 12:58] grdw commented on #1027
Removed the cache (because there was one file missing?) and reloaded the page and I have the current load again. Also with just this one single step I'm not able to reproduce this. Is there anything else that you did to achieve this? Switch tabs really fast etc. anything?

[2016-06-02 12:59] grdw commented on #1028
I just removed the cache for this LES ...

[2016-06-02 13:00] grdw commented on #1031
\*Raises hand\* Yes I do. I'll look into this.

[2016-06-02 13:06] ChaelKruip commented on #1027
The main issue is why it regularly happens that some caching-related problem makes a LES 'hang'.

I cannot reproduce this now.
Closing.

[2016-06-02 13:06] #1027 closed

[2016-06-02 13:10] antw commented on #1031
I think I see what's happening. The request for the `data` json is sending a `clear: true` param every time.

[2016-06-02 13:13] grdw commented on #1031
Yes, I know 👍 already saw that happening. Am fixing it.

[2016-06-02 13:29] grdw commented on #1031
@antw I have a question about the 'hackyness' level of a feature. Right now I'm only checking the `cache_updated_at` time for a LES (which is when somebody changes something in the technology matrix) and compare it to the `business_case` updated_at. But the business case should also recalculate when somebody edits his or her strategies, which is now not the case.

The fast way would be to touch th

[2016-06-02 13:31] ChaelKruip commented on #1033
Cannot reproduce on LIVE or BETA at the moment...

Closing. Re-open if this re-occurs.

[2016-06-02 13:31] #1033 closed

[2016-06-02 13:35] ChaelKruip commented on #1026
I open [the LES](https://moses.energytransitionmodel.com/testing_grounds/480) and only the second end-node is red:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/15746583/776ac49e-28d7-11e6-8afd-6a66c950ca5d.png)
Selecting the third end-node and all of a sudden it also turns red:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/15746616/94f6e4a2-28d7-11e6-8ff3-f23463a9a

[2016-06-02 13:44] antw commented on #1031
Do you happen to know if that will also invalidate the basic ("strategies off") network cache? I think it will, since `Validator#fresh?` will then return false. That would be a pity.

Could it not instead set something on the BusinessCase instructing it of the need to recalculate? Perhaps it could call `BusinessCase#clear_job!`?

[2016-06-02 13:49] grdw commented on #1031
When changing the strategies? I think that's better 👍 I think putting it in the `TestingGround::StrategyUpdater` would be best.

[2016-06-02 13:57] antw commented on #1032
I'm in the process of grabbing a copy of the production load curves so that I may test this LES out for myself. I do believe you're correct about the 0.125 - 4 bar constraint being the limiting factor.

Maybe #965 will resolve this by removing `low_to_high` attributes from connectors. I'll check that out now.

[2016-06-02 14:05] ChaelKruip commented on #1032
Sounds good!

[2016-06-02 14:11] antw commented on #1026
Is this not because we initially retrieve only the load for the selected node? (insert something about being a poet here).

[2016-06-02 14:22] grdw commented on #1026
Thanks for being sharp here. The way ETMoses currently draws the loads is the following:

1. Fetch the topology
2. Draw the topology
3. If and only if you already selected a node for that LES (so in @ChaelKruip's case node 2). It only fetches the loads for that node.
4. Set the capacity color.

[2016-06-02 14:22] ChaelKruip commented on #1026
But... does that mean that you'd have to click every node in the topology in order to see if it is congested?! 😧  That's new and not very desirable.

When it comes to plotting the curves, I agree that it probably is fine to only request data that you actually need. But the network should show the problem nodes from the get-go IMO.

Perhaps a way to get best of both worlds is to mark each node 'red

[2016-06-02 14:24] grdw commented on #1026
You can also look at it in that fashion. But when it comes to very large LES's it's actually desirable to only fetch a certain subset of nodes.

Hmm,, that would suggest that you already calculated the LES fully? But than again you probably already did when you see this bug.

[2016-06-02 14:28] antw commented on #1026
I think this is non-trivial. If caching is enabled (staging and production), we'd need to extend the caching system to store whether load exceeds capacity on each node. If caching isn't enabled (development), this probably triggers another calculation of the network.

A quick-fix might be to request the loads for all nodes in the topology (instead of only those clicked on by the visitor). It's not

[2016-06-02 14:29] ChaelKruip commented on #1026
It may be desirable to fetch only the *data* for a subset of nodes but the status of those nodes should be apparent at first glance.

Not necessarily. Only the current week could also give you a 'status' for the topology.

[2016-06-02 14:40] ChaelKruip commented on #1026
I'll take your word on that!

Sounds good. Especially the 'quick' part 😉

[2016-06-02 14:54] antw commented on #1032
I wasn't thinking straight when I wrote that. Removing `low_to_high` attributes from connectors has no effect, because the problem is an excess of demand.

The asymmetry between the different pressure layers is entirely due to insufficient infrastructure capacity at each level. If I increase the capacity at each level 100x, the chart looks like this:

![screen shot 2016-06-02 at 15 44 43](https://

[2016-06-02 14:59] ChaelKruip commented on #1032
That's a far more eloquent way to put in words what I actually tried to convey, yes.

[2016-06-02 15:03] #1026 closed

[2016-06-02 15:11] ChaelKruip opened #1036 "Marginal costs for CHPs feeding the central heat network need to be improved"
To order several dispatchable heating options for the heat network, it is necessary to assign a marginal cost to heat-producing units.
The marginal cost is the logical choice for assigning a 'merit order for heat'. ETEngine does not have a method to calculate marginal costs based on heat though...
[This pull request](https://github.com/quintel/etengine/pull/846) adds a simple method that does just

[2016-06-02 15:19] grdw commented on #1031
Fixed with https://github.com/quintel/etmoses/pull/1034

[2016-06-02 15:19] #1031 closed

[2016-06-02 18:34] antw commented on #1032
Closed by #965 and db550df9.

[2016-06-02 18:34] #1032 closed

[2016-06-02 18:35] #1020 closed

[2016-06-02 19:18] antw commented on #1021
I think I'll close this in favour of #1017. Being able to reuse the cached loads is likely the only way we'll improve this. The gas calculation itself is reasonably fast.

[2016-06-02 19:18] #1021 closed

[2016-06-03 07:25] #994 closed

[2016-06-03 07:29] grdw commented on #763
All technologies have been moved to yml files. Also when changing concurrency it initializes a new set of `InstalledTechnology` objects. It doesn't guess the values from pre-existing html inputs like the old Javascript version was trying to do. So therefor closing this issue.

[2016-06-03 07:29] #763 closed

[2016-06-03 07:39] Sanne512 commented on #1011
On the page where you can edit the technologies of the LES, if you click Toggle advanced there is a field with COP/efficiency which is automatically set to 1.0

![etmoses cop efficiency neighbourhood battery](https://cloud.githubusercontent.com/assets/17741822/15772004/dd2ce180-296e-11e6-8634-cc3512e14aa0.PNG)

[2016-06-03 07:40] Sanne512 opened #1038 "Clone"
What's the definition of a clone, for example what does a cloned market model mean?

[2016-06-03 07:54] dennisschoenmakers opened #1039 "Numbers not readable when they are large"
Source: https://beta-moses.energytransitionmodel.com/testing_grounds/509/gas_load

![image](https://cloud.githubusercontent.com/assets/104830/15772369/0b4069e6-2971-11e6-97ea-43e6a0056c71.png)

[2016-06-03 07:57] dennisschoenmakers opened #1040 "We do have gas load in gas tab, but no gas series in the load chart..."
https://beta-moses.energytransitionmodel.com/testing_grounds/509/gas_load shows:

![image](https://cloud.githubusercontent.com/assets/104830/15772457/774d4b54-2971-11e6-807c-ed283a645099.png)

But https://beta-moses.energytransitionmodel.com/testing_grounds/509 does **not** show any gas load:

![image](https://cloud.githubusercontent.com/assets/104830/15772462/85099cca-2971-11e6-958c-82929ac548c3.

[2016-06-03 08:00] dennisschoenmakers opened #1041 "Date picker is cut off too low?"
I selected the 'stacked' option:

![image](https://cloud.githubusercontent.com/assets/104830/15772537/e78e46b6-2971-11e6-8139-4afb983cb782.png)

[2016-06-03 08:01] dennisschoenmakers opened #1042 "When capacity is selected it does not show up in the chart"
![image](https://cloud.githubusercontent.com/assets/104830/15772578/2753c19a-2972-11e6-8ba8-cf99f604533e.png)

source: https://beta-moses.energytransitionmodel.com/testing_grounds/509

[2016-06-03 08:02] dennisschoenmakers commented on #1042
Red line seems to be at 0?

[2016-06-03 08:06] dennisschoenmakers commented on #1040
That was me not understanding. I didn't select an end point.

[2016-06-03 08:06] #1040 closed

[2016-06-03 08:07] grdw commented on #1042
It's 51.. but considering your highest load to be 6.000.000 it looks as it is 0.

[2016-06-03 08:08] dennisschoenmakers opened #1043 "Date picker doesn't change when you change legend"
It start of well, but when you change the legend, the date picker does **not** change. That's a bit unfortunate, because you loose track of 'where you are'.

![image](https://cloud.githubusercontent.com/assets/104830/15772689/e24765ce-2972-11e6-8a9c-455e7dfc2790.png)

[2016-06-03 08:08] dennisschoenmakers commented on #1042
Fair enough!

[2016-06-03 08:08] #1042 closed

[2016-06-03 08:32] dennisschoenmakers opened #1044 "Gas load is not consistent between weeks and sometimes hangs"
Unfortunately, I don't have the screenshots to 'prove' it, but this is what I did:

I changed the strategies for https://beta-moses.energytransitionmodel.com/testing_grounds/509

![image](https://cloud.githubusercontent.com/assets/104830/15773123/86c94e3a-2975-11e6-87f7-705ae765f0d3.png)

I go to the next week

There the gas load seems to be **very** different and inconsistent with the other week.

[2016-06-03 08:36] dennisschoenmakers opened #1045 "Another console error."
![image](https://cloud.githubusercontent.com/assets/104830/15773404/fa6f1382-2976-11e6-9d80-200262c05c3a.png)

[2016-06-03 08:46] dennisschoenmakers commented on #1044
Also observed on live:

![image](https://cloud.githubusercontent.com/assets/104830/15773610/31a64a9a-2978-11e6-8e00-14698336f687.png)

next week:

![image](https://cloud.githubusercontent.com/assets/104830/15773619/3e17f1a2-2978-11e6-92f4-346e6d5cb077.png)

Going back one week:

![image](https://cloud.githubusercontent.com/assets/104830/15773628/4a3e2582-2978-11e6-8e47-cea7b40294da.png)

Console l