[2014-09-04 09:14] dennisschoenmakers opened #1 "Create documentation on how this module should work"
My thoughts:

* It should work for just *one moment in time*. Let another module deal with profiles, etc.

[2014-11-04 11:44] ChaelKruip opened #2 "Electricity should be able to flow in both directions through edges"
Although the primary result of the calculation will be a `load` (usually expressed in Volt Ampere, which is equivalent in units to Watt or Joule / second), we probably have to model energy flows as well. The reason is that we will need to include effects of loss (I think). Loss will result in a lower load on one side of a cable. Energy flows from high to low load so loss introduces directionality.

[2014-11-06 13:20] ChaelKruip opened #3 "The network cost calculation should be made consistent with the ETM"
The network cost calculation that is currently in the ETM will likely not suffice for ETLoader. There are several reasons:
- The GQL-based calculation is not very flexible and will not match all the possible topologies that the 'testing ground' can have.
- The GQL-based calculation is hard to maintain and we already have plans to get rid of it anyway, it would be unwise to use it in yet another pl

[2014-11-20 09:41] ChaelKruip opened #4 "Decide how to model different types of households"
The D-Cision model allows the user to define multiple types of households. Each type can have a different number of heat pumps or electric vehicles. As long as these types would be connected to the same end-piece of the network (e.g., LVnet_1), we can describe any combination of households of different types in the current ETM. This is not possible, however, if the different household types are co

[2014-11-24 09:46] ChaelKruip opened #5 "OVERVIEW: functionality and design of Step 2 (topology)"
The purpose of this ticket is to sketch the bigger picture of what we want ETLoader to be able to do after Step 2 has completed. This is not an actionable ticket as such but a 'discussion document'.

[2014-11-28 09:47] ChaelKruip opened #6 "Documentation for Step 2"
There should be user documentation.

[2015-01-12 15:27] ChaelKruip commented on #4
Closing this as we will first realise a testing ground scenario where every connection is explicitly modelled.

[2015-01-12 15:27] #4 closed

[2015-01-12 15:28] ChaelKruip commented on #6
Closing.

[2015-01-12 15:28] #6 closed

[2015-01-27 15:17] ChaelKruip opened #7 "The server complains that it is read-only when trying to change the topology"
![action_controller__exception_caught](https://cloud.githubusercontent.com/assets/1303760/5920852/f24d8fdc-a63f-11e4-9e93-ab594d38f10e.png)

[2015-01-27 15:19] ChaelKruip opened #8 "The 'key' attribute seems a bit spurious"
It seems to be a repetition of the parent's key:
![ivy](https://cloud.githubusercontent.com/assets/1303760/5920878/366fc05e-a640-11e4-82df-2f226ffb7973.png)

[2015-01-27 15:24] ChaelKruip opened #9 "It seems that the topology only shows the 'demand' of the nodes"
![ivy](https://cloud.githubusercontent.com/assets/1303760/5920933/96774a94-a640-11e4-93f8-129ac9dd6e3f.png)

I would expect the nodes in the topology to show the sum of 'capacity' and 'demand' (which should both be called 'load' but that is a separate issue :wink: )

[2015-01-27 15:25] ChaelKruip opened #10 "Load does not add up as expected"
![ivy](https://cloud.githubusercontent.com/assets/1303760/5921015/134b420a-a641-11e4-8a9c-6550ff3e21b4.png)
I would expect load of the top node to be the sum of the load on the child nodes.

[2015-01-27 15:28] ChaelKruip opened #11 "The debug window does not show an image (on my machine)"
![ivy](https://cloud.githubusercontent.com/assets/1303760/5921059/5a887e76-a641-11e4-8b28-75727993076d.png)

Just a stab in the dark: is this an ImageMagick problem?

[2015-01-27 15:30] ChaelKruip opened #12 "It should be possible to close the debug view (apart from going back in browser history)"

[2015-01-27 15:47] #8 closed

[2015-01-27 15:49] antw commented on #10
Closing since since is solved with the new calculator.

FYI the values did add up since "office" and "home" had local production which provided some of their energy, although this isn't obvious in the diagram. LV#2 was 5.1 since that's how much *extra* it had to provide to meet the demand of its two child nodes.

[2015-01-27 15:49] #10 closed

[2015-01-27 15:50] ChaelKruip commented on #10
TY :+1:

[2015-01-27 15:52] antw commented on #11
Closing since since is solved with the new calculator.

ImageMagick is the likely culprit; I think maybe it hasn't been installed on your new laptop? `brew install imagemagick` will solve that, but isn't necessary unless you plan on debugging Refinery graphs.

[2015-01-27 15:52] #11 closed

[2015-01-27 15:53] #12 closed

[2015-01-27 16:03] antw commented on #9
I'll close this since the problem is gone with the introduction of the non-Refinery calculator.

The 8.2 came from treating supplier and consumer technologies separately. The "flow" through the `LV1` node was 8.2 since the attached electric car technology needed that much energy. 2.5 of that would have been provided by the heat pump (don't ask me how a heat pump powers an electric car) and the res

[2015-01-27 16:03] #9 closed

[2015-01-27 16:07] ChaelKruip commented on #9
:laughing:

[2015-01-28 09:38] ChaelKruip opened #13 "Ivy has trouble loading a topology for my medium sized (~100) connections testing ground"
The testing ground defined in [this gist](https://gist.github.com/ChaelKruip/75669f0b63ab40bca0d4) does not result in a network graph showing up...

The interface shows "topology loading" for a long time and then stops.

[2015-01-28 09:49] #13 closed

[2015-01-28 09:56] antw commented on #13
Should be fixed now.

However, [the technology list](https://gist.github.com/ChaelKruip/75669f0b63ab40bca0d4#file-technologies-yml) in that Gist has duplicate keys (for example, `HH #3` appears four times). When the YAML library parses the file, it will discard all but the last occurrence of a key, meaning some of your technologies are not getting saved.

[2015-02-03 14:09] ChaelKruip opened #14 "Total consumption/production of a connection should be consistent with its load profiles"
# Background

From the scaled ETM scenario we know the number of households and the technologies that they contain. For each technology we also know the proportion of the total electricity demand we assign to that technology.

# Problem

For the time-resolved load calculation we will use load-profiles that are generated by some tool that knows nothing about the capacity and full load hours (and, t

[2015-02-03 15:14] dennisschoenmakers commented on #14
Is it possible (for us all) to have a look at the Load Profile Generator that we would like to use from Enschede?

[2015-02-03 15:25] ChaelKruip commented on #14
Yes, if you run Windows on your computer. Unfortunately, the guys that wrote the LPG do not want to port it to other operating systems for the moment.

[2015-02-18 10:31] ChaelKruip opened #15 "OVERVIEW: load profiles in testing grounds"
# Background

Step 4 of the Alliander project deals with time-resolved load calculations on the electricity network of the testing ground. The load calculation requires initial values on the end-points of the network. So, the initial values on the end-points of the network can be described by time-series of load values (in kWatts for example).

# Inside the connection

The end-points of the networ

[2015-02-18 12:54] ChaelKruip opened #16 "OVERVIEW: assigning profiles to end-points"
# Background

In Step 4 of the Alliander project, the end-points of the network are initialised with load profiles (also see https://github.com/quintel/etloader/issues/15). The user can manually assign load profiles but if the testing ground is created directly from a scenario in the ETM, we should give a decent starting position for the user. In other words: the computer should assign profiles to

[2015-02-18 13:02] ChaelKruip commented on #16
@jorisberkhout @dennisschoenmakers @AlexanderWirtz @antw does the above make sense to you? Any clues on how to approach the data-angle of finding typical sizes and heating demands of housetypes in NL?

[2015-02-18 13:09] dennisschoenmakers commented on #16
For **groups** of households it absolutely does. I hope @AlexanderWirtz can provide the requested data clues.

[2015-02-18 13:41] ChaelKruip commented on #16
@dennisschoenmakers why wouldn't it make sense for individual households? If you have 100 connections in a testing ground you still need to choose how many apartments and detached houses there are right?

[2015-02-19 14:07] ChaelKruip opened #17 "Conversion of LPG profiles to load-profiles"
The Load Profile Generator (LPG) produces profiles with kWh (energy) for every minute. We want to end up with kW (load) for arbitrary time-steps.

The easiest way to accomplish this is to convert from kWh to kW first:
[code]

Because the ```time_step``` is 'minutes' in the original data, this becomes:
[code]

Now that we have values in kW, we can safely take the maximum value and use that for any

[2015-02-19 16:19] #17 closed

[2015-02-20 10:10] AlexanderWirtz commented on #16
For the data you should talk to Alliander, their database tries to list different kinds of dwellings for each connection, so they should be able to do some statistics for heating demands and they might be able to help you with the sizes as well.
@jorisberkhout does the HH source analysis for NL2012 contain anything about typical sizes etc?

I am not sure I understand how you plan to go about creat

[2015-02-23 08:56] ChaelKruip opened #19 "Graphic representation of load calculation"
This describes the charts/graphics (in order or priority) that could be used to describe the result of the time-resolved load calculation on a testing ground network.

## Indicators

If a network component (transformer or cable) get's 'overloaded', it should become red. This provides a quick way of determining which parts of the network are insufficiently dimensioned.

Additionally (nice to have)

[2015-02-23 08:57] ChaelKruip commented on #19
@antw I'll try to make a mock-up of the latter if you want and if I can squeeze it in this week

[2015-03-03 13:45] ChaelKruip opened #20 "Round numbers in graph to one decimal place"
Now they don''t fit in the node 'boxes'
![ivy](https://cloud.githubusercontent.com/assets/1303760/6463584/d0d755b0-c1b3-11e4-8759-79a54d2fbf3a.png)

[2015-03-05 15:06] ChaelKruip opened #21 "Load chart should show a continuous line fore the whole year if only a fixed load is defined"
Now it scales the window vertically but nothing is plotted:
![ivy](https://cloud.githubusercontent.com/assets/1303760/6507124/3cc1761e-c350-11e4-93eb-d6858e014443.png)

[2015-03-05 15:14] antw commented on #21
Actually, there is a single data-point being plotted; on that chart, `-5` is plotted in time-step `0`. The reason for there being no line is that the default testing ground has no technologies which use a curve. If you set even one technology to use a curve, all the "fixed-load" technologies will show a line:

![screen shot 2015-03-05 at 15 12 38](https://cloud.githubusercontent.com/assets/4383/65

[2015-03-05 15:21] ChaelKruip commented on #21
:+1:

[2015-03-05 15:50] ChaelKruip opened #22 "Topology interface should become more user-friendly"
The current design pushes the load-chart out of the screen if the topology has many nodes:
![ivy](https://cloud.githubusercontent.com/assets/1303760/6507919/b2080762-c355-11e4-8ac2-6dda5aab6671.png)
This is due to the fact that the topology 'window' scales according to the number of nodes to display. At the moment this scaling is independent of the 'zoom-level' of the topology:
![ivy](https://clou

[2015-03-10 12:47] #21 closed

[2015-03-10 14:24] ChaelKruip opened #23 "When 'editing' a load curve, there is no way to specify a file to upload"
![ivy](https://cloud.githubusercontent.com/assets/1303760/6576746/82cb5250-c739-11e4-8de3-224fb4653ef1.png)

Or am I missing the point here @antw?

[2015-03-10 14:29] antw commented on #23
Yes and no. If you create a *new* curve, you will be able to replace it at a later date by uploading a new file.

The curves I have uploaded are currently "locked" to prevent them from being modified by a user. I anticipate us locking our library of profiles so that an end-user cannot affect other people's scenarios; they will still be free to upload and modify their own as they see fit.

If you'd

[2015-03-10 14:29] #23 closed

[2015-03-10 14:40] ChaelKruip commented on #23
:+1:

Are we keeping track of 'owners' of profiles then? Can all users see/download all profiles but only 'owners' edit their own?

Not for the moment. Although an 'admin' probably should be able to at some point (but that could be done by command line IMO).

[2015-03-10 14:55] antw commented on #23
I haven't added user accounts yet, so there's no way to track who created what. All *new* uploaded profiles are created unlocked and can be modified later. The feature exists so we can differentiate between profiles *we* (QI) added – which should not be modified – and those uploaded by a user.

I expect we'll want to extend this if/when we add user accounts.

[2015-03-10 15:28] ChaelKruip commented on #23
Sounds good to me. It would be a bit annoying if others could just mess up your profile (without you knowing) and thus affect the results of your testing ground.

[2015-03-10 16:08] ChaelKruip opened #24 "Preview for load profiles does not show all points"
The last 24 points of the profile are not shown for load profiles of 8760 points:
![ivy](https://cloud.githubusercontent.com/assets/1303760/6579031/feea123c-c747-11e4-8365-ab5ec8b00076.png)

[2015-03-10 16:11] ChaelKruip opened #25 "Preview of load profiles only shows after reloading/refreshing the page"
![ivy](https://cloud.githubusercontent.com/assets/1303760/6579132/8694213c-c748-11e4-9a73-950624c1fa7d.png)

[2015-03-10 16:17] ChaelKruip opened #26 "When downloading a profile, the original name of the file is used (instead of the optional assigned name)"
I'm not sure if this is a feature or a bug. To me it is a bit confusing.

[2015-03-11 15:56] ChaelKruip opened #27 "The load profile page could use a re-design"
When there are many profiles, the button to go to the testing grounds is hidden very far down the page:
![ivy](https://cloud.githubusercontent.com/assets/1303760/6600352/6d67b17a-c80f-11e4-9d0b-d9ab10b49d30.png)
I suggest to put it on top as well.

[2015-03-12 08:40] ChaelKruip opened #28 "Load charts need axis labels"
![ivy](https://cloud.githubusercontent.com/assets/1303760/6614542/c3ac9514-c89b-11e4-96d7-820e8e07dab5.png)

The vertical axis needs a label like the one suggested above but rotated if possible (looks nicer :))

NICE TO HAVE: It would be cool if the horizontal axis would display (in between [-brackets) the **unit** of the time step. It could automagically detect if we work with 15 minutes or hourl

[2015-03-12 08:52] ChaelKruip opened #29 "Suggestions for improving the "testing_grounds/new" page"
Perhaps the windows could be positioned side-by-side and have a title something like:
![ivy_page_key](https://cloud.githubusercontent.com/assets/1303760/6614716/49930aea-c89d-11e4-86b8-576a13b0bc7f.png)

[2015-03-12 09:05] ChaelKruip opened #30 "NICE TO HAVE: When editing a testing ground the topology YAML shows extra characters"
![ivy](https://cloud.githubusercontent.com/assets/1303760/6614889/242ea7bc-c89f-11e4-9975-41648de7592b.png)

It works fine but looks ugly :)

[2015-03-12 09:11] ChaelKruip opened #31 "Specifying both a load and a capacity to an endpoint results in strange behaviour"
![ivy](https://cloud.githubusercontent.com/assets/1303760/6614963/d4a16076-c89f-11e4-9b81-11a8a81bb762.png)
Gives **negative(!)** loads to nodes
![ivy](https://cloud.githubusercontent.com/assets/1303760/6614976/fbf7f3ce-c89f-11e4-95a3-363654bf07c4.png)

[2015-03-12 09:13] ChaelKruip opened #32 "NICE TO HAVE: better sorting of nodes"
perhaps we should sort the nodes based on two digits 01, 02, etc. instead of the first significant digit:
![ivy](https://cloud.githubusercontent.com/assets/1303760/6615018/6d62142c-c8a0-11e4-8b96-cacac993a76c.png)

[2015-03-12 09:17] ChaelKruip opened #33 "NICE TO HAVE: selecting and expanding ('hiding') of nodes should be different actions"
Left-Clicking a node automatically expands ('hides') the node **and** selects it for displaying. Perhaps clicking once could select the node while expanding can be done by double clicking?

[2015-03-12 09:19] ChaelKruip commented on #30
This only seems to happen if you try to create the testing ground after an edit and there is an error that prevents the testing ground from being computed (like specifying both a profile and a load).

[2015-03-12 09:20] ChaelKruip opened #34 "When editing a testing ground, it would be nice to be able to upload a CSV"
![ivy](https://cloud.githubusercontent.com/assets/1303760/6615134/6c9bda9a-c8a1-11e4-87be-b3a687587ce7.png)

[2015-03-12 09:27] ChaelKruip opened #35 "Some 'navigation' for the different 'topics' of ETLoader is needed"
When looking at a testing ground, the user should be able to navigate to the 'load profiles' section and vice versa. This will become more relevant if we also support more testing-ground functionality such as 'business cases' and 'market models'.

Perhaps we could make different tabs for the different 'topics'?

[2015-03-12 10:03] #31 closed

[2015-03-12 10:42] ChaelKruip opened #36 "NICE TO HAVE: Performance boost for network calculation"
Whenever the user makes a small edit to the testing ground, the complete calculation is redone. This makes the workflow a bit slower than would be ideal. Could we think of (caching) strategies that would speed thing up?

For instance:

* The scaling and adding of profiles and initialising of the end-points of the network need **only** be done for those nodes that are actually changed by the edit.

[2015-03-12 10:48] ChaelKruip opened #37 "Load profile charts need a bit of improving"
![ivy](https://cloud.githubusercontent.com/assets/1303760/6616307/fcf2715c-c8ac-11e4-946c-ab8c29a606e7.png)

* ~~Small numbers are all displayed as 0.00.~~ Perhaps we could use scientific notation here?
* ~~The axes need labeling~~
* ~~The chart needs to show (without the need to refresh the page)~~
* The chart needs to show all points (the last 24 hours seems to be missing)

[2015-03-12 10:49] ChaelKruip commented on #37
Related to https://github.com/quintel/etloader/issues/24 https://github.com/quintel/etloader/issues/25

[2015-03-16 09:27] ChaelKruip opened #38 "Testing grounds (combi of technologies and topology) should have a name"
It would be nice if the user could assign a name to a testing ground.

[2015-03-16 13:47] ChaelKruip opened #39 "Calculation for single 'point' does not work anymore"
Selecting a point and clicking 'view' does not show any new information
![ivy](https://cloud.githubusercontent.com/assets/1303760/6667245/1580d15a-cbeb-11e4-9807-4eab97fb5cac.png)

Suggestion: we could show the value of the load for all the nodes in the graph for the selected point.

[2015-03-16 16:38] ChaelKruip opened #40 "Proposal: testing ground navigation"
This is a working document for the design of an interface that accommodates the newly developed functionality for testing ground calculations.

After talking to @AlexanderWirtz I feel that one intuitive option would be to use a side-bar menu similar to that of the (professional) ETM:
![ivy_page_key](https://cloud.githubusercontent.com/assets/1303760/6671038/d350807e-cc02-11e4-8e70-f3bb896b5369.png

[2015-03-16 16:38] ChaelKruip commented on #40
@jorisberkhout @AlexanderWirtz @dennisschoenmakers please chip in!

[2015-03-16 16:48] ChaelKruip commented on #40
And @antw of course as well! :smile:

[2015-03-16 16:57] antw commented on #40
The main navigation will go at the top, if possible. Most people don't have 27" monitors, and even those that do don't typically fill the entire monitor with their browser. At-the-top will leave more space for the main content.

This is a usability problem with the current ETM design, although I'm lacking a better alternative as the ETM has too many items to be changed back to a top-menu (also, th

[2015-03-17 08:23] ChaelKruip commented on #40
Good point.

I trust your judgement there @antw

[2015-03-17 13:20] #25 closed

[2015-03-17 13:20] #38 closed

[2015-03-18 09:34] ChaelKruip commented on #33
Closed with https://github.com/quintel/etloader/commit/d5df06ebdeb9b3db97147c03eeb73892ed87b682

[2015-03-18 09:34] #33 closed

[2015-03-18 09:36] ChaelKruip commented on #27
Closed with https://github.com/quintel/etloader/commit/38d003af7a73a27f1945357c32777cf83c91e12c

[2015-03-18 09:36] #27 closed

[2015-03-19 12:47] ChaelKruip opened #41 "Load profiles seem to have been 'scaled' wrongly at some point"
I know this is a vague title but I'll try to explain :wink:

When the first 92 datapoints of the base-load profile for HH# 1 in the Lochem testing ground are downloaded and plotted (in Excel) you see quite a bit of variation:
![hh__1_csv](https://cloud.githubusercontent.com/assets/1303760/6729596/290e102a-ce34-11e4-8508-233660a40da8.png)

Displaying the load-profile in the "Ivy" shows are very dif

[2015-03-19 13:05] antw commented on #41
This and #24 are basically the same issue: the front-end chart does not display every point in the curve. In the front-end, the curve is down-sampled to 356 points (one-per-day) for performance reasons.

We need a [HighStock-like solution](http://www.coindesk.com/price/) whereby zooming in displays higher resolution data (since one-point-per-day makes no sense when you are so far zoomed in).

[2015-03-19 15:53] ChaelKruip commented on #41
Thanks @antw for pointing this out. I have some suggestions ranging from easy to possibly very difficult to improve the charts:

* Instead of averaging per day, we could plot 2 points per day, one with the maximum and one with the minimum of that day. That would allow the user to appreciate the extremes in the data (which are the most important anyway).
* We could have a toggle between showing the

[2015-03-19 16:23] antw commented on #41
A good, sensible suggestion. But it doesn't really work out. :disappointed:

![sawtooth](https://cloud.githubusercontent.com/assets/4383/6734712/a690abee-ce51-11e4-8330-a0f538fb1dd2.jpg)

730 points is getting close to having more data points than there are pixels on the page to show them; the result is the above, somewhat ugly chart. Also, when down-sampling, we're choosing the *maximum* value fr

[2015-03-20 12:26] ChaelKruip commented on #41
I agree with everything you have said here @antw. I would indeed draw the current as a default for the time being and allow the user to re-draw with specified window and resolution. However much I would like the 'zooming' I think for the moment it is not worth the time investment.

[2015-03-20 16:07] ChaelKruip commented on #40
Another idea (credit goes to @grdw) is to use 'bread crumbs' to navigate the user through the various stages of creating and analysing a testing ground. I imagine this could look something like this:
![ivy_page_key](https://cloud.githubusercontent.com/assets/1303760/6755349/bfbccf86-cf22-11e4-8a56-2c1512734dcd.png)

This is a very crude sketch but here is what I see as advantages:
* There is a cle

[2015-03-23 09:12] ChaelKruip opened #42 "Number of houses does not seem to be correct when creating testing ground scenario from saved scenario"
I created [this scaled scenario containing 110 households](http://beta.pro.et-model.com/scenarios/404772) and combined it with the 'Lochem topology' (Testing ground March 11, 2015 15:17).

The resulting testing ground contains 128 households for which technologies are specified:
![ivy](https://cloud.githubusercontent.com/assets/1303760/6776935/08a4e53e-d145-11e4-8ac5-2855c1b330a5.png)

[2015-03-23 09:15] ChaelKruip opened #43 "Demand and capacity of solar panels does not seem to be correctly communicated to testing ground"
For the same scenario as in https://github.com/quintel/etloader/issues/42, the capacities and demands of all solar panels are zero. I could expect them to be non-zero: the capacities something like 1.5 (kW) and the demand to be a negative number that would give the yearly production of solar PV (kWh).

![ivy](https://cloud.githubusercontent.com/assets/1303760/6776961/41c09188-d145-11e4-866a-0874f7

[2015-03-23 09:23] antw commented on #42
This is because the testing ground defines 207 connections and importing a scenario from ETEngine, as it is today, will try to assign technologies fairly between all connections.

This will be resolved once [this Trello card](https://trello.com/c/2nJXblHi/46-4-profiles-should-be-associated-to-the-end-points-of-the-network-with-some-intelligence-by-the-computer) is complete.

[2015-03-23 09:23] #42 closed

[2015-03-23 09:24] ChaelKruip commented on #42
:+1:

[2015-03-23 09:56] ChaelKruip opened #44 "Technologies which should be modeled explicitly in testing ground scenario"
For the ETM technologies listed below, the testing ground scenario should include:

* **capacity** [kW]: given by the 'electricity_output_capacity' (for producing technologies) and 'input_capacity' (for consuming technologies)
* **demand** [kWh]: given by multiplying the demand of ETE [MJ] by 0.27777777.... Positive for consuming technologies and negative for producers
* **number_of_units**: unnec

[2015-03-23 10:00] antw commented on #43
Fixed by deploying the latest ETEngine beta. Note that the gas technologies won't have a load, because they lack an `electricity_input_capacity`; we're going to need an equivalent attribute for them.

[2015-03-23 10:00] #43 closed

[2015-03-23 10:17] antw commented on #44
Are those the *only* technologies we want (for now), or *in addition* to [what we currently have](https://github.com/quintel/etloader/tree/master/data/technologies)?

[2015-03-23 10:29] ChaelKruip commented on #44
I think these are the only ones (for now). The wind_turbines would be nice to keep though but the combi-boiler and coal-thing can definitely go.

[2015-03-23 10:33] ChaelKruip commented on #43
That's fine. We don't want to model them explicitly so they can be removed (as the coal heater).

[2015-03-23 11:04] ChaelKruip opened #45 "If neither load or load-profile is specified, the capacity should be used to set the (constant) load"

[2015-03-23 17:08] #45 closed

[2015-03-24 09:06] ChaelKruip commented on #41
One more idea about the load charts:

Maybe we could plot both the maximum values per day and the minimum values per day but **as two distinct curves** (each with resolution of 24 hours). In this way, we show the 'envelope' of the profiles without all the 'jiggles' in between that make the charts hard to read.

[2015-03-24 09:52] ChaelKruip opened #46 "Details of the layout"
Just two things that could be fixed easily:

* The percentage of the original size is not that interesting and shows up as 0.00% in all practical cases):
![energy_transition_model_-_your_free__independent__comprehensive__fact-based_scenario_builder_](https://cloud.githubusercontent.com/assets/1303760/6799105/569cff82-d213-11e4-911e-9b778332f0a9.png)
I suggest to remove it.

* The colour of the act

[2015-03-24 15:08] ChaelKruip opened #47 "How to select profiles for technologies and households"
This ticket is meant to clarify how to pick and scale profiles for the currently selected technologies [see this ticket](https://github.com/quintel/etloader/issues/44) **and** the households.

In general, profiles for technologies are scaled by the **capacity** of the technology. They should be normalised such that their maximum is equal to unity. This is probably a good check for newly imported p

[2015-03-25 15:09] ChaelKruip commented on #40
Re-assigned to @dennisschoenmakers so he can shine his light on this and find someone to make this happen.

[2015-03-25 15:11] #5 closed

[2015-03-25 15:11] #7 closed

[2015-03-25 15:12] ChaelKruip commented on #2
Closing as this is currently out-of-scope.

[2015-03-25 15:12] #2 closed

[2015-03-25 15:13] ChaelKruip commented on #46
Re-assigning to @dennisschoenmakers so he can shine his light on this and find someone to make this happen.

[2015-03-25 15:14] ChaelKruip commented on #39
Perhaps we should just hide this button for the moment.

[2015-03-25 15:14] ChaelKruip commented on #39
Re-assigning to @dennisschoenmakers so he can shine his light on this and find someone to make this happen.

[2015-03-25 15:15] ChaelKruip commented on #22
Re-assigning to @dennisschoenmakers so he can shine his light on this and find someone to make this happen.

[2015-03-25 15:15] ChaelKruip commented on #20
This is not longer relevant. Closing.

[2015-03-25 15:15] #20 closed

[2015-03-25 15:17] ChaelKruip commented on #41
Re-assigning to @dennisschoenmakers so he can shine his light on this and find someone to make this happen.

[2015-03-25 15:18] ChaelKruip commented on #24
Re-assigning to @dennisschoenmakers so he can shine his light on this and find someone to make this happen.

[2015-03-25 15:18] ChaelKruip commented on #28
Re-assigning to @dennisschoenmakers so he can shine his light on this and find someone to make this happen.

[2015-03-25 15:19] ChaelKruip commented on #37
Re-assigning to @dennisschoenmakers so he can shine his light on this and find someone to make this happen.

[2015-03-25 15:20] antw commented on #39
I would suggest hiding the button. The ability to display loads for a single point came from when we were only calculating a single time step, rather than the entire year. Even though all the load data *is* available to the front-end, and the feature could be added back in, I'm not sure how much value there is in displaying loads for a single point.

If the client does want this feature, I think w

[2015-03-25 15:21] ChaelKruip commented on #35
Re-assigning to @dennisschoenmakers so he can shine his light on this and find someone to make this happen.

[2015-03-25 15:22] ChaelKruip commented on #29
Re-assigning to @dennisschoenmakers so he can shine his light on this and find someone to make this happen.

[2015-03-25 15:23] ChaelKruip commented on #15
Closing as this has been mostly done.

[2015-03-25 15:23] #15 closed

[2015-03-25 15:24] ChaelKruip commented on #19
Closing as this has mostly been completed.

[2015-03-25 15:24] #19 closed

[2015-03-26 15:09] dennisschoenmakers commented on #41
Assigned back to @antw as discussed with @ChaelKruip

[2015-03-26 15:10] dennisschoenmakers commented on #40
See PR #48

[2015-03-26 15:13] dennisschoenmakers commented on #37
Re-assigning @antw since this contains diving into D3.

[2015-03-26 15:13] dennisschoenmakers commented on #35
See #48.

[2015-03-26 15:15] dennisschoenmakers commented on #29
Actually, I think we need to have a 'clearer' show page: then these 'two things' will be separated. Closing.

[2015-03-26 15:15] #29 closed

[2015-03-26 15:19] #39 closed

[2015-03-26 15:19] #40 closed

[2015-03-26 15:21] #46 closed

[2015-03-26 15:22] #35 closed

[2015-03-26 15:31] ChaelKruip opened #49 "Clear 'show page' needed for a testing ground"
This page would give the user info on:

* Name of scaled ETM scenario
* Associated topology
* Associated profiles
* G: Profile link when clicking a node
* Dates of creation/revisions

* ~~Original (national) ETM scenario~~
* ~~Preview options?~~

[2015-03-26 16:08] dennisschoenmakers commented on #49
I already improved as much as I can in 93ab656.

However, still much is to be gained: first of all, the recorded attributes should be extended to host the (national/local) scenarios, creators, and such.

Furthermore, @antw and I decided I should not touch the logic of the displayed technologies for now.

[2015-03-26 16:09] dennisschoenmakers commented on #49
Assigned to @antw for further improvements.

[2015-03-26 16:35] ChaelKruip opened #50 "Current 'create your own' button is confusing"
![ivy](https://cloud.githubusercontent.com/assets/1303760/6851273/5bbd18b8-d3de-11e4-9291-52962e7e4ddd.png)
Because of its placement, it seems like this button will let you create a new ETM scenario. Instead it will take you to the 'topology/technologies' interface...

[2015-03-27 12:35] ChaelKruip opened #51 "Perhaps we could show a list of saved scenario's instead of a place to put an ID?"
![ivy](https://cloud.githubusercontent.com/assets/1303760/6867813/07ffb7d2-d486-11e4-9647-e64fabdf5c2b.png)

[2015-03-27 12:40] ChaelKruip opened #52 "Capacity should be translated to kW"
I guess it currently is in MW (as in the ETM):
![ivy](https://cloud.githubusercontent.com/assets/1303760/6867908/ceeb02b6-d486-11e4-866a-30fcdfcbdaa5.png)

[2015-03-27 18:18] #50 closed

[2015-03-27 18:18] #52 closed

[2015-04-01 11:28] ChaelKruip opened #53 "Allow the user to choose how well the load is distributed over the three phases of the power network"
Currently we assume that load is perfectly distributed over the 3 phases that are available in new homes. We could give the user a 'slider' that ends at the current 'ideal' situation and starts at the 'worst case' scenario where all load is assigned to the same phase. Reality is somewhere in between.

Technically this can be achieved relatively easily:
* current situation: nothing changes
* worst

[2015-04-02 08:42] ChaelKruip opened #54 "Importing a scenario from ETM into ETLoader does not work anymore"
[http://ivy.et-engine.com/testing_grounds/import](http://ivy.et-engine.com/testing_grounds/import) crashes for me when I import a scaled scenario with the default topology.

[2015-04-02 09:35] ChaelKruip opened #55 "Last time I tried, EV did not automatically appear in the testing ground (when importing a 100% EV testing ground scenario)"
I used [this scenario](http://beta.pro.et-model.com/scenarios/404841)

[2015-04-02 09:47] #55 closed, assigned to antw

[2015-04-03 08:36] dennisschoenmakers opened #56 "Chart could use more space..."
All this unused white space left an right:

![image](https://cloud.githubusercontent.com/assets/104830/6980094/181baae2-d9ed-11e4-992a-af5ef6e18b4e.png)

[2015-04-03 08:54] dennisschoenmakers opened #57 "Website should be protected by a password"
I think the best way is to add a simple `User` model and start with a simple 'one general user' that everybody can use for the time being. Later we can add `users` to `testing_grounds` and implement authorization schemes.

[2015-04-03 09:03] ChaelKruip commented on #57
:+1:

[2015-04-08 14:21] ChaelKruip opened #58 "OVERVIEW: Specs for storage strategies"
# Background

There are many reasons/rationales to store energy:
* Minimising load on the network
* Maximising profit of the the owner of the storage device
* Being independent from the national grid
* ...

For every reason/rationale, there are many strategies to accomplish your goal. To make this problem tractable I propose to start with a simple reason and one or two strategies associated with i

[2015-04-08 14:28] ChaelKruip opened #59 "If a connection has storage and a production excess, that excess should be stored locally first"
This means that 'within' a connection, excess is first stored locally as much as possible and the network will only 'see' the effective load of the connection.

[2015-04-08 14:31] #47 closed

[2015-04-08 14:32] ChaelKruip commented on #41
Closing as this issue does not describe the current situation accurately anymore.

[2015-04-08 14:32] #41 closed

[2015-04-08 14:33] ChaelKruip opened #60 "NICE TO HAVE: automatic refinement of resolution when 'zooming' in load chart"

[2015-04-08 14:34] ChaelKruip opened #61 "If a connection has storage and a production deficit, the local storage should get precedence to outside production"
This basically means that if P2P (either EV or batteries) are available, you should try to satisfy local demand with those first before demanding electricity from the LS network

[2015-04-08 14:35] ChaelKruip opened #62 "If a connection has storage capacity (and volume) left, close neighbours with excess should get precedence"
Say we have a household with a battery with a limit of 4 (due to volume restriction or capacity restriction). Two neighbours have an excess of electricity at this time.

![ivy](https://cloud.githubusercontent.com/assets/1303760/7063746/6b42e08a-dea9-11e4-8507-e79910ed9ea0.png)

Because we cannot distinguish between the proximity of connections in the same depth of the network hierarchy, we must tr

[2015-04-08 15:13] ChaelKruip opened #63 "Solar panels should have negative load"
We could give them a negative capacity? Or make the load profile negative?

@dennisschoenmakers @antw what do you think?

[2015-04-09 11:11] ChaelKruip opened #64 "Expected behaviour of storage in a 'serial' topology"
Consider the following situation:
![ivy](https://cloud.githubusercontent.com/assets/1303760/7065999/328ed7fc-debe-11e4-8eb8-ebbf429ce88b.png)
The neighbours are connected to each other with cables that can have a certain capacity. The excess from HH2 cannot be fully transported to HH1 because cable1-2 has capacity 1.

I would say that we should give precedence to excess nearest the battery. So, 1

[2015-04-09 11:24] ChaelKruip opened #65 "What to do with the capacity constraints of the network when cancelling excess and storage potential?"
Say we have the following situation: the neighbours (they share a connection) have enough storage potential (5) to store their excess (5) but the node that connects them to each other **and** the rest of the network has too small a capacity:
![ivy](https://cloud.githubusercontent.com/assets/1303760/7064815/ff1f270c-deb1-11e4-922a-b6b8a80ce085.png)

There a two ways to go about this:
1. Interpret t

[2015-04-09 11:25] ChaelKruip commented on #65
@dennisschoenmakers @antw does the above make sense to you as well?

[2015-04-09 12:16] dennisschoenmakers commented on #65
I would also go for **1)** for the time being.

[2015-04-09 13:40] ChaelKruip opened #66 "EV batteries should be described by a profile"
The EV battery is only connected if the car is at home. Moreover, the availability of the battery for discharging (and demand shifting) is related to when the car is expected to drive.

In the following example, an EV is used for driving from 8AM to 6PM. The rest of the day, it is connected to the loading system. The user has specified that the battery should at least contain 25% of its charge for

[2015-04-09 13:41] ChaelKruip commented on #66
@antw @dennisschoenmakers let me know if this is not a faithful description of our ideas as discussed earlier today.

Including @jorisberkhout @AlexanderWirtz to check that this approach makes sense to them as well.

[2015-04-10 10:20] ChaelKruip opened #67 "The default testing ground cannot be calculated"
![ivy](https://cloud.githubusercontent.com/assets/1303760/7085948/faf277cc-df7b-11e4-884c-af8fe7ba8cc5.png)

[2015-04-10 10:25] antw commented on #67
Fixed by deploying ef8a915.

[2015-04-10 10:25] #67 closed

[2015-04-10 12:57] ChaelKruip commented on #67
:+1:

[2015-04-14 08:45] ChaelKruip commented on #63
Perhaps the most elegant solution would be to add a check-box (or something like that) in the profiles interface that let's you chose between "consumption" and "production" profiles.

If a profile is of the "production" type, the profile is multiplied by -1.

[2015-04-14 08:46] antw commented on #63
Either should work, but I think giving a negative `capacity` is more consistent with what we show in the topology diagram. Users may otherwise be confused why their technology, with a greater than zero `capacity`, is "magically" showing a load of less than zero.

[2015-04-14 08:57] ChaelKruip commented on #63
I agree that this could be confusing. On the other hand, users think of their solar panels as having a certain (positive) capacity. It could be confusing if the user is required to put a minus sign before the capacity of solar panels. But I like the fact that it is explicitly clear that producers differ from consumers.

Let's do it! :smile:

[2015-04-14 08:58] ChaelKruip opened #68 "Base load profiles should get a base_load type (instead of 'generic')"

[2015-04-14 09:42] ChaelKruip commented on #57
Assigning to @grdw to pick up at the end of this month.

[2015-04-14 09:46] #44 closed

[2015-04-14 09:58] ChaelKruip commented on #1
Closing as this is not an actionable and atomic ticket anymore.

[2015-04-14 09:58] #1 closed

[2015-04-14 10:05] ChaelKruip opened #69 "Allow the user to create a scaled scenario from 'current' scenario"
When you click "create testing ground" you end up here:
![energy_transition_model_-_your_free__independent__comprehensive__fact-based_scenario_builder_](https://cloud.githubusercontent.com/assets/1303760/7134531/fe3d2632-e29d-11e4-98ab-8566f0017377.png)

It would be more convenient to use the 'current' scenario instead of a 'new'. The 'new' options is redundant since we have the button in the ETM.

[2015-04-14 10:09] ChaelKruip opened #70 "The work-flow for creating testing grounds should become more intuitive"
There is very little 'persistence' when going from ETM to the ['scaling interface'](http://beta.pro.et-model.com/scaled) and, subsequently to [the testing ground environment](http://ivy.et-engine.com).

The user should be 'guided' through the steps more and get a better idea about the work-flow of creating, analysing en merging testing grounds.

[2015-04-14 12:53] ChaelKruip commented on #70
Earlier comments by @dennisschoenmakers:

To consider:
- [ ] What if this is an already scaled scenario?
- [ ] Can we do this for all Areas?
- [ ] The flow is not logical now: you still have to save the scenario first. Could we add an option to the select list of the **Current* scenario?

[2015-04-14 14:17] ChaelKruip opened #71 "Some scenario's cannot be scaled back"
[this one](http://ivy.et-engine.com/testing_grounds/33) for example.

[2015-04-14 14:30] ChaelKruip opened #72 "NICE TO HAVE: 'bars' instead of linear interpolation of load chart"
Sometimes the charts are hard to read when zoomed in. If it is not too difficult it could be instructive to see "bars" (artist impression in image below) instead of the current linearly interpolated graph:
![ivy](https://cloud.githubusercontent.com/assets/1303760/7138906/74c7708a-e2c3-11e4-803f-c36bb7a509bc.png)

[2015-04-14 15:59] #71 closed

[2015-04-15 07:37] ChaelKruip opened #73 "A number_of_units argument could simplify the creation of large testing grounds"
If we could use a 'multiplier' for a technology, network component or household (base-load), it would be fairly easy to build very large testing ground with very little overhead in work en computational effort.

I don't know what criterion to use for letting ETLoader decide whether to 'group' a number of the same technologies/households yet. One possible option would be to make it dependent on the

[2015-04-20 09:42] grdw commented on #70
- Save and go to testing ground env 'button' as replacement for 'creating testing ground' menu link.
- Set scenario name: "Nationale scenario + <scaled to size> + <numbering>"
- List scenarios from user
- Single sign in

[2015-04-20 10:16] dennisschoenmakers commented on #70
How huge exactly? How much time would it take to implement it across etmodel, etengine and etloader?

[2015-04-20 10:27] grdw commented on #70
It would take the following things:

- A CAS server to function as an authenticator. At this server the user would sign in (i.e. the sign-in POST call doesn't go to 'sign_in_path' but to the CAS server).
- All the applications (etmodel, etengine, etloader) have to be registered as CAS-clients.

*Unknowns:*
- I have to investigate in how well - I'd guess the current devise-authentication - will int

[2015-04-20 11:17] ChaelKruip commented on #70
As discussed with @grdw and @dennisschoenmakers, the most important thing right now is to communicate the scenario ID from ETModel to ETLoader. We will look into fancier approaches later.

[2015-04-21 08:06] grdw commented on #70
These two are fixed

This depends on #57

[2015-04-21 09:39] grdw commented on #69
Isn't this issue solved by #70 ?

[2015-04-21 09:40] ChaelKruip commented on #69
Yes. Closing.

[2015-04-21 09:40] #69 closed

[2015-04-21 09:41] grdw commented on #57
Fixed with f9e1560...df86ecb

Still needs to be merged though.

Also does every page needs to behind a login wall?

[2015-04-21 10:41] ChaelKruip commented on #57
As discussed with @grdw: for now we put everything behind a login. Closing.

[2015-04-21 10:41] #57 closed

[2015-04-21 14:55] ChaelKruip opened #74 "Load chart should show components of load"
Currently the load chart only shows the total load on a network component. It would be very informative to be able to see how this load is composed by technology:
![20141209_topology_interface_v1_key](https://cloud.githubusercontent.com/assets/1303760/7255009/d2c7f41a-e846-11e4-89ee-6a36f6cc38a6.png)

To be able to do this, the end-points (and the load calculation) of the network need to be able t

[2015-04-21 15:01] grdw commented on #70
The only thing that's missing is the parent 'url'. There are multiple ways to save the parent id in `etloader`.

The simplest one - is doing an API call to etengine and asking for the current scenario.

Another way is passing the parent id from et-engine, in et-modal to et-loader (which sounds as complicated as it is).

[2015-04-21 15:07] ChaelKruip commented on #70
Let's do that one then! :smile:

[2015-04-21 15:14] dennisschoenmakers commented on #70
With 'current' you mean 'latest', right? Might this not lead to
confusion when a scenario has just been created by another user or
application?

[2015-04-21 15:20] grdw commented on #70
I don't mean latest, I mean the parent scenario from the `scenario_id` that's stored with a `testing_ground`.

[2015-04-21 15:29] dennisschoenmakers commented on #70
:+1:

[2015-04-22 08:52] dennisschoenmakers opened #75 "How do I sign up for ETloader?"
I guess easiest should be that you can sign up, @ChaelKruip or somebody else receives a request per email that access has been requested?

[2015-04-22 08:53] dennisschoenmakers opened #76 "Sign in screen should have some information"
Such as:
* Welcome
* This is...
* Please sign in with your credentials
* Sign up like this.

[2015-04-22 08:54] ChaelKruip commented on #75
:+1:

[2015-04-22 09:01] dennisschoenmakers opened #77 "Flash messages/form_errors are not showing"
When I log in with a faulty username/password, I do not get any feedback.

[2015-04-22 09:10] ChaelKruip opened #78 "Number formatting of the load chart needs some improvement"
Large numbers 'fall off the side':
![ivy](https://cloud.githubusercontent.com/assets/1303760/7270805/0ae4950e-e8df-11e4-9305-5dc6b2834cb8.png)

Small numbers are all displayed as 0.0:
![ivy](https://cloud.githubusercontent.com/assets/1303760/7270930/1d9ec650-e8e0-11e4-9c0b-0d1fe5b66f8d.png)

[2015-04-22 09:34] dennisschoenmakers opened #79 "Workflow for testing grounds should be more intuitive"
I think this is rather important in order to give users more structure:

IMO it should be a form view with:

### Meta-information:

* Owner (user_id) (defaults to current_user)

### National scenario:
* National scenario: (Select box with all presets from ETengine) or scenario ID

### Local scenario:
* Local scenario: (Select box with all presets from ETengine) or scenario ID
* Scaled down to numb

[2015-04-22 11:39] grdw commented on #70
Fixed the parent scenario id issue with 97a3fda

Also added separators between the 'national scenario' and 'scaled scenario' links, as discussed with @ChaelKruip

Also setted a max-height for the topology; which is now 500px. https://github.com/quintel/etloader/blob/cc3e3861fc2eb2a0b5b49fdf913ed4061e596295/app/assets/javascripts/showTree.js#L34

[2015-04-22 11:40] grdw commented on #49
Fixed the parent scenario id issue with 97a3fda

Also added separators between the 'national scenario' and 'scaled scenario' links, as discussed with @ChaelKruip

Also setted a max-height for the topology; which is now 500px. https://github.com/quintel/etloader/blob/cc3e3861fc2eb2a0b5b49fdf913ed4061e596295/app/assets/javascripts/showTree.js#L34

[2015-04-22 11:43] grdw commented on #56
![screen shot 2015-04-22 at 1 41 00 pm](https://cloud.githubusercontent.com/assets/2676542/7273562/420f7b50-e8f5-11e4-98dd-26e89b623187.png)

I have now scaled it down to 500px. You need to drag if you want to go to the top of the topology. Scrolling seems more natural but that's kind of a hassle due to `svg`.

[2015-04-22 11:45] grdw commented on #74
This is a possibility: http://bl.ocks.org/mbostock/3885211

[2015-04-22 12:10] ChaelKruip commented on #56
:+1:

[2015-04-22 12:18] ChaelKruip commented on #73
UPDATE: the 'units' attribute has been [added to ETLoader](https://github.com/quintel/etloader/commit/04ba7122798357b792efd1c76e225647fe78322e).

To do:
- [ ] Make it possible to scale back a scenario with 'units' to national size
- [ ] When technologies and households are coupled to a topology, the units should be assigned automatically and intelligently to maximise grouping (and thus minimise ov

[2015-04-22 12:23] ChaelKruip commented on #74
I like that it gives a cleaner (no overlapping curves) subdivision of the load. I don't think it is perfect though because it does not show the **shapes** of the different contributions (except the bottom one). This could make it difficult to see which of the various technologies is actually peaking at a given point.

[2015-04-22 12:49] antw commented on #74
The library we're using for the current chart, NVD3, [supports a chart like that](http://nvd3.org/examples/stackedArea.html). I don't think it can be used with the "view finder" (the smaller chart which allows you to zoom in), but that may not be a big deal since higher-resolution charts are currently supported only by using the `<select>` to choose a week.

--

My feeling is that this issue shoul

[2015-04-22 13:44] ChaelKruip commented on #74
Thanks for your comments @antw. Putting this issue on-hold for now.

[2015-04-28 11:53] grdw opened #82 "Fixing mail configuration for staging env."

[2015-04-28 12:00] ChaelKruip commented on #66
After some discussion with @jorisberkhout I suggest to code two things in the same profile:
1. what fraction of the battery should be filled / charged (positive values between 0 and 1)
2. if the battery is connected to the network (-1 if not connected)

This would result in profiles like this:
![20141209_topology_interface_v1_key](https://cloud.githubusercontent.com/assets/1303760/7369006/43b2dce6

[2015-04-28 12:04] antw commented on #66
That's a *nice* solution; I like that. :smiley:

[2015-04-28 12:35] ChaelKruip opened #84 "Profile listing should become more structured and should support 'hiding' and 'types'"
When adding more load profiles and profiles that describe other aspects of technologies (availability, flexibility etc.), the current [list of profiles](http://ivy.et-engine.com/load_profiles) is going to very long and confusing.

I propose to use something of a 'tree'-view:
![code_rant__rendering_a_tree_view_using_the_mvc_framework](https://cloud.githubusercontent.com/assets/1303760/7271163/e9015

[2015-04-28 12:36] ChaelKruip commented on #84
Including @dennisschoenmakers @antw.

[2015-04-28 12:51] dennisschoenmakers opened #85 "Add Authorization to the Application"
Since some *Testing Grounds* can be very sensitive data, it should be prevented that other users could view any of the information associated with these Testing Grounds.

Also: there should be administrative users that can view everything. It should only be @ChaelKruip  to start with.

#### Question:
* Should we use Pundit or CanCan(Can)?

[2015-04-28 12:52] ChaelKruip commented on #85
:+1:

[2015-04-28 13:20] grdw commented on #85
@dennisschoenmakers do we really need to include a full gem in order to do something basic like  `if @user.admin?` and `if current_user == @testing_ground.user`?

[2015-04-28 13:22] antw commented on #85
For the moment, probably not. Maybe we'll want finer-grained control later, and a proper authorisation will be worthwhile then.

[2015-04-28 14:31] dennisschoenmakers commented on #85
Hmmm, I am afraid we will litter the app with these conditions, removing them later will be more painful, and I am getting convinced we will need it in the end anyways. So I tilt towards implementing a good solution straight away.

[2015-04-28 14:33] antw commented on #85
Fair enough. :+1:

[2015-04-28 14:41] antw commented on #85
While we're at it, I'm curious as to the justification for Monban over Devise. I know Devise isn't the new hotness, but it appears more actively maintained, gives us other useful features out-of-the-box (user activation, validation, forms), and will probably integrate easily with Pundit or CanCan. I'm open to persuasion, but at the moment I'm not really getting it.

[2015-04-28 15:05] dennisschoenmakers commented on #85
Monban... yes, @grdw: convince us! :smiley:

[2015-04-28 15:17] jorisberkhout commented on #66
A first iteration of these profiles are available on the Dropbox (see https://github.com/quintel/etdataset/issues/597).

[2015-04-28 15:17] dennisschoenmakers commented on #85
![](http://upload.wikimedia.org/wikipedia/en/0/02/Statler_and_Waldorf.jpg)

[2015-04-28 15:31] grdw commented on #85
It's tiny, it's readable, it does the absolute basics of signing in a user (which is what we wanted ;) ). That's the only reason. I find devise big, invasive and horrible to maintain. Besides it's only cool to use devise when you want everything exactly as the devise gem intended to. If you want something custom (which, from experience, is usually the case in a future scenario) than you're screwed

[2015-04-28 15:38] #82 closed

[2015-04-29 07:04] #56 closed

[2015-04-29 07:31] ChaelKruip commented on #66
Now I know why that sounded so familiar!
![nice_boulder](https://cloud.githubusercontent.com/assets/1303760/7386308/7bce654c-ee52-11e4-8aac-f3f54369d0ff.png)

[2015-04-29 08:03] #22 closed

[2015-04-29 12:00] ChaelKruip opened #87 "NICE TO HAVE: chart for matching demand and supply"
For both storage and demand management, an important measure of success is the match between (local) supply and (local) demand at every point in time. Any mismatch results in the need for transportation of electricity and, therefore, load on the network.

It would be really nice to visualise this somehow. For example, we could show the supply and the demand as a function of time and, in addition,

[2015-04-29 12:32] ChaelKruip commented on #51
Assigning @grdw

[2015-04-29 12:34] ChaelKruip commented on #64
I suggest to put this on-hold for now. This can get really complex in my estimation.

[2015-04-29 12:35] ChaelKruip commented on #73
Assigning @grdw

[2015-04-29 12:36] ChaelKruip commented on #37
Assigning @grdw

[2015-04-29 12:36] ChaelKruip commented on #34
Assigning @grdw

[2015-04-29 12:37] ChaelKruip commented on #28
Assigning @grdw

[2015-04-29 12:42] ChaelKruip commented on #70
Closing this lengthy ticket. See https://github.com/quintel/etloader/issues/79 for the jest.

[2015-04-29 12:42] #70 closed

[2015-05-04 09:45] grdw commented on #77
See #89

[2015-05-04 10:18] grdw commented on #51
How would I filter the scenario's from et-engine, considering that some scenario's contain 'private' information?

[2015-05-04 12:21] grdw commented on #78
Fixed this - still need someone to look into it.
Will be deployed when validated.

[2015-05-04 12:27] grdw commented on #34
Waiting for #88 to be merged before I continue with this.

[2015-05-04 12:29] #76 closed

[2015-05-04 12:29] #75 closed

[2015-05-04 12:50] grdw commented on #37
![screen shot 2015-05-04 at 2 49 15 pm](https://cloud.githubusercontent.com/assets/2676542/7453745/d79162da-f26c-11e4-814c-0e0aabfa9876.png)

[2015-05-04 13:56] #77 closed

[2015-05-04 14:17] #28 closed

[2015-05-04 14:17] #78 closed

[2015-05-06 15:24] antw commented on #66
This has been implemented as of last Friday, and [an example sceanrio](http://ivy.et-engine.com/testing_grounds/45) published.

The scenario shows a producer providing a constant 2.5 kWh to the network, and an electric vehicle whose battery can store 10 kWh. In the first four frames (time-steps), the EV profile specifies that the minimum load is 25% → 50% → 75% → 100%. The load drawn by the EV is

[2015-05-06 15:29] ChaelKruip commented on #72
Assigned to @grdw

[2015-05-06 15:33] #72 closed

[2015-05-06 15:33] ChaelKruip commented on #66
:+1: Super!

Well spotted @antw! I have been thinking about this for a while now. I think for now we could assume that it always returns empty (easiest). But in the future it could be nice if the car still carries the extra charge when it is reconnected. @antw any idea how difficult that would be to implement?

[2015-05-06 19:21] antw commented on #66
There would be a (small?) performance penalty in having to detect the reconnection and work out how much would still be stored at that moment-in-time, but it wouldn't be *difficult* to implement.

[2015-05-07 07:29] jorisberkhout commented on #66
Good point, @antw. Like you say, the curve already (implicitly) contains information on the energy required to satisfy the needs of the car during the next period of disconnection. I have made this more explicit in a next iteration of the curves (see https://github.com/quintel/etdataset/issues/597#issuecomment-97725610). Let me know if this is useful.

[2015-05-07 09:28] ChaelKruip opened #90 "Unable to upload profiles from Windows computer"
I managed to upload the same curve just fine but @jeroenvandelogt gets the following errors:

* curve content-type is invalid
* curve is invalid

He has tried Mac and MS Dos encoding but to no avail.

[2015-05-07 09:31] grdw commented on #90
You can only upload `csv` files for now. And the file itself has to be less than 100 MB.

[2015-05-07 09:32] antw commented on #90
@ChaelKruip Assuming that it *is* a valid CSV file, is there any chance you can grab a copy of the curve file, and the internet browser (and version) in which the upload fails?

[2015-05-07 09:38] grdw opened #91 "Load profile; use scientific notation in the graph for small number."
Small numbers in load profiles: use scientific notation here?

[2015-05-07 09:39] grdw commented on #37
Perhaps we could use scientific notation here? -> #91

[2015-05-07 09:44] ChaelKruip commented on #91
If possible, I'd like scientific notation for small numbers

[2015-05-07 09:44] antw commented on #91
Scientific notation may be a bit technical for some users; perhaps we could change the unit from kW to MW to GW as appropriate?

The [Quantity class](https://github.com/quintel/etmodel/blob/master/app/assets/javascripts/lib/models/quantity.coffee) in ETModel does this quite nicely, but we'd have to pull in [i18n-js](https://rubygems.org/gems/i18n-js) to use it.

[2015-05-07 09:44] ChaelKruip commented on #90
I thinks so. I can open it.
I can also upload it but with the current file ETLoader only 'sees' the first point it seems: [http://ivy.et-engine.com/load_profiles/266](http://ivy.et-engine.com/load_profiles/266)

I can mail it to you. If I make a gist I'm afraid the formatting might change.

Tried both on Chrome (v 42.0.2311.135 m) and IE9

[2015-05-07 09:45] #37 closed

[2015-05-07 09:45] dennisschoenmakers opened #92 "When you make a mistake for a new TestingGround, the Hashes becomes a HashWithIndifferentAccess"
![image](https://cloud.githubusercontent.com/assets/104830/7512612/8727f5fe-f4ae-11e4-8067-49f5d07d4bca.png)

[2015-05-07 09:45] ChaelKruip commented on #91
I like that solution @antw!

[2015-05-07 09:46] antw commented on #92
Duplicate of #30. :wink:

[2015-05-07 09:46] #92 closed

[2015-05-07 09:47] dennisschoenmakers commented on #92
:blush:

[2015-05-07 09:48] dennisschoenmakers opened #93 "I am not Chael Kruip"
When I create a TestingGround, it says I am Chael Kruip, logged in a dennis@quintel.com

![image](https://cloud.githubusercontent.com/assets/104830/7512697/fb3f7ebc-f4ae-11e4-969d-5f36aba177f7.png)

@antw: or is this a duplicate again? :smile:

[2015-05-07 09:49] ChaelKruip commented on #30
Assigned @grdw

[2015-05-07 09:51] ChaelKruip commented on #93
How is that an issue?!

[2015-05-07 09:52] antw commented on #93
Jealousy is a very real problem.

[2015-05-07 09:53] ChaelKruip commented on #93
:laughing:

[2015-05-07 09:56] antw commented on #30
I already fixed this locally, so I'll assign to me to avoid duplicating work.

[2015-05-07 10:16] ChaelKruip opened #94 "Drop-down menu with Title of scenario's instead of ID"
Now you have to remember your ID somehow which is not very user-friendly:
![ivy](https://cloud.githubusercontent.com/assets/1303760/7513232/e450b492-f4b2-11e4-821e-f6c1e3633e26.png)

[2015-05-07 10:19] ChaelKruip opened #95 "Title of scenario (both national and scaled) should be shown instead of ID or empty space"
![ivy](https://cloud.githubusercontent.com/assets/1303760/7513275/2f9b9e94-f4b3-11e4-94ce-6dba2a9953bc.png)

[2015-05-07 11:35] ChaelKruip opened #96 "Collapsing the 'steps' would make the workflow more intuitive"
It would be nice if steps 2 through 4 would be 'folded' when arriving:

![ivy](https://cloud.githubusercontent.com/assets/1303760/7513299/6ba875e2-f4b3-11e4-826e-d16bb90bd5f2.png)

[2015-05-07 11:53] grdw commented on #96
I did some really quick and dirty out-of-the-box bootstrap 'hacking' to give you an impression of my idea:

![screen shot 2015-05-07 at 1 47 47 pm](https://cloud.githubusercontent.com/assets/2676542/7514663/c1067e56-f4bf-11e4-8411-d4c14d881962.png)

Together with #95 this becomes a lot easier to use.

[2015-05-07 12:03] ChaelKruip commented on #96
:+1: Already a big improvement IMO! @dennisschoenmakers @antw what do you think?

[2015-05-07 12:05] ChaelKruip opened #97 "Can we use one profile for EV whether it is allowed to discharge or not?"
I have the feeling that we could use the same profile whether EVs are allowed to give electricity back to the grid or not. Perhaps we could have a 'flag' that tells us if an EV can discharge @antw?

To be clear: If we use neither demand shifting or storage, the EV should be using the fixed load profiles that we use now.

[2015-05-07 12:38] antw commented on #97
I'm not sure what exactly is being asked.

If you want to say that a specific EV may not discharge, then I think it would behave like any other consumption technology. It would draw from the network however much energy the minimum load profile specifies. It wouldn't store *excess* energy from the network since it could never discharge it. This would be true regardless of whether you disable storag

[2015-05-07 12:43] ChaelKruip commented on #97
Sorry for not being clearer! I'll Skype you tomorrow about this because I think it will be easier to explain verbally what I mean :smile:

[2015-05-07 12:49] grdw commented on #95
I did found out how to find all national scenarios
![screen shot 2015-05-07 at 2 44 15 pm](https://cloud.githubusercontent.com/assets/2676542/7515479/8f1a00ae-f4c7-11e4-84f4-ddb59c9941f6.png)

:+1:

Although, finding the 'scaled scenarios' is going to be a bit more complicated. Either you want the scaled scenario of the selected national scenario or you want *all* the scaled scenarios, or all *you

[2015-05-07 12:59] antw commented on #95
How about an action where you can request all scenarios with a particular `preset_scenario_id`? Something like:

[code]

[2015-05-07 12:59] ChaelKruip commented on #95
I like that!

[2015-05-07 13:04] grdw commented on #95
Sounds good :)

How about user specific scenario's?

[2015-05-07 13:17] antw commented on #95
Sadly I think this is going to be a real pain; ETEngine does not (and should not) store authorship information.

If we want to get the scenarios saved by a particular ETModel user, I think we'll have to request those from the ETM (see [SavedScenario](https://github.com/quintel/etmodel/blob/9755db9a64d3623b5a67226c664caf9e819655e8/app/models/saved_scenario.rb)) and *then* go to ETEngine for the det

[2015-05-07 13:28] grdw commented on #95
Let's just stick to the descendants approach. I think that's fine for now, @ChaelKruip ?

[2015-05-07 14:05] grdw commented on #94
Duplicate of #95

[2015-05-07 14:05] #94 closed

[2015-05-07 14:06] grdw commented on #79
Discussing this very problem at: #95

[2015-05-07 14:26] dennisschoenmakers commented on #79
Could we also add the latest 10 scenarios to the list? I know, they can be anybody's...

[2015-05-07 14:50] grdw commented on #90
OSX/Firefox
[code]

Win7/Ie9
[code]

If you look at the differences between the UploadeFiles than the answer becomes clear. IE9 is seeing the file as a plain/text file instead of a csv. Why this is, is a mystery still, but I'll try to see if I can find an answer.

[2015-05-07 14:58] grdw commented on #90
Fixed with 138506f

[2015-05-07 14:59] dennisschoenmakers commented on #79
Do we also need to specify from which server the national/local scenario comes from, @ChaelKruip ?

![image](https://cloud.githubusercontent.com/assets/104830/7518307/767f0a90-f4da-11e4-988e-13e5b73cf2b5.png)

[2015-05-07 15:03] antw commented on #79
I think not. The server is currently [hardcoded to use ETE beta](https://github.com/quintel/etloader/blob/master/config/environments/staging.rb#L13). Perhaps we can extract that into a YAML config file like ETModel does, but I don't think we should support multiple ETEngine servers.

That being the case, the server used should be implied:

* `beta.ivy` → `beta.et-engine`
* `ivy` → `et-engine`

[2015-05-07 15:06] dennisschoenmakers commented on #95
We could also use the 'author' field of the Etengine scenarios. If Etmodel sends that of to Etengine (e.g. dennis.schoenmakers@quintel.com or the user_id, we could pick that up. Right? :smiley:

[2015-05-07 15:42] antw commented on #95
There's a `user_id` field, but that relates to the ETEngine user – and most scenarios have no value for that column.

Unless this feature is absolutely critical to the client, sending a user ID (or e-mail) to ETEngine is something I'd rather we didn't do. ETEngine doesn't care about this information, and we'd be (mis-)using it as a broker: "here's some unrelated attribute wanted by another applica

[2015-05-07 20:53] #30 closed

[2015-05-08 07:01] grdw commented on #51
Continued at #95 - closing this one.

[2015-05-08 07:01] #51 closed

[2015-05-08 09:07] ChaelKruip commented on #63
@antw is this difficult to do? If not could you give it priority? Thanks!

[2015-05-08 09:38] #63 closed

[2015-05-08 10:07] ChaelKruip commented on #79
I agree.

[2015-05-08 10:10] ChaelKruip commented on #63
:+1:

[2015-05-08 10:22] dennisschoenmakers commented on #95
I get more and more the feeling we need to have a collective sign-in functionality, and a collective ownership structure for scenarios and 'testing grounds'.

I suggest we start with this *after* the (TKI) workshop.

[2015-05-08 10:25] ChaelKruip commented on #95
:+1:

[2015-05-11 08:56] grdw opened #98 "Turn new testing ground form profiles into an editable table instead of a yaml input field"
As discussed

[2015-05-11 09:19] ChaelKruip opened #99 "Load curve info should be updated"
![ivy](https://cloud.githubusercontent.com/assets/1303760/7561813/4321a3fe-f7cf-11e4-9e17-71f100d6377b.png)

IMO the curve size is not interesting and could be removed.
I would like to see added:
* time-resolution (hours or 15 minutes or ...)
* category (in the tree)
* associated (allowed) technologies

[2015-05-11 09:23] ChaelKruip commented on #96
@dennisschoenmakers, @grdw and I decided to collaps them even further into a single HTML table. Closing this issue as it is outdated.

[2015-05-11 09:23] #96 closed

[2015-05-11 09:26] ChaelKruip commented on #73
@grdw could this be easily be abstracted into a pull request? Perhaps this is a feature that we could deploy and test separately from the total work-flow update?

[2015-05-11 13:57] grdw opened #100 "D3-tree logic extracted from showTree.js file"
The `showTree.js` file contains information to create a tree for the topology.

For future features we want to create a preview of a certain topology. The only thing is that that D3 code that allows you to create a tree, is 'embedded' in the `showTree.js` file. We need to use our metaphorical programming pickaxes, to detach that piece of code, so it becomes reusable for those future features.

[2015-05-12 13:17] grdw opened #102 "NICE TO HAVE: When pressing tab go to next table-cell input"

[2015-05-12 14:11] ChaelKruip opened #103 "Better HP for hot water profiles needed"
Now I just use the normalised hot water demand profiles that @jorisberkhout has described in https://github.com/quintel/etdataset/issues/599#issuecomment-98651011

[2015-05-12 14:29] jorisberkhout opened #104 "Signing in after trying to open a specific testing ground takes me to the welcome page"
I tried opening http://ivy.et-engine.com/testing_grounds/45 without being signed in to Ivy and got (as expected) the warning below. When I signed in I was taken to http://ivy.et-engine.com/welcome and not to the specific testing ground (#45), as I was expecting.

![screen shot 2015-05-12 at 16 15 43](https://cloud.githubusercontent.com/assets/4669028/7589314/2deb24d0-f8c2-11e4-912a-6f29259ffcf5.pn

[2015-05-12 14:57] jorisberkhout opened #105 "It is very easy to edit existing testing grounds (even those that I did not create myself)"
I opened http://ivy.et-engine.com/testing_grounds/44 (which was created by @ChaelKruip ) and started editing without realising that I was actually overwriting @ChaelKruip 's testing ground. I think the user should at least be warned that this is happening.

ps: I have already apologised to @ChaelKruip ;)

[2015-05-12 17:53] ChaelKruip opened #106 "How are we going to translate the 'availability' for EV batteries to ETMoses?"
In ETM-pro you can specify how much of the EV battery you can use for storage. But how can we translate that number to something in ETLoader? That would require us to change the profiles for EV right?

[2015-05-12 18:22] ChaelKruip opened #107 "Concurrency does not work as expected"
For just two solar panels attached to two end-points, the concurrency setting has no effect:
![ivy](https://cloud.githubusercontent.com/assets/1303760/7594929/30a75398-f8e4-11e4-9a81-d535e495cd3d.png)
and
![ivy](https://cloud.githubusercontent.com/assets/1303760/7594941/3ec0d3fa-f8e4-11e4-9073-6eb4be18cc64.png)

I would expect that one of the two profiles would be changed. The concurrency should b

[2015-05-12 18:24] ChaelKruip commented on #107
UPDATE: I think the whole concurrency calculation is broken at the moment :fearful:

[2015-05-13 09:21] #107 closed

[2015-05-13 09:35] grdw commented on #95
Closing this issue - already was able to get the title of a scenario when you go to: http://ivy.et-engine.com/testing_grounds/import?scenario_id=123

[2015-05-13 09:35] #95 closed

[2015-05-13 09:35] #98 closed

[2015-05-13 09:35] #99 closed

[2015-05-13 09:39] grdw commented on #105
Right now a testing ground does not belong to a specific user.

This is done on purpose, due to the fact that users were introduced later on in the application. So it's 'difficult' to determine which existing testing grounds belong to which registered users.

For that matter, @ChaelKruip: when this issue is being fixed, is it okay if I assign all testing grounds to you, and that you distribute the

[2015-05-13 09:51] jorisberkhout opened #108 "Load chart is only showing zeros for solar_pv profiles in 'whole year' view"
I created a new testing ground with only Residential PV panels. In the 'whole year' view I see a flat profile load chart with only zeros. @ChaelKruip explained that this is due to the fact that the load chart displays the maximum value for every 12 hours to limit the number of datapoints. Since the PV panels introduce negative loads, this approach returns only zeros in this case.

I would suggest

[2015-05-13 09:52] antw commented on #108
Oh, good catch! I'll get this fixed.

[2015-05-13 09:53] jorisberkhout commented on #108
:+1:

[2015-05-13 09:56] #104 closed

[2015-05-13 09:56] grdw commented on #104
Fixed with e43e9be

[2015-05-13 09:57] grdw opened #109 "Automatically add houses + their respective base loads to the load profiles"
As discussed with Chael

We're not adding houses for scaled-to-x-'inhabitants'-scenarios due to inhabitants per house.

[2015-05-13 10:01] ChaelKruip opened #110 "Clean up list of topologies"
There are a lot of duplicates and 'nameless' ones

[2015-05-13 10:21] jorisberkhout opened #111 "Why do I see discrepancies between the load chart and the load profile?"
I have created a testing ground with only one technology, an electric vehicle, connected. I assigned a profile to it and was expecting the load chart to look exactly the same as this profile. However, they look very different and there is also negative load that I hadn't expected.

Do you know why this is happening, @antw?

**Load chart**

![screen shot 2015-05-13 at 12 14 35](https://cloud.github

[2015-05-13 10:27] ChaelKruip commented on #105
:+1:

[2015-05-13 10:46] antw commented on #111
I think I understand what's going on here. The negatives are almost certainly a bug which I'm still checking out, but I have a question first: in this example, what do you think is the total storage capacity of the vehicle?

[2015-05-13 11:03] ChaelKruip commented on #111
I think the **volume** (in kWh) for EV is 25kWh as specified in https://github.com/quintel/etdataset/issues/597#issuecomment-98846395.

[2015-05-13 11:10] jorisberkhout opened #112 "It is not possible to add storage and conversion technologies to a testing ground"
I tried adding a battery by specifying `households_flexibility_p2p_electricity` as technology type http://ivy.et-engine.com/testing_grounds/54 but got the error message shown below. Adding a `energy_flexibility_p2g_electricity` (P2G) or `households_flexibility_p2h_electricity` (P2H) fails in a similar fashion.

![screen shot 2015-05-13 at 12 28 42](https://cloud.githubusercontent.com/assets/466902

[2015-05-13 11:12] jorisberkhout commented on #111
Correct, but I don't think this is relevant for the above profiles, since I used the *load* profiles for an electric vehicle and not the *availability* profiles (which are net on Ivy).

[2015-05-13 11:19] ChaelKruip commented on #111
Good point @jorisberkhout. Thanks for clarifying!

[2015-05-13 11:20] antw commented on #111
I'm still looking into the negatives. The "spikes" in the EV load are, I think, more easily explained.

* `capacity` is currently not a supported attribute of storage technologies. It *will* be soon – presumably mapping to `input_capacity` – but at moment the behaviour of storage when you set this attribute is "undefined" (i.e. probably broken). If you set a `capacity`, I think you'll trigger [the

[2015-05-13 11:25] jorisberkhout commented on #111
Good points, @antw .

We currently have two sets of profiles for electric vehicles:
1. The *load* profiles that we created a while ago. These profiles describe the load that electric vehicles add to the network and contain raw **kW** values
2. The new set of *availability* profiles that are described in https://github.com/quintel/etdataset/issues/597#issuecomment-97725610. These indeed describe th

[2015-05-13 11:26] antw commented on #111
It sounds a lot like you're treating the EV as a normal technology (with a capacity and load profile) and not a storage technology. Change the car technology "type" to `generic` and you'll see a load curve which matches the profile exactly.

But, if you do that, the car won't store any excess production from within the network.

[2015-05-13 11:26] #73 closed

[2015-05-13 11:30] jorisberkhout commented on #111
Thanks for clarifying that @antw, I wasn't aware of this. @ChaelKruip pointed out that at some point he wants the user to be able to toggle between a storage / demand shifting mode and a mode without these features.

I will upload the *availability* profiles to Ivy and test again with these profiles.

Closing this issue.

[2015-05-13 11:30] #111 closed

[2015-05-13 11:51] jorisberkhout opened #113 "Sorting of load profiles is not logical"
I uploaded a number of load profiles and noticed that they ended up in different places in the list (see below). I would expect the list to be sorted either alphabetically or by upload date (which is not true if you look at the rest of the list at http://ivy.et-engine.com/load_profiles).

![screen shot 2015-05-13 at 13 45 07](https://cloud.githubusercontent.com/assets/4669028/7609770/dec3b75e-f976

[2015-05-13 12:09] ChaelKruip opened #114 "Sort profiles alphabetically in display"
Now it looks quite messy:
![ivy](https://cloud.githubusercontent.com/assets/1303760/7610017/94ebbd4a-f979-11e4-84a6-10b5ae70b2db.png)

[2015-05-13 12:10] ChaelKruip commented on #114
Closing. Duplicate!

[2015-05-13 12:10] #114 closed

[2015-05-13 12:20] ChaelKruip commented on #90
This is still an issue. I have uploaded [the offending CSV](https://www.dropbox.com/s/wu5ao4omeankzws/loadcurve%20Wind-offshore.csv?dl=0). I can upload it but the [resulting load curve](http://ivy.et-engine.com/load_profiles/296) is weird. It shows only the first value for 365 datapoints. Normally the year-view shows months but not with this CSV.
Also, the 'week-view' does not show a profile at al

[2015-05-13 12:33] grdw commented on #90
You can upload it :+1:  but it's weird that it produces a weird curve. I think I already saw some error passing by from Airbrake that might have something to do with it.

[2015-05-13 12:39] antw commented on #90
365 means that it's only reading a single value from the curve (probably the first value). The front-end chart "expands" single-value curves to 365 values, since that's the default number of values shown in the full-year-view.

[The JSON for the load profile](http://ivy.et-engine.com/load_profiles/296.json) indeed shows only one value:

[code]

Might be an issue to do with Windows line endings. Or

[2015-05-13 13:20] grdw opened #116 "Calculate average demand from ETM for a house"

[2015-05-13 14:25] grdw opened #117 "'Bug' in testing ground#new profile table"
When you remove a node completly from the table and change between concurrencies, it 'spawns' back the old node.

[2015-05-13 14:41] grdw commented on #117
@ChaelKruip considering that I can't change the topology endpoints from the table, but can remove all technologies under a certain endpoint - how should 'automatic concurrency' be handled in this case?

I'll show you what's happening if the above isn't clear enough (considering that I'd some issues trying to put the above words in the proper order)

[2015-05-14 14:25] ChaelKruip opened #118 "Availability profiles for EV are sufficient right?"
I think that we only need the availability profiles and can get rid of the load-profiles for EV. The behaviour of EV will be different depending on if storage/demand shifting is toggled 'on' or 'off' but the profiles have enough info for both cases. Just to be sure that we're all on the same page here :smile:

* Storage 'on': the EV charges whenever there is local excess (that not consumed by othe

[2015-05-14 14:26] ChaelKruip commented on #97
This issue is superseded by the hopefully clearer https://github.com/quintel/etloader/issues/118

[2015-05-14 14:26] #97 closed

[2015-05-14 16:24] ChaelKruip opened #119 "Persistence needed between editing table view and other pages"
When editing the local energy solution (LES),
![ivy](https://cloud.githubusercontent.com/assets/1303760/7636252/6645074c-fa66-11e4-813e-ed0c40fdf307.png)
I would like to be able to visit the profiles page (for instance) and be able to return to editing the table somehow.

[2015-05-14 17:02] ChaelKruip opened #120 "Do we assume that the battery of EV is empty upon return?"
Or can it still contain some residual charge IF the battery was charged beyond the prescribed charging fraction (due to excess local electricity from solar PV).

[2015-05-14 17:41] ChaelKruip opened #121 "P2P (both EV and batteries), P2H and P2G should only store/convert excess"
This is not really a question but more a request for verification. :smile:

What I mean by excess electricity is the production of solar PV (or other volatile producers) that cannot be used by consuming technologies and would otherwise be sent to the network. So, say at time 't' we have a connection of the network with
* P2P battery
* solar PV producing 10 kW
* Television consuming 10 kW
In this c

[2015-05-14 18:18] ChaelKruip opened #122 "Repair the "Lochem" testing grounds"
They are good for demonstration purposes one of which is planned for Monday 18th of May.

[2015-05-14 18:46] ChaelKruip opened #123 "Concurrency should be set per technology"
It would be really nice if you could select the technologies for which you would like to maximise or minimise the concurrency. For solar PV concurrency is likely to be high (same neighbourhood) even though it could be low for EV in that same neighbourhood.

[2015-05-14 18:48] ChaelKruip opened #124 "The default topology should become more useful"
The current one is too simple and unrealistic. It should have at least:
* Capacities for the major transformers
* One HV-MV trafo
* Two MV-LV trafo's
* Some lower connections

[2015-05-14 19:33] ChaelKruip opened #125 "Storage and conversion technologies should have a capacity"
That is the rate (in kW) with which they can charge/discharge from the network.

We need to find a solution to for the fact that this limits the minimum amount of energy that can be exchanged with these technologies:
[code]

For now I propose to use the following work-around: round-off upward to the closest amount larger than the amount needed. This can be done both for charging and discharging. S

[2015-05-14 19:37] ChaelKruip opened #126 "On the "load chart page", use the table view for technologies connected to a node"
Right now this is the representation of connected technologies:
![ivy](https://cloud.githubusercontent.com/assets/1303760/7640053/1a204af0-fa81-11e4-8069-305df28b085c.png)

The table view is much more economical and pretty :smile:

Perhaps we could even allow it to be editable? @dennisschoenmakers @antw what do you think?

[2015-05-14 19:45] ChaelKruip opened #127 "Base-load profiles with positive demand should not result in a negative load"
In [http://ivy.et-engine.com/testing_grounds/39](http://ivy.et-engine.com/testing_grounds/39) there are lots of examples of negative load due to base-load profiles:
![ivy](https://cloud.githubusercontent.com/assets/1303760/7640253/6f01a28e-fa82-11e4-835c-4895aa75ca7f.png)

[2015-05-15 07:05] grdw commented on #122
Could you validate if I picked the correct topology? It all comes down to choosing the correct topology.

[2015-05-15 07:38] #122 closed

[2015-05-15 08:28] ChaelKruip opened #128 "Load chart is loading very slowly (sorry for that wording)"
It seems that the load chart takes forever to "pop up" for larger testing grounds. Is this due to recent changes related to storage?

[2015-05-15 09:31] dennisschoenmakers commented on #126
Why not? :smiley:

[2015-05-15 10:17] ChaelKruip commented on #126
Because editing it would trigger a re-calculation of the load. Currently this page is nice and responsive because information is largely cached if I'm not mistaken. @antw?

[2015-05-15 12:09] grdw opened #129 "Importing storage technologies"

[2015-05-15 12:14] ChaelKruip commented on #117
As discussed with @grdw, the division of technologies over the nodes needs to be disconnected from the 'concurrency'.

If the user removes all technologies from an end-point, that end-point should remain empty. @grdw will pick this up after the deadline.

[2015-05-15 12:17] ChaelKruip opened #130 "Concurrency code needs some refactoring"
As discussed with @grdw, the current implementation of the concurrency calculation contains a lot of unnecessary duplications of objects and profiles. This will hurt performance badly for larger scenario's.

[2015-05-15 13:13] antw commented on #128
Yes and no.

Storage itself is not the reason; however, showing the "storage off" load  on the chart *is*. We have to calculate the testing ground a second time in order to compute the loads of each component when storage technologies are disabled. Instead of doing this when the page first loads – which would double the time you're looking at "Calculating your testing ground" – the "storage off" l

[2015-05-15 13:38] ChaelKruip commented on #128
@antw thanks for clearing that up!

I think we could also include a toggle button for storage in the "load-chart page" that is 'off' on default. If the user decides to use storage, he/she will not mind waiting a bit longer I think...

[2015-05-15 14:13] antw commented on #126
There is currently no caching of calculated testing grounds. We would, of course, have to recalculate the testing ground after a change is made, but that's also true of using the "Edit testing ground" page.

Seems like this could be a nice usability improvement.

[2015-05-15 14:51] antw commented on #121
TL;DR: Yes!

There are two types of consumption: "mandatory" and "conditional".

* **Mandatory consumption** is that which *must* be satisfied; if there is insufficient production in the testing ground, the grid will be used to balance the deficit. If you have a television consuming 10 kW and a solar PV producing 5 kW, 5kW will come from the PV and 5 kW from the grid.

* **Conditional consumption*

[2015-05-15 14:53] antw commented on #121
Oh... that red line should read "Volume", not "Capacity". /faceplam

[2015-05-15 15:00] antw commented on #120
Is this meant as a question, or to start a discussion? It was [briefly discussed here](https://github.com/quintel/etloader/issues/66#issuecomment-99513177) with the decision being to empty the EV completely upon its return.

I think it would be more accurate for it to return with the excess still intact.

[2015-05-15 15:24] ChaelKruip commented on #121
Very clear thanks!

[2015-05-15 15:25] ChaelKruip commented on #120
I agree. That would be a nice-to-have IMO.

[2015-05-15 15:26] ChaelKruip commented on #120
I was wondering what was currently implemented :)

[2015-05-17 13:30] ChaelKruip opened #131 "If EV batteries are stored beyond their minimum required fraction, they should not be empty upon returning from a trip"
The extra bit of charge should still be in there.

See question asked in https://github.com/quintel/etloader/issues/120 and discussion in https://github.com/quintel/etloader/issues/66#issuecomment-99513177.

[2015-05-17 13:30] ChaelKruip commented on #120
Superseded by https://github.com/quintel/etloader/issues/131. Closing.

[2015-05-17 13:30] #120 closed

[2015-05-17 13:31] ChaelKruip commented on #121
Closing.

[2015-05-17 13:31] #121 closed

[2015-05-17 13:41] ChaelKruip commented on #79
I think we can close this issue if the the topology is added to the overview @grdw

[2015-05-17 13:42] ChaelKruip commented on #66
Closing.

[2015-05-17 13:42] #66 closed

[2015-05-17 19:55] ChaelKruip opened #132 "http://ivy.et-engine.com/testing_grounds/import is broken"
I don't know how but I might have broken it by defining a new topology :worried:

[2015-05-17 20:32] antw commented on #132
Did you rename the default topology? It used to be defined in a YAML file, but has apparently been moved into the database and [*must* be called "Default topology"](https://github.com/quintel/etloader/blob/master/app/models/topology.rb#L9-L11).

[2015-05-17 20:59] ChaelKruip commented on #132
That's probably what happened yes... I'll fix it tomorrow. Thanks!

[2015-05-18 07:34] ChaelKruip opened #133 "EV profiles should not give negative load (discharge) if storage is 'off'"
Strangely enough, it seems that EV even shows this behaviour if the 'normal' (not the availability profiles) are used:
![ivy](https://cloud.githubusercontent.com/assets/1303760/7676122/e05a4272-fd40-11e4-97a0-f0a068c61fae.png)

[2015-05-18 07:37] ChaelKruip commented on #124
I have added some capacities and costs that I think are realistic. For simplicity I have kept the topology simple:
![ivy](https://cloud.githubusercontent.com/assets/1303760/7676176/582c1672-fd41-11e4-9ded-e24ddc7454b4.png)
and
![ivy](https://cloud.githubusercontent.com/assets/1303760/7676182/76a37abe-fd41-11e4-953e-85e5eec8d816.png)

[2015-05-18 07:45] grdw opened #134 "Setting default storage value to a specified default for Storage technologies"
@ChaelKruip and I thought it would be nice to do this last week but now a lot of `spec/models/network`-specs are failing.

@antw How can this be achieved in the 'nicest' way?

[2015-05-18 07:49] grdw commented on #129
I fixed this last week by giving the `import_from` attribute for batteries in the `technologies`-table an `electricity_output_capacity` property. But EtModel doesn't export the batteries correctly. Also `Generic Battery` isn't working in the `technologies` table, with this setting.

[2015-05-18 07:54] ChaelKruip commented on #124
For the more demanding customer I have also extended the above topology with 100 connections for individual households. The name is "100_end_points"

[2015-05-18 07:54] #124 closed

[2015-05-18 07:54] #109 closed

[2015-05-18 07:58] ChaelKruip commented on #129
For storage options, both `electricity_output_capacity` and `electricity_input_capacity` need to be assigned. For now, we can set them to the same value.

[2015-05-18 08:37] #127 closed

[2015-05-18 08:38] ChaelKruip commented on #127
:+1:

[2015-05-18 08:38] grdw commented on #126
And there is a table:

![screen shot 2015-05-18 at 10 37 37 am](https://cloud.githubusercontent.com/assets/2676542/7677139/f2533cbe-fd49-11e4-8765-772f56835187.png)

[2015-05-18 08:39] #126 closed

[2015-05-18 08:40] ChaelKruip commented on #126
:+1:

[2015-05-18 11:19] ChaelKruip commented on #132
Fixed. Closing.

[2015-05-18 11:19] #132 closed

[2015-05-18 11:47] antw commented on #133
This is caused by using the *load* profiles with the EV technology. I have changed Beta to always select availability profiles – since they may be used when storage is on and off – which will resolve the problem for now.

The swing to negative load is caused by a **temporary** limitation in the calculator. It was already on my radar to be fixed but I'll make sure it gets dealt with this week. It w

[2015-05-18 12:14] grdw commented on #110
I've hidden all the 'nameless' ones like suggested in the mail.

[2015-05-18 12:25] #113 closed

[2015-05-18 12:25] #110 closed

[2015-05-18 12:30] ChaelKruip commented on #133
Thanks for clearing that up @antw that is a big relief :smile:

[2015-05-18 14:12] ChaelKruip commented on #133
It looks like they are still selected...

[2015-05-18 14:19] ChaelKruip commented on #133
Closing.

[2015-05-18 14:19] #133 closed

[2015-05-18 16:22] antw commented on #129
Ignore "Generic battery" for now; it was used temporarily for testing and has been replaced by `households_flexibility_p2p_electricity` / "Battery". I'll make a note to remove it.

[2015-05-18 16:37] antw commented on #134
I'm not sure why this needs to default to zero. It's an optional attribute, and `nil` and `0.0` don't mean the same thing. `nil` means "this attribute is not relevant to this technology", and `0.0` means "this storage technology stores nothing".

Setting a default value causes the specs fail because InstalledTechnology *expects* irrelevant attributes to be `nil` [when loading profiles](https://git

[2015-05-18 16:44] antw commented on #128
Fixed by 06c824ec.

[2015-05-18 16:44] #128 closed

[2015-05-18 16:46] antw commented on #112
Closing, as this is now working correctly.

[2015-05-18 16:46] #112 closed

[2015-05-18 19:13] ChaelKruip commented on #134
To clarify: I think it would be nice if the 'storage' attribute would get a default value for storage technologies only. In those cases, we already have values researched.

BTW: 'volume [kWh]' would perhaps be a better name IMHO. 'Storage' suggests to me that this is a bool indicating if this technology is able to store.

[2015-05-18 19:54] antw commented on #134
Presumably this value would be non-zero and specific to each technology? If so, this would be better as part of the Technology model so that you could set different defaults on each one.

This will happen; I'll see to it tomorrow. :+1:

[2015-05-19 07:19] grdw opened #135 "Fixing solar panels export slider setting with solar panel roof surface gquery"
As discussed with Chael and Joris.

[2015-05-19 09:44] #135 closed

[2015-05-19 09:44] grdw commented on #135
Validatet the actual numbers with Joris

[2015-05-19 10:22] grdw commented on #119
There's only a single nice way to do this. And that's to make all the links on this page go to a 'new tab'.

Another nice solution is to use `localStorage` to store the profile temporarily, so whenever you hit the back button your changes will still be available on your machine only.

[2015-05-19 11:25] antw commented on #119
Sounds like this issue really masks a usability problem: that it's hard to remember the names of nodes, technology types, and profile names; often you have to go and look them up. Drop-downs, which are pre-filled with all the available values, might prevent the need to visit another page while editing a testing ground.

[2015-05-19 12:14] grdw commented on #119
Yes and no. If you know what - for instance - a certain profile looks like: yes. If you don't know than people will still bounce off the form page. It depends on who uses it basically (which is usually the case). :)

[2015-05-19 13:18] grdw commented on #34
@ChaelKruip is this still needed?

[2015-05-19 13:21] ChaelKruip commented on #34
Yes please!

[2015-05-19 14:09] ChaelKruip commented on #34
The download/upload a CSV functionality allows the user to quickly build/reuse complex LESs.

[2015-05-19 14:12] ChaelKruip opened #137 "Changing concurrency should not redistribute the technologies over the end-points"
The distribution of profiles and technologies over end-points should be decoupled in the code.

[2015-05-19 17:11] ChaelKruip commented on #129
`households_flexibility_p2p_electricity` is not picked up correctly by ETLoader yet it seems.
I have 60% batteries in my scaled scenario but none in my technology table.

[2015-05-19 17:14] ChaelKruip commented on #118
Closing.

[2015-05-19 17:14] #118 closed

[2015-05-19 17:15] ChaelKruip commented on #58
Closing.

[2015-05-19 17:15] #58 closed

[2015-05-19 17:15] ChaelKruip commented on #103
Closing as these are sufficient for now.

[2015-05-19 17:15] #103 closed

[2015-05-19 17:20] ChaelKruip opened #139 "Scale units of load to match the order of magnitude"
This will help the charts look nicer as the numbers are formatted similarly.

See [this comment](https://github.com/quintel/etloader/issues/91#issuecomment-99796498) for more details.

[2015-05-19 17:20] ChaelKruip commented on #91
Closing as this is issue is superseded by https://github.com/quintel/etloader/issues/139

[2015-05-19 17:20] #91 closed

[2015-05-20 08:33] grdw commented on #93
I fixed this issue https://github.com/quintel/etloader/commit/aa9cf81670cf36c77b6f8b41a13c78e7aacacb3c

All the testing grounds are still connected to Chael though :angel:

[2015-05-20 08:33] grdw commented on #105
A testing ground now belongs to a user :) in fact all testing grounds belong to you, @ChaelKruip. Maybe you could give the testing grounds to the correct users.

[2015-05-20 08:34] #93 closed

[2015-05-20 08:37] grdw commented on #117
Continued at #137

[2015-05-20 08:37] #117 closed

[2015-05-20 10:01] ChaelKruip opened #140 "Name should not be optional for new topology"
![ivy](https://cloud.githubusercontent.com/assets/1303760/7723320/030a870c-fee8-11e4-84dc-6c648b604d6f.png)

[2015-05-20 10:05] #34 closed

[2015-05-20 10:05] #130 closed

[2015-05-20 10:08] ChaelKruip opened #141 "Load chart should have more persistence"
It should remember if you chose a specific:
* week
* time-window
* toggle (show capacity, show storage)

when you select different nodes

[2015-05-20 10:17] #140 closed

[2015-05-20 10:17] #105 closed

[2015-05-20 13:02] grdw opened #142 "Hiding the ETM type under the name attribute in the technologies table"
Right now the table is a bit to narrow due to the large table headers. Hiding the 'type' column might be a good solution to make it less narrow.

![screen shot 2015-05-20 at 3 00 42 pm](https://cloud.githubusercontent.com/assets/2676542/7726262/068b0834-ff01-11e4-8973-936b42a23f13.png)

[2015-05-20 13:12] antw commented on #142
The type is needed if you want to add or change technologies manually (and is very useful for testing new features), but I agree that having separate "Name" and "Type" columns feels redundant.

Perhaps we could drop the separate "name" field, keep the "type", but instead show a nice human-readable name (instead of `transport_car_using_electricity`, etc).

[code]

We'd lose the ability to set a cus

[2015-05-20 13:27] ChaelKruip commented on #142
Me too!
I would be happy with just one of the two columns and the custom names are the least useful I agree.

[2015-05-20 15:33] grdw opened #143 "The Moses Logo review-issue"
![logo](https://cloud.githubusercontent.com/assets/2676542/7729619/0aea48ee-ff16-11e4-9a6d-845aae21ac12.png)

Showing off my Gimp-skills :art:
I picked the general ETM blue to make a clear distinction between the word ETM and MOSES.

What do you think? @ChaelKruip

[2015-05-20 15:34] grdw commented on #143
Opinion time: @dennisschoenmakers @antw @jorisberkhout

[2015-05-20 15:46] jorisberkhout commented on #143
Looking sharp!

I would personally change the color of the logo (the circles with the wheel) to ETM blue and go for a dark grey instead of black for MOSES and the subtitle. There is a little two much contrast to my liking. Just my 2 cents.

[2015-05-20 16:43] ChaelKruip commented on #143
I don't like the two M's so close to each other.
Here's an idea: E T M O S E S where the first three letters are the same colour.
The M stands for Model(ling) :smile:

[2015-05-20 19:21] dennisschoenmakers commented on #143
Chael :+1:

[2015-05-20 22:42] antw commented on #143
![moses](https://cloud.githubusercontent.com/assets/4383/7738196/c607920c-ff49-11e4-8f65-e359508425cf.png)

[2015-05-21 06:29] ChaelKruip commented on #143
Haha, this is truly A.M.A.Z.I.N.G! :laughing:

[2015-05-21 06:30] dennisschoenmakers commented on #143
ROFL!

[2015-05-21 07:19] grdw commented on #143
@antw amazing logo! Would also implement a `burning_bush` technology type, some 10 commandments page somwhere etc.

[2015-05-21 07:19] grdw commented on #143
@ChaelKruip @jorisberkhout thanks for your suggestions :+1:

[2015-05-21 07:21] jorisberkhout commented on #143
:laughing:

[2015-05-21 07:47] grdw commented on #143
![logo](https://cloud.githubusercontent.com/assets/2676542/7743803/531798aa-ff9e-11e4-8487-572f7ef9dc32.png)

[2015-05-21 08:17] antw commented on #143
I like that.

Would it be possible to see a version with the "M" also in black? The blue "M" looks to me like it should be read as "ETM OSES".

[2015-05-21 08:40] grdw commented on #143
![logo-gray-m](https://cloud.githubusercontent.com/assets/2676542/7744693/bf590394-ffa5-11e4-864b-5ffbc3f73605.png)

yes

[2015-05-21 08:44] antw commented on #143
Thanks! That looks better to me – I'm used to saying ET**Model**, ET**Engine**, ET**Source**, so ET**Moses** has a nice ring to it.

I'm happy with either though; they're both good. :+1:

[2015-05-21 08:50] grdw commented on #143
There's only one way to solve this problem. ~~Let Moses decide!~~ or we can just vote.

<table>
<tr>
<th>Logo</th>
<th>Vote count</th>
</tr>
<tr>
<td>Black M</td>
<td>2 (antw, grdw)</td>
</tr>
<tr>
<td>Blue M</td>
<td></td>
</tr>
</table>

[2015-05-21 13:33] dennisquintel opened #144 "It should be possible to exclude subindustries"
During the workshop of 21 May we discovered that sometimes LES's do have _certain_ subindustries but not _all_ (or none) of them, as discusses with @ChaelKruip and @AlexanderWirtz.

Putting on hold for now.

[2015-05-21 14:39] #143 closed

[2015-05-21 14:41] grdw commented on #142
I changed the `name` and `profile` attributes into select boxes. :smile:

Still needs some cleanin-up though.

[2015-05-21 16:30] #108 closed

[2015-05-26 09:39] grdw commented on #141
This is easy to remember. There is one hurdle though. Whenever someone pushes the 'enable storage' toggle, the chart needs to be refreshed due to changes in the data of the chart, this 'forgets' all the previous week and time-window settings.

[2015-05-26 10:26] antw commented on #141
I think @ChaelKruip was looking for the chart to remember the chosen settings *for all nodes*, so that if you select "Jan 1 – Jan 7" on LV1, then choose to view the load chart for LV2, that chart will load showing "Jan 1 – Jan 7" also.

Currently it seems to remember the setting on a per-node basis, but defaults back to the annual view when showing a different node.

--

The request itself is not

[2015-05-26 11:16] grdw commented on #141
I thought that when you switched back to the same node, your week settings should be memorized.

@antw I agree.

[2015-05-26 11:41] antw commented on #141
That's what you implemented – and it works perfectly by the way. I thought the request was that the chosen week should be a global setting, and apply to every chart. Maybe I'm misunderstanding what was requested; @ChaelKruip can you clarify?

[2015-05-26 12:41] grdw commented on #85
@dennisschoenmakers and I were discussing lots of things considering authorization.

# The Basics
#### Private/public distinction between testing grounds.

- Private means: only the user can view, edit, update his or her own testing ground.
- Public means that everybody can show the testing ground but can't edit it. (Please discuss).

#### Topologies must belong to a user aswell, but given the fre

[2015-05-26 13:34] antw commented on #85
### Topologies

My plan for `Topology` was inspired by Google Calendar (and others like it). When you have a recurring event, you may choose to edit the event and save your changes. When you hit "Save", you are presented with this:

![event](https://cloud.githubusercontent.com/assets/4383/7813199/beca7dea-03b0-11e5-9c7a-9505a9f50d43.png)

I thought that we could do something similar with `Topology

[2015-05-26 14:22] grdw commented on #85
When would someone change an existing topology once it isn't yours? We could also only allow certain 'admin' users to do this, but I'm truly wondering when this will actually happen.
What I'm currently thinking about is: a user can only clone an existing topology or start one from scratch. Editing of topologies is only allowed for your own topologies (private topologies can't be cloned, public one

[2015-05-26 14:39] grdw opened #146 "Authorization #1: Adding a public and private flag for testing grounds/load profiles/topologies"
- Private testing grounds are hidden from the listing.
- Private testing grounds can only be edited and viewed by the creator

@ChaelKruip could you validate that this is correct.

[2015-05-27 08:20] grdw commented on #141
I talked to @ChaelKruip - he did mean:

I'm going to try to do it. But first, clean-up time!

![broom](http://img2.wikia.nocookie.net/__cb20120111032935/disney/images/5/52/Magic_Broom-Plush.jpg)

[2015-05-27 08:30] grdw opened #148 "Cleaning up front-end Javascript code"
A lot of Javascript got split into multiple files etc.
Still there's a lot of ground to win. Especially in `tree_graph.js`

[2015-05-27 14:14] #125 closed

[2015-05-27 14:14] #129 closed

[2015-05-27 14:49] ChaelKruip commented on #143
:+1:

[2015-05-29 09:06] ChaelKruip opened #149 "User should get a clear error message when using a non-existent profile"
Now ETMoses just tells you that:
![ivy](https://cloud.githubusercontent.com/assets/1303760/7879653/9cff8176-05f2-11e5-81b3-d1a72955acda.png)

Which should read "LES or Local Energy Solution" BTW

[2015-05-29 09:13] ChaelKruip opened #150 "Front-end should inform the user of the topology used"
Now that is not clear to me:
![ivy](https://cloud.githubusercontent.com/assets/1303760/7879776/95fb959e-05f3-11e5-883b-081382d2d7c7.png)

[2015-05-29 09:48] grdw commented on #149
@antw Is this the only thing that can go wrong or are there any other situations which might need some custom error message?

[2015-05-29 14:49] grdw opened #152 "Clean up after two merge requests"
The two merge requests will cause issues due to the current setup of the select boxes and the authorization.

Will fix this after the two merge requests are merged

[2015-06-02 08:34] ChaelKruip commented on #84
Thanks for making this possible @grdw. It seems that we still need the possibility of assigning/choosing categories when creating a profile though to make this useful...

[2015-06-02 11:18] ChaelKruip opened #153 "Base-load (households) should be added to technology list"
Now you cannot select baseload (or households)

[2015-06-02 11:21] ChaelKruip opened #154 "Base-load profiles for buildings need to be added to a LES similar to households"
Talk to me first.

[2015-06-08 07:41] #152 closed

[2015-06-08 13:40] ChaelKruip opened #155 "DISCUSSION: Bufferable, shiftable and mandatory load"
The purpose of this ticket is to document and facilitate discussion on how we want to treat the various types of load in ETMoses.

## Problem description

We have different types of load generating entities in ETMoses:
* PV panels: production, not shiftable, can be 'curtailed' when 'load management' is 'on'.
* EV: consumption and production, different behaviour depending on 'storage' and 'load man

[2015-06-08 14:11] ChaelKruip commented on #134
Can this be closed @antw @grdw ?

[2015-06-08 14:12] antw commented on #134
Yes.

Volume and capacity are now imported from ETEngine. I don't think there's any need for Moses to define a default.

[2015-06-08 14:12] #134 closed

[2015-06-08 14:56] antw commented on #155
I'll take some time to digest this – and its implications on the calculation – but in principle I think the Merit-style approach would be a move in the right direction.

I'm going to give this a try and will add more feedback shortly.

[2015-06-09 07:53] grdw opened #156 "Improve grouping of profiles for end points min. concurrency"
Nice to have:

Grouping of profiles should have a little touch of random when grouping them with a minimum amount of concurrency.

[2015-06-09 07:55] #142 closed

[2015-06-09 07:57] grdw commented on #148
It's a little bit more cleaned-up - splitted up in multiple files - using `Object.prototype`. But there's some ground to win.

[2015-06-09 07:58] grdw commented on #153
`INSERT INTO `technologies` (`id`, `key`, `name`, `export_to`, `behavior`)
VALUES
	(11, 'base_load', 'Household', NULL, NULL);
`

I added the household in the technologies table.

[2015-06-09 08:01] #153 closed

[2015-06-09 08:06] ChaelKruip commented on #156
I see what you are saying here @grdw but I think that randomisation is not necessarily the way to solve the fact that some profiles can occur systematically more often then others in the current implementation.

[2015-06-09 12:06] grdw commented on #156
It's either randomisation for the start of a sequence or systematically 'jump one place ahead' - the fudge factor solution.

[2015-06-09 12:42] ChaelKruip commented on #116
Can this be closed @grdw ?

[2015-06-09 12:50] #116 closed

[2015-06-09 12:51] #150 closed

[2015-06-09 13:03] grdw opened #158 "Adding generic technology"
Make it possible to add a technology that can be used as an X-technology. For instance something custom like a Pizza-oven.

[2015-06-09 13:23] ChaelKruip opened #159 "Treating postponable load in measured 'base-load' profiles"
## Background
We have access to measured 'smart meter' data from individual households. This data typically shows a minimal load below ~300W and peaks of higher load that last for maximally 2 hours.
Some of these peaks might be due to technologies whose load is inflexible, others might be 'postponable' and we should be able to treat them as such.

## Problem
How can we:
* extract the peaks and ass

[2015-06-09 13:24] dennisschoenmakers commented on #155
I think the challenge here is that we want to keep flexibility in the number of *Strategies* (how to 'solve' the load on the network) but also keep the flexibility in the number of *Technologies*.

If we will define the rules *per* technology, we will end up with a 'problem': later if we want to add another 'strategy': this will create the immediate need to add more to the technology. If we define

[2015-06-09 13:29] grdw opened #160 "Use select boxes all the time instead of double clicking on the testing ground / profile table"
Instead of clicking to reveal the actual select box; just show the select box.

This will improve usability since users don't have to double click (credits to @antw).

Incomplete screenshot to give an idea:

![screen shot 2015-06-09 at 3 28 15 pm](https://cloud.githubusercontent.com/assets/2676542/8058785/351f97a8-0ebc-11e5-9f71-8af08ec50d8c.png)

If there are other ways; please suggest!

[2015-06-09 13:41] dennisschoenmakers commented on #159
Possible solution 2 :+1:

[2015-06-09 13:51] grdw commented on #160
![screen shot 2015-06-09 at 3 50 43 pm](https://cloud.githubusercontent.com/assets/2676542/8059270/528ac0a8-0ebf-11e5-85ae-aae78e968fb0.png)
It will look like this.

[2015-06-09 14:05] ChaelKruip commented on #160
@grdw I like this approach. It communicates to the user what the function of the boxes is.

[2015-06-09 14:08] ChaelKruip opened #161 "The user should be able to use a 'generic' technology in combination with all profiles in the database"
Now the user is limited to those technologies that are included in the drop-down menu's.

[2015-06-09 14:18] ChaelKruip opened #162 "Buildings should be imported from the ETM into a LES as well"
The ETM also has a 'buildings' sector. This sector can be very relevant for larger LESs but currently, there is as of yet no method to automatically 'import' the buildings into ETMoses.

[2015-06-09 14:20] antw commented on #159
Solution 2 has my vote also.

I'm not sure this is a disadvantage; there needs to be a balance between being able to customise the calculation, and providing a good user experience. "Assign probability of base load flexibility" seems *too* advanced for most users.

[2015-06-09 14:33] antw commented on #160
Since the topology cannot be changed on the "new/edit testing ground" page, maybe the "Node" column could also be replaced with a hidden form field? Instead we'd have a table for each leaf node:

    MV-LV Trafo #1
    --------------

    [ Household      | v ]  [ Profile ]  ...  (-)
    [ Electric car   | v ]  [ Profile ]  ...  (-)
    [ Residential PV | v ]  [ Profile ]  ...  (-)

        [ Add

[2015-06-09 14:45] ChaelKruip commented on #160
I like this from the point of view of clarity and aesthetics. However, in the current form it would be easier to move a technology to another end-point by simply selecting it from the list.
Is that supported @grdw ?

[2015-06-09 14:54] grdw commented on #160
Still becomes a little hard to read when there are +100 endpoints.

Do get the point that the table might have to be a little less wide.

Maybe this does the trick aswell:

![magical-preview-46](https://cloud.githubusercontent.com/assets/2676542/8060900/060a5118-0ec8-11e5-8cce-ec1e7014c252.png)

And use drag and drop to drag a row to another endpoint.

[2015-06-09 14:58] antw commented on #160
Hadn't considered that, but you're right. I suppose a "Move to..." button could be added, but that's not ideal either. It *could* be useful if a user wants to move a certain number of units to another node, but now I'm away in fantasyland. :dancer:

    |  [ Household      | v ]  [ Profile | v ]  ...  (-) (~)  |
    |  [ Electric car   | v ]  [ Profile | v ]  ...  (-) (~)  |
    |  [ Residential P

[2015-06-10 07:38] #49 closed

[2015-06-10 07:39] grdw commented on #49
I think this issue can be closed

[2015-06-10 07:40] grdw commented on #84
As discussed; this is already in the current setup. Though there aren't that many categories to pick from at the moment. If someone could add some categories to the database. :smiley_cat:

[2015-06-10 07:41] grdw opened #163 "Add more categories to load profile categories table"

[2015-06-10 07:42] #84 closed

[2015-06-10 07:54] grdw commented on #123
I think that this can be done, if #157 is merged.

Interactively I'd suggest that we use:

![bla](https://confluence.atlassian.com/download/attachments/152045542/CollapseAllIcon.png?version=1&modificationDate=1213772121583&api=v2)

this button to minimize concurrency.

When maximizing concurrency and the arrows in the opposite direction when minimizing concurrency

A table row - when the concurren

[2015-06-10 08:06] grdw commented on #119
With the dropdowns that are available right now, it becomes a little easier to check which profiles are available for a specific technology. Does that also imply that you don't need to visit the profiles page anymore or? Could you shine your light on this @ChaelKruip

[2015-06-10 08:36] #158 closed

[2015-06-10 08:36] #161 closed

[2015-06-10 08:36] #160 closed

[2015-06-10 08:37] #146 closed

[2015-06-10 08:44] grdw commented on #137
This is decoupled now in the code. However if you change certain technologies on one endpoint and change the concurrency of the overall technologies, the technology on that single endpoint will be distributed over the other endpoints aswell (as to be expected).

Maybe it's an option to lock a certain technology row from being taken into the concurrency calculation.

[2015-06-10 08:50] ChaelKruip commented on #119
The profiles page is still useful to browse, inspect, download and edit profiles. I see no reason to get rid of it. You do suggest to get rid of it right @grdw ?

[2015-06-10 08:57] grdw commented on #119
No, just validating whether or not this issue is still 'open' :smile:
But considering that it still might be an issue, the most easy solution would be to open all urls in another tab in order to keep the table 'maintained'.

[2015-06-10 09:32] ChaelKruip commented on #137
As discussed with @grdw: The relation between node/end-point and technology should not change due to any operation except explicit re-assignment by the user.

[2015-06-10 09:33] ChaelKruip commented on #123
As discussed with @grdw: It makes more sense to choose max/min concurrency per technology rather than for every row.

[2015-06-10 13:29] grdw commented on #123
Not really sure about the position. should it be up or below the radio buttons, what do you think @ChaelKruip ?

![screen shot 2015-06-10 at 3 28 01 pm](https://cloud.githubusercontent.com/assets/2676542/8083500/563f67aa-0f85-11e5-9872-a274d8e68edc.png)

[2015-06-10 14:40] ChaelKruip commented on #123
I don't really have a strong opinion about it.

[2015-06-11 07:44] grdw opened #164 "Tested the 'enable storage' functionality on my development env. and something broke."
When using a testing ground with the default topology and the following profile:

[code]

The enable storage functionality gave a lot of `NaN`'s in the load-data. Either there's a profile that doesn't exist or something else broke.

[2015-06-11 08:01] #164 closed

[2015-06-11 08:06] #137 closed

[2015-06-11 08:22] grdw commented on #137
Fixed with:
https://github.com/quintel/etmoses/commit/f8aedfc23c0457d45bde989032adb9e6d2fb0beb

[2015-06-11 09:40] jorisberkhout opened #165 "Columns are wrongly displayed in 'Technologies' table"
I created a new LES (#99) and viewed the technologies connected to one of the endpoints. The entries in the 'Technology' table do not match with the headers (see below).

![screen shot 2015-06-11 at 11 32 44](https://cloud.githubusercontent.com/assets/4669028/8104080/28573724-102e-11e5-9441-be87ec9623b1.png)

If I edit the table, the entries and headers do match up.

![screen shot 2015-06-11 at 11

[2015-06-11 13:51] grdw commented on #165
Will be fixed if #166 is merged

[2015-06-11 13:52] grdw commented on #123
Pull request made #166

[2015-06-15 12:39] ChaelKruip opened #168 "Effects of storage no longer shown in load chart"
![etmoses](https://cloud.githubusercontent.com/assets/1303760/8160000/4ac80dce-136c-11e5-81b3-5c6a99c4d80a.png)

[2015-06-15 13:30] grdw commented on #168
It's a JavaScript error. I'll look into it.

[2015-06-15 15:09] #168 closed

[2015-06-16 10:20] #165 closed

[2015-06-16 12:26] grdw commented on #141
@ChaelKruip if you could take a look.

[2015-06-16 12:46] #123 closed

[2015-06-16 15:13] #102 closed

[2015-06-16 15:13] #79 closed

[2015-06-16 15:16] grdw opened #170 "Editable table at LES show page when clicking an end-node"

[2015-06-16 15:18] grdw opened #171 "When changing a technology in 'profile table' set defaults"
For instance:
- capacity
- storage volume
- etc.

[2015-06-17 09:36] grdw commented on #171
I'm currently extracting the defaults from the first similair row in the table (for instance, if I change the technology to electric car - it will try to see if another electric car is already in the table and fills the 'defaults' with these values). This does mean that for some technologies the defaults will be blank (it just clears the table cells).

@ChaelKruip  A question that pops up though:

[2015-06-18 07:10] grdw opened #172 "Fetch scenarios from et-model for select box import page"
Fetch scenarios from et-model (from user)

- Scaled-scenarios only
- Your scenarios aswell

[2015-06-18 07:51] ChaelKruip commented on #171
I think it would be better to use the first profile (of allowed type) in the 'profile database' as the default.

In your current implementation and the example you describe, the user may change the profile of the first EV in the table. If the user than changes another technology to EV, the 'default' profile assigned to it will be the 'changed one'. This is not very deterministic or reproducible IM

[2015-06-18 13:23] grdw opened #173 "Texts needed for tooltips accross etmoses"
All gray information icons contain a tooltip. These now contain 'Lorum-ipsum-esque' texts. These need to be filled.

# Load profiles form

![screen shot 2015-06-18 at 3 15 25 pm](https://cloud.githubusercontent.com/assets/2676542/8232021/e013ba6a-15cc-11e5-8570-d799fbd92f08.png)

------

- [ ] Tooltip: Key
- [ ] Tooltip: Curve
- [ ] Tooltip: Permitted technologies

------

# Topologies form

![scr

[2015-06-18 14:19] ChaelKruip opened #174 "Is there also a discharge strategy for EV to minimise network congestion?"
I think we formulated the 'load management' strategy for buffering technologies (EV, HPs) as follows:

"Buffer (charge battery or fill tank) if the network has 'space' for it."

This prevents congestion due to high demand peaks (as it tends to flatten out the peaks over a larger time-span).

On the other hand, congestion due to demand could also be decreased by **discharging** EV batteries when th

[2015-06-18 15:45] antw commented on #174
No. Congestion currently [affects consumption only](https://github.com/quintel/etmoses/blob/e33506675204dbed287372cb9f8a431c3f144b63/app/models/network/technology_path.rb#L42). For this specific situation this is not really a problem, and a more advanced TechnologyPath class could get us most of the way there; although it would be an ugly hack. The proper solution is described [as part of this Tre

[2015-06-19 07:42] ChaelKruip commented on #174
Thanks for clarifying this @antw :smile:

[2015-06-19 11:54] #162 closed

[2015-06-19 15:04] ChaelKruip opened #175 "Postponing load events in individual base load profiles: peaks of several steps"
I have added a 'decomposition' of the 'anonimous base-load profile 1' into a [flexible part](http://beta.moses.et-model.com/load_profiles/312) and an [inflexible part](http://beta.moses.et-model.com/load_profiles/311).

The inflexible part is just that, inflexible.
The flexible part contain 'peaks' that can be postponed by 3 hours each.

I am still not sure how to treat peaks that last more than 1

[2015-06-21 13:12] ChaelKruip commented on #159
Solution 2 has been implemented. Closing.

[2015-06-21 13:12] #159 closed

[2015-06-21 14:48] ChaelKruip opened #176 "Buffering for space heating heat pumps"
The original idea of modelling heat pumps similar to EVs using an 'availability profile' that describes the fraction of the buffer that should be filled at any time is not straightforwardly implemented for space heating.

The reason is that (unlike hot-water consumption-events and transport-events), the demand for space heating is not peaked in moments but rather a continuous exchange between heat

[2015-06-22 10:10] ChaelKruip commented on #176
Actually, hot water heat-pumps suffer from the same issue.

[2015-06-22 10:35] ChaelKruip commented on #176
After thinking about this a bit more I have come to realise that we probably need **two** profiles to properly describe the behaviour of heat pumps (both types):
* one to describe how full the tank should at least be to have enough for the upcoming events (this will help to realise when charging/buffering/demand is mandatory and when its optional)
* a second one to describe the heat that is actual

[2015-06-22 11:21] ChaelKruip opened #177 "Aggregated base-load profile should also have a flexible part"
The EDSN profiles (see database) typically represent more than 100 houses. Therefore they are not representative for single households.

To represent larger groups of houses, however, we want to keep them in the model. Because they don't have identifiable peaks, it is not possible to split them into a flexible and an inflexible part based on 'peaks' similar to individual base-load profiles. The id

[2015-06-22 11:24] ChaelKruip opened #178 "Treat EDSN profiles differently from individual profiles when assigning them to households"
EDSN profiles represent groups of households larger than typically 100. It would be nice if they are selected only for connections with > 100 households.

We have to think what would happen if the concurrency is minimised for such a group...

[2015-06-22 15:22] ChaelKruip opened #180 "Profile classes and sub-classes are not ordered correctly in drop-down menu"
![screen shot 2015-06-22 at 17 19 18](https://cloud.githubusercontent.com/assets/1303760/8285383/467bd6e6-1903-11e5-8bf9-c05ec39a81c9.png)

[2015-06-22 16:12] ChaelKruip opened #181 "It should be possible to make a topology or profile private"
Now the interface does not seem to support it.

[2015-06-22 16:18] ChaelKruip opened #182 "Hide topologies without a name"
![etmoses](https://cloud.githubusercontent.com/assets/1303760/8286651/181c85b8-190b-11e5-8cf5-db77c3687c33.png)

[2015-06-22 16:25] ChaelKruip opened #183 "Technologies without profiles need to be removed from concurrency table"
![etmoses](https://cloud.githubusercontent.com/assets/1303760/8286813/1761b3c2-190c-11e5-91ec-3d9be885e216.png)

[2015-06-23 08:23] grdw commented on #171
That's already happening. It has more to do with the defaults for capacity , storage and demand

[2015-06-23 12:01] #149 closed

[2015-06-23 13:41] grdw commented on #182
Fixed with https://github.com/quintel/etmoses/commit/80ad78347d1d2a18ff4555356f36f6644bb390ec

[2015-06-23 13:41] #182 closed

[2015-06-23 14:36] grdw commented on #173
@ChaelKruip  in the code you can look for `'CHAEL TEXT HERE' ` on the `documentation` branch

[2015-06-23 14:43] ChaelKruip commented on #173
:+1:

[2015-06-23 15:07] grdw commented on #183
I removed those specific technologies from that list. Should they also be removed from the `name` selection?

[2015-06-24 07:38] #141 closed

[2015-06-25 07:31] #183 closed

[2015-06-25 07:48] grdw commented on #181
You can already make a topology private / public:
![screen shot 2015-06-25 at 9 47 40 am](https://cloud.githubusercontent.com/assets/2676542/8349696/3e8fca8c-1b1f-11e5-8ffe-ddb2ef8f39a8.png)

I don't think you can make load profiles private / public.

[2015-06-25 08:44] grdw opened #187 "Massive interaction improvement when it comes to the current load graph"
![screen shot 2015-06-25 at 10 41 00 am](https://cloud.githubusercontent.com/assets/2676542/8350527/c670a848-1b26-11e5-8236-4aa462ca3407.png)

Just throwing in a wild idea here. Is it possible to just always show the user the coloured dots (under the 'View default topology' button). And whenever he clicks on the green one - a tiny loader will appear and the loadGraph will add the green line for st

[2015-06-25 10:16] ChaelKruip commented on #187
After discussing this @grdw and I decided that this idea is going to confuse the user because different strategies will show up as the same (green) effective load curve. So, there is no one-on-one relation between the suggested buttons and the curves in the chart. Closing.

[2015-06-25 10:16] #187 closed

[2015-06-25 12:41] grdw opened #188 "Market model table + setup"

[2015-06-25 16:20] antw commented on #174
So... it turns out that the answer to this is: "sort of, yes". EVs don't have any *explicitly coded* behaviour to minimise congestion by discharging, but they do act in a way which has the same effect. Provided that the EV and consumer both exist beneath a shared capacity constraint, the EV will discharge, reducing the likelihood of an exceedance.

Here's our example network:

![screen shot 2015-0

[2015-06-26 15:24] #171 closed

[2015-06-29 09:03] #181 closed

[2015-06-29 09:03] grdw commented on #181
It's now also possible to make load profiles public/private. http://beta.moses.et-model.com/load_profiles/new

[2015-06-29 09:51] grdw commented on #178
I think we should handle it as a 'separate technology'. Household larger than 100 and Household's smaller than 100. It would than automatically select the correct 'technology' according to the total amount of `units`.

[2015-06-29 13:04] #180 closed

[2015-06-29 13:04] grdw commented on #180
Solved with https://github.com/quintel/etmoses/pull/186

[2015-06-29 14:07] #154 closed

[2015-06-29 14:07] #148 closed

[2015-06-30 07:26] ChaelKruip opened #189 "Users should be able to specify how much of solar PV production can be capped"
Perhaps we can add this to the table?

- Insert slider from 0-100% - for capping.

[2015-06-30 12:49] ChaelKruip commented on #178
As long as that is the case you can make it two different technologies indeed. Not highest priority now.

[2015-07-01 09:34] ChaelKruip opened #191 "kW_max, kW_contracted, kW_connection have to be accounted for"
This ticket is to specify what the Trello card with the same title means.

* kW_max: the maximum capacity (load) that has been realised on an end-point of the network in a given time-period (typically a month). To make this assessment, the maximum load on end-points needs to be stored for the LES for each month.

* kW_contracted: this is relevant for large consumers (industry) and relates to a pay

[2015-07-01 10:01] antw commented on #191
Thanks for the explanation, @ChaelKruip. This also answers some of the questions I was going to ask about payment rules. :smiley:

Do we know what a "payment scale" is and how it might behave? For example, is the user going to be expected to enter values, does it come from a profile, or is it some hard-coded or computed scale? I'm imagining something like this, so correct me if I'm wrong!

| kW co

[2015-07-01 11:48] ChaelKruip commented on #191
I think that it can be hard-coded at first. I also expect it to behave as you describe :smile:

I am all for an approach like that. Let's see if it is feasible!

[2015-07-01 13:10] antw opened #193 "Discussion: Computing market models"
@ChaelKruip @dennisschoenmakers Here is my understanding of market models, and how I expect them to behave with an LES. Please correct anything I have wrong, or add any other thoughts of your own. :grin:

#### Basics

* Market models assign nodes from an LES into groups (a `stakeholder`).
* Endpoints in the LES are likely to be assigned to a “Consumer” and/or “Aggregator” stakeholder.
* Nodes high

[2015-07-01 13:53] ChaelKruip commented on #193
Not really. A node will not necessarily overlap with any stakeholder or vice versa. More concretely:

* Customers: are represented by end-nodes of the topology (or groups thereof, see Cooperations). One LES can have many.
* Cooperations: One per LES for now. End-points or even individual technologies (the latter is point of discussion and will be clarified next Tuesday) can be made part of the Coo

[2015-07-01 13:54] ChaelKruip commented on #193
Yes. Where the Aggregator is the stakeholder that groups customers into a cooperation (which is another customer).

[2015-07-01 13:55] ChaelKruip commented on #193
No. (see long answer for details).

[2015-07-01 14:01] ChaelKruip commented on #193
Yes. Every line in the relation table corresponds to a financial transfer.

Not quite. The tariff **describes** the price for a quantity (specified by the 'measure') and measured in the LES. So, when you measure 2kWh consumed in a time step, the measure is set to 'kWh' and the tariff is '1EUR/kWh' the financial interaction will yield 2EUR.

The tariff does not have to be a fixed number but also mi

[2015-07-01 14:03] ChaelKruip commented on #193
@grdw and I decided to go with 'foundation' for now as we felt the same about 'base'. 'Quantity' is also fine by me.

[2015-07-01 14:04] ChaelKruip commented on #193
No. The supplier is more like an abstract entity that provides all electricity needed by the LES. It acts through the HV network for the moment.

[2015-07-01 14:08] ChaelKruip commented on #193
True! I think that we need to have pricing on each time-step. In the current Market model (real life) most financial interactions are based on year-totals but this is likely going to change. Noteworthy exceptions are the kW_contracted and kW_max which are even now under constant 'measurement'.

[2015-07-01 14:16] antw commented on #193
We're off to a good start. :anguished:

Given a stakeholder with no mapping to the LES, how does a price rule work? So far, all the foundations described are concrete concepts within an LES – kWh, max kW, etc. How would we determine the price of an interaction in this situation?

[2015-07-01 14:30] dennisschoenmakers commented on #193
https://www.youtube.com/watch?v=umDr0mPuyQc :grinning:

[2015-07-01 15:25] ChaelKruip commented on #193
Price rules are generally linked to concrete concepts within the LES fortunately. Most are related to what the customers use, produce or 'deploy' (flexibility), the kind of capacity their connection has etc.

To give a (hopefully reassuring) example of an interaction between stakeholders that do not directly reflect nodes in the LES:
The Government (added it to the stakeholders list above as well)

[2015-07-01 20:09] antw commented on #193
This makes sense as the *thing* being measured exists in the LES. But what if I create a payment rule between a producer and a supplier/retailer:

`Producer`  →  `Retailer`  →  `Customer`

If neither exist as an entity in our network, what are we measuring between the producer and retailer?

Why not...

`Producer` ↘
`Retailer`  →  `Customer`

I'm not suggesting we'd actually do that, but the retai

[2015-07-01 23:22] antw commented on #193
I'm guessing the answer to this is...

* The consumer may have a load equivalent to 10 kWh.
* `Retailer` → `Customer` has a price rule consisting of `kWh` and `€1/kWh`, therefore the price of that relation is €10.
* `Producer` → `Retailer` has a similar price rule, but with a tariff of `€0.80/kWh`, therefore its relation is priced at €8.

We can therefore infer that the retailer is making €2 profi

[2015-07-02 07:31] ChaelKruip opened #194 "Load management should be 'off' by default and the new profiles should be used"
This has to happen before Monday 7-6-2015 :worried:

* The first thing is to have load management 'off' by default. It would be nice if it could be toggled but that is a nice-to-have.

* Secondly, the new profiles should be used if possible. For base-load, they consist of a flexible and an inflexible part. Both parts should be **added** when load management is 'off'. The rest likely works out of t

[2015-07-02 07:35] ChaelKruip opened #195 ""base_load_buildings" should be a new 'technology'"
Like the 'base_load' technology, we would like to be able to automatically assign specific base-load profiles to buildings. These are not the same as the household base-loads though...

Perhaps we could also rename 'base_load' into 'base_load_households'.

[2015-07-02 07:37] ChaelKruip opened #196 "If the user adds a 'permitted technology' that doesn't exist, there should be a warning"
Change current 'free' input to select boxes.

[2015-07-02 07:47] ChaelKruip commented on #193
Excellent question! We have been suggesting to group the producer and supplier into one stakeholder. The client has been pushing for separate ones. I think that in this case the measurable quantity is the total amount of electricity (kWh) produced by the producer and bought by the supplier. This is again related to the consumed amount of electricity of the customers.

[2015-07-02 07:52] grdw commented on #194
How can I tell if it's turned on right now?

[2015-07-02 07:56] ChaelKruip commented on #194
I don't know. @antw told me it was on :smile:

[2015-07-02 08:21] antw commented on #194
[On this line](https://github.com/quintel/etmoses/blob/c054d55c75f9e7af38bbe013b821d1a5cc716e5e/app/controllers/testing_grounds_controller.rb#L67), "flexibility" is set to true. To turn it off, set it to false.

Yep! The inflexible part will need to be a new `Technology` added to the database; set its `behavior` attribute to "optional" to get the expected result.

[2015-07-02 08:31] antw commented on #193
Thanks! That being the case, I don't think this is too hard. :+1:

[2015-07-02 13:23] ChaelKruip commented on #193
You are right. Only the electricity that is transported through the HV net node is produced by the 'Producer'.

[2015-07-02 15:13] ChaelKruip opened #197 "Interaction table: measurables"
Some discussion points in https://github.com/quintel/etmoses/issues/193 have led to new ideas on the 'interaction table' and its links to the LES.

In short: I think the interaction table could use an extra column for 'measured stuff'.
The table will then look like this:

| From | To | Foundation | Measure | Tariff |
|-----|-----|-----|------|-----|
|Customer (not in co-operation) |Supplier| kWh|

[2015-07-02 16:48] antw commented on #197
These examples appear to combine foundation and measure. If they were to be separate concepts, I'd think of combinations like this:

| Foundation | Measure |
| ---------- | ------- |
| kW of connection | per HH |
| kW of connection | endpoint(s) / stakeholder total |
| kWh consumed | per HH |
| kWh consumed | endpoint(s) / stakeholder total |
| kWh produced | per HH |
| kWh produced | endpoint(s)

[2015-07-03 07:36] ChaelKruip commented on #197
I like that!

Yes!

I agree.

[2015-07-03 08:41] ChaelKruip opened #198 "Profile uploading interface should allow for uploading of multiple curves (for flexible profiles)"
Profiles for technologies that have load-management options often have two components. When uploading profiles for such technologies, the user should be invited to upload the correct number of curves.

When the user selects a technology, the number of upload widows (and their titles) should dynamically be adjusted.

The properties of curves are as follows:

|Technology|number of curves|Curve 1| Cu

[2015-07-03 09:18] ChaelKruip opened #199 "Different results for identical branches of topology"
I made [this LES}(http://beta.moses.et-model.com/testing_grounds/123) with three clusters of base_load, solar PV and EV. Each cluster has identical number of these technologies and the same profiles. The load charts look very different, however. I am very confused :worried:

Cluster 2:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/8496357/d9765f56-2174-11e5-987c-a4928e765592.png)

[2015-07-03 12:53] ChaelKruip opened #200 "Concurrency settings should be 'persistent' in interface"
If you edit an existing LES, the concurrency settings are always set as the default (although that might not reflect the actual allocation of the profiles).

[2015-07-03 12:57] ChaelKruip opened #201 "Toggle for concurrency options should toggle between 'all min' and 'all max'"
Now it really toggles everything the user specified before... This can be quite annoying because the user has to manually reset the buttons.

Also (as suggested by @dennisschoenmakers): switches might be more intuitive than the current 'horizontal radio buttons'.
![energietransitiemodel_-_je_eigen_onafhankelijke__volledige_en_op_feiten_gebaseerde_energiescenario_](https://cloud.githubusercontent.c

[2015-07-03 13:24] ChaelKruip opened #202 "How can high concurrency for EV have a positive effect on load reduction with storage"
I am trying to wrap my head around the following effect (at least qualitatively): If, in [this LES](http://beta.moses.et-model.com/testing_grounds/129), I give all EV the same profile and apply storage, the reduction is a LOT (even in January):
![etmoses](https://cloud.githubusercontent.com/assets/1303760/8499895/8dc14fa8-2197-11e5-89ce-76b1f0a939f0.png)

But when I use as many profiles (spreading

[2015-07-03 14:14] jorisberkhout commented on #202
This has to do with the differences in distance travelled for each profile. Driver 1 travel only 4.3 km (total from and to work). See an overview of the distances travelled for each driver in the tabel below:

<img width="211" alt="screen shot 2015-07-03 at 16 12 22" src="https://cloud.githubusercontent.com/assets/4669028/8500669/9043fda0-219e-11e5-8998-64bf8daedd3f.png">

[2015-07-03 14:40] ChaelKruip commented on #202
@jorisberkhout thanks for your input. Unfortunately, it seems to be a more technical issue. If you look at the first week of January for one profile you can see huge reductions in load:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/8500973/90e4ca0c-21a1-11e5-9046-530776e579ec.png)
For a number of profiles that reduction is gone:
![etmoses](https://cloud.githubusercontent.com/assets

[2015-07-03 15:01] ChaelKruip commented on #202
After @antw's fix of https://github.com/quintel/etmoses/commit/969cf3b2b6fc1d4e87c45b99032068855ee25332, the results are less weird but still there is the following issue:

For a single profile there are moments that the EVs are all loading to buffer the excess PV production (which is expected):
![etmoses](https://cloud.githubusercontent.com/assets/1303760/8501280/58900182-21a4-11e5-98b0-2a8f4a744

[2015-07-03 16:03] antw commented on #202
I think the problem in your example is that you're comparing a testing ground which has an EV technology which uses `profile_1` and `units=15` to a testing ground which uses a wide range of different profiles and `units=1`.

I created two new LES' based on yours: one which uses one EV `profile_1` and `units=15` technology **[here](http://beta.moses.et-model.com/testing_grounds/131)**, and another

[2015-07-03 18:33] ChaelKruip commented on #202
@antw thanks for looking into this. I think your assessment makes sense. I'll do some more quantitative checks later.

[2015-07-05 14:59] ChaelKruip commented on #202
I think this issue is fixed!

[2015-07-05 14:59] #202 closed

[2015-07-05 15:03] ChaelKruip opened #203 ""Save as" option for LES would be great"
Now I end up editing and destroying my LES to try stuff out.

[2015-07-05 15:27] ChaelKruip opened #204 "Download curve button is not working"

[2015-07-06 08:08] #194 closed

[2015-07-06 08:09] #195 closed

[2015-07-06 08:27] #204 closed

[2015-07-06 08:43] ChaelKruip commented on #131
After discussing this with @jorisberkhout I removed the 'minor issue' tag. If this is not too difficult/time-intensive it would be nice if this can be done soonish.

[2015-07-06 09:20] grdw commented on #203
I fixed this accordingly:

![screen shot 2015-07-06 at 11 19 43 am](https://cloud.githubusercontent.com/assets/2676542/8519165/ee84d7a2-23d0-11e5-8920-63ce1a3a6ec3.png)

It literally duplicates the current testing ground.

[2015-07-06 12:09] grdw commented on #200
Will deploy tomorrow.

[2015-07-06 12:59] grdw commented on #196
Will deploy tomorrow.

[2015-07-06 15:13] grdw commented on #178
I'm well on my way with this issue. Though we still need to think about the concurrency.

[2015-07-07 05:57] ChaelKruip commented on #178
If after minimising concurrency the groups become smaller then the 'threshold' for aggregation, the individual profiles should be used IMO.

Also, I think that the threshold should be lower than 100. Perhaps we can even make this user-defined?

[2015-07-07 05:58] ChaelKruip commented on #178
If after minimising concurrency the groups become smaller then the 'threshold' for aggregation, the individual profiles should be used IMO.

Also, I think that the threshold should be lower than 100. Perhaps we can even make this user-defined?

[2015-07-08 07:35] #85 closed

[2015-07-08 07:35] #119 closed

[2015-07-08 07:35] #196 closed

[2015-07-08 07:35] #200 closed

[2015-07-08 07:35] #203 closed

[2015-07-08 09:31] ChaelKruip opened #205 "Stakeholders should become part of the technology table"
An extra column with a select box need to include:

* Customer
* Aggregator
* System operator
* Supplier
* Producer

[2015-07-08 09:53] ChaelKruip opened #207 "Only end-points can be part of cooperation (Aggregator)"
If we are measuring **used** flexibility as the difference between the green and blue load curves that means that we cannot define flexibility per technology. We only know the load curves at the end-point level. This means in turn that we must make sure that all rows in the technology matrix are consistently assigned to a stakeholder.

[2015-07-08 09:54] grdw commented on #178
In merge #206

[2015-07-08 09:54] ChaelKruip opened #208 "How to measure flexibility?"
One of the 'measurables' in the LES which will be used in financial transactions is the amount of used flexibility and the potential for flexibility. We have defined these with the client:

* Used flexibility: the difference between the blue and the green curves in the load chart (at the level of the end-points). For a co-operation this is the sum of the end-points that are part of the 'Aggregator

[2015-07-08 09:57] #188 closed

[2015-07-08 11:30] ChaelKruip commented on #208
There is an extra refinement of the 'measuring of flex':

* The System Operator is only interested in flexibility in parts of the network where there is actually congestion expected when no flex is used (the blue curve is higher than the capacity of a network component at any point in time). This is because the S.O. is interested in preventing congestion.

There are two suggestions for the S.O. pa

[2015-07-08 12:15] ChaelKruip opened #209 "Capacity of end-points is attribute of topology"
One of the 'measurables' is how many connections there are from each type:

* 3x25 Ampere (17.25 kW) for normal houses
* 3x35 Ampere (24.15 kW) for larger homes and small offices
* larger connections that typically use a kW_max (pay for the maximum load that occurs in each month)
* larger connections that use a kW_contracted (pay a fee for the 'class' they are in, based on the yearly max they can

[2015-07-08 12:18] ChaelKruip opened #210 "Capacity of trafo's (and other components) needs to be shown in the load chart on the negative axis as well"
Also local production can lead to congestion.

[2015-07-08 12:24] ChaelKruip commented on #205
This will also allow the user to assign an asset (a P2P or P2G installation, or a solar PV park) to a stakeholder. That stakeholder must then pay investment costs (spread of the lifetime of the asset).

The assets in the network that are **not** connected to an end-point (e.g., transformers) are property of the System Operator (so he needs to pay investments).

[2015-07-08 12:27] antw commented on #208
I believe that's easy enough.

If I'm reading this correctly, you're suggesting that the customer is paid for the difference between the blue and green curves (but only in cases where the blue curve exceeds capacity)?

[2015-07-08 12:30] ChaelKruip opened #211 "What happens if a trafo is congested?"
If a component (usually a trafo) in the network is congested (the load exceeds the capacity), the trafo needs to:

* block all electricity exchange in the branches under it for 3 hours (12 time steps of 15 minutes)
* trigger a payment event where all Customers in the affected region (under the trafo) get a fraction of the costs of enlarging the transformer. So if it would cost 100 EUR to increase

[2015-07-08 12:43] ChaelKruip opened #212 "Flexibility strategies should become available on a technology level"
The idea is to have check-boxes for the following 'strategies':

- [x] Storage in EV prioritising local PV production
- [ ] Storage in batteries prioritising local PV production
- [ ] Conversion of local PV excess using P2H
- [ ] Conversion of local PV excess using P2G
- [ ] Buffering of local PV excess in EV
- [ ] Buffering of local PV excess in space heating HP
- [ ] Buffering of local PV excess

[2015-07-08 12:45] ChaelKruip commented on #208
Yes :smile: But I'll confirm this with our client later this week.

[2015-07-08 12:57] antw commented on #205
FYI, the market model calculation currently operates at the *node level* (endpoints), not the technology level. I'm still thinking through the implications; just wanted to make it clear that this behaviour is not explicitly supported *at present*.

[2015-07-08 13:11] ChaelKruip commented on #205
Yes, that is what we need I think. First of all because we can only 'measure' most stuff (flexibility, capacity of the connection) on the node level. On the other hand, it makes sense to couple stakeholders to end-points (and assets in those end-points) through the technology table.
I am still thinking about an elegant way to ensure that once and end-point is part of a stakeholder, all its rows in

[2015-07-08 13:13] antw commented on #208
... which is problematic because:

1. The green curve may include storage. The implication is that we'd have to compute the LES with flexibility on and storage off in order to determine the effects of flex without being affected by storage (otherwise you don't know which of the two is responsible for a change in load).

2. It means we need to calculate the network at least twice (flex off and flex

[2015-07-08 13:31] ChaelKruip commented on #208
This is not a problem! Flexibility includes storage as well as load management options. Sorry for sloppy use of the words. Perhaps we should no longer distinguish between 'storage' and 'load management' so much: it's both 'flexibility'.

We already do that right? Or is there a very smart way to get the 'blue curve' (no flex options) without actually calculating the load?

[2015-07-08 13:59] antw commented on #208
We do, but only when the user *wants* both, and the results of the calculation are not cached or stored on the server for future use (for example, by the market model). It works like this:

1. User loads LES page.
2. Browser requests the "blue-curve" network.
3. Server calculates "blue-curve" network and sends back the results.
4. Browser shows the network diagram and charts.
5. User enables a sto

[2015-07-08 14:01] ChaelKruip opened #213 "A financial summary should be given of all stakeholders"
The market model is defined by transactions of stakeholders to other stakeholders, based on measurables in the LES and a tariff per measured quantity. This result in yearly transactions in EUR. The idea is to summarise the result of these transactions as a 'balancing sheet' like this:

|From\To|Customer|Aggregator|System Operator|Supplier|Producer|Government|Total incoming|
|---|---|---|---|---|--

[2015-07-08 14:15] ChaelKruip opened #214 "Sources for data used in ETMoses should be documented on webpage"
People are asking for links and explanations. Talk to me to make a plan for a format etc.

[2015-07-08 14:37] antw commented on #212
Is there a reason behind saying "local **PV** production" specifically, rather than just calling it "local production"? I suspect, as the only production technology so far implemented, it is being used as a synonym for "production".

Capping of solar PV doesn't support a user-defined maximum at this stage: it simply tries not to overproduce when there isn't demand for all the energy. What values w

[2015-07-09 08:03] grdw commented on #198
I managed to change the underlying dat structure for this issue .

Things that are still out in the open

- [] Migrate current flex/inflex profiles correctly to `profile_curves`-table
- [] After deploy: rename `load_profiles` folder in shared/public to `profile_curves`

[2015-07-09 08:27] ChaelKruip commented on #212
It is important to distinguish between volatile and dispatchable here. If we also introduce (volatile) wind turbines in the LES, the rules can be the same. For dispatchable producers, the strategies will be completely different as they follow demand (rather than solar irradiation or windiness).

Between 0% and 100% of the installed capacity. If set to 0%, there is no room for capping. If set to 10

[2015-07-09 11:59] #201 closed

[2015-07-09 12:09] #178 closed

[2015-07-09 14:12] ChaelKruip opened #216 "When editing profiles, the 'defaults' that are shown are not the original/correct ones"
This is what I get when editing a heat-pump profile for instance:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/8597362/3e06a54a-2655-11e5-87fe-302cf5b07379.png)

[2015-07-09 14:18] ChaelKruip opened #217 "Validation needed for space heating heat pump profiles"
The availability looks like this:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/8597490/f91c27a6-2655-11e5-9942-1b37ebefe0ac.png)
I would expect the 'staircases' to be inverted for such profiles. Perhaps I am overlooking something in my scripts...

[2015-07-10 12:14] grdw opened #218 "Clean up load profiles in public/system folder"

[2015-07-13 08:25] ChaelKruip opened #219 "Which "Measures" for market models do we need"
This is an attempt to gather all info about the 'measures' we will need to realise in order to calculate the relevant business cases for our market models. We may decide not to include some of the measures described below, or perhaps we later think of others later so this list is not definite.

I think of a 'measure' as the quantification of some property in the LES that can serve as the basis for

[2015-07-13 09:18] ChaelKruip commented on #208
Confirmed.

[2015-07-13 11:06] ChaelKruip opened #220 "Cooperation and Aggregator should be separate stakeholders"
My understanding is that the co-operation is 'just' a group of end-users.

The aggregator facilitates the co-operation (and later perhaps multiple co-operations) by:

* selling the flexibility of the co-operation to the SO or Supplier
* providing the co-operation with reduced tariffs for connections or energy
* taking responsibility for mismatch between actual and 'planned' load. This basically is

[2015-07-13 11:21] ChaelKruip opened #221 "Can children of a transformer exchange more load than the transformers capacity?"
The following situation needs to be considered when the 'subnet-awareness' approach is realised:

* A transformer has multiple children which can exchange energy
* The load flowing from one child to the other is higher than the capacity of the transformer to which they are connected

![example_trafo_pptx](https://cloud.githubusercontent.com/assets/1303760/8648452/0881db6a-2961-11e5-955d-7902676130

[2015-07-13 13:36] ChaelKruip opened #222 "Questions about load management"
These questions have come up during discussions between @grdw and myself. They will help us to test and improve the current implementation of load management strategies:

* Is there a fixed charging/discharging capacity for P2P (similar to EV)? Or does it use a maximum capacity only?

Which would be the appropriate behaviour @jorisberkhout?

* Are 'PreemptiveConsumers' always heat pumps? EV can al

[2015-07-13 14:37] antw commented on #222
They may charge, or discharge, any amount up to (but not exceeding) the user-defined capacity for the battery.

Electric vehicles may take excess production from the LES just like a `PreemptiveConsumer`. If load management is turned on, it will also respect the capacity limits of the network. The load stored in the EV may be discharged (like a P2P battery), or used by the EV when disconnected.

Ho

[2015-07-13 15:25] ChaelKruip commented on #222
I think we have an (understandable) nomenclature mixup here:
* capacity is a **rate** [kW] at which the battery can charge or discharge.
* volume is the amount of energy [kWh] that fits in the battery.

I asked about the first (the rate) but I think you answered about the second (volume) :smile:.
So I wanted to know if the capacity (rate) is fixed or variable...

:worried: I think we have a misund

[2015-07-13 16:27] antw commented on #222
I don't think there's a mix-up: the amount by which a P2P battery may charge, or discharge, in each time-step is between zero and the **capacity** (not volume) of the technology.

[#118](https://github.com/quintel/etmoses/issues/118#issue-76374952) and [#66](https://github.com/quintel/etmoses/issues/66) both describe the spare EV volume being used to store *excess* energy. EV will always pull from

[2015-07-13 20:52] ChaelKruip commented on #219
@antw could you please give an estimate of time required (in days) for each of the above measures? This will help @dennisschoenmakers and myself to create a workable project-backlog tomorrow afternoon (after lunch 13:00). Thanks!

[2015-07-13 21:05] ChaelKruip commented on #213
We could include a dropdown menu to select other (saved) LES's to compare to and possibly a second selection box to choose the format for comparison (%, absolute numbers, bother numbers etc.)

[2015-07-13 23:02] antw commented on #219
@ChaelKruip A lot of these seem like a combination of "foundation" and "measure" ([previously mentioned here](https://github.com/quintel/etmoses/issues/197#issuecomment-118090454)). The descriptions suggest to me that you've decided you'd like the two concepts combined; is that a fair assessment?

--

With the usual caveat that these are *guesstimates*, based on the information I have so far.

###

[2015-07-14 06:17] ChaelKruip commented on #219
Yes. I think it makes more sense to combine them and use the 'stakeholder to which the measure is applied' as a separate thing.

[2015-07-14 06:17] ChaelKruip commented on #219
Thanks for the estimates! I'll respond to your questions later today :smile:

[2015-07-14 12:46] antw commented on #219
Fair enough. This is easier for me also, so it's win-win. :smiley:

Do `base_load_buildings` technologies also count as a discrete connections, like a household `base_load`?

[2015-07-14 14:10] antw commented on #219
I realise in hindsight that this doesn't appear to be seeking integration with the merit order, but is just the production of the top-level node?

If so, this is no additional work over the "kWh produced" measure. The same "kWh produced" measure can be used with endpoints (to determine LES production) and the top-level node (to determine the producers production).

[2015-07-14 14:19] ChaelKruip commented on #219
Yes. But we will have to couple the MO to ETMoses to get a price curve and to calculate CO2-emissions and renewability for the LES (possibly next sprint, possibly later on).

[2015-07-15 08:18] ChaelKruip opened #223 "We must ensure that all profiles are from the same year"
There could be dependencies on week and weekend etc.

The following profiles are 2013:

- [x] Hot water (DHW)
- [x] EV
- [x] EDSN
- [x] individual load profiles
- [x] heat pumps (space heating)

For solar PV it does not make a difference

[2015-07-15 11:49] grdw commented on #216
This was more of a database issue. The `technology`-keys in the couple-table were bad for Heat pumps. I've fixed it by manually changing the 4 rows in the database.

[2015-07-15 11:49] #216 closed

[2015-07-15 11:51] grdw commented on #210
Will be solved together with #189

[2015-07-15 11:59] ChaelKruip opened #224 "Solar capping: expected behaviour"
# Complex (most beautiful) version

The slider for the capping of solar panels is a percentage between 0 and 100. This percentage gives the 'maximum percentage of the installed capacity that may be capped' if there is a congestion-problem. The installed capacity is defined for an end-point as:
[code]
and each end-point should be treated separately.

When deciding if there is congestion, we need to

[2015-07-15 12:55] antw commented on #224
The "Simpler version" should be easy to implement, although there is a caveat (described below). [ConservingProducer#conditional_consumption_at](https://github.com/quintel/etmoses/blob/0d8f10aca22d8a882af27c3d69e87517b83efbf2/app/models/network/conserving_producer.rb#L15-L17) needs to be changed to reflect the capping percentage:

[code]

(@grdw: Note that we can't do `[production, capping].min` a

[2015-07-15 13:14] ChaelKruip commented on #224
@antw thanks for your comments and pointers.

@antw Do we already have a method to trace back a congestion event to the 'responsible' children?

Let's do this and refine later if the calculator allows it.

If we already have a method to find the children of a congested transformer, we could make the simplest version a bit less 'stupid / oversimplified' by only capping the production of  children t

[2015-07-15 13:16] ChaelKruip commented on #224
I guess that same question is relevant for most of the other load management options as well right?

We only want to resort to 'saving' (of aggregated base-load) if there is a problem for example...

[2015-07-15 13:39] grdw commented on #224
This is already done.

[code]

All this is where the confusion starts. `capacity` is the maximum value of a certrain profile? Or is this the `capacity` of a node (confusing term). And why would I take the fraction of the capacity.

[2015-07-15 14:01] antw commented on #224
This is already true for all the "flexibility" technologies (in fact, for any Technology subclass where `capacity_constrained?` returns `true`, which is currently the case for flexibility technologies, and EV when load management is enabled).

You should not need to do this for solutions 2 or 3; changing `conditional_consumption_at` or `production_at` will suffice. [TechnologyPath](https://github.

[2015-07-16 07:34] grdw opened #226 "Including stakeholders into topology"
- [x] Adding validation for stakeholders in Topology model
- [x] Showing stakeholders sub-menu section
- [x] When clicking a stakeholder - show which topology-nodes include this stakeholder.

[2015-07-16 07:54] ChaelKruip opened #227 "Error when changing name of financial profiles"
![etmoses](https://cloud.githubusercontent.com/assets/1303760/8717996/93179468-2ba0-11e5-93c8-4431f5ee3ad5.png)

clicking 'update' results in:
![the_page_you_were_looking_for_doesn_t_exist__404_](https://cloud.githubusercontent.com/assets/1303760/8717986/85d5f330-2ba0-11e5-99f2-b6512174fdc5.png)

[2015-07-16 08:01] grdw commented on #226
@ChaelKruip with this feature. Can the 'include in cooperation' row in the technologies table be removed?

[2015-07-16 08:03] ChaelKruip commented on #226
Yes :smile:

[2015-07-16 09:08] ChaelKruip opened #228 "To what extend is saving and postponing currently supported?"
@grdw is working on allowing the user to activate flexibility options per technology. One of the questions that came up is 'how are the flexible and inflexible part of the base-load profiles currently used?'.

To clarify, the expected behaviour for aggregated base-load (EDSN) profiles is as follows:

If the 'saving' strategy is selected in the front-end, the inflexible part of the base-load profil

[2015-07-16 09:12] ChaelKruip opened #229 "Limit for assigning aggregated base-load profiles"
The number of households for which the aggregated profiles should be used should be 30.

For buildings, the edsn are the only profile we have so we need to use those always.

[2015-07-16 10:56] antw commented on #228
The Network module supports the described technology behaviours, but still needs to be told to use them.

You're correct that postponing has [a hard-coded limit of 12 frames/steps](https://github.com/quintel/etmoses/blob/e2a1c1189330c140c9192e8d8471c3e0e91d88a2/app/models/network/deferrable_consumer.rb#L102), which equates to three hours in most LES'. This value could be changed – or even be provi

[2015-07-16 12:55] grdw commented on #224
@antw We're making this feature a bit more advanced.

We try to detect if there's congestion within the network. I know how this is done in the Javascript (with the drawing of the red lines). But we're wondering if there's something similar in the `app/models/network` classes to detect if there's congestion.

**Thinking out loud:**
I see this method though

[code]
And the `TechnologyPath` classes

[2015-07-16 13:12] antw commented on #224
That's right. If `congested_at?` returns true, it means that a node in the path has reached (or exceeded) its capacity. The technology itself knows next-to-nothing about the network or its capacity. It asks for a certain load (`conditional_consumption_at`) which may or may not be fulfilled.

So the `Technology` says "I want this please..." but the `TechnologyPath` decides how much it can *actually

[2015-07-16 13:16] ChaelKruip commented on #224
Suggesting I am quite removed from it hub @antw? :rage:

[2015-07-16 13:20] ChaelKruip commented on #224
If I interpreet this correctly, wouldn't it then be super easy to loop through all solar PV technologies and only decide to apply capping if the path upwards is congested?

Of course, we must check if the congestion is due to over-production (rather than consumption) otherwise capping will only aggravate the issue.

[2015-07-16 13:22] ChaelKruip opened #231 "Duplicates of stakeholders should be removed from drop down menu"
![screen shot 2015-07-16 at 15 21 03](https://cloud.githubusercontent.com/assets/1303760/8723496/64ac7a02-2bce-11e5-95b4-63dae01d71f4.png)

[2015-07-16 13:39] antw commented on #224
![south-park-s17e08c06-stay-out-of-my-damn-yard-16x9](https://cloud.githubusercontent.com/assets/4383/8723455/a6216a28-2bc5-11e5-81e2-4fa597b7a8ca.jpg)

--

Depends on your definition of super-easy. Stopping the calculation mid-loop to do something else – in this case, cap solar PV – would be ugly, rather than hard. My *feeling* is that the TechnologyPath will already give you this behaviour for f

[2015-07-16 13:55] grdw commented on #224
If I understand correctly:

In this scope of code:

[code]
It's hard to detect if there's a problem in the overall network/topology (full thingy with all the loads).
So that has to be calculated somwhere else? For instance in another `calculation` class? Or does this need to be intertwined with the `TechnologyLoad` calculation?

I'm sort of struggling right now where a logical starting point would

[2015-07-16 14:02] grdw commented on #224
Maybe somwehere intertwined with the `PullConsumption` class?

[2015-07-16 14:24] antw commented on #224
Yes, right at the end of the `context.frames do |frame| ...` loop we could look for paths which have an exceedance and end in a solar PV technology, and then call `path.consume` with however much load the PV may be capped.

[code]

This would need:

* `conservable_production_at` added to the base Technology class, which returns 0.0.
* `conservable_production_at` added to ConservingProducer. It sho

[2015-07-16 14:33] grdw commented on #227
Fixed with: https://github.com/quintel/etmoses/commit/e2a1c1189330c140c9192e8d8471c3e0e91d88a2

[2015-07-16 14:33] #227 closed

[2015-07-16 14:36] #207 closed

[2015-07-16 14:38] grdw commented on #205
We decided to put this in topology. Closing.

[2015-07-16 14:38] #205 closed

[2015-07-16 14:43] #170 closed

[2015-07-16 14:43] #198 closed

[2015-07-16 15:55] #226 closed

[2015-07-16 16:05] antw commented on #197
No longer required, and superseded by #219.

[2015-07-16 16:05] #197 closed

[2015-07-17 07:41] dennisschoenmakers commented on #224
What do you mean with 'the lack of high-level network specs', @antw ?

[2015-07-17 08:40] antw commented on #224
I mean tests which build a small network containing multiple nodes and technologies, calculates their loads, and asserts that everything is correct. We have a good number of tests for each individual technology types ([such as this one](https://github.com/quintel/etmoses/blob/e00ce2213c051c9b543a91b595f8adc6f33ae2e5/spec/models/network/electric_vehicle_spec.rb)), but it would be amazing to have so

[2015-07-17 09:50] grdw commented on #224
An idea about this:

We could make more complex specs though, concering the load management strategies. These specs will high likely become 'slow'. So maybe we could tag those slower specs - exclude them from the default run - and only run those specs when you explicity tell the test-runner to run those tests.

See: https://relishapp.com/rspec/rspec-core/v/3-1/docs/command-line/tag-option

[2015-07-17 13:16] ChaelKruip commented on #219
We will have to refine this a bit. The client wants to measure the number of connections of a 'type' which differ by capacity of the connection. I think adding capacity and units to end-points should provide the needed measurable quantity.

[2015-07-17 13:37] antw commented on #224
I'm a bit worried that my example may be too simplistic. `path.congested_at?` is only going to tell you if _consumption_ exceeds capacity, not if _production_ exceeds it. I think this is a problem, because you want to cap solar PV when there is too much production.

So it may be that you *also* have to rename `congested_at?` to `consumption_congested_at?` and add something like `production_congest

[2015-07-20 11:56] #224 closed

[2015-07-20 13:34] #231 closed

[2015-07-20 13:34] grdw commented on #231
See https://github.com/quintel/etmoses/blob/master/app/helpers/testing_grounds_helper.rb#L82

[2015-07-20 13:50] grdw commented on #229
https://github.com/quintel/etmoses/commit/ae2013ec9275e96bcb65b948a06215d6085a85b7

[2015-07-20 13:51] grdw commented on #229
One question though, is it larger than and 30 (`>=`). Or just more than 30 (`>`)?

[2015-07-20 14:21] #210 closed

[2015-07-20 14:21] grdw commented on #218
I zipped the `load_profiles` folder and put the zipped file in the root folder.

If there are any issues with the load profiles do tell.

[2015-07-20 14:21] #218 closed

[2015-07-20 14:23] antw opened #234 "Discussion: Electric vehicle behaviour"
Following on from #222, "Questions about load management":

My interpretation of the above is that there are three ways in which an electric vehicle may behave:

* **Storage and load management disabled**: The EV will charge only as much as is required for its next journey. The load is *mandatory* and may be taken from the grid is there is insufficient local production. The spare capacity of the b

[2015-07-21 07:25] ChaelKruip commented on #229
Doesn't matter. Both are fine.

[2015-07-21 07:25] #229 closed

[2015-07-21 08:21] ChaelKruip commented on #234
@antw thanks for pointing out these contradicting and confusing descriptions. I'll do my best to clarify.

I think there are four possible combinations in total (the three you have mentioned above plus "Storage disable, load management enabled"). I expect the behaviour to be as follows:

* **Storage and load management disabled:** exactly as you describe

* **Storage enabled, load management disab

[2015-07-21 08:24] ChaelKruip commented on #234
To prevent confusion (sorry again) I think we should stop referring to 'storage' and 'load management' to refer to the strategies described above.

I think "Prioritise use of local (solar PV) production" and "Buffering for EV" are better terms.

[2015-07-21 08:25] ChaelKruip commented on #234
Including @jorisberkhout @grdw

[2015-07-21 08:27] antw commented on #234
Thanks @ChaelKruip, that's very helpful. The changes needed are very small.

:+1: I avoided using the term "buffering" in the past because we already had a technology called a "[Buffer](https://github.com/quintel/etmoses/blob/ae2013ec9275e96bcb65b948a06215d6085a85b7/app/models/network/buffer.rb)", which serves as our implementation of power-to-heat. I'm going to change the name of that technology,

[2015-07-21 08:43] ChaelKruip commented on #234
:smile: :+1:

[2015-07-21 09:51] grdw commented on #213
![screen shot 2015-07-21 at 11 51 14 am](https://cloud.githubusercontent.com/assets/2676542/8797889/cf711040-2f9e-11e5-9ec3-368bc8c12257.png)

This is how it looks right now with a single interaction between customer and customer.

[2015-07-21 09:56] ChaelKruip commented on #213
Very cool! EUR would be a currency better suited for the Netherlands though ;)

[2015-07-21 11:30] ChaelKruip opened #235 "Measure for two types of connections"
The client wants to distinguish between two types of connection: 3x25 Ampere (17.25 kW capacity) and connections with a higher capacity.

We currently have a 'measure' for the number of connections (now related to the number of base_load profiles) for an end-point of the topology.
It would be cleaner/more flexible if the number of connections is related to the 'units' of an end-point.

The type of

[2015-07-21 11:46] ChaelKruip opened #236 "If a measure does not exist for the selected topology, the user should be warned"
I think that there should be some feedback after the user clicks the  'calculate business cases'  button (which we do not yet have).

The warnings/error messages should be quite specific because things can go wrong in several locations:

* The topology does not contain the information necessary for a measure:
  * Depreciation costs rely on **investment_cost, economic_lifetime, yearly_o_and_m_cost*

[2015-07-21 12:49] ChaelKruip opened #237 "Measure for transformer failure"
This is a feature that the client wants a very simple version of at first which may become more complex later on.

# MVP

The first version is basically a count of the number of times a stakeholder is affected by a transformer failure. The stakeholders that this measure applies to are the Cooperation and the Customer (both are a grouping of end-points (including their connections).

For each trans

[2015-07-21 13:05] grdw commented on #236
How does this work exactly?

This means that my market model measures contain `stakeholders` that aren't in the topology. And the calculation should stop and throw an error?

And the other way around.

[2015-07-21 13:24] ChaelKruip commented on #236
This is the 'transaction' from the stakeholder to itself in the matrix (see 'investments' cells in https://github.com/quintel/etmoses/issues/213). It is the sum of:
* Depreciation cost: investment / lifetime
* O&M cost per year (given by yearly_o_and_m_cost)

[2015-07-21 13:43] ChaelKruip commented on #236
Not necessarily. Stakeholders do not have to be in the topology to send or receive money. But they do have to be in the topology to have a **measure apply to them**.

[2015-07-21 13:45] ChaelKruip commented on #236
Not really. The Government, Supplier, Aggregator and Producer are usually not physically associated with any nodes of the topology. The user does not need to be warned about this.

[2015-07-21 13:54] ChaelKruip opened #239 "Cooperation and Customer"
Just for clarification a few words on the Cooperation and Customer stakeholders.

They are generally MECE when it comes to end-points of the topology. Every end-point should belong to either but cannot belong to both. So, they both group the end-points of the topology together.

Not the number of end-points but rather the number of 'connections' (clients/customers) in each of the groups often is i

[2015-07-21 13:58] ChaelKruip opened #240 "There should be an interface for business cases"

[2015-07-21 14:00] ChaelKruip opened #241 "P2P batteries should not charge with capacities > their defined capacity (in kW)"
This battery charges faster than 200kW:
![batterij_laden_-_chael_kruip_quintel_com_-_quintel_com_mail](https://cloud.githubusercontent.com/assets/1303760/8802422/968cb464-2fc1-11e5-9439-b6b0e3c50e1c.png)

[2015-07-21 14:02] antw commented on #241
Can you link me to the LES please? It probably goes without saying, but that shouldn't be happening. :confused:

[2015-07-21 14:03] ChaelKruip commented on #241
It's a LES that our client made... I was also looking for it. Perhaps it is private?

[2015-07-21 14:08] dennisschoenmakers commented on #90
CSV line endings are always problematic. However, the client brought it back up again yesterday. :grin:

[2015-07-21 14:09] antw commented on #241
It is indeed private, and seems to have been changed since the screenshot was taken. I'll try to reproduce it myself.

[2015-07-21 14:19] grdw commented on #90
Yes, the thing is that it's probably easily to fix with the standard ruby `CSV` library.

But it's a mystery to me how `Paperclip` already has the `values` of the CSV available in the `Controller`, before it has even read the whole file. Is this something shady with `Paperclip` or with `Merit::Curve`?

@antw do you know anything about this?

[2015-07-21 15:07] ChaelKruip commented on #241
[http://beta.moses.et-model.com/testing_grounds/172](http://beta.moses.et-model.com/testing_grounds/172)

[2015-07-21 16:37] antw commented on #241
Okay, I know what the problem is. The conversion between kW loads and kWh *stored* is messing up the capacity limit on the technology. I'll aim to fix this tomorrow.

[2015-07-22 06:51] grdw commented on #90
Well the only code I see is:

[code]

And when curling (with authentication turned off), my response is:

[code]

Where does the `values` attribute come from.

[2015-07-22 06:55] grdw commented on #90
Nevermind, already found it in `CurveComponent` class.

[2015-07-22 13:44] grdw commented on #213
I'm still puzzled how the tariff and all that is calculated and what actually is in the `markets` branch. @antw maybe you can sort of give me a quick summary of what exactly is build and how this would relate to the thing I'm seeing right here.

[2015-07-22 14:22] antw commented on #213
Building a market model – and getting the computed prices out the other end – is still a bit of a work-in-progress. As is everything else between those two steps. :innocent:

There already exists a [Market.build](https://github.com/quintel/etmoses/blob/fdd01e5f83e8024cba46dde953e4cba1ef9e2324/app/models/market.rb#L9-L42) method to construct the market model – but this, too, is incomplete. I'm (sup

[2015-07-22 15:22] grdw commented on #213
[code]

This sounds pretty cool :+1:

Okay, I get it. I'll focus my attention on something else in the mean time.

However, as we would say in Holland: good busy.

[2015-07-22 15:48] #241 closed

[2015-07-22 15:50] antw commented on #241
![screen shot 2015-07-22 at 16 49 35](https://cloud.githubusercontent.com/assets/4383/8829995/acdb95fc-3091-11e5-9847-7dc0920085c6.png)

[2015-07-23 13:54] #234 closed

[2015-07-24 14:32] ChaelKruip commented on #221
Unless anyone disagrees, I think we should model congestion of transformers as suggested above. Closing.

[2015-07-24 14:32] #221 closed

[2015-07-24 14:52] ChaelKruip opened #243 "Bottom-up vs top-down detection of children that are affected by congestion"
Currently, the flexibility options are approached bottom-up, per end-point. For every end-point, it is checked if the path is congested or not. If it is, strategies like 'saving' or 'capping' are applied. There is no information about other children though.

To 'spread the burden' of a congestion event we could also travel top-down from the congested node to the children that are affected by/respo

[2015-07-24 14:54] ChaelKruip opened #244 "Considerations for 'subnet awareness'"
This is an attempt at documenting some thoughts about the possible impact of the new load calculation method. This method starts at the lowest level and cancels production and demand on a local level (on each node) until the HV connection is reached.

# Mandatory load and production

For mandatory consumption and production, I think the approach is clear and straightforward.

# Congestion detectio

[2015-07-28 14:10] grdw opened #245 "The wholesome load management issue"
**Trying to make sense of it all**

There are still some strategies which are currently not doing the right thing.

Those are:
- [x] **Saving of aggregated base-load**
- [ ] **Postponing of individual base-load**
   - [ ] #249
- [x] **Buffering of local PV excess in heat pumps**
- [x] **Buffering of local PV excess in EV**
   - [x] Question #247

Including #251

[2015-07-28 14:10] grdw opened #246 "Adding saving of aggregated base load"
If I'm correct there's a flexible and inflexible profile.

Thoughts:
[code]

[2015-07-28 14:50] antw commented on #246
[They're summed here](https://github.com/quintel/etmoses/blob/a8dd8146afb361328226d11a5221010b357a9eb5/app/models/installed_technology.rb#L92-L106). This was a necessary stopgap solution to the fact that previously only the first curve component was being used.

Since the flexible and inflexible profiles are already separate, the proper solution in the network calculation is to represent them as t

[2015-07-28 14:56] antw commented on #246
To add to this: we probably need to detect how many curve components the technology has. If it has only one, then it is an "individual base load" and should be postponable.

##### 1 component:
* Technology is a DeferrableConsumer

##### 2 components:
* Inflexible part is a Generic
* Flexible part is an OptionalConsumer

[2015-07-28 14:57] antw commented on #245
This is implemented as OptionalConsumer. As per [my comment in #246](https://github.com/quintel/etmoses/issues/246#issuecomment-125635625), we have yet to split the base load into two separate technologies in the network calculation.

All three have been implemented for some time (2+ months). I was making some adjustments to these last week, so I know for sure that they work. The front-end checkbo

[2015-07-28 15:00] grdw commented on #245
Ah okay. Chael and I were talking about this a lot. And he made it sound like there was still something needed to be implemented.

[2015-07-28 15:13] ChaelKruip commented on #246
Just to clarify: both aggregated base load and individual base load profiles have 2 curves, a flexible and an inflexible one. For the aggregated case, the flexible part can be saved/reduced. For the 'individual' base loads, the flexible part can be postponed.

[2015-07-28 15:23] antw commented on #246
Oh, that's unfortunate, but it makes more sense. :laughing:

Would be nice to see become separate technologies then: a `base_load_large` which uses the EDSN profiles and saving, and `base_load_small` which uses individual profiles and postponing. Not sure how easy that is to do?

[2015-07-28 16:06] antw commented on #246
I added [a wiki page describing base loads](https://github.com/quintel/etmoses/wiki/Base-loads). Might be nice to expand on it later, such as:

1. What's the difference between an EDSN profile and an individual profile?
2. Why is an individual profile unsuitable for use with large nodes, and vice versa?
3. Why are small endpoints postponed, but large ones are "saved"?
4. How do I upload my own fle

[2015-07-29 07:57] grdw commented on #246
They are not treated as such right now. They're summed in the piece of code above. If I understand correctly in dead-simple code:

[code]

What I don't get about this: is this already as such or does this need to be changed? And more concretly what needs to be changed? There's already something happening as I describe down below but I can't really find where in the code that is happening. What I u

[2015-07-29 09:12] grdw commented on #246
I wrote specs so I found out that this:

[code]

is actually this:

[code]

[2015-07-29 12:46] grdw opened #247 "Buffering of local PV excess in EV Question"
![screen shot 2015-07-29 at 2 31 00 pm](https://cloud.githubusercontent.com/assets/2676542/8957617/e2ac3268-35ff-11e5-8efe-765c86737256.png)

Joris and I were discussing about the buffering of local pv excess.

The LES contained a single solar panel and a single electric car.

We fiddled around with some numbers.

But it somehow seems that the volume of the electric car is *always* being used in t

[2015-07-29 12:49] grdw opened #248 "Selecting a strategy which has no impact on the load curve"
![screen shot 2015-07-29 at 2 37 20 pm](https://cloud.githubusercontent.com/assets/2676542/8957727/9db5a530-3600-11e5-8a10-8edb15c243b5.png)

It's possible to select a strategy which has no impact on the load curve.
However it looks like it has changed by a single quarter.

[2015-07-29 13:12] grdw commented on #247
Including @jorisberkhout

[2015-07-29 13:16] antw commented on #246
This is why stubs are dangerous. :smile:

The test [stubs InstalledTechnology to return an `Array`](https://github.com/quintel/etmoses/commit/4bcee27563d618a75abc18a4e15a3db6dd377c24#diff-697edaa1d8f85247b43b4350cd51e35bR31). The real implementation returns a `Network::Curve`. There are several important differences; in this case:

[code]

For base loads, what we have right now is a temporary solu

[2015-07-29 13:22] antw commented on #247
* The car does not know what other technologies are present in the network. I suspect that real-world EVs also don't inspect the network to determine if something else will want the energy later.

* There's no guarantee that PV excess will be available later. The excess energy stored in the EV may be used by the vehicle *itself*, to satisfy the requirements of its next journey.

The behaviour of e

[2015-07-29 13:30] jorisberkhout commented on #247
Thanks for clarifying this, @antw!

[2015-07-29 13:36] grdw commented on #246
Let me just change that to: that's why *wrong* stubs are ~~dangerous~~ stupid.

Thanks for the explanation though! This helps a lot.

[2015-07-29 13:50] #248 closed

[2015-07-29 13:53] ChaelKruip commented on #246
Github is much more interesting than the novel I'm trying to read here on the beach ;)

Just one clarification/correction to the excellent explanation of @antw: the base load profiles are not scaled to have a maximum of 1.0. Instead, they are scaled such that their integral is equal to the total electricity demand of the household or building. I think this is done correctly at the moment though. A

[2015-07-29 13:59] antw commented on #246
Yes! Apologies. Base loads have a `demand` rather than a `capacity` or `load`. The former is scaled so that the sum of all points is 1.0, the latter so that the maximum value is 1.0.

* Input: `[0.1, 0.4]`
* Capacity-scaled: `[0.25, 1.0]`  (maximum single value is 1.0)
* Demand-scaled: `[0.2, 0.8]`  (sum of all values is 1.0)

[2015-07-29 14:03] antw commented on #248
Was an issue in the front-end chart, which I think I may have introduced last week. Sorry!

The loads calculated by the back-end are correct; the clue that it was an issue with the chart is that the loads were offset by exactly one point when showing the annual chart *and* the weekly charts. The annual chart plots 365 points (one per day) while the weekly chart plots 672 (one per 15 minutes for a

[2015-07-30 11:39] grdw commented on #246
The `:demand_scaled` scaling scales to '1.0'. However this is not really practical for `flex` and `inflex` due to the ratio between the two profiles of `[0.9, 0.1]` (is this the correct ratio?)(will it by dynamic in the future?)

One simple solution would be to have a hash:

[code]

And multiply it [here](https://github.com/quintel/etmoses/blob/issues/load-management/app/models/installed_technolog

[2015-07-30 12:45] grdw commented on #246
Nevermind. Joris and I decided to calculate the ratio between the two original profiles and use that ratio to create the correct curve.

[2015-07-31 09:00] grdw opened #249 "Postponing of individual base-load"
I'm currently working my way through the 'Postponing of individual base-load'.

**What I've done so far:**
- Wrote specs to get a better understanding of the underlying code
- Trying to dissect `DeferrableConsumer`

[2015-07-31 09:05] grdw commented on #249
There's one problem here right now. The `flex` profile is assigned to the `DeferrableConsumer`. However, the `flex` profile - when the strategy is enabled - is allowed to move to a non-congested point in the *profile* (for a max of 12 steps else the 12th step (3rd hour) is used). The *profile* consists of the `inflex` profile (and any other load on that particular node for that matter).

**The act

[2015-07-31 15:09] grdw opened #250 "Technical issue when it comes to set(:techs) and get(:techs)"
**In TechnicalLoad calculation**
The code [here](https://github.com/quintel/etmoses/blob/master/app/models/calculation/technology_load.rb#L13) sets the correct classes for the technologies (`OptionalConsumer`, `DeferrableConsumer`, etc.) and adds those technologies to a node. Which is fine.

**In PullConsumption**
Over [here](https://github.com/quintel/etmoses/blob/a8dd8146afb361328226d11a5221010b

[2015-07-31 23:02] antw commented on #249
No, but I can see why it might seem that way.

The technology doesn't know about congestion, but the calculator (PullConsumption) doesn't work directly on the technology itself, but instead acts on [the path from the technology to the root node](https://github.com/quintel/etmoses/blob/5fe28f264b969edd36979ed920a8bde5fbf0429e/app/models/network/technology_path.rb). This path *does* know about netwo

[2015-07-31 23:06] antw commented on #250
Do you have all the storage and flexibility strategies turned off? If you have them turned off, most technologies will become `Generic` since they no longer have any special behaviour (some will turn into `Null` since, when disabled, they should place no load on the network).

[2015-08-03 07:39] grdw commented on #250
Yes it had to do with `disabled`, turns out that the `disabled_class` of a `DeferrableConsumer` is `Generic`.  Thanks! :smile:

[2015-08-03 07:39] #250 closed

[2015-08-03 09:51] grdw opened #251 "Set curve_types correctly for load profile components"
This is eventually necessary for the `flex` and `inflex` behaviors on the beta environment.

[2015-08-03 10:25] grdw opened #252 "Creating of the topology fails"
Parameters from log:

[code]

[2015-08-03 11:28] grdw commented on #249
I wrote specs to assert the code:

- https://github.com/quintel/etmoses/blob/issues/load-management/spec/controllers/testing_grounds_load_management_controller_spec.rb#L66:L73
- https://github.com/quintel/etmoses/blob/issues/load-management/spec/controllers/testing_grounds_load_management_controller_spec.rb#L76:L87

These specs succeed now in the `issues/load-managment` branch.

I created another

[2015-08-05 08:08] grdw commented on #252
In a pull request #253

[2015-08-05 08:11] #247 closed

[2015-08-05 12:52] #252 closed

[2015-08-05 14:01] grdw opened #255 "Updating documentation about new features"
Copied from trello card.

@antw @ChaelKruip what is the usual place documentation is written?

Do we use the general github wiki?

[2015-08-05 14:07] antw commented on #255
I've started using the [ETMoses GitHub wiki](https://github.com/quintel/etmoses/wiki) for "plain language" descriptions of the technical aspects of the project. It doesn't have much at the moment, though.

Information aimed at end-users (customers) tends to go in the [documentation repository](https://github.com/quintel/documentation). Personally, I think *project-specific* docs for end-users shou

[2015-08-05 14:10] grdw commented on #255
I agree.

[2015-08-06 15:18] grdw opened #256 "Splitting up full year load from weekly load"

[2015-08-10 13:15] grdw commented on #256
![screen shot 2015-08-10 at 3 14 43 pm](https://cloud.githubusercontent.com/assets/2676542/9172250/9cf65326-3f72-11e5-9aa1-4fc9a552c300.png)

How it looks.

@ChaelKruip please take a look

[2015-08-10 13:37] grdw opened #259 "Making load profile pairs for inflex - flex profiles"

[2015-08-10 14:26] grdw opened #260 "Postponing of individual base load must only be possible for anonimous profiles not EDSN profiles"

[2015-08-10 14:53] grdw opened #261 "Use load profile id's instead of specified 'keys'"
Due to the fact that users don't have to type the technology data for a testing ground themselves and instead just use a table with select boxes. We might aswell just use the load_profile id's instead of the keys. This saves space and allows easier renaming of the keys without destroying alot of testing grounds.

[2015-08-10 15:08] ChaelKruip commented on #255
I've only written user documentation in the documentation repo (as @antw mentioned above). I agree with @antw that technical documentation should go in the project wiki.

What I would like to do in the coming weeks is update/extend the user documentation and incorporate it into the front-end.

[2015-08-10 15:11] ChaelKruip commented on #256
We have decided not to do this in the end. It is not obvious what the expected behaviour should be for downscaling: take the maximum (as currently done), the minimum, the average?
We decided to make two separate charts: the current yearly one and one with full resolution for the weeks.

Closing.

[2015-08-10 15:11] #256 closed

[2015-08-10 18:15] antw commented on #261
:+1:

[2015-08-11 08:25] grdw opened #263 "Making the view for comparing two business cases"
To remove any confusion for myself and others:

- You compare a business case from *another LES*
- The comparison itself can by all means, make no sense (for instance if the stakeholders in one LES aren't available in the other).

[2015-08-11 08:36] #245 closed

[2015-08-11 08:36] #246 closed

[2015-08-11 08:36] #249 closed

[2015-08-11 08:36] #251 closed

[2015-08-11 08:39] #261 closed

[2015-08-11 08:46] #259 closed

[2015-08-11 12:31] ChaelKruip opened #264 "Text for buffering strategies should be changed"
Buffering is not limited to local PV excess!

![etmoses](https://cloud.githubusercontent.com/assets/1303760/9197560/6f5e4dec-4035-11e5-9895-ba78bd17c6b9.png)

They should read something like:

* "buffering of electricity in EV"
* "buffering of heat in heat pumps"

[2015-08-11 12:48] ChaelKruip opened #265 "Buffering for EV seems to not be energy conserving"
When looking at the first week of september for [this testing ground](http://beta.moses.et-model.com/testing_grounds/187), I see that the load with buffering in EV is higher almost everywhere:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/9197803/c578331c-4037-11e5-8231-481bca065fe5.png)
It seems that there is much more energy consumed when the buffering strategy is 'on'. This shou

[2015-08-11 13:03] ChaelKruip opened #266 "Buffering in heat pumps does not seem to do anything"
![etmoses](https://cloud.githubusercontent.com/assets/1303760/9198109/0d8fd5e0-403a-11e5-8947-086934cdc216.png)
There is no difference between the blue and green curves

[2015-08-11 13:05] ChaelKruip opened #267 ""Saving as new LES" should prompt the user to choose a new name"
Now it looks like you just overwrite the LES with the old name.

[2015-08-11 13:10] antw commented on #266
There's no `volume` set on the heat pumps in that LES. Presumable they can't buffer an infinite amount of energy, so lacking a volume, they won't buffer anything at all.

Setting a volume seems to inflate the loads though; I'm not sure why. I'll look into it also.

[2015-08-11 13:11] ChaelKruip opened #268 "When editing a LES, the assignment of individual profiles for households is overwritten"
If the group is larger than 30, ETMoses does not seem to respect the choice of the user to assign an individual profile anyway.

[2015-08-11 13:41] ChaelKruip opened #270 "Heat pumps should get a "volume" assigned to them"
The volume (in kWh) is the product of the heat capacity of the storage tank and the temperature differential that the heat pumps can use. The temperature difference differs between hot water and space heating heat pumps.

In my Python scripts I have assumed the following:

## Space heating

* Tank volume: 100 liters
* Temperature difference: 20 degrees (from 20 to 40)
* Specific heat capacity of w

[2015-08-11 13:43] antw commented on #266
Hmm... the load is inflated because when you supply a volume, the assumption is that you're using availability curves instead of load curves. This is a tricky one because that is true for EV but not for heat pumps.

[2015-08-11 13:50] antw commented on #265
I think this is because #131 is still pending. The EV is buffering up to 100% of it's battery volume even though it doesn't need that much for its next journey. The car gets reset to zero when it reconnects, hence it charges back up to 100% *again* creating additional load on the network.

[2015-08-11 13:50] #265 closed

[2015-08-11 14:10] ChaelKruip commented on #222
Closing.

[2015-08-11 14:10] #222 closed

[2015-08-11 14:12] ChaelKruip commented on #16
Putting this on-hold for now.

[2015-08-11 14:21] ChaelKruip commented on #265
:+1:

[2015-08-11 14:23] ChaelKruip commented on #220
I guess we can close this right @antw?

[2015-08-11 14:25] #220 closed

[2015-08-11 14:29] ChaelKruip commented on #199
I am unable to reproduce this. Closing.

[2015-08-11 14:29] #199 closed

[2015-08-11 14:30] ChaelKruip commented on #189
@grdw can this be closed?

[2015-08-11 14:31] ChaelKruip commented on #68
Can this be closed @antw?

[2015-08-11 14:32] ChaelKruip commented on #60
Closing.

[2015-08-11 14:32] #60 closed

[2015-08-11 14:36] grdw commented on #189
:+1:  Yes it can!

[2015-08-11 14:36] #189 closed

[2015-08-11 15:26] ChaelKruip commented on #266
For heat pumps we **do** have both availability curves and load curves. Aren't they used both?

[2015-08-11 15:56] antw commented on #266
No, the current behaviour (when heat pumps are on or off) is based on a "use" profile:

* **Buffering in heat pumps disabled:**

  Places a load on the network according to values in the "use" profile.

* **Buffering in heat pumps enabled:**

  Buffers whenever there is sufficient network capacity, and stores this energy internally for later. Energy is subtracted from the stored amount according t

[2015-08-12 08:23] ChaelKruip commented on #90
@grdw what is the status of this?

[2015-08-12 08:38] grdw opened #271 "Move ET_MODEL_URL to a config.yml file"
![screen shot 2015-08-12 at 10 38 22 am](https://cloud.githubusercontent.com/assets/2676542/9219865/5329d2d2-40de-11e5-83cd-26e9dda70a51.png)

[2015-08-12 10:21] grdw commented on #90
It's already merged in master, so also in staging, and thusfar deployed.

I'll see if that's actually the case by running some tests.

[2015-08-12 10:24] grdw commented on #90
The offending LoadProfile is now succesfully uploaded to ETMoses. So I'd say: issue closed.

[2015-08-12 10:24] #90 closed

[2015-08-12 12:32] ChaelKruip commented on #90
:+1:

[2015-08-13 13:00] grdw opened #273 "Making a separate technology for EDSN base loads"

[2015-08-13 13:05] grdw commented on #273
I made a seperate technology for edsn-base loads and gave it the `optional` behavior.

@ChaelKruip Does the code (based upon the units) need to auto-detect which base load technology type there's needed (aggregated or anonimous) ?

[2015-08-13 13:12] ChaelKruip commented on #273
Yes.

[2015-08-13 14:10] ChaelKruip opened #274 "It should be possible to edit a topology (and market model) 'interactively'"
When you are working, you should be able to go back-and-forth between editing technologies, topology and market model until you are satisfied with the LES as a whole.

I don't know how to ensure the following though:
* changing the topology/market model should not break other LESs
* changing the topology/market should not require constant renaming ('saving as')
* when satisfied the user should be

[2015-08-13 14:42] grdw commented on #274
I think we should - when in the edit screen of a LES - make two buttons for 'topology' and 'market model'. When clicking on those buttons it would duplicate the topology/market_model and saving it as a new one everytime you make changes to that topology.

Downside: database clutter.

[2015-08-13 14:51] antw commented on #274
Would it not be better to clone the MM/Topology only if there are other LES' using them?

[code]

Doesn't completely avoid cluttering the DB, but at least it won't create duplicates for every change the user makes.

[2015-08-13 14:55] ChaelKruip commented on #274
:+1:

[2015-08-13 14:58] grdw commented on #274
Sounds good.

[2015-08-13 15:17] antw commented on #256
Pity; I was quite keen on the idea. :disappointed:

What's the *goal* of having separate annual and weekly charts visible at the same time? I think the user experience is worse, because it's not clear *why* there needs to be two separate charts, and it adds clutter to the page.

I can imagine end-users asking:

* "Do they display identical data?"
* "Why can I zoom in on a weekly chart but not an a

[2015-08-14 07:19] dennisschoenmakers commented on #256
Hmmm, maybe we missed an opportunity to discuss options when you where here @antw? Maybe we could go through the options with you once more? What do you think @ChaelKruip ?

[2015-08-17 08:17] grdw opened #275 "How does the current buffering function?"
There's a `use` and `availability` profile. The user uploads it as such when creating a `LoadProfile`.

Now I can't really find my way in where the `use` profile is and where the `availability` profile is, in the code (also in the specs for that matter). And where and how the two are 'connected'? To put it into basics: how is the current buffering implemented?

[2015-08-17 08:32] grdw commented on #264
Fixed with: b643b73

[2015-08-17 08:32] #264 closed

[2015-08-17 08:33] grdw commented on #275
*Sees explanation at #266 *

[2015-08-17 08:43] antw commented on #275
Yeah, I've yet to add the availability profile support to `Buffer` :disappointed:. I'll make sure that's done during this sprint.

[2015-08-17 09:27] grdw commented on #275
@antw, @ChaelKruip and I also are trying to do the same. In order not to get two people working on the same job..

[2015-08-17 09:27] antw commented on #275
:+1:

[2015-08-17 09:29] antw commented on #275
FYI: [ElectricVehicle](https://github.com/quintel/etmoses/blob/b643b7304491684555033d14d794b013f6d8da9c/app/models/network/technologies/electric_vehicle.rb) uses an availability profile, so perhaps that can be of some use to you?

[2015-08-17 12:51] ChaelKruip commented on #256
Unfortunately it slipped my mind indeed!

I am susceptible to your argumentation @antw but I am not convinced (yet?) that any form of down-sampling is actually helping the user to understand the situation. Our (@dennisschoenmakers, @grdw andy myself discussed this a week ago) arguments for separating the yearly chart and the weekly chart were as follows:

* The yearly chart is nice as a quick 'ove

[2015-08-17 13:06] antw commented on #256
Two options come to mind:

1. [An area range](http://www.highcharts.com/demo/arearange-line) which shows the largest positive and negative loads for a period.
2. Better yet: [a candlestick/box chart](http://www.highcharts.com/stock/demo/intraday-candlestick). Here's [another example](http://www.highcharts.com/demo/box-plot).

Not saying this is easy, but it would be nice.

I had the same problem w

[2015-08-18 09:24] grdw commented on #266
I'm trying to make it work but somehow I'm not sure if the current buffering is working as it should.

As you can see at:

https://github.com/quintel/etmoses/compare/master...issues/%23266-buffering-heat-pumps-not-working#diff-697edaa1d8f85247b43b4350cd51e35bR106

However I have no idea what is influencing the output in the current setup.