[2016-09-29 10:14] ChaelKruip commented on #1464
I think so yes.

[2016-09-29 11:22] ThomBuijs opened #1465 "Why does the size of the buffervolume have an impact on the output of the heating technology?"
I'm using this [LES](https://moses.energytransitionmodel.com/testing_grounds/600). When the volume of the buffer becomes below a certain value the output of the heating technology (a heatpump and a gas heater in my les) will change accourdingly. In my opion this should not make a difference, as long as the input and output capacity of the buffer are equal or higher than that of the buffering heati

[2016-09-29 11:35] ChaelKruip commented on #1465
You mean *shouldn't* right? In that case I agree completely 😄

I think this is wrong. @antw can you pitch in?

Right.

Why do this if you can set all technologies to boosting?

[2016-09-29 11:38] ThomBuijs commented on #1465
I didn't think of this untill I was finishing this issue. Still I think that it isn't working as it should be, therefore I am making this comment :)

[2016-09-29 12:40] #1465 closed

[2016-09-29 12:47] antw commented on #1465
A fix for boosting technologies being constrained by the buffer volume will be published momentarily.

Buffering technologies are limited by the capacity of the buffer because their energy must pass *through* the buffer prior to being consumed. Boosting technologies skip the buffer, and are therefore not limited by its volume.

It was decided some time ago that a buffer could be filled and emptied

[2016-09-30 13:19] grdw commented on #1464
Switching works however. There is a 'thing' which might be bad or good. So I'm leaving it up to you to decide.

*This is the YAML:*
![screen shot 2016-09-30 at 15 13 46](https://cloud.githubusercontent.com/assets/2676542/18992796/90220a04-8720-11e6-88d7-424225dcd473.png)

*This is the graph:*
![screen shot 2016-09-30 at 15 14 30](https://cloud.githubusercontent.com/assets/2676542/18992807/9cd24c0a

[2016-09-30 15:03] grdw commented on #1464
@antw might you have a suggestion to format the YAML properly? I'm using a library called [jsyaml](https://github.com/nodeca/js-yaml) but I'm guessing it has to do with the way the `Object` is build up in Javascript.

For example:

[code]

After update info:

[code]

What I'd like is:

[code]

A way I'd do it is something like:

[code]

[2016-09-30 15:32] antw commented on #1460
In light of https://github.com/quintel/etmoses/issues/1464#issuecomment-250768277 I want to reopen this because I disagree, and would like to be convinced of the *need* for this to exist. I don't think there's much benefit to it:

* A "clone topology" button is simple to implement and more user-friendly than copy/pasting YAML.
* I doubt that editing YAML is significantly faster than the new GUI.

[2016-09-30 15:40] grdw commented on #1460
I sort of already implemented it (almost). 😅  I could keep it in a branch if it is really needed. I don't feel to strong for keeping the YAML editor or removing it. Ofcourse, I can imagine, adding 100 endpoints is going to be hard. Using a Ruby script to do:

[code]

And than copy/pasting it in your browser does seem like less work than hitting the `+` button 100 times and changing all the names b

[2016-09-30 16:48] antw commented on #1460
Indeed, but is writing a script a likely course-of-action for Moses users? Even copy/pasting 100 nodes needs 8 operations: 1 node → 2 → 4 → 8 → 16 → 32 → 64 → 128, then the person has to count and delete 28 to get back to 100.

How about...

![screen shot 2016-09-30 at 17 43 56](https://cloud.githubusercontent.com/assets/4383/18999439/7f649f14-8735-11e6-9124-c1738385d68f.png)

[2016-10-02 12:00] ChaelKruip commented on #1460
I'm in favour of keeping the code as simple as possible but I'm a bit on the fence about scrapping the YAML interface just yet.

From a user perspective there are two things that might become (very) cumbersome in the GUI unless dedicated functionality is added:
* re-using an existing topology or existing nodes to an end-point of another topology: in YAML that is a copy paste + indent operation but

[2016-10-03 08:33] grdw commented on #1460
Hmm, considering you're advanced enough to know bits of YAML. 😅

Looks nice. We might also pop up that menu if somebody does a `CMD/Ctrl + click` instead of adding another button.

[2016-10-03 08:41] ChaelKruip opened #1467 "Heating technologies should not display storage volume"
![etmoses](https://cloud.githubusercontent.com/assets/1303760/19031649/e2aaccf2-8955-11e6-8aa5-7dfd76bb7e72.png)

[2016-10-03 10:38] antw commented on #1460
Or a transition period where we get rid of the YAML immediately and add new features to the GUI as needed? 😈

I like the idea of templates a lot; I can see how that would be very useful, especially to new visitors who don't know the details of how to build networks and just want to use some sensible real-world defaults.

![subnet](https://cloud.githubusercontent.com/assets/4383/19034735/132eca16-8

[2016-10-03 11:16] ChaelKruip commented on #1460
👍

[2016-10-03 11:59] ChaelKruip commented on #1460
I like this idea as well!

[2016-10-03 12:01] ChaelKruip commented on #1460
Closing this issue as the consensus seems to be to ditch the YAML interface in lieu of the GUI.

[2016-10-03 12:01] #1460 closed

[2016-10-03 12:33] ChaelKruip opened #1468 "Business case matrix should update when (for example) assets are removed"
Now you first have to recalculate the yearly business case before the business case matrix is updated which is not very clear to the user.

[2016-10-03 12:46] ChaelKruip opened #1469 "Number including parenthesis should be displayed on same line in business case comparison"
This is hard to read:
![screen_shot_2016-10-03_at_14_43_04_png](https://cloud.githubusercontent.com/assets/1303760/19037742/18a342a4-8978-11e6-9e75-da93d924c28f.png)

[2016-10-03 12:51] ChaelKruip opened #1470 "The producer should not have depreciation costs as income"
![screen shot 2016-10-03 at 14 50 56](https://cloud.githubusercontent.com/assets/1303760/19037851/d2f98e4c-8978-11e6-83b8-7c24cf327552.png)

Happens in [this LES](https://beta-moses.energytransitionmodel.com/testing_grounds/736/business_cases/497)

[2016-10-03 14:05] grdw commented on #1468
I don't understand what you mean? Which matrix? The matrix on the edit page?

[2016-10-03 14:06] ChaelKruip commented on #1468
Yes.

[2016-10-03 14:12] ChaelKruip commented on #1467
This happens only with old lesses. Closing.

[2016-10-03 14:12] #1467 closed

[2016-10-03 14:14] ChaelKruip commented on #1294
Closing as this is currently the default.

[2016-10-03 14:14] #1294 closed

[2016-10-03 14:14] ChaelKruip commented on #1292
Can this be closed @antw?

[2016-10-03 14:15] #1292 closed

[2016-10-03 14:17] ChaelKruip opened #1472 "It would be nice if default values would be filled in when heat source for district heating is chosen"
These values will not change when choosing another technology:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/19040525/c4bb75a0-8984-11e6-8b00-1a935dfe7bc0.png)

[2016-10-03 14:24] #1470 closed

[2016-10-03 16:07] antw commented on #1449
http://stateofjs.com/2016/testing/

[2016-10-04 08:10] MarjoleinSchwachofer opened #1473 "Fault when opening some Buurtbatterij LESses"
When opening some older lesses on the Buurtbatterij, I get the following fault message:
![etmoses foutmelding](https://cloud.githubusercontent.com/assets/17849585/19066588/47aaa3c4-8a1a-11e6-98a7-bee88e3bbcb4.JPG)

This is the same for the LESses 'Showcase buurtbatterij - verzwaren', 'Showcase buurtbatterij -BAU', Showcase buurtbatterij -buurtbatterij'.

Can you fix this, becasue I woant to use th

[2016-10-04 08:16] grdw commented on #1449
MochaJS looks promosing. For the basic fact that you can run it from the browser 👍 which is really cool. I also know QUnit can do that. I'm only a bit unaware about the whole process of writing specs in Javascript. Will it be something like this (to put it in perspective):

[code]

[2016-10-04 08:30] antw commented on #1473
The topologies were owned by the Quintel user and had been marked as private. Try it now @MarjoleinSchwachofer; hopefully they should be working for you again.

[2016-10-04 08:38] MarjoleinSchwachofer commented on #1473
Some now work, but 'Showcase buurtbatterij - BAU'  still doesn't work

[2016-10-04 08:39] antw commented on #1473
Sorry! I must have missed that one. It should now be fixed.

[2016-10-04 08:40] MarjoleinSchwachofer commented on #1473
yes, it now works. Thanks for the quick solution.

[2016-10-04 09:14] #1473 closed

[2016-10-04 13:41] dennisschoenmakers opened #1474 "[Airbrake] [Production] Validation failed: Name is too long (maximum is 100 characters)"
**Airbrake error:** [#1750](https://quintel.airbrake.io/projects/111227/groups/1789160003738251750)
**Airbrake project:** ETMoses

**Error type:** `ActiveRecord::RecordInvalid`
**Error message:** `` Validation failed: Name is too long (maximum is 100 characters) ``
**Where:** `testing_grounds#save_as`
**Occurred at:** Oct 04, 2016 13:41:26 UTC
**First seen at:** Oct 04, 2016 13:41:26 UTC
**Occurre

[2016-10-04 14:38] MarjoleinSchwachofer opened #1475 "Priority of heat sources explanation in documentation should be adapted"
The priority of the heat sources  functionality has changed in ETMoses. First it was an explicit item in the list. Now you can drag them yourselves in the list. This is however nog documented on the wiki and there are old images on the wiki where the priorty is still visible. This should be adapted.

[2016-10-05 08:08] ChaelKruip commented on #1220
I would like this option as well. 👍

[2016-10-05 08:15] ChaelKruip commented on #1220
It seems that this does not work with my [LES](https://moses.energytransitionmodel.com/testing_grounds/612), maybe because the market model is only used here... When I edit it, the only existing copy is edited as well.

[2016-10-05 08:48] ChaelKruip opened #1476 "Yearly gas load chart fails to calculate for my LES"
In [this LES](https://moses.energytransitionmodel.com/testing_grounds/612/gas_load), the yearly gas load chart fails to load:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/19106726/3c6583a6-8ae9-11e6-8a2f-2ef4ee4ee735.png)

[2016-10-05 09:04] grdw commented on #1476
I threw away the cache. It seems to be loading now... related: #1419.

[2016-10-05 09:06] grdw commented on #1476
![screen shot 2016-10-05 at 11 04 52](https://cloud.githubusercontent.com/assets/2676542/19107228/8f7c8ea2-8aeb-11e6-94e9-1dc2071b34c0.png)

And done. 👍

However, this is a bit of a patch fix. Can you maybe recall if you canceled the calculation? Did anything else to maybe 'break' the cache that you're aware of?

[2016-10-05 09:21] ChaelKruip commented on #1476
Nope.

[2016-10-05 09:26] #1476 closed

[2016-10-05 09:38] antw commented on #1476
I managed to reproduce it by computing a full annual calculation before viewing the gas summary. Apparently using the `resolution: high` option causes the network cache to use the suffix `current_week` when looking for cache files, instead of `year`.

I changed the calculator to use `resolution: low` and it works fine now (don't worry, the full year – with all 35,040 points – still gets calculated

[2016-10-05 09:40] antw commented on #1419
Closing in the hope that 10f8ff4 might have fixed this. I'm hoping [this explanation](https://github.com/quintel/etmoses/issues/1476#issuecomment-251628449) holds true for this issue too.

[2016-10-05 11:19] ChaelKruip opened #1478 "Should we rename flexibility measures?"
Wouldn't it be clearer to say "kWh of flexibility realised" in stead of "flexibility realised"?

Follow up question: do we indeed 'measure' flex in kWh or currently in kW-15-minutes?

[2016-10-05 11:40] ChaelKruip opened #1479 "Some numbers are not yet 'rounded' in the front-end"
The O&M cost of heat sources for instance:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/19111699/3b338b46-8b01-11e6-9a16-8c2cca647244.png)

[2016-10-05 12:22] ChaelKruip opened #1480 "Axis label for heat load chart needs to be 1000 times higher"
In [this LES](https://moses.energytransitionmodel.com/testing_grounds/615/heat_load), every household (4400 in total) has connections to the heat network. I expect heat loads in the order of MWs but the axis only shows kW:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/19112797/213d11de-8b07-11e6-9f54-24c7b0731f6f.png)

[2016-10-05 13:06] antw commented on #1480
The data is correct, the legend is not. It should indeed say "MW".

[2016-10-05 13:16] ChaelKruip commented on #1480
Assigning @grdw to pick this up

[2016-10-05 13:23] #1480 closed

[2016-10-05 13:29] antw commented on #1478
kWh. The measures [use `energy_at`](https://github.com/quintel/etmoses/blob/9db3b1c5a97e7505a5bef524fa2199f7a0dcd248/app/models/market/measures/flexibility.rb#L13-L14) rather than `load_at`.

[2016-10-05 13:34] #1478 closed

[2016-10-05 18:58] antw commented on #1220
This is indeed why. A market model or topology won't be cloned when in use by only one LES.

[2016-10-06 07:58] ChaelKruip opened #1482 "What is the last moment that a business case is calculated?"
When you compare your current BC with the BC of another LES, how sure can you be that all changes have been taken into account in the BC of the other LES? Do you need to (re-)calculate the BC before you close your LES?

[2016-10-06 08:22] antw commented on #1482
That's how it looks to me.

The DelayedJob which recomputes the business case is started when you try to view it, after having made a change. If you're changing business case A in one browser tab, and comparing business case B with A in another, I expect that the data for A will not be recalculated until you view that business case.

Changing this would means the comparison feature would have to p

[2016-10-06 08:24] ChaelKruip opened #1483 "Strange extra line in business case"
![etmoses](https://cloud.githubusercontent.com/assets/1303760/19145337/cc5fea12-8bae-11e6-9b14-cb17cef57725.png)

Occurs in [this LES](https://moses.energytransitionmodel.com/testing_grounds/614/business_cases/378) if you don't blank the heat assets list:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/19145389/0236b652-8baf-11e6-9f57-cb6066308c7b.png)

[2016-10-06 09:00] #1472 closed

[2016-10-06 10:05] ChaelKruip commented on #1482
But what if you never viewed it in the first place? Or if you viewed it and afterwards removed all your technologies etc.?

[2016-10-06 10:17] antw commented on #1482
The comparison won't show you any data:

<img width="695" alt="screen shot 2016-10-06 at 11 13 38" src="https://cloud.githubusercontent.com/assets/4383/19148730/f4a64366-8bb5-11e6-9a6f-82c42be8e843.png">

The comparison data will be stale and won't reflect the changes made since the business case was last viewed/calculated.

The "comparison" drop-down does not trigger a recalculation of either bus

[2016-10-06 11:53] ThomBuijs opened #1485 "The unit of the Y-axis for the heat load should scale to MW"
In this [LES](https://moses.energytransitionmodel.com/testing_grounds/609/heat_load) the unit of the Load on the heat network should be in MW but right now it is in kW. It looks as if the unit doesn't update accourdinly.

[2016-10-06 12:12] ThomBuijs opened #1486 "Error when trying to scale ETMoses model to ETM"
When trying to scale the ETMoses scenario to ETM, I get the following error. What does this mean and what actions are needed to correct the error?

![knipsel](https://cloud.githubusercontent.com/assets/20039533/19151742/b452985a-8bce-11e6-9ef7-e4dc32df9c7a.PNG)

[2016-10-06 13:03] ChaelKruip commented on #1485
Closing as this is a duplicate of https://github.com/quintel/etmoses/issues/1480 and already fixed on BETA (will be deployed to production server after some testing).

[2016-10-06 13:03] #1485 closed

[2016-10-06 13:06] ThomBuijs commented on #1485
👍

[2016-10-06 13:07] ChaelKruip opened #1487 "Ensure that the business case takes all changes into account"
See  https://github.com/quintel/etmoses/issues/1482 for background.

Perhaps we should trigger a BC calculation after someone has made changes to a LES and not re-calculated the BC (but uses the LES to compare to another LES)?

[2016-10-06 13:07] #1482 closed

[2016-10-06 13:18] ChaelKruip commented on #1486
The sliders in the ETM add up to 100% and, at the same time, represent a number of technologies:
![energy_transition_model_-_your_free__independent__comprehensive__fact-based_scenario_builder_](https://cloud.githubusercontent.com/assets/1303760/19153557/549c39d0-8bd7-11e6-88db-74f4be5be458.png)
The number of technologies is calculated by multiplying the % with the number of households in the scena

[2016-10-06 13:37] #1475 closed

[2016-10-10 07:55] #1435 closed

[2016-10-10 07:55] #1458 closed

[2016-10-10 07:55] #1461 closed

[2016-10-10 08:17] #1464 closed

[2016-10-10 08:39] grdw opened #1488 "Duplicating "the template" Topology and Market Model when creating a LES"
What if - when creating a LES - we duplicate the topology and market model. This way the topology and market model will always be unique and belong to one LES. If somebody destroy their LES, they'll destroy the topology and market model (easy as that).

I'd also like to introduce an `template` (boolean) column to indicate that a topology or market model is a template. This would mean that only tho

[2016-10-10 11:10] ChaelKruip commented on #1488
👍

Does this mean that the user can only choose these templates when starting a new LES?

Also, what happens if you clone a LES? Wouldn't you also need to duplicate non-template market models and topologies?

[2016-10-10 12:15] grdw commented on #1488
Yes. And you 'clone' the template (topology or market model) when creating a new LES.

You would duplicate/clone the topologies/market models from the LES in question. Also you can just keep the exact same name, since that doesn't matter that much. As long as you don't use the same names for the templates.

[2016-10-10 12:26] antw commented on #1488
This basically *is* #839 isn't it? Only in this issue "Featured" is now called "Template"? :grinning:

I agree with this idea though.

[2016-10-10 12:28] grdw commented on #1488
Wasn't 839 the idea to sort of combine a Market Model and Topology as one whole unit? I can remember this being *said* in a meeting with @ChaelKruip once. So it could be that it wasn't really speicified in a Github issue.

[2016-10-10 12:38] ChaelKruip commented on #1488
I think it is good to become more concrete about what we really want here! 👍

For me the main advantages would be:
* less clutter in the list of topologies and market models
* more transparency in the code, the work-flow and the head of the user
* less ugly names including 'Clone #1- Clone #2-like strucutures' 😄

[2016-10-10 12:46] antw commented on #1488
Goodness no. At least I hope not.  I appreciate the scribbles in that issue aren't very clear.  😆

The intention was that we'd have "featured" topologies and market models (or "templates" in this issue) which would be created the same as they are today, on `topologies/new` and `market_models/new`.

Then when you create a LES you would have the option of cloning one of these templates, or to copy a

[2016-10-10 13:02] grdw commented on #1488
Hmm.. yes. Interesting thought. I would think it's quiet allright that way. We could also not save the duplicate topology as a new topology in a table. The things you would edit in the `Topology` tab would be everyting from the `technology_profile` column except the `children`. The thing we would store in the `technology_profile` would be the (now called) `Topology` attributes + all the technologi

[2016-10-11 08:37] grdw opened #1489 "The topology and the technology matrix"
Issue created from comment [here](https://github.com/quintel/etmoses/issues/1488#issuecomment-252608355)

[2016-10-11 08:51] grdw opened #1491 "When collapsing and expanding the nodes the opacity of the children's nodes don't revert."
![screen shot 2016-10-11 at 10 51 06](https://cloud.githubusercontent.com/assets/2676542/19264348/b0574928-8fa0-11e6-9a6f-2df248758e35.png)

Considering this really minor.

[2016-10-11 09:15] grdw opened #1492 "Rename tab headers"
![screen shot 2016-10-11 at 10 53 29](https://cloud.githubusercontent.com/assets/2676542/19264423/0da64804-8fa1-11e6-9ee1-4872cb9c7a58.png)

Reading from right to left I would expect "Network" to be "Electricity load", however I know that there's gas load and heat load in the chart that's presented in the "Network" tab aswell (at the endpoints). This is a bit confusing in a way, because you would

[2016-10-11 09:33] grdw commented on #1474
A validation shouldn't trigger an error ...

[2016-10-11 12:56] #1479 closed

[2016-10-11 13:05] dennisschoenmakers commented on #1444
*Comment from Airbrake:* Resolved [error](https://quintel.airbrake.io/projects/111227/groups/1778980440429279689) reoccurred.

[2016-10-12 08:00] grdw opened #1494 "Heat pump profile assigned while attached to a buffer"
This [LES](https://moses.energytransitionmodel.com/testing_grounds/522) had a profile assigned while being attached to a buffer. This caused the `technology_profile` to become invalid and therefor unable to be cloned or duplicated.

Server log:

[code]

I removed the profile manually from the database and all went well.

The question remains, how can this be?

[2016-10-12 09:29] dennisschoenmakers opened #1495 "[Airbrake] [Production] undefined method `/' for "2001795,1072001795,1072001795,1072001795,107":String"
**Airbrake error:** [#0571](https://quintel.airbrake.io/projects/111227/groups/1794831559231520571)
**Airbrake project:** ETMoses

**Error type:** `NoMethodError`
**Error message:** `` undefined method `/' for "2001795,1072001795,1072001795,1072001795,107":String ``
**Where:** `testing_grounds#data`
**Occurred at:** Oct 12, 2016 09:29:54 UTC
**First seen at:** Oct 12, 2016 09:29:54 UTC
**Occurrenc

[2016-10-12 14:20] grdw commented on #847
I discussed with @ChaelKruip and found out that scrolling towards the newly added technology is acutally quite nice. 😄 However, for this to work even better we thought of adding a "focus" style. I'm playing a bit with what looks 'nice'. I used a glowing border first but that didn't look so pretty:

![screen shot 2016-10-12 at 16 15 18](https://cloud.githubusercontent.com/assets/2676542/19313533/18

[2016-10-12 14:30] ChaelKruip commented on #847
I prefer the blue over the green and glowing but that's a personal taste I guess 🙂

[2016-10-12 15:48] grdw opened #1497 "Removing a topology node is unclear"
Hitting the `delete` key is a bit to obscure.

**Options to consider:**

### 1

Remove button on the bottom right of the form menu:
![screen shot 2016-10-12 at 17 45 55](https://cloud.githubusercontent.com/assets/2676542/19316978/c3999924-90a3-11e6-9e22-352463bafde2.png)

---

### 2

[code]

From [here](https://github.com/quintel/etmoses/pull/1484#issuecomment-252911119).

---

### 3

Another opti

[2016-10-13 08:06] grdw commented on #1497
Ping @antw @ChaelKruip if I could get your opinion 👍

[2016-10-13 08:37] antw commented on #1497
(2) and (3) are my favourites.

(3) looks a little cluttered, but I think that's just because of the two "add node" buttons in that screenshot. In our case the button would be part of the pop-up, so it wouldn't look as busy. It might be preferable to show it below the node instead of above, to avoid covering up the parent nodes and to emphasise that the `+` adds a child?

I suppose (2) could be im

[2016-10-13 08:41] grdw commented on #1497
3. Because it's been proved to be working in multiple mindmap tools I've seen thusfar and it's futureproof because we might probably be adding more interesting buttons and features in the future.

[2016-10-13 08:42] ChaelKruip commented on #1497
I actually think (1) allows us to keep the topology view less cluttered than (2) and (3) but might become confusing because you would use the same dialog to *change attributes* of the node and *apply operations* to the node.

I think (3) has my (slight) preference because it makes a clear separation between things about attributes (in the dialog to the right) and things related to topology-buildin

[2016-10-13 11:58] grdw commented on #1497
I'm now at a stage where it looks like this:

![screen shot 2016-10-13 at 13 40 40](https://cloud.githubusercontent.com/assets/2676542/19347738/a6441a78-914a-11e6-8527-a56e3b51cb93.png)

The position is a few pixels of (that's due to the dragging of the tree). My guess is that there's some rounding in the `left` position of the `g`-tag and. To get to the point, this is functional but it doesn't lo

[2016-10-13 12:01] antw commented on #1497
Definitely agree. :+1:

[2016-10-13 12:08] antw commented on #1497
... although I would prefer slightly different wording, since one adds a *child* node and the other removes the *selected* node. I think we should shy away from using the word "node" in the frontend, since it's a data-structure term, and "component" is more descriptive to end-users.

What about: "Add child component" and "Remove this component"?

[2016-10-13 12:22] grdw commented on #1497
I'm sort of inbetween (2) and (3) at the moment 😆

I like to keep it as the last image in my previous comment (if anyone objects, please say so). I think the trash icon is actually pretty clear in this context.

When there'll be more features in the future we can expand the amount of buttons quiet easily;

Like a 'shuffle this node to a random other position feature':

![screen shot 2016-10-13 at

[2016-10-13 12:38] grdw commented on #1497
![screen shot 2016-10-13 at 14 33 47](https://cloud.githubusercontent.com/assets/2676542/19349185/150fa358-9152-11e6-900f-601eeb815842.png)

One problem though: I'm able to drag the popup outside of the container 😢 (as shown in the image).  I'm trying some weird combination of `z-index`'es but can't seem to find the ideal solution. Maybe I need to include the elements in the d3 graph?

@antw do yo

[2016-10-13 12:47] antw commented on #1497
Maybe hide the popup whenever the user starts dragging by hooking into the `zoomListener` function somehow?

Or detect any `mousedown` inside the tree which isn't on a node or the popup, and hide the popup? This doesn't help if the user clicks the node and drags though (although it would be nice to not trigger the drag behaviour if the mousedown target is a node/popup ([final bullet point here](ht

[2016-10-13 14:22] grdw commented on #1497
Yes that is the fix! 👍

However, I also needed [this](http://stackoverflow.com/questions/4605715/position-absolute-and-overflow-hidden).

[2016-10-13 15:13] grdw commented on #1497
It doesn't do this when it's a popup 👍 . It does do it when it's a node 👎 . I'm able to capture the event target when I'm zooming like this:

[code]
This means that I only apply the transition of the `svg` when my initial mousedown was on the `svg`. However when I click on the `circle` and even barely move out of the `circle` my `zoomListener` does go into effect resulting in a really stuttery zoo

[2016-10-14 08:06] grdw opened #1498 "If the user clicks the node and drags it would be nice to not trigger the drag behaviour if the mousedown target is a node"
It doesn't do this when it's a popup 👍 . It does do it when it's a node 👎 . I'm able to capture the event target when I'm zooming like this:

[code]
This means that I only apply the transition of the `svg` when my initial mousedown was on the `svg`. However when I hold my mousedown on the `circle` and even barely move out of the `circle` my `zoomListener` does go into effect resulting in a really

[2016-10-14 08:06] grdw commented on #1497
Created a separate issue here https://github.com/quintel/etmoses/issues/1498

Closing this issue.

[2016-10-14 08:06] #1497 closed

[2016-10-14 08:07] dennisschoenmakers commented on #1419
*Comment from Airbrake:* Resolved [error](https://quintel.airbrake.io/projects/111227/groups/1773169212180119126) reoccurred.

[2016-10-14 09:07] grdw commented on #1498
Ow wait, the answer is already [here](https://github.com/quintel/etmoses/blob/master/app/assets/javascripts/les/topology_load_charts/tree_graph.js#L224-L228). 😄

[2016-10-14 09:11] #1498 closed

[2016-10-14 09:15] #1459 closed

[2016-10-14 09:44] grdw commented on #1469
Do you have a link to the LES in question?

[2016-10-14 09:46] grdw commented on #1469
That explains a lot...

**Firefox:**
![screen shot 2016-10-14 at 11 45 25](https://cloud.githubusercontent.com/assets/2676542/19383265/b6f27838-9203-11e6-890f-e7fdbea54d9a.png)

**Chrome:**
![screen shot 2016-10-14 at 11 46 10](https://cloud.githubusercontent.com/assets/2676542/19383292/d4158f18-9203-11e6-91ea-4b688b398470.png)

[2016-10-14 09:57] #1469 closed

[2016-10-15 12:59] #1412 closed

[2016-10-15 12:59] #1432 closed

[2016-10-15 12:59] #1433 closed

[2016-10-15 12:59] #1434 closed

[2016-10-17 07:54] grdw commented on #847
@ChaelKruip do you mean glowing - as in - all around glowing? So option 1?

[2016-10-17 08:25] ChaelKruip commented on #847
No, I mean that the blue bar has my preference.

[2016-10-17 09:13] grdw commented on #1085
There's a bin file for this now [here](https://github.com/quintel/etmoses/blob/master/bin/sync_profiles).

Closing issue

[2016-10-17 09:13] #1085 closed

[2016-10-17 09:14] grdw commented on #1315
With the new topology editor this is not possible anymore. Therefor closing this issue.

[2016-10-17 09:14] #1315 closed

[2016-10-17 09:16] grdw commented on #1262
I think this is solved by https://github.com/quintel/etmoses/commit/98e0a730b3b222ac321f03025c220615e2e6c7ab#diff-28b8f12a979f4ed447a3c31fdc44670e

[2016-10-17 09:16] #1262 closed

[2016-10-17 11:38] DorinevanderVlies opened #1499 "Wanted, clone option in "edit topology""
When working on a topology it can be useful to use an existing topology to start with. Currently there is no `clone` option when editing a topology.

Previously this was less necessary as the YAML code of an existing topology could be copied to a new empty topology. With the new interface lay-out (which I really like btw!) this copying is not possible any more.

[2016-10-17 11:47] DorinevanderVlies opened #1500 "Wanted, option to insert a node in a topology"
When editing a topology sometimes at a later stage the need for an extra node between two other nodes arrises. For example to include costs for an extra stakeholder.

Currently it is not possible to insert a node between to other nodes. I realise that with the hierarchical YAML structure this might be difficult. For me it is not a _must-have_, but a _nice-to-have_.

**Example of inserting a node**

[2016-10-17 12:18] grdw opened #1501 "CRUD topology template"
I have a database table with `topology_templates`. I'm currently trying to think about who can do what. Creating a `topology_template` seems like something a normal user might no be able to do but I'm no quite so sure about that. In order to remove clutter from the database we might only allow admin users to create, edit and remove `topology_templates`.

Editing a topology template comes with no h

[2016-10-17 12:22] grdw opened #1502 "Creating a new topology template -> menu item"
![screen shot 2016-10-17 at 14 21 48](https://cloud.githubusercontent.com/assets/2676542/19437301/0ea52a12-9475-11e6-92dc-824db0242413.png)

[2016-10-17 13:33] grdw opened #1503 "Detach topology from LES"
The current LES's are dependable on the topologies table. We need to merge them together in order for the LES to become independent of a `topology`.

---

When that's all done we need to move the old topologies to the template topologies. Can we than remove all the clones and variations or should we keep everything? @ChaelKruip do you have some insight into this.

[2016-10-17 13:58] #847 closed

[2016-10-17 14:11] ThomBuijs opened #1504 "How to add solar boiler"
For my scenario I want to add a solar boiler technology. I am struggeling to think of a way to add this in ETMoses. I can use the profile of a PV panel and was thinking of applying this profile to a heatpump but this is not possible.

Do you have any thoughts on how I can implement a solar boiler in ETMoses. Because it generates heat from the Sun it should have first priority to meet the heat dema

[2016-10-18 09:04] JeroenvdLogt opened #1505 "Wrong technology table"
I want to work on LES 425 (impact energiebesparing huishoudens op piekbelasting - referentie) on the production server. But the technology table is corrupted.

![image](https://cloud.githubusercontent.com/assets/7781037/19471182/8c22a50c-9522-11e6-8c26-87ac14704f9b.png)

[2016-10-18 09:40] ChaelKruip commented on #1505
@antw can you take a look at this please?

[2016-10-18 09:53] antw commented on #1505
I've fixed this LES by hand. FYI @grdw, the buffers were both missing a `type` and an incorrectly set `composite_value`:

[code]

[2016-10-18 10:59] ChaelKruip commented on #1504
I think https://github.com/quintel/etmoses/issues/1415 would go a long way towards solving this once implemented.

I think that I would try to (ab)use the district heating sources to do this. You can specify a must-run source to represent the solar heater and upload a solar profile to be used there. If you also connect a hybrid heat pump to the same end-point (as the district heater), I think you

[2016-10-18 11:32] JeroenvdLogt commented on #1505
Thank you, Okay it seems to work now. The profiles themselves are not changed?
I encounter the same problem with LES 424(impact energiebesparing huishoudens op piekbelasting - referentie + traditionele netverzwaring) en LES 426 (impact energiebesparing huishoudens op piekbelasting - goede isolatie). I think this is the same issue because I made the 3 LES'en at te same day.

[2016-10-18 11:36] antw commented on #1505
Profiles and all other technology settings should be exactly as you left them; they have not been changed by myself.

I fixed LES 426 earlier but missed 424; I've now fixed that one also.

[2016-10-19 05:38] ThomBuijs commented on #1504
Thank you, I'll try that :D

[2016-10-19 11:13] ChaelKruip opened #1506 "The user should be able to edit the 'units' of a node"
![etmoses](https://cloud.githubusercontent.com/assets/1303760/19516755/c941498a-95fd-11e6-92c2-8b5f1a208118.png)

[2016-10-19 11:30] grdw opened #1507 "I don't need to sign in for electricity load, but I do for gas and heat load"
Is that ok behavior? @ChaelKruip @antw

It seems odd to me.

[2016-10-19 11:32] antw commented on #1507
Me too. :+1:

[2016-10-19 11:59] grdw commented on #1507
The business case is also behind a sign in wall so it seems.

[2016-10-19 14:26] grdw opened #1509 "Adding technical lifetime, initial investment, yearly o and m costs to gas asset table"
I added the three columns + they are editable. However this makes the attributes that are stored in the `db/static/gas_assets/**/*.yml` files act as defaults. Should they be? @ChaelKruip

[2016-10-19 14:32] ChaelKruip commented on #1509
I think that is fine! We don't have any other numbers anyways right?

[2016-10-19 14:35] #1506 closed

[2016-10-20 08:52] grdw commented on #1507
Ping @ChaelKruip

[2016-10-20 08:54] #1509 closed

[2016-10-20 08:58] ChaelKruip commented on #1507
It is not clear to me what this issue is about. Are we talking public LESses?

I think that anyone should be able to explore load (G, H, E) and the business case of public LESses without the need for an account.

[2016-10-20 09:04] grdw commented on #1488
I'm wondering how we're going to duplicate the topology columns. The first step would be to take a template:

[code]

Than duplicate it when importing. So create a `Topology` with a graph and that's it.

---

The next step would be to look at ways to improve the `technologies_profile` column implementation. It would be cool if you could rename end-points, and if you could have a technology matrix

[2016-10-20 09:29] grdw opened #1511 "Migrate Topologies -> Topology Template"
- [x] Write migration
- [x] Run migration
- [x] Waaaahhh, everything is broken
- [x] Fix specs, fix code

[2016-10-20 09:29] grdw commented on #1507
Yes.

[2016-10-21 09:43] dennisschoenmakers opened #1512 "[Airbrake] [Staging] TypeError: String can't be coerced into Float"
**Airbrake error:** [#9018](https://quintel.airbrake.io/projects/111227/groups/1801361367394399018)
**Airbrake project:** ETMoses

**Error type:** `TypeError`
**Error message:** `` TypeError: String can't be coerced into Float ``
**Where:** `DelayedJob Worker`
**Occurred at:** Oct 21, 2016 09:43:24 UTC
**First seen at:** Oct 21, 2016 09:43:24 UTC
**Occurrences:** 0 (0 since last deploy on Oct 20,

[2016-10-21 09:43] dennisschoenmakers opened #1513 "[Airbrake] [Staging] String can't be coerced into Float"
**Airbrake error:** [#6492](https://quintel.airbrake.io/projects/111227/groups/1801361367469896492)
**Airbrake project:** ETMoses

**Error type:** `TypeError`
**Error message:** `` String can't be coerced into Float ``
**Where:** `<no information>`
**Occurred at:** Oct 21, 2016 09:43:24 UTC
**First seen at:** Oct 21, 2016 09:43:24 UTC
**Occurrences:** 0 (0 since last deploy on Oct 20, 2016 08:56:4

[2016-10-21 13:00] grdw opened #1514 "Update the Y-axis label when you hide and show different carriers"
<img src="http://g.recordit.co/y1GU6zeqfD.gif"/>

If you turn of the  `gas` and `electricity` the `heat` is still in MW. It would be nice if the chart could autoscale to `kW` in this perticular case.

[2016-10-21 14:22] grdw commented on #1512
Looks like someone turned `technical_lifetime` into a string in the `gas_asset_list`.

One moment please.

[2016-10-21 14:47] grdw opened #1516 "Changing the quantity column in gas asset list doesn't trigger an update"
It doesn't save those changes into the database. This is due to duplicate `change` listeners.

[2016-10-21 14:56] grdw opened #1518 "Not able to run migrations regarding changes in Topologies/Market Models in serie"
For #1515 I updated the migrations to run in a single go. However they don't (it works in 2 goes, but it works). Appearantly after I remove x-columns from the `topologies` table and try to create a unique `topology` per LES, Mysql tries to store columns to the database which no longer exist.

Is this because the `Topology.find_by_id` still finds the old records from cache?

Do you know what this m

[2016-10-24 07:56] grdw commented on #1516
Even weirder, the `change` event always seems to lag one change.

For instance the value is 0.0:

0.0

I type 22:

The value remains 0.0

I type 21

The value becomes 22.

Etc.

[2016-10-24 07:58] #1516 closed

[2016-10-24 08:10] grdw opened #1519 "Should somebody be able to create a LES without being signed in. Much as at ETModel."
I was just wondering if that can be possible. 🤔 A bit in the same fashion like ETModel. Where you can play around but can't save anything?

[2016-10-24 08:12] antw commented on #1518
After making the changes to the table structure, try running [`Topology.reset_column_information`](http://apidock.com/rails/ActiveRecord/ModelSchema/ClassMethods/reset_column_information).

[2016-10-24 08:18] #1518 closed

[2016-10-24 08:18] grdw commented on #1518
Yes that was it 👍 thanks!

[2016-10-24 08:19] #1511 closed

[2016-10-24 08:28] grdw commented on #1489
I'm really excited to do this. This enable to freely rename `Topology` nodes + you could very easily adapt the existing Topology editor to be used as an interface to select parts of the Technology Profile Matrix as once stated in an issue.

I do have some things that need to be researched like the maximum amount of data one column can hold before it becomes too large and Mysql starts complaining.

[2016-10-24 08:36] ChaelKruip commented on #1519
I like that! 👍

[2016-10-24 08:45] ThomBuijs commented on #1504
Hey I am trying to use the district heating sources for my solar boiler, but the problem is that the district heating has a buffer volume. Therefore the output of the district heating, doesn't correspond with the solar boiler profile that I gave it. In my LES I am not using a buffer therefor I don't want this effect to happen. Is there a possibility to work around this or any other solution?

[2016-10-24 10:09] grdw opened #1520 "Combining the topology editor with the profile matrix"
![test](https://cloud.githubusercontent.com/assets/2676542/19641788/97ad2e1e-99e2-11e6-8264-7dfe520500f0.png)

Related to: #1489

[2016-10-24 11:44] ChaelKruip commented on #1504
@antw @grdw how much time would you estimate this would need?

An other approach would be to give the user the possibility to change the buffer capacity of the heat network (currently 10kWh per connection) with a slider or a input field. @antw @grdw how much time would you estimate this would take?

[2016-10-24 12:23] antw commented on #1504
#1415 is trivial, but I don't think it solves this. "Other" is a standalone technology which has its own profile; it cannot belong to a buffer.

It is also not possible for a technology to simultaneously belong to a heat buffer *and* have an individual profile, so it is not trivial for us to add a custom technology for solar boilers.

1 day.

[2016-10-24 12:32] ChaelKruip commented on #1504
Would this be helpful to you @ThomBuijs? If so, we can see if we can find the time to do this.

[2016-10-24 13:34] ThomBuijs commented on #1504
If the buffervolume could be set to 0, will ETMoses automatically scale the heat profile according to the maximum output of each building. So if Building 1 has a solar boiler energy production of 10 kWh a year with a output capacity of 5 kW and buidling 2 has a solar boiler energy production of 5 kWh a year with a output capacity of 2.5 kW. I will specify a total profile for the generic must run o

[2016-10-24 13:39] grdw commented on #1500
This sounds really nice. I get why this can be problematic. Especially if you've drawn a lot of children already.

There are multiple solutions.

*Functionally:*
- [ ] Add a button to insert a node
- [ ] Only show that button when the underlying node has more than 0 children.

One thing we could do is, add another + button in between the two lines. Indicating an 'insert'.

![screen shot 2016-10-24

[2016-10-24 13:57] DorinevanderVlies commented on #1500
With respect to your two button options, I have a preference for:

This implicates using the second of your functionality options

[2016-10-24 15:00] #1503 closed

[2016-10-24 15:44] antw opened #1522 "[Airbrake] [Staging] NoMethodError: undefined method `-' for "":String"
**Airbrake error:** [#0786](https://quintel.airbrake.io/projects/111227/groups/1803711956061240786)
**Airbrake project:** ETMoses

**Error type:** `NoMethodError`
**Error message:** `` NoMethodError: undefined method `-' for "":String ``
**Where:** `DelayedJob Worker`
**Occurred at:** Oct 24, 2016 15:38:54 UTC
**First seen at:** Oct 24, 2016 15:33:34 UTC
**Occurrences:** 8 (8 since last deploy on

[2016-10-24 15:45] antw commented on #1522
I think this is similar to #1517: a blank capacity is being saved as `""`.

[2016-10-24 16:39] antw commented on #1504
@ThomBuijs You can now find this feature on the [ETMoses test site](https://beta-moses.energytransitionmodel.com). Click "Edit LES" then "General", and you'll find the setting just above the "Save" buttons:

![screen shot 2016-10-24 at 17 36 17](https://cloud.githubusercontent.com/assets/4383/19654509/7e506d36-9a10-11e6-9125-a20bfd176f6c.png)

Hopefully this solves your problem, so I'll close this

[2016-10-25 05:27] ThomBuijs commented on #1504
Thank you for your help. I see you already changed a few things on the beta server. I am working with this [LES](https://moses.energytransitionmodel.com/testing_grounds/632/edit) on the pro server. How can I easily put my TechTable, Topology and Market Model to the beta server? Also for my gas asset list, however I can enter this one manually since it isn't so large.

[2016-10-25 07:58] ChaelKruip commented on #1503
I think we should remove everything unless it breaks/changes existing LESses. Also, please, please, keep a back-up of the databases.

[2016-10-25 08:02] grdw commented on #1503
Yes 👍

[2016-10-25 08:17] antw commented on #1504
I've now added the change to that server, so you should be able to continue using your LES there.

[2016-10-25 12:17] #1502 closed

[2016-10-25 14:10] grdw opened #1523 "Who can feature a template?"
Should only admin user be able to this?
Also, can there be such a thing as a `private`, `featured` template. It seems like a bit of an odd ball to me. It would make `featured` sound a bit more like `bookmarked` in that fashion.

[2016-10-25 14:29] antw commented on #1523
I think so. A featured template should be forced to be public, with no option to set it as private.

[2016-10-26 07:41] ThomBuijs commented on #1504
When I use the district heating, assign a heat profile to the generic must run equal to the profile of a PV profile it doens't correspond to the profile of a PV panel. I enter the maximum heat production for the heat source to be equal to the maximum yearly output.
![heat network](https://cloud.githubusercontent.com/assets/20039533/19717082/412c57e4-9b5f-11e6-917d-4c8d0b064cae.PNG)

So in my case

[2016-10-26 08:06] grdw opened #1524 "Why do we save a dispatchable attribute with must run heat sources?"
I was checking some issues with #1517 and I found [these 2 lines](https://github.com/quintel/etmoses/blob/master/app/views/heat_source_lists/_must_run_table_row.html.haml#L29-L30). I was wondering why we do this?

Ping @ChaelKruip

[2016-10-26 08:08] ChaelKruip commented on #1524
No idea!

[2016-10-26 08:09] grdw commented on #1524
Maybe it's some old relic from when the heat source list was a single table and contained both dispatchable and must run sources. I'll remove it 😅

[2016-10-26 08:13] grdw commented on #1524
To elaborate; `dispatchable` is an attribute which is determined by the `db/static/technologies/*.yml` files and must not be determined by an attribute in the `heat_source_list`.

[2016-10-26 08:13] #1524 closed

[2016-10-26 08:30] ChaelKruip commented on #1504
Could it be that you missed a factor of 1000 somewhere? Your heat demand is in MW but your total production is in kWh. If you look closely, there is a but of production in your plots but is is just too small.

[2016-10-26 08:32] ChaelKruip commented on #1504
@antw Could you have a look if this is a display issue? It seems that the first week of January of the heat profile is shown even if a week in July is selected...

[2016-10-26 09:29] grdw opened #1525 "Sorting the index template page"
![screen shot 2016-10-26 at 11 27 58](https://cloud.githubusercontent.com/assets/2676542/19720629/47ab27de-9b6f-11e6-90d3-ae3a02041d3b.png)

I'm currently grouping the templates.

Would like some feedback on look and styling. This looks odd.

- [x] For one I think `created_at` is a weird column to show. I don't think that many users actually care that deeply about it. I think this can be transfere

[2016-10-26 09:31] antw commented on #1504
@ThomBuijs This should now be fixed.

[2016-10-26 10:51] ThomBuijs commented on #1504
Sadly, when I look at the first week of July it still looks strange in the sense that the solar boiler starts later with producing :(

![strange behaviour](https://cloud.githubusercontent.com/assets/20039533/19723283/dc1e21ea-9b7a-11e6-9e80-14929bb3e506.PNG)

[2016-10-26 10:53] dennisschoenmakers commented on #1474
*Comment from Airbrake:* Resolved [error](https://quintel.airbrake.io/projects/111227/groups/1789160003738251750) reoccurred.

[2016-10-26 11:08] antw commented on #1504
The profile used on the heat buffer has no demand during those periods:

<img width="584" alt="screen shot 2016-10-26 at 12 06 57" src="https://cloud.githubusercontent.com/assets/4383/19723794/e342e5ce-9b74-11e6-9001-b9d49ffe9521.png">

<img width="1166" alt="screen shot 2016-10-26 at 12 07 48" src="https://cloud.githubusercontent.com/assets/4383/19723798/e648e6d8-9b74-11e6-964c-999be9d1fd82.png">

[2016-10-26 11:12] ThomBuijs commented on #1504
Oh, thank you for seeing that :D. Then the issue is solved!

[2016-10-26 11:26] grdw commented on #1474
This has to be the `production` environment triggering this error.

[2016-10-26 11:43] ThomBuijs commented on #1504
I am trying to test in this [LES](https://moses.energytransitionmodel.com/testing_grounds/643/edit) if it is possible to assign different buffers on the same heat network in such a way that the total produced heat by the heat network is divided by each end node (three in this LES), with respect to their maximum capacity output. But I don't succeed at doing this and I don't know if the model is cap

[2016-10-26 12:25] grdw commented on #1525
@ChaelKruip

![screen shot 2016-10-26 at 14 25 02](https://cloud.githubusercontent.com/assets/2676542/19725815/036fd718-9b88-11e6-9a30-f95f5bb09a98.png)

[2016-10-26 12:29] DorinevanderVlies opened #1526 "Pressing "save all and view LES" after selecting a .csv doesn't not save, but does open LES"
Pressing "save all and view LES" after selecting a CSV does not save, but does open the LES.

I often automatically press "save all and view LES" after selecting a CSV file. Especially when just a small change was made to the previous CSV I often don't notice that the technology profile was not updated.

This might be a known bug, I have heard @ChaelKruip mention it, but I couldn't find a ticket a

[2016-10-26 12:32] DorinevanderVlies opened #1527 "Wanted, more information when I try to upload a CSV containing an error"
Currently when a CSV containing one or more errors is saved the following error message pops up:

![image](https://cloud.githubusercontent.com/assets/19907658/19725929/b630797a-9b88-11e6-8e38-1fabe8875c0d.png)

This makes debugging the CSV pretty difficult. It would be very nice if some more feedback about the cause of the error was provided.

[2016-10-26 12:36] antw commented on #1525
![file 26-10-2016 13 34 37](https://cloud.githubusercontent.com/assets/4383/19726120/27675724-9b81-11e6-89e4-eaf44a4fb623.jpeg)

[2016-10-26 12:48] DorinevanderVlies opened #1528 "Split between individual and aggregated load profiles is not always practical"
### Current situation:
Currently for <31 units an individual load profile for electricity has to be selected.
For >30 households an aggregated profile has to be selected.

### Problem:
There are cases when I want to assign an aggregated profile to <31 households.
For example when I have different end nodes to represent different stakeholders. But, on the network these nodes are connected to one tr

[2016-10-26 13:01] DorinevanderVlies opened #1529 "Manually added profile does not show up in technologies interface"
As I think the following problems are highly correlated I put them in the same ticket.

### Problem 1:
I made new profile on the beta server:
[EDSN E1A for indiv households](
https://beta-moses.energytransitionmodel.com/load_profiles/454)
This profile is a copy of ESDN E1A, I want it to be an individual load profile as a quick fix of #1528.

Currently I cannot select this profile in the "edit tech

[2016-10-26 13:15] DorinevanderVlies opened #1530 "Business case of my LES cannot be calculated"
In this [LES](https://beta-moses.energytransitionmodel.com/testing_grounds/767) the business case cannot be calculated.

Is it possible to see what's going wrong?

![image](https://cloud.githubusercontent.com/assets/19907658/19727208/c5b553c4-9b8e-11e6-837d-6294ab669860.png)

[2016-10-26 15:34] ChaelKruip commented on #1529
I think the profile did not have any 'permitted technology' selected. I added one:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/19732831/66517822-9ba2-11e6-9807-0b64dfc6e1a1.png)

@DorinevanderVlies can you check if it works now?

[2016-10-26 15:48] ChaelKruip commented on #1504
The capacity output of what exactly? The end-points?
The must-run source only has a total production (not a capacity).

[2016-10-26 15:56] ThomBuijs commented on #1504
Oh I meant the capacity output of the district heating technology as specified in the technology table. My apologies for not making this clear. The district heating technologies represent the solar boilers.

[2016-10-26 16:06] ChaelKruip commented on #1504
The must-run sources for the heat network only have a total production (not a capacity). When you have a profile and a yearly production, the maximum capacity is fixed by those two parameters.

What happens now if you connect multiple end-points to the network is that the solar boiler will satisfy the total heat demand. It will not limit its flow to any end-point. What you might try to do, however

[2016-10-27 07:23] grdw commented on #1530
Your business case was never calculated. I'm currently figuring out why.

[2016-10-27 07:48] ThomBuijs commented on #1504
Yes that is what I meant. However if I try to make such a LES, ETMoses crashes. I scale my LES from ETM, then I choose the default topology (3 end nodes) and market model. I name my LES, let it calculate the LES for a year and get no error. Then I delete the technologies in the technolgy table step by step and only leave the buffer for space heating and household space heater combined network gas

[2016-10-27 07:57] ChaelKruip commented on #1528
I prefer this option.

@antw @grdw what do you think?

[2016-10-27 07:57] ChaelKruip commented on #1528
@grdw can you pick this up?

[2016-10-27 08:02] ChaelKruip commented on #1525
With respect to https://github.com/quintel/etmoses/issues/1525#issuecomment-256331774, I think that if there are many we should show a few LESses and a 'show more' link to unfold the whole list.

I like the visual idea of @antw where you can preview the features topologies. Perhaps we can also render previews of the others upon clicking them.

[2016-10-27 08:07] grdw commented on #1527
I'm thinking this is part of a larger problem. In a way I understand why we support CSV editing in another way I would find it way better if we could get rid of it. 😈  Because you use the CSV editor it means that there's something wrong with the profile matrix editor or some essential feature(s) missing. I would like to know why it's preferable to use the CSV as input over the profile matrix edito

[2016-10-27 08:10] grdw commented on #1525
Maybe we could visually preview the featured + your templates. And leave the others like they are? 😄 I mean, visually showing every topology template might become a bit painful for the browser.

[2016-10-27 08:12] grdw commented on #1525
We could also show this on the `show` page of a `topology template`. When you click one of the topology templates. This doesn't necessarily have to be on the `index` page.

[2016-10-27 08:24] ChaelKruip commented on #1525
That's why I suggested to wait until the user clicks them to render a preview:

[2016-10-27 08:25] ChaelKruip commented on #1525
👍

[2016-10-27 08:26] DorinevanderVlies commented on #1529
Yes, it's working! Thanks, I think I overlooked that part after selecting the category..

Although I did have to select "household" again just now.

It raises another question, it seems that I cannot define whether my profile is for aggregated or individual households. That should be possible right?

[2016-10-27 08:28] DorinevanderVlies commented on #1528
An other option is that the difference between individual and aggregated profiles is just defined in the name of the profile.  So, not all profiles can be used for all numbers of households. Like it is for water heating.

I think I prefer this option.

[2016-10-27 08:30] grdw commented on #1528
We could make this way more easy. The easiest way would be getting rid of the `< 31` threshold and make it possible to create a separate `base_load_edsn` and `base_load` technology. I think it's a bit 'unfair' to only make this possible with a CSV input (in fact I'm not a big fan of the CSV input) and not in the profile matrix editor.

[2016-10-27 09:10] ChaelKruip commented on #1529
You can choose "Household" or "Household aggregated".

Closing.

[2016-10-27 09:10] #1529 closed

[2016-10-27 09:41] grdw commented on #1525
![screen shot 2016-10-27 at 11 41 07](https://cloud.githubusercontent.com/assets/2676542/19762450/45db0688-9c3a-11e6-8de1-57764321e78d.png)

[2016-10-27 10:24] grdw commented on #1525
![screen shot 2016-10-27 at 12 15 19](https://cloud.githubusercontent.com/assets/2676542/19763599/0be0f406-9c3f-11e6-8418-7b6c728df6c7.png)

With a little bit more fancy details.

[2016-10-27 11:51] #1526 closed

[2016-10-27 12:13] grdw opened #1531 "Select topology templates based on the scaling attribute of the scenario"
Topology templates should be in the list on the import screen depending on the scaling factor of a certain LES. A topology usually represents a certain amount of households, a scenario usually is scaled to a certain amount of households. Now these two are not connected.

The way I see this technically is that we sum up all the units attributes from a `topology_template`. This will give us a maximu

[2016-10-27 12:48] grdw commented on #1483
I just imported the production database and runned the calculation locally but couldn't find that extra line.

![screen shot 2016-10-27 at 14 46 30](https://cloud.githubusercontent.com/assets/2676542/19767684/3a600050-9c54-11e6-9190-29dc9f3da002.png)

It has also dissapeared from from production. I'll close this for I can't see this strange extra line anymore. Re-open if it still occurs though.

[2016-10-27 12:57] grdw commented on #1468
What would be cool to do is, when there's a change to either the `heat_asset_list`, `heat_source_list`, `gas_asset_list`, `topology` or `technology_matrix` detect the change and automatically recalculate the business case.

The thing is, come to think of it, that `heat_asset_list`, `heat_source_list`, `gas_asset_list`, `topology` should only need to recalculate the depreciation costs of the busine

[2016-10-27 13:19] grdw commented on #1530
I got dragged of a bit into other issues. 😅 But to reply, your topology contains `String` values which is a bit of a problem to the business case calculation.

[code]

This problem will be fixed once #1517 is merged.

[2016-10-27 13:22] #1525 closed

[2016-10-27 13:28] #1523 closed

[2016-10-27 13:39] DorinevanderVlies opened #1532 "Changes made to topology layout in a LES are not saved"
It seems possible to change the topology in a LES, but it is not.

In "edit LES" there is a tab in which the topology can be adjusted. In the interface empty end nodes can be removed and the topology can be extended. In the interface this works (see image below). But the changes are not saved when "save" is pressed. On viewing the LES the old topology is still present.

Attributes like `investment

[2016-10-27 14:05] #1522 closed

[2016-10-27 14:08] dennisschoenmakers commented on #1512
*Comment from Airbrake:* Resolved [error](https://quintel.airbrake.io/projects/111227/groups/1801361367394399018) reoccurred.

[2016-10-27 14:08] dennisschoenmakers commented on #1513
*Comment from Airbrake:* Resolved [error](https://quintel.airbrake.io/projects/111227/groups/1801361367469896492) reoccurred.

[2016-10-27 14:17] #1513 closed

[2016-10-27 14:19] ChaelKruip commented on #1483
Still some weird things are going on. Now I have no sources for the heat network but still primary infrastructure to those sources in [this LES](https://moses.energytransitionmodel.com/testing_grounds/614).

[2016-10-27 14:24] grdw commented on #1532
Which topology is this? I was just changing a topology you made by hand in the database 😶. I know I should not do that, but at least I don't smoke.

[2016-10-27 14:25] grdw commented on #1530
Some LES's still contain stringed keys. I'll write a migration to fix those (5) topologies.

Affected topologies:

- Paddepoel Noord optie 1
- Paddepoel Noord optie 2
- 20161019 - Paddepoel noord v1
- 20161019 - Paddepoel noord v1 - Clone #1
- 20161019 - Paddepoel noord v1 - Clone #2

[2016-10-27 14:34] grdw commented on #1483
Unrelated I'll create another issue.

[2016-10-27 14:34] #1483 closed

[2016-10-27 14:34] grdw opened #1534 "Heat sources are gone but there's a primary heat infrastructure available in the heat assets"
I have no sources for the heat network but still primary infrastructure to those sources in this [LES](https://moses.energytransitionmodel.com/testing_grounds/614/edit).

[2016-10-27 14:36] grdw commented on #1483
#1534

[2016-10-27 14:41] grdw commented on #1534
I cannot seem to reproduce this on my own local machine. I think I know why this happens on production. Removing a line from the heat source lists doesn't list the `heat_source_list` as 'editable'. This way the correct update doesn't get triggered in the backend and the primary heat source list won't be regenerated.

I fixed it by hitting the single 'Save' key instead of the 'Save all and view LES

[2016-10-27 14:42] grdw commented on #1534
Ping @ChaelKruip

[2016-10-27 14:45] #1501 closed

[2016-10-27 14:46] grdw commented on #1499
On hold after #1515 is merged.

[2016-10-27 15:02] ChaelKruip commented on #1468
Unfortunately, it is not that easy. The energy flows can change by editing of heat_asset_list, heat_source_list, gas_asset_list and topology as well resulting in a different outcome of the market model transactions.

Yes. But because if is not clear how to do that I propose to trigger recalculation (in the background) with every change that is saved.

[2016-10-27 15:09] grdw opened #1535 "Heat source list should always have a default profile"
I was checking out LES 645 on production when I saw that his LES didn't calculate. I found out that if your heat source list item doesn't have a profile attached your network doesn't calculate.

[2016-10-27 15:12] #1512 closed

[2016-10-27 15:12] #1530 closed

[2016-10-27 15:15] antw commented on #1468
Only the heat source list can affect energy flows within the network calculation.

[2016-10-27 15:18] ChaelKruip commented on #1468
Right! I forgot that we currently don't include the impact of constraints in the flows. Good point @antw 👍

[2016-10-27 15:23] grdw commented on #1468
I think this needs to be like this:

-> Make change to for example heat source list
-> Check for pending business case jobs
-> If so, don't do anything, if not recalculate business case

Todo:
- [ ] Show spinner in header of business case (edit)
- [ ] Redraw the business case matrix when the business case calcualation is done (`Poller`).

[2016-10-27 15:28] ChaelKruip commented on #1531
This requires us to ensure that the units are given for the end-points of featured topologies.

I'm not sure if we should show all topologies with households > households_in_LES or also limit the size of the topology at some point. For example we could show topologies in the range 0.8 * households < connections in topology < 1.2 * households, or something similar.

[2016-10-27 16:12] antw commented on #1528
I'm not sure of the best solution, but I absolutely agree with this. We can't apply one set of rules to the normal interface and another to CSVs, otherwise things will break in unpredictable ways when you try to edit these LESes.

I, too, wish we could get rid of the CSV import (export is fine). It might be useful to know in which ways editing a CSV is easier than the normal technology editor, and

[2016-10-27 16:23] antw commented on #1528
It's worth noting that there is a difference between the individual and aggregated household technologies other than the profiles that may be chosen. Individual households (<30 units) permit use of the "postponing" strategy, while aggregated households use "saving".

An individual household technology (<30 units) with an "aggregated" profile will still using the "postponing" strategy.

I think thi

[2016-10-28 08:28] DorinevanderVlies commented on #1532
You are forgiven ;-).

This [LES](https://beta-moses.energytransitionmodel.com/testing_grounds/770) is a clone I assigned to this issue.

The topology is quite extensive. In the images I tried to delete 3 empty nodes connected to node "6" (on the left of the topology).

[2016-10-28 08:31] DorinevanderVlies commented on #1528
Sounds good to me

[2016-10-28 09:01] grdw commented on #1532
Yes I edited that topology by hand 👍 I think that's why it didn't save. If you'd just do the same thing now, all should be fine I guess. Unless it's another problem.

[2016-10-28 09:19] DorinevanderVlies commented on #1532
Thanks! Closing this issue.

[2016-10-28 09:19] #1532 closed

[2016-10-28 09:50] #1535 closed

[2016-10-28 09:58] ChaelKruip commented on #1528
Good ideas everybody!

Let's do it! 👍

[2016-10-28 12:13] grdw commented on #1528
I am currently exploring this issue and @ChaelKruip came with a really great suggestion. He suggested to determine the behavior based on the chosen `load_profile`. I think this might be a way to approach it.

So that way I assume. There will only be a single `base_load` technology with both aggregrated and non aggregated profiles. Their `curve_type` will determine if this profile will either be pu

[2016-10-28 13:01] antw commented on #1528
The exact technology behavior is determined by [InstalledTechnology#behavior_with_curve](https://github.com/quintel/etmoses/blob/8332308a6dd1b80af2c921d34f06ad6b70dbdafb/app/models/installed_technology.rb#L240-L250):

[code]

I'm a bit on the fence about this. It would definitely be a easier from the user's perspective to not have to choose between "individual" and "aggregated", but changing the t

[2016-10-28 13:05] grdw commented on #1528
I also agree with this. ⚖

[2016-10-30 10:39] ChaelKruip commented on #1528
I'm also not convinced about this solution to be honest.

[2016-10-31 10:13] grdw opened #1537 "Mark topology templates and market model templates as 'featured'"
@ChaelKruip could you create a moment of time where you can mark certain topology templates and market model templates as 'featured'. I'll feature the defaults ("Default topology" and "Default market model") for now.

[2016-10-31 11:18] grdw commented on #1468
I am currently thinking about this. All updates go through a `remote` js request. So technically there should be a javascript script which extends `FinanceTable` (I'd probably rename that file to `BusinessCaseMatrix`).

Can't we recalculate the business case and redraw the matrix based on every clicked 'Save'.  (Not "Save all and view LES" since you move of the Edit page when you do that)? To reca

[2016-10-31 11:18] grdw commented on #1468
Ping @ChaelKruip and @antw

[2016-10-31 11:38] ChaelKruip commented on #1468
👍

[2016-10-31 11:41] antw commented on #1468
I don't think it needs to be recalculated after every change; only if the visitor tries to look at the matrix and the cached copy is stale.

I feel like the "Edit → Business Case" page isn't as necessary as it used to be, since the "proper" (?) business case page shows a breakdown of costs:

![screen shot 2016-10-31 at 11 38 50](https://cloud.githubusercontent.com/assets/4383/19853046/bdb0a3f8-9f5

[2016-10-31 13:45] ChaelKruip commented on #1468
Ans also, if it is used as a reference for a comparison in another LES.

I think I agree. The only functionality that is not yet included in the current business case output page is the 'free-form/correction' row.

[2016-10-31 14:01] grdw commented on #1468
Yes. We're bit dragging of the main point of the issue here 😆. But we could make the "freeform" or "correction" as it is called on the business case page editable on the 'edit' page.

So to explain in pictures:

This would be the business case page:

![screen shot 2016-10-31 at 14 57 37](https://cloud.githubusercontent.com/assets/2676542/19856580/63769368-9f7a-11e6-946c-ffd05188acac.png)

This wou

[2016-10-31 14:07] antw commented on #1468
Well, what I mean is we're only discussing the need to recalculate the business case for the "matrix" page because it shows the costs for each stakeholder. If it no longer shows the matrix (and therefore no longer shows any costs except the "correction" field), then the business case does not need to be recalculated.

I don't see why the "Edit → Business Case" page needs to exist anymore. The "cor

[2016-10-31 14:19] grdw commented on #1468
Yes, it's a bit obsolete.

[2016-10-31 14:35] grdw commented on #1528
Allright I think we should keep the distinction between a `base_load` technology and a `base_load_edsn` technology. A user can add one or both. We should let the user have the maximum amount of freedom. The first time a user imports their technologies the `base_load` should 'switch' to `base_load_edsn` when the threshold is reached. After that automatic edit the user is free to change whatever he

[2016-10-31 14:56] ChaelKruip opened #1538 "Some curves are not displayed properly"
![etmoses](https://cloud.githubusercontent.com/assets/1303760/19858645/8653fd0a-9f82-11e6-9bda-ca040a156857.png)

[2016-10-31 15:55] #1087 closed

[2016-10-31 15:55] #1447 closed

[2016-11-01 08:00] ChaelKruip commented on #1468
But also, if a business case is used as a reference for a comparison in another LES.

[2016-11-01 09:19] ChaelKruip opened #1542 "A disclaimer should be added"
We don't want to give our users the impression that all our methods and values are guaranteed 100% accurate.

[2016-11-01 09:20] grdw commented on #1538
Do you have a link to the LES in question?

[2016-11-01 09:45] ChaelKruip commented on #1528
So, what would happen if someone chooses an individual (`base_load`) profile for a `base_load_edsn` technology and uses the `save aggregated base load` strategy? Will that strategy try to save the 'flexible part' of the individual (`base_load`) profile?

Or the other way around: would the postpone strategy applied to aggregated (edsn) profiles try to postpone the flexible part of the aggregated pr

[2016-11-01 09:53] grdw commented on #1528
You can't pick an individual profile for a `base_load_edsn` technology. You can add a `base_load_edsn` technology (for which you can pick `base_load_edsn` profiles) and a `base_load` technology (for which you can choose `base_load` profiles). The units however don't matter anymore. The user is free to add for example a `base_load_edsn` technology, with units = 1. This doesn't make much sense but i

[2016-11-01 09:57] ThomBuijs opened #1543 "Total cost for energy is not corresponding with manual calculation"
I'm working with this [LES](https://moses.energytransitionmodel.com/testing_grounds/654/edit). The total amount the customer pays for energy (electricity and gas) doesn't correspond when I calculate it manually.  When I look at the business case of this LES I can see that the customer pays a total of €19,917,735.16 for his gas and electricity. But when I check my calculations it sums up to €4,688,

[2016-11-01 10:28] ThomBuijs commented on #1543
I looked into it. It appears that when the electricity grid is also owned by the customer the electricity consumed is counted at all the nodes, not only at the endnodes. I changed the stakeholder of the endnodes to customer AC1 and now the total amount payed for the energy corresponds with my calculation. I guess it makes sense, but this wasn't clear for me. Can I just copy the changed topology an

[2016-11-01 10:28] grdw commented on #1538
Discussed this. The translations are missing; will fix this.

[2016-11-01 10:45] grdw commented on #1534
Closing due to the problem already being solved on `beta`. Waiting for production deploy anytime soon.

[2016-11-01 10:45] #1534 closed

[2016-11-01 10:48] grdw commented on #1542
How would this disclaimer take shape? Is this a line of text you see right before you create your LES? Or somewhere on a separate page on the website, like on ETModel:

![screen shot 2016-11-01 at 11 47 36](https://cloud.githubusercontent.com/assets/2676542/19887512/08fb0e78-a029-11e6-92f9-62d39aa35c15.png)

[2016-11-01 11:15] #1488 closed

[2016-11-01 11:19] grdw commented on #1527
@DorinevanderVlies could you maybe send me a CSV that doesn't currently work on your machine?

[2016-11-01 11:23] grdw opened #1545 "CSV export - duplicate capacity header"
Looking at the header line of the technologies CSV, I see `capacity`, twice.

[code]

[2016-11-01 12:05] ChaelKruip commented on #1543
That is a different issue: https://github.com/quintel/etmoses/issues/1499

Closing this issue.

[2016-11-01 12:05] #1543 closed

[2016-11-01 13:15] ThomBuijs commented on #1543
Maybe this should be added to the wiki?

[2016-11-01 13:20] ChaelKruip commented on #1543
👍

[2016-11-01 13:32] ChaelKruip commented on #1487
Duplicate of https://github.com/quintel/etmoses/issues/1468

[2016-11-01 13:32] #1487 closed

[2016-11-01 13:32] ChaelKruip commented on #1202
@antw how much time would you think this would take to implement? This would make the free-form/correction in the business case matrix redundant IMO (see https://github.com/quintel/etmoses/issues/1468).

[2016-11-01 13:56] #1545 closed

[2016-11-01 14:02] ChaelKruip opened #1546 "Excess supply from merit should be 'dumped' into LES as local excess"
This does not happen at the moment right?

[2016-11-02 08:13] ChaelKruip commented on #1542
I dislike pop-ups as they inhibit the work-flow of the user but in this case I'm not sure.

I think that is difficult to find (I've never consciously seen the above text myself).

@dennisschoenmakers @antw @AlexanderWirtz @jorisberkhout @ploh what do you think?

[2016-11-02 08:37] ploh commented on #1542
1. What is an LES?
2. How often would a user see this pop-up? If it is an action that only occasionally happens or we remember that we showed it to the user not long ago and then do not show it again, this should be fine. But if they see it every couple minutes, it will definitely be annoying - and will just be ignored.

[2016-11-02 09:06] #1538 closed

[2016-11-02 09:13] #1507 closed

[2016-11-02 09:18] DorinevanderVlies opened #1547 "Creating a new topology template gives error message"
I try to create a new [topology template](https://beta-moses.energytransitionmodel.com/topology_templates/422). But it does not save properly and editing it results in an error. Below some screenshots.

### Creating a topology
![image](https://cloud.githubusercontent.com/assets/19907658/19922941/354f98d8-a0e5-11e6-931a-edd650a2888c.png)

### After saving it
![image](https://cloud.githubusercontent

[2016-11-02 11:17] ChaelKruip commented on #1547
Can you pick this up with priority @grdw?

[2016-11-02 12:05] grdw commented on #1547
Yes I can 👍

[2016-11-02 12:26] antw opened #1549 "Sort topologies and market models by ownership on the import form"
Like on `topology_templates/index` and `market_model_templates/index`, it would be nice for topologies and market model drop-downs on the import form to be sorted into `<optgroup>`s by ownership: "Featured", "Yours", "Other". The options inside each group should then be sorted alphanumerically.

![screen shot 2016-11-02 at 12 25 03](https://cloud.githubusercontent.com/assets/4383/19928680/661287f2

[2016-11-02 12:27] antw commented on #1546
Indeed, it does not.

[2016-11-02 12:38] antw commented on #1519
ETModel gets away with this because *almost* everything is stored on ETEngine. It keeps track of the scenario ID and which page you had open – in case you come back later – but everything is stored in a session as a couple of strings and integers and that's it. In Moses we have testing grounds and topologies, market models and business cases, and, and...

I like the idea but think that it might be

[2016-11-02 12:38] #1505 closed

[2016-11-02 13:28] antw commented on #1542
How about sticking it at the bottom of the import form?

![screen shot 2016-11-02 at 12 59 58](https://cloud.githubusercontent.com/assets/4383/19929667/58ba5bac-a0fc-11e6-95f5-33793bd3e92e.png)

It would be super-nice if we also included a blurb about being open source and that we (happily!) welcome contributions and corrections with a link to GitHub or the [open source page](https://energytransit

[2016-11-03 11:40] #1499 closed

[2016-11-03 11:54] DorinevanderVlies opened #1551 "# of households in ETM scenario does not correspond to # of units in LES"
### Situation
My ETM scenario has 495 households, but when exported to ETM-SA gives 564 units for household aggregated.

### Question
I want to use 495 households in my LES, which is the actual situation.
My **quick fix question** is:
Is the total demand for electricity 495 * 774 kWh/year of 564 * 774 kWh/year?
So, should I just change the # of units, of should I also change the demand?

The **rea

[2016-11-03 12:54] DorinevanderVlies commented on #1551
It might be helpful that even thought the number of residences is 495 the scaling seems to be 564.

![image](https://cloud.githubusercontent.com/assets/19907658/19966644/fd7d25ea-a1cc-11e6-9c68-02f2bdf23904.png)

[2016-11-03 12:57] ChaelKruip commented on #1551
@grdw @DorinevanderVlies can it be that the present value for the number of households in ETM is used to scale instead of the future value?

[2016-11-03 13:00] antw opened #1552 "Something saved a Ruby hash into a JSON field (Airbrake)"
**Airbrake error:** [#4082](https://quintel.airbrake.io/projects/111227/groups/1810876764904734082)
**Airbrake project:** ETMoses

**Error type:** `JSON::ParserError`
**Error message:** `` 757: unexpected token at '{"name"=>"HV Network", "stakeholder"=>"producer", "children"=>[{"name"=>"HV-MV trafo", "capacity"=>16000, "technical_lifetime"=>30, "investment_cost"=>150000, "stakeholder"=>"system ope

[2016-11-03 13:06] DorinevanderVlies commented on #1551
Well, the number of residences is 495 both in 2013 and in 2035. This is also shown in the picture of the first message. So I don't think so.

@AlexanderWirtz made this scaled scenario. Maybe he can give insight into where the 564 comes from.

[2016-11-03 13:13] grdw commented on #1552
Was already looking into it

[2016-11-03 13:21] #1552 closed

[2016-11-03 13:45] DorinevanderVlies commented on #1551
Just talked to @AlexanderWirtz
This issue seems to come from the way the scenario has been made. Another scaled scenario (IABR) was used to base this scaled scenario on. The scaling does not correspond to the number of residences in the scenario.

I think that for the export to ETM-SA the scaling is used for the number of base load units and that number of residences is used to divide the units of

[2016-11-03 14:10] dennisschoenmakers commented on #1379
*Comment from Airbrake:* Resolved [error](https://quintel.airbrake.io/projects/111227/groups/1754431341168407718) reoccurred.

[2016-11-04 08:45] DorinevanderVlies opened #1554 "Rescale to gas connections does not assign gas connections to a node with hybrid heat pumps"
This [LES](https://beta-moses.energytransitionmodel.com/testing_grounds/785) has hybrid heatpumps connected to` LV end node - gas`.

However, when I use `rescale to gas connections` no gas infrastructure is made; all units remain on 0.

There is gas flowing to ` LV end node - gas`.
![image](https://cloud.githubusercontent.com/assets/19907658/19999503/0c101bf2-a273-11e6-81a2-668033d1562c.png)

assi

[2016-11-04 08:48] DorinevanderVlies opened #1555 "Doubts about my business case"
In this [LES](https://beta-moses.energytransitionmodel.com/testing_grounds/785/edit) around 500 households pay ~5,000,000 euro to themselves. I think this value really high considering the technologies I used.

Is it possible to see a split of how this sum is composed?

![image](https://cloud.githubusercontent.com/assets/19907658/19999601/90538142-a273-11e6-8b6f-85d39589cd12.png)

[2016-11-04 08:59] DorinevanderVlies opened #1556 "CSV export / import does not work properly for hybrid heat pumps"
This [ETM scenario](https://beta-pro.energytransitionmodel.com/scenarios/597147) contains 100% heat pumps for both hot water and space heating.

When I export this scenario to a [LES](https://beta-moses.energytransitionmodel.com/testing_grounds/783/edit) the heat pump technology is working. After exporting it to a CSV and importing that CSV again the heat pumps are not working properly any more. I

[2016-11-04 15:12] DorinevanderVlies commented on #1554
@antw thanks for looking at this issue!

Are you sure it is fixed? When I press `Rescale to gas assets` for a LES containing hybrid heat pumps (like the LES above) I still get 0 for all units in the gas infrastructure.

[2016-11-04 15:13] antw commented on #1554
It *is* fixed but the new code wasn't picked up (we've been upgrading some things on the servers). I restarted ETMoses and it should be fine now.

[2016-11-04 15:14] DorinevanderVlies commented on #1554
Awesome, thanks!

[2016-11-04 15:14] #1554 closed

[2016-11-07 10:03] DorinevanderVlies opened #1558 "This LES has costs in business case for unknown stakeholder"
In the business case of this [LES](https://beta-moses.energytransitionmodel.com/testing_grounds/790) 216.000 euro depreciation costs are assigned to an unknown stakeholder? Is it possible to see where these costs come from?

![image](https://cloud.githubusercontent.com/assets/19907658/20053593/9dd801f4-a4d9-11e6-909a-938e4664a1cc.png)

[2016-11-07 10:53] antw commented on #1558
@DorinevanderVlies This should be fixed. The costs were associated with the heat assets, but they were assigned to a stakeholder with no name. Let us know if you see this happen again and we'll look into it further.

[2016-11-07 10:53] #1558 closed

[2016-11-07 11:30] DorinevanderVlies opened #1559 "Heat assets distance 1.0 km assigned to scenario without heat network"
## Problem
This issue follows #1558. @antw commented:

This interesting thing is that the scenario the [LES](https://beta-moses.energytransitionmodel.com/testing_grounds/791/edit) was exported from doesn't have a heat network. **So no costs at all should be assigned to heat source nor to heat assets.**

The heat source lists gives units 0 for all plant types, but also gives 1 km distance. I think

[2016-11-08 12:06] dennisschoenmakers commented on #1443
*Comment from Airbrake:* Resolved [error](https://quintel.airbrake.io/projects/111227/groups/1778980363572853171) reoccurred.

[2016-11-08 12:09] ThomBuijs opened #1560 "Merit order gives (too) high values per kWh"
I'm using this [LES](https://moses.energytransitionmodel.com/testing_grounds/666/edit). When applying the merit order to a stakeholder I get an average price per kWh for the realised flex of €0.60/kWh. I think this is way too high. Also, I am unable to download the merit order price/load curve and it gives me tis error:

We're sorry, but something went wrong.
If you are the application owner check

[2016-11-08 12:12] jorisberkhout commented on #1560
Could you look into this with priority, @grdw ?

[2016-11-08 12:25] ThomBuijs opened #1561 "Downloading yearly load profile only gives peak value per day not average demand"
When I download the yearly load profile of an end node I get the highest values per day instead of an average value for that they. I guess it would be better to download the value per hour for a whole year, but I guess this requires too much time or something. However, in my opinion the current method of showing the highest values per day isn't really relevant for me, since I want to know the ener

[2016-11-08 12:32] jorisberkhout commented on #1561
Assigning @grdw .

[2016-11-08 13:43] grdw commented on #1560
Yes, this is a caching problem as far as I'm thusfar aware.

Technical details:

Including @antw

[2016-11-08 13:45] grdw commented on #1561
Related: https://github.com/quintel/etmoses/issues/1296

[2016-11-08 13:45] jorisberkhout commented on #1560
@grdw and I looked into this. We managed to download the merit order curve and found that all 35040 entries in this curve are `0.60`. The merit order curve of the SER 2023 scenario shows more variability in the price and the average price is `46 EUR / MWh` or `0.046 EUR / kWh`. Do you know what might cause the difference, @antw ?

[2016-11-08 13:49] antw commented on #1560
Not off the top of my head, sorry. I can look into this as soon as I've dealt with quintel/etmodel#2296.

[2016-11-08 14:05] grdw commented on #1561
In a way: yes. The current approach is that the CSV is generated from the values that are visibily present in the front-end.

No, that feature is currently not available from the front-end. It would be nice to have this feature though.

[2016-11-08 14:13] jorisberkhout commented on #1560
Thanks!

[2016-11-08 19:35] antw commented on #1560
The production park is completely maxed-out because there are *far* more households in the LES than the original scenario.

The scenario was scaled to 610 households, but the LES has 47500 households present (aggregated and individual). I think it's fair to say that a central production park scaled for a region of 610 households is incapable of meeting demand for 48k. Hence all the central produce

[2016-11-09 08:09] jorisberkhout commented on #1560
Thanks, @antw . Does this answer your question, @ThomBuijs and @JeroenvdLogt ? If so, could you close this issue?

[2016-11-09 08:20] JeroenvdLogt commented on #1560
This is strange because I can't find any unit field with a value of 100+. Also in the topology all the unit values are 1 or not filled.

[2016-11-09 09:33] antw commented on #1560
You're completely correct, I don't know what I was thinking. I misread the "demand" fields; in my defence, the demand field and unit label [are quite close](https://cloud.githubusercontent.com/assets/4383/20133347/1f4eb79c-a65f-11e6-99cb-52c7181618ec.png). 😬

The explanation for the price is still true though: €0.60/kWh means that all the central producers are maxed-out. I will take a quick look i

[2016-11-09 09:41] DorinevanderVlies commented on #1560
The following might help the search.
I just looked at my [LES](https://beta-moses.energytransitionmodel.com/testing_grounds/797]) which is based on an [ETM scenario ](https://beta-pro.energytransitionmodel.com/scenario/demand/households/prosperity) with an overload of electricity. The merit curve consists solely of 0.60 euro/kWh.

[2016-11-09 09:56] DorinevanderVlies commented on #1551
In [this scenario](https://beta-pro.energytransitionmodel.com/scenarios/598705) 122 old residences are replaced with 60 new ones. So the present total number of residences is 504, the future number is 442.

With exporting  to a [LES](https://beta-moses.energytransitionmodel.com/testing_grounds/797/edit) the same problem occurs, household aggregated contains 504 units. The number of space and water

[2016-11-09 11:22] grdw commented on #1551
@DorinevanderVlies there's a difference in the way the demand for buffers is determined than there's in the way the demand for households is determined.

The buffers uses gqueries to determine the demand ([hot_water_buffer](https://github.com/quintel/etsource/blob/master/gqueries/modules/etmoses/etmoses_hot_water_buffer_demand.gql) and [space_heating_buffer](https://github.com/quintel/etsource/blo

[2016-11-09 17:47] antw commented on #1560
@ThomBuijs @JeroenvdLogt The incorrect pricing should be fixed now. A (pretty big) oversight caused dispatchable sources of energy to not be included when calculating the merit order price.

[2016-11-11 10:05] DorinevanderVlies opened #1562 "Heat assets keep changing back to default settings"
I have a couple of LESses in which I want to set investment and O&M costs for the heat assets.
However, they keep changing back to default settings. Sometimes my changes hold for a couple of business case runs. But for example this morning I looked at my LES again and the setting were default again.

[Example of LES.](https://beta-moses.energytransitionmodel.com/testing_grounds/809)
These are the

[2016-11-15 10:15] DorinevanderVlies opened #1563 "Remove Concurrency from documentation"
A user alerted me that concurrency is still mentioned in the documentation. However, as far as I know this feature has been removed from ETM-SA.

@jorisberkhout Is this indeed the case and is it OK that I remove it from the documentation?

[2016-11-15 13:07] jorisberkhout commented on #1563
Good point @DorinevanderVlies . If I understand correctly concurrency is implemented differently now, so maybe it is better to update the documentation. I guess @grdw knows more about this, right?

[2016-11-15 13:49] grdw commented on #1563
Yes it is no longer there. It has become a rather simple 'splitter'. So you can split up technology boxes in a way while keeping the same units. So if you have a technology of units=10 and you split, it becomes two technologies with units=5. If you do it with a technoloy of units=9, it becomes 5 and 4 respectively.

[2016-11-16 07:18] MarjoleinSchwachofer commented on #1559
I had the same problem. The cetrnal heatnetwork got 1 unit (although capacity o) and pipes were still there with 1 km for each. When there is no heat network in ETM, al these units and km should be zero.

[2016-11-18 10:09] DorinevanderVlies commented on #1563
Closing through [Wiki](https://github.com/quintel/etmoses/wiki/split)

[2016-11-18 10:09] #1563 closed

[2016-11-18 10:30] DorinevanderVlies commented on #1455
This issue will become relevant for the Paddepoel/Groningen project next week. Is it possible to rise the priority?

Notifying @AlexanderWirtz

[2016-11-18 10:39] DorinevanderVlies commented on #1220
This issue will become relevant in the coming week for the Groningen/Paddepoel Project.
Currently the workaround described above is still the only way to save a variation on an existing market model.
A "save as" option in editing a market model (and topology) outside a LES would still be much more convenient.

[2016-11-18 10:45] DorinevanderVlies commented on #1547
Issue solved

[2016-11-18 10:45] #1547 closed

[2016-11-18 10:51] MarjoleinSchwachofer commented on #1560
I have the asme problem with a LES that ties to this one:  In https://moses.energytransitionmodel.com/testing_grounds/681/edit it look goed but in https://moses.energytransitionmodel.com/testing_grounds/683/edit the merit order gives a to high cost from supplier to producer. Why doesn't this work now? I need thid for a presentation.

[2016-11-18 11:31] MarjoleinSchwachofer commented on #1560
looks fixed after some trying, but don't know why

[2016-11-18 11:42] MarjoleinSchwachofer opened #1564 "add total of all stakeholders to businesscase"
I would like to have the total of all the stakeholders businesscase so that I can see with ETMoses in one glance if the overall businesscase has improved or not.  Now I have to calcultate this by hand, but this is what you would like to see from ETMoses, how does it effect the overall social businesscase.

[2016-11-18 13:01] DorinevanderVlies commented on #1562
It seems that every time a small change is made to the heat sources the investment and O&M costs of the heat assets go back to their default settings.

[2016-11-18 13:04] DorinevanderVlies opened #1565 "wanted: option to export business case (to csv)"
For analysis it would be nice if the business case of a scenario can be exported. For example to a CSV file.

[2016-11-18 13:15] DorinevanderVlies opened #1566 "Error in export of water heating technologies"
### Summary
When this [ETM scenario](https://beta-pro.energytransitionmodel.com/scenarios/598718) is exported to a [LES with one end node](https://beta-moses.energytransitionmodel.com/testing_grounds/826)  58 "households water heater electricity" are present in the technologies. The scenario however does not contain this technology for water heating.

I have not noticed similar problems with other

[2016-11-18 13:21] DorinevanderVlies opened #1567 "Add gas heater to heat source"
In the real world of heat networks a gas heater is often used as a backup for, for example, a geothermal heat source.

**Request**
Add gas heater as an option to the dispatchable source of the heat source list

Notifying @AlexanderWirtz

[2016-11-18 13:28] DorinevanderVlies opened #1568 "How to deal with back up sources in the heat network?"
As mentioned in #1567 a heat source is often combined with a back up source.

**My general question is: how can we deal with a back up source in the heat network?**

I can imagine a situation where the back up sources is estimated to run for example 5% of the time. So the main source supplies 95% of the heat load.

Modelling the investment and O&M costs of this back up source is currently possible

[2016-11-18 13:38] DorinevanderVlies opened #1569 "Empty technologies should not be shown in heat source list"
This [ETM scenario](https://beta-pro.energytransitionmodel.com/scenarios/598718) contains district heating for both space and water heating. All district heating is geothermal.

When it is imported to a [LES](https://beta-moses.energytransitionmodel.com/testing_grounds/826/edit) geothermal is indeed the technology that contains a non-zero value for both `Heat capacity` and `Units`. Other sources a

[2016-11-18 13:56] DorinevanderVlies opened #1570 "Export total investment to csv"
Currently only the redemption of technologies can be viewed for all stakeholders. For discussions about financial constructions also the total investment is relevant.

### Proposal
I don't think this should be shown in the standard interface. What I would like is the option to download the investment costs per stakeholder. Both the total investment as a split per technology are relevant.

Maybe th

[2016-11-18 14:27] DorinevanderVlies opened #1571 "Error with depreciation costs of hybrid heatpumps"
### Summary
Something goes wrong with the calculation of the depreciation costs of hybrid heat pumps. The depreciation costs are too (factor 2?) high.

### Details
To make it clear I made the following [LES](https://beta-moses.energytransitionmodel.com/testing_grounds/819/edit). It contains 5 end nodes. Each contains 1 buffer with 100 units and demand 1000 kWh and 1 heating technologies.  Every te

[2016-11-21 10:36] DorinevanderVlies opened #1572 "How to deal with interest rates on investments?"
Currently only depreciation costs of investments are taken into account. Especially for large investments interest can play a significant role.

Furthermore I can imagine that large stakeholders, like the system operator or a cooperation, will have lower interest rates than for example customers.

- Is there a particular reason why interest is currently not implemented in ETMoses?
- Do you agree t

[2016-11-21 10:57] #1571 closed

[2016-11-21 11:32] AlexanderWirtz commented on #1570
Total investments are hard to reconstruct from ETM SA results, whereas they are relevant from an exploratory perspective: one of the most difficult questions neighborhoods and municipalities face is how to _finance_ investments in residences. Many private owners lack the financial means or will find it hard to obtain a loan to invest in new equipment, insulation, battery packs, solar panels, etc.

[2016-11-21 11:32] AlexanderWirtz commented on #1570
also notifying @dennisschoenmakers

[2016-11-21 11:37] AlexanderWirtz commented on #1567
The ETM uses back-up heaters for the central heat network, but not for local heat networks. This is why they are not available in the ETM SA (according to @ChaelKruip). They should be, though.

In practice, no heat network operates with a single heat source. This could mean people are left in the cold in case of a malfunction. The cheapest and most practical means of back-up is a large gas-fired h

[2016-11-21 13:49] #1565 closed

[2016-11-21 13:54] antw commented on #1565
Once the business case has been calculated, a "Download CSV" button will be available:

![screen shot 2016-11-21 at 13 53 06](https://cloud.githubusercontent.com/assets/4383/20485104/05591098-aff2-11e6-8c2c-0688590efc79.png)

[2016-11-21 13:55] DorinevanderVlies opened #1573 "Make it possible to drag market model items to a different position"
### Request
It would be nice if it was possible to drag a market model item to a different position in the table

This doesn't influence any calculations, but it enhances the clarity of the table.

### Background
When making a market model I try to order the items to categorie. For example group all costs that are associated with electricity. When an extra market model item is added it is position

[2016-11-21 14:13] #1220 closed

[2016-11-21 14:17] antw commented on #1220
I've done the same as @grdw did with topologies: view the market model list, click the one you want to clone and you will find a "Save as new market model" button next to "Edit" and "Delete":

![screen shot 2016-11-21 at 14 15 21](https://cloud.githubusercontent.com/assets/4383/20485812/2c934e6e-aff5-11e6-981c-f0e5aaa43891.png)

[2016-11-21 14:18] DorinevanderVlies commented on #1220
Perfect, thanks!

[2016-11-21 14:19] DorinevanderVlies commented on #1571
Thanks!

[2016-11-21 14:19] DorinevanderVlies commented on #1565
Thanks!

[2016-11-21 16:37] dennisschoenmakers commented on #1572
The cost of capital was explicitly left out of etmoses before. We also discussed that it could (and should) be added later.

Technologically, of course this is *possible*. The real question here, is: how much time would it cost to implement this? I am assuming that technically this can be accomplished with not too much time spent.

### wait...

There is a caveat. Technically, it might be rather si

[2016-11-21 17:17] #1455 closed

[2016-11-21 17:23] antw commented on #1455
When editing a LESes market model, a "Replace market model" button is now available at the bottom of the form:

![screen shot 2016-11-21 at 17 20 27](https://cloud.githubusercontent.com/assets/4383/20493016/10ffcf28-b00f-11e6-92ea-ddb85ac635c6.png)

[2016-11-21 17:38] antw commented on #1566
Although it is not very intuitive, this is in fact correct behaviour. The ETM scenario has power-to-heat set to 25% (126 households)

The ETM-SA scenario will respect this setting; if there is insufficient electric heating installed it will add "Households water heater electricity" technologies to compensate.

There are 68 electric heat pumps in the scenario: 126 P2H households - 68 heat pumps = 5

[2016-11-21 17:44] antw commented on #1562
[It looks like this is intentional](https://github.com/quintel/etmoses/blob/d2e923874f670a01a09f65b849fa7d3c68afe2d2/app/controllers/heat_source_lists_controller.rb#L9), but I don't know why. @grdw can you shed any light on this?

[2016-11-21 17:47] antw commented on #1560
The business case probably had not been recalculated; you made a change to the market model or LES and this forced it to be recomputed; replacing the old and incorrect prices with the new, correct ones.

[2016-11-21 17:47] #1560 closed

[2016-11-22 09:09] grdw commented on #1562
If you alter the heat sources, the primary heat asset list is regenerated from scratch. The reason for that is something I'm not quiet sure of aswell 😆

But to reason it the other way around; how would we know which primary heat asset belongs to which heat source? Right now there's no foundation in place to do this properly. The correct way to do this is to give every newly added `heat_source` an

[2016-11-22 09:34] DorinevanderVlies commented on #1562
The heat assets are associated with a source. However, when two sources of the same type are present (with the same distance) it is indeed not defined which assets belongs to which source.

A possible solution would be to have a choice between "save" and "save and update heat assets". However, I'm not really in favour of this option myself, as I think it will lead to confusion.

Sounds like a bett

[2016-11-22 10:33] DorinevanderVlies opened #1574 "Questions regarding export of heat network"
### Summary
An external user contacted me because with a default export to ETM-SA he has significant heat deficits.

He has two questions:
- Why is the heating demand not fulfilled with the standard export from ETM to ETM-SA?
- How to reconvert to emission reduction (in ETM) after scaling up the heat sources in ETM-SA?

To this I add the following question:
- How is the required capacity of the he

[2016-11-22 13:01] DorinevanderVlies opened #1575 "What is the meaning of full_load_hours in the csv of the technology profile?"
### Question

When I export a CSV for some technologies the number of `full_load_hours` is defined.
**Does this have any significance for the calculation?**

Is it an input for the scenario? (Does it influency the outcome?)
or
Is it an output of the scenarios? (Is the number of full load ours defined by the set parameters and merely given to inform the user?)

### Example

In this [LES](https://be

[2016-11-23 10:27] DorinevanderVlies commented on #1570
@antw or @grdw: Is implementing this doable?

[2016-11-23 10:35] DorinevanderVlies commented on #1556
@grdw
I previously said:

However, in the following weeks we'll be constructing some variations of scenario's with hybrid heatpumps. The csv is the most efficient way to do this. Currently I still have to  manually add the hybrid heatpumps.
Especially in combination with the csv import this is prone to error.

I would be awesome if there is a fix for this problem.

[2016-11-23 11:00] grdw commented on #1562
I'm still not 100% sure if there's a case where you would have two of the same type heat sources with two different type of heat assets. Wouldn't you just update the 'distance' or 'units' instead if that's the case? I.e. how likely will it be that you have, for example, multiple central heat networks?

[2016-11-23 13:41] DorinevanderVlies commented on #1562
I would say that's pretty unlikely.

However, a situation that I can imagine is multiple geothermal sources that provide heat to a large network. These sources will have their own investment and O&M costs associated with them.

An other (third?) solution would be to have two options for the heat assets
1. Scale to sources
2. Custom
So, similar to how we deal with the gas network. A small change in

[2016-11-25 12:33] grdw commented on #1551
@DorinevanderVlies do you know what the status of this issue is?

[2016-11-25 12:43] grdw commented on #1556
Steps to reproduce:

Step 1: Create a les with one buffer; one hybrid heat pump
<img width="1126" alt="screen shot 2016-11-25 at 13 41 14" src="https://cloud.githubusercontent.com/assets/2676542/20625628/db7fa54a-b314-11e6-96fd-4653a58b5013.png">

Step 2: Export LES

Step 3: Import LES
<img width="1212" alt="screen shot 2016-11-25 at 13 43 05" src="https://cloud.githubusercontent.com/assets/267654

[2016-11-25 13:06] DorinevanderVlies commented on #1556
Indeed

[2016-11-25 13:58] grdw commented on #1556
I found the reason. The `Hybrid heat pump` is modelled as a single technology consisting of two components. When exporting, it doesn't export the components but just the `technology` which is than just a shell with nothing in it.

- [ ] Export components in a sane way
- [ ] Import components in a sane way

[2016-11-28 18:08] antw commented on #1574
My guess is that this is simply due the differences in the way things are modelled in the ETM and ETM-SA.

* In ETM-SA there is a capacity, number of units, and an explicit demand profile which must be met for every 15-minutes (or else there is a deficit).

* In the ETM / ETEngine there's an "amount" of heat demand which must be met *during the year*. There is no profile; it must simply output 50.

[2016-11-29 13:56] #1573 closed

[2016-11-29 14:26] DorinevanderVlies commented on #1574
Thanks @antw.

---

The question originates from the effect on the scenario (e.g. CO2 emissions), when the ETM-SA analysis shows that the capacity from ETM is not sufficient.
I think the answer to that is that the increased capacity in ETM-SA does not influence the outcome of the ETM scenario. Because the demand which is supplied is the same. This is true as long as no "must-run" source is used.

[2016-11-29 15:13] niessink opened #1578 "Question about total heat production table in ETM"
Hi  Anthony @antw , Dorine @DorinevanderVlies

Thanks a lot for answering my other question about the heat network deficits. However i have one more:

- First i start a scenario (for 1000 housholds) and change it to 100% heat network for households and buildings.
- As a test case: I pick a heat network with 85% biogas CHP and 15% centralized district heating.
- In the ETM supply section there is a

[2016-11-30 13:13] #1562 closed

[2016-12-02 08:58] DorinevanderVlies commented on #1566
I still have a feeling that this approach is not entirely correct. Currently the demand for hot water to me seems too high in scenario's with P2H and insufficient heat buffers.

Let's say I have 100 households with 500 kWh demand for hot water, 20% P2H, 15 heatpumps and 85 district heating.

In this case the export will give:

- 15 heat pumps
- 85 district heating
- (20-15) 5 P2H.

So the total de

[2016-12-02 09:13] DorinevanderVlies commented on #1455
Very useful, thanks!

[2016-12-05 10:19] #1556 closed

[2016-12-05 10:45] DorinevanderVlies commented on #1578
The title of the chart is confusing. This chart shows the **primary use** of resources needed to supply the total heat and cold demand.

So, the demand stays the same, but the efficiency of the various techniques varies.

CHP for example supplies both heat and electricity. More primary resources are required if CHP is used than if geothermal is used.

The chart shows primary use. The demand for he

[2016-12-05 10:57] DorinevanderVlies opened #1581 "Make topology zoomable"
When a multinode topology is used often only part of it is displayed in the interface. Both in the `network` tab and in the `edit` --> `topology`.
It would be nice if the interface was zoomable.

![image](https://cloud.githubusercontent.com/assets/19907658/20882531/b3675402-bae1-11e6-9ce3-86687c232781.png)

Notifying @AlexanderWirtz

[2016-12-05 11:09] DorinevanderVlies opened #1582 "Depreciation and O&M costs of heat system operator incorrect in business case"
This [LES](https://beta-moses.energytransitionmodel.com/testing_grounds/847/business_cases/617) contains a heat network.

There are both investment and O&M costs for the heat system operator. However, there are no costs in the heat system operator to heat system operator cell.

![image](https://cloud.githubusercontent.com/assets/19907658/20882778/f014ed78-bae2-11e6-9a1d-59fe57d4c2ea.png)

![image]

[2016-12-05 11:13] DorinevanderVlies opened #1583 "Investement costs of technologies should be the same as future costs in ETM"
In ETModel the costs of technologies (for heating and PV) can be set for the future.
The export to ETM-SA however has standard costs.
It would be nice if the export takes these cost reduction into account.

![image](https://cloud.githubusercontent.com/assets/19907658/20882994/0f60c354-bae4-11e6-9e6c-28481525091e.png)

[2016-12-05 12:58] AlexanderWirtz commented on #1581
Alternatively, we could provide a button that opens the topology view in a separate tab, so that the whole screen can be used to view a topology. This screen is available when you open a topology in the top-level menu item `Topologies`.

We could also make the field of view size customizable so that the user decides how much space to dedicate to viewing the topology.

[2016-12-05 13:23] DorinevanderVlies opened #1584 "Question regarding export of electric cars from ETM to ETM-SA"
### Situation
This[ ETM-Scenario ](https://beta-pro.energytransitionmodel.com/scenarios/607984) has 154 cars in the present and 31 in the future. The present and future share of electric cars is 90%.
The [number_of_electric_cars](https://beta-engine.energytransitionmodel.com/data/607980/gqueries/number_of_electric_cars) query gives 138.6 electric cars both for the present and the future.

Export t

[2016-12-05 14:27] grdw commented on #1582
I'm a bit unsure about the role of the "Heat system operator". I do know that the initial costs of the Heat source are applied to the "Heat producer"; for all I can see in the code.

[2016-12-05 14:33] DorinevanderVlies commented on #1582
True, the costs for the heat sources are assigned to the heat producer.

The heat system operator is concerned with the heat assets.
In the second image you can see that the primary heat infrastructure has 16426 euro/km investment costs for 17 km. These costs are assigned to the heat system operator.
In this scenario I also assigned the costs of the secondary infrastructure to the heat system oper

[2016-12-05 14:36] grdw commented on #1582
Ho, I was meant to look at heat assets. Heat assets is returning a `NaN` as far as I can see. I'm investigating why that is ... 🤔 one moment 😅

[2016-12-05 14:58] grdw commented on #1582
The technical lifetime of the secondary heat assets can't be 0.

[2016-12-05 15:00] DorinevanderVlies commented on #1582
Check, sorry I missed that one. Thanks a lot!

[2016-12-05 15:00] #1582 closed

[2016-12-06 09:12] AlexanderWirtz commented on #1584
Note that I set the number of cars using the following input statements:

    number_of_cars_both: 154
    number_of_cars: 31

These input statements have no impact on useful energy demand for transport, which is precisely what we want. Useful demand for transport is 'tweaked' using:

    transport_useful_demand_car_kms_both: -6.30742891420747
    transport_useful_demand_car_kms: 2.0

There is no

[2016-12-06 10:49] DorinevanderVlies opened #1585 "Questions regarding CSV input of hybrid heat pumps"
Through issue #1556 importing hybrid heat pumps through a csv file was enabled, thanks!

I have some questions on how to properly use this new feature and how to interpret it.

- The node to which the technology is attached has a different name than the end node e.g.  `households_space_heater_hybrid_heatpump_air_water_electricity@buffer_space_heating_1`.
_Do I have to use similar names (technology

[2016-12-06 14:31] grdw commented on #1585
Is that observation correct?

To explain. The `export_key` and the `connection` are meant to connect the 2 different components of the hybrid heat pump to the hybrid heat pump. To visualize it a little:

[code]

Yes

This is a good question. I'm not sure if the `number_of_units` for a hhp part have any effect, but I can't say for sure. I need to investigate this.

This seems like a good question f

[2016-12-08 14:52] niessink commented on #1578
Thanks! I was also curious if ETM calculates total heat demand of all sectors combined. That would help to match heat demand and supply. (for electricity i could find this) Otherwise, i suppose i have to add up all sectors.

[2016-12-08 15:14] DorinevanderVlies commented on #1578
Currently there is no chart that shows the total heat demand. Using table view of the first chart that pops up when you open a section (households, building, industry) will help to add up the sectors. But you probably already found these charts.

[2016-12-13 12:36] DorinevanderVlies commented on #1570
In addition to watching the total investment a split of all the components of the business case would be useful for proper analysis and comparison of the scenario.

- If payments of one stakeholder to another consists of multiple components (like gas and electricity from customer to supplier) making the split of those components visible.
- Like mentioned above, the split of depreciation and O&M co

[2016-12-14 11:50] DorinevanderVlies opened #1586 "Secondary heat infrastructure costs not represented in business case"
### Description

This [LES](https://beta-moses.energytransitionmodel.com/testing_grounds/862/edit) only has technologies attached to node "1 - flat". I just added heat technologies (all district heating) to this node. No investment and O&M costs attached to these technologies.

In the heat assets tab I assigned 1000 euro per connection to all 54 connections. The lifetime is 10 years. So I would ex

[2016-12-14 15:11] grdw commented on #1586
I'll have a look.

[2016-12-14 15:28] grdw commented on #1586
If I understand this issue correctly the `Customer Ac1` should receive depreciation costs?

[2016-12-14 15:29] DorinevanderVlies commented on #1586
Yes, indeed. Or extra outgoing costs, but this doesn't seem to be the case as well.

[2016-12-14 15:45] grdw commented on #1586
I see what's going on here. Appearantly the `number_of_units` is always 0 and I also know why. Am fixing it.

[2016-12-14 16:41] grdw commented on #1586
Ok, that was one. But there's another thing going on here. The topology also contains the `Customer AC1` but that calculation returns `NaN` for a reason. Probably because the `technical_lifetime` is not set? If you could check hat out.

[2016-12-15 08:32] DorinevanderVlies commented on #1586
I found technical lifetimes and investment costs defined as 0 for the buffer. This could be a problem. It shoudn't really be a problem right?

Are the two LESses below working properly?

[LES with technical lifetimes and initial investment and O&M left emtpy](https://beta-moses.energytransitionmodel.com/testing_grounds/862)

[LES with technical lifetime of 30 years even when initial investment and

[2016-12-15 09:25] grdw commented on #1586
No that's not the problem in this case. It's about the nodes in the electricity topology that belong to the stakeholder `Customer Ac1` (those attributes [here](https://beta-moses.energytransitionmodel.com/testing_grounds/863/edit)).

[2016-12-15 11:17] DorinevanderVlies commented on #1586
Those are indeed that nodes beloning to stakeholder 1. I have a feeling that this NAN has been an issue before, is it related to #1530?

The attributes like investment cost, technical lifetime etc are indeed empty for most nodes in this LES. My preference would be to have the option to leave them empty when they're not relevant (like in this LES).

![image](https://cloud.githubusercontent.com/asse

[2016-12-15 13:05] grdw commented on #1586
Well, not really. The values are now correctly `null` which is fine, but you can't calculate with `null`. We could set defaults for those values but that's a bit odd. 🤔  However, I also think the correct outcome of the `topology_costs` for `Customer Ac1` should be 0 instead of `NaN`. I guess that can be easily done by setting the `technical_lifetime` default to 1 but I need to try that out.

[2016-12-15 13:28] grdw commented on #1586
Oops, I was checking out the wrong costs. It are the `TechnologyCosts` ...

[2016-12-15 13:30] DorinevanderVlies commented on #1586
So the heat infrastructure issue is solved, right? :smiley:

[2016-12-15 13:43] grdw commented on #1586
![screen shot 2016-12-15 at 14 43 27](https://cloud.githubusercontent.com/assets/2676542/21226236/dace6404-c2d4-11e6-8c67-6a6314ecc947.png)

Found it! 👍

[2016-12-15 14:55] grdw commented on #1586
*About secondary heat assets:*
I made a pull request with the fix for the secondary heat assets.

*About technology costs:*
However, the technologies in question had to be given a `technical_lifetime` for this to work:

![screen shot 2016-12-15 at 15 53 27](https://cloud.githubusercontent.com/assets/2676542/21228589/adceb65c-c2de-11e6-91ba-835977df5010.png)

I found out that locally one of them ha

[2016-12-16 14:11] #1586 closed

[2016-12-16 16:13] DorinevanderVlies opened #1588 "Why do my batteries not discharge during the night?"
I have a [LES](https://beta-moses.energytransitionmodel.com/testing_grounds/872) with PV and batteries attached to most nodes. I changed the market model to makes it economically beneficial to use the battery as much as possible. It is expensive to buy electricity and you get little money if you sell it to the supplier etc.

Looking at a week in June I notice that the first day the battery is char

[2016-12-19 14:36] antw commented on #1588
I do see some discharging during the night. Maybe it's not as much as you expect?

<img width="586" alt="screen shot 2016-12-19 at 14 34 38" src="https://cloud.githubusercontent.com/assets/4383/21316364/4d94ca16-c5f8-11e6-83a4-25df46b6af26.png">

There may be some confusion here. The market model has no influence on the consumption or production of electricity (or which technologies are used). Thi

[2016-12-19 15:44] DorinevanderVlies commented on #1588
That's indeed the point. I would expect all the demand during the night to be supplied by the battery.
The image below shows very clearly that only a fraction of the demand is supplied by the battery. The battery capacity is much larger that the part that is currently used. The capacity with which is charges is much higher than the decharge capacity.

![image](https://cloud.githubusercontent.com/a

[2016-12-19 15:51] DorinevanderVlies commented on #1588
When I look at this in more detail the batteries are not used to charge EV's.
I understand the reasoning behind this.

On the other might it also be an opportunity to use batteries to charge EV's. Might be a bit of a detour, but it allows to use the electricity from PV in cars that are away during the day. Especially in the summer months when the  typical demand when there is no PV available is ve

[2016-12-21 08:45] ChaelKruip commented on #1583
Is this true @antw @grdw?

[2016-12-21 09:10] antw commented on #1583
I tried this with heat humps (ground) and could not reproduce it myself.

**Default cost**

![screen shot 2016-12-21 at 09 07 33](https://cloud.githubusercontent.com/assets/4383/21383356/3c46de1e-c75d-11e6-85b9-926839ca50b1.png)

**Electric heat pump cost = -75%**

![screen shot 2016-12-21 at 09 07 39](https://cloud.githubusercontent.com/assets/4383/21383372/4eeee78c-c75d-11e6-8be7-fda8cc9d61bb.pn

[2016-12-21 09:14] DorinevanderVlies commented on #1583
OK, I think after the cost reduction I still thought the technologies were expensive...
Closing for now.

[2016-12-21 09:14] #1583 closed

[2016-12-21 09:27] ChaelKruip commented on #1588
I like it! @antw would that be technically challenging as it requires two storage technologies to interact?

[2016-12-21 09:30] ChaelKruip commented on #1564
@grdw this should be quite simple right? Could you have a look?

[2016-12-22 13:50] antw commented on #1588
I understand the reasoning behind this.

Batteries can be used to fulfil the "mandatory" part of the EV load (that is, the energy needed to complete the next journey) but – as you observed – not for buffering. It is most obvious when enabling "Only buffer EVs with excess PV production":

![p2p_ev-spare-capacity_ev-local-excess-only](https://cloud.githubusercontent.com/assets/4383/21426634/e086945c

[2016-12-22 14:08] ChaelKruip opened #1589 "Heat load chart breaks if you update geothermal number of units"
In [this scenario](https://moses.energytransitionmodel.com/testing_grounds/722/heat_load)

[2016-12-22 14:09] ChaelKruip commented on #1589
Changing the NoU in the heat source list and clicking 'save and view LES' makes the model break.

[2016-12-22 14:30] antw commented on #1589
This appears to be because the list of must-run profiles doesn't get populated and is already fixed on beta. I've corrected the profile for this LES, but it will break again if further edits are made.

I suggest a deploy in the new year as it's been some time since we pushed changes to production.

[2016-12-22 14:30] #1589 closed

[2016-12-23 08:21] ChaelKruip commented on #1589
I agree. But because our external client would like to work on his LESses, could we cherry-pick this fix to production perhaps?

[2016-12-27 15:49] ChaelKruip commented on #1589
@grdw and myself did this already.

[2017-01-06 09:47] DorinevanderVlies opened #1590 "Capping of solar PV not taken into account in stacked chart"
### Summary
Capping of solar PV is shown in the total chart, but not in the stacked chart. (the strategies switch is activated)

The third week June of [_Node 3 - portiekflat_ of this LES](https://beta-moses.energytransitionmodel.com/testing_grounds/894) shows a difference with and without strategies in the total chart. However, the stacked chart is the same with and without strategies.

For examp

[2017-01-06 09:58] ChaelKruip commented on #1590
@antw @grdw do you have any ideas why this is?

[2017-01-06 10:09] DorinevanderVlies opened #1591 "Wanted: link between EV-demand in ETM and ETM-SA"
Currently there is no link between the EV demand in an ETM scenario and in the corresponding exported LES.

When exporting a scenario to ETM-SA automatically the first profile is selected. For most technologies this does not influence the demand, as demand is a separate parameter. However, for EV's the demand is set by the profile.

Currently when I make a LES I calculate the average annual demand

[2017-01-06 10:50] grdw commented on #1590
My gut feeling tells me that this is probably a JavaScript bug. @DorinevanderVlies  Could you try it with another strategy and see if the changes are reflected in the stacked chart?

[2017-01-06 11:09] DorinevanderVlies commented on #1590
I made the [LES even simpler](https://beta-moses.energytransitionmodel.com/testing_grounds/894).

Other strategies in this LES also cause trouble when shown in the stacked chart. In this example I selected "storage in batteries prioritising local PV production". The nodes are serial. However node K+Z 2 shows a different stacked chart than node 2 - portiekflat.

The total chart is, as it should be,

[2017-01-06 11:12] grdw commented on #1590
I don't really know what you're saying (sorry), but is the shape of the stacked chart (with strategies) the same as the full/non-stacked chart without strategies for a single node?

[2017-01-06 13:04] #1590 closed

[2017-01-18 08:40] DorinevanderVlies opened #1593 "The marginal costs [EUR/kWh] for the heat sources are not shown in the business case"
### Summary
The marginal costs [EUR/kWh] for the heat sources are not shown in the business case.

### Detail
The real reason behind this issue is that I want to know the split between the supply of the two heat sources.
To calculate this I made a [simplified LES](https://beta-moses.energytransitionmodel.com/testing_grounds/904/edit). It contains just the heat demand, sources and assets.

The heat

[2017-01-18 08:52] ChaelKruip commented on #1593
This is not a bug but a feature! Because marginal costs for heat are very uncertain, the numbers provided here are indicative only. If the user wants to include them as costs for the stakeholders, that should be modelled in the explicitly in the market model.

[2017-01-18 08:58] DorinevanderVlies commented on #1593
I found another workaround. The geothermal source is both the first source and the bottleneck. I made a second simplified LES with just the geothermal source. This results in deficits which in the other LES are filled with the CHP source.

The difference between heat production in both LES's is the heat produced by the CHP source.

[2017-01-18 10:09] ChaelKruip commented on #1593
@DorinevanderVlies shall we close this issue and can you make a new one with the feature request for a way to assess the total production of heat sources?

[2017-01-18 10:17] DorinevanderVlies commented on #1593
I think we need two issues. One about the marginal costs and one about the production of the heat sources.

Regarding the marginal costs, this issue.
Right now the heat source list contains the cell "Marginal costs [EUR/kWh]". This implies that this cell will be represented in the business case. It currently isn't. So, as long as that input cell is present I think this issue is still relevant.

[2017-01-18 10:32] ChaelKruip commented on #1593
It may suggest that it does (as the other fields are taken into account). How could we clarify that it is not?

I'm not sure if I'm in favour of adding it automatically to the BC (because of the uncertainties involved). At the same time, gas consumption of combi-boilers (part of the marginal costs) needs to be explicitly added to the market model as well...

In the [documentation](https://github.c

[2017-01-18 13:14] DorinevanderVlies opened #1594 "Wanted: option to see total heat production of individual heat sources"
As mentioned in #1593 in a scenario with multiple heat sources it is currently not trivial to see how the supply is split among the sources.

So, what is the total production of the individual sources?

[2017-01-18 13:16] DorinevanderVlies commented on #1593
True point. I missed this completely... I can imagine more people will not read the documentation thoroughly.

Another option might be to set the default value to 0 and leave it to the user to decide whether it wants to include these marginal costs and what value to give them.

---

I'm not a huge fan of the current marginal costs input field which is not used in calculations. I would either remov

[2017-01-20 08:41] ChaelKruip commented on #1593
I like this! It is easy to implement and perhaps more intuitive as well.

[2017-01-20 09:52] dennisschoenmakers commented on #1144
*Comment from Airbrake:* Resolved [error](https://quintel.airbrake.io/projects/111227/groups/1717253882190999645) reoccurred.

[2017-01-24 15:40] ChaelKruip opened #1595 "Solar PV load does not show in "individual mode with strategies" for the year"
[This LES](https://beta-moses.energytransitionmodel.com/testing_grounds/919)

Basic:

![etmoses](https://cloud.githubusercontent.com/assets/1303760/22253927/87c2b47e-e253-11e6-877e-552b85f09c23.png)

With strategies:

![etmoses](https://cloud.githubusercontent.com/assets/1303760/22254016/c2915984-e253-11e6-9b85-3724ea699539.png)

The same seems to go for `housholds_aggregated`...

[2017-01-24 15:40] ChaelKruip commented on #1595
Including @AlexanderWirtz @DorinevanderVlies @dennisschoenmakers

[2017-01-24 15:49] DorinevanderVlies opened #1596 "Stacked chart not the same for two subsequent nodes"
This [LES](https://beta-moses.energytransitionmodel.com/testing_grounds/919).
The end node (4 - portiekflat)  shows all parts individually (both negative and positive)
The node above the end node (k+z 4) already performs a substraction and. The chart follows the same line as the "total" chart.

I prefer the way the end node shows it.

![image](https://cloud.githubusercontent.com/assets/19907658/22

[2017-01-26 12:56] grdw commented on #1595
I took a quick peek and I can say that I can exclude this as a front-end JavaScript issue. It looks as though all the Solar PV is eaten by the Electric PV strategy but it would take me some time to figure that out.

[2017-01-26 13:03] antw commented on #1595
Indeed, I expect this an issue in how we attribute loads to individual technologies during the calculation. EVs won't *actually* be responsible for the solar production, even though the technology charts say otherwise.

Unless this is critical, it will likely be a couple of days before I can investigate this more thoroughly.

[2017-01-30 08:57] ChaelKruip commented on #1596
@antw doesn't this have to do with the way loads are calculated across the network? I.e., that only the resulting loads after locally (on the end-node) supply and demand have been subtracted?

[2017-01-30 09:23] DorinevanderVlies opened #1597 "Whole year network chart and business case do not load"
Business cases and whole year charts of LESses do not load anymore.

Not even for a very simple [LES](https://beta-moses.energytransitionmodel.com/testing_grounds/924) which contains one node and one technologie.

Presenting one week of the electricity network works fast, so the LES itself seems ok.

(@ChaelKruip and me had the idea that the whole year chart and business case calculations had been

[2017-01-30 09:24] antw commented on #1596
Yes, that's correct. The chart shows which technologies are responsible for the load on the selected component. Any supply/demand satisfied entirely at lower levels of the network will not appear on higher-level components.

[2017-01-30 09:58] antw commented on #1597
The background workers were not running; these are responsible for long-running tasks like full-year calculations. They're up again, and your calculations should be fine now.

Possibly because there aren't many background workers; if someone else is already calculating something in the background, yours has to wait until theirs is done. I have increased the number of workers and *hopefully* this w

[2017-01-30 09:58] #1597 closed

[2017-01-30 09:59] DorinevanderVlies commented on #1597
Thanks!

[2017-01-30 10:41] DorinevanderVlies opened #1598 "Define your own stakeholders in a LES"
Currently ETM-SA works with default stakeholders.
For customers AC1, AC1a, AC1b, AC2, etc... can be selected.

To make the LES more readable to external viewers it would be nice if I can define my own stakeholders or a LES.
For example: Flats, small houses, shops, etc

Just custom made customer labels would be nice, but I can imagine that this feature would be desired for other stakeholders as wel

[2017-01-30 10:45] ChaelKruip commented on #1598
Related to https://github.com/quintel/etmoses/issues/1204

[2017-01-31 16:29] DorinevanderVlies opened #1599 "Depreciation costs of business case of stakeholders not taken into account when stakeholder is connected to heat network"
The business case does not show depreciation costs for stakeholders that are connected to the heat network.

Even though no depreciation costs are associated with the heat network, there are depreciation costs for P2P and PV for these stakeholders.

[Example of LES](https://beta-moses.energytransitionmodel.com/testing_grounds/915/edit), in this LES stakeholders AC1, AC2, AC3 and AC6 are connected

[2017-02-01 07:58] ChaelKruip commented on #1599
@grdw can you look into this please?

[2017-02-01 08:01] DorinevanderVlies commented on #1599
One moment, it might have to do with a technical lifetime of 0 (even though costs are 0).
I'll check this first

[2017-02-01 08:25] DorinevanderVlies commented on #1599
Indeed, by default Excel returns 0 when referring to the empty cell. It is solve now!

This was my mistake. Another issue is that making a small mistake happens easily. I would be nice if ETM-SA gives feedback when a div/0 (or other error in calculation) occurs. Something like a status report of the LES. I'll make another issue about this.

[2017-02-01 08:25] #1599 closed

[2017-02-01 08:28] ChaelKruip opened #1600 "I would be nice if ETM-SA gives feedback when a div/0 (or other error in calculation) occurs"
See for instance https://github.com/quintel/etmoses/issues/1599

[2017-02-01 08:31] DorinevanderVlies commented on #1600
Agree

I see two outcomes of an input error.

1. The LES is calculated, but has errors in the outcome (like #1599)
2. The LES doesn't calculate at all (for example because the CSV contains a node that is not defined in the topology)

Feedback on both would be nice

[2017-02-02 18:06] #1595 closed

[2017-02-03 09:31] DorinevanderVlies commented on #1593
Including @AlexanderWirtz

[2017-02-03 13:33] #1588 closed

[2017-02-03 15:19] #1569 closed

[2017-02-06 12:34] antw commented on #1593
I can set the default marginal costs to zero, but we cannot (easily) use the marginal costs of heat sources. The marginal cost is a measure of price per kWh of heat produced; the way you would do this in the current system is to add an interaction in the market model. In order to set a different price for each heat source you would have to assign each one to a unique stakeholder; far from ideal.

[2017-02-06 13:25] ChaelKruip commented on #1593
Fine by me!

[2017-02-06 16:25] #1593 closed

[2017-02-15 10:39] ChaelKruip commented on #1566
I think this is a different issue. Closing this one. @DorinevanderVlies if you feel this is important, could you make an issue about the mismatch of demand between ETM and ETM-SA?

[2017-02-15 10:39] #1566 closed

[2017-02-15 10:43] ChaelKruip commented on #1574
What is the 'standard profile'? I think this is a bigger theme: How do we align the *energy* picture of ETM with the *load* picture of ETM-SA?

[2017-02-15 10:43] #1574 closed

[2017-02-15 10:44] ChaelKruip commented on #1578
Closing this.

[2017-02-15 10:44] #1578 closed

[2017-02-16 09:42] ChaelKruip opened #1601 "The secondary heat assets should load their attributes automatically"
![screen shot 2017-02-15 at 16 09 03](https://cloud.githubusercontent.com/assets/1303760/23015838/9cbcca8e-f434-11e6-98e6-01c06c556c68.png)

[2017-02-27 10:22] DorinevanderVlies opened #1602 "Why are capacities defined for electric heatpumps?"
In [this LES](https://beta-moses.energytransitionmodel.com/testing_grounds/958) the technologies tab shows 2 kWh buffersize for the three water heating buffers and 1.5 kWh for space heating. This is correct, I set these values.

I noticed that there is also a storage defined for the **heating technologies** (heat pump air). The size is 81 kWh for Heat pump for hot water (air) and 174 kWh for Heat

[2017-02-27 11:04] antw commented on #1602
Is this the correct LES? If so, I think it has been edited since the screenshot and the heat pumps have been replaced with HHPs. Therefore I can't tell if it's a (weird) display issue, or if those volumes are actually being saved with the technology data.

I cloned the LES, added a heat pump and messed around with the attributes for the pump and the parent buffer, but I can't seem to reproduce thi

[2017-02-27 11:16] DorinevanderVlies commented on #1602
I'm sorry, I linked to the wrong LES. [This LES (ID 949)](https://beta-moses.energytransitionmodel.com/testing_grounds/949) has electric heatpumps and shows the storage volume for the heatpumps.

I now notice the values are also shown in the csv in the CSV of this LES.

I did make changes to the LES, I'm not sure which and what cause the error.

Other LESses with heat pump air [like this one](http

[2017-03-06 14:20] dennisschoenmakers opened #1603 "When I click edit, all the EV have profile 10 all of a sudden?"
As reported today by @DorinevanderVlies at a demonstration. Might be a double issue.

[2017-03-06 14:26] antw commented on #1603
What is "profile 10"? Can you post some steps to reproduce, because when I look at the edit page for a LES (and try saving) I can't seem to find any *obvious* issue...

[2017-03-06 14:45] dennisschoenmakers commented on #1603
1. Go to https://beta-moses.energytransitionmodel.com/testing_grounds/970
2. Click edit LES
3. Go to technologies
4. Scroll down the list
5. You'll see at EV's that the profile ending with '10' is always selected, despite it being different first.

Right, @DorinevanderVlies ?

[2017-03-06 15:05] antw commented on #1603
I see: households not EVs. 😆

I sort of see what you mean. These are aggregated household technologies, but the profile selection box is providing profiles for individual homes since there are under 30 units of each technology.

<img width="820" alt="screen shot 2017-03-06 at 14 48 58" src="https://cloud.githubusercontent.com/assets/4383/23614853/5630260a-027c-11e7-9891-362146281051.png">

They ha

[2017-03-06 15:49] dennisschoenmakers commented on #1603
No, I really mean EVs. @DorinevanderVlies can you elaborate please? :-)

Sent from my iPhone

On 6 Mar 2017, at 16:05, Anthony Williams <notifications@github.com> wrote:

I see: households not EVs. 😆

I sort of see what you mean. These are aggregated household technologies,
but the profile selection box is providing profiles for individual homes
since there are under 30 units of each technology.

[2017-03-07 07:53] DorinevanderVlies commented on #1603
It's indeed the households

Spot on

I've changed the technology to individual household. The problem is gone, thanks @antw

[2017-03-07 07:53] #1603 closed

[2017-03-07 11:01] dennisschoenmakers commented on #1603
Thanks both of you! =)

[2017-03-29 13:38] DorinevanderVlies opened #1604 "Costs for network amplification"
This issue is mainly to document the information Hemmo Hulzebos from Enexis gave us today in a Skype call.

It would also be nice if we can find a way to implement these costs in ETM-SA.

LS cable 50 eur/m
MS cable 110 euro/m
Amplify trafo from 400 kVA t 630 kVA 20,000 euro
Place a new 630 kVA trafo:  60,000 to 70,000 euro

notifying @BerendSmits @ChaelKruip @AlexanderWirtz

[2017-05-05 11:32] DorinevanderVlies opened #1606 "Why the strategy "Switch HHP to gas if network is congested" effect uncongested times as well?"
In [this LES ](https://beta-moses.energytransitionmodel.com/testing_grounds/1052)there are some periods with congestion.

I would expect the strategy "Switch HHP to gas if network is congested" to just effect these periods. However as far as I can see it has continuous effect. @antw what is the reason behind that?

### Image
**Switch HHP to gas if network is congested**
![image](https://cloud.gith

[2017-05-08 11:39] DorinevanderVlies opened #1607 "Question regarding HHP strategy"
In addition to #1606: how does this strategy work? Are all HHP's switched to gas at times of congestion, or just enough to prevent congestion? I would expect/prefer the latter to happen.

[2017-05-08 15:45] #1606 closed

[2017-05-08 15:52] antw commented on #1607
Just enough to prevent network congestion. This is a LES whose only technology is an HHP, with and without the strategy:

![screen shot 2017-05-08 at 16 50 35](https://cloud.githubusercontent.com/assets/4383/25812523/7d0cc5e4-340e-11e7-85ca-83966640a578.png)

[2017-05-08 15:52] #1607 closed

[2017-05-08 15:53] antw commented on #1606
This was not intentional and should now be fixed on beta:

![screen shot 2017-05-08 at 16 53 10](https://cloud.githubusercontent.com/assets/4383/25812657/e31fec58-340e-11e7-9f10-08f19d02f865.png)

[2017-05-08 15:54] DorinevanderVlies commented on #1606
Thanks!

[2017-06-08 07:46] DorinevanderVlies opened #1608 "Add icon to tab title"
It would be nice if ETM-SA/ETMoses would have a small icon at the tab title.

I think this can be the same icon as ETM currently has. Maybe with a different color (eg black and white) to differentiate between the two.
![image](https://user-images.githubusercontent.com/19907658/26917613-4122be1a-4c2f-11e7-8839-8e1b68cbdba1.png)

Assigning @antw (please reassign if appropriate)
Notifying @ChaelKruip

[2017-06-08 13:35] antw commented on #1608
I don't have the original source file for that image and the version used on ETModel is very small; recolouring it might prove difficult.

@dennisschoenmakers Any chance you have the original?

[2017-06-13 14:33] dennisschoenmakers commented on #1608
Actually, I think we should change the favicon, and no, I do not have the original.

[2017-06-13 14:38] DorinevanderVlies commented on #1608
As the original file is not there anymore I propose to use the same favicon for ETM-SA as we use for ETM.

[2017-06-16 08:52] #1608 closed

[2017-06-16 09:11] antw commented on #1602
This doesn't appear to be a problem for newly-created LESes; this scenario may be a clone from a one created before we had shared buffers, or the problem has been fixed. The value shown won't have any effect on the calculation of the LES as the shared buffer will be used instead.

If it's annoying, we can remove the values manually from any affected scenario.

I'll close this; please reopen if you

[2017-06-16 09:11] #1602 closed

[2017-06-20 14:34] DorinevanderVlies opened #1609 "Stakeholder cooperation"
[This LES](https://beta-moses.energytransitionmodel.com/testing_grounds/1084/) is an export from [this local scenario](https://beta-pro.energytransitionmodel.com/scenarios/688189).

The market model is very simple. Cooperation is does not own any nodes and is not mentioned in the market model. However the business case contains depreciation costs for the cooperation.

For [the same LES on the Live

[2017-06-26 08:37] antw commented on #1609
The "Households 3" node was assigned to the `copperation` stakeholder. I reassigned it to `customer` (as is the case on the live server) and "Cooperation" no longer appears in the business case.

[2017-06-26 08:37] #1609 closed

[2017-08-23 10:29] #1449 closed

[2017-09-08 11:14] DorinevanderVlies commented on #1143
Closing, not relevant anymore

[2017-09-08 11:14] #1143 closed

[2017-10-26 12:12] ChaelKruip commented on #1537
Assigning this to @DorinevanderVlies to pick up whenever she's ready for it as she knows more about the real life uses of topologies and market models

[2017-12-06 08:18] grdw commented on #1379
Closing, this no longer seems to happen.

[2017-12-06 08:18] #1379 closed

[2018-02-02 08:53] DorinevanderVlies opened #1610 "LESses cannot be opened"
@jorisberkhout notified me that no LESses are loading on ETM-SA.

I checked with a couple of LESses and got the same error message for all of them:

![image](https://user-images.githubusercontent.com/19907658/35724636-b8c1c5ac-07fe-11e8-9da1-c3ba6439a808.png)

[2018-02-02 09:12] grdw commented on #1610
One of these gqueries is not working properly:

[code]

[2018-02-02 09:34] antw commented on #1610
This appears to be because the queries are calculating the amount of buffer space by looking at the inputs to:

* households_useful_demand_for_hot_water_after_solar_heater_and_p2h
* households_useful_demand_for_space_heating_after_insulation_and_solar_heater

However the space/water heat producers are no longer directly connected to these nodes, therefore `INTERSECTION(GROUP(etmoses), CHILDREN(...

[2018-02-02 09:37] antw commented on #1610
Alternative queries to select the correct nodes might be:

**Space heating:**

[code]

**Hot water:**

[code]

[2018-02-02 09:56] DorinevanderVlies commented on #1610
Nice! Thanks @antw and @grdw

[2018-02-02 12:46] DorinevanderVlies commented on #1610
Re-opening as the same error message occurs when I try to load a LES on beta.

[2018-02-02 12:49] DorinevanderVlies opened #1611 ""Save and open as local energy solution" leads to "404 not found" error"
![image](https://user-images.githubusercontent.com/19907658/35733950-9f96a720-081f-11e8-98fb-bf41d4189567.png)

[2018-02-02 13:12] antw commented on #1610
Fixed by (re-)deploying the latest version.

[2018-02-02 13:12] #1610 closed

[2018-02-02 13:15] #1611 closed

[2018-02-12 14:35] DorinevanderVlies opened #1613 "Save and open as local energy solution gives error"
I get up to the selection of topology and market model

![image](https://user-images.githubusercontent.com/19907658/36101575-084ed43a-100a-11e8-9655-bf8ad1190cb1.png)

However, pressing "continue" leads to this error. So far for all ETM-scenario's I tried to open

![image](https://user-images.githubusercontent.com/19907658/36101633-2af39106-100a-11e8-9689-bc2dd38ffcd3.png)

[2018-02-12 14:42] DorinevanderVlies opened #1614 "Business cases and whole-year view do not load"
I made a [simple LES](https://beta-moses.energytransitionmodel.com/testing_grounds/1093/business_cases/864) to illustrate this issue.

Trying to load the business case or the whole year view does not give results.

This issue reminds me of: https://github.com/quintel/etmoses/issues/1597

[2018-02-12 14:45] DorinevanderVlies commented on #1614
This issue occurs on the beta-server only

[2018-02-12 14:59] grdw commented on #1613
I just tested this locally  with the most recent ETengine and ETLocal. I can verify that it is indeed broken. The thing that specifically breaks is a request for the demands, capacities, etc. about the technologies in ETEngine.

The problem lies within [this line](https://github.com/quintel/etmoses/blob/master/app/models/import/technologies/fetcher.rb#L39) of code. I manage to solve it locally on

[2018-02-12 15:16] DorinevanderVlies commented on #1613
By the end of this week would be great
That also leaves time for pre-deploy testing

I think the different issues are about a different step in the procedure.

- https://github.com/quintel/etmoses/issues/1611. Was for the first step: getting to the selection of topology and market mode
- https://github.com/quintel/etmoses/issues/1610 was about opening an already existing LES
- This new issue is ab

[2018-02-15 10:38] DorinevanderVlies commented on #1613
Re-opening as the same issue is occuring

[2018-02-15 10:40] grdw commented on #1613
Related Airbrake note:

[Converter attributes are not allowed for households_flexibility_p2p_electricity](https://quintel.airbrake.io/projects/35333/groups/2150729145030563658/notices/2150729143945570242)

Will see to it.

[2018-02-25 11:17] #1596 closed

[2018-03-07 16:24] DorinevanderVlies commented on #1613
On beta exporting to ETM-SA works fine, but on the live server I get the error that is described above

[2018-03-08 08:13] grdw commented on #1614
Yes, I can confirm this. Was about to open an issue on this until I saw that there already was one.

[2018-03-08 08:29] grdw commented on #1614
The delayed job runner isn't on ... that explains. 😅

[2018-03-08 08:59] grdw commented on #1614
Fixed with https://github.com/quintel/etmoses/commit/d024888896f3e1518a5ae888ed8ac2d027c55b21

[2018-03-08 08:59] #1614 closed

[2018-03-08 09:09] grdw commented on #1613
Seems that production is not up to date with the current changes in the master branch.

[2018-03-08 09:21] grdw commented on #1613
I deployed and it seems to be working:

![screen shot 2018-03-08 at 10 21 26](https://user-images.githubusercontent.com/2676542/37143122-7a6c6538-22ba-11e8-8d9c-592a0f3191bc.png)

[2018-03-08 09:58] DorinevanderVlies commented on #1614
Thanks @grdw

[2018-03-08 09:59] DorinevanderVlies commented on #1613
Thanks @grdw !

[2018-04-05 13:01] DorinevanderVlies opened #1618 "Not possible to add a technology to ETM-SA on live server through interface"
In the technologies tab the "add" button remains inactive for some technologies when they are selected.

This is at least the case for "Residential PV panel" and "Electric car". "Other" on the other hand works fine.

[LES used for testing](https://moses.energytransitionmodel.com/testing_grounds/804/edit)

![image](https://user-images.githubusercontent.com/19907658/38367015-d5f48efc-38e1-11e8-9878-

[2018-04-05 13:36] antw commented on #1618
Was fixed in a9b15da. I've merge that into production and the fix should be deployed momentarily.

[2018-04-05 13:36] #1618 closed

[2018-04-10 13:01] DorinevanderVlies opened #1619 "Live: export of a scenario gives incomplete LES"
When exporting a scenario not all technologies are included in the LES.

**Example**
Empty dataset Antwerp scaled to 2642 households (359617)
Exported to a topology with one endpoint.

The LES includes:
- Household
- Buildings

The LES does not include:
- Heating technologies
- PV

**Screenshot of technologies:**
![image](https://user-images.githubusercontent.com/19907658/38558414-54192472-3cd0-11

[2018-04-10 13:02] DorinevanderVlies commented on #1613
Reopening as issue re-occurs on beta

[2018-04-10 16:33] antw commented on #1619
Was already fixed on beta; I've cherry-picked the commit to production.

[2018-04-10 16:33] #1619 closed

[2018-04-11 07:24] #1613 closed

[2018-04-11 10:04] DorinevanderVlies commented on #1619
thanks!

[2018-04-25 06:18] DorinevanderVlies opened #1620 "The useful demand in the ETM-scenario is inconsistent with export to ETM-SA"
The useful demand in the ETM-scenario is inconsistent with export to ETM-SA.

### Empty scenario Reitdiep (issue occurs)
For an empty scenario for the region "Reitdiep" ETM gives:

- UD for space heating: 30.06 TJ (over 918 households --> ~8500 kWh/hh)
- UD for hot water: 5.4 TJ (~1500 kWh/hh)

The export to ETM-SA gives:
- Demand for space heating 484 kWh
- Demand for water heating 194 kWh

This

[2018-04-30 06:59] DorinevanderVlies opened #1621 "Is is possible to add a price curve?"
The market model in Spain has variable tariffs for some customers.

ETM-SA already provides the option to use a price curve.
Is is possible to add price curves? I would need to add roughly 4  curves.

![image](https://user-images.githubusercontent.com/19907658/39417481-c4ee1192-4c54-11e8-9ecf-dbb686a193a7.png)

[2018-04-30 07:13] ChaelKruip commented on #1621
You can add financial profiles:
![image](https://user-images.githubusercontent.com/1303760/39417768-bc59f404-4c56-11e8-8366-9db4af63fcf7.png)

[2018-04-30 07:47] DorinevanderVlies commented on #1621
Thanks! I missed that one

[2018-04-30 07:47] #1621 closed, assigned to antw, grdw

[2019-09-15 12:13] muhammadawaisshaikh commented on #396
i have fixed this issue by removing the newline in application.yml :-)

[2019-12-13 16:14] #144 closed

[2021-01-26 15:54] #1620 closed, assigned to antw

[2022-02-26 19:16] abhilashak commented on #396
I have a syntax Error in `credentials.yml` Env file where I used:

`name=''` instead of `name: ''` in `.yml` file !!

[2022-08-01 08:59] #1537 closed

[2022-08-01 09:00] #1551 closed

[2022-08-01 09:00] #1604 closed