[2015-10-19 09:42] grdw commented on #530
Yes, and yes.

![screen shot 2015-10-19 at 11 41 58 am](https://cloud.githubusercontent.com/assets/2676542/10574461/6e43f770-7656-11e5-8761-83e3e96d46cf.png)

[2015-10-19 09:59] antw commented on #530
Actually, I take that back. The smaller nodes looks a bit weird now :laughing:

It would work if the width between each node was smaller ([which is set here](https://github.com/quintel/etmoses/blob/master/app/assets/javascripts/charts/topology_tree/tree_graph.js#L86-L91)) – the topology preview would want to set the width to a constant (50px?) – but I think I'm being very picky now. I'll leave it

[2015-10-19 10:03] dennisschoenmakers opened #538 "Update README for more detailed installation manual"

[2015-10-19 10:10] #538 closed

[2015-10-19 10:26] grdw commented on #530
Eh, no. I did that, but for the larger topologies that will become a bit of a mess. Maybe some `Math.min / Math.max` magic might turn out handy.

[2015-10-19 10:29] grdw commented on #537
Just for clarity: `economic_lifetime` must be implemented as if an alias of `technical_lifetime` ?

[2015-10-19 10:30] ChaelKruip commented on #537
Yes. :+1:

[2015-10-19 11:44] dennisschoenmakers opened #540 "NoMethodError: undefined method `reject' for nil:NilClass"
Check full details on Airbrake: [#1534704988711271017](https://quintel.airbrake.io/projects/111227/groups/1534704988711271017)

Backtrace:
[code]

[2015-10-19 13:06] ChaelKruip opened #541 "Is it possible to have a 'free-format flex profile'?"
@dennisschoenmakers, @AlexanderWirtz and myself had a meeting with a possible collaborator and the question came up how we could cheaply (without having to add a lot of new complex strategies) manipulate the flexibility of technologies.

What we mean here is that the behaviour of the technology is described by a profile directly (besides by a strategy) but for some times only. So, more specificall

[2015-10-20 07:20] grdw opened #542 "Business case not calculating correctly for LES#id=332"
Delayed job is having a problem trying to calculate the business case with a merit curve.

[code]

[2015-10-20 07:25] ChaelKruip opened #543 "Load chart is screwed up for week-view"
In [this LES](http://beta.moses.et-model.com/testing_grounds/330) the load chart looks like this:
![cursor_and_etmoses](https://cloud.githubusercontent.com/assets/1303760/10600645/7295e2fa-770c-11e5-9436-f1195f166e2f.png)

[2015-10-20 07:55] grdw commented on #543
"Could you please include the steps you took in to reproducing this bug."

Just kidding, because I think I know how this might happen though. I need to clear the brush from `localStorage`... I'll fix it asap.

[2015-10-20 07:57] ChaelKruip commented on #543
:+1:

[2015-10-20 08:00] ChaelKruip commented on #540
Assigned to @grdw

[2015-10-20 08:00] ChaelKruip commented on #537
What is the status of this @grdw?

[2015-10-20 08:01] ChaelKruip commented on #535
We have decided that the customer and the 24 'sub'-customers will be available alongside each other and thus have the same status. Closing.

[2015-10-20 08:01] #535 closed

[2015-10-20 08:04] ChaelKruip commented on #432
What is the status of this @antw ?

[2015-10-20 08:14] antw commented on #432
I will deal with the validations this morning. Ideally the front-end should also reflect the fact that some measures cannot use Merit or curve tariffs, but the validations will do the trick in the short-term.

[2015-10-20 08:15] antw commented on #537
It's part of [this pull request](https://github.com/quintel/etmoses/pull/539) and should be merged soon.

[2015-10-20 08:17] #530 closed

[2015-10-20 08:26] #537 closed

[2015-10-20 08:35] ChaelKruip opened #544 "when editing the technology matrix, save all and view LES does not save my options"

[2015-10-20 08:43] ChaelKruip opened #545 "Toggling concurrency to all min and applying breaks the concurrency toggle"
If I try to toggle back to 'min' and apply I get an internal sever error (500) for [this LES](http://beta.moses.et-model.com/testing_grounds/334)

[2015-10-20 09:01] ChaelKruip opened #546 "It would be cool if the topology preview would work on mouseover"
Now you have to select the topology first to see the preview:
![screen shot 2015-10-20 at 11 00 31](https://cloud.githubusercontent.com/assets/1303760/10602672/f5eb1f3c-7719-11e5-8b2f-6adde83a7fce.png)

[2015-10-20 09:03] #543 closed

[2015-10-20 09:08] grdw commented on #545
Posting backtrace:

[code]

[2015-10-20 09:09] antw commented on #546
I'm fairly sure `mouseover` and `mouseenter` events don't work on `<option>` elements. I think this would require a custom (JS-based) drop-down implementation such as [bootstrap-select](https://silviomoreto.github.io/bootstrap-select/).

[2015-10-20 10:14] #545 closed

[2015-10-20 10:19] grdw commented on #542
@antw is this by any chance fixed with 95a9c80 ? :pray:

[2015-10-20 10:21] grdw commented on #544
I think this had to do with `IrregularCurveMeasuresValidator` not found. I saw this flying by in my console log but I think @antw fixed it with 95a9c80.

[2015-10-20 10:31] grdw commented on #540
This is a disguised error. It means that the business case financials column is empty, which implies that the calculation never finished, which means that the calculation went haywire somewhere.

[2015-10-20 11:05] antw commented on #544
That class didn't exist when this issue was created, and there were no references to it in the code. I suspect the message in the console was unrelated to this issue.

[2015-10-20 11:13] grdw commented on #544
Yes, I think so to. Bit weird though. Maybe it was a specific LES, @ChaelKruip  do you have the id of the LES?

[2015-10-20 11:37] antw commented on #544
Was this in development? I just encountered the same thing; it turned out to be because the [Spring](https://rubygems.org/gems/spring) server hadn't picked up the new class (since it is in a new directory which wasn't being monitored for changes). Running `spring stop` fixed it.

[2015-10-20 11:37] grdw opened #547 "When clicking on a label node of the tree graph really fast, the behavior of the displayed chart get's weird"
This has to do with the fact that there are two click handlers assigned to the labels.

One is the click, the other is the double click.

I think we could disable the double click.

[2015-10-20 11:44] #542 closed

[2015-10-20 11:48] grdw commented on #544
I encountered it only on development. I couldn't detect the problem on the staging environment. Spring wasn't running locally in my environment so I guess it couldn't have been Spring (`spring stop` returned `Spring is not running`).

[2015-10-20 11:50] grdw commented on #547
I removed the double click. Though there is another weird thing happening:

When you try to make all the nodes invisible - when trying to make the last node invisible - all the nodes will become visible again.

[2015-10-20 12:20] #547 closed

[2015-10-20 12:39] grdw opened #549 "Are there names present for the 24 customer stakeholders?"
Right now they're named Customer 1 until 24.

I think there are actual names for them.

Before merging: #548

[2015-10-20 12:52] ChaelKruip commented on #549
Assigned to @JeroenvdLogt.

[2015-10-20 13:48] dennisschoenmakers opened #550 "NoMethodError: undefined method `each_pair' for ["0", {"freeform"=>[]}]:Array"
Check full details on Airbrake: [#1535492108275135882](https://quintel.airbrake.io/projects/111227/groups/1535492108275135882)

Backtrace:
[code]

[2015-10-20 13:48] dennisschoenmakers opened #551 "TypeError: no implicit conversion of String into Integer"
Check full details on Airbrake: [#1535492108786840984](https://quintel.airbrake.io/projects/111227/groups/1535492108786840984)

Backtrace:
[code]

[2015-10-20 13:48] dennisschoenmakers opened #552 "NoMethodError: undefined method `keys' for "0":String"
Check full details on Airbrake: [#1535492118425351587](https://quintel.airbrake.io/projects/111227/groups/1535492118425351587)

Backtrace:
[code]

[2015-10-20 13:51] ChaelKruip commented on #552
I think I did this by creating [a LES](http://beta.moses.et-model.com/testing_grounds/340) with 100 end-points ([this topology](http://beta.moses.et-model.com/topologies/1))

[2015-10-20 13:52] ChaelKruip opened #553 "Topology view does not display some topologies"
For example [topology 1](http://beta.moses.et-model.com/topologies/1)

[2015-10-20 14:11] grdw commented on #544
Talked with @ChaelKruip about this issue. It's a little bit more vague than I thought. The thing is that I can't reproduce this locally but I can on the beta and live servers.

[2015-10-20 15:16] grdw commented on #553
Fixed with https://github.com/quintel/etmoses/commit/93a8f140bda1052f10c818f803919e11c1b97a94#diff-a677b129357b14153eda00cc84180cf9R124

[2015-10-20 15:16] ChaelKruip commented on #553
:+1:

[2015-10-20 15:22] #553 closed

[2015-10-20 15:22] grdw commented on #552
This is my fault though...

[2015-10-20 15:34] grdw opened #554 "The corrections of a business case and the business case itself must be saved independently of each other"
The reason for this is that if you race your way through it the following might happen:

1. The background worker is calculating the business case (but is not yet finished)
2. The freeform is filled with 0's
3. Meanwhile the worker is done and fills the financials column.
4. We hit save on the freeform rows (and tada, we broke it).

Which explains errors #550, #551, #552

[2015-10-20 15:35] grdw commented on #552
Closing due to follow-up issue #554

[2015-10-20 15:35] grdw commented on #550
Closing due to follow-up issue #554

[2015-10-20 15:35] #550 closed

[2015-10-20 15:35] #552 closed

[2015-10-20 15:37] grdw commented on #551
Closing due to follow-up issue #554

[2015-10-20 15:37] #551 closed

[2015-10-21 07:16] grdw opened #555 "Importing gas technologies"
Will fill out this issue when more is clear.

[2015-10-21 08:32] ChaelKruip opened #556 "Do we need extra functionality to include fuel cells and micro-CHPs?"
In https://github.com/quintel/etmoses/pull/518 we discuss importing of gas-consuming space heating and hot water technologies into ETMoses. Micro-CHPs and fuel cells are among those but with an extra twist: whenever they make heat, they also produce electricity.

Does this pose a problem for ETMoses? If so, we need to allocate time next year to include these technologies.

NOTE: We can look at the

[2015-10-21 08:34] ChaelKruip commented on #555
Let me clarify: just as with PV, EV and four types of heat pumps, we need to 'import' the number of some gas-fuelled space heating and hot water technologies from the ETM into ETMoses. The following technologies are relevant:

* households_space_heater_network_gas
* households_space_heater_combined_network_gas
* households_space_heater_micro_chp_network_gas (import but don't show to user yet becau

[2015-10-21 08:44] antw commented on #556
Maybe, yes. Since we only have the one carrier at the moment, load is always simple consumption or production without any side-effects. We also know how much production is available at the *beginning* of the calculation (we know how much a solar PV produces, or how much is stored in a battery), but this feature would require production to change mid-calculation depending on the gas-load of the cel

[2015-10-21 08:50] ChaelKruip opened #557 "Don't show duplicate names in the topology and market model listings"
<img width="619" alt="screen shot 2015-10-21 at 10 49 38" src="https://cloud.githubusercontent.com/assets/1303760/10631959/90956606-77e1-11e5-81b0-bd45a56aee6e.png">

[2015-10-21 08:54] ChaelKruip opened #558 "When changing one of the technologies into households, the defaults are not correct"
This happens on PRODUCTION:
<img width="1299" alt="etmoses" src="https://cloud.githubusercontent.com/assets/1303760/10632009/ea366714-77e1-11e5-95d5-b047034110d4.png">
Other technologies seem to work fine...

[2015-10-21 09:05] ChaelKruip commented on #556
(Very) nice to have I would say but people will understand that these technologies are more complex because they produce two carriers.

I think so yes. Without the electricity production these technologies are just very inefficient heating devices...

[2015-10-21 09:31] #558 closed

[2015-10-21 10:23] JeroenvdLogt commented on #549
Customer AC8
Customer AC8a
Customer AC8b

same goes for:
:
Customer AC7/AC7a/AC7b
Customer AC6/AC6a/AC6b
Customer AC5/AC5a/AC5b
Customer AC4/AC4a/AC4b
Customer AC3/AC3a/AC3b
Customer AC2/AC2a/AC2b
Customer AC1/AC1a/AC1b

[2015-10-21 11:41] dennisschoenmakers opened #559 "RestClient::ResourceNotFound: 404 Resource Not Found"
Check full details on Airbrake: [#1536152736849444804](https://quintel.airbrake.io/projects/111227/groups/1536152736849444804)

Backtrace:
[code]

[2015-10-21 13:55] grdw commented on #559
This happens when you manually type a scenario id. Which is what I sometimes do. If you get it wrong though, this error comes along.

[2015-10-21 14:45] grdw commented on #555
Thanks for the technologies. :smile:  I put them in a migration and they're in the database. And set visible to false for the three technologies you just specified.

I'm guessing that this is not the only thing that needs to happen? :sweat_smile:

[2015-10-21 18:55] ChaelKruip commented on #555
They need to show up in the technology matrix as well... Later, they need to be coupled to the heat demand but that is not part of this ticket :smile:

[2015-10-22 07:12] grdw commented on #555
That happens automatically with all the visible technologies :+1:

[2015-10-22 09:27] ChaelKruip opened #561 "Week-view does not work for (financial) profiles"
![etmoses](https://cloud.githubusercontent.com/assets/1303760/10661633/a0e62634-78af-11e5-8dcb-5b8d5fac47cf.png)

[2015-10-22 09:48] ChaelKruip opened #562 "default capacity for P2H needs to be added"
![etmoses](https://cloud.githubusercontent.com/assets/1303760/10662165/d7582840-78b2-11e5-986f-ba17378b2e10.png)

[2015-10-22 10:25] dennisschoenmakers commented on #386
Closed with #538

[2015-10-22 10:25] #386 closed

[2015-10-22 10:26] dennisschoenmakers opened #563 "Update README with links to all existing documentation"
As requested by a client/user.

[2015-10-22 11:50] grdw commented on #562
This value has to be imported from EtEngine?

[2015-10-22 12:01] grdw commented on #561
Is this on live or on beta?

[2015-10-22 12:04] #561 closed

[2015-10-22 12:18] #532 closed

[2015-10-22 12:19] grdw commented on #544
Closing this.

[2015-10-22 12:38] grdw commented on #350
We need to park the technology matrix and it's edits 'somewhere' (be it caching) before this can be functional. Otherwise you'll need to continuously import the same scenario from et-model when moving of the import page.

[2015-10-22 13:04] grdw commented on #554
I went for the simple  yet useful fix, which is to hide the business form when it's not calculated yet. It makes no sense to fill in numbers if you don't know for which purpose.

[2015-10-22 13:06] #554 closed

[2015-10-22 13:06] #549 closed

[2015-10-22 13:06] ChaelKruip commented on #555
Can we close this @grdw ?

[2015-10-22 13:29] grdw commented on #498
Some things for the short run: turn the trigger into a click, remove the transparency which is just horrible.

[2015-10-22 13:39] grdw opened #564 "Staging is not deploying with Semaphore"
Staging is not deploying with Semaphore

[code]

It has something to do with airbrake.

[2015-10-22 13:41] grdw commented on #555
Yes

[2015-10-22 13:41] #555 closed

[2015-10-22 14:02] #564 closed

[2015-10-23 10:48] ChaelKruip commented on #498
:+1:

[2015-10-23 13:57] grdw opened #565 "Creating a merit order download link"
There has to be a merit order download link for a LES. It has to be available under the options menu.

I have a question before I start (and probably some more):

I found out that you can create a `Merit::Order` with `Merit::Order.new`. Which is nice. Than I started to click around and read and found out that there's an example file called:

https://github.com/quintel/merit/blob/master/examples/st

[2015-10-23 14:08] grdw opened #566 "The profile matrix and the buffer"
There needs to be an optional buffer per end-point which has a profile upon which you can attach certain technologies.

[code]

This also has to change in the front-end.

[2015-10-23 14:13] ChaelKruip commented on #565
I think that already happens in ETMoses. The new Merit object is created with the scaled production park and given the effective load on the HV network of the topology as demand curve.
The Merit module runs and returns a price curve which can be used as a tariff for financial transactions.

What I'm trying to say is that I think that you don't have to initialise and run the MO but rather figure ou

[2015-10-23 14:29] dennisschoenmakers commented on #565
That is already taken into account in [**Market::MeritBuilder**](https://github.com/quintel/etmoses/blob/66860411ccd6293ade1008f309548f800da9530a/app/models/market/merit_builder.rb#L43-L45) and defined in the technology's *type*.

[2015-10-23 14:45] ChaelKruip commented on #566
I think every household should have it's own buffers (one for space heating and one for hot water). Just as with base-load and other technologies, the buffer can have a profile and a 'units'.

[2015-10-23 14:47] grdw commented on #566
Had to pick my words a bit better here.

[2015-10-23 14:47] antw commented on #565
:+1:

The ETEngine API will include the technology `type` if you really need it:

[code]

*However*, the Market namespace already includes MeritBuilder which creates a fully-formed `Merit::Order` instance in order to compute the price curve. It should be possible to use that without much modification.

[2015-10-23 14:51] antw commented on #566
(I've started on the `Network` implementation of this already).

@ChaelKruip Does each house needs it's own *buffer* or its own *demand profile*? I had assumed that each technology has it's own buffer (as they do now) rather than feeding into a shared buffer.

[2015-10-23 15:06] ChaelKruip commented on #566
Sorry if I have been unclear about this. Each household needs it's own buffers (one for space heating and one for hot water). I think it makes sense to assign the hot water and space heating demand profiles (which we now assign to the technologies directly as 'use profiles') to the buffers instead. We than can associate the technologies (heat pumps, P2H, gas-boilers etc.) to the buffers as @grdw h

[2015-10-23 16:23] dennisschoenmakers opened #567 "NoMethodError: undefined method `/' for "":String"
Check full details on Airbrake: [#1537744272422844924](https://quintel.airbrake.io/projects/111227/groups/1537744272422844924)

Backtrace:
[code]

[2015-10-23 16:58] dennisschoenmakers opened #568 "NoMethodError: undefined method `curves' for nil:NilClass"
Check full details on Airbrake: [#1537762112970404491](https://quintel.airbrake.io/projects/111227/groups/1537762112970404491)

Backtrace:
[code]

[2015-10-26 00:55] dennisschoenmakers opened #569 "RuntimeError: Missing use profile for Heat pump for space heating (air)"
Check full details on Airbrake: [#1539451329874214108](https://quintel.airbrake.io/projects/111227/groups/1539451329874214108)

Backtrace:
[code]

[2015-10-26 09:31] grdw commented on #565
Ok, I see. Didn't notice that there was already a class built for it. :no_mouth:

Also found: https://github.com/quintel/etmoses/blob/master/app/models/market/from_market_model_builder.rb#L61-L74

Which looks exactly like the thing that is needed! :+1:

I think I can figure out

[2015-10-26 09:47] #569 closed

[2015-10-26 10:51] dennisschoenmakers opened #570 "Turbine::DuplicateEdgeError: Another edge already exists on #<Market::Stakeholder key="supplier"> which is too similar to #<Market::Relation #<Market::PaymentRule:0x007f1abd314b18>>"
Check full details on Airbrake: [#1539751509869704816](https://quintel.airbrake.io/projects/111227/groups/1539751509869704816)

Backtrace:
[code]

[2015-10-26 10:52] antw commented on #570
https://github.com/quintel/etmoses/issues/449#issuecomment-143188949

[2015-10-26 13:05] grdw commented on #565
I committed: bd83c03. However, there are no specs. The reason is that I don't really know yet what happens in between the input and output. I'll have to validate with somebody if the numbers are correct.

[2015-10-27 07:46] JeroenvdLogt opened #572 "Is it possible to assign a negative anual use to baseload profiles"
Hans Verberne asks me if its possible to 'abuse' baseloadprofiles to represent production of central production plants. He wants to assign a negative annual use to baseload profiles.

[2015-10-27 09:11] dennisschoenmakers commented on #432
This error seems to occur still on beta.moses.et-model.com.

https://quintel.airbrake.io/projects/111227/groups/1515882299653599519/notices/1540389689329434002

[2015-10-27 14:28] ChaelKruip opened #573 "It should be possible to change other specifications of technologies in the technology matrix"
Like COP, costs etc.

[2015-10-27 15:43] ChaelKruip opened #574 "Investment and O&M costs for components of gas-infrastructure should be researched"
At this point we will not explicitly model the gas-infrastructure (topology) as with electricity but we should still know a bit more about the cost of the gas infrastructure to be able to assess 'avoided costs' if we build an all-electric street in ETMoses. Or the cost of removal ('amoveren') of existing infrastructure if we would go to all-electric in existing streets.

I think it would be very u

[2015-10-27 15:43] ChaelKruip commented on #574
@JeroenvdLogt do you think you could find numbers for these topics?

[2015-10-28 08:54] ChaelKruip commented on #572
@JeroenvdLogt please assign a team member to ensure that your issue is noticed and that someone feels responsible for it.

Assigning to @antw

[2015-10-28 10:03] antw commented on #572
This is not possible as the base load profiles are split into two components – flexible and inflexible. The behaviour would almost certainly be incorrect if you assigned a negative demand, especially if you were to turn on the base load-specific features like "saving" and "postponing".

What you *can* do, is upload a new profile of your own which describes the production of these plants, set the t

[2015-10-28 10:03] #572 closed

[2015-10-28 10:41] ChaelKruip opened #576 "When an end-point contains a gas technology, the end-point should get a gas connection"
I think 'automatic' assignment of gas connections is more user-friendly than the alternatives (requiring the user to edit the topology file or abusing the technology matrix for this purpose). I'm not yet clear on the following question:

How are we going to determine the 'units' of the end-points gas connection?

Options include:
1 use the 'units' of the base_load
2 use the 'units' of gas technolo

[2015-10-28 10:46] ChaelKruip opened #577 "Demand profiles for hot water and space heating should behave analogous to base_load"
After discussion with @antw and @jorisberkhout, I think it is more natural to express the heat and hot water demand in terms of a profile that is scaled to match the total yearly demand for these quantities.

This is similar to how base_load profiles are scaled with the yearly electricity demand.

[2015-10-28 10:52] ChaelKruip commented on #577
This will also require demand for space heating and hot water to be imported from the scaled ETM scenario. I think we can use the following queries to get the demand (in MJ):
[code]
and
[code]
These demands have to be converted to kWh (divide the mj by 3.6 to get kWh) before the curves can be scaled right @antw?

[2015-10-28 10:54] ChaelKruip opened #578 "New profiles have to be generated for hot water and space heating"
The main difference is that they don't have a cut-off when the heat demand if higher than the volume of the buffer.

[2015-10-28 10:55] ChaelKruip commented on #578
Related to https://github.com/quintel/etmoses/issues/578

[2015-10-28 10:58] antw commented on #577
:+1:

[2015-10-28 10:59] ChaelKruip opened #579 "Electric heat pumps should get COP of 1 if demand exceeds their capacity"
This is a simple way to model the effect of an electric heating spiral (resistive heater) which kicks in whenever the capacity of the heat pump is insufficient to satisfy demand.

This feature is important because otherwise there will be no penalty for using a normal heat pump rather than a hybrid heat pump (which uses a gasboiler as back-up).

[2015-10-28 10:59] jorisberkhout commented on #574
We recently researched these parameters for a different project and found the following costs; all costs are costs per connection (i.e. house) and include a proportional part of costs of the gas infrastructure that is shared with other connections.

| Parameter | Costs |  Comment |
| :--- | :--- | :--- |
| Typical cost of construction | € 766.95 | Based on *Rekenmodel maximumprijs en aansluitbijdr

[2015-10-28 13:34] grdw commented on #566
*What I think should happen design wise*
![20151027-profile-matrix-new](https://cloud.githubusercontent.com/assets/2676542/10789829/1438bc76-7d80-11e5-88cf-26664b9bc214.png)

- The yellow columns need to be toggled on and off.

*I thought about column and end-node filters:*
![screen shot 2015-10-28 at 2 28 38 pm](https://cloud.githubusercontent.com/assets/2676542/10789869/4ce52992-7d80-11e5-832b-b

[2015-10-28 14:10] grdw commented on #353
I stumbled across the problem by accident. The problem is that there are multiple onChange events being fired when using selectAll. This is a problem in the bootstrap multiselect library as is described in their list of issues. (Will put relevant link in here).

[2015-10-28 14:14] antw commented on #566
Yes. A household will likely have separate "buffers" for space heating and hot water. Ideally the implementation should be flexible enough to support other buffers also (not hard-coded to just those two). *(the `Network` stuff I'm working on should have no problems with multiple buffers on the same endpoint).*

In the back-end, I'm avoiding calling these *buffers*, since they're more complicated t

[2015-10-28 14:51] grdw opened #580 "Adding gas-chart"
We came up with two designs.

One is where we plot the gas chart above the load chart.
[code]

*Pro's*
- Everything in one overview

*Con's*
- Brush needs to update two charts which is not supported in nvd3 library.

The other is in separate tabs:

[code]

*Pro's*
- Easy to implement

*Con's*
- Will probably be even slower on some machines due to the rendering of two charts instead of one. Chael t

[2015-10-29 10:49] dennisschoenmakers opened #581 "NoMethodError: undefined method `updated_at' for nil:NilClass"
Check full details on Airbrake: [#1541924978271170623](https://quintel.airbrake.io/projects/111227/groups/1541924978271170623)

Backtrace:
[code]

[2015-10-29 10:50] grdw commented on #580
@ChaelKruip

I made some time calculations and investigated into the options with the focus on the first option. But I hit a brick wall concerning the first option. Getting rid of the nvd3 library is going to be one hell of a job. Mainly because there is A LOT of code to sift through (nvd3 is build up with models which are intertwined and branched into each-other pretty badly). And it's not feasab

[2015-10-29 11:15] dennisschoenmakers commented on #580
In the end, I think we really need to have a solution where you can inspect and explore the electricity *and* the gas load chart simultaneously since all of the 'added value' is in the synergy of the two. It would be very unfortunate if you have to switch tabs for that.

What about putting the two series (elec + gas) in **one** chart?

[2015-10-29 11:18] grdw commented on #580
Chael and I discussed that option aswell. But it might get too messy. Than again, you can toggle them on and off with the legend.

[2015-10-29 11:19] dennisschoenmakers commented on #580
Exactly, and I think it's much better than switching tabs.

[2015-10-29 11:27] dennisschoenmakers commented on #580
How easy/hard will it be, @grdw ? :smile:

[2015-10-29 11:29] grdw commented on #580
I do have a question now about 'the synergy of the two'. The thing is that there is an `altLoad` attribute which contains the load when the strategies are applied (the data for the green line). Would there be a separate one for gas (like `gasAltLoad`) or would the strategies apply to both gas and normal load and would the green line show the 'sum' of both strategies? (Maybe @antw has an answer for

[2015-10-29 11:56] dennisschoenmakers commented on #580
I guess so.

No that would be weird! I guess we need four lines:
* one for electricity,
* one for gas,
* one for electricity with strategies applied and
* one for gas with strategies applied.

[2015-10-29 11:57] antw commented on #580
I think there will be need for separate "basic" and "feature" gas loads; the gas load may be affected by the user's choice of strategies.

I agree with @grdw that this could get messy, but it should be quite straightforward to implement (compared with the other options, anyway). It think it might be worth trying.

[2015-10-29 11:57] dennisschoenmakers commented on #580
and since you can toggle them all, user can choose what to inspect, right? :)

[2015-10-29 11:58] dennisschoenmakers commented on #580
If you mean with 'messy' a lot of information all crammed up in the same spot on your screen, I am not so worried. Up to the user to show gas/elec with/without strategies.

[2015-10-29 12:57] ChaelKruip commented on #580
Agree!

Sent from a mobile device.

[2015-10-29 13:08] grdw commented on #580
![screen shot 2015-10-29 at 2 07 06 pm](https://cloud.githubusercontent.com/assets/2676542/10819057/5d44549a-7e46-11e5-9397-6aaa141e1f7e.png)

Something like this? :smile:

[2015-10-29 13:32] ChaelKruip commented on #580
:+1:

Sent from a mobile device.

[2015-10-29 15:06] grdw commented on #566
I agree. Also like your take with the expandable boxes.

Maybe if the input/select boxes were side-by-side?

[code]

[2015-10-29 15:51] dennisschoenmakers opened #583 "ActionController::ParameterMissing: param is missing or the value is empty: testing_ground"
Check full details on Airbrake: [#1542076727728519500](https://quintel.airbrake.io/projects/111227/groups/1542076727728519500)

Backtrace:
[code]

[2015-10-29 15:57] dennisschoenmakers opened #584 "ActionController::ParameterMissing: param is missing or the value is empty: testing_ground"
Check full details on Airbrake: [#1542079940666047226](https://quintel.airbrake.io/projects/111227/groups/1542079940666047226)

Backtrace:
[code]

[2015-10-29 16:41] antw commented on #566
:+1:

[2015-10-29 17:08] #567 closed

[2015-10-30 08:12] dennisschoenmakers commented on #580
Excellent!

[2015-10-30 12:11] dennisschoenmakers commented on #568
This error seems to be generated only by Googlebot? :Smile:

[2015-10-30 16:24] grdw commented on #566
![screen shot 2015-10-30 at 5 23 46 pm](https://cloud.githubusercontent.com/assets/2676542/10851363/02648334-7f2b-11e5-9d1b-727317a0cb11.png)

[2015-11-02 13:47] ChaelKruip opened #585 "Heating technologies should be distributed over the available buffers in ETMoses"
The number of buffers should be twice the number of households (every household has one hot water and one space heating buffer). Technologies should be distributed over the buffers by default according to the following rules:

* Each buffer should have at leas one technology of the correct type
* If there are more technologies than buffers, the combination of electric and gas is preferred to two g

[2015-11-02 14:33] dennisschoenmakers opened #586 "NoMethodError: undefined method `build' for #<Market::MeritCurveBuilder:0x007fe578676168>"
Check full details on Airbrake: [#1544936574434128949](https://quintel.airbrake.io/projects/111227/groups/1544936574434128949)

Backtrace:
[code]

[2015-11-02 16:03] ChaelKruip commented on #574
@JeroenvdLogt it would be more useful if we would have some typical numbers for extreme and average situations:

* Densely populated region (city)
* Sparsely populated region (countryside)
* Something in between?

[2015-11-03 08:41] dennisschoenmakers commented on #574
Densely populated region (city)
Sparsely populated region (countryside)
Something in between?

I know that some models (references available on request through a private message) use the building density ('woningdichtheid') to scale 'typical' costs. We could perhaps include a 'building density' parameter in the topology?

Some numbers to give you an idea:
* Woningdichtheid Nederland gemiddeld: 224

[2015-11-03 14:16] dennisschoenmakers opened #587 "Remember original URL when you need to log in"
Now it's annoying when you follow a link, and you log in, you are redirected to the home page, in stead of your url.

[2015-11-03 14:41] ChaelKruip opened #588 "Download of curves is broken"
<img width="503" alt="screen_shot_2015-11-03_at_13_39_50_png" src="https://cloud.githubusercontent.com/assets/1303760/10908215/715f35e2-8230-11e5-94c1-cbd6c9c713d7.png">

[2015-11-03 15:20] grdw commented on #588
Which curves?

[2015-11-03 15:25] ChaelKruip commented on #588
The 'load' curve (first in the list). Nothing happens when I push the button

[2015-11-03 16:17] ChaelKruip opened #589 "Business case should reflect transactions based on flex"
No flexibility measures in [this LES](http://beta.moses.et-model.com/testing_grounds/355)

<img width="1199" alt="etmoses" src="https://cloud.githubusercontent.com/assets/1303760/10910760/846c256c-8241-11e5-88ad-5cb72222eaef.png">

[2015-11-04 10:07] dennisschoenmakers opened #590 "Merit::IncorrectProducerOrder: Producers may not include any always-on producers after the first producer which is not always-on."
Check full details on Airbrake: [#1546252550819790384](https://quintel.airbrake.io/projects/111227/groups/1546252550819790384)

Backtrace:
[code]

[2015-11-04 10:08] dennisschoenmakers opened #591 "Merit::IncorrectProducerOrder: Producers may not include any always-on producers after the first producer which is not always-on."
Check full details on Airbrake: [#1546252670290345544](https://quintel.airbrake.io/projects/111227/groups/1546252670290345544)

Backtrace:
[code]

[2015-11-04 10:54] #591 closed

[2015-11-04 10:59] #590 closed

[2015-11-04 15:14] JeroenvdLogt opened #592 "No business case calculation for complex LES"
Hello,

Hans and I are trying to simulate the average Liander grid. The loadcalculations seems to be okay but after ET Moses is finished still no BC is available. I looked at the market model and topology but it seems that all the stakeholders are taken care of. Its about this LES at Hans Verberne's account.

"Hierbij de link naar Liander 2014

http://beta.moses.et-model.com/testing_grounds/247"

[2015-11-04 15:24] JeroenvdLogt opened #593 "'De buurtbatterij'"
During sprint planning meetings (I cannot exactly remember when) Hans Verberne asked if it would be possible to simulate a 'buurtbatterij'. For now it seems possible to install a stationary battery for storage  of surplus of solar energy. A 'buurtbatterij' however should in practice also be capable of peaksheaving and 'dalvulling' for any source of electricity.

I foresee this will be not as easy

[2015-11-04 15:38] JeroenvdLogt commented on #574
I discussed this point within Alliander and with Dennis on the phone. For the short period is okay to only use good guesses of cost of gasconnection and gastransport per house.

According to the tariff experts at Alliander Regulering the connection tarriffs and transport tarrifs are a good representation of the average cost for gas infrastructure & connection. Local situtations can differ (a lot).

[2015-11-04 15:49] JeroenvdLogt commented on #574
Tarriffs --> average cost: to realize a new gasconnection
![aansluit tarieven gas](https://cloud.githubusercontent.com/assets/7781037/10943266/05204350-8314-11e5-855c-a943085bcf07.JPG)

https://www.liander.nl/consument/aansluitingen/tarieven/?ref=8323

[2015-11-04 15:51] JeroenvdLogt commented on #574
Tarrifs-->average cost: to remove olde gasconnection
![tarieven verwijderen gasaansluiting](https://cloud.githubusercontent.com/assets/7781037/10943337/47064fee-8314-11e5-85c8-d1cfad8da052.JPG)

https://www.liander.nl/consument/aansluitingen/tarieven/?ref=8452

[2015-11-04 15:54] JeroenvdLogt commented on #574
Tarrifs-->average cost: to (dis)connect to main pipe in street.
![in-uitbedrijfstelling gas](https://cloud.githubusercontent.com/assets/7781037/10943435/af0d5132-8314-11e5-948d-7bf61fef0f91.JPG)

https://www.liander.nl/sites/default/files/Tarieven_IBS_en_UBS_gas_2015.pdf

[2015-11-04 15:58] JeroenvdLogt commented on #574
Tarriffs --> average daily and monthly cost to enable gastransport (systemcost or also called cost for infrastructure)

"Periodieke tarieven
De totale periodieke netwerkkosten noemen we ook wel het capaciteitstarief. Dit is de som van

De afzonderlijke periodieke tarieven voor de aansluiting.
- Het transport van de energie.
- De meetdiensten per aansluiting.
- De leverancier brengt dit tarief als

[2015-11-04 16:02] JeroenvdLogt commented on #574
Is this usefull information for now @ChaelKruip?

[2015-11-04 16:31] grdw opened #594 "Concurrency with buffers"
The only issue that stands between the new profile layout with buffers is the concurrency.

The concurrency now looks at the end-points - and the unique profiles per technology.

Let's say this is the LES and all technologies have 2 profiles for simplicity.

[code]

With minimized concurrency it will look like:

[code]

Nothing new here, this is just how it functions.

----

With a buffer it looks

[2015-11-04 19:30] antw commented on #594
I can't speak for @ChaelKruip, but that's not *quite* what I was expecting. In the example, you have two heat pumps (`#1` and `#2`), and they seem to *both* be connected to Buffer 1 and Buffer 2. This is what I was anticipating:

Max concurrency:

[code]

Min concurrency:

[code]

That is... changing the concurrency settings would change the number of discrete technologies, but the number of compo

[2015-11-04 19:39] antw commented on #592
This was an old LES, created before current market model system was deployed, and therefore lacked a BusinessCase object of its own. I have added one manually. You should find that the financial outcomes now show up.

[2015-11-04 19:39] #592 closed

[2015-11-05 08:26] JeroenvdLogt opened #595 "uploading technology.csv"
I'm trying rebuild the LES of Hans Verberne. Its a private one so to keep it that way Hans send me the topology, technology.csv and the market model. I am able to reproduce the topology and market model. But when I try to rebuild the technology table something goes wrong. I succeed in uploading but all the names and profiles are gone. Result is that all the loads are zero.

On the live server I am

[2015-11-05 09:06] JeroenvdLogt commented on #526
I can calculate I BC now but the Totals seems not to be okay.
5bln incoming - 8 bln outgoing is not equal to -8 bln.
![wrong total](https://cloud.githubusercontent.com/assets/7781037/10964047/d9a43cfe-83a4-11e5-8c94-0f1bb9e002aa.JPG)

[2015-11-05 09:16] antw commented on #526
Where do you see this in ETMoses? The screenshot doesn't have any rows with 5bln incoming.

[2015-11-05 09:24] JeroenvdLogt commented on #526
Ah wait, I see what's going on. I was referring to the balance of system operator. But the incoming for system operator is 5 mln instead of 8 bln. Maybe aligning of numbers can prevent misunderstandings.

[2015-11-05 17:25] JeroenvdLogt opened #596 "Idea to improve userfriendlyness"
Would it be an idea to make constructioning a topology more easy. I was thinking about linking different   existing topologies to eachother.

An existing topology could be connected to an end-node (or also regular node) just like another connection. Perhaps it's even possible to do this in a (simplified) graphical interface of both topologies. This would make construction of topologies much quicke

[2015-11-06 10:49] JeroenvdLogt opened #597 "Are cost included in upscaling from ET-Moses to ETM"
I was wondering wether with upscaling from ET-Moses to ETM simulationresults for costs are empoyed  in ETM or not. It seems as nothing was changed in energyproduction and -consumption but the market model changed however that systemcost still unchanged.

![image](https://cloud.githubusercontent.com/assets/7781037/10995346/5b4367b2-847c-11e5-9af2-b3ab699c76f4.png)

![image](https://cloud.githubuser

[2015-11-06 10:52] ChaelKruip opened #598 "Show advanced button should say 'hide advanced' when clicked once"
![etmoses](https://cloud.githubusercontent.com/assets/1303760/10995400/cb15e786-847c-11e5-9aaf-e823dcda2fab.png)

[2015-11-06 10:53] ChaelKruip opened #599 "EV don't get proper defaults when added to technology 'matrix'"
![etmoses](https://cloud.githubusercontent.com/assets/1303760/10995419/f8b72e5c-847c-11e5-96d2-19cfc31ad330.png)

[2015-11-06 10:54] ChaelKruip opened #600 "Units have to be added to technology matrix"
![etmoses](https://cloud.githubusercontent.com/assets/1303760/10995443/26c9cc64-847d-11e5-8ce2-4a1f9f302c07.png)

[2015-11-06 13:01] ChaelKruip commented on #574
Yes. Thanks a lot!

One other point that came up in recent discussion with John Kerkhoven is the cost of 'reviving' old infrastructure using a coating or by fitting a new hose inside the existing pipes. Do you have any ideas on what costs are relevant for such operations?

[2015-11-06 13:23] ChaelKruip commented on #594
As discussed with @grdw this is indeed what I meant. The concurrency works on the thing that carries the profile. It makes little sense to treat multiple units separately if they are all using the same profile right?

I hope so too :fearful:

2. This is in line with how topologies behave: a 'units' on one level does not influence the lower levels.

[2015-11-06 13:24] ChaelKruip commented on #596
I like the idea @JeroenvdLogt!

As far as Quintel goes, I think this is in line with our philosophy which is to make a useable and fun tool to solve real problems with! :smile:

Yes, I'd think so but we have to answer some questions first (more on that later).

Depends. I think a simple implementation would take about 8 mandays.

I have some questions:
* Do you also have to be able to remove these

[2015-11-06 15:13] JeroenvdLogt commented on #574
I found this text in the (kwaliteits- en capaciteitsdocument) from Enexis for now. I wel continue further research.

https://www.enexis.nl/Documents/kwaliteit-en-capaciteit/enexis-kwaliteit-en-capaciteit-gas-2014-2023-deel-a.pdf

"Op het gebied van innovatie werkt Enexis momenteel aan de volgende onderwerpen in de gasvoorziening:
 Doorontwikkelen en onderzoeken van sleufloze renovatie voor gaslei

[2015-11-06 15:31] JeroenvdLogt commented on #574
http://www.trenchless-pipelining.com/

"TRENCHLESS PIPE LINING COMPANY STOPS BACKUPS & LEAKS PERMANENTLY COSTING 60% LESS THAN EXCAVATION!

From outside your property we open the pipe, clean out the rust, scale and roots, and then install a new “pipe liner” or sleeve which has been saturated with a special self-hardening epoxy resin. The liner contains a balloon which is inflated for 3 hours while

[2015-11-06 15:33] ChaelKruip commented on #587
Assigning @grdw

[2015-11-06 15:33] ChaelKruip commented on #586
@grdw @antw can this be closed?

[2015-11-06 15:33] ChaelKruip commented on #584
@grdw @antw can this be closed?

[2015-11-06 15:34] ChaelKruip commented on #583
@grdw @antw can this be closed?

[2015-11-06 15:34] ChaelKruip commented on #581
@grdw @antw can this be closed?

[2015-11-06 15:34] ChaelKruip commented on #568
@grdw @antw can this be closed?

[2015-11-06 15:34] ChaelKruip commented on #533
@grdw @antw can this be closed?

[2015-11-06 15:35] #533 closed

[2015-11-06 15:35] ChaelKruip commented on #504
assigning @antw

[2015-11-06 15:35] ChaelKruip commented on #503
Assigning to @antw

[2015-11-06 15:36] antw commented on #568
Caused by very old scenarios which have no profile (or an invalid profile) assigned to a technology. We can ignore ignore this (they are old scenarios on *beta*, after all) or write a migration to assign a random profile to these technologies.

[2015-11-06 15:37] ChaelKruip commented on #568
:+1: Closing

[2015-11-06 15:38] ChaelKruip commented on #346
Assigning @antw

[2015-11-06 15:40] antw commented on #581
Probably caused by an old scenario which didn't have a market model. This is on beta so I'm inclined to ignore it; it won't happen in production.

[2015-11-06 15:40] #581 closed

[2015-11-06 15:41] antw commented on #584
Duplicate of #583.

[2015-11-06 15:41] #584 closed

[2015-11-09 09:02] dennisschoenmakers opened #602 "Add Netbeheer NL en Gasunie logos to footer"

[2015-11-09 09:08] ChaelKruip commented on #602
Assigned to @grdw

[2015-11-09 09:10] ChaelKruip commented on #602
I think we want this to be similar to the ETM:
* leading partner: Alliander
* partners: Gasunie, Netbeheer Nederland (roulerend)

![energy_transition_model_-_your_free__independent__comprehensive__fact-based_scenario_builder_](https://cloud.githubusercontent.com/assets/1303760/11029845/100eeeba-86ca-11e5-9a44-2f4c83512e88.png)

[2015-11-09 09:18] dennisschoenmakers commented on #602
As discussed with @ChaelKruip: Just place the logos on the right of the current logo.

[2015-11-09 14:50] ChaelKruip commented on #508
Can this be closed @grdw?

[2015-11-09 14:54] ChaelKruip opened #603 "O&M costs should be included in yearly cost for infrastructure"
If the user adds `yearly_o_and_m_costs: xxx` to a node in the topology, the diagonal cells (currently displaying only the depreciation costs) should display the sum of depreciation costs and xxx.

@grdw can this be done with some priority as our client has requested this feature explicitly?

[2015-11-09 14:56] #563 closed

[2015-11-10 07:45] ChaelKruip opened #604 "User request: high res PNG dump for large topologies"
One of our clients builds large topologies and is frustrated with the relatively small window in the front-end. He would like to be able to print the topology to a high res (PNG) image for the purpose of putting it in presentations etc.

[2015-11-10 08:12] grdw commented on #598
I could also call it 'toggle advanced' ?

[2015-11-10 08:16] grdw commented on #508
Yes

[2015-11-10 08:16] #508 closed

[2015-11-10 13:32] ChaelKruip commented on #598
:+1:

[2015-11-10 15:04] #598 closed

[2015-11-10 15:05] ChaelKruip commented on #578
This is done.

[2015-11-10 15:05] #578 closed

[2015-11-10 15:06] #519 closed

[2015-11-10 15:10] #603 closed

[2015-11-10 15:24] grdw commented on #540
I close this, if it occurs again I'll see to it.

[2015-11-10 15:58] grdw commented on #596
We could draw it?

http://bl.ocks.org/benzguo/4370043

[2015-11-11 14:19] #600 closed

[2015-11-11 15:00] #599 closed

[2015-11-11 15:07] #588 closed

[2015-11-11 15:55] grdw commented on #568
This is also triggered by #595

[2015-11-11 15:57] grdw commented on #595
I see that `Productie edsn_3d` is being used as a profile after converting [technology_profile (1).xlsx](https://github.com/quintel/etmoses/files/27827/technology_profile.1.xlsx) to a csv in excel.

This is not a valid `profile_key`. I would suggest removing the `Productie ` prefix (mind the whitespace). After that it should work just fine.

Including #568

[2015-11-11 16:00] grdw commented on #595
It would also be nice to add validations for this though. To check if the `profile_key` actually exists in Et-moses. Might be better than throwing an error. :smile: There are no validations right now due to the dropdown boxes but since a CSV is pretty freeform we might consider adding one.

Including @ChaelKruip

[2015-11-12 13:39] JeroenvdLogt commented on #595
Actualy I renamed a load_profile to the correct name at the beta-server and tried again. But even than it didn't work properly. For now I am bussy with other things. Maybe when I meet Chael or if I am in Amsterdam I can show.

[2015-11-12 15:46] ChaelKruip opened #606 "How to deal with output temperatures of technologies (specifically hybrid heat pumps)?"
# Background

Space heating and domestic hot water require different temperatures. Say 45 and 60 degrees respectively. In ETMoses we model these two uses of heat by using two distinct buffers. Each buffer has the following attributes:

* physical_volume [liter]: how many liters of water the buffer contains (this water is always there, the consumed water is heated by passing it through a heat-excha

[2015-11-12 15:48] ChaelKruip commented on #606
@antw @dennisschoenmakers @AlexanderWirtz @jorisberkhout sorry for the wall of text again but I'd really like your opinion on the solution direction described above.

[2015-11-13 13:34] ChaelKruip opened #607 "How do we connect technologies to a heat demand?"
From See https://github.com/quintel/etmoses/issues/606 and its discussion with experts, the following picture emerges:

A heating demand (say hot water for now) should be specified by a profile **and a temperature**.

It is necessary to specify at which temperature the heat is requested by the use profile because not all technologies might be able to provide that temperature and thus need to be as

[2015-11-13 15:01] dennisschoenmakers commented on #606
:+1: for the proposed direction.

[2015-11-13 16:03] ChaelKruip commented on #607
Including @antw @dennisschoenmakers @jorisberkhout

[2015-11-14 15:24] dennisschoenmakers opened #608 "ArgumentError: comparison of Float with Float failed"
Check full details on Airbrake: [#1517348188190130069](https://quintel.airbrake.io/projects/111227/groups/1517348188190130069)

Backtrace:
[code]

[2015-11-15 17:28] dennisschoenmakers opened #609 "NoMethodError: undefined method `/' for "235,12235,12235,12235,12":String"
Check full details on Airbrake: [#1554446742159078543](https://quintel.airbrake.io/projects/111227/groups/1554446742159078543)

Backtrace:
[code]

[2015-11-15 17:28] dennisschoenmakers opened #610 "NoMethodError: undefined method `/' for "235,12235,12235,12235,12":String"
Check full details on Airbrake: [#1554446778179761310](https://quintel.airbrake.io/projects/111227/groups/1554446778179761310)

Backtrace:
[code]

[2015-11-15 19:06] dennisschoenmakers opened #611 "NoMethodError: undefined method `symbolize_keys' for "na":String"
Check full details on Airbrake: [#1554496081057264962](https://quintel.airbrake.io/projects/111227/groups/1554496081057264962)

Backtrace:
[code]

[2015-11-17 09:07] grdw commented on #562
@ChaelKruip see above question.

[2015-11-17 09:15] ChaelKruip commented on #562
It should be imported from ETE but I'm not sure if it already exists :smile:

[2015-11-17 09:15] grdw commented on #595
Is there a specific error message you receive? Like:

![screen shot 2015-11-17 at 10 14 13 am](https://cloud.githubusercontent.com/assets/2676542/11207189/f76f3086-8d13-11e5-89f4-17ea63a70920.png)

Or do you get redirected to the '[something went wrong](http://beta.moses.et-model.com/500.html)' page?

[2015-11-17 09:19] grdw commented on #562
I would assume that it doesn't, since it doesn't get filled in automatically. So maybe a database default would suffice for now?

[2015-11-17 09:37] ChaelKruip commented on #595
@grdw please refer to the person whom you are asking the question to trigger them getting an email notification. Including @JeroenvdLogt

[2015-11-17 09:40] ChaelKruip commented on #562
:+1: I think we already added its specifications earlier. This comment contains the values: https://github.com/quintel/etdataset/issues/599#issuecomment-98747401

[2015-11-17 09:44] grdw commented on #595
I already found a problem. The first CSV converter assumed the profiles were filled from a `profile` csv header. Right now the `profile_key` header is used. This triggers some strange behaviour (namely technologies without profiles). I'll look closer into the CSV -> Technologies conversion.

[2015-11-17 09:47] antw commented on #595
The author of an issue will get a notification for each update unless they explicitly opt out by clicking "Unsubscribe" (top-right, beneath the assignee).

--

The technologies CSV looks to me to be lagging behind the rest of the application in that it is missing many of the newly added attributes (coefficient of performance, costs, etc). Maybe this is partly to blame?

However, I don't think we c

[2015-11-17 10:06] grdw commented on #595
I did fix the `profile_key` issue. https://github.com/quintel/etmoses/commit/644c681ca251c16089260ab27807d7e51e744916

Could be, but is not described in the original issue.

[2015-11-17 10:08] ChaelKruip commented on #595
Cool. Thanks for pointing that out.

[2015-11-17 10:09] grdw commented on #562
I'm assuming it's the `- input_capacity = 2 kW` field. :smiley:

I added 2.0 as defaults for the `default_capacity` field for `households_flexibility_p2h_electricity` for the `etmoses_production` and `etmoses_staging` databases.

[2015-11-17 10:09] ChaelKruip commented on #595
Let's close this one and open a new issue then :smile:

[2015-11-17 10:10] ChaelKruip opened #612 "technology CSV should be updated to deal with new attributes"
See https://github.com/quintel/etmoses/issues/595

[2015-11-17 10:12] grdw commented on #612
Quick question though; should the user be able to specifiy these attrbiutes by hand in their csv or does this need to be filled automatically from EtMoses or both (depending on the fact if the columns in question are empty or not?)

[2015-11-17 10:12] #595 closed

[2015-11-17 10:26] #562 closed

[2015-11-17 10:30] ChaelKruip commented on #612
Both. ETMoses should fill in the values that are in the interface, whether the user created those or not (when they are the default values). The user should be able to edit the CSV though (otherwise there would be little use for it).

[2015-11-17 10:32] ChaelKruip commented on #562
:+1:

[2015-11-17 10:39] grdw commented on #589
Can you maybe explain the details of this problem? Is it just the fact that these values are empty or should they be filled?

[2015-11-17 10:52] ChaelKruip commented on #589
In the LES mentioned, there is a transaction based on the flexibility realised by the customer. The Aggregator should pay for it. Because the green and blue curves are different for end-points that belong to the customer I'd expect the Aggregator to pay a non-zero amount to the customer and thus have expenses.

I expect that the Customer should get money and the Aggregator should be paying.

The c

[2015-11-17 11:30] dennisschoenmakers opened #613 "NoMethodError: undefined method `reject' for nil:NilClass"
Check full details on Airbrake: [#1555716126387188967](https://quintel.airbrake.io/projects/111227/groups/1555716126387188967)

Backtrace:
[code]

[2015-11-18 09:07] ChaelKruip commented on #544
I think it is a real issue and should be addressed at some point. Re-opening this.

[2015-11-18 09:09] ChaelKruip opened #614 "profiles for households not saved"
For [this LES](http://beta.moses.et-model.com/testing_grounds/360) for households, always the first profile is selected after I select another, save, view LES and return to the profile matrix.

[2015-11-18 14:06] #614 closed

[2015-11-18 14:18] grdw commented on #544
Is this the same issue as #614 ?

[2015-11-18 14:28] grdw commented on #544
Hmm. I can sometimes reproduce this still. Only if I click really really fast. I think this is general slowness of parsing a large dataset. I could disable the button until the full JSON dataset is loaded into the dom part that contains the `technology_profile`.

[2015-11-18 14:30] grdw commented on #544
Still one thing. I'm not going to do this on the old interface. It'll probably be the same problem on the new interface. So in order to not to fix the same bug twice...

[2015-11-18 14:35] antw commented on #544
New UI will be merged soon, I promise! Still got some loose ends to tie up with shared buffers (discussed with @ChaelKruip earlier today) and I'll merge the new editor and gas charts at the same time.

[2015-11-18 14:39] grdw commented on #611
I think this issues is related: https://github.com/quintel/etmoses/issues/596

[2015-11-18 14:43] ChaelKruip commented on #611
I don't see how... :confused:

[2015-11-18 14:47] antw commented on #611
My guess is someone entered a topology like:

[code]

A better topology editor would prevent this, but we should still add a validator (`children` should be an Array, or absent if there are no children).

[2015-11-19 10:02] dennisschoenmakers opened #615 "Market::CurveLengthError: Tried to price a value collection containing 1 values with a curve containing 35040"
Check full details on Airbrake: [#1557121306475347614](https://quintel.airbrake.io/projects/111227/groups/1557121306475347614)

Backtrace:
[code]

[2015-11-19 10:28] dennisschoenmakers opened #616 "NoMethodError: undefined method `reject' for nil:NilClass"
Check full details on Airbrake: [#1557134389776200443](https://quintel.airbrake.io/projects/111227/groups/1557134389776200443)

Backtrace:
[code]

[2015-11-19 15:13] grdw commented on #604
Personal note: https://gist.github.com/gustavohenke/9073132

[2015-11-20 10:53] grdw commented on #604
https://github.com/quintel/etmoses/pull/617

[2015-11-20 11:23] #594 closed

[2015-11-20 11:23] grdw commented on #594
This is part of pull request https://github.com/quintel/etmoses/pull/605

[2015-11-20 13:46] grdw commented on #604
I got it to work in IE9 aswell. But there's still a problem; the top of the image is getting cut off. This has to do with svg and scaling in IE9.

[2015-11-20 13:56] grdw commented on #604
![blbdgfdfjfdoigd](https://cloud.githubusercontent.com/assets/2676542/11301364/d3359cf2-8f96-11e5-9231-4a853a1c464e.png)

The topology is extremely small compared to the Firefox and Chrome version.

[2015-11-20 14:01] grdw commented on #609
Closing due to possible duplicate: #610

[2015-11-20 14:01] #609 closed

[2015-11-20 14:04] grdw commented on #613
Possible duplicate: #616

[2015-11-20 14:04] #613 closed

[2015-11-20 14:41] grdw commented on #610
This is a rather weird problem.

Contents of line 222:

[code]

The multiplier is the culprit. The demand is set as a string value as `'"235.12"'` (notice the double quotes) and the `frames_per_hour` is 4. This makes the typecasting to a float impossible which results in this error. I can only imagine that a CSV upload might do this. Or explicitly typing the quotes in the technologies matrix. I'll

[2015-11-23 08:22] grdw commented on #604
I read alot about not using dynamic heights/widths in combination with svg's, last friday. I tried to fix the height problem but couldn't really find a direct solution. @antw do you know what might be the problem here?

[2015-11-23 10:04] antw commented on #604
Sorry to say I have no idea why this would happen or what the `viewport` attribute does, so your guess is as good as mine. Perhaps the D3.js docs will have some information on scaling-to-fit?

[2015-11-23 11:04] grdw commented on #604
Fixed the topology preview problems in IE9. :sweat_drops:

Still haven't fixed the dump as PNG problem.

This is what it looks like in Firefox:
![310](https://cloud.githubusercontent.com/assets/2676542/11335123/08d7126a-91da-11e5-9f4d-386a2ba4d9a3.png)

This what it looks like in IE9:
![310](https://cloud.githubusercontent.com/assets/2676542/11335147/27869172-91da-11e5-83ef-d9d580663e0b.png)

I am

[2015-11-23 12:00] ChaelKruip commented on #604
:+1:

[2015-11-23 13:12] grdw commented on #586
No

[2015-11-23 13:13] grdw commented on #616
Financials column of the business case was empty due to an error that occurred. The error that preceded this one is this one: #586

Therefor I'm closing this issue.

[2015-11-23 13:13] #616 closed

[2015-11-23 15:42] dennisschoenmakers opened #619 "TypeError: nil can't be coerced into Float"
Check full details on Airbrake: [#1560191506217153948](https://quintel.airbrake.io/projects/111227/groups/1560191506217153948)

Backtrace:
[code]

[2015-11-23 15:43] dennisschoenmakers opened #620 "TypeError: nil can't be coerced into Float"
Check full details on Airbrake: [#1560191512089179563](https://quintel.airbrake.io/projects/111227/groups/1560191512089179563)

Backtrace:
[code]

[2015-11-23 17:27] #619 closed

[2015-11-24 09:31] dennisschoenmakers opened #622 "NoMethodError: undefined method `update_attributes' for nil:NilClass"
Check full details on Airbrake: [#1560729659621490040](https://quintel.airbrake.io/projects/111227/groups/1560729659621490040)

Backtrace:
[code]

[2015-11-24 09:49] dennisschoenmakers opened #623 "NoMethodError: undefined method `attributes' for nil:NilClass"
Check full details on Airbrake: [#1560738789589496222](https://quintel.airbrake.io/projects/111227/groups/1560738789589496222)

Backtrace:
[code]

[2015-11-24 10:02] ChaelKruip opened #624 "Is the transaction for produced kWh correct?"
In [this LES](http://beta.moses.et-model.com/testing_grounds/370) we have customers that are compensated for their produced electricity. It seems that they get more money that what they have to pay. It seems, however, that they consume more than they produce!

[2015-11-24 11:29] grdw commented on #623
A great inspirational figure in the field of computing once said: never copy and paste rows directly in the database.

[2015-11-24 11:29] #623 closed

[2015-11-24 11:30] #622 closed

[2015-11-24 11:30] grdw commented on #622
See #623

[2015-11-24 13:48] dennisschoenmakers opened #625 "RestClient::ResourceNotFound: 404 Resource Not Found"
Check full details on Airbrake: [#1418923363403280614](https://quintel.airbrake.io/projects/111227/groups/1418923363403280614)

Backtrace:
[code]

[2015-11-24 14:04] grdw commented on #604
I tried to figure out what this may cause.

Upon drawing a small topology (id=340) the following svg is produced in Firefox:

[code]

In Internet Explorer 9 this happens:
[code]

[2015-11-24 15:22] grdw commented on #604
Turns out this was the issue.

Note for future IE9 troubles:

When cloning an object. Don't use `attr` upon any sub-html node of that cloned object. For that attribute will not change. Instead use `replace` and use a regex to replace the attribute you want to change.

[2015-11-24 16:01] ChaelKruip opened #626 "P2H should be possible using a heat pump instead of an electric heater"
Currently, our P2H setup is a buffer tank with an electric resistive heater. If you have a heat pump at your disposal, however, it is much more energetically efficient to use the electricity in the HP. We should add this option as a strategy...

Including @antw @dennisschoenmakers

[2015-11-25 10:20] grdw commented on #348
Will be solved with the new interface #605

[2015-11-25 10:22] #502 closed

[2015-11-25 10:35] grdw opened #627 "New interface should 'show' the difference between a boosting or buffering technology"
Stage:

- [x] Design
- [x] Feedback
- [x] Implementation
- [x] Feedback
- [x] Fixing feedback + bugs
- [x] Pull request

[2015-11-25 14:21] dennisschoenmakers opened #628 "NoMethodError: undefined method `curves' for nil:NilClass"
Check full details on Airbrake: [#1561600246917086932](https://quintel.airbrake.io/projects/111227/groups/1561600246917086932)

Backtrace:
[code]

[2015-11-25 15:30] grdw commented on #627
First design idea:

![20151125-profile-matrix-buffer-booster-v3](https://cloud.githubusercontent.com/assets/2676542/11401150/6a676abc-9391-11e5-8fd7-5900b8d03cf4.png)

- Changed the remove button to a simple trash bin
- Did some alignment things to the inputs
- Indent the block of 'technology' that's attached to a certain buffer.
- Adding a pair of radio buttons to determine the position of the te

[2015-11-25 15:42] antw commented on #627
Looks good to me. :+1:

It would be nice to have a small `(?)` button to explain what "Boosting" and "Buffering" mean.

[2015-11-25 15:59] grdw commented on #627
Yes :+1:

[2015-11-25 16:43] ChaelKruip commented on #627
I like it but could you maybe make the technology areas more "cellular" (clearly separated from each other). Now I have the feeling of reading a very long list instead of a 'chain of separate entities'. Sorry to be so vague @grdw I'll talk to you in person now :smile:

[2015-11-26 12:42] #559 closed

[2015-11-26 15:32] grdw commented on #627
Something like this? Taking into account above mentioned points.

![screen shot 2015-11-26 at 4 31 22 pm](https://cloud.githubusercontent.com/assets/2676542/11426274/2a98fe8a-945b-11e5-92ac-390d44847fa4.png)

[2015-11-26 15:44] ChaelKruip commented on #627
I like how the different shading makes clear that several lines of information all belong to the same technology. Unfortunately, for technologies that are are connected to the same buffer, I feel that different shading undermines the sense of 'connectedness' of the technologies and the buffer.

I know what I'm saying here may sound like a paradox but IMO info about one technology should clearly be

[2015-11-26 15:44] ChaelKruip commented on #627
@dennisschoenmakers please let us know what you think as well!

[2015-11-26 15:54] dennisschoenmakers commented on #627
Looking good @grdw! Wondering: what is *demand* for a buffer?

Could we use an icon for the buffer to set it more 'apart' from the other stuff?

And perhaps a thinker line around a group of buffers plus the heating technologies?

[2015-11-26 16:17] grdw commented on #627
Yes. I still don't fully how to make something more 'cellular'.

Other option would be without the 'even' 'uneven'

![screen shot 2015-11-26 at 5 16 41 pm](https://cloud.githubusercontent.com/assets/2676542/11427204/8433e670-9461-11e5-90f6-6b13a6ba9b44.png)

[2015-11-27 09:50] JeroenvdLogt opened #629 "Uploading technology csv results in name: other"
When I try to upload a technology csvfile this results in a table with all the name cells as other. I will snet the csv file to Chael by e-mail. The topology I use is USEF: waardebepaling flex (Lochem doorrekening) at the beta server.

[2015-11-27 10:01] JeroenvdLogt commented on #629
Another thing I encounter, when I change name: other in name: electric car f.e. all the previous settings of capacity-storage-annual usage are set to default automatically. It cost a lot of time to reset everything to the previous values. Is it possible to cancel default values?

[2015-11-27 10:39] JeroenvdLogt opened #630 "No load calcuations"
I try to do load calculations on a LES. ET-Moses doesn't return errors but no calculations are performed though. I see the following after I clicked on save and view LES.

![no load calculation usef](https://cloud.githubusercontent.com/assets/7781037/11439409/78829dd6-94fb-11e5-9aaa-182a1ce3278c.JPG)

[2015-11-27 11:11] dennisschoenmakers opened #631 "Market::InvalidInterpolationError: Cannot interpolate a curve with 1 values to 8760"
Check full details on Airbrake: [#1562954575196434722](https://quintel.airbrake.io/projects/111227/groups/1562954575196434722)

Backtrace:
[code]

[2015-11-27 11:33] dennisschoenmakers commented on #629
Due to the holiday of @ChaelKruip assigned this to @grdw

[2015-11-27 11:40] JeroenvdLogt opened #632 "few seconds waiting for dropdownmenu in technology tale"
If i click on a dropdownmenu of f.e. name in the technology table it takes ET-Moses a few seconds (2-4) to show the dropdownlist.

[2015-11-27 12:58] grdw commented on #632
Could you copy/paste a link to a LES where this happens?

[2015-11-27 16:36] dennisschoenmakers commented on #632
Could this be particular to IE?

Sent from my iPhone

On 27 nov. 2015, at 13:58, Gerard Westerhof <notifications@github.com>
wrote:

Could you copy/paste a link to a LES where this happens?

—
Reply to this email directly or view it on GitHub
<https://github.com/quintel/etmoses/issues/632#issuecomment-160134261>.

[2015-11-27 19:24] JeroenvdLogt commented on #632
i am using google chrome

[2015-11-27 19:27] dennisschoenmakers commented on #632
Wise decision! :smile: Thanks for telling, then we know it cannot be a cross browser thing.

[2015-11-27 19:35] JeroenvdLogt commented on #632
http://beta.moses.et-model.com/testing_grounds/376/edit

hereby a link of a les where I encounter the problem

[2015-11-27 20:21] dennisschoenmakers commented on #632
Here it works very snappy on Chrome... @grdw can you reproduce?

On Fri, Nov 27, 2015 at 8:35 PM, Jeroen van de Logt <
notifications@github.com> wrote:

--

Dennis Schoenmakers, *Partner*

*Quintel Intelligence*Atrium - Strawinskylaan 3051
1077 ZX  Amsterdam
The Netherlands

*Visiting Address:*
Keizersgracht 639
1017 DT Amsterdam

T  : +31 (0)20 301 22 69
F  : +31 (0)20 301 22 02
M : +31 (0)6 109

[2015-11-27 20:39] antw commented on #632
Very slow for me. The page loads with all the technology fields filled in *except* for "Profile" (all those select boxes are blank). But the page then "hangs" for several seconds – with the "Profile" fields still empty – before it then fills in those values.

![screen shot 2015-11-27 at 20 36 58](https://cloud.githubusercontent.com/assets/4383/11447937/a237f180-9546-11e5-9589-e08fadc5a684.png)

Ch

[2015-11-27 22:02] antw commented on #630
It's a large LES which is hitting to 60s timeout. Tried increasing the limit in Nginx but it had no effect. It's likely Unicorn is killing the Rails process [after 60 seconds](https://github.com/quintel/etmoses/blob/e213e4693b0859d942a93aa6facc1ae5b508f084/config/unicorn/production.rb#L11).

Assigning to me.

[2015-11-29 13:39] dennisschoenmakers commented on #632
I reproduced it as well now. I was looking at the wrong place before.

[2015-11-30 09:01] grdw commented on #632
I've the same problem in Firefox.

![screen shot 2015-11-30 at 10 00 23 am](https://cloud.githubusercontent.com/assets/2676542/11467552/33228512-9749-11e5-9f80-c004d3b8d2f9.png)

It hangs a couple of seconds than it continues on.

[2015-11-30 09:09] dennisschoenmakers commented on #632
Probably a jQuery selector is responsible. Can you sort out which one that is @grdw ?

[2015-11-30 09:51] grdw commented on #632
https://github.com/quintel/etmoses/pull/634/files

It had to do with the header. It's basically a selector in a selector which is rather slow.

[2015-11-30 11:51] ChaelKruip commented on #579
I think we should not do this in the end. Instead, we should show the user how much of the demand has not been satisfied by the installed technologies. The use may then add a 'booster' technology for moments when demand exceeds capacity of the heat pump.

[2015-11-30 12:23] grdw commented on #632
This all has to do with the old interface so I'm not sticking too much time into it.

The new interface was also a little sluggish but less so as the old one.
There was one culprit though that made it a little slower.

![screen shot 2015-11-30 at 11 34 05 am](https://cloud.githubusercontent.com/assets/2676542/11469391/4d648a26-9756-11e5-910c-4fce9c64cb12.png)

I replaced it with a simple javascrip

[2015-11-30 12:48] dennisschoenmakers commented on #632
In that case: closing this issue. Let's focus on the new interface.

[2015-11-30 12:48] #632 closed

[2015-11-30 13:13] grdw commented on #625
This was probably me again. I'll fix this issue.

[2015-11-30 13:13] #625 closed

[2015-11-30 13:35] ChaelKruip opened #635 "Short-term modelling of buffers (without temperature)"
To fully do justice to the workings of 'buffering' and 'boosting' technologies in conjunction with heat buffers, it is necessary to model temperature (see https://github.com/quintel/documentation/blob/master/etmoses/buffers.md) but this might not be feasible within this sprint. The main reason is that the boosting technologies are needed to 'boost' the temperature of the water after the buffer has

[2015-11-30 13:35] ChaelKruip commented on #635
Including @dennisschoenmakers @jorisberkhout @AlexanderWirtz

[2015-11-30 13:37] #606 closed

[2015-11-30 13:41] #509 closed

[2015-11-30 13:56] grdw commented on #602
Something like this:

![screen shot 2015-11-30 at 2 55 59 pm](https://cloud.githubusercontent.com/assets/2676542/11473412/83a4a474-9772-11e5-8004-d4d446ab14f3.png)

[2015-11-30 13:57] ChaelKruip commented on #602
Perhaps a bit more spacing? Otherwise :+1:

[2015-11-30 13:59] ChaelKruip commented on #579
Closing

[2015-11-30 13:59] #579 closed

[2015-11-30 14:06] grdw commented on #602
![screen shot 2015-11-30 at 3 06 29 pm](https://cloud.githubusercontent.com/assets/2676542/11473672/f6d502b2-9773-11e5-9c90-5809d3e4c29a.png)

[2015-11-30 14:11] #602 closed

[2015-11-30 14:12] #604 closed

[2015-11-30 14:13] grdw opened #636 "Adding heat-demand to interface of et-moses"
Either:

- adding the graph as a loose tab,

![screen shot 2015-11-30 at 4 08 21 pm](https://cloud.githubusercontent.com/assets/2676542/11475896/1e4963c2-9780-11e5-9412-33630e96bd98.png)

(Don't mind the content)

- solve the problem the same way the gas-chart is now solved. By adding a new color to the legend of the current chart.

Including @ChaelKruip

[2015-11-30 14:21] dennisschoenmakers commented on #602
:+1:

[2015-11-30 16:15] #624 closed

[2015-11-30 16:17] grdw opened #637 "Make it possible to change your current password"
Use the default password change implementation from Devise:
https://github.com/plataformatec/devise/wiki/How-To:-Allow-users-to-edit-their-password

[2015-11-30 16:20] #385 closed

[2015-11-30 16:31] #629 closed

[2015-12-01 08:26] ChaelKruip commented on #630
@antw does this still happen with the new background loader?

[2015-12-01 09:09] grdw opened #638 "Importing existing composites from et-engine"

[2015-12-01 09:11] antw commented on #630
Nope; closing!

[2015-12-01 09:11] #630 closed

[2015-12-01 11:21] ChaelKruip commented on #626
Assigning @antw. Not highest priority but I'd like to hear your opinion on how difficult this would be:

* When a heat-pump is connected to a buffer, use the heat pump to heat the buffer if there is excess solar production

[2015-12-01 11:23] ChaelKruip opened #639 "Buffers should have investement costs"
I think this cost should scale with the size (liters) of the buffer.

@jorisberkhout Do you have an idea of such (investment) costs?

[2015-12-01 11:26] ChaelKruip opened #640 "Building P2H should be equivalent to adding a resistive heater to a buffer"
Before we had buffers, we modelled P2H as a resistive heater + a buffer. Now that we have both buffers and resistive heaters in the technology matrix, we should model P2H as such.

Essentially, we could remove P2H from the technologies.

@jorisberkhout @antw @dennisschoenmakers do you agree with my reasoning?

[2015-12-01 11:52] dennisschoenmakers opened #641 "ArgumentError: invalid value for Integer(): """
Check full details on Airbrake: [#1565874268236394941](https://quintel.airbrake.io/projects/111227/groups/1565874268236394941)

Backtrace:
[code]

[2015-12-01 12:06] ChaelKruip opened #642 "Name does not show up correctly in warning"
![etmoses](https://cloud.githubusercontent.com/assets/1303760/11500262/4d50c37a-982c-11e5-9cd4-18c5060c3456.png)

[2015-12-01 15:54] ChaelKruip commented on #607
Closing this discussion.

[2015-12-01 15:54] #607 closed

[2015-12-02 08:46] ChaelKruip commented on #636
The important message to take away from the heat chart is the possible mismatch between supply and demand of heat. Although both supply and demand of heat can be expressed in kW (and thus would fit naturally in the load chart) I feel that they convey information that is different from a 'load on the network'.

I would, therefore, opt for a separate tab. Another advantage of a separate tab could be

[2015-12-02 09:05] grdw commented on #636
Well it's a possible disadvantage. It will be another D3 chart that needs to be loaded into the DOM. We could also load it as soon as somebody clicks the tab instead of 'loading everything' -> 'hide irrelevant content' -> 'show content whenever somebody clicks on it'.

[2015-12-02 09:06] jorisberkhout commented on #640
I like it!

One question though, how are we going to link this to the ETM?

[2015-12-02 09:24] grdw commented on #642
It's because most users don't have a name... They should be able to edit that though or a simpler fix would be to display an email address and remove the name column.

[2015-12-02 09:33] ChaelKruip commented on #642
Or display the email address only if there is no name

[2015-12-02 09:37] jorisberkhout commented on #639
A quick search resulted in [these buffers](http://www.groene-energiewinkel.nl/zonneboilers-voor-warmtapwater-en-verwarming/losse-onderdelen/rvs-boilers-en-toebehoren/p-1a/). Below is a summary of the costs for various sized models. In all cases I took the standing model with one heat exchanger and corrected the costs for VAT (i.e. the prices below are **without** VAT).

| volume (liter) | costs (E

[2015-12-02 10:38] antw commented on #642
There are privacy implications to displaying an e-mail address publicly, and [our privacy policy](http://et-model.com/privacy) is quite explicit that they're only used to associate users with their scenarios.

I would suggest adopting the name "Anonymous" if a user does not have a name, or perhaps display a different version of the warning message: "You are now editing someone else's LES".

[2015-12-02 10:51] ChaelKruip commented on #642
Good point!

I like!

[2015-12-02 10:53] grdw commented on #642
This has my preference :+1:

[2015-12-02 11:58] ChaelKruip commented on #639
Thanks @jorisberkhout!

[2015-12-02 12:57] JeroenvdLogt opened #643 "Aggregation of load goes wrong"
I'm working on a case with high penetration of E-cars but cannot see congestion. If you only just multiply number of E-cars with their capacity it results in load much higher than what I see in the loadcurve. 826 times 3.7 kW + 413 times 22 kW ~ 12000 kW

http://beta.moses.et-model.com/testing_grounds/375
![image](https://cloud.githubusercontent.com/assets/7781037/11531345/6b9fe75e-98fc-11e5-8952-

[2015-12-02 13:02] JeroenvdLogt commented on #592
Thank you, load calculations & business case are performed now. Regardless it takes longer than 1 minute simulation time. Only it seams aggragtion of load is not good now. see: https://github.com/quintel/etmoses/issues/643

[2015-12-02 13:17] JeroenvdLogt commented on #596
Sorry for my late reaction. The drawingtool looks great and seems convinient, great work! Two remarks however:
1. The graph spins around its 'spatial centre'. It is nearly impossible to see the hiearchy in the network because of the spinning. All levels of hiearchy should stay stationary.
2. Question: first create new node and choose which topology to assign to that node OR sweep a topology from a

[2015-12-02 14:50] ChaelKruip commented on #643
Re-assigning to @grdw

[2015-12-03 14:15] dennisschoenmakers opened #644 "NoMethodError: undefined method `update_column' for nil:NilClass"
Check full details on Airbrake: [#1567395746559800832](https://quintel.airbrake.io/projects/111227/groups/1567395746559800832)

Backtrace:
[code]

[2015-12-04 08:59] grdw commented on #643
The congestion is not seen because the node in question doesn't have a capacity.

[code]

This way the front end doesn't know when a certain end-point is congested.

[2015-12-04 09:02] ChaelKruip commented on #643
@grdw I think @JeroenvdLogt is mainly concerned that the installed technologies don't add up to the expected capacity.

[2015-12-04 09:11] grdw commented on #643
Eh... good question. I copied the staging database over to my local machine and I can see that I get the same error as #608 . I think what @JeroenvdLogt is now seeing is the old calculation because the new one doesn't calculate.

[2015-12-04 09:36] grdw commented on #643
Allow me to rephrase.

I get no error when doing this calculation. Therefor the calculation is either calculating it wrongly. I can't really put my finger in to a specific spot where this might go wrong.

[2015-12-04 09:38] antw commented on #643
I'll reassign to me. My initial suspicion was that there was a missing kWh -> kW conversion somewhere, but I don't think that's the case anymore. I'll look into the calculation and try to figure it out.

[2015-12-04 09:48] #641 closed

[2015-12-04 14:08] grdw opened #645 "How would I clean up this code?"
I'm not really done yet with the importing of the buffers and it sort of came along with alot of clean-up.

To jump right to the question:

https://github.com/quintel/etmoses/commit/e0717c6d51438fa9ee58c970dfee99980e949839#diff-cb9d114649f62fe0a1affc0a1e8160baR42

and

https://github.com/quintel/etmoses/commit/e0717c6d51438fa9ee58c970dfee99980e949839#diff-81da41ef7a13446fa363211c7d04b31fR28

I hav

[2015-12-07 13:19] grdw opened #647 "PR646 - When adding a new composite there's no option added to the select boxes."
When adding a new composite to the technology matrix, there's no extra option added to the select box template.

*To explain (and rubberduck)*:
There's two select boxes (now visible in the dom), one for `buffer_space_heating` and one for `buffer_water_heating`. These serve as templates for the actual technologies in the matrix. The same way the profile select boxes function.

When the first techno

[2015-12-07 13:25] grdw opened #648 "PR646 - No defaults selected for position relative to buffer when selecting max concurrency for buffer"
The defaults are not selected because of duplicate name attributes for the radio inputs.

[2015-12-07 13:27] grdw opened #649 "PR646 - When toggling the concurrency from max to min with buffers, the buffer values of the max are kept."
To illustrate what goes wrong

[code]

[code]

[code]

[2015-12-07 15:28] JeroenvdLogt commented on #643
With help of Chael en the convenient Python script of Joris I was able to generate new EV profiles according to new capacity and volume. Now aggregated load looks (and is) reasonable. Theryby I will close this issue.

[2015-12-07 15:28] #643 closed

[2015-12-07 15:46] #648 closed

[2015-12-07 16:49] #649 closed

[2015-12-08 10:19] #647 closed

[2015-12-08 10:49] grdw opened #650 "Progress bars should indicate what the user is waiting for"
There are a lot of Javascript solutions for this.
Point being, to track things happening in Javascript.

- So I could determine that it's currently fetching the current load-chart (yes / no).
- Than if it's fetching the load-chart with strategies. (yes / no).

I can't determine which node it is currently calculating or really specific details, without losing a lot of time on the requests that woul

[2015-12-08 14:44] ChaelKruip commented on #650
I think this is fine for now. Given the time, I would go for a very simple (half day) approach @grdw

[2015-12-08 15:22] grdw commented on #650
![screen shot 2015-12-08 at 4 22 16 pm](https://cloud.githubusercontent.com/assets/2676542/11659308/e3e07380-9dc7-11e5-9c22-974d5682eb7b.png)

Right now it's something like this.

[2015-12-08 15:25] ChaelKruip commented on #650
:+1:

[2015-12-08 16:08] dennisschoenmakers opened #652 "Difference between 'save' / 'save all and view less' button is unclear"
As reported by @JeroenvdLogt

[2015-12-08 16:10] dennisschoenmakers opened #653 "Are Investment costs rightly calculated?"
As reported by @JeroenvdLogt.

@JeroenvdLogt can you post your validation numbers here?

It is about this LES: http://beta.moses.et-model.com/testing_grounds/383

[2015-12-08 16:14] dennisschoenmakers commented on #653
Apparently, the business case on beta is not recalculated, after you have updated the topology.

[2015-12-08 16:14] dennisschoenmakers commented on #653
@grdw can you check this out?

[2015-12-08 16:16] antw commented on #653
The DelayedJob workers have stopped running (again). I'm not sure why, but I'll start them up again shortly and will make a note to look into it.

[2015-12-08 16:19] antw commented on #653
I retract my previous statement. :grimacing: A `delayed_job` process is present; I thought there would be more than one worker, but perhaps it isn't configured like that? Either way, I guess DelayedJob is not the culprit.

[2015-12-08 16:20] JeroenvdLogt commented on #653
![image](https://cloud.githubusercontent.com/assets/7781037/11660991/fcced118-9dcf-11e5-884c-ac9a03047efe.png)

[2015-12-08 17:01] JeroenvdLogt opened #654 "Gasinfrastructure cost"
Hereby a gist of average gasnetwork cost in Gist. The cost of refrubishing will follow soon
<script src="https://gist.github.com/JeroenvdLogt/bb6331ea52a0a386c6fc.js"></script>

[2015-12-08 17:02] JeroenvdLogt commented on #654
<script src="https://gist.github.com/JeroenvdLogt/bb6331ea52a0a386c6fc.js"></script>

[2015-12-08 17:02] JeroenvdLogt commented on #654
<script src="https://gist.github.com/JeroenvdLogt/bb6331ea52a0a386c6fc.js"></script>

[2015-12-08 17:06] JeroenvdLogt commented on #654
Mmm cannot upload a gist. I will send it to Chael
https://gist.github.com/bb6331ea52a0a386c6fc.git

[2015-12-08 17:06] JeroenvdLogt commented on #654
https://gist.github.com/JeroenvdLogt/bb6331ea52a0a386c6fc

[2015-12-08 19:13] dennisschoenmakers commented on #653
We'll try to resolve this asap tomorrow, @JeroenvdLogt

[2015-12-09 09:11] ChaelKruip commented on #654
@JeroenvdLogt can you put this is a table please?
This works basically as follows:

|Connection type|Tariff|
|---|---|
|bla|bla|

And could you translate all text into English as well?

[2015-12-09 09:12] ChaelKruip opened #655 "Checklist: open tasks sprint 2 gas"
To help us keep track of progress and priorities in the final stretch :smile:
This is a living document, @antw @grdw please update, link issues and ask for clarification etc.

The following features/tasks still need some work from @antw (ordered roughly by priority):

- [x] Financial measures for gas (consumption, production and number of connections)
- [x] Strategy for hybrid heat pumps (switch t

[2015-12-09 09:22] ChaelKruip commented on #655
Including @dennisschoenmakers

[2015-12-09 09:27] dennisschoenmakers opened #656 "RuntimeError: Missing use profile for Heat pump for space heating (air)"
Check full details on Airbrake: [#1571599425970093131](https://quintel.airbrake.io/projects/111227/groups/1571599425970093131)

Backtrace:
[code]

[2015-12-09 09:27] dennisschoenmakers opened #657 "RuntimeError: Missing use profile for Heat pump for space heating (air)"
Check full details on Airbrake: [#1571599462846413923](https://quintel.airbrake.io/projects/111227/groups/1571599462846413923)

Backtrace:
[code]

[2015-12-09 09:29] #656 closed

[2015-12-09 09:29] #657 closed

[2015-12-09 09:34] grdw commented on #653
Hmm, changing the name of the market model triggers a recalculation (added a whitespace).

[2015-12-09 09:42] dennisschoenmakers commented on #587
I am still not redirected after signing in on beta.

1. Sign out
2. Go to http://beta.moses.et-model.com/testing_grounds/383
3. You're redirected to the login
4. You log in
5. You end up in the welcome page, while I would expect page under 2 above.

[2015-12-09 10:15] grdw commented on #653
Allright what I can see. These are the nodes that contain valid information for the initial investment costs (being nodes that contain `investment_cost`, `stakeholder` and `economic_lifetime` / `technical_lifetime` attributes):

[code]

This is when completly ignoring all the technologies that are attached to this (so calculations for `Customer Ac1a` are left out of this example).

Which results i

[2015-12-09 10:37] grdw commented on #587
That's weird, I would expect the url from `2.` to be in the session variable declared at: [here](https://github.com/quintel/etmoses/commit/47f0d352cc3d8e540c348c48ca16534247d44254#diff-55c5b7aecfb519d0e4880eaf2788eb6eR35).

Hmm, I'll take a look! :+1:

[2015-12-09 14:48] #587 closed

[2015-12-09 15:25] JeroenvdLogt commented on #653
Does this mean the problem is solved?

[2015-12-09 16:01] grdw commented on #653
@JeroenvdLogt I didn't change the lifetime (from 40 to 1) yet, for that specific node of the topology in your LES. I was more trying to ask if that could be the reason why the investment costs were calculated wrongly?

[2015-12-09 16:09] dennisschoenmakers opened #658 "LES refused to calculate?"
![image](https://cloud.githubusercontent.com/assets/104830/11690551/86621bf2-9e97-11e5-9625-66fab88ba7b1.png)

LES created by @JeroenvdLogt.

[2015-12-09 16:13] ChaelKruip commented on #658
Re-assigning to @grdw

[2015-12-09 16:15] dennisschoenmakers opened #659 "Investment costs are defined as for all the units or per unit?"
And: is this intentional?

[2015-12-09 16:18] antw commented on #658
FYI: DelayedJob exception:

[code]

https://github.com/quintel/etmoses/blob/2afdeef4b41dcda9c77dd7a92508f37b30c05c96/app/jobs/testing_ground_calculator_job.rb#L14-L15

[2015-12-09 16:22] grdw commented on #658
I see. I deleted the corresponding `testing_ground_delayed_job` and it started running again.

[2015-12-09 16:23] grdw opened #660 "Fix delayed job exception"
FYI: DelayedJob exception:

[code]

https://github.com/quintel/etmoses/blob/2afdeef4b41dcda9c77dd7a92508f37b30c05c96/app/jobs/testing_ground_calculator_job.rb#L14-L15

I'll try to fix this. I'm guessing that because of the time, somebody breaks off the request and starts a new which causes this NilClass error

[2015-12-09 16:24] grdw commented on #658
Follow up: https://github.com/quintel/etmoses/issues/660

I'll try to fix this. I'm guessing that because of the time, somebody breaks off the request and starts a new which causes this `NilClass` error

[2015-12-09 16:24] #658 closed

[2015-12-09 16:27] antw commented on #658
I *think* changing TestingGroundDelayedJob#for to use `where(type: type)` instead of `find_by` would solve this. But it will return an array of matching records instead of the first record, so other code may be affected.

[2015-12-09 17:08] JeroenvdLogt commented on #653
@grdw I cannot pinpoint the problem. Yesterday I tried at least 10 different configuration that din't seem to had any effect at all on the business case (investment cost especially). For now it looks like everything works allright.

[2015-12-09 17:18] JeroenvdLogt commented on #658
I think this issue could be mitigated if there will be a button to start calculations manually. Many times, as user, I want to switch between simulation results and the editing page without recalculation. The same holds for when I start a LES from the LES list. Many times it is enough to see results and settings. When I am ready with all changes I should be able to start calculations manually.

I

[2015-12-09 17:22] ChaelKruip commented on #659
Per unit. This is intentional :smile:

[2015-12-09 18:02] JeroenvdLogt commented on #654
I changed it to table form. I still have to add cost of refurbishing.
https://gist.github.com/JeroenvdLogt/bb6331ea52a0a386c6fc

[2015-12-09 18:03] JeroenvdLogt commented on #654
Can I upload excel files or csv. I made the tables manually now but this takes a lot of time.

[2015-12-09 18:51] antw opened #661 "Issues with the new technology editor"
I have merged the new technology editor and gas network into master (*not* deployed to staging), but there are some minor "niggles" still occurring. I'll note them here, but I can split this into separate issues if preferred.

* **I can't add certain technologies to an existing LES.** I can *delete* and edit technologies successfully. Strangely, some technologies *can* be added:

  Can be added:

[2015-12-09 20:58] #577 closed

[2015-12-10 07:57] grdw commented on #661
You should change the `units` field for some duplication fun:

![screen shot 2015-12-10 at 8 57 10 am](https://cloud.githubusercontent.com/assets/2676542/11709959/05b0f124-9f1c-11e5-8c31-766c98b0dcbe.png)

:sweat_smile:

I'll look into the issues though.

[2015-12-10 08:30] grdw commented on #661
"but I cannot add them manually to an existing LES."

Do you have an exmample LES?
Or what do you mean by 'added'. Does that mean, that the template does pop-up but it doesn't add it to the `technology_profile` in the database?

I still need to look into this one.

[2015-12-10 08:39] dennisschoenmakers commented on #659
So, if I update the topology of a LES from:

[code]

To:

[code]

I would expect the yearly costs of the System Operator to be higher.

but in the interface it remains 10.000 EUR. :unamused:

LES that I used: http://beta.moses.et-model.com/testing_grounds/341

[2015-12-10 08:44] #653 closed

[2015-12-10 08:52] ChaelKruip commented on #659
Assigning @grdw

[2015-12-10 09:03] grdw commented on #659
The calculation is now as [such](https://github.com/quintel/etmoses/blob/master/app/models/market/initial_costs.rb#L26-L27):

[code]

This would turn into:

[code]

[2015-12-10 09:21] ChaelKruip commented on #659
@antw I seem to recall that the 'units' were taken into account before. Has that never been the case?

[2015-12-10 09:22] antw commented on #661
:laughing:

Yes exactly. The UI works fine, the data is sent to the Rails app correctly, but the TestingGround doesn't get saved.

I have found the reason: it appears the load profile key is being duplicated before it is sent from the browser to the Rails app. The TestingGround validation fails with a message such as:

[code]

1. Grab a copy of the staging database, import it locally, and run the

[2015-12-10 09:28] antw commented on #659
It's definitely accounted for in load-calculation-based measures such as "Number of connections", and is also included in the [technology cost](https://github.com/quintel/etmoses/blob/64f973e221cb34437b4bc203103fc5fbbf36d4f8/app/models/market/initial_costs.rb#L34).

I agree with @grdw's proposed fix; it should solve the problem.

[2015-12-10 09:34] dennisschoenmakers commented on #659
Agree. @grdw : could you also add a spec for this expected behaviour?

[2015-12-10 09:39] dennisschoenmakers commented on #659
By the way: what is the difference between **topology_costs** and **technology_costs**? I think we need to add some documentation to these methods. It is unclear from the names themselves and leads to confusion.

[2015-12-10 09:40] grdw commented on #659
https://github.com/quintel/etmoses/pull/662

[2015-12-10 09:43] grdw commented on #659
Yes, I did.

I'll add some :+1:

[2015-12-10 09:44] dennisschoenmakers commented on #659
ty!

[2015-12-10 09:44] #659 closed

[2015-12-10 09:56] grdw commented on #659
https://github.com/quintel/etmoses/pull/663

[2015-12-10 09:57] grdw commented on #661
Thanks!

[2015-12-10 10:05] grdw commented on #661
I found it. Wrong jQuery selector,, again.

[2015-12-10 10:18] ChaelKruip opened #664 "Download of available electric storage volume in P2P and EV"
This is a request from Ecofys. The idea is that they would like to know how much (potential) flexibility remains in the LES as a whole after all strategies have been used.

I think that this should not be very complex:

* Add up the used volume of all EV batteries and P2P units for the current time-step
* Add up the un-used volume of all EV batteries and P2P units for the current time-step
* write

[2015-12-10 10:21] antw commented on #664
A couple of hours, I think.

[2015-12-10 10:29] grdw commented on #644
Closed due to duplicate #660

[2015-12-10 10:29] #644 closed

[2015-12-10 10:32] #661 closed

[2015-12-10 10:40] #642 closed

[2015-12-10 13:46] grdw opened #666 "Select stakeholder dwelling somewhere in between the business case table"
![screen shot 2015-12-10 at 2 45 31 pm](https://cloud.githubusercontent.com/assets/2676542/11716816/b95ff92e-9f4c-11e5-9664-bd435eb0328d.png)

This happens when the LES is loading. When it's done loading, all is good again.

[2015-12-10 15:32] antw opened #667 "Questions about the hybrid heat-pump"
@ChaelKruip Time permitting, can you provide a short description of the expected behaviour of the hybrid heat pumps? I cannot find any documentation on GitHub that describes them (maybe there's some elsewhere I missed?), and I'm having some difficulties. :anguished:

I understand the basics: demand is satisfied by the electrical component until the network becomes congested, at which point the gas

[2015-12-11 08:23] grdw opened #668 "To do buffers and hybrid heat pumps"
- [ ] add `default_capacity` and `default_volume` to `buffer_space_heating` and `buffer_water_heating`
- [ ] remove `default_volume` from existing heat pumps

[2015-12-11 09:09] grdw opened #669 "Question: is it possible to have multiple strategies per technology?"
I think it's now possible to give a `behavior` in the technologies table. But does that result in a single strategy or how sould I interpret this?

[2015-12-11 09:19] ChaelKruip commented on #667
Sorry about that. I wrote some [here](https://github.com/quintel/documentation/blob/master/etmoses/hybrid_heat_pump.md) but that needs to be updated to the non-temperature modelling we have chosen for now.

* The HHP is imported into ETMoses as **two** distinct technologies (the gas-part and the heat pump-part)
* The HP-part is a 'buffering' technology that fills the buffer just like other heat pu

[2015-12-11 09:23] #650 closed

[2015-12-11 09:27] antw commented on #669
The `behaviour` [maps the InstalledTechnology to the Network class](https://github.com/quintel/etmoses/blob/master/app/models/network/technologies.rb#L16-L25) used to calculate its load. It's not quite the same thing as a `strategy`.

It's a one-to-one map (each technology has one `behaviour` and maps to one Network class), *except* in the case of base loads where the two load profile components –

[2015-12-11 10:10] ChaelKruip commented on #654
@JeroenvdLogt I have corrected some errors in the syntax of the Markdown (you can check how your Markdown document formats by using a dedicated editor such as [http://markdownpad.com/](http://markdownpad.com/).

Can you check that I did not introduce any mistakes? [The updated file](https://github.com/quintel/documentation/blob/master/etmoses/average_cost_of_gas_infrastructure.md)

[2015-12-11 10:47] ChaelKruip opened #670 "Buffer should have two volumes"
The following distinction should be made at some point:

* How much energy we can store in the buffer before the buffering technology switches off: this is equivalent to ```liters_of_water_in_buffer * thermostate_temperature_of_buffer * heat_capacity_of_water```
* How much energy can be in the buffer physically: this is equivalent to ```liters_of_water_in_buffer * max_temperature_of_water * heat_c

[2015-12-11 10:51] ChaelKruip opened #671 "Behaviour of buffers could be improved"
Talking to @grdw I realised that we can make the workings of buffers a bit more transparent for the user if we change the interface somewhat.

Currently, we assign a storage volume to a buffer (kWh). This is not very intuitive to most users who would rather think about a buffer-size in liters. Instead of asking the user for kWh, we could ask for liters and given a (currently fixed) temperature for

[2015-12-11 10:52] ChaelKruip commented on #671
Also see https://github.com/quintel/etmoses/issues/670

[2015-12-11 10:57] ChaelKruip opened #672 "Heat demand and hot water profiles should only have a use profile"
They currently have availability as well:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/11742216/44ddb9a8-9ffe-11e5-878c-9637a9eba7a7.png)

[2015-12-11 10:58] ChaelKruip opened #673 "Profile database should include demand profiles for hot water and space heating"
Instead of 'heat pumps':
![etmoses](https://cloud.githubusercontent.com/assets/1303760/11742237/796f607c-9ffe-11e5-823c-94da3d652379.png)

[2015-12-11 10:58] antw commented on #672
This is the case for the old heat pump profiles. A migration has already been written which will deprecate these profiles, and the new "use" profiles can then be uploaded. I think this can be closed.

[2015-12-11 10:58] #672 closed

[2015-12-11 10:59] antw commented on #673
[Already done](https://github.com/quintel/etmoses/blob/c1493d8c16a203f9f39005dfb998c302c6f915db/db/migrate/20151209171445_add_load_profile_categories_for_composites.rb) :smiley:

[2015-12-11 10:59] #673 closed

[2015-12-11 11:05] ChaelKruip commented on #673
:+1:

[2015-12-11 12:06] grdw commented on #669
Yes. :+1:  We (@ChaelKruip and I) wanted to know what the default behavior would be.

[2015-12-11 12:13] antw commented on #669
I'm adding new Network classes to model the hybrid heat-pump, so the two Technology records (one for gas, one for electricity) will have to have a new `behaviour`. Maybe "hhp_electricity" and "hhp_gas"?

[2015-12-11 12:24] ChaelKruip commented on #635
Including @grdw

[2015-12-11 12:30] dennisschoenmakers opened #674 "ArgumentError: wrong number of arguments (1 for 0)"
Check full details on Airbrake: [#1573141102752937198](https://quintel.airbrake.io/projects/111227/groups/1573141102752937198)

Backtrace:
[code]

[2015-12-11 12:32] ChaelKruip opened #675 "Question: switching hybrid heat pump to gas by temperature or a more general profile?"
We want to have HHPs switching from electricity to gas if the outside temperature drops below a threshold value (say 4 degrees).

We could upload a temperature curve and set a threshold in ETMoses but I am asking myself if we should not make this behaviour more general (and simpler to implement) by allowing the user to upload and choose a profile with 0's and 1's for when the HHP should switch. Th

[2015-12-11 12:59] antw commented on #675
0's and 1's is a nice idea since it could be described as "this technology is turned off" and "this technology is turned on". This could be applied to *any* technology, not just the HHP.

[2015-12-11 13:01] dennisschoenmakers opened #676 "RestClient::InternalServerError: 500 Internal Server Error"
Check full details on Airbrake: [#1573156525460405034](https://quintel.airbrake.io/projects/111227/groups/1573156525460405034)

Backtrace:
[code]

[2015-12-11 13:03] grdw opened #677 "Rename " Electrical capacity [kW]" to " Output capacity [kW]""
Electrical capacity doesn't make sense for gas technologies. Moreover the output capacity is what's more intuitive

Also for the sake of lines: https://github.com/quintel/etmoses/blob/master/app/assets/javascripts/les/profile_select_box.js#L38-L40

[2015-12-11 13:20] dennisschoenmakers opened #678 "Mysql2::Error: Incorrect string value: '\xE2\x99\xAB\x0A ...' for column 'handler' at row 1"
Check full details on Airbrake: [#1573166039265951569](https://quintel.airbrake.io/projects/111227/groups/1573166039265951569)

Backtrace:
[code]

[2015-12-11 13:28] grdw opened #679 "Synchronize the seeds.rb file"
**Not really needed at the moment.**

Synchronize the technologies + importable attributes.

[2015-12-11 13:36] antw commented on #677
I think it's the other way around: the electricity or gas capacity is an *input* capacity. The *output* capacity is what we currently simply call `capacity`: that is the input/electrical/gas capacity multiplied by the `performance_coefficient`.

I think to avoid confusion we could call it `carrier_capacity`. There is a new `carrier` attribute which defines the type of energy used by the technology

[2015-12-11 13:40] ChaelKruip opened #680 "capacity, input_capacity, output_capacity, electrical_capacity and other confusion"
Currently, the front-end shows something called the "electrical capacity" [kW]:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/11744742/675d701c-a013-11e5-9ee3-ecf33ddb5193.png)

This made sense when the only thing we cared about was electricity but now we also have gas and heat.

A technology has in input capacity (one per input carrier) and an output capacity and one output capaci

[2015-12-11 13:43] ChaelKruip opened #681 "Interface does not allow me to create new technologies for some end-points"
![etmoses](https://cloud.githubusercontent.com/assets/1303760/11745039/703484bc-a015-11e5-9e23-7387d17ccd18.png)

[This LES](http://beta.moses.et-model.com/testing_grounds/388/edit)

There are no 'add' buttons! Am I doing something wrong?

[2015-12-11 13:45] antw commented on #681
The screenshot is cut off at the bottom so it's hard to tell, but there should be a drop-down like this:

![screen shot 2015-12-11 at 13 43 48](https://cloud.githubusercontent.com/assets/4383/11745071/3dce91d2-a00d-11e5-9e6e-cc4a80d283dc.png)

[2015-12-11 13:47] antw commented on #681
Maybe it could be made to stand out more?

![screen shot 2015-12-11 at 13 46 46](https://cloud.githubusercontent.com/assets/4383/11745126/a7041122-a00d-11e5-8ea0-7a7b547fec0e.png)

[2015-12-11 13:52] antw commented on #680
[Said it here](https://github.com/quintel/etmoses/issues/677#issuecomment-163937493), but I'm not sure I understand the choice of *output* capacity: a consumption technology takes electricity as *input* and then multiplies it by the COP to get the output.

It *does* make sense to me in the context of production technologies (solar PV), so I think the choice of name is not clear cut.

Since each te

[2015-12-11 13:56] ChaelKruip commented on #681
Oh, right! You have to scroll down to add a new technology! Hm... we'll think about that later :smile:

[2015-12-11 13:56] #681 closed

[2015-12-11 13:59] grdw commented on #680
What I said to Chael in person. ;)

Sound good to me! :+1:

[2015-12-11 14:14] jorisberkhout commented on #680
I agree with @ChaelKruip here. When selecting a heating system for your house, the output capacity is the most relevant parameter as you this needs to be high enough to be able to meet your heating demand.

In addition, specifying the output capacity makes it easier to compare different heating technologies.

[2015-12-11 14:22] dennisschoenmakers commented on #680
I agree with @ChaelKruip as well. If you buy a gas heater for hot water, you also buy a 30kW thing. That is output capacity, and let's keep everything equal. :smiley:

[2015-12-11 14:23] antw commented on #680
That's fine, and I agree, but what I mean is that what we currently call `electrical_capacity` is actually an input capacity. The proposal is to rename this to "output capacity" which doesn't seem accurate to me. We take the electrical capacity, multiply it by the performance coefficient (to factor in the useable heat which isn't modelled in Moses) and then produce an output.

* `electrical_capaci

[2015-12-11 14:25] ChaelKruip commented on #680
Thanks for clarifying @antw. I think we all agree then!

[2015-12-11 14:26] #680 closed

[2015-12-11 15:03] #674 closed

[2015-12-11 15:29] #677 closed

[2015-12-11 15:36] #627 closed

[2015-12-11 15:38] #566 closed

[2015-12-11 15:38] #580 closed

[2015-12-11 15:39] #557 closed

[2015-12-11 15:39] #573 closed

[2015-12-11 15:39] #585 closed

[2015-12-11 15:39] #494 closed

[2015-12-11 15:39] #348 closed

[2015-12-11 16:08] ChaelKruip opened #683 "Improvement: move 'add' button to the end-point area"
![etmoses](https://cloud.githubusercontent.com/assets/1303760/11748688/bbed18c4-a029-11e5-9be5-adf638bd6d52.png)

* This would make it clear to which end-point something is added
* It would help the user to find the button in the first place

[2015-12-11 16:16] grdw commented on #683
A question. When you hit the add button, in your situation, will the newly created technology append to the bottom or the top of the list? It sounds really counter-intuitive to add it to the top of the list. Than again adding it to the bottom would be stupid when you have a really large list of technologies (because than you can't see what you added).

I don't know yet about this one. I get the po

[2015-12-11 16:18] grdw commented on #683
![screen shot 2015-12-11 at 5 18 08 pm](https://cloud.githubusercontent.com/assets/2676542/11748953/2d2c5940-a02b-11e5-87d2-b47342c23bdf.png)

Maybe some more margin makes it easier for the eye?

[2015-12-12 08:23] dennisschoenmakers opened #684 "NoMethodError: undefined method `curves' for nil:NilClass"
Check full details on Airbrake: [#1573741585695749302](https://quintel.airbrake.io/projects/111227/groups/1573741585695749302)

Backtrace:
[code]

[2015-12-12 16:38] jorisberkhout opened #685 "Changing the number of heat pumps changes their electrical capacity and results in zero load"
As observed in http://beta.moses.et-model.com/testing_grounds/389.

Every time I change the number of `heat pumps for space heating (air)` connected `buffer space heating #1` in this LES, the `Electrical capacity [kW]` is changed from `4.4 kW` to `2.22222 kW` and the corresponding load chart did not show any load at all. Manually changing the capacity back to `4.4 kW` resolved this issue.

I see s

[2015-12-12 16:46] jorisberkhout opened #686 "Removed technologies keep re-appearing when I edit the LES"
As observed in http://beta.moses.et-model.com/testing_grounds/390 which I created from scenario 452533 on beta.pro.et-model.com.

I removed all technologies connected to node `Households 3` and saved the LES by hitting the `Save all and view LES` button. There is, however, still load on node `Households 3`. When I edit the LES, the technologies connected on Households 3 are back again.

Assigning

[2015-12-12 16:51] jorisberkhout opened #687 "`Om costs` sounds a little cryptic to me"
As observed in the `Toggle advanced` menu for technologies when editing a LES.

<img width="814" alt="screen shot 2015-12-12 at 17 47 13" src="https://cloud.githubusercontent.com/assets/4669028/11762964/c1663fea-a0f8-11e5-8786-e5814471b665.png">

`Om costs` sounds a little cryptic to me. I would say `O&M costs` would be better.

Assigning @ChaelKruip to decide if this is important enough to fix.

[2015-12-13 15:56] ChaelKruip commented on #683
I kindly disagree. I think it makes sense to keep the stuff you are adding and editing on the screen. It would feel like 'pushing new technologies on a stack' which for me is not counter-intuitive...

What do you think @antw @dennisschoenmakers?

[2015-12-13 16:02] ChaelKruip commented on #675
Yes! For now we can focus on the HHP but I very much like the suggestion.

[2015-12-13 16:03] ChaelKruip opened #688 "Behavioural profiles for hybrid heat pumps should get their own category"
For now, I have uploaded the ['HP/gas' profile](http://beta.moses.et-model.com/price_curves/10) (see https://github.com/quintel/etmoses/issues/675) as a financial profile.

[2015-12-14 07:39] ChaelKruip commented on #503
@antw can this be closed?

[2015-12-14 07:41] ChaelKruip commented on #675
Closing this as we have decided to use 1s and 0s.

[2015-12-14 07:41] #675 closed

[2015-12-14 07:45] ChaelKruip commented on #685
Assigning to @grdw

Could it be that the 'update-action' is still linked to electrical_capacity.

[2015-12-14 08:20] ChaelKruip commented on #686
Assigning @grdw.

Perhaps this is related to the (sometimes) failing 'save all' button?

[2015-12-14 08:21] ChaelKruip commented on #687
Assigning @grdw to change "Om" into "O&M"

[2015-12-14 09:25] #503 closed

[2015-12-14 10:42] grdw commented on #685
No, because that's not merged yet. I'll look into it.

[2015-12-14 11:55] #687 closed

[2015-12-14 12:18] grdw commented on #685
@jorisberkhout

How would I do this exactly?

1. I have an existing LES with no technologies.
2. I add a buffer and a heat pump.
3. I change the units of the heat pump

But nothing much happens to the electrical capacity. Is this when you import an existing scenario and than fiddle with the units?

[2015-12-14 12:53] grdw commented on #686
Yep, this one I can reproduce! :) I'm guessing it has to do with the failing.

[2015-12-14 13:01] #686 closed

[2015-12-14 13:02] ChaelKruip commented on #685
This happened on Chrome. Perhaps the browser matters?

[2015-12-14 13:18] grdw commented on #685
Maybe it could be related to the "Save all and view LES" bug? Since that button didn't save any changes to the technologies form before https://github.com/quintel/etmoses/commit/a2fc62eabf39fe373a6f8cd8a1e3d10906d5faec.

[2015-12-14 14:07] grdw commented on #683
Completly setting the technology select box to the right:
![screen shot 2015-12-14 at 3 00 37 pm](https://cloud.githubusercontent.com/assets/2676542/11782776/79c9426e-a273-11e5-967b-c3a9ef60f0cc.png)

OR

Setting it a little to the right relative to the header (which causes some irregularities in line)
![screen shot 2015-12-14 at 3 00 42 pm](https://cloud.githubusercontent.com/assets/2676542/11782

[2015-12-14 14:16] ChaelKruip commented on #685
Could be. Can you check that @grdw?

[2015-12-14 14:26] grdw commented on #685
Oh crap. I think I know what this is.

https://github.com/quintel/etmoses/pull/682/files#diff-24aa26b990635ba72f69c523f7da6f2bR53

It has to do with this line. It's still in the pull request. I'll cherry-pick the commit out of the PR.

[2015-12-14 14:42] grdw commented on #685
*Allow me to explain:*

Everytime you change the select-box of a technology, a 'hidden' piece of HTML get's updated. The only problem being that it didn't clear out the old values. So the default select-box state was "Battery" . The capacity of a Battery is 4.4. If you changed to 'Baseload', your capacity would still be 4.4. This is because it didn't clear the hidden peice of HTML before changing

[2015-12-14 15:30] jorisberkhout commented on #685
Thanks for the explanation, @grdw . This seems to be the solution to part of the problem. Each time I add a new heat pump it capacity is set to `4.4 kW` (which is the wrong capacity). If I then change the number of units, the capacity is set to the correct capacity (`2.2 kW`, `2.0833 kW` or `3.3 kW` depending on the type of heat pump).

**But** once the capacity is changed to the correct value, th

[2015-12-14 15:56] grdw commented on #685
I did notice some capacity issue. This had to with `electrical_capacity` and `electrical-capacity` notice the `-` and `_`. I saw that after importing a scenario and saving it, all my capacities where blanked. This fixed that problem and maybe also your capacity issue.

[2015-12-14 16:21] jorisberkhout opened #690 "Buffering strategy re-appears after editing a LES"
In the following LES http://beta.moses.et-model.com/testing_grounds/389, I noticed that the strategy `Buffering of heat in heat pumps` keeps being switched back on after I edited the LES. Here what I do, step-by-step:

- I open http://beta.moses.et-model.com/testing_grounds/389
- I switch the `Buffering of heat in heat pumps` strategy off (it is on by default)
- I edit the LES, hit `Save` followed

[2015-12-14 16:21] grdw opened #691 "The whole broad behavior profile issue"
The front-end is now ready.

*The way it is:*
The new page of the testing ground (after import) doesn't show you the behavior profile. It's not necessary to make a user already pick something which he might not even need. Instead it's available at the edit page under general after creating the testing ground.

There's still nothing done with the profile itself. It's uploaded to the `profiles` tabl

[2015-12-14 16:28] grdw commented on #690
The strategies are not saved. Don't know why. But I'll look into it tomorrow.

[2015-12-14 16:32] grdw commented on #655
#691

[2015-12-14 16:47] grdw commented on #690
On a related note: #660

[2015-12-14 16:50] #668 closed

[2015-12-14 16:54] antw commented on #691
Both of those have been implemented. :smiley: Handy to know that 1 means gas and 0 means electricity. I had it the other way around. Will fix.

[2015-12-14 19:48] #688 closed

[2015-12-14 19:48] #669 closed

[2015-12-14 19:48] #635 closed

[2015-12-14 19:49] #565 closed

[2015-12-14 19:51] antw commented on #576
Currently implemented is option 1. The number of gas connections will be equal the number of base loads on the endpoint.

[2015-12-14 19:51] #576 closed

[2015-12-14 19:52] #507 closed

[2015-12-14 19:53] #346 closed

[2015-12-14 20:41] ChaelKruip commented on #691
@antw just to be sure:

* 1 means gas regardless
* 0 means electricity **unless a strategy says that it should be gas because of congestion**

Right?

[2015-12-14 20:52] antw commented on #691
Yes. The gas component can run at all times; the electricity component runs when the value in the profile is `0`.

Question: If there is **2kW of available network capacity**, and the **electrical component is rated at 4.9kW**, should the component run at 2kW, or be turned off completely? Currently, the former is true; but swapping to the latter would be a one-line change if you want that instead.

[2015-12-14 21:09] ChaelKruip commented on #691
Perfect!

[2015-12-14 21:09] #691 closed

[2015-12-14 21:33] ChaelKruip commented on #667
I think we can close this. Re-open if not.

[2015-12-14 21:33] #667 closed

[2015-12-14 21:34] ChaelKruip commented on #589
@grdw what is the status of this?

[2015-12-15 12:09] #660 closed

[2015-12-15 12:17] grdw commented on #589
@ChaelKruip I merged it and deployed it.

[2015-12-15 12:18] grdw commented on #685
@jorisberkhout could you maybe check again if the loads are correct (they are calculated though but I don't know if they're correct)?

[2015-12-15 12:22] jorisberkhout commented on #685
Looks correct to me, @grdw ! Thanks for resolving this. Closing this issue.

[2015-12-15 12:22] #685 closed

[2015-12-15 12:27] grdw commented on #690
He now does remember the selected strategies. So I'll close this for now :)

[2015-12-15 12:27] #690 closed

[2015-12-15 12:52] dennisschoenmakers opened #693 "NoMethodError: undefined method `detect' for #<Market::Variant:0x007f6a84e33b90>"
Check full details on Airbrake: [#1576051044270977566](https://quintel.airbrake.io/projects/111227/groups/1576051044270977566)

Backtrace:
[code]

[2015-12-15 12:53] antw commented on #693
My bad! Will fix.

[2015-12-15 13:08] grdw commented on #693
Ow, I already made a PR for it... https://github.com/quintel/etmoses/pull/694/files

[2015-12-15 13:09] grdw commented on #693
But maybe you have a better or cleaner fix :+1:

[2015-12-15 13:29] #693 closed

[2015-12-15 13:58] #589 closed

[2015-12-15 14:09] grdw commented on #678
The background processor doesn't like music that much.

This is from LES 387 .. . "A whole new world ♫" contains a "♫" character which is not recognized.

[2015-12-15 15:31] grdw opened #695 "Changing the name of a LES should not recalculate your business case"
*It's all in the title.*

It's a bit unnecessary to fully recalculate the business case when changing the name of the LES.

[2015-12-15 15:48] grdw commented on #678
Turns out that the `delayed_job` table wasn't in the correct encoding.

Fixed it by running a query through SequelPro

`ALTER TABLE `etmoses_staging`.`delayed_jobs` CONVERT TO CHARACTER SET utf8`

for the `staging` environment.

and

`ALTER TABLE `etmoses_production`.`delayed_jobs` CONVERT TO CHARACTER SET utf8`

for the `production` environment.

Since there were no rows present in the `delayed_j

[2015-12-15 15:48] #678 closed

[2015-12-15 16:03] grdw opened #697 "There's no no difference in appearance between the 'collapsed' state and 'no technologies' state"
![screen shot 2015-12-15 at 5 02 04 pm](https://cloud.githubusercontent.com/assets/2676542/11815766/a4795960-a34d-11e5-93f1-fc1d4e51228b.png)

Households 2 is collapsed
Households 3 doesn't have any technologies.

If you see what I mean.

[2015-12-15 19:13] dennisschoenmakers commented on #678
good catch @grdw ! :+1:

[2015-12-15 19:19] #683 closed

[2015-12-16 08:27] dennisschoenmakers opened #698 "NoMethodError: undefined method `-' for "":String"
Check full details on Airbrake: [#1576642777442661604](https://quintel.airbrake.io/projects/111227/groups/1576642777442661604)

Backtrace:
[code]

[2015-12-16 10:04] grdw commented on #583
This is a strange issue. It's when you post to `testing_gounds` with absolutely no parameters (`{}`). I don't know how to solve that to be honost. Do you have an idea @antw?

[2015-12-16 10:05] #586 closed

[2015-12-16 10:06] grdw commented on #586
I'm closing this. The last time this error occurred was a long time ago. I think this is fixed.

[2015-12-16 10:06] antw commented on #583
It only occurred once, two months ago... perhaps one of us triggered this while debugging something? I think we can probably close this.

[2015-12-16 10:44] grdw commented on #610
I fixed the double quotes problem by removing them when the input field is changed.
I also found out that there were two `change` handlers to the input, which I also fixed.

https://github.com/quintel/etmoses/commit/ab136123d76e67675335b5d5db4d36da1ae866c7

[2015-12-16 10:44] #610 closed

[2015-12-16 11:01] grdw commented on #676
Relevant line:

`[PROJECT_ROOT]/app/controllers/testing_grounds_controller.rb:131:in fetch_etm_values`

This is when you question a `technology` which doesn't exist.

[2015-12-16 11:14] grdw commented on #676
I added `undefined` and '' to the `ignoredTechs` list.

I don't know if this fixes the problem but I think it does. :sweat_smile:

https://github.com/quintel/etmoses/commit/645c8a78a497c4c2444d2352e6f33de355b29ed7

[2015-12-16 11:14] #676 closed

[2015-12-16 11:15] #583 closed

[2015-12-16 13:50] grdw commented on #544
@ChaelKruip is this also still present in the new layout? I'm trying to be as fast as I can in adding/removing a new technology and saving but I can't really reproduce it.

I also think (and I'm guessing here) that your problem might have been a result of another error / problem which is maybe already solved?

[2015-12-16 13:51] ChaelKruip commented on #544
@grdw let's close this if you cannot reproduce and re-open if it occurs again.

[2015-12-16 13:51] #544 closed

[2015-12-16 13:58] grdw commented on #697
Fixed by: https://github.com/quintel/etmoses/commit/bd950549fd3789df739ce3623067a8b5762e3dcc

[2015-12-16 13:58] #697 closed

[2015-12-16 14:33] #534 closed

[2015-12-16 15:24] grdw commented on #596
Another idea. Do it in the same way as the `technologies matrix`

Something like this:

[code]

Where the arrow buttons `[ < ]` `[ > ]` move a node up and down the hierarchy.

[2015-12-17 09:57] grdw commented on #670
![screen shot 2015-12-17 at 10 47 29 am](https://cloud.githubusercontent.com/assets/2676542/11866462/95df4cac-a4ab-11e5-9de8-d3bc07dd66db.png)

Let's assume there's a `volume_in_liters` attribute. What would the default be?
Also how does one go from `volume_in_liters` to `volume` (in kWh)?

[2015-12-17 10:23] grdw opened #700 "Migrate technologies table to individual .ad/.yml files"
I don't have a clear view of how we are to implement this, but it sounds that at a certain point in time there will be too many columns in the technologies database making it a rather unpleasant overview. Also having to constantly update the database manually by hand is not really want I want to see people doing.

[2015-12-17 11:10] ChaelKruip commented on #700
I think this is an excellent idea! It will also allow us to take the data-research workflow to the next level and will improve transparency considerably.

[2015-12-17 13:42] ChaelKruip opened #701 "Neighbourhood battery"
This ticket summarises the changes to be made to add the neighbourhood battery.

## Front-end

- [x] A new technology must be selectable called 'neighbourhood battery'
- [x] The user should be able to set the % (between 0 and 100) of the battery which is reserved for congestion management. 20% is a good default I think. A slider (integrated in the technology interface) would be a nice-to-have:
![e

[2015-12-17 14:03] grdw commented on #671
![screen shot 2015-12-17 at 3 02 35 pm](https://cloud.githubusercontent.com/assets/2676542/11871344/42ad40a6-a4cf-11e5-8e05-daf6884dadd9.png)

[2015-12-17 14:17] antw commented on #671
I think this makes sense for space and water heating. Does it also make sense for buffers in the gas and electricity networks? We don't have gas buffers yet – but probably will soon – and electricity buffers are standalone technologies (P2P/EV), but it would be nice if we had a system flexible enough to choose the correct volume *unit* depending on the technology.

[2015-12-17 14:23] antw commented on #700
Funnily enough (or not-so-funny depending on your perspective), this is exactly what early versions of Moses did. We changed it so that technologies are defined in the database. :disappointed:

I approve of moving back to a file-based approach. The `technologies` table is getting a bit messy, and while we could clean that up by splitting it into a couple of separate tables, I think YAML or `.ad` i

[2015-12-17 14:24] jorisberkhout commented on #287
Moving to 'Storage' milestone.

[2015-12-17 15:00] ChaelKruip commented on #671
For electricity not. For gas maybe.

After discussing this with @grdw we feel that `volume` should be reserved for energy [kWh]. This is a relevant unit for heat, gas and electricity. The 'size' of the buffer could depend on the carrier. For electricity I think kWh is the only relevant measure but for heat `liters` makes sense. For gas it might be that `cubic_meters` is a relevant measure of `size

[2015-12-17 15:07] ChaelKruip commented on #529
Assigned to @antw

[2015-12-17 15:24] grdw commented on #700
Oeps...

I think YAML is fine. But I think we're not the users that will change the `technologies` all that much. I think @ChaelKruip might have a stronger opinion about this.

[2015-12-18 08:59] grdw opened #703 "Speed up of the LES page by using ajax request to only request particular subsets of the data"
Right now all the `35040` data points for all end-points are returned to the front-end. Resulting in some slowness in the front-end, particularly for some really larges LES's.

The full calculation is first calculated, than cached. The `TestingGround::Calculator` should be able to take three extra arguments. A `range`, a `resolution` and a `node` to take specific parts from the cache or write a ne

[2015-12-18 09:04] ChaelKruip commented on #703
@grdw glad that you are thinking about this! next year, we'll have budget to work on this and other optimisation topics. Could you make a proper design for how this should work and include @antw in the choices you make?

[2015-12-18 09:19] #271 closed

[2015-12-18 09:20] #255 closed

[2015-12-18 09:20] #638 closed

[2015-12-18 09:20] #568 closed

[2015-12-18 09:20] grdw commented on #620
@antw can this be closed?

[2015-12-18 09:21] grdw commented on #384
Closed due to new interface

[2015-12-18 09:21] #384 closed

[2015-12-18 09:21] #620 closed

[2015-12-18 09:26] ChaelKruip commented on #255
I agree but have not been practicing it :blush: I'll correct my mistakes ASAP

[2015-12-18 09:28] ChaelKruip opened #704 "Move project specific documentation (specs) to the project wiki"
Rather than the documentation repository.

- [x] Buffer spec file
- [x] Neighbourhood battery

[2015-12-18 13:05] dennisschoenmakers opened #705 "NoMethodError: undefined method `update_column' for nil:NilClass"
Check full details on Airbrake: [#1578232110142436206](https://quintel.airbrake.io/projects/111227/groups/1578232110142436206)

Backtrace:
[code]

[2015-12-18 13:06] dennisschoenmakers opened #706 "NoMethodError: undefined method `build' for #<Market::MeritCurveBuilder:0x007f7b970d22c0>"
Check full details on Airbrake: [#1578232637198676907](https://quintel.airbrake.io/projects/111227/groups/1578232637198676907)

Backtrace:
[code]

[2015-12-18 13:08] ChaelKruip opened #707 "When saving 'as', the name should not be the same as the current LES"
Now it is possible to 'save as' with the same name which will lead to confusion.

[2015-12-18 13:35] ChaelKruip commented on #640
Good question. If someone builds a P2H unit in the ETM, that is equivalent to buying a buffer tank and a cheap resistive heater. In ETMoses every household has two buffers (which can be given a zero volume). I think that all P2H units from the ETM should be translated into `households_space_heater_electricity` units that are coupled to the hot water buffer.

Also see https://github.com/quintel/etm

[2015-12-18 13:37] ChaelKruip commented on #626
P2H should become **only** a strategy and nothing more IMO. When people have electric (buffering) technologies coupled to their buffers, P2H should just be a way to use excess electricity to heat the buffers using those technologies.

[2015-12-18 13:50] ChaelKruip opened #708 "Explanation for boosting and buffering should be added"
![etmoses](https://cloud.githubusercontent.com/assets/1303760/11898222/995f2262-a596-11e5-96cb-44ab3e2cc863.png)

[2015-12-21 11:09] #611 closed

[2015-12-21 16:34] #637 closed

[2015-12-21 16:38] grdw commented on #701
I'm busy with the front-end part for this, though I stumble upon a bootstrap-slider issue. The slider is initialized but the slider can't be dragged (it's just stuck)(tried stripping of a lot of javascript to get it working to no success). I can remember I had a similar problem with the `solar_capping` slider but I can't really remember how I fixed it. :thought_balloon: I'll look into it in a bit

[2015-12-22 08:10] ChaelKruip commented on #652
Assigning to @grdw

[2015-12-22 08:41] grdw commented on #707
What would be prefered? The same as the topologies: (calling it `<name> - Clone #<x>`)?

[2015-12-22 09:14] grdw commented on #701
I fixed the slider problems :)

How would you call this attribute in one word? `congestion_management_percentage` sounds a bit too 'vague'.

[2015-12-22 09:18] ChaelKruip commented on #701
`congestion_reserve_percentage` perhaps?

[2015-12-22 09:21] ChaelKruip commented on #707
@JeroenvdLogt can you explain what you find confusing about the current situation?

![etmoses](https://cloud.githubusercontent.com/assets/1303760/11952020/bc31408e-a895-11e5-9483-b6584daeb57c.png)

[2015-12-22 09:23] grdw commented on #701
`congestion_reserve_percentage` sound good I guess.

[2015-12-22 09:32] ChaelKruip commented on #652
@JeroenvdLogt can you explain what you find confusing about the current situation?

![etmoses](https://cloud.githubusercontent.com/assets/1303760/11952020/bc31408e-a895-11e5-9483-b6584daeb57c.png)

[2015-12-22 09:36] ChaelKruip commented on #707
I think it would be better to warn the user with a pop-up saying "Please choose a new name for your LES"

[2015-12-22 09:46] #708 closed

[2015-12-22 09:51] grdw commented on #707
That's also possible. We could also choose for something a little more subtle. We could track on a LES which LES is the original source. That way we can sort of say in a tiny sub-header "This LES is copied from <original LES name>"

[2015-12-22 10:13] grdw commented on #701
Preview:

![screen shot 2015-12-22 at 11 13 36 am](https://cloud.githubusercontent.com/assets/2676542/11953012/111eadaa-a89d-11e5-9dab-ca36836d9a61.png)

[2015-12-22 10:14] antw commented on #701
Looking good! :+1:

[2015-12-22 10:16] ChaelKruip commented on #701
Nice work @grdw!

I think we should add an information tooltip right of the slider that explains in more detail what this all means.

[2015-12-22 13:03] dennisschoenmakers opened #711 "KeyError: key not found: "default""
Check full details on Airbrake: [#1581130345626449196](https://quintel.airbrake.io/projects/111227/groups/1581130345626449196)

Backtrace:
[code]

[2015-12-22 13:25] dennisschoenmakers opened #712 "RestClient::InternalServerError: 500 Internal Server Error"
Check full details on Airbrake: [#1581141077256550970](https://quintel.airbrake.io/projects/111227/groups/1581141077256550970)

Backtrace:
[code]

[2015-12-22 13:25] antw commented on #711
The new DHW profiles hadn't been uploaded (the ones for shared buffers, rather than standalone heat pumps). I have uploaded the profiles, and fixed the LES.

[2015-12-22 13:25] #711 closed

[2015-12-22 13:25] grdw commented on #628
Possible duplicate: #684

[2015-12-22 13:25] #628 closed

[2015-12-22 13:37] grdw commented on #684
This has to do with (now) line 280 in `InstalledTechnology`

https://github.com/quintel/etmoses/blob/master/app/models/installed_technology.rb#L280

The thing is that there are cases where a profile is not found because somebody removed it. In this case the calculation can't pass. What we could do is exempt those technologies from the calculation, mark the `technology` red in the front-end and say

[2015-12-22 13:52] #712 closed

[2015-12-22 14:21] ChaelKruip commented on #684
:+1:

[2015-12-22 14:54] JeroenvdLogt commented on #652
Saves save mean that only the market model is saved (if you were working on that) or is the complete LES saved. And does this mean that the original marketmodel will be overwritten?

[2015-12-22 15:23] ChaelKruip commented on #652
* 'save' means that the current tab which you are editing is saved
* 'save all and view LES' means that all tabs are saved and you are taken to the 'view' page

What do you mean by 'original' here?

* If you have edited the market model, 'save' will save your changes if you are on the market model tab.
* If you have edited the market model, 'save all and view LES' will save your market model regar

[2015-12-23 11:42] JeroenvdLogt commented on #707
What is most important in opinion is that the user can keep track of the versions. My problem was (few weeks or more ago) that after changes in the LES the LES was saved as clone instead of under the same name. I cannot remember if this was my own fault or a temperory  bug in ET-Moses.

To conclude, I think the most convenient solution woudl be:
Save the LES under the same name unless the user cho

[2015-12-23 12:06] ChaelKruip commented on #707
Very clear! Thanks!

[2015-12-23 12:36] grdw commented on #703
I have a technical design of it [here](https://gist.github.com/grdw/bacfbfb46f5887424938). Maybe you have some thoughts on this @antw.

[2015-12-23 13:57] antw commented on #703
I like the idea to make the topology and load data JSON separate.

--

I think we will have to fetch the low-res data for *all* nodes once the calculation is finished; this is how we know which (over-capacity) nodes to highlight with the red border.

--

Instead of `{ node: '<name>' }`, can I suggest instead accepting an *array* of node names? For example:

[code]

In my mind I was thinking someth

[2015-12-23 14:18] grdw commented on #703
@antw thanks for your remarks.

I agree with the fact that the resolution `low` and `high` should be incorporated first. The `range` can be done later. I'm also not sure how much the range will impact the speed (mainly because the whole cache needs to be read anyway).  It can take away some slowness if you selected a range and than reload the page.

The idea was not to store the loads in `localSto

[2015-12-23 14:44] grdw commented on #703
Credits to @ChaelKruip. We could also do it in this order:
[code]

[2015-12-23 15:09] antw commented on #703
Got it; this is so that selecting a new node remembers the chart settings from the previous one?

Good point. :+1:

The only difference I see is an `over_capacity` flag with the topology (perhaps I'm missing something? :laughing:). This moves the burden for detecting over-capacity nodes onto the server. If we're going to read the low-res data out of the cache to do this, is it *that* much more exp

[2015-12-23 16:15] grdw commented on #703
I know of `jQuery.when` :+1:  good suggestion though.

[2015-12-24 13:48] JeroenvdLogt opened #714 "Is there something like a Gas Merit-Order?"
I am making a new marketmodel and was wandering. What if I choose to make a transaction for kWh gas consumption based on merit-order price. Is this the merit-order of electricity or of gas?

[2015-12-24 13:50] JeroenvdLogt commented on #714
BTW I like the fact that transactions for gas are based on kWh. It made me realize again the relative low prices for gas compared to electricity.

[2015-12-27 10:03] dennisschoenmakers opened #715 "NoMethodError: undefined method `curves' for nil:NilClass"
Check full details on Airbrake: [#1584663683452616167](https://quintel.airbrake.io/projects/111227/groups/1584663683452616167)

Backtrace:
[code]

[2015-12-29 15:20] grdw commented on #703
Current status:

- [x] Rewrote the current javascript in the form of:

[code]

- [x] Wrote a tiny ruby class that downsamples the current graph to 365 points

Todo:
- [ ] Change strategies should redraw correctly (still testing)
- [ ] When changing the date it should change resolution for the current chart and all previously clicked loads

[2015-12-31 18:02] dennisschoenmakers opened #716 "NoMethodError: undefined method `updated_at' for nil:NilClass"
Check full details on Airbrake: [#1587803368391687403](https://quintel.airbrake.io/projects/111227/groups/1587803368391687403)

Backtrace:
[code]

[2016-01-02 20:51] dennisschoenmakers opened #717 "RuntimeError: Missing use profile for Heat pump for hot water (air) #2"
Check full details on Airbrake: [#1589338237215159788](https://quintel.airbrake.io/projects/111227/groups/1589338237215159788)

Backtrace:
[code]

[2016-01-04 10:02] dennisschoenmakers opened #718 "NoMethodError: undefined method `-' for "":String"
Check full details on Airbrake: [#1590461238019078853](https://quintel.airbrake.io/projects/111227/groups/1590461238019078853)

Backtrace:
[code]

[2016-01-04 13:18] dennisschoenmakers opened #719 "ArgumentError: comparison of Float with Float failed"
Check full details on Airbrake: [#1590559725226277518](https://quintel.airbrake.io/projects/111227/groups/1590559725226277518)

Backtrace:
[code]

[2016-01-05 12:40] dennisschoenmakers opened #721 "Mysql2::Error: Duplicate entry '{ADDRESS}' for key 'index_users_on_email'"
Check full details on Airbrake: [#1591265512059811525](https://quintel.airbrake.io/projects/111227/groups/1591265512059811525)

Backtrace:
[code]

[2016-01-06 10:20] #684 closed

[2016-01-06 14:46] #698 closed

[2016-01-06 14:46] #715 closed

[2016-01-07 13:47] grdw opened #722 "Improvements on the cache fetcher / TreeSampler for speeding up larger LES's"
For fetching the cache:

Instead of looping over all nodes of the network only loop over the nodes that are 'viewed'.

This is only for high-resolution charts.

Current situation:

[code]

Turn in it into something like this (still need to figure out what to do if you want all loads for low resolution):

[code]

Also the loop in `TreeSampler` can than be reduced to:

[code]

[2016-01-07 13:54] #721 closed

[2016-01-07 14:33] #703 closed

[2016-01-07 15:27] wouterterlouw opened #724 "LES scenarios do not load on live server"
My scenario (http://moses.et-model.com/testing_grounds/362) doesn't load on the live server:

![image](https://cloud.githubusercontent.com/assets/4319656/12174121/0d54c46e-b55b-11e5-8ec0-51ce9ea41eb4.png)

This also happens with other scenarios... (e.g. http://moses.et-model.com/testing_grounds/378).

[2016-01-07 16:25] grdw commented on #724
Hmm. I removed all old 'stuck' delayed jobs and it now seems to work. Thanks for notifying :+1:

[2016-01-08 09:23] grdw commented on #724
-> https://github.com/quintel/etmoses/issues/711 This bug does pop up though.

Backtrace:

[code]

[2016-01-08 09:27] grdw commented on #724
Including @antw

[2016-01-08 09:43] grdw commented on #716
My guess is that these errors come from LES's without market models. I'm not really sure what the approach is here. The culprit in this case is http://beta.moses.et-model.com/testing_grounds/53 which is a rather old LES.

We could edit the code so that it's backwards compatible with old LES's, assign the old LES's the default Market Model or remove the old LES's. I think the second approach is pro

[2016-01-08 09:52] grdw opened #725 "The small load chart click bug"
![screen shot 2016-01-08 at 10 52 17 am](https://cloud.githubusercontent.com/assets/2676542/12195224/ebbbfcbe-b5f5-11e5-8cf2-8c668530bcd8.png)

See image

[2016-01-08 09:54] antw commented on #724
Fixed. Old profiles had been assigned to the hot water buffers; shouldn't happen again.

[2016-01-08 10:11] #724 closed

[2016-01-12 10:46] grdw commented on #26
I sort of gave this my own swirl. But you can change the filename by editing the `load_profile` name. The format of a `load_profile_component` file will be the following:

[code]

[2016-01-12 10:47] #26 closed

[2016-01-12 12:44] #666 closed

[2016-01-12 13:18] grdw commented on #612
This is already fixed
![screen shot 2016-01-12 at 2 17 50 pm](https://cloud.githubusercontent.com/assets/2676542/12264454/4847827a-b937-11e5-8d85-95d75b208d62.png)

[2016-01-12 13:18] #612 closed

[2016-01-12 13:18] #517 closed

[2016-01-12 13:19] #664 closed

[2016-01-12 13:30] #725 closed

[2016-01-12 13:33] grdw commented on #636
Right now the performance is not much of a problem. Yes, the calculation itself can still be slow at times but the front-end is now faster since the resolution changes.

[2016-01-12 13:35] antw commented on #664
FYI @jorisberkhout This is done.

One small caveat is that the "Storage in batteries" strategy needs to be turned on (of course) in order to get useful values in the CSV. If it's turned off, then the CSV will just contain zeroes since nothing is – or can be – stored in the batteries.

![screen-shot-2016-01-12-at-13 31 48](https://cloud.githubusercontent.com/assets/4383/12264830/461b726e-b931-11e5-

[2016-01-12 13:37] jorisberkhout commented on #664
Thanks, @antw !

[2016-01-12 13:42] #717 closed

[2016-01-13 16:19] grdw commented on #636
How is the heat demand profile going to be calculated? I now fill it with a set of random numbers (would be wrong right?).

[2016-01-14 09:54] grdw opened #726 "Give a 422 Unprocessable Entity whenever request nodes from cache which don't exist."

[2016-01-14 10:52] grdw commented on #718
Relevant line: https://github.com/quintel/etmoses/blob/master/app/services/testing_ground/technology_partitioner.rb#L30

[2016-01-14 10:53] grdw commented on #718
I'll close this for now. If it pops up again I'll try to see if there are more details to it. That code still needs to be cleaned up though.

[2016-01-14 10:53] #718 closed

[2016-01-14 11:03] grdw commented on #707
The easiest way to achieve is this is with a simple prompt pop-up that asks for a new name.

![screen shot 2016-01-14 at 12 02 47 pm](https://cloud.githubusercontent.com/assets/2676542/12322802/be8176c8-bab6-11e5-8d5a-8201ebe59372.png)

'Annuleren'  and blanking the title will discontinue the saving process.

[2016-01-14 12:32] grdw commented on #707
![screen shot 2016-01-14 at 1 32 30 pm](https://cloud.githubusercontent.com/assets/2676542/12324505/49887cb0-bac3-11e5-8fbd-01deec558784.png)

Turned in it to someting a little more stylish.

[2016-01-14 13:51] #707 closed

[2016-01-14 14:20] #716 closed

[2016-01-15 07:21] JeroenvdLogt commented on #707
Great! I will test it..

[2016-01-15 12:37] grdw commented on #350
Also this would imply that the initial `Import` will be cached.

[2016-01-18 11:22] grdw opened #729 "When viewing a LES - hitting 'edit' and the evil 'back' button in a browser the topology renders twice."
See title

![screen shot 2016-01-18 at 12 21 58 pm](https://cloud.githubusercontent.com/assets/2676542/12390188/17c59398-bdde-11e5-9960-2b207addbd86.png)

[2016-01-19 12:46] ChaelKruip opened #730 "Business case does not appear"
Not when editing but also not in the overview page:

![etmoses](https://cloud.githubusercontent.com/assets/1303760/12418922/ffb00c54-beb2-11e5-8d14-368d9e9ea733.png)

[2016-01-19 14:29] grdw commented on #730
![screen shot 2016-01-19 at 3 28 31 pm](https://cloud.githubusercontent.com/assets/2676542/12421197/530fae78-bec1-11e5-9999-525fe7628448.png)

Related database line. The background calculator crashes. Related: https://github.com/quintel/etmoses/issues/706

[2016-01-19 14:38] antw commented on #730
There doesn't seem to be any such method on MeritCurveBuilder. It dates back to [this commit](https://github.com/quintel/etmoses/commit/ba041ca4e4a718e711f0f7f57165e022d5825bbb); perhaps it was meant to be `MeritCurveBuilder.new(...).price_curve`?

[2016-01-19 14:45] grdw commented on #730
I guess it would be `MeritCurveBuilder.new(...).merit.price_curve`
But I'll change it. :+1: I was a bit confused with another issue that looked quite similar.

[2016-01-19 15:41] #730 closed

[2016-01-19 15:41] grdw commented on #730
Fixed with: https://github.com/quintel/etmoses/commit/5941e9af0aa0895f19a0ee45980f69dcf914dbb0

[2016-01-19 16:37] #729 closed

[2016-01-20 17:00] dennisschoenmakers opened #731 "ArgumentError: comparison of Float with Float failed"
Check full details on Airbrake: [#1602267842540453067](https://quintel.airbrake.io/projects/111227/groups/1602267842540453067)

Backtrace:
[code]

[2016-01-25 10:31] JeroenvdLogt opened #732 "neighborhood battery"
When making a LES I can choose a neighborhood battery. Can I also choose a neigborhood battery flex strategy. Or is the effect of the neighborhood allready incorperated in the null scenario without flex?

[2016-01-25 10:35] antw commented on #732
The neighbourhood battery is turned on by enabling the "Storage in batteries prioritising local PV production" strategy.

[2016-01-25 11:17] JeroenvdLogt commented on #732
As far as I am aware neighorhood battery consist of a battery with adjustable percentage available for congestion. But congestion is not only caused by solar PV, not every surplus of PV energy leads to congestion and saving surplus of PV energy in the morning can result in a full battery at peak times in the afternoon (which will result in congestion).

I thought that it would be possible to choos

[2016-01-25 11:27] antw commented on #732
The neighbourhood battery will react to *any* congestion, not just that caused by solar PV; I believe that "prioritising solar PV" simply means that batteries will try to store excess production from solar PV technologies. For the neighbourhood battery, the strategy simply acts as an on/off switch. I suppose we could separate strategy for enabling the neighbourhood battery to distinguish it from o

[2016-01-25 12:28] JeroenvdLogt commented on #732
Thank you for your reaction. Now I understand how the neighborhood battery works. This is indeed what we need for calculations. It's a quite sophisticated piece of modelling, compliments for that!

[2016-01-25 14:13] ChaelKruip commented on #732
:+1:

[2016-01-25 14:13] #732 closed

[2016-02-01 11:01] jorisberkhout commented on #106
As discussed with @ChaelKruip .

This issue points to a fundamental difference between ETModel and ETMoses. The 'availability' slider for EV in the ETM is used to set a statistical property of all EV in the scenario, namely which percentage of all batteries combined can be used for flexibility purposes (storing excess electricity and using this electricity at a later time). In ETMoses, each EV has

[2016-02-01 11:01] #106 closed

[2016-02-01 16:08] dennisschoenmakers opened #733 "RestClient::InternalServerError: 500 Internal Server Error"
Check full details on Airbrake: [#1610938961879349938](https://quintel.airbrake.io/projects/111227/groups/1610938961879349938)

Backtrace:
[code]

[2016-02-01 16:33] JeroenvdLogt opened #734 "business case is not calculate"
I am trying to calculate a business case for: USEF Lochem traditioneel netverzwaring 2050 + marktmodel (exl flex)

But the BC is not updated by ET-Moses. I am sure I have transactions with government and producer but cannot find those in the BC table.

[2016-02-01 16:37] ChaelKruip commented on #734
@grdw can you take a look?

[2016-02-01 16:38] grdw commented on #733
Related: https://github.com/quintel/etmoses/issues/734

[2016-02-01 16:49] grdw commented on #734
It has to do with the merit price for electric vehicles. That profile + the merit order is momentarely being migrated as a preparation to the deploy (@antw could you verify this). This is why it's not working. In the mean time you can try the production environment of etmoses instead of the beta.

[2016-02-02 10:30] grdw opened #735 "Importing 'set' attributes that are statically defined in ETmoses from ETengine"
Certain attributes from the ETMoses `technologies` table are static and they should be fetched from ETengine to keep a good separation between the application and the actual data.

Attributes that are defined in ETMoses are:

- volume
- size (volume in liters)
- demand
- capacity
- (max_bufferable_temperature (for buffers))( ? @ChaelKruip )

--

There are some implications when removing those 3(4)

[2016-02-02 10:48] JeroenvdLogt commented on #734
Unfortunetily I it doesn't work on the production server either. On the production server I cannot even make a LES with
USEF Lochem 2050 berkeningen as topology and
USEF Lochem 2050 zonder flex as marktmodel.

[2016-02-02 10:49] JeroenvdLogt commented on #734
Is this has something to do with the ETM release. If this is the case can you give an estimation how long this problem is sustained.

[2016-02-02 10:54] grdw commented on #570
Including: https://github.com/quintel/etmoses/issues/734

Was this fix also merged to production?

Delayed Job is complaining about something similar:

[code]

Could be completley unrelated ofcourse.

[2016-02-02 11:00] grdw opened #736 "Exporting revised: a look at the technologies and attributes that are exported to ETModel"
An export takes all technologies that are defined in a LES which are 'exportable' (which means that the `export_to` column must not be blank).

Which in this case are (`<etmoses-key> -> <etmodel-export-to>`):

- `households_solar_pv_solar_radiation -> households_solar_pv_solar_radiation_market_penetration`
- `households_space_heater_heatpump_air_water_electricity -> households_space_heater_heatpum

[2016-02-02 11:09] grdw commented on #734
Hmm..  :disappointed: it seems that this is a different problem.

The *beta* problem has to do with the release.
The *production* problem has nothing to do with the release but with the error tagged in this issue.

The problem on production can be manually resolved.

![screen shot 2016-02-02 at 12 06 18 pm](https://cloud.githubusercontent.com/assets/2676542/12747628/639157ee-c9a5-11e5-864e-d468498

[2016-02-02 11:40] antw commented on #734
This is a limitation of the Turbine library. You *can* have two (or more) payments between the same two stakeholders, but the measure must be unique in each case. You can't have "AC6" paying "system operator" for "max kW load" more than once.

It's a quite sensible limitation for Turbine, but it causes this problem with the market model. I intend to factor our Turbine as soon as the opportunity pr

[2016-02-02 11:44] antw commented on #570
[The limitation](https://github.com/quintel/etmoses/issues/734#issuecomment-178522149) is still present on the master branch (so beta and production). I'll see what I can do to resolve this – this week or next – depending on how much remains for the deploy.

[2016-02-02 12:04] ChaelKruip commented on #735
What do you mean @grdw?
I think that the main reason is to keep consistency between ETM and ETModel...

I think it is good to keep our terms clear:
* size (liters) is the physical size of a buffer
* volume (kWh) is the storage size of a buffer

I think that these are taken from ETE but please correct me if I'm wrong...

[2016-02-02 12:34] grdw commented on #735
I think we mean the same. But what I'm trying to say: data / numbers / attributes of carriers is not something which belongs in etmoses.

Yes and no. It depends if they're defined (and I'm not sure about those specific attributes). If not it takes a default from the technologies table.

[2016-02-02 13:57] ChaelKruip commented on #504
Yes please! :+1:
This one fell off the radar it seems. Ecofys asked me about it today and I didn't know if we did it already.

@antw how much time would this roughly take?

[2016-02-02 14:05] antw commented on #504
~1 day. How soon is it needed?

[2016-02-02 15:18] ChaelKruip commented on #735
They should be defined I think. If not, we need to look at why and not simply use a default from the database.

[2016-02-02 15:19] ChaelKruip commented on #504
First thing after the deploy I would say...

[2016-02-02 15:20] grdw commented on #735
Hmm.. I just found out that they are :+1:  only when adding a new technology the attributes for which there are no defaults are ignored. I think I know why.

[2016-02-02 15:25] dennisschoenmakers commented on #504
Agree 100% with 100% of all the participants!

[2016-02-03 09:12] grdw commented on #735
[code]

I'm trying to fetch the numbers from `et-engine` however there are some catches.

- `heat_pumps` capacity are the 'capacity' divided by the cop (as @jorisberkhout managed to tell me)
The number I receive from et-engine is the 'capacity' (so 10) and not the number that's in the table.
- the `congestion_battery`,`buffer_space_heating`,`bufffer_water_heating`,`hybrid_heatpump_*` does not exis

[2016-02-03 11:00] grdw opened #737 "Making a clear difference between input and output capacity"
Part of https://github.com/quintel/etmoses/issues/735

---

The idea is to split up the input and output capacities:
This is done! :dancers:

However the old scenario's need to be migrated because of the renaming. And before I do this I'd like to know how we would do this.

Todo:
- [ ] Migration for old scenarios
- [ ] checking `carrier_capacity`  and making sure that nothing is broken for that ma

[2016-02-03 12:22] JeroenvdLogt commented on #734
Also with the adjusted market model I am not able to make my LES work...
When going from ETM scaled down Lochem scenario to ET-Moses and chosing
USEF Lochem 2050 berkeningen as topology and
USEF Lochem 2050 zonder flex as marktmodel

the technology table occurs but I am not able to do anything. It has crashed.

[2016-02-03 12:24] JeroenvdLogt commented on #734
![image](https://cloud.githubusercontent.com/assets/7781037/12782121/616f4550-ca79-11e5-9cc1-7d9ac2b9d35d.png)

[2016-02-03 12:25] ChaelKruip commented on #734
Adding priority label because @JeroenvdLogt cannot continue his work if this is not resolved.

[2016-02-03 12:33] antw commented on #734
The duplicate payment rule shown in @grdw's screenshot above was still present in the market model. I have removed it and [a business case has now been calculated](http://moses.et-model.com/testing_grounds/395).

[2016-02-03 12:36] ChaelKruip commented on #734
:+1:

[2016-02-03 12:56] JeroenvdLogt commented on #737
![image](https://cloud.githubusercontent.com/assets/7781037/12782808/f0ca7a22-ca7d-11e5-8672-f73d9e7a1517.png)
It's a pity. This is an existing LES with an old topology (other yaml text same name) you show. I was talking about creating a new LES from ETM....

![image](https://cloud.githubusercontent.com/assets/7781037/12782696/3006908c-ca7d-11e5-9956-2b592a6b309d.png)

![image](https://cloud.githu

[2016-02-03 13:00] JeroenvdLogt commented on #734
![image](https://cloud.githubusercontent.com/assets/7781037/12782808/f0ca7a22-ca7d-11e5-8672-f73d9e7a1517.png)
It's a pity. This is an existing LES with an old topology (other yaml text same name) you show. I was talking about creating a new LES from ETM....

![image](https://cloud.githubusercontent.com/assets/7781037/12782696/3006908c-ca7d-11e5-9956-2b592a6b309d.png)

[2016-02-03 13:11] antw commented on #734
This appears to be unrelated to the business case. Indeed the JavaScript for the technology table seems to hang, likely due to the very large topology. Perhaps, when time permits, @grdw can look into optimising this further and find out where the bottlenecks are (because the page is not *that* complex).

Unfortunately I cannot think of any quick work-arounds. Simplifying the topology should improv

[2016-02-04 07:42] dennisschoenmakers opened #738 "BUG: Date seems to be incorrect?"
![image](https://cloud.githubusercontent.com/assets/104830/12808954/3b8a2b50-cb1b-11e5-8035-d677922f66f4.png)

July or January?

[2016-02-04 08:32] ChaelKruip commented on #738
Assigning to @grdw

[2016-02-04 15:20] dennisschoenmakers opened #739 "BUG: Business case is not calculated at all"
![image](https://cloud.githubusercontent.com/assets/104830/12819359/0a8ebf44-cb5b-11e5-9bd8-2ddf250d3527.png)

As reported by @JeroenvdLogt

LES: http://beta.moses.et-model.com/testing_grounds/412

[2016-02-04 15:22] grdw opened #740 "Importing 'set' attributes that are statically defined in ETmoses from ETengine"
*In order for this to become something 'physically correct' and 'code wise correct' I'd suggest to look at this per attribute per technology (in order for me to not completely lose it).*

# General

#### THE GOAL!!!!
The main thing we are trying to solve is that there are numbers defined in ETMoses (mainly in the technologies table) which we want to fetch from ETEngine (in a heavenly utopia world)

[2016-02-04 15:22] grdw commented on #735
I wrote it in a little more detail here: https://github.com/quintel/etmoses/issues/740

I'm closing this issue therefor.

[2016-02-04 15:22] #735 closed

[2016-02-04 15:25] JeroenvdLogt commented on #739
Same problem on production server :(

[2016-02-04 15:27] grdw commented on #739
I put the business case - for the relevant LES - back in the cue and it calculated.

![screen shot 2016-02-04 at 4 27 20 pm](https://cloud.githubusercontent.com/assets/2676542/12819646/2f5c1492-cb5c-11e5-9d69-9aa68e184503.png)

[2016-02-04 15:28] JeroenvdLogt commented on #739
I see that the problem is solved. Thank you for the quick reaction.

[2016-02-04 15:28] grdw commented on #739
I'll try to see what this problem is. I think it's the same as last time but I'll check to be sure.

[2016-02-04 15:35] antw commented on #739
I think this was an ETEngine issue. With some luck, [now fixed](https://github.com/quintel/etengine/commit/fb56e041ba31ac83b78feb59daa7cf779ad5cf87).

[2016-02-04 15:54] jorisberkhout commented on #736
Removing milestone as this is not deploy-critical.

[2016-02-04 16:30] #739 closed

[2016-02-05 08:30] grdw commented on #740
@ChaelKruip and @antw could you maybe have a readthrough of some of this and say whatever comes to mind. :+1:  thanks.

[2016-02-08 09:28] AlexanderWirtz commented on #504
agree

[2016-02-08 15:39] ChaelKruip opened #741 "Separate logo's a bit more"
The current spacing feels a bit cramped:

![etmoses](https://cloud.githubusercontent.com/assets/1303760/12890109/7f179168-ce82-11e5-8621-188991c4d746.png)

[2016-02-09 10:03] dennisschoenmakers commented on #741
I also think the vertically alignment can be improved

[2016-02-09 10:04] dennisschoenmakers commented on #741
![image](https://cloud.githubusercontent.com/assets/104830/12913072/dd6b7550-cf1c-11e5-91f6-bb63ff7a14ab.png)

[2016-02-09 13:52] jorisberkhout commented on #287
Moving to Deploy milestone.

[2016-02-09 15:40] ChaelKruip opened #742 "Volume of P2H should be zero (it is connected to a buffer)"
![etmoses](https://cloud.githubusercontent.com/assets/1303760/12921063/c9bff358-cf4b-11e5-94b9-3c52c2ed5fd5.png)

[2016-02-09 15:41] ChaelKruip opened #743 "Importing batteries should not give them a warning colour"
![etmoses](https://cloud.githubusercontent.com/assets/1303760/12921113/f29f831a-cf4b-11e5-8f3d-6e5a0f677548.png)

See [this LES](http://beta.moses.et-model.com/testing_grounds/415)

Why are they red BTW?

[2016-02-09 15:43] ChaelKruip commented on #743
Once I created the LES I got the following message:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/12921171/2d0bc6f8-cf4c-11e5-99d0-52e9f71b6bc3.png)

Batteries shouldn't have a profile anyway right?

[2016-02-09 15:45] dennisschoenmakers opened #744 "NoMethodError: undefined method `fetch' for nil:NilClass"
Check full details on Airbrake: [#1616725628460446769](https://quintel.airbrake.io/projects/111227/groups/1616725628460446769)

Backtrace:
[code]

[2016-02-09 15:56] grdw commented on #743
Hmm.. This has to do with the neighborhood battery. I think we exclude the neighborhood battery from that check but we should also exclude the normal battery.

[2016-02-09 15:57] ChaelKruip opened #745 "The business case of my LES only shows up after I edit it"
But if it was calculable all along... Y U NO SHOW?!
![yuno](https://cloud.githubusercontent.com/assets/1303760/12921562/25d27ea2-cf4e-11e5-8016-83481dcf5e79.png)

[2016-02-09 15:58] grdw commented on #745
Y U NO PATIENCE!

[2016-02-09 16:09] ChaelKruip opened #746 "When opening scenario 493815 on BETA in ETMoses, it complains"
The ETM interface tells me that this is a scaled scenario:
![energy_transition_model_-_your_free__independent__comprehensive__fact-based_scenario_builder_](https://cloud.githubusercontent.com/assets/1303760/12921944/ca2e4de0-cf4f-11e5-8ea9-c16386674a75.png)

But ETMoses is not convinced:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/12921914/a522d962-cf4f-11e5-9566-04537a3e0144.png

[2016-02-09 16:15] antw commented on #746
An ETEngine database migration went awry and I had to re-run it locally and reimport the ETE database.

Your (scaled) scenario was probably created in the 5 minute window when this occurred and was lost when the database was uploaded. The new 493815 scenario is *not* scaled, so Moses is correct.

[2016-02-09 16:15] #746 closed

[2016-02-10 08:56] grdw commented on #745
Hmm.. I'll try to see what I can do. But you expect the *initial calculation* to directly show the business case and not upon refresh, am I right?

[2016-02-10 08:59] ChaelKruip commented on #745
Yes. Don't you? :wink:

[2016-02-10 09:04] grdw commented on #745
Well yes. :+1:  but just checking to make sure I understand the issue properly.

[2016-02-10 09:22] #743 closed

[2016-02-10 09:22] #745 closed

[2016-02-10 09:25] ChaelKruip commented on #714
Electricity. Perhaps it is weird to base a gas transaction on the electricity price but I can imagine that there actually can be scenario's where there is a strong correlation between gas price and electricity price because the gas plants are price-setting.

Contrary to the electricity price, the price of gas is determined more by international influences. It is next to impossible to model this wi

[2016-02-10 09:25] #714 closed

[2016-02-10 09:29] grdw opened #747 "Optimize speed of technology - profile matrix when creating a testing ground"
Quote from: #734

[2016-02-10 09:30] grdw commented on #734
I'm closing this issue. I've created a separate issue for the speed optimization. Will start whenever time permits.

[2016-02-10 09:30] #734 closed

[2016-02-10 10:51] jorisberkhout commented on #287
@ChaelKruip , looking at this issue again, I think this is not deploy critical. If you agree, let's remove the milestone.

[2016-02-10 10:51] grdw opened #749 "Write specs to validate the integrity between etmoses and etengine"
We need to make sure that the information that comes from etengine is valid and similar to what we expect in etmoses.

The way to do this is to include a set of specs that do a 'real' connection to etengine and checks if the properties are properly parsed and filled in the front-end.

*Technicalities:*
With `WebMock.allow_net_connect!` we can allow a real connection to etengine. We could than proc

[2016-02-10 10:54] ChaelKruip commented on #287
Agree

[2016-02-10 13:47] grdw commented on #749
Me and @dennisschoenmakers had a talk about this. And it becomes a little too circlular to write specs for (how do you validate that 5 is equal to 5 - it already is why should you). What I think that orignally spawned this feature is issue https://github.com/quintel/etmoses/issues/742. Ofcourse we still want to move the numbers from the etmoses table to etengine but that's a different issue.

You

[2016-02-10 14:52] dennisschoenmakers commented on #749
@grdw I think it would also help if you explain here (for @ChaelKruip) when and how the numbers from ETEngine are being treaded in ETMoses.

[2016-02-10 15:38] grdw opened #750 "Solar PV capacity default incorrect"
When importing directly from et-engine it's -1.6
When adding a new technology it's -1.5

It has to do with the database default but also with the fact that the capacity is ignored in the template parsing.

[2016-02-10 15:40] ChaelKruip commented on #750
This exactly the type of problems we hope to remedy with https://github.com/quintel/etmoses/issues/740

[2016-02-10 15:45] grdw commented on #749
To elaborate where the defaults are coming from.

`load_profiles` have defaults (for capacity, volume, demand)
`technologies` have defaults (for capacity, volume, demand)

And there's et-engine.

Right now there's still a bug with it I just noticed: https://github.com/quintel/etmoses/issues/750

But how it should work is as follows:

`ETEngine -> Load profile default -> Database default`

However

[2016-02-10 15:51] ChaelKruip commented on #740
I don't think this is true for solar PV and P2P or other technologies that *output* electricity on the grid (which is negative load).

I think there is much more information available/known than currently in the table. @grdw talk to me how you want to validate your data. Shall I show you how to get the correct numbers from the ETM-backend? Or would you rather have me fill in the above table?

[2016-02-10 16:33] grdw commented on #750
I've added capacity, demand and volume to be fetched from et-engine if the technology 'allows' it. Which means that the attribute has to be whitelisted. This sounds a little double and probably is something which can be refactored ;) I'm checking to see if it is.

[2016-02-11 09:35] ChaelKruip commented on #738
@grdw was is the status of this?

[2016-02-11 09:44] ChaelKruip opened #751 "Business case appears BEFORE load has finished"
I find this suspicious at the least...

[2016-02-11 09:47] grdw commented on #738
It's in a pull request.

[2016-02-11 09:47] #738 closed

[2016-02-11 09:47] ChaelKruip opened #752 "EV volume is off by a factor of 10000"
![etmoses](https://cloud.githubusercontent.com/assets/1303760/12973466/d2e009ca-d0ac-11e5-8c13-2379a67b3533.png)

[2016-02-11 09:55] grdw commented on #751
I'll take some time to research this but somehow I have no hard time believing that the business case finishes first. Are the numbers correct or is that also wrong? Maybe we can validate that together because I still don't have a clue what sums up to what - in relation with the load calculation - and how that sums up in total with the investment costs.

[2016-02-11 10:00] grdw commented on #752
Hmm, saw this happening yesterday aswell. The value we get from ETEngine is `0.0000096`

This is the literal value from et-engine:

[code]

And in our builder we divide that number by 1000 to switch from Wh to kWh according to a comment.

[2016-02-11 10:03] antw commented on #752
The ETEngine value was changed from Wh to MWh (for consistency with the rest of the dataset), so to get kWh we now need to multiply by 1000.

[2016-02-11 10:04] grdw commented on #752
:+1:

[2016-02-11 10:08] ChaelKruip opened #753 "Default load (no strategies) should not include effects of HHPs"
Right now you cannot see what would happen to the load IF strategy "switch to gas if congested" would be absent:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/12973836/d21845ae-d0af-11e5-84d7-04530add70dc.png)

[2016-02-11 10:09] ChaelKruip opened #754 "It is unclear which capacity is shown in overview page of selected node"
![etmoses](https://cloud.githubusercontent.com/assets/1303760/12973852/ed6fde52-d0af-11e5-9800-3871bb057891.png)

[2016-02-11 10:17] grdw commented on #754
Well right now we named all of it `Output capacity`:

![screen shot 2016-02-11 at 11 16 08 am](https://cloud.githubusercontent.com/assets/2676542/12973987/e169a394-d0b0-11e5-9cbc-f3bcb7c2ab81.png)

I already know that that's not the way to go in some special cases and there's already an [issue](https://github.com/quintel/etmoses/issues/737) for it to clean that up. The quick and cheap way to solve

[2016-02-11 12:31] grdw opened #756 "Technology template contains old default values when trying to add a new technology."
In the profile matrix there's a HTML template we update when changing the technologies select box. However there are cases when that HTML template contains values from a previously selected technology.

This is fixable by removing it and adding it again.

[2016-02-11 12:32] dennisschoenmakers opened #757 "NoMethodError: undefined method `update_attributes' for nil:NilClass"
Check full details on Airbrake: [#1618078160470392245](https://quintel.airbrake.io/projects/111227/groups/1618078160470392245)

Backtrace:
[code]

[2016-02-11 12:32] dennisschoenmakers opened #758 "NoMethodError: undefined method `attributes' for nil:NilClass"
Check full details on Airbrake: [#1618078174621973949](https://quintel.airbrake.io/projects/111227/groups/1618078174621973949)

Backtrace:
[code]

[2016-02-11 12:37] ChaelKruip opened #759 "Maximising concurrency should not redistribute technologies over all end-points"
In [this LES](http://beta.moses.et-model.com/testing_grounds/420/) only 1 end-point has technologies. After Maximising concurrency, the end-points all have technologies.

[2016-02-11 12:43] ChaelKruip opened #760 "Save as does not copy/paste the selected strategy properly."
This LES is somehow corrupt but the user is not informed why:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/12976570/63bd2582-d0c5-11e5-813b-142ad8198c19.png)

[2016-02-11 13:15] grdw commented on #751
Allright quick peak tells me that the business case is always done before the LES is done. On production / staging / local. I'll try to see if that's what needs to be expected or if that's not correct.

We validated a simple EV profile and it turns out that the number is correct. It does spawn some other issues - like what to show first and what to show next and in what order.

[2016-02-11 13:18] grdw opened #761 "Datepicker load profiles show page does not work."
![screen shot 2016-02-11 at 2 17 05 pm](https://cloud.githubusercontent.com/assets/2676542/12977288/2a0b1146-d0ca-11e5-991b-df547b1a000a.png)

This has to do with the fact that the behavior of that select box is now the same as the testing ground show page which should not be the case. In the previous setup this would've been ok. But right now due to the resolutions "low" and "high" this is now br

[2016-02-11 13:25] grdw opened #762 "Import screen can't take random text"
Whenever you fill in text at the import screen ETMoses crashes:

![screen shot 2016-02-11 at 2 25 18 pm](https://cloud.githubusercontent.com/assets/2676542/12977505/4d6cd5b0-d0cb-11e5-8061-9a37e0942226.png)

Result  in:

![screen shot 2016-02-11 at 2 24 50 pm](https://cloud.githubusercontent.com/assets/2676542/12977513/5210b29e-d0cb-11e5-8f25-54a64e432458.png)

Considering that I'm one of the few

[2016-02-11 13:42] grdw opened #763 "When changing the concurency it switches from et-engine values to database defaults"
It sounds a little duplicate to the ears but it will be forgotten.

Part of #740

[2016-02-11 13:52] ChaelKruip opened #764 "Save as name pop-up should only show if no new name is given"
When you save a LES with a new name, you get a pop up which asks you to provide a new name. This should only happen if you try to save without changing the name in the first place.

[2016-02-11 13:55] grdw opened #765 ""Download technologies CSV" is functional while it looks disabled"
When arriving upon the page of the testing ground after creating it, it is possible to download the technologies CSV while it actually looks disabled. The CSV contains the technologies of the LES and is not empty.

The same problem is present for:

"Download merit order price curve" and "Download merit order load curves"

[2016-02-11 13:57] ChaelKruip opened #766 ""Save all and view LES"-button does not save technology table"
It just show the old LES...

[2016-02-11 13:58] grdw opened #767 "Purple of selected stakeholders in topology not 'nice'."
![screen shot 2016-02-11 at 2 56 49 pm](https://cloud.githubusercontent.com/assets/2676542/12978191/b3fe0ca0-d0cf-11e5-85a0-3ce976e67acf.png)

Purple is one ghastly color. I'd suggest a more natural looking type purple - something a little lighter to the eye.

[2016-02-11 14:12] ChaelKruip opened #768 "Editing the market model or business case should not trigger a new load calculation"
Perhaps the cache is invalidated too conservatively?

[2016-02-11 14:18] grdw opened #770 "Business case compare table colors"
![screen shot 2016-02-11 at 2 58 42 pm](https://cloud.githubusercontent.com/assets/2676542/12978262/333e8efe-d0d0-11e5-981a-59f4fc15c59a.png)

I think there should be some color to directly detect the differences in the business case compare table. Either between the fact if there's a difference or not or everything above or below €0,00 is colored red/green implying something good/bad. Yet I don't

[2016-02-11 14:20] grdw commented on #768
Linked: https://github.com/quintel/etmoses/issues/695

[2016-02-11 14:23] ChaelKruip opened #771 "The node should not be red if the capacity is not exceeded by the green curve"
![etmoses](https://cloud.githubusercontent.com/assets/1303760/12978776/5859cc6e-d0d3-11e5-8c51-105d5571ed00.png)

[2016-02-11 14:24] grdw opened #772 ""HV network" or first node of the topology should be automatically selected and rendered."
This will cause users to automatically see the 'full load' of the topology and will remove the rather empty initial state of the LES after saving the profile matrix.

*To think out loud:*
"It just finished calculcating. Calculating what exactly? I'm not seeing anything."

[2016-02-11 14:26] ChaelKruip opened #773 "Wrong profile is shown in node overview"
![etmoses](https://cloud.githubusercontent.com/assets/1303760/12978833/c3c86f78-d0d3-11e5-9380-1a2b708f3dd4.png)

but this is a group of 100 houses:

![etmoses](https://cloud.githubusercontent.com/assets/1303760/12978852/d46bd96e-d0d3-11e5-92dd-77540bca7bda.png)

[2016-02-11 14:29] ChaelKruip commented on #770
:+1:

This is the problem. Sometimes more is good, sometimes not. So, I would not do that.

[2016-02-11 14:30] ChaelKruip commented on #772
I like the idea

[2016-02-11 14:37] grdw commented on #766
Can I get some more info on this; i.e. are you doing something special (or is this only the case for cloned LES's aswell - or something completely unrelated which you did differently). I need a little more. I'm really sorry to keep on repeating that I don't know how to reproduce it. :disappointed:

[2016-02-11 14:39] ChaelKruip opened #775 ""Stroring PV in EV" strategy should not lead to bigger peaks"
This happens in [this LES](http://beta.moses.et-model.com/testing_grounds/424)

![etmoses](https://cloud.githubusercontent.com/assets/1303760/12979147/98961bdc-d0d5-11e5-829c-93df57a50056.png)

[2016-02-11 14:41] grdw opened #776 "Idea: trigger a save action upon each edit"
I would like to propose something different from the ancient old 'Save' and 'Save all buttons'.

Instead of clicking physically just save each edit you make. That way you can replace the 'Save' and 'Save all and view Les' buttons and replace it with a 'Got to testing ground' button.

[2016-02-11 14:46] ChaelKruip commented on #766
I get this anytime I use that button after editing a LES in Chrome. Also if just importing a new scenario from ETE. Not only with cloned ones.

[2016-02-11 14:58] ChaelKruip commented on #775
I spotted a potential origin for the issue. More EV profiles have been added to the database. Some of these have very high capacities... The cars still appear to have 3.7kW as capacity but perhaps the 'profile default' overwrites this in the calculation?

[2016-02-11 15:11] antw commented on #753
If "switch to gas" is not chosen, what is the preferred behaviour?

1. Use the electricity component, but still *do not exceed* network capacity, and disable the gas part.
2. Use the electricity component, *exceeding* network capacity if necessary, and disable the gas part.
3. Turn off both components and use other technologies to fulfil demand.

[2016-02-11 15:18] #752 closed

[2016-02-11 15:22] #760 closed

[2016-02-11 15:22] ChaelKruip commented on #753
None of the above :laughing:

4. Use the electricity component *as much a possible* even if it exceeds the network capacity. Now for the exceptions. Do **not** use the electricity if:
  * Capacity of the buffer is insufficient to fulfil demand
  * The energy stored in the buffer (kWh) plus what the electrcity-part can do is insufficient to fulfil demand
  * The 'binary' profile dictates that the e

[2016-02-11 15:29] ChaelKruip commented on #773
Actually, this the profile which is actually used! The EDSN profile shown in the technology table is never used!

[2016-02-11 15:29] ChaelKruip commented on #773
Including @antw

[2016-02-11 15:37] antw commented on #773
I can reproduce this by creating a scenario with 300 households, importing into Moses and deleting all technologies except the base load. The drop-down says "edsn_1a", but instead "anonimous_base_load_1" is saved.

If instead, when importing, I change the profile to "edsn_e1b" before saving, that profile *is* saved correctly. When I then try to edit the LES, "edsn_e1**a**" (the default) is selecte

[2016-02-11 17:32] grdw opened #778 "Base load and base load EDSN revised."
An issue to make it stable again. Because that would be awesome.

---

[ Placeholder ]

[2016-02-11 17:47] #773 closed

[2016-02-12 08:10] grdw opened #780 "Make the interface of ETmoses something like ETmodel"
This is the current layout:

![current](https://cloud.githubusercontent.com/assets/2676542/13001602/b617c42a-d167-11e5-9ca9-5524aec65daf.png)

This leaves lots of whitespace near the edges. Which makes this a really sad screenshot:

![screen shot 2016-02-12 at 9 05 43 am](https://cloud.githubusercontent.com/assets/2676542/13001624/db796250-d167-11e5-8394-0472b41f7bc0.png)

The chart on the middle-

[2016-02-12 08:50] ChaelKruip commented on #780
I like it that you are looking into this @grdw!

Also, the technology 'matrix' could use a big re-design IMO. Is this part of this effort as well?

[2016-02-12 09:11] grdw commented on #780
Not for now but this could be like a kickstarter for that; at least there will be more 'space' available to make nicer designs. :smile:

[2016-02-12 09:36] antw commented on #780
I'm not sure I follow why moving the menu to the left would make *more* space for charts? [Most people are not using maximised 27" displays](http://gs.statcounter.com/#resolution-ww-monthly-201412-201505). I *am*, but my browser window is [just wide enough](https://cloud.githubusercontent.com/assets/4383/13003157/c9c2de66-d16b-11e5-8574-45357ec0f041.png) to accommodate the Moses and ETModel UIs (t

[2016-02-12 10:07] grdw commented on #780
Let's go back to the origin of the problem than. I understand the concern @antw is sketching.

![screen shot 2016-02-12 at 10 51 09 am](https://cloud.githubusercontent.com/assets/2676542/13003577/9e1ce42c-d176-11e5-8943-54994ecc27bb.png)

I find this to be a not so optimal use of the 'chart'. It just looks really cramped in a tiny box. I know it was my original idea to set them side by side but ri

[2016-02-12 10:08] antw commented on #776
I like this a lot. It eliminates the confusion between "Save" and "Save all", which is nice. Adding a button to go back to the LES is also nice.

Maybe if we're smart about how updates are performed? For example, after the user makes a change wait *just a little bit* to see if they start editing another field. If they don't: send the update. If they do: wait and send both changes as one.

ETModel

[2016-02-12 10:10] ChaelKruip commented on #776
This would be great!

[2016-02-12 10:13] antw commented on #780
I agree, and having the load chart the full width of the page would be really nice. I'm definitely with you there. :laughing:

What about if we reduced the topology diagram to be like the simple version on the import form (no labels, nodes closer together, show labels when hovering the node) and show the full-size topology in a separate tab as suggested, or when pressing a "maximise" button?

I th

[2016-02-12 10:30] grdw commented on #780
Some Firefox HTML hackerdiehackie shows my perference:

![screen shot 2016-02-12 at 11 25 57 am](https://cloud.githubusercontent.com/assets/2676542/13004361/69174664-d17b-11e5-8d49-0f26da2443c8.png)

I would love it if the first thing people see when they arrive on the show page is this. When they click on a node it will appear as a new tab and you see the chart "full width" (not 3D yet ... ).

[2016-02-12 13:49] antw commented on #504
Just to clarify a bit further: do you want this new default to *also replace* the current "Buffering of electricity in EV", or to be *in addition* to it? Here are the combinations of strategies supported by EVs:

| Strategy            | Respect net capacity? | Use grid? | Discharge surplus? |
|--------------------:|:---------------------:|:---------:|:------------------:|
| All off (default)   | N

[2016-02-12 13:50] #771 closed

[2016-02-12 14:39] ChaelKruip commented on #504
Thanks for doing that @antw!

I think we should keep the current 'buffering' strategy.

I agree. I would suggest to rename it to "Only buffer EVs if network has spare capacity".

We might even keep the current behaviour as yet another strategy called: "Wait as long as possible with charging EVs". It won't solve a lot of network problems though :wink:

[2016-02-15 14:42] ChaelKruip commented on #768
Putting this on-hold as it is not urgent

[2016-02-15 14:43] ChaelKruip commented on #768
Putting this on-hold as it is not urgent

[2016-02-15 14:43] ChaelKruip commented on #695
Putting this on-hold as it is not urgent

[2016-02-15 14:45] ChaelKruip commented on #763
@grdw can you make an estimate of the time needed for this ticket?

[2016-02-15 14:45] ChaelKruip commented on #756
Putting this on-hold as it is not urgent

[2016-02-15 14:48] ChaelKruip commented on #754
Let's do that for now. Also please round these numbers to fewer digits in the interface (not in the back-end!)

[2016-02-15 14:52] ChaelKruip commented on #751
Do you mean that the application *shows* the business case before the load? Or do you mean that the calculation of the business case finishes before the load has been calculation? That would point to a serious bug because the business case depends on the load in a causal way.

If this is only a visualisation issue it is not urgent.

[2016-02-15 14:53] grdw commented on #763
Are we talking about this ticket specifically or the global issue #740? This is a little harder than it sounds though, but I can explain in person.

[2016-02-15 14:53] ChaelKruip commented on #750
How much time do you need to close this issue @grdw?

[2016-02-15 14:54] grdw commented on #751
yes.

[2016-02-15 14:59] grdw commented on #740
I see that there's a question for an estimate on all the relevant tagged issues which have to do with 'wrong' numbers. Before I can start with this issue I would like some simple feedback from someone technical - preferably @antw - before starting with a more 'solid' fix. Patching all the existing one's is simply not going to do it. It could be possible but it's not really maintainable for the fut

[2016-02-15 15:00] grdw commented on #750
The simple fix here would be to update the database capacity...., but that's what we are trying to prevent.

[2016-02-16 08:35] ChaelKruip commented on #556
Closing this for now.

[2016-02-16 08:35] #556 closed

[2016-02-16 10:00] antw commented on #504
I have two versions of this ready-to-go.

1. The first is as described in this issue: make default EVs "dumb", and rename the existing buffering strategy to "Only buffer EVs if network has spare capacity".

  However, I'm not a fan of this due to the radical change in EV behaviour when enabling storage...

  |                           | Default behaviour | Storage behaviour |
  |-----------------

[2016-02-16 10:24] antw commented on #504
Discussed with @ChaelKruip, and we're going to merge the second option so that it may be evaluated further. We can roll it back on beta quite easily if it isn't liked.

[2016-02-16 10:41] #504 closed

[2016-02-16 11:02] ChaelKruip opened #784 "Data integrity should be unsured"
## Background

There are several ways in which a technology in ETMoses can get its attributes such as capacity, COP, investment_cost etc.
* ETEngine: when opening a scaled scenario in ETMoses, the attributes are imported from ETE
* Profiles: when a new technology is added manually, its profile can contain default attributes (volume or capacity) which are used to initialise it
* Database: when a ne

[2016-02-16 13:17] antw commented on #740
I like a lot of the ideas here and definitely thing we should move technologies back to YAML.

#### Carriers, etc.

I especially like the approach suggested for `hybrid_heat_pumps`, with a `carriers` array. Maybe this might be renamed `components` (other suggestions welcome) in case we one day we need to model a technology using *two* electrical components, or two gas components, etc. We kind of d

[2016-02-16 15:00] grdw opened #785 "Inconsistent attribute volume for 'transport_car_using_electricity'"
Was 25 kW is now 20 kW.

Was changed in quintel/etsource@c89c78ceba433afac0dc8ae2d6d8d1a8b0864876

[2016-02-16 15:07] grdw opened #786 "households_flexibility_p2p_electricity (Battery) should take conversion losses into account"
Input capacity is now equal to output capacity in ETMoses.

[2016-02-16 15:14] grdw opened #787 "'energy_flexibility_p2g_electricity' (Power to gas) should take loss into account"

[2016-02-16 15:15] grdw opened #788 "'energy_flexibility_p2g_electricity' capacity inconsistent"
Old capacity was 135
And now it is 739.5833

[2016-02-16 15:21] #761 closed

[2016-02-16 15:37] grdw opened #789 "Validate capacities of inidividual parts of hybrid heat pumps"
The capacities for the indvidual parts of the hybrid heatpumps are:

| Part                                                                                                                       | Capacity |
| -------------------------------------------------------------------------------------------------------- |  ---- |
| households_space_heater_hybrid_heatpump_air_water_electricity_electricity

[2016-02-16 15:43] grdw opened #790 "'households_water_heater_network_gas' and ''households_water_heater_combined_network_gas' capacities are blank in the front-end"
This probably has to do with the fact that they are not whitelisted in the database under importable attributes.

[2016-02-16 15:55] grdw opened #791 "'households_space_heater_network_gas' take loss into account"

[2016-02-16 16:16] #722 closed

[2016-02-16 16:33] ChaelKruip commented on #786
I am not sure how this would work in ETMoses though. P2P should actually have losses when charging and when discharging (as in ETE). I can imagine the P2P class needs some work to take this into account right @antw ?

[2016-02-16 16:35] ChaelKruip commented on #785
@jorisberkhout I did not realise that this value was updated. Please note that the profiles for EV depend on both capacity and volume of EV need to be updated if such a change is made in ETSource. If you are convinced that this a necessary update, I'll upload new profiles to ETMoses.

[2016-02-16 16:37] ChaelKruip commented on #787
To clarify: this is simply stating that input capacity and output capacity should not be equal. I can provide the numbers if needed.

[2016-02-16 16:37] ChaelKruip commented on #788
@jorisberkhout can you shed some light on these changes?

[2016-02-17 09:17] dennisschoenmakers opened #793 "[Airbrake] [Staging] NoMethodError: undefined method `to_sym' for nil:NilClass"
Check full details on Airbrake: [#1622328745193355082](https://quintel.airbrake.io/projects/111227/groups/1622328745193355082)

Airbrake project: **ETMoses**

Backtrace:
[code]

[2016-02-17 09:28] ChaelKruip commented on #789
Assigned to @RobTerwel

[2016-02-17 09:30] ChaelKruip opened #794 "Distinguish between automatically selectable profiles"
As mentioned in https://github.com/quintel/etmoses/issues/784, only profiles that are 'approved' should be eligible for selection by ETMoses.

[2016-02-17 09:31] #793 closed

[2016-02-17 09:34] antw commented on #784
I like this. :+1:

I also agree with this. When we import a scenario from ETE, we should probably save all of the technology data it sends and use *that* as the source for default values.

[2016-02-17 09:43] grdw commented on #740
@antw thanks for reading through. Some comments on comments:

Yes :+1: sounds good to me. Maybe @ChaelKruip has a better word?

That's way better than an ev(~~i~~)al solution!

I agree with the nitpicks.

[2016-02-17 09:56] ChaelKruip commented on #740
I like components!

Thanks @grdw @antw for your nice ideas!

[2016-02-17 09:57] ChaelKruip commented on #36
Closing as this is outdated.

[2016-02-17 09:57] #36 closed

[2016-02-17 09:59] ChaelKruip commented on #574
@JeroenvdLogt can you add all relevant information in this ticket to the [documentation](https://github.com/quintel/documentation/blob/master/etmoses/average_cost_of_gas_infrastructure.md)? Than we can close this issue.

[2016-02-17 10:02] ChaelKruip commented on #654
@JeroenvdLogt what is the status of this ticket?

[2016-02-17 10:22] grdw opened #795 "Explore GIS data"
Explore the GIS data taken from Enexis.

[2016-02-17 10:52] dennisschoenmakers opened #796 "[Airbrake] [Staging] NoMethodError: undefined method `to_sym' for nil:NilClass"
Check full details on Airbrake: [#1622376517602883878](https://quintel.airbrake.io/projects/111227/groups/1622376517602883878)

Airbrake project: **ETMoses**

Backtrace:
[code]

[2016-02-17 10:58] grdw commented on #794
I disagree with the term 'approved' here. It almost sounds if every load profile that's been uploaded is wrong by default. Also who can set the 'approved' checkbox? Only admins I would guess.

You don't want the profile to take part in the concurrency process. So I would guess it's something like `can_concur` or `included_in_concurrency`. Or will we use the `approved` boolean in the future for som

[2016-02-17 12:10] ChaelKruip commented on #794
Fine by me!

[2016-02-17 12:38] JeroenvdLogt commented on #654
Only the headers of the first table is in dutch. The rest of the gist is okay.

[2016-02-17 12:52] ChaelKruip commented on #654
OK, thanks @JeroenvdLogt. Closing.

[2016-02-17 12:52] #654 closed

[2016-02-17 13:11] RobTerwel commented on #789
Should be

| Part                                                                                                                       | Capacity |
| -------------------------------------------------------------------------------------------------------- |  ---- |
| households_space_heater_hybrid_heatpump_air_water_electricity_electricity	| 4.9	|
| households_space_heater_hybrid_heatpump_air_wate

[2016-02-17 13:11] #789 closed

[2016-02-17 14:21] grdw commented on #766
I can reproduce it on beta but not locally. I can also only reproduce it on beta as follows:

1. Import a scenario
2. Remove all technologies
3. Add one EV to one end-point
4. Save it
5. Hit the edit button
6. Change units to whatever number
7. Kaput

If I however repeat step 5 and 6 it works.

[2016-02-17 14:29] #796 closed

[2016-02-17 15:00] grdw opened #798 "Incosistent font-size neighbourhood battery congestion reserve slider"
![screen shot 2016-02-17 at 4 00 12 pm](https://cloud.githubusercontent.com/assets/2676542/13113504/996d4bd4-d58f-11e5-8e67-7052bb15a184.png)

It annoys me a litle that the two aren't the same size.

[2016-02-17 15:42] ChaelKruip opened #799 "Question: can we take normal conversion losses into account?"
This issue is just to clear up some confusion.

## Capacities

In ETMoses, we have `capacity` and `carrier_capacity`. It is my understanding that these correspond to the ETE equivalents: `output_capacity` and `input_capacity`. The possible conversion loss of a technology that turns one carrier into another is given by
[code]
where the `efficiency` is defined as
[code]

## performance_coefficient

[2016-02-17 15:48] antw commented on #798
Maybe just get rid of the 0%/100% labels entirely? ETModel does this and I think it works fine there:

![screen shot 2016-02-17 at 15 48 07](https://cloud.githubusercontent.com/assets/4383/13114997/e89b6b0c-d58d-11e5-86b7-723facd0a865.png)

[2016-02-17 16:06] antw commented on #799
I'd prefer to do it right, and import the input and output capacities directly from ETEngine. I'm not convinced that is sufficient to model loss, however.

In Moses, a capacity is a bottleneck which limits the (maximum) flow of energy, rather than a *conversion* which may have loss. For example, a hypothetical P2P battery with an input capacity of 2kW and output capacity of 1kW charges at full cap

[2016-02-17 16:08] #759 closed

[2016-02-17 16:17] ChaelKruip commented on #799
Yes. But (!) doesn't it behave as loss for heat producing technologies for instance? If a `households_space_heater_network_gas` produces heat at its maximum `output_capacity` of 22 kW, doesn't it consume gas at 27.5 kW (22 kW/ 0.8)? The discrepancy of 5.2 kW can be interpreted as loss right?

As a longish-term solution I fully agree. But currently, the numbers are wrong and I would like to be able

[2016-02-18 09:12] grdw commented on #766
I know it's not the most appropriate tag here but I can't "destroy it" locally.

[2016-02-18 09:24] grdw commented on #764
I get the problem. To rephrase it:

If a LES is named "1 Car" and you rename it "2 Cars" and hit the "Save as" button, don't show the pop-up but name the cloned LES "2 Cars".

[2016-02-18 09:54] ChaelKruip commented on #764
:+1:

[2016-02-18 10:00] grdw opened #800 "Design: showing parts of load in the chart"
The original idea is to hover over a virtual line upward from the x-axis of the load and gas chart and show a pop-up which shows the percentages of how the loads are split up.

A small hit-area:
![design etmoses - chart - parts of load - hit area](https://cloud.githubusercontent.com/assets/2676542/13140110/6ab1785a-d630-11e5-9218-40fc68ee32c5.png)

When you are with your mouse in the yellow part i

[2016-02-18 11:00] ChaelKruip commented on #800
In addition to the feature described above, after talking to @dennisschoenmakers, I feel that we also should support drawing lines to represent the load of individual technologies. This should be turned off by default IMO.

I don't think the chart itself needs much modification (it would just require sending extra data-arrays to the same chart). It will likely require a more flexible/user friendly

[2016-02-18 11:15] grdw commented on #800
Yes. Even in full-width that will become a problem if somebody renders the default imported technologies.. :sweat_smile: Let me draw up something.

[2016-02-18 11:24] ChaelKruip commented on #800
Perhaps the ETM can be an inspiration?

![screen shot 2016-02-18 at 12 22 44](https://cloud.githubusercontent.com/assets/1303760/13142007/8b0ec06c-d63a-11e5-9268-22918188eb36.png)

[2016-02-18 11:28] grdw commented on #800
Yes and it's probably going to become something very similar to that.

[2016-02-18 13:05] grdw opened #801 "Replace NVD3 with something more flexible, like D3"
See: http://bl.ocks.org/mbostock/1667367

Right now when dragging the brush the brush stutters really badly. The example specified in the above example feels more responsive. Also in the light of issue #800 to not start hacking in an existing library.

[2016-02-18 13:05] ChaelKruip opened #802 "It should be possible to run the load calculations for time-intervals"
Performance is the main reasons why this is a much wanted feature:

Most of the time, people will zoom in on a particular time-interval (say a week) and play with the various strategies and technologies. Calculating the whole year makes this process frustratingly slow. This will become more so if we add load-per-technology and a smarter load calculation (subnet awareness).

## Short-term requireme

[2016-02-18 13:05] JeroenvdLogt opened #803 "No comparison between business cases"
I am trying to compare one BC with another in the dashboard interface of ET-Moses. But it doesn't work on the production server. In the beta server it works fine.
![geen vergelijking van winst- en verliesrekening](https://cloud.githubusercontent.com/assets/7781037/13144085/9e63a12e-d648-11e5-8593-7a1b1c45c7d7.JPG)

[2016-02-18 13:06] ChaelKruip commented on #803
@grdw can you look into this?

@JeroenvdLogt can you please include a link to the LES?

[2016-02-18 13:20] JeroenvdLogt commented on #803
Compare business case from USEF Lochem 2050 with USEF: doorrekening Lochem 2025 referentie

http://etmoses.et-model.com/testing_grounds/395

[2016-02-18 13:23] grdw commented on #800
Related: #801

[2016-02-18 13:32] grdw commented on #803
"USEF: doorrekening Lochem 2025 referentie" business case is never calculated so there's nothing to compare with. I'm currently recalculating those business cases. The background processor cue is momentarely a bit full.

[2016-02-18 13:36] grdw commented on #803
Related error in Job cue:
[code]

[2016-02-18 13:41] grdw opened #804 "When a business case fails to calculate don't write 'null' to the database but keep it "NULL"."
Whenever the business case fails to calculate for whateve reason, there's still 'null' written to the financials column.

[2016-02-18 13:47] dennisschoenmakers commented on #801
include @antw in this discussion

[2016-02-18 13:50] dennisschoenmakers commented on #800
I also think the loads of different technologies should be stacked on top of each other, a bit like Frauenhofer does:

![image](https://cloud.githubusercontent.com/assets/104830/13145134/f1b0f2a4-d64e-11e5-950a-a2bbeb7e754b.png)

Stacking makes each share a lot more clear IMO.

[2016-02-18 13:53] antw commented on #803
Probably something that isn't a curve (1 element long) being priced using the merit order curve (8760 elements long). I'll take a look into it.

[2016-02-18 14:03] grdw commented on #800
Looks very nice!

[2016-02-18 14:17] antw commented on #803
LES 365 is very broken. Every technology in the LES looks like this:

[code]

Every technology is a `generic` and has no profile (hence they have only a single instantaneous load which is what triggers the "Cannot interpolate a curve with **1** values to 8760" error when computing the market model).

I'm not sure how this could have happened. No other LES is like this. :confused:

[2016-02-18 14:21] grdw commented on #803
I can remember an issue with the CSV export once that did this...

[2016-02-18 14:21] ChaelKruip opened #805 "Losses should be taken into account for all technologies"
As discussed in https://github.com/quintel/etmoses/issues/799, losses are not currently taken into account for technologies except for heat pumps.

## Heat pumps

Currently, for heat pumps we distinguish two types of capacity:
* `capacity`: the amount of heat the pump can deliver per unit time in kW
* `carrier_capacity`: the amount of carrier (in this case electricity) that the technology consumes

[2016-02-18 14:22] ChaelKruip commented on #805
@dennisschoenmakers @RobTerwel can you please read this wall-of-text (sorry) and see if it makes sense to you as well?

[2016-02-18 14:37] grdw commented on #803
We can fix this LES by updating all the types to the correct one's and selecting the default profiles. I'll see what I can manage to repair.

[2016-02-18 14:39] RobTerwel commented on #805
No worries, it is clear to me and it would make things a bit more 'physical' . One minor correction though:  heatpumps have a correct energyflow the way they are, but only because they all have an efficiency of 1.0.

The (output)

you wrote actually should also take the form of

and should therefore be

``
input_capacity = output_capacity / efficiency / performance_coefficient
``

or (equivalently

[2016-02-18 14:40] dennisschoenmakers opened #806 "[Airbrake] [Production] RuntimeError: Missing use profile for Heat pump for space heating (air)"
Check full details on Airbrake: [#1623215970537944904](https://quintel.airbrake.io/projects/111227/groups/1623215970537944904)

Airbrake project: **ETMoses**

Backtrace:
[code]

[2016-02-18 14:46] ChaelKruip commented on #805
Thanks @RobTerwel! You are 100% correct. I left this subtlety out on purpose because I wanted to not confuse anyone (as results are currently energetically correct). With your addition, the possibility of efficiencies of heat pumps being smaller than unity is also accounted for. :+1: