[2016-07-18 12:09] grdw commented on #1284
Environment | Total Les's | Les's with min concurrency  | %           | unique users
----------- | ------------| -----------------------------|---------|---------------
staging:       |  592            | 47                                            | 7.94%    |  11
production: |  189             | 29                                            | 15.34%  |  16

I think a small percentage of the use

[2016-07-18 12:18] ThomBuijs opened #1286 "When using the default topology, it is impossible to modify the existing topology within the same LES"
If I create a LES using the default topology I cannot change this default topology later on, since it will state:

I guess it should be able to make a clone of this default topology in which I can change paramaters etc. without being forced to create a new LES. Because it would mean that I also have to restate my whole technology table.

[2016-07-18 12:20] grdw commented on #1284
<img width="1141" alt="idea" src="https://cloud.githubusercontent.com/assets/2676542/16914496/855fabb6-4cf2-11e6-897a-3b1cf302bccb.png">

I think we can remove some clutter if we move the 'Toggle Advanced' to the bottom, and with the bottom I mean, a 'bar' or in this case three little triangles, which you can click upon which will expand the box to show the advanced features. Coming to think of it

[2016-07-18 12:31] dennisschoenmakers opened #1287 "[Airbrake] [Production] undefined method `attributes' for nil:NilClass"
**Airbrake error:** [#2203](https://quintel.airbrake.io/projects/111227/groups/1732593164220872203)
**Airbrake project:** ETMoses

**Error type:** `NoMethodError`
**Error message:** `` undefined method `attributes' for nil:NilClass ``
**Where:** `gas_asset_lists#calculate_cumulative_investment`
**Occurred at:** Jul 18, 2016 12:31:55 UTC
**First seen at:** Jul 18, 2016 12:31:55 UTC
**Occurrences:**

[2016-07-18 12:31] dennisschoenmakers opened #1288 "[Airbrake] [Production] undefined method `attributes' for nil:NilClass"
**Airbrake error:** [#7511](https://quintel.airbrake.io/projects/111227/groups/1732593164128597511)
**Airbrake project:** ETMoses

**Error type:** `NoMethodError`
**Error message:** `` undefined method `attributes' for nil:NilClass ``
**Where:** `gas_asset_lists#calculate_net_present_value`
**Occurred at:** Jul 18, 2016 12:32:00 UTC
**First seen at:** Jul 18, 2016 12:31:59 UTC
**Occurrences:** 1 (

[2016-07-18 12:42] dennisschoenmakers commented on #1100
*Comment from Airbrake:* Resolved [error](https://quintel.airbrake.io/projects/111227/groups/1712190105598801632) reoccurred.

[2016-07-18 12:47] grdw commented on #1283
Closing due to duplicate: #1285

[2016-07-18 12:47] #1283 closed

[2016-07-18 12:53] #1275 closed

[2016-07-18 12:56] antw commented on #1286
This is a slightly silly validation check to prevent you from removing endpoints from a topology in case any of them have technologies attached in your LES, but it's a bit *too* strict. I'll add this to the "Input Validation" milestone because I think there's room for improvement.

[2016-07-18 12:59] grdw commented on #1287
Closing due to duplicate: #1288

[2016-07-18 12:59] #1287 closed

[2016-07-18 13:10] grdw commented on #1281
Duplicate of #1257

[2016-07-18 13:10] #1281 closed

[2016-07-18 13:14] grdw opened #1289 "Being able to delete a (private) LES"
A LES should be removeable by it's creator and an admin user.

*A LES consists of the following parts:*

- A topology
- A market model
- A business case
- A behavior profile
- A selected strategy
- A gas asset list
- A heat source list
- A heat asset list
- Testing ground delayed jobs

----

*The following items can be deleted with the LES:*
- A business case
- A selected strategy
- A gas asset li

[2016-07-18 13:24] Sanne512 opened #1290 "Definitions colours Yearly gas flow graph on the wiki"
In the definitions of the colours of the yearly gas flow chart on the wiki: https://github.com/quintel/etmoses/wiki/Gas-network#loads-and-flows , everything is explained by the _connector_ between two pressure levels. Shouldn't there be a distinction between a _connector_ and a _compressor_? For example: isn't the Feed-in dependent on a compressor instead of a connector?

[2016-07-18 13:32] antw commented on #1278
There are water heating technologies installed for which a COP/Efficiency of 0.95 has been set. COP is presently supported only on heat pumps and will result in unknown behaviour when used on other technologies. Set the COP back to 1.0 (100% efficiency) and the deficit will go away.

[2016-07-18 13:35] Sanne512 commented on #862
When will heat infrastructure be available on the pro server?

[2016-07-18 13:50] dennisschoenmakers opened #1291 "[Airbrake] [Staging] undefined method `*' for nil:NilClass"
**Airbrake error:** [#4193](https://quintel.airbrake.io/projects/111227/groups/1732632894513854193)
**Airbrake project:** ETMoses

**Error type:** `NoMethodError`
**Error message:** `` undefined method `*' for nil:NilClass ``
**Where:** `testing_grounds#data`
**Occurred at:** Jul 18, 2016 13:49:41 UTC
**First seen at:** Jul 18, 2016 13:49:41 UTC
**Occurrences:** 1 (1 since last deploy on Jul 18, 2

[2016-07-18 13:58] antw commented on #1291
Duplicate of #1138. Fixed the LES manually for now.

[2016-07-18 14:01] dennisschoenmakers commented on #1291
*Comment from Airbrake:* Resolved [error](https://quintel.airbrake.io/projects/111227/groups/1732632894513854193) reoccurred.

[2016-07-18 14:02] antw commented on #1291
No Airbrake! Bad Airbrake!

*grumble*

[2016-07-18 14:02] #1291 closed

[2016-07-18 14:06] ChaelKruip commented on #1262
Why was I assigned to this issue @grdw? I have assigned you because I think this is a splendid idea!

[2016-07-18 14:08] ChaelKruip commented on #1278
Closing this.

[2016-07-18 14:08] #1278 closed

[2016-07-18 14:09] ChaelKruip opened #1292 "It should not be possible to set the efficiency/COP for technologies that don't support it"
We should 'disable' it in the interface but still show it for now.

[2016-07-18 14:09] antw commented on #1292
Already on it. :grinning:

[2016-07-18 14:13] grdw commented on #1262
Just to re-assign someone. I was seeing lots of issues with no assignee.

[2016-07-18 14:27] ChaelKruip commented on #862
If we all feel that the BETA server is stable enough, we can deploy the new functionality to the LIVE server. It is more risky and difficult to deploy only a certain feature (such as the heat infra). My suggestion would be to work on stability and bugs on BETA for the remainder of the sprint and then deploy to LIVE (end of August). @Sanne512 do you have preference for any other time-frame?

[2016-07-18 14:35] ChaelKruip commented on #1289
👍

[2016-07-18 14:49] ChaelKruip commented on #1284
Great ideas going on here guys! 👍

I think that the whole concurrency thing was meant to be able to explore the extremes of it. I think we should allow the user to easily minimise concurrency. Splitting a technology recursively will be a pain, especially if the user also has to chose a different profile for each new product of the splitting.

I like that!

I think it is too important for that and

[2016-07-18 14:51] ChaelKruip opened #1294 "Default capping value should be 100%"
I always find myself setting it to that value anyway.

[2016-07-18 14:51] ChaelKruip commented on #1265
Good point @ThomBuijs!

[2016-07-18 15:07] jorisberkhout commented on #1249
I agree with both of you, @ChaelKruip and @dennisschoenmakers . @ChaelKruip and I wrote a proposal for this merge that we never implemented because of time constraints. The proposal seems very valid still. More information on this proposal can be found in https://github.com/quintel/etmodel/issues/1595.

[2016-07-18 15:13] grdw commented on #1284
I manage to already solve that problem in PR #1277 . However, we're sort of discussing what might be practical when it comes to "How do we split a technology into what groups of which sizes?". In the current PR #1277 you can only split them in groups of 2.

Well, yes. But we're sort of diverting from that idea based on the usage statistics.

[2016-07-18 15:21] ChaelKruip commented on #1284
The fact that I hardly use my fire-extinguisher doesn't mean that I think it should be replaced by a damp cloth 😈

[2016-07-18 15:24] DorinevanderVlies opened #1295 "Why does my battery not discharge"
### Question
In my LES I have a battery connected. The battery does not seem to discharge? How can I solve this?

### Information
[LES](https://beta-moses.energytransitionmodel.com/testing_grounds/630).
To the "PV plant" node 3 PV plants and one large battery are connected.
The battery does charge initially, but does not seem to decharge.

![image](https://cloud.githubusercontent.com/assets/199076

[2016-07-18 15:24] antw commented on #1284
That I might burn my toast doesn't mean I want to buy a fire truck. :grin:

[2016-07-18 15:27] DorinevanderVlies opened #1296 "Download curve for whole year in 15 minute interval instead of 1 day"
### Current situation
- Download CSV for a weekly curve gives a datapoint for every 15 minutes
- Download CSV for a yearly curve gives a datapoint for every day

### Request
- Download CSV for a yearly curve gives a datapoint for every **15 minutes**

cc @dennisschoenmakers

[2016-07-18 15:29] ChaelKruip commented on #1285
@dennisschoenmakers had a very nice idea in my opinion: heating technologies should 'inherit' their 'units' from their associated buffer. So, if you have a buffer with units = 3, attaching a heat pump to it will automatically set the units = 3 for the heat pump (and the user cannot change this).

This has the very favourable effect that splitting buffers will be identical to splitting normal techn

[2016-07-18 15:30] ChaelKruip commented on #1285
Including @dennisschoenmakers @antw

[2016-07-18 15:42] DorinevanderVlies opened #1297 "Adjustment of the capping of solar PV slider is not applied/calculated"
When the capping slider is adjusted the graph is not updated.
Pressing "Apply" does not work. Unchecking and checking the box before the "capping of PV" and pressing "Apply" inbetween does seems to work.

@dennisschoenmakers

[2016-07-18 15:57] grdw commented on #1284
I'm already building a delete LES method, don't worry.

[2016-07-18 16:43] antw opened #1299 "Change front-end use of "graph" for "charts""
The front-end views, CSS, and JS regularly refers to "graphs" when it would be more consistent with other QI applications to use the term "chart". While both are (somewhat) interchangeable in the context of data visualisation, "graph" is already used to describe the [data structure](https://en.wikipedia.org/wiki/Graph_(abstract_data_type)) used by Moses, ETEngine, Refinery, etc.

In the very earli

[2016-07-19 07:13] ChaelKruip commented on #1297
This is quite annoying. Adding label 'Bug'.

[2016-07-19 09:17] dennisschoenmakers commented on #1284
My 2 cents:

### Situation:

You might have a bunch of technologies attached to a end point, say: 20 heat pumps.. They all got the same profile, representing 'maximum concurrency'.

#### Currently:

Now, you wanna test 'minimal concurrency' and you wanna split those 20 heat pumps into 20 'different' heat pumps with all the same characteristics with 20 different profiles. This puts stress on the ca

[2016-07-19 09:54] Sanne512 commented on #1184
I checked this with @JeroenvdLogt and the issue lies not with connecting the solar fields/wind farms to a certain node, but with scaling it back up to ETM. When you scale it back up it has the specifics of residential PV and not of the solar fields. I will change the title of the issue and change this in the overview ticket.

[2016-07-19 10:06] #1297 closed

[2016-07-19 11:49] dennisschoenmakers commented on #1120
*Comment from Airbrake:* Resolved [error](https://quintel.airbrake.io/projects/111227/groups/1713010473251092024) reoccurred.

[2016-07-19 11:53] DorinevanderVlies opened #1300 "Why does my hybrid heatpump with COP 1 and 4.5 have a total usage of more than my demand"
### Situation
Two simplified scenarios:

1. - One buffer with demand 10,000 kWh a air heatpump (COP 4.5) connected [633](https://beta-moses.energytransitionmodel.com/testing_grounds/633/edit)
2. - One buffer with demand 10,000 kWh a hybrid heatpump (electricity part is buffering (COP 4.5), gas part is boosting (COP 1.067) [631](https://beta-moses.energytransitionmodel.com/testing_grounds/631/edit)

[2016-07-19 12:00] grdw commented on #1120
This has to do with the concurrency problems... this is obviously solved with #1277

[2016-07-19 12:15] Sanne512 opened #1301 "Downloading load curve gives empty file"
In the following LES: https://moses.energytransitionmodel.com/testing_grounds/512 I tried to download the load curve at the node MSR and the node Huishoudens. I can download the csv files, but when I open them they have no values.

[2016-07-19 12:43] dennisschoenmakers commented on #993
*Comment from Airbrake:* Resolved [error](https://quintel.airbrake.io/projects/111227/groups/1692728902015236619) reoccurred.

[2016-07-19 13:44] dennisschoenmakers commented on #432
*Comment from Airbrake:* Resolved [error](https://quintel.airbrake.io/projects/111227/groups/1515882299653599519) reoccurred.

[2016-07-19 14:00] jorisberkhout commented on #1279
@ChaelKruip , has this been solved by the commits in https://github.com/quintel/etmoses/pull/1298 ?

[2016-07-19 14:12] Stefan-87 opened #1302 "Error in download file of load profile"
Extreme numbers can be found in the downloaded file of load profiles. Noticed the error in many load profiles, for example (see also attached): ‘Solar PV – Arnhem’ and ‘DHW Demand #1’ (hot water)

[Solar_PV_-_Arnhem.default.xlsx](https://github.com/quintel/etmoses/files/371629/Solar_PV_-_Arnhem.default.xlsx)

[DHW_Demand__1.default.xlsx](https://github.com/quintel/etmoses/files/371630/DHW_Demand__

[2016-07-19 14:47] #1300 closed

[2016-07-19 14:55] antw commented on #1302
Can you clarify in what way the values are extreme or different than you expected?

[2016-07-19 14:57] antw commented on #1296
I suspect we lost this ability when we moved to showing weekly loads; the front-end no longer has access to high-resolution *annual* loads. I think adding this back in will depend on #1152.

[2016-07-19 15:01] Stefan-87 commented on #1302
Hi Anthony,

In the case of the PV, the maximum value is: 9542982,046 although values should be between 0,0 and 1,0
For the hot water, the maximum value is: 1000

This extremes can easily be seen in the excel graphs that I attached.

Kind regards,

Stefan Kop

Van: Anthony Williams [mailto:notifications@github.com]
Verzonden: dinsdag 19 juli 2016 16:56
Aan: quintel/etmoses
CC: Kop, Stefan; Author

[2016-07-19 16:55] dennisschoenmakers opened #1303 "[Airbrake] [Staging] Curve must not be empty"
**Airbrake error:** [#9673](https://quintel.airbrake.io/projects/111227/groups/1733450584044319673)
**Airbrake project:** ETMoses

**Error type:** `RuntimeError`
**Error message:** `` Curve must not be empty ``
**Where:** `calculation#gas`
**Occurred at:** Jul 19, 2016 16:55:18 UTC
**First seen at:** Jul 19, 2016 16:55:18 UTC
**Occurrences:** 1 (1 since last deploy on Jul 19, 2016 14:49:42 UTC)

*

[2016-07-20 07:33] DorinevanderVlies commented on #1295
I added the label bug

[2016-07-20 08:18] ChaelKruip commented on #1302
@Stefan-87 can you please include a link to your LES?

[2016-07-20 08:25] Stefan-87 commented on #1302
Sure, but it is regardless of the LES. The error shows up when you download one of the standard profiles available for every LES (see attached screenshots).

The link to the LES I was testing with is: https://moses.energytransitionmodel.com/testing_grounds/521

Best regards,

Stefan

Van: Chael Kruip [mailto:notifications@github.com]
Verzonden: woensdag 20 juli 2016 10:18
Aan: quintel/etmoses
CC:

[2016-07-20 08:38] ChaelKruip opened #1304 "It seems that gas assets are not correctly scaled"
Scaling to the number of connections (1000 in this case) gives me "1.0" for all quantities. That seems to be wrong:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/16980416/161e9c10-4e66-11e6-8a22-b0e7dc4a8057.png)

[2016-07-20 08:42] ChaelKruip commented on #1302
I see. You are downloading the profiles from the profile menu right?

I can't see your screenshots somehow

I think I know what is happening though. My guess is that you are using Microsoft Excel with comma's as decimal separators (instead of points). When I download the Ameland PV curve I get the following plot:
![solar_pv_-_arnhem_default_xlsx](https://cloud.githubusercontent.com/assets/1303760/

[2016-07-20 08:48] Stefan-87 commented on #1302
Yes! That seems to fix it. I changed the settings in Excel and now I get a proper plot.

Thank you ☺

Kind regards,

Stefan

Van: Chael Kruip [mailto:notifications@github.com]
Verzonden: woensdag 20 juli 2016 10:43
Aan: quintel/etmoses
CC: Kop, Stefan; Mention
Onderwerp: Re: [quintel/etmoses] Error in download file of load profile (#1302)

Sure, but it is regardless of the LES. The error shows up

[2016-07-20 08:59] ChaelKruip commented on #1302
@Stefan-87 Please don't reply directly from email but use the Github interface or we get a lot of unwanted clutter in the thread. Thanks!

Closing this.

[2016-07-20 08:59] #1302 closed

[2016-07-20 09:50] grdw commented on #1179
About duplicating a LES:

A les can be duplicated if the LES is public, the accompanied Market Model is public and the Topology is public. The duplication will duplicate all parts (gas asset list, heat asset list, heat source list, business case and the selected strategy). The duplication will point to the same Topology and the Market Model as the original LES.

[code]

When somebody makes a chang

[2016-07-20 10:13] antw commented on #1295
@DorinevanderVlies I've been experimenting which this scenario on my own machine. While I can see the same thing, can you identify any time in the LES when the batteries are not discharging, but you expect that they should be?

It would be helpful since I could check out the behaviour each technology at that point in time, and then find out why the loads are the way they are.

[2016-07-20 11:20] ChaelKruip commented on #1279
Yes. Closing.

[2016-07-20 11:25] ChaelKruip commented on #1284
I like this idea a lot *but* I think the EV's make this impossible. The EV profiles encode not kWs but the availability of the EV and its necessary charge level. It is unfortunately impossible to 'aggregate' these profiles into one because they describe causal events which cannot be 'averaged'.

[2016-07-20 11:28] ChaelKruip opened #1306 "EV profile-names should describe a bit better what they represent"
@jorisberkhout can you have a look this with me some time?

[2016-07-20 11:45] ChaelKruip commented on #1301
This issue has been fixed on BETA but not deployed to LIVE. If this occurs on BETA please re-open.

[2016-07-20 11:45] #1301 closed

[2016-07-20 11:51] #1225 closed

[2016-07-20 11:55] #1304 closed

[2016-07-20 11:59] ChaelKruip opened #1307 "Technologies attached to an end-point should get load assigned according to their units"
Currently, if two heaters of types A and B are connected to the same end-point, the first will try fulfil demand. If the first succeeds, the second will not have anything to do.

This is unrealistic/undesirable because
* It is unclear for the user which is the first or the second or why
* The heaters could represent different houses and a technology doing both the work for its own house its neighb

[2016-07-20 12:02] antw commented on #1307
I like the idea; makes a lot of sense. Sadly I'm not sure it *will* be as simple as you hope, but I think this is certainly worthy of investigation.

[2016-07-20 12:15] ChaelKruip opened #1308 "Secondary heat assets table does not update costs correctly"
When changing the type of connection, the attributes do not update in [my LES](https://beta-moses.energytransitionmodel.com/testing_grounds/602/edit)
![etmoses](https://cloud.githubusercontent.com/assets/1303760/16985972/4c14ec02-4e84-11e6-9484-b4ab66e22ef9.png)

[2016-07-20 12:17] grdw opened #1309 "Query optimalization issue"
![screen shot 2016-07-20 at 14 15 33](https://cloud.githubusercontent.com/assets/2676542/16985997/80fb5a6e-4e84-11e6-9818-03f6f1bb3abd.png)

I think this is called: spamming the MySQL server. Why can't we query a LoadProfile once, keep it in memory and than request it again from memory? Instead of continiously asking the MySQL server. Also I think all these profiles can be queried in a single go.

[2016-07-20 12:17] Sanne512 commented on #862
That sounds fine by me. @ThomBuijs and @JeroenvdLogt could you give an indication when you would need the heat infrastructure for your use cases?

[2016-07-20 12:19] ChaelKruip opened #1310 "Are we double-counting secondary heat infra?"
When adding a district heater from the ETM, this has an investment cost of 6050 EUR and O&M costs of 70 EUR/year:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/16985899/cd9ca77a-4e83-11e6-8f26-fd5cb9699389.png). These costs are typically payed by the customer (the stakeholder associated with the end-points).

At the same time, we also assign costs to secondary infra per connection:

[2016-07-20 12:28] grdw opened #1311 "Round values down in the front-end, keep the original value in some part of the input"
There should be a way to split up rounded and non-rounded values in the front-end.

Something like:

[code]

Renders as:
[code]

When saving this it should look at `non_rounded_value`. However when someone changes the value of this input to '2.0' the `non_rounded_value` will just update along with it to: '2.0'. However, I can imagine this is going to get really annoying. Let's say you're really sp

[2016-07-20 12:32] ChaelKruip commented on #1311
You did successfully change those digits right? Only the front-end does not show it which is fine.

I think your approach looks fine. I'd like to hear @antw opinion too as this seems like something he might have come across.

[2016-07-20 13:16] grdw commented on #1308
Note to self: only for second row... event listeners gone off.

[2016-07-20 13:25] DorinevanderVlies commented on #1295
I would expect my batteries to discharge during night, when there is no sun, but there is still demand.

So, an example of a point in time where I would expect my batteries to discharge is January 1, 22:00h

[2016-07-20 13:32] ThomBuijs commented on #862
Preferably I would need it next week, since then I will start a new use case which would need the heat infrastructure. I don't know if it is a possibility to start working on electricity and gas and as soon as the heat infrastructure is on the pro I could impelement this as well in my LES or if I have to create a new LES. This would give me and you some extra time. If it is not feasible to deploy

[2016-07-20 14:40] grdw commented on #1039
![screen shot 2016-07-20 at 16 40 01](https://cloud.githubusercontent.com/assets/2676542/16990538/a0946014-4e98-11e6-9b69-2453a4c716dc.png)

First attempt is looking good. 😄 This is a LES with (500_000_000) EV's.

[2016-07-20 15:24] antw commented on #1309
I agree that this can be improved, but the important word on each line is `CACHE`. It's not hitting MySQL each time, but instead loading the record from an [identity map](http://api.rubyonrails.org/v3.2.5/classes/ActiveRecord/IdentityMap.html).

[2016-07-20 15:29] grdw commented on #1039
Charts to fix still
- [ ] Yearly gas load chart
- [ ] Gas load chart
- [ ] Heat load chart
- [ ] Clean up what is there to clean

[2016-07-20 15:45] antw commented on #1295
I'm going to use the dreaded phrase: this is a feature and not a bug. 😱

Calling it a "feature" might be too strong a term, but this *is* a property of our network calculator and not a mistake. Storage in ETMoses is selfish and prefers to keep energy in the endpoint to which it is attached. If there are no consumption technologies in the endpoint which want the energy, the battery will keep it for

[2016-07-20 15:45] #1295 closed

[2016-07-20 16:17] antw commented on #1285
I like that a lot. Yes please. :grinning:

[2016-07-21 07:37] grdw commented on #1285
This makes everything way easier 👍  It's just splitting the buffer and duplicating all children. I like it.

[2016-07-21 08:16] ChaelKruip commented on #1285
I think we all agree about the idea of inheriting units for heaters from the buffer. This, however, implies that each unique heating technology gets its own buffer. I don't think this is a problem though.

Right @antw @grdw?

[2016-07-21 08:21] ChaelKruip commented on #990
Closing this as it has been done.

[2016-07-21 08:21] #990 closed

[2016-07-21 08:22] ChaelKruip commented on #1257
Can this be closed @grdw?

[2016-07-21 08:22] ChaelKruip commented on #1107
Can this be closed @grdw?

[2016-07-21 09:17] MarjoleinSchwachofer commented on #1279
I don't think my question is fully answered/solved with #1298.
When I look at the technology table, still  O&M costs for ccs per full load hour is still visible; is white and it is possible to fill in a number.
My suggestion would be that since almost all technologies do not have CCS, to remove this item for them (or grey). O&M costs per full load hour can still be available and is sufficient for

[2016-07-21 09:50] ChaelKruip opened #1312 "Calculate full load hours from load"
Currently, the full load hours from a technology are static and imported from the ETM.

In principle, we have all ingredients to calculate the FLHs from the load of each technology:

[code]

[2016-07-21 09:51] ChaelKruip commented on #1279
Well spotted @MarjoleinSchwachofer!

👍

I think we should hide this one as well because the full load hours are currently taken from ETE and are static. Once we dynamically determine FLHs (from the load profiles, see https://github.com/quintel/etmoses/issues/1312), we can re-introduce this attribute. Right now, it will lead to confusion. O&M cost per year can serve as a placeholder for now.

[2016-07-21 09:56] ChaelKruip opened #1313 "Consistency check between topology and market model too stringent"
IN [my LES](https://beta-moses.energytransitionmodel.com/testing_grounds/641) I have the stakeholders which are in the applied to stakeholder' column of the market model in my topology but still get the warning that I need to fix my market model or topology.

To be clear: the only relevant market model stakeholders that need to be present in the topology are those in the 'applied to stakeholder' c

[2016-07-21 10:00] ChaelKruip opened #1314 "Net present value should be calculated as well"
Perhaps we could make an alternative 'business case form' for [NPV](http://www.mathsisfun.com/money/net-present-value.html).

The NPV calculates if your investment in a technology (in solar PV for example) will yield more money over the lifetime of the technology than putting the investment in a savings account.

[2016-07-21 10:59] antw commented on #1285
That's interesting, I hadn't considered that. When you say that they would get their own buffer, do you mean that they would each:

1. Get their own heat buffer *and* demand profile, or
2. Each technology would have a buffer, but still use a shared demand profile between them.

(1) is how heating technologies *used* to be implemented.

[2016-07-21 11:51] dennisschoenmakers opened #1315 "[Airbrake] [Staging] Validation failed: Technology profile includes a connection to missing node "PV plant""
**Airbrake error:** [#5222](https://quintel.airbrake.io/projects/111227/groups/1734747130954235222)
**Airbrake project:** ETMoses

**Error type:** `ActiveRecord::RecordInvalid`
**Error message:** `` Validation failed: Technology profile includes a connection to missing node "PV plant" ``
**Where:** `testing_grounds#save_as`
**Occurred at:** Jul 21, 2016 11:51:26 UTC
**First seen at:** Jul 21, 2016

[2016-07-21 12:11] ChaelKruip commented on #1285
What I mean is the following. If you have 10 residences, 5 with a combi-boiler and 5 with a heat pump, you will have two heating buffers (which could use the same or distinct profiles) each with units = 5. Buffer 1 will use combi-boilers and Buffer 2 will use heat pumps. The technologies still get their demand via their respective buffers.

Another way of saying this is that it would not be possib

[2016-07-21 12:48] antw commented on #1285
:+1:

That seems quite sensible to me. I'm guessing many (real-world) houses will only have one type of heating technology, so giving each type it's own buffer is probably a better representation of reality anyway.

[2016-07-21 13:37] ThomBuijs opened #1316 "Is it possible to simulate heat cold storage in ETMoses"
I am going to work on a use case which wants to include heat cold storage (WKO) is this a possibility in ETMoses and how? @ChaelKruip

[2016-07-25 12:51] #1051 closed

[2016-07-25 12:59] #1179 closed

[2016-07-25 13:30] ChaelKruip commented on #1095
It seems that the capacity is sufficient for [my LES](https://beta-moses.energytransitionmodel.com/testing_grounds/647) but the node is still red:

![etmoses](https://cloud.githubusercontent.com/assets/1303760/17103045/96e77ec4-527c-11e6-9a16-28d40e47cd56.png)

[2016-07-25 14:08] ChaelKruip opened #1318 "Stacked load should be ordered according to variability/spikiness"
Stacked plots are difficult to read because curves with high variability are stacked under more well-behaved ones:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/17104051/64448872-5281-11e6-8e50-fe18166937ab.png)

A possible technique to improve this is to order the curves according to how spiky they are. A measure for spikiness could be the following:
[code]
The curves should be or

[2016-07-25 14:13] ChaelKruip opened #1319 "Wanted: option to completely ignore the heat network and gas network"
If you don't want a LES without heat infra or gas infra you now need to set all number_of_units and distances to zero. This is annoying and intransparent.

Perhaps we can allow the user to 'disable' the whole infrastructure for heat or gas with a switch like we do with the Merit Order in the ETM?

[2016-07-25 14:30] ChaelKruip opened #1320 "Capacity scaling in load chart does not properly take network capacities into account"
I have installed a transformer of 8000 kW (or 8 MW). Instead a line is drawn in the load chart at 8000 MW:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/17104775/ad7d319e-5284-11e6-8509-641dffaabd93.png)

I think @grdw has `converted` loads to kW by division by 1000 here:
[https://github.com/quintel/etmoses/commit/17cf60b06278aab8036a336c68c6678a9345474f#diff-7205be044d8febf8e4e451

[2016-07-25 14:45] #1320 closed

[2016-07-25 15:33] ChaelKruip opened #1321 "Heating technologies should get separate buffers with correct number of units by default"
Probably after [this PR](https://github.com/quintel/etmoses/pull/1277), the importing of heating technologies adds all technologies to the same buffer and gives them the 'units' of that buffer:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/17106968/98de0868-528d-11e6-9f4a-792987302f4c.png)

[This comment](https://github.com/quintel/etmoses/issues/1285#issuecomment-234235507) has no

[2016-07-26 09:39] ChaelKruip opened #1323 "Heating technologies should not have a storage volume"
I don't know if these numbers are actually used but I'm worried as they are non-zero:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/17133219/8651c99e-5325-11e6-8c2b-eb0f5c03d9a4.png)

[2016-07-26 09:43] antw commented on #1323
Volume is always inherited from the buffer to which the heating technology belongs, so that number is not used. Nonetheless, I agree that no value should be set.

[2016-07-26 09:47] ChaelKruip commented on #1323
It would be also good to remove it from the above interface as it would be always be zero.

[2016-07-26 10:51] MarjoleinSchwachofer opened #1324 "colors in grapghs and color blindness"
I talked to someone with color blindness and he cannot see the difference between purple and blue in the graphs of ETMoses. An enhancement would be to change  the colors from the graphs

[2016-07-26 11:03] ChaelKruip commented on #1324
Good idea. Do you have suggestions for the colours @MarjoleinSchwachofer?

[2016-07-26 12:18] MarjoleinSchwachofer commented on #1324
I have no idea myself, other than that the colors must be different in contrast.
When my collegue is back from vacation I will ask him if he has ideas.

[2016-07-26 12:22] MarjoleinSchwachofer commented on #1324
Atleast **not** red with green, or blue withpurple. These are problem combinations

[2016-07-26 12:40] ChaelKruip commented on #1324
👍

[This website](https://designshack.net/articles/accessibility/tips-for-designing-for-colorblind-users/) explains some things to take into account.

[2016-07-26 13:24] MarjoleinSchwachofer opened #1325 "Working of the P2G stratgy is strange/not correct"
I was testing the P2G strategy, but it works very strange and not realistic.

It looks like **all** te PV electricity is converted to gas, instead of only the amount of PV that leads to congestion. It sometime also creates extra electricity need from the grid; probably because the in-house direct use of PV isn't done anymore.
I do not think this is the way you would want it and it is unrealistic.

[2016-07-26 13:37] MarjoleinSchwachofer opened #1326 "Compressor shouldn't be included automatically"
The compressor in the gas network shouldn't be introduced automatically, since they are not there in real gas networks nowadays and you cannot see the problems with to much feed in.

You should be able to add it manually if there is to much feed-in and make this clear in the documentation.

@Sanne512 @ThomBuijs @JeroenvdLogt FYI

[2016-07-26 13:57] MarjoleinSchwachofer commented on #1326
Yes. Just made a new LES to check ( beta server) and it again adds compressors:
![image](https://cloud.githubusercontent.com/assets/17849585/17140677/950b3d16-5349-11e6-8de3-1aae43142a19.png)

[2016-07-26 14:01] MarjoleinSchwachofer opened #1327 "wrong link from beta ETMoses to beta ETM"
When you want to go from the beta ETMoses to the beta ETM to make a new LES, it doesn't work:
![image](https://cloud.githubusercontent.com/assets/17849585/17140744/d8de4eac-5349-11e6-951d-9d0c486bfeb9.png)

The link is wrong, it should be
https://beta-pro.energytransitionmodel.com
instead of
https//beta-pro.energytransitionmodel.com
( a colon is missing after https)

[2016-07-26 14:18] MarjoleinSchwachofer opened #1328 "Yearly gas flow chart/graph isn't loading"
On the pro as wel as beta server the yearly gas flow chart isn't loading.

I wanted to check how this looked when there is gas feed in by P2G; to see if this is working.
I coulsn't do this because  the chart doesn't load. I get the following message:
Sorry, the chart could not be loaded.

[2016-07-26 14:37] jorisberkhout commented on #1265
Closed by https://github.com/quintel/etmoses/wiki/Gas-network/c1840202588d1f13b3e4166439e0366e82c3c86c. Re-open if you feel more explanation is needed.

[2016-07-26 14:37] #1265 closed

[2016-07-26 14:42] jorisberkhout commented on #1280
Closed by https://github.com/quintel/etmoses/wiki/Profiles/7f1c764979b8a07b86e961a8e9e4c5369996fd6d. Re-open if this needs more explanation.

[2016-07-26 14:42] #1280 closed

[2016-07-26 15:15] jorisberkhout commented on #1282
I have added two examples in https://github.com/quintel/etmoses/wiki/Topologies/f4200ca4af397b5b17130dbfe8da9feb92e6e6d0 and https://github.com/quintel/etmoses/wiki/Topologies/b44d86773c93341cf84b9f4c51c3af78b824cc44.

Closing this issue. Re-open if needed.

[2016-07-26 15:15] #1282 closed

[2016-07-26 15:17] ChaelKruip commented on #1326
The compressors are added indeed but with quantity = 0.0 , so they are not taken into account in the calculation or in the business cases. This way of treating them makes it easier for a user to add them by changing the quantity rather than having to add a "compressor line" for each pressure level.

Closing. Please re-open if this does not solve your problem.

[2016-07-26 15:17] #1326 closed

[2016-07-26 15:18] ChaelKruip commented on #1328
Closing as this is a duplicate of https://github.com/quintel/etmoses/issues/1050 which is being worked on in the current sprint.

[2016-07-26 15:18] #1328 closed

[2016-07-27 07:22] Sanne512 commented on #1167
When referencing from https://github.com/quintel/etmoses/issues/851 @antw stated that

So this means that if you have ten electricity connections on an endpoint and 3 of them have heat pumps and 7 are connected to the gas network for their heat and warm water supply. All ten endpoints are connected to the gas infrastructure? Or only the 7 without the heat pump?

[2016-07-27 07:26] jorisberkhout opened #1329 "The 125 mbar pressure level is not shown in the `Load on the gas network` chart"
The `Load on the gas network` chart shows the 4, 8 and 40 bar pressure levels, and I would expect it to show the 125 mbar level as well. What do you think, @ChaelKruip ?

<img width="582" alt="screen shot 2016-07-27 at 09 22 56" src="https://cloud.githubusercontent.com/assets/4669028/17167154/d1998c8c-53db-11e6-878b-6069b7ebba78.png">

[2016-07-27 07:33] ChaelKruip commented on #1167
Yes. If you want to have all-electric connections you would in this example have to make two end-points: one with gas technologies attached and 7 electricity base-loads (which is used to count the number of connections) and one end-point with 3 base-loads and the (electric) heat pumps.

[2016-07-27 07:34] ChaelKruip commented on #1329
Me too.

[2016-07-27 07:34] Sanne512 commented on #1167
Could this be added to the wiki?

[2016-07-27 07:36] ChaelKruip commented on #1167
@jorisberkhout can you expand the documentation about number of connections?

[2016-07-27 07:45] Sanne512 commented on #1290
What's the status?

[2016-07-27 07:50] jorisberkhout commented on #1290
Good point, @Sanne512 . I have clarified the documentation in  https://github.com/quintel/etmoses/wiki/Gas-network/7685b4590bc1fa6a376e8ddf11521442d9205f14.

Closing this issue. Re-open if needed.

[2016-07-27 07:50] #1290 closed

[2016-07-27 07:57] ChaelKruip opened #1330 "Steel and iron pipes should have investment costs (they are zero now)"
[https://github.com/quintel/etmoses/blob/master/db/static/gas_assets/pipes/125_mbar/steel_lp.yml](https://github.com/quintel/etmoses/blob/master/db/static/gas_assets/pipes/125_mbar/steel_lp.yml)

[2016-07-27 08:37] jorisberkhout commented on #1167
I have added a description of how the number of electricity, gas and heat connections are determined [here](https://github.com/quintel/etmoses/wiki/Networks#number-of-connections).

Closing this issue. Re-open if anything is still unclear.

[2016-07-27 08:37] #1167 closed

[2016-07-27 08:48] jorisberkhout opened #1331 "Power-to-heat profiles are still shown in list of all available profiles"
Power-to-heat no longer uses its own profile but follows the load profile for the buffer to which it is connected, right @ChaelKruip ?

<img width="385" alt="screen shot 2016-07-27 at 10 46 11" src="https://cloud.githubusercontent.com/assets/4669028/17169395/907d5d58-53e7-11e6-8f28-32cd09daebb0.png">

[2016-07-27 09:11] MarjoleinSchwachofer commented on #1167
I added the eaxmple above to the wiki of how to deal with all-electric connections

[2016-07-27 09:26] #1289 closed

[2016-07-27 09:52] MarjoleinSchwachofer opened #1332 "Question about deficit in gas flow chart"
Deficit is part of the gas flow chart. In the documentation it states:

Question: Is it possible to have a deficit? E.g. if you change the gas demand to a very high value  and the gas asset calculation taked normal average values for the number of pipes. Or is there no capacity defined for the connectors?

If the capacity is infinite, the deficit is always zero and could be left out the chart.

[2016-07-27 10:23] ChaelKruip opened #1333 "Table with number of connections (gas, electricity, heat)"
It would be nice if the user could see the total number of connections to each infrastructure in the LES and also the number of connection per end-point of the topology.

[2016-07-27 10:32] dennisschoenmakers opened #1334 "[Airbrake] [Staging] undefined method `attributes' for nil:NilClass"
**Airbrake error:** [#1172](https://quintel.airbrake.io/projects/111227/groups/1739055182935211172)
**Airbrake project:** ETMoses

**Error type:** `NoMethodError`
**Error message:** `` undefined method `attributes' for nil:NilClass ``
**Where:** `gas_asset_lists#update`
**Occurred at:** Jul 27, 2016 10:32:12 UTC
**First seen at:** Jul 27, 2016 10:32:12 UTC
**Occurrences:** 1 (1 since last deploy o

[2016-07-27 10:32] dennisschoenmakers opened #1335 "[Airbrake] [Staging] undefined method `attributes' for nil:NilClass"
**Airbrake error:** [#3688](https://quintel.airbrake.io/projects/111227/groups/1739055313269013688)
**Airbrake project:** ETMoses

**Error type:** `NoMethodError`
**Error message:** `` undefined method `attributes' for nil:NilClass ``
**Where:** `testing_grounds#edit`
**Occurred at:** Jul 27, 2016 10:32:17 UTC
**First seen at:** Jul 27, 2016 10:32:17 UTC
**Occurrences:** 1 (1 since last deploy on

[2016-07-27 10:46] antw commented on #1324
The "pop-over" legend will now show each series name. We should still revisit the colours, but hopefully this is a small step in the right direction:

<img width="185" alt="screen shot 2016-07-27 at 11 43 58" src="https://cloud.githubusercontent.com/assets/4383/17172904/7cd040b0-53ef-11e6-9a94-fc3e5b8a0601.png"> <img width="419" alt="screen shot 2016-07-27 at 11 35 40" src="https://cloud.githubuse

[2016-07-27 11:02] ChaelKruip commented on #1332
You are 100% right. The deficit is there because of historical reasons. @Sanne512 was looking into capacities of gas connectors (from high to low pressure) but in the end concluded that we would better set them to infinite as she could not find the numbers. My reason for keeping them is that one day we might be able to find appropriate capacity values for connectors and this chart will work as exp

[2016-07-27 11:02] ChaelKruip commented on #1332
Closing. Please re-open if your question is not satisfactorily answered.

[2016-07-27 11:02] #1332 closed

[2016-07-27 11:31] #1335 closed

[2016-07-27 12:20] ChaelKruip opened #1336 "Sliders for secondary heat infra should balance properly"
Now it is possible to set the total to zero:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/17174878/c7f95800-5404-11e6-9cd9-e238f77224b4.png)

This is related to https://github.com/quintel/etmoses/issues/1319 because setting the slider to zero is the only way to exclude costs of heat infra (apart from removing the district heating technologies from the technology matrix).

[2016-07-27 12:27] jorisberkhout opened #1337 "Domestic hot water profiles need to be improved"
The domestic hot water (DWH) profiles are used in ETMoses to determine how much energy is drawn from the water heating buffer at every time step. An aggregated version of this profile is also used in ETModel to determine how much energy is drawn from the power-to-heat buffer.

Both profiles are based on [this study](http://sel.me.wisc.edu/trnsys/trnlib/iea-shc-task26/iea-shc-task26-load-profiles-d

[2016-07-27 12:48] ChaelKruip opened #1338 "Heat infra page needs some attention"
![etmoses](https://cloud.githubusercontent.com/assets/1303760/17175653/010d3892-5409-11e6-8fe0-2d96e40a1605.png)

It seems that:
* The page is always marked as 'edited' (yellow bar)
* The "Aggregator" is the default stakeholder (should be "System Operator")

[2016-07-27 12:56] ChaelKruip commented on #1321
Closing this as the the related PR has been reverted and this issue no longer occurs.

[2016-07-27 12:56] #1321 closed

[2016-07-27 13:00] ChaelKruip commented on #1316
Not really. ETMoses does not store cold or explicitly models cooling at the moment. You could simulate/fudge WKO up to a certain level by increasing the COP of a (ground) heat pump and making it more expensive (at least the investment). This is in first order what the effect of WKO will be. This will not depend on the time-resolved heat-demand and temperature though...

Closing this. Please re-ope

[2016-07-27 13:00] #1316 closed

[2016-07-27 13:06] ChaelKruip opened #1339 "Renaming an end-point should not remove all technologies"
Or it should not be allowed.

When I renamed an end-point, my technology matrix became blank.

[2016-07-27 13:56] #1336 closed

[2016-07-27 14:08] Sanne512 commented on #1330
Steel is not used in the low pressure range any more, only the high pressure range. So there are no investments being made any more in low pressure steel pipes, so there is also no indication available of these investment costs. The reason to include them in the oversight is because there are still steel pipes present in the ground. Is this explanation clear?

[2016-07-27 14:21] ChaelKruip commented on #1330
Yes, but their deprecation is still ongoing in some cases right? To take those costs into account we need to know what the original investment costs was.

That is unfortunate. Are these numbers known from earlier years when they were still actively placed?

Or, alternatively, can we use the investment costs of a similar type of pipe?

[2016-07-27 14:22] ChaelKruip commented on #1330
If we cannot find any costs, I think we should disable this type of pipe because now the user can build infrastructure for free.

[2016-07-27 14:35] MarjoleinSchwachofer opened #1340 "Units and capacities work differently on pro en beta server, pro does not work like said in the documentation"
The capacities and units multiplication do not work correctly everywhere. They work differently on the pro and beta server.

In the LES test 2 on the beta server, the capacites and the untis are multiplied, just as it states how it works in the documentation.
![image](https://cloud.githubusercontent.com/assets/17849585/17178892/7abf8984-5417-11e6-9e33-1b4fd4a53337.png)
![image](https://cloud.githu

[2016-07-27 15:12] MarjoleinSchwachofer commented on #1282
This isn't how it works on the pro server. I made a seperate issue of this: #1340, but the outcome of this question should be explained on the WIKI

[2016-07-28 06:55] ChaelKruip commented on #1325
To clarify: The P2G strategy uses (or should use) *excess* production only. Just as P2H, it was never the intention to make P2G aware of network congestion.

This is indeed unexpected as P2G should use *excess* electricity only!

[2016-07-28 06:58] MarjoleinSchwachofer commented on #1338
Maybe there could be a new stakeholder defined for the heat network? Otherwise it will be the same stakeholders als the system operator for E and G in the business case and currently this are seperate parties. Heat producers currenlty are also sometimes the network operator, but there can also be  split and  a seperate producer and system operator. I suggest the heat system operator. Is it difficu

[2016-07-28 07:00] ChaelKruip commented on #1338
👍  I'm making a separate issue for this. We can further discuss the possibility of doing this there.

[2016-07-28 07:02] ChaelKruip opened #1341 "New stakeholder wanted: "Heat System Operator""
Quoting from https://github.com/quintel/etmoses/issues/1338

[2016-07-28 07:18] MarjoleinSchwachofer opened #1342 "Strategies - strange priorities and enhancement documentation"
I have some questions about and enhancements for the strategies

•	Priorities: The priorities of the strategies is strange. Solar capping should be one of the last things you do, first buffering, storage, postponing baseload etc.

•	Storage in EV: Name doesn’t directly display the difference between buffering and storage in EV. Storage means it also delivers back to the grid (V2G). Many people do

[2016-07-28 08:08] MarjoleinSchwachofer commented on #1337
I also got some questions about where the heat demand profiles come from. Could this information be added to the documentation?  I can only find something about this at the heat pumps, but this goes for all the heating technolgies so this should be explained generally or at the buffers.

[2016-07-28 08:42] MarjoleinSchwachofer commented on #1325
I still think it is strange to convert all the PV into gas. If you have no electricity congestion, you would want to feed electricity back to the grid and not make gas of it with extra losses and feed this back to the grid (as there will probalby more gas produced than you can use yourself at that time). Otherwise a gas storage tank would be needed in ETMose with this strategy as you wouldn't want

[2016-07-28 09:17] MarjoleinSchwachofer opened #1343 "Can a merit order for heat be used in the tariffs of the market model or is this the electricty merit order?"
In the heat network, a heat merit order is introduced. Can this also be used in the tariffs, or is the merit order which you can select at kWh heat produced the electricity merit order ?

[2016-07-28 09:35] MarjoleinSchwachofer opened #1344 "Make the cost of gas assets visible (and possibly adaptable)"
Why are in the gas asset list the technical_lifetime ,  initial_investment  and  om_costs_per_year  not visible? This should give more insight in the costs, and give an idea where the costs in the businesscase come from. The technical lifetime with the building year give also more insights in the equity and cumalative investment curve.

Explanation about these curves is also missing in the documen

[2016-07-28 09:47] MarjoleinSchwachofer commented on #1340
Related question, why is in the above mentioned LES test 2 on the beta server, the node in topology red, while in the graph no overloading is shown:
![knipsel](https://cloud.githubusercontent.com/assets/17849585/17208434/04a33dd4-54b9-11e6-9df8-ea5585e5fdf7.JPG)

[2016-07-28 12:06] #1338 closed

[2016-07-28 12:44] antw commented on #1341
Perhaps we should default *assets* (pipes, connections, compressors) to the `heat system operator` and heat *sources* to the `heat producer`?

[2016-07-28 13:02] antw commented on #1342
Solar capping is indeed the very last strategy to be applied.

[2016-07-28 13:14] antw commented on #1340
This is a duplicate of #1095 and has been fixed on beta. Changes (fixes and new features) are published immediately to the "beta" server. The "pro" server will be updated once we are confident that the heat network feature is stable and reliable.

The capacity *is* correctly scaled by the number of `units` during the network calculation on the "pro", it is just – unfortunately – drawn on the wrong

[2016-07-28 13:14] #1340 closed

[2016-07-28 13:32] ChaelKruip commented on #1341
You seem to be referring to gas assets (there are no compressors for heat) Gas assets should be defaulted to "system operator". For the primary and secondary heat assets I fully agree!

👍

[2016-07-28 13:33] antw commented on #1341
Urgh, yes; what was I thinking? I meant the primary and secondary assets. :grinning:

[2016-07-28 13:39] #1095 closed

[2016-07-28 14:28] antw commented on #1341
Fixed by 6ad67ef9.

[2016-07-28 14:28] #1341 closed

[2016-07-28 14:29] antw commented on #1334
Duplicate of #1335 and closed by 061f66a4.

[2016-07-28 14:29] #1334 closed

[2016-07-28 14:50] jorisberkhout commented on #1337
I did some more research into DHW consumption and profiles and think that our current profiles can be improved in three ways:
- create separate profiles for household with and without bath (I found that about 1 in every 7 Dutch households has a bath)
- create profiles for different sizes of households (1, 2, 3 and 4 persons)
- update the water consumption per type of event and number of times such

[2016-07-28 15:03] MarjoleinSchwachofer commented on #1337
Thanks Joris. I will let my collegue know that it can be found on the Wiki.

[2016-07-28 15:25] jorisberkhout commented on #1306
Each availability profile is based on a typical commute distance which is followed during workdays and several "free time" trips, which are used in the weekends, which are the same for all profiles. The main difference between the availability profiles is thus in the distance of the commute. To reflect this a bit better, I have renamed the profiles on the Beta server to `EV availability profile <S

[2016-07-28 15:25] #1306 closed

[2016-07-28 17:22] dennisschoenmakers commented on #868
*Comment from Airbrake:* Resolved [error](https://quintel.airbrake.io/projects/111227/groups/1647755463877966710) reoccurred.

[2016-07-28 17:26] #868 closed

[2016-07-29 07:06] Sanne512 commented on #1251
Transfering the issue from me to @MarjoleinSchwachofer

[2016-07-29 07:07] Sanne512 commented on #1250
Transfering the issue from me to @MarjoleinSchwachofer

[2016-07-29 07:08] Sanne512 commented on #1208
Transfering the issue from me to @MarjoleinSchwachofer

[2016-07-29 07:08] Sanne512 commented on #1204
Transfering the issue from me to @MarjoleinSchwachofer

[2016-07-29 07:10] Sanne512 commented on #1202
Transfering the issue from me to @MarjoleinSchwachofer

[2016-07-29 07:10] Sanne512 commented on #1200
Transfering the issue from me to @MarjoleinSchwachofer

[2016-07-29 07:11] Sanne512 commented on #1199
Transfering the issue from me to @MarjoleinSchwachofer

[2016-07-29 07:11] Sanne512 commented on #1198
Transfering the issue from me to @MarjoleinSchwachofer

[2016-07-29 07:12] Sanne512 commented on #1186
Transfering the issue from me to @MarjoleinSchwachofer

[2016-07-29 07:13] Sanne512 commented on #1185
Transfering the issue from me to @MarjoleinSchwachofer

[2016-07-29 07:14] Sanne512 commented on #1184
@ChaelKruip did you see my comment above?

Fur further reference I'm transfering the issue from me to @MarjoleinSchwachofer

[2016-07-29 07:28] Sanne512 commented on #1169
@ChaelKruip have you checked with @antw and @grdw how much effort this takes?

Including @MarjoleinSchwachofer for further reference from Alliander

[2016-07-29 07:46] Sanne512 commented on #984
For us this has medium priority. The issue is already included in the overview ticket for sprint 5.

I'm including @MarjoleinSchwachofer and @ThomBuijs  for further reference.

[2016-07-29 07:58] Sanne512 commented on #1330
Yes

That would give a wrong indication of the costs, due to the way the costs are calculated: the costs of the other pipes exist of aggregated costs of all the pipes of one material aggregated at one pressure level. (With aggregrated at one pressure level I mean for example that 125 mbar represents the pressure levels between 100 and 200 mbar.) This means that the number for the costs includes a

[2016-07-29 08:01] Sanne512 commented on #1310
Before I can answer this question I have another question: is the district heater in the technology table that follows from the ETM connected to the heat infrastructure in ETMoses?

[2016-07-29 08:05] Sanne512 commented on #1151
I'm unassigning myself, because today is the last day in my assignment for ETMoses.

[2016-07-29 08:09] Sanne512 commented on #1097
@ChaelKruip rang me about this. I forwarded the question to a heat expert at Liandon and included Chael in that e-mail so the heat expert and Chael can communicate directly about this issue.

Including @MarjoleinSchwachofer

[2016-07-29 08:11] Sanne512 commented on #1018
@ChaelKruip Is this issue still relevant? If so, are there still specific numbers you need from Alliander, besides the issue addressed in https://github.com/quintel/etmoses/issues/1097?

[2016-07-29 08:12] ChaelKruip commented on #1310
Yes, that is its only function: to connect the heat network to the buffers in the households.

[2016-07-29 08:13] ChaelKruip commented on #1018
No. Closing this.

[2016-07-29 08:13] #1018 closed

[2016-07-29 08:15] Sanne512 commented on #1310
I agree, I can't think of any situation where a customer pays for the district heating infrastructure other than their connection to the heat network.

[2016-07-29 08:17] Sanne512 commented on #1114
@ChaelKruip Is this issue still relevant?

[2016-07-29 08:18] Sanne512 commented on #1063
I'm including @MarjoleinSchwachofer

[2016-07-29 08:22] Sanne512 commented on #862
@ChaelKruip Could you answer @ThomBuijs 's question above?

I'm including @MarjoleinSchwachofer

[2016-07-29 08:30] Sanne512 opened #1345 "So long, farewell, auf wiedersehen, goodbye"
Hi lovely people of Quintel :)

Since this is my last day working on the ETMoses project at Alliander I want to thank you all for your help and fruitful cooperation during the past six months. You helped me out a lot and thought me a lot! Perhaps in future projects I will work with ETMoses and/or ETM again, but for now I'm moving on to my next project at Alliander. So:

![](https://epicyearproject

[2016-07-29 09:07] ChaelKruip commented on #1310
So, shall we put the costs for the 'connection' (actually the heat exchanger) to zero? The user can than add the costs for the number of connections in the market model as with gas and electricity.

[2016-07-29 09:08] ChaelKruip commented on #1114
That depends: Have you and @JeroenvdLogt made the suggested copies of the LESses using buffers? If so, we can close this.

[2016-07-29 09:46] ChaelKruip commented on #862
This is possible but @antw or @grdw will have to manually add heat infrastructure to your LES once it becomes available on the LIVE server.

I think it would be a better to keep working on the issues that we are still having with the heat network (e.g., https://github.com/quintel/etmoses/issues/1319, https://github.com/quintel/etmoses/issues/1310, https://github.com/quintel/etmoses/issues/1261, ht

[2016-07-29 10:24] dennisschoenmakers opened #1346 "[Airbrake] [Staging] undefined method `attributes' for nil:NilClass"
**Airbrake error:** [#8465](https://quintel.airbrake.io/projects/111227/groups/1740500800132068465)
**Airbrake project:** ETMoses

**Error type:** `NoMethodError`
**Error message:** `` undefined method `attributes' for nil:NilClass ``
**Where:** `calculation#heat`
**Occurred at:** Jul 29, 2016 10:24:09 UTC
**First seen at:** Jul 29, 2016 10:24:09 UTC
**Occurrences:** 1 (1 since last deploy on Jul

[2016-07-29 13:58] dennisschoenmakers opened #1347 "[Airbrake] [Staging] undefined method `attributes' for nil:NilClass"
**Airbrake error:** [#0952](https://quintel.airbrake.io/projects/111227/groups/1740608302609840952)
**Airbrake project:** ETMoses

**Error type:** `NoMethodError`
**Error message:** `` undefined method `attributes' for nil:NilClass ``
**Where:** `calculation#gas`
**Occurred at:** Jul 29, 2016 13:58:08 UTC
**First seen at:** Jul 29, 2016 13:58:08 UTC
**Occurrences:** 1 (1 since last deploy on Jul 2

[2016-07-29 13:58] dennisschoenmakers opened #1348 "[Airbrake] [Staging] undefined method `clear_job!' for nil:NilClass"
**Airbrake error:** [#4622](https://quintel.airbrake.io/projects/111227/groups/1740608619330124622)
**Airbrake project:** ETMoses

**Error type:** `NoMethodError`
**Error message:** `` undefined method `clear_job!' for nil:NilClass ``
**Where:** `heat_asset_lists#update`
**Occurred at:** Jul 29, 2016 13:58:36 UTC
**First seen at:** Jul 29, 2016 13:58:36 UTC
**Occurrences:** 1 (1 since last deploy

[2016-07-30 11:07] Sanne512 commented on #1114
Yes, we have so i'm closing the issue.

[2016-07-30 13:54] Sanne512 commented on #1145
I'm including @JeroenvdLogt

[2016-07-30 14:22] ChaelKruip commented on #1279
@antw can you also remove/hide the "O&M costs for ccs per full load hour" and "O&M costs per full load hour" from the technologies?

[2016-07-30 17:02] Sanne512 commented on #1310
Yes! This sounds like a good idea.

Including @MarjoleinSchwachofer

[2016-07-30 17:11] ChaelKruip commented on #1310
Assigning @antw to make this happen.

[2016-07-30 17:23] Sanne512 commented on #1205
It would be different, because it would be nice to see the seperate cash flows and not only the total cash flow from one stakeholder to another and it would be nice to see which technologies make up the deprecation costs. What do you think about this idea @ChaelKruip ?

Including @MarjoleinSchwachofer

[2016-07-30 17:49] Sanne512 commented on #1048
Including @MarjoleinSchwachofer

[2016-08-01 08:57] antw commented on #1114
I'll reopen this because I still need to remove the old LESes and profiles, and get rid of the old heat pump code.

[2016-08-01 11:31] ThomBuijs commented on #1050
Preferably, I would like this as soon as possible, since I will work on a use case which will include electricity, gas, and heat. Heat will still be in beta, so I would like to focus on electricity and gas for the moment and continue with heat as soon as it will be available on the live server. What would you advice?

[2016-08-01 11:34] ChaelKruip commented on #1050
We expect to have this working (on BETA) today.

@antw is the gas-chart something that can be cherry-picked to LIVE easily so @ThomBuijs can work on electricity and gas in the LIVE server and heat networks can still be tested more on BETA?

[2016-08-01 12:40] antw commented on #1050
The yearly gas flow chart fixes will be on beta momentarily. I'll see what I can do about getting it onto the live server...

[2016-08-01 13:41] antw commented on #1050
I don't think this is possible. There are too many changes to the inner-workings of the charts, and those changes are mixed into commits involving heat. It's all or nothing. 😞

[2016-08-01 13:43] ChaelKruip commented on #1050
Thanks @antw for your assessment!

[2016-08-01 15:08] #1114 closed

[2016-08-01 16:07] #1310 closed

[2016-08-01 16:08] #1348 closed

[2016-08-01 16:08] #1347 closed

[2016-08-02 07:57] ChaelKruip commented on #1205
Great idea! It was already described in #1090 though 😜 . Closing therefore.

[2016-08-02 07:57] #1205 closed

[2016-08-02 08:21] MarjoleinSchwachofer opened #1349 "yearly costs instead of depreciation costs"
Since the depreciation costs are in reality not only the depreciation costs, but the yearly costs, including depreciation and O&M cocts, wouldn't it be better to call it yearly costs everywhere?

[2016-08-02 08:43] ChaelKruip commented on #1349
Very good suggestion! In the back-end we already call it that but we should change it in the front-end as well. 👍

[2016-08-02 08:46] ChaelKruip commented on #1169
About two man-days work. The chart has hard-coded data series and names. To make this dynamic is not incredibly difficult but needs quite a bit of code to be rewritten.

[2016-08-02 09:19] antw commented on #1325
I'm looking into this. That extra electricity load should not be there.

[2016-08-02 09:23] MarjoleinSchwachofer commented on #1325
I looked into it, and this is probably because the pv is not used for other parties/technologies on the node, so they have to use electricty from the HV level, instead of the locally produced PV. Is this correct?

[2016-08-02 09:40] MarjoleinSchwachofer commented on #1349
This should also be changed in the documenation. I therfore reopened this issue and added the label documentation.

[2016-08-02 09:41] ChaelKruip commented on #1184
I see. In order to distinguish between 'central' solar fields and residential solar panels we would need to explicitly include all power plants in ETMoses. This would allow the user to associate their load with the nodes of the electricity network (now they are all implicitly connected to the HV-network). This is a big change to the model and would require at least 10 man days.

[2016-08-02 10:04] jorisberkhout commented on #1337
I have created and uploaded the aforementioned 17 DHW profile by:

- adding the script that generated them in https://github.com/quintel/etmoses/commit/989cec1ebf5b8f073b3548400569adb56ba17003
- updating the documentation in https://github.com/quintel/etmoses/wiki/Profiles/408305c3ad912cee4141150a604fb3b7715a4bdf
- uploading the new profiles (starting with `DHW_demand_profile...`) on the Live serv

[2016-08-02 10:04] #1337 closed

[2016-08-02 10:44] MarjoleinSchwachofer commented on #1337
I have no knowledge about heat demand profiles. @JeroenvdLogt can you look at this after you holiday?

[2016-08-02 11:51] antw commented on #1325
It took me longer to figure this out that it should have. 😊

The reason is simple: "Households 2" and "Households 3" have excess solar PV production in these time periods. Since nothing else consumes that energy, it ends up consumed by the P2G technology. That is why there is consumption.

Here is 11:00 on 12th July:

| Households 1 | Households 2 | Households 3 |
| --- | --- | --- |
| <img width=

[2016-08-02 12:48] MarjoleinSchwachofer commented on #1325
So no energy is lossed in the conversion from electricity to gas? 42,02+0,83=42,85kW and this is also the gas value of what is fed back into the grid

[2016-08-02 13:18] dennisschoenmakers opened #1350 "[Airbrake] [Staging] key not found: "default""
**Airbrake error:** [#6178](https://quintel.airbrake.io/projects/111227/groups/1743487572348746178)
**Airbrake project:** ETMoses

**Error type:** `KeyError`
**Error message:** `` key not found: "default" ``
**Where:** `testing_grounds#data`
**Occurred at:** Aug 02, 2016 13:18:43 UTC
**First seen at:** Aug 02, 2016 13:18:43 UTC
**Occurrences:** 1 (1 since last deploy on Aug 02, 2016 09:56:44 UTC)

[2016-08-02 13:23] ChaelKruip commented on #1349
I have updated the documentation [about gas assets](https://github.com/quintel/etmoses/wiki/Gas-network) and [business cases](https://github.com/quintel/etmoses/wiki/Business-cases) to reflect the changes. Closing.

Please re-open if I missed anything.

[2016-08-02 13:23] #1349 closed

[2016-08-02 13:28] antw commented on #1325
Currently, yes this is correct. It would not be terribly difficult to support efficiency/CoP on P2G, but we'd prefer to do it *right* and implement a solution which could apply to all technologies. See #805 for more.

Also correct. An issue with the "stacked" chart has been fixed, and you can now see the P2G consumption:

<img width="557" alt="screen shot 2016-08-02 at 14 27 41" src="https://cloud

[2016-08-02 13:28] ChaelKruip commented on #1344
This has been discussed extensively with @Sanne512. The reasons are:
*  Almost all users will not know more accurate number than those provided by the SO (Alliander in this case)
* The gas asset table is already quite wide, adding more columns will make it necessary to scroll horizontally

I have added overview [tables to the wiki](https://github.com/quintel/etmoses/wiki/Gas-network) to improve th

[2016-08-02 14:18] ChaelKruip commented on #1344
There is no reason (except those mentioned above) to not allow the user to change these numbers. @MarjoleinSchwachofer what do you suggest interface-wise? Where should the user be given the option to edit the costs?

[2016-08-02 14:39] ChaelKruip commented on #1343
The merit order price used in the market model transactions is indeed the electricity merit order price.

Closing. Please re-open if this does not satisfactorily answer your question.

[2016-08-02 14:39] #1343 closed

[2016-08-02 15:00] #1279 closed

[2016-08-02 15:59] #1323 closed

[2016-08-03 08:52] ChaelKruip commented on #1342
Changed this in the documentation.

Changed it in documentation and front-end.

The documentation about strategies has a list of definitions where excess is defined as follows:

"Local excess: production which is not cancelled by consumption in the same time-step for the
same end-point"

A simple example has been added. Also the source (internal communication with Alliander and TU/e experts) has b

[2016-08-03 09:29] Sanne512 commented on #1344
I agree with this, but didn't we also discuss that it would be nice to give users the option to change the costs if they wanted to in a similar lay out to the technology table?

It would be nice if users could change the costs, because they have to insert the costs for the electricity infrastructure any way. If users have access to these numbers they also possibly have access to costs for the gas

[2016-08-03 11:43] MarjoleinSchwachofer commented on #1344
This is also the case for electricity and heat. I agree with Sanne that a strength of the model is that you can adjust  parameters if you think you have better values. And that you can see them directly, so that you know where the item in the business case comes from.

I liked the way it is presented in the heat asset list.  And on my screen there is enough room available to the left and right of

[2016-08-03 11:50] MarjoleinSchwachofer commented on #1325
I now understand how the stratgy works in ETMoses. P2G can also use excess pv from another endpoint to produce power-to-gas. I will add this in the documentation.

I will discuss the working of the strategy with my team members when they get back from their holiday. Because I think that a strategy that looks at congestion would be a good enhancement. But I will make a new item of it if they agree

[2016-08-03 12:03] MarjoleinSchwachofer commented on #1342
Was the priority list only wrongly documented? Or should also be changed in the modelling?

I've also added to  the documentation of P2G: Excess production from another node can also be used to produce gas in the case that it is not used in any other point in the LES and it should otherwise be transported to the HV grid.

[2016-08-03 12:06] ChaelKruip commented on #1342
Only documentation 😄

👍

[2016-08-03 12:06] MarjoleinSchwachofer commented on #1342
I did not mean numerically, but how (e.g. using no air conditioning )
@JeroenvdLogt can you say anything about this?

[2016-08-03 12:32] antw commented on #1325
Also, should P2G not also be an item in the stacked gas chart?

It does use electricity, and yesterday I fixed an issue with P2G not appearing in the stacked chart. If you still don't see P2G in the chart, would you mind including a link to the LES and, if possible, on which days/time-periods you would expect to see the load?

I might be stating the obvious, but also make sure you turn the strateg

[2016-08-04 06:12] MarjoleinSchwachofer commented on #1325
That''s indeed the solution, now I see a number. I didn't know I had to switch the button and because in the customise technology behaviour bar the strategy was selected, I though this was included in the graph.

This is a good thing to add in the result section of the documentation.

[2016-08-04 06:13] MarjoleinSchwachofer commented on #1325
Shouldn't this be an enhencement? Then you can see where your gas comes from.

[2016-08-04 06:14] MarjoleinSchwachofer commented on #1342
See question above

[2016-08-04 07:03] ChaelKruip commented on #1325
It is shown in the load chart as @antw pointed out:

It is also shown in the gas load chart *if* production (feed-in) exceeds consumption (negative loads signify net production).

[2016-08-04 09:19] ChaelKruip commented on #1344
The gas asset table is already 1200 pixels wide:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/17396733/011fdb78-5a35-11e6-962b-44d1369e580d.png)

This is already quite wide if you ask the internet. See [http://www.hobo-web.co.uk/best-screen-size/](http://www.hobo-web.co.uk/best-screen-size/) or [http://ux.stackexchange.com/questions/42828/how-wide-should-a-responsive-designed-webs

[2016-08-04 09:30] antw commented on #1325
Sorry, let me clarify: the consumption of *electricity* by P2G will show up in the stacked chart. Production (of gas) is currently not shown – see #1063 – but we do intend to fix this shortly.

[2016-08-04 09:40] MarjoleinSchwachofer commented on #1325
This is clear.
I just wondered wether the gas production would be added to the stacked gas chart. Beacuse PV is already an item in the electricty chart, it just doesn't show correctly. But P2G is not an item in the **gas stacked chart** yet. Will this be added in your improvements in  #1063, because it isn't explicitly stated there?

[2016-08-04 10:10] ChaelKruip opened #1351 "Cost attributes for electricity infrastructure"
Currently, the user is responsible for coming up with costs figures for electricity infra. I think we should add some typical numbers to the documentation (and link to that in the interface) to help users pick realistic costs.

Based on very incomplete data from @JeroenvdLogt I have compiled a table for transformers:

|Capacity [kW]|Investment [EUR]|Yearly O&M [EUR]|Lifetime [years]|
|---|---|---|

[2016-08-04 10:44] MarjoleinSchwachofer commented on #1351
I think this is useful, I already wanted to discuss this in our team after their holidays.

I however do not know how long this will take. The infrastructure constitutes not only  of the transformers , but also cables, secondary infrastructure etc. This will be more difficult. People would also need some guidelines on how to relate number of connections to the infrastructure (and this is different

[2016-08-04 10:54] ChaelKruip commented on #1351
👍

That's the second table. 😄

Curious what ideas you will come up with!

[2016-08-04 15:05] ChaelKruip opened #1352 "Cloning a LES should let you choose a new name"
Now, the same name is used which is confusing.

[2016-08-04 15:09] ChaelKruip opened #1353 "Do buffers still show up in the heat load chart?"
In [my LES](https://beta-moses.energytransitionmodel.com/testing_grounds/677/heat_load) I have set my combi-boilers to "buffering" but I don't see the buffers show up in the heat load chart:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/17407055/304313e4-5a66-11e6-8b69-cf93b193daeb.png)

[2016-08-04 16:47] antw commented on #626
Another issue caused me to take a second reading of this, and something caught my attention:

I'm not clear on the significance of #670 when it comes to electric technologies on endpoints. The *central* heat network buffer has two volumes: one which may be filled by all central technologies – must runs and dispatchables – and a second (which represents a higher temperature) which may be filled onl

[2016-08-04 16:56] antw commented on #1353
Erm... uh oh. :worried:

Why would a combi-boiler place energy into a buffer? *Heat pumps* will fill up an endpoint buffer; other technologies will not. If set to "buffering", your combi-boiler will respect the capacity of the buffer before failing over to "boosting" technologies, but it will only run as much as needed to meet demand. It won't place extra energy into the buffer.

I thought that wa

[2016-08-04 17:31] antw commented on #1353
[The documentation seems to support my view](https://github.com/quintel/etmoses/wiki/Buffers#space-heating), so perhaps I'm just misunderstanding the question?

The "buffer" series will not show up on the chart, or in the legend, if there is no buffering taking place.

[2016-08-08 07:23] ChaelKruip commented on #626
Exactly, but #670 is a suggestion to give them two volumes (just like the central ones). Unless this is a lot of work I think we should try to make that improvement.

[2016-08-08 07:32] ChaelKruip commented on #1353
My bad. I was under the impression that all technologies behaved the same when set to buffering. Thanks for enlightening me @antw!

I don't see the physical rationale for this behaviour. Could we not disable the 'buffering' option for all technologies that don't really buffer (i.e., place extra energy into the buffer)? That would be less confusing for users in the end and just as useful as the cur

[2016-08-08 10:36] DorinevanderVlies opened #1354 "Doubts about investment and O&M cost calculation in business case"
### Summary
I have some doubts about the business case of stakeholder customer AC1. The investment and O&M costs seem too low.

### Details
[This is the LES](https://beta-moses.energytransitionmodel.com/testing_grounds/680/edit)
The "huishoudens" node is assigned to "customer AC1".
The most costly technologies are:
- Combined network gas, 1406 pieces.
The inital investment is  ‎€1500 (over 15 year

[2016-08-08 11:10] ChaelKruip commented on #1329
Assigning @antw to pick this up.

[2016-08-08 11:15] ChaelKruip commented on #1314
I think this not such a great idea after all. NPV calculations make sense to get a feeling for how sensible an investment is. As we calculate all costs of a stakeholder together, revenues are not easy to assign to a certain investment. If you install solar PV, for instance, the incomes from net-metering should be used to calculate the NPV, but we do not couple net-metering to solar PV anywhere in

[2016-08-08 11:15] #1314 closed

[2016-08-08 11:25] ChaelKruip commented on #1097
Machiel has provided us with numbers for the must-run part of the central heat network:
* Investment costs: 0.016 -- 0.50 €/kWh
* Yearly O&M costs: 0.00032 -- 0.02  €/kWh
* Marginal costs: 0 -- 0.025 €/kWh

[2016-08-08 11:38] #1097 closed

[2016-08-08 11:40] ChaelKruip commented on #1097
I will take the upper limit for the numbers quoted above as not to paint a picture for heat networks which is too optimistic by default.

 With  https://github.com/quintel/etmoses/commit/e9e5492e536e24f4bd40079085badbc091be9eab I close this issue.

[2016-08-08 17:05] #1329 closed

[2016-08-08 17:05] #1354 closed

[2016-08-08 17:12] antw commented on #1354
Should now be fixed; good catch!

![screen shot 2016-08-08 at 18 11 23](https://cloud.githubusercontent.com/assets/4383/17488936/8cf4b2f2-5d93-11e6-92ff-dcfa35a4088f.png)

[2016-08-08 17:14] antw commented on #1353
Let's do this. :+1:

[2016-08-09 08:56] ChaelKruip opened #1356 "Gas load chart should show selected week when date picker is set by electricity load chart"
When you select a week in the electricity load chart, that week is also selected for the gas load chart. Neat!

The problem is that the chart itself does not display that week (but rather the first week of the year):
![etmoses](https://cloud.githubusercontent.com/assets/1303760/17510599/f0145414-5e1f-11e6-81c3-ec697520b07d.png)

[2016-08-09 08:59] ChaelKruip commented on #1330
Assigned @grdw to remove the pipes with zero investment costs (are there more than one?)

[2016-08-09 09:16] ChaelKruip commented on #1266
Closing as this has been done.

[2016-08-09 09:16] #1266 closed

[2016-08-09 09:17] ChaelKruip commented on #1017
Can this be closed @antw?

[2016-08-09 09:19] antw commented on #1017
Not yet: the market model calculation doesn't use the cached network.

[2016-08-09 09:22] ChaelKruip commented on #1063
From https://github.com/quintel/etmoses/issues/1325:

So, let's not forget about P2G.

[2016-08-09 09:22] ChaelKruip commented on #1325
I have added it now so we don't overlook adding P2G.

Closing this issue.

[2016-08-09 09:22] #1325 closed

[2016-08-09 09:33] ChaelKruip opened #1357 "If no compressors have been installed, feed in should not be possible"
In [this LES](https://beta-moses.energytransitionmodel.com/testing_grounds/685), there are only compressors between the 0.125 bar and 4 bar levels. The other levels seem to accept feed-in without loss although there is no compressor capacity installed:

![etmoses](https://cloud.githubusercontent.com/assets/1303760/17511837/1c46f4a6-5e25-11e6-923d-be1ea3a00197.png)

[2016-08-09 09:36] ChaelKruip opened #1358 "Save all and view gas load button triggers errors in my LES"
In [this LES](https://beta-moses.energytransitionmodel.com/testing_grounds/685), my gas asset page hangs after saving:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/17511925/91ac001a-5e25-11e6-9d7f-2998c39c2f58.png)

[2016-08-09 09:40] ChaelKruip opened #1359 "Surplus should be plotted as production (negative y-axis)"
![etmoses](https://cloud.githubusercontent.com/assets/1303760/17512000/f329cc8c-5e25-11e6-8c67-a79b025c89f6.png)

It is production which cannot be accommodated by the network, so it should be shown as production.

[2016-08-09 10:27] DorinevanderVlies opened #1360 "The correction factor of the business case adds to "outgoing" when viewing the business case in edit mode and to "incoming" when viewing the business case in standard view"
### Summary:
The correction factor of the business case adds to "outgoing" when viewing the business case in edit mode and to "incoming" when viewing the business case in standard view

### Details/example:
Stakeholder AC1 of my [LES](https://beta-moses.energytransitionmodel.com/testing_grounds/686) shows this.

In "edit mode" I can add a Freeform to the business case.
This adds to the total outgo

[2016-08-10 07:30] Stefan-87 opened #1361 "Wanted: download load curve for a whole year with quarterly values"
In the beta version of ETMoses, it is possible to download the results of your LES, including the strategies, as load curves (.CSV file). When downloading the results of a week you get quarterly values (672 entries), however, if you download the file for a whole year, you get daily values (365 entries). Would it be possible to generate these output files for a whole year with quarterly values, so

[2016-08-10 07:41] ChaelKruip commented on #1361
@Stefan-87 Thank you for participating actively on Github! A few pointers:

* Select one or more labels to indicate what type of ticket this is
* Assign someone (when in doubt, assign me) so your ticket gets looked at
* In the future, please search for similar issues than the one you are experiencing so you don't have to create a new issue each time you encounter an error or have a question. Let m

[2016-08-10 07:41] #1361 closed

[2016-08-10 12:16] dennisschoenmakers opened #1362 "[Airbrake] [Staging] 845: NaN not allowed in JSON"
**Airbrake error:** [#3750](https://quintel.airbrake.io/projects/111227/groups/1749254454825693750)
**Airbrake project:** ETMoses

**Error type:** `JSON::GeneratorError`
**Error message:** `` 845: NaN not allowed in JSON ``
**Where:** `calculation#heat`
**Occurred at:** Aug 10, 2016 12:16:34 UTC
**First seen at:** Aug 10, 2016 12:16:34 UTC
**Occurrences:** 1 (1 since last deploy on Aug 10, 2016 09

[2016-08-11 08:36] grdw opened #1363 "Counting buffers issue for #1322"
The current situation for buffers is that a buffer contains multiple heating technologies. When creating a LES the following happens:

[code]

Right now this is changed in #1322 to:

[code]

However the counting is a bit off when there are multiple end-points.

[code]

And I'm wondering how I could get:
[code]

[2016-08-11 09:09] antw commented on #1363
Perhaps they can be renumbered as a separate step after building the list of technologies? I guess new buffers could have a completely random ID (`SecureRandom.uuid`) instead of having an incrementing number, and then a suitable name is assigned purely for display purposes?

[code]

[2016-08-11 09:10] ChaelKruip commented on #1363
@grdw are HP1 and HP2 the same *type* of technology? If so, why are they getting their own buffer in the new situation:
[code]
?

Wouldn't it be more logical to group the same technologies:
[code]
?

[2016-08-11 09:17] ChaelKruip commented on #1363
Perhaps a bit more background for @antw (not that I don't like his solution!) to fully understand why the situation is as it is:

Technologies 'know' to which end-point they belong. The reverse is not true (as @grdw told me): end-points don't know which technologies are attached to them.

If end-points would have this info, however, more intuitive naming would be a lot simpler:

Even worse pseudo-

[2016-08-11 09:25] antw commented on #1363
I'm guessing this is specific to the ETEngine import? If so, I'll defer to whatever @grdw thinks is best because I'm not familiar enough with the buffer-import code to know how difficult this is. Assigning a number to a buffer doesn't seem to depend on the endpoint though.

[2016-08-11 09:28] DorinevanderVlies opened #1364 "Present Quintel and user made profiles seperately"
### Background
ETMoses contains two types of profiles:
- **Profiles added by Quintel**, they are documented and traceable to their source.
- **Profiles added by users**, he history/purpose of these profiles is often a lot less clear. Sometimes they represent a very specific situation. Furthermore there is no quality control on them.

### Problem
Currently a user can not destinguish between the two

[2016-08-11 09:33] dennisschoenmakers opened #1365 "[Airbrake] [Staging] 504 Gateway Timeout"
**Airbrake error:** [#4032](https://quintel.airbrake.io/projects/111227/groups/1749897097184264032)
**Airbrake project:** ETMoses

**Error type:** `RestClient::GatewayTimeout`
**Error message:** `` 504 Gateway Timeout ``
**Where:** `testing_grounds#render_template`
**Occurred at:** Aug 11, 2016 09:32:46 UTC
**First seen at:** Aug 11, 2016 09:32:46 UTC
**Occurrences:** 1 (1 since last deploy on Aug

[2016-08-11 09:34] DorinevanderVlies opened #1366 "Create the possibility to save a LES as "read-only""
### Situation
I want to share some of my LESses with other people.
However, I do not want other people to be able to apply changes.

### Request
Therefor I would like to be able to save my LES as "read-only".
In this "read-only" LES and option to "save as a new LES" (so adjustments can be made in an other LES) would be nice.

[2016-08-11 09:40] ChaelKruip commented on #1366
I think your LES is read-only by default. Right @antw?

I'm not sure if everyone can 'clone' your LES now. @antw could you enlighten us?

[2016-08-11 09:44] DorinevanderVlies commented on #1366
I'm not sure, if I open a random LES which was not created by me it seems that I'm allowed to make changes. (See image below)

![image](https://cloud.githubusercontent.com/assets/19907658/17584789/ca184230-5fb8-11e6-81e8-efe1346ee211.png)

[2016-08-11 09:45] antw commented on #1366
Indeed. [Only the author – or an admin user – may edit a LES](https://github.com/quintel/etmoses/blob/b4838ac1df4256f4d9dda58fc3227672e651a9be/app/policies/private_policy.rb#L3). We QIs are all admins, so it might not be obvious to us, but "normal" visitors should not be able to edit someone else's LES.

[2016-08-11 09:45] grdw commented on #1363
No, these are two different one's. Sorry, for the ambiguity.

Yes I agree, they shouldn't. Maybe I should extract the `Counter` as a separate module.

[2016-08-11 09:46] DorinevanderVlies commented on #1366
Perfect!

Can a "normal" visitor save the LES as a new LES and make changes to that one?

[2016-08-11 09:50] antw commented on #1366
Yes, that's correct. Ordinary visitors can still clone the LES, and will then be able to make changes to *their* copy.

Viewing someone else's LES as a non-admin:

<img width="521" alt="screen shot 2016-08-11 at 10 48 45" src="https://cloud.githubusercontent.com/assets/4383/17584998/4aebce7a-5fb1-11e6-93fb-b8a9450308fc.png">

Viewing my clone of that LES, as a non-admin:

<img width="634" alt="scr

[2016-08-11 09:50] #1366 closed

[2016-08-11 11:53] ThomBuijs commented on #1110
Okay, I clicked on something by accident. I didn't want to modify anything here. I cannot figure out how to undo this. Sorry for the inconvenience.

[2016-08-11 12:49] ChaelKruip commented on #1110
You can click on the "clear this milestone" button to undo what you did:

![rescale_gas_assets_to_gas_connections_does_not_blank_reset_the_quantities_ _issue__1110_ _quintel_etmoses](https://cloud.githubusercontent.com/assets/1303760/17589038/bd30b59c-5fd2-11e6-8270-df37cb91f232.png)

[2016-08-11 13:04] grdw opened #1368 "Display the Hybrid heat pump as one entity in front-end"
RIght now the Hybrid heat pump is split up into two pieces. We would like to display it as one technology. The thing is, I know how this would work in the front-end. However, I have no idea what the damages will be during the calculation (I guess, it would be significant).

Current situation

Front-end -> Calculator:
[code]

Front-end -> Calculator
[code]

----

Things that need to be edited:

- [

[2016-08-11 13:20] antw commented on #1368
This would definitely be nice. Perhaps it could be handled similarly to base loads, where a single front-end technology is split into two separate parts before being handed off to the calculation?

The complicating factor in this case is that the two parts use different carriers. This means that [technology_component_behavior](https://github.com/quintel/etmoses/blob/b4838ac1df4256f4d9dda58fc322767

[2016-08-11 13:20] #1308 closed

[2016-08-11 13:48] #1107 closed

[2016-08-11 13:48] #736 closed

[2016-08-11 14:04] antw commented on #1362
This was related to the ETSource chemical / industry update and should now be resolved.

[2016-08-11 14:04] #1362 closed

[2016-08-11 14:25] #1357 closed

[2016-08-11 15:37] ThomBuijs commented on #1050
I was wondering what the status is of this issue. What does

mean?

[2016-08-11 15:44] antw commented on #1050
You can ignore that; it means some piece of code was changed, and that the change had something to do with this issue. In this case, the change was [actually made ten days ago](https://github.com/quintel/etmoses/issues/1050#ref-commit-5ed3338).

The issue has been fixed, and the changes are on the beta server already; it should now be possible to view the weekly gas load charts and annual gas flow

[2016-08-11 16:07] #1360 closed

[2016-08-11 17:16] antw commented on #1352
Since this is almost identical to the "Save a new Local Energy Solution" button on the edit page, I think upon completing this request we should also make the "Clone" button visible on private LESes (currently it shows only on those which are public).

[2016-08-12 08:41] grdw commented on #1358
You can reproduce it by:

1. Hit apply button
2. Than change something (or not?)
3. Hit "Save all and view gas-load"

[2016-08-12 09:15] grdw commented on #1344
My best guess is to switch from a table view to a 'list' view with multiple rows of inputs per list-item. A bit like the technology matrix in a way

[code]

[2016-08-12 09:29] grdw commented on #1330
There are more than one.

It are these pipes:
[code]

[2016-08-12 10:02] grdw commented on #1318
I copied the 'spikiness' method from ETModel and implemented it in ETMoses.

[2016-08-12 10:19] MarjoleinSchwachofer commented on #1330
We will check if we can get the values from another source

[2016-08-12 11:38] dennisschoenmakers opened #1371 "[Airbrake] [Staging] No such file or directory @ rb_file_s_mtime - /var/www/etmoses/releases/20160812083014/tmp/networks/staging/675/basic/electricity/49a08c0e397826d795e50f9a6a16b08f35708bd965875a2b22d9bb1db5e25bc6.load.current_week.tmp"
**Airbrake error:** [#4515](https://quintel.airbrake.io/projects/111227/groups/1750684907919094515)
**Airbrake project:** ETMoses

**Error type:** `Errno::ENOENT`
**Error message:** `` No such file or directory @ rb_file_s_mtime - /var/www/etmoses/releases/20160812083014/tmp/networks/staging/675/basic/electricity/49a08c0e397826d795e50f9a6a16b08f35708bd965875a2b22d9bb1db5e25bc6.load.current_week.tm

[2016-08-12 12:03] grdw commented on #847
It does strike me as annoying as well. So maybe we could, when somebody adds a technology that belongs to a buffer, automatically do an animated scroll to the added technology?

[2016-08-12 13:01] grdw commented on #847
However, before implementing anything like that I'm waiting for the #1322 PR to be merged. Since in that PR there are a lot of changes regarding the profile matrix editor.

[2016-08-12 13:17] ThomBuijs commented on #1050
The yearly gas flow doesn't seem to work anymore in my LES [https://beta-moses.energytransitionmodel.com/testing_grounds/675/gas_load](url). I have seen it when you mentioned it was fixed, but right now it seems to stop working. My LES has only 10 households  so it is not that big.

[2016-08-12 13:38] grdw commented on #1050
The error you are receiving (which is a little vague) does not have to do with the original issue. The problem is in #1371 . Therefor I'm closing this issue and will copy your comment over to that issue to keep github issue a bit cleaner.

[2016-08-12 13:38] #1050 closed

[2016-08-12 13:39] grdw commented on #1371
As described by @ThomBuijs:

[2016-08-12 13:54] grdw commented on #1371
@ThomBuijs I threw away the old cache for your LES causing the yearly chart for gas to calculate. However, I must tell you that that is just a temporary fix. So I'll have to investigate further what might cause these problems in the first place.

Including @ChaelKruip to plan this in when there's time.

[2016-08-13 16:21] ChaelKruip commented on #1330
👍

Removing them for now. We can revert #1369 if @MarjoleinSchwachofer can find values.

[2016-08-15 02:33] dennisschoenmakers opened #1372 "[Airbrake] [Staging] undefined method `profile_required?' for nil:NilClass"
**Airbrake error:** [#8463](https://quintel.airbrake.io/projects/111227/groups/1752584607798638463)
**Airbrake project:** ETMoses

**Error type:** `NoMethodError`
**Error message:** `` undefined method `profile_required?' for nil:NilClass ``
**Where:** `testing_grounds#show`
**Occurred at:** Aug 15, 2016 02:33:10 UTC
**First seen at:** Aug 15, 2016 02:33:10 UTC
**Occurrences:** 1 (1 since last dep

[2016-08-15 08:07] grdw commented on #1327
Do you remember where you found this link?

[2016-08-15 08:08] MarjoleinSchwachofer commented on #1327
This link opens when I click on the green bar 'Go to the energy tranistion model' at https://beta-moses.energytransitionmodel.com/welcome

[2016-08-15 08:23] grdw commented on #1358
I found the problem after sitting with @ChaelKruip for 5 minutes.

[2016-08-15 08:29] #1358 closed

[2016-08-15 08:33] #1327 closed

[2016-08-15 09:16] grdw commented on #1368
I'm having multiple questions stating from the content that's in the separate parts of the hybrid heat pumps:

Summarized content of the Hybrids that spawn questions (I filterd out all the obvious things):

[code]

Content of the electricity part:
[code]

Content of the gas part:
[code]

A few things I see missing are the `color`, `export_to`. Could we also add those to the `components` or wouldn'

[2016-08-15 09:25] antw commented on #1368
I suppose we could. I understand your concern, especially with the `defaults`; costs and lifetime would be shared between both components, but the capacity, performance coefficient, and "position relative to buffer" are different for each component. This does feel a bit inelegant.

I wish I had a better idea to offer. 😧

[2016-08-15 09:43] grdw commented on #1368
Couldn't we keep the information concerning defaults in both components and associate the components from the hybrid heat pump.

[code]

In `Technology`:

[code]

And in `Network::Technologies`

[code]

This would take some changes to the calculator I guess but I don't know how hard that'd be. The only issue I see here is that you can't really simply edit the costs of a single component of the Hyb

[2016-08-15 09:59] antw commented on #1368
I like that. But could we do without the magic name, and perhaps just specify the full keys like this?

[code]

That is also a good point. There would need to a form template specific to the HHPs which would allow you to edit these. I guess each form element would have to specify which component it relates to:

[code]

I imagine this is quite a bit of work.

It would be nice if this could be handl

[2016-08-15 10:27] grdw commented on #1368
Yes

Well, yes. You'd have to start saving the data like:

[code]

So this takes changes in the way the data is [parsed](https://github.com/quintel/etmoses/blob/master/app/assets/javascripts/les/profile_matrix_editor/technologies_form.js#L92). Also this puts extra pressure on the `technology_profile` field. I haven't seen any LES going out of bounds when it comes to size but this might.

To preven

[2016-08-15 13:33] dennisschoenmakers commented on #999
*Comment from Airbrake:* Resolved [error](https://quintel.airbrake.io/projects/111227/groups/1693265495314641970) reoccurred.

[2016-08-15 13:33] dennisschoenmakers commented on #998
*Comment from Airbrake:* Resolved [error](https://quintel.airbrake.io/projects/111227/groups/1693265495381750838) reoccurred.

[2016-08-15 14:19] ThomBuijs opened #1374 "Load graph is not displayed but keeps loading"
I am trying to let ETMoses calculate my LES, but it keeps loading and doesn't display the chart.
https://moses.energytransitionmodel.com/testing_grounds/532
Are you by any change working on the PRO-server?

[2016-08-15 14:27] antw commented on #1374
I have fixed this LES manually. There were some hot water technologies assigned to a buffer which didn't exist; unfortunately there's no way for you to fix this yourself. This tends to happen when changing [the concurrency settings](https://github.com/quintel/etmoses/wiki/Concurrency). We have a replacement for this feature in-progress (#1322), and once finished this problem should not occur anymo

[2016-08-15 14:27] #1374 closed

[2016-08-15 14:30] ThomBuijs commented on #1374
Thank you for fixing it

[2016-08-16 07:26] jorisberkhout commented on #1249
Related to https://github.com/quintel/etmodel/issues/2185

[2016-08-16 09:40] grdw commented on #1368
Must it be possible to define a capacity for the HHP, the electricity part of the HHP and the gas part of the HHP? Or is it ok, to just do it for the electricity part of the HHP and the gas part of the HHP, considering both pieces as one of a whole. Or am I misunderstanding the behavior of the HHP, this way?

[2016-08-16 09:42] ChaelKruip commented on #1368
Only this. The HHP as a whole does not have a capacity. Only the parts.

[2016-08-16 13:26] ChaelKruip commented on #1132
Can this be closed @grdw @antw?

[2016-08-16 13:36] antw commented on #1132
If it works, sure. I didn't notice any problems with it when working on #1360 last week...

[2016-08-16 13:36] #1132 closed

[2016-08-16 13:43] grdw commented on #1368
![screen shot 2016-08-16 at 15 39 56](https://cloud.githubusercontent.com/assets/2676542/17700848/b967d140-63c7-11e6-9539-f819bc55fcd1.png)

The hybrid heat pump looks like this in the front-end. As far as I understood it from @ChaelKruip's input. This is only the front-end, now it's time for the Javacript and the back-end.

[2016-08-17 07:58] dennisschoenmakers opened #1375 "[Airbrake] [Staging] undefined method `profile_required?' for nil:NilClass"
**Airbrake error:** [#4215](https://quintel.airbrake.io/projects/111227/groups/1754197881182994215)
**Airbrake project:** ETMoses

**Error type:** `NoMethodError`
**Error message:** `` undefined method `profile_required?' for nil:NilClass ``
**Where:** `testing_grounds#data`
**Occurred at:** Aug 17, 2016 07:57:45 UTC
**First seen at:** Aug 17, 2016 07:57:45 UTC
**Occurrences:** 1 (1 since last dep

[2016-08-17 08:39] ThomBuijs commented on #1250
I guess it would also be nice to have a similar feature for the gas infrastructure. Another possibility might be to whenever a new part of the infrastructure is added to give it the default values as it was imported from ETM and/or scaled to the number of gasconnections.

[2016-08-17 11:30] ChaelKruip commented on #1368
Very nice! The only thing that worries me a bit is the efficiency of the gas-part. 1.067 is what ETE tells us, but ETM-SA does not take efficiencies/COP into account except for heat pumps. So that value should be 1.0 right @antw?

[2016-08-17 11:32] antw commented on #1368
The classes for the HHP components are descendants of [Buffer](https://github.com/quintel/etmoses/blob/635658edb3ec6828ae28948fac34ce0d2b83c576/app/models/network/technologies/buffer.rb), therefore they support CoP/efficiency.

[2016-08-17 11:35] ChaelKruip commented on #1368
Nice! Than we can use 1.067 for the gas-part 👍

[2016-08-17 11:50] ChaelKruip commented on #1250
We already have that. It's the "Rescale assets to gas connections"-button:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/17735228/555442d2-6481-11e6-9e69-faac2936358d.png)

Can you give a concrete example of what yo mean and how that differs from what we currently do?

[2016-08-17 13:07] grdw opened #1376 "All of a sudden change in Data HHP components"
Related: #1262

I'm trying to split up the hybrid heat pump in components. However, I'm storing the data as such:

[code]

Which makes sense. This data is taken from a pry session:

[code]

However, when I check the content of the  `self.load`  method in `TechnologyList` something weird happened to the components...

[code]

Taken from pry session point:

[code]

Is there some step in between that

[2016-08-17 13:15] grdw commented on #1372
Closing due to duplicate: #1375

[2016-08-17 13:45] antw commented on #1376
Looks like something is calling `#to_s` on the InstalledTechnology for the components?

[code]

[2016-08-17 13:49] antw commented on #1376
[Maybe here?](https://github.com/quintel/etmoses/pull/1322/commits/9c1ce2a9d5d675512ba12cf66710bc8d455d0557#diff-7a156f529649278a2dcfb8039d893abeR19)

[2016-08-17 14:33] ChaelKruip opened #1377 "When showing gas-part of staked load chart I get errors"
The [offending LES](https://beta-moses.energytransitionmodel.com/testing_grounds/685)

![etmoses_](https://cloud.githubusercontent.com/assets/1303760/17740287/5618d432-6498-11e6-9d22-a3f180f00383.png)

[2016-08-17 14:46] ChaelKruip opened #1378 "Batteries not plotted in stacked or individual view of load chart"
In [this LES](https://beta-moses.energytransitionmodel.com/testing_grounds/700):
![etmoses_](https://cloud.githubusercontent.com/assets/1303760/17740761/07b1c572-649a-11e6-852b-6e12584c79ae.png)
and
![etmoses_](https://cloud.githubusercontent.com/assets/1303760/17740788/17359b9a-649a-11e6-8fe7-5f19c87eb958.png)

Although I see their effect in the total view:
![etmoses_](https://cloud.githubusercon

[2016-08-17 15:23] #1377 closed

[2016-08-17 15:28] antw commented on #1378
This looks correct to me. The battery consumption and production happens on the "Rubroek" endpoint node. The charging and discharging would not be visible higher in the network, since the load is contained to the endpoint:

#### Rubroek

![screen shot 2016-08-17 at 16 26 08](https://cloud.githubusercontent.com/assets/4383/17742301/59f64090-6497-11e6-909e-24ef9a444d4a.png)

#### MS-LS Trafo

![scre

[2016-08-17 15:31] #1318 closed

[2016-08-17 15:31] ChaelKruip commented on #1378
Thanks for convincing me too 👍

[2016-08-17 15:31] #1378 closed

[2016-08-17 15:42] dennisschoenmakers opened #1379 "[Airbrake] [Staging] key not found: "buffer_space_heating_2""
**Airbrake error:** [#7718](https://quintel.airbrake.io/projects/111227/groups/1754431341168407718)
**Airbrake project:** ETMoses

**Error type:** `KeyError`
**Error message:** `key not found: "buffer_space_heating_2"`
**Where:** `testing_grounds#data`
**Occurred at:** Aug 17, 2016 15:42:17 UTC
**First seen at:** Aug 17, 2016 15:42:17 UTC
**Occurrences:** 1 (1 since last deploy on Aug 17, 2016 15:

[2016-08-17 15:42] ChaelKruip opened #1380 "For higher nodes, the stacked chart for gas does not show the load correctly"
In [this LES](https://beta-moses.energytransitionmodel.com/testing_grounds/700), the gas-load on the lowest (end-node) level looks like:
![etmoses_](https://cloud.githubusercontent.com/assets/1303760/17742817/d0c33e12-64a1-11e6-9e9f-fd69ce0bdbcc.png)
Clicking a higher level, the chart freezes:
![etmoses_](https://cloud.githubusercontent.com/assets/1303760/17742848/f2d2cc98-64a1-11e6-879d-d71464890

[2016-08-18 07:56] #1365 closed

[2016-08-18 08:57] grdw commented on #1376
I found out what it was. There's a bit of a ping-pong going on when creating a LES. The `technology_profile` is first put into `InstalledTechnology` objects right [here](https://github.com/quintel/etmoses/blob/master/app/models/technology_list.rb#L26). Than it dumps again [here](https://github.com/quintel/etmoses/blob/master/app/models/technology_list.rb#L62) and loads again (causing the actual pr

[2016-08-18 08:57] #1376 closed

[2016-08-18 09:19] grdw opened #1381 "How would I expand the network calculation with hybrids?"
It's now only able to take `electricity`, `gas` and `heat` as a carrier. The thing I'm having trouble with is that the hybrid consists of two parts, a `gas` part and an `electricity` part but the main `InstalledTechnology` object is a `hybrid` carrier... So I'm a bit clueless. I could fish out the corresponding component for a hybrid technology but than I miss all the investment attributes) of the

[2016-08-18 10:06] antw commented on #1381
I'm not sure why you'd want to do this? I thought the idea was that InstalledTechnology would be able to [split *itself* up into the individual components](https://github.com/quintel/etmoses/issues/1368#issuecomment-239768365), that way the `Network` would need almost no changes (after all, the gas and electric components are basically two completely separate technologies inside one box). The pseu

[2016-08-18 10:14] antw commented on #1381
I should add: by the time you get to the Network::Technologies, it is already too late to deal with different carriers. A technology belongs to the electricity, gas, or heat networks, and has no knowledge that other networks even exist (power-to-gas [is an exception](https://github.com/quintel/etmoses/blob/705d940d557d3f58a12a1a905f5f67b700b2fb47/app/models/network/technologies/siphon.rb#L32-L34),

[2016-08-18 11:26] grdw commented on #1381
Hmm, allow me to rephrase the question to; where does that happen in the code currently? I can't seem to find the `each_profile_curve` method being used anywhere except the definition of itself.

Yes. I get that.

[2016-08-18 11:31] antw commented on #1381
Seems that `each_profile_curve` is no longer used. Instead, [InstalledTechnology#profile_curve](https://github.com/quintel/etmoses/blob/705d940d557d3f58a12a1a905f5f67b700b2fb47/app/models/installed_technology.rb#L101-L103) is called [here](https://github.com/quintel/etmoses/blob/705d940d557d3f58a12a1a905f5f67b700b2fb47/app/models/calculation/technology_load.rb#L49-L60).

[2016-08-18 12:07] grdw commented on #1381
Thanks! I think I know how to solve it from here.

[2016-08-18 13:10] grdw commented on #1381
The idea is now to [decorate](https://github.com/quintel/etmoses/pull/1322/files#diff-20eec9c046de572e74b4d7d6632bbd6cR1) right before calculating. I'm almost there I guess, there are only some attributes missing in the components that are needed from the parent element but that's rather easy from this point.

[2016-08-18 13:37] grdw commented on #1381
Staging:
![screen shot 2016-08-18 at 15 36 22](https://cloud.githubusercontent.com/assets/2676542/17775674/959d1764-6559-11e6-8d0f-4d888ee1032f.png)

Local:
![screen shot 2016-08-18 at 15 36 27](https://cloud.githubusercontent.com/assets/2676542/17775675/95cbc2b2-6559-11e6-81a5-115f5ec6e8b0.png)

I spot a difference between staging and local? @ChaelKruip do you know what might be going on here? It

[2016-08-18 13:40] antw commented on #1381
Try enabling the P2H strategy and see if that makes any difference. Perhaps the recent changes with that strategy upset the HHP...

[2016-08-18 13:40] grdw opened #1382 "Y axis doesn't update"
![screen shot 2016-08-18 at 15 38 45](https://cloud.githubusercontent.com/assets/2676542/17775750/fb97dea0-6559-11e6-8ac3-5b6aac8ecf7e.png)

As shown in the screenshot the `gas_load` is 20kW something but the axis is stuck at 1.0. However, it does fit in the drawing which implies that the Y axis is not correctly updated.

[2016-08-18 13:42] grdw commented on #1381
With P2H enabled.

Staging:
![screen shot 2016-08-18 at 15 41 41](https://cloud.githubusercontent.com/assets/2676542/17775822/54cfdf9a-655a-11e6-86d1-6c0d0c31c539.png)

Local:
![screen shot 2016-08-18 at 15 41 46](https://cloud.githubusercontent.com/assets/2676542/17775823/54d27d36-655a-11e6-9337-f381ccd65373.png)

[2016-08-18 13:43] grdw commented on #1382
Hmm.. whatever seems to be the problem is fixed by #1322 since I don't experience the same problem there.

[2016-08-18 13:44] grdw commented on #1381
Ho, nvm. My units were not similar. ...

[2016-08-18 13:45] grdw commented on #1381
If I however synchronise the units of the buffer (so both 1)

![screen shot 2016-08-18 at 15 44 57](https://cloud.githubusercontent.com/assets/2676542/17775930/c1e81110-655a-11e6-8e28-118938b30490.png)
![screen shot 2016-08-18 at 15 45 02](https://cloud.githubusercontent.com/assets/2676542/17775929/c1e84086-655a-11e6-833e-79767197c046.png)

[2016-08-18 14:02] antw commented on #1381
You might want to cherry-pick 4bf9e7dd on to your branch; that should ensure it's not CoP/efficiency-related.

[2016-08-18 14:11] grdw commented on #1381
When cherry-picking your commit (4bf9e7d) it turned from

![screen shot 2016-08-18 at 15 45 02](https://cloud.githubusercontent.com/assets/2676542/17776835/6d665094-655e-11e6-93d7-2cf323d9ca65.png)

to:

![screen shot 2016-08-18 at 16 11 10](https://cloud.githubusercontent.com/assets/2676542/17776836/6d854616-655e-11e6-98b7-1c3365dff6e3.png)

[2016-08-18 14:42] grdw commented on #1381
The number are off due to: https://github.com/quintel/etmoses/issues/1382 I do think it's odd that the gas is off on staging but the gas is on locally. Why would that be?

[2016-08-18 15:09] antw commented on #1381
I looked into this and I believe the (extra) gas consumption is due to #1261. I don't think this pull request is responsible for the problem.

[2016-08-18 15:41] grdw commented on #1381
Closing continuing the discussion in #1368

[2016-08-18 15:41] #1381 closed

[2016-08-18 15:46] grdw commented on #1368
I've the feeling that I'm almost there. There's still one thing that needs to be solving and that's the money 💵 . The `hybrid` part holds all the investment variables but the business case uses the two loose components which in retrospect don't inherit any of the investment variables yet. The simple solution is, give the electricity or gas part all the investment related variables (`om_cost_per_ye

[2016-08-18 19:04] dennisschoenmakers commented on #1372
*Comment from Airbrake:* Resolved [error](https://quintel.airbrake.io/projects/111227/groups/1752584607798638463) reoccurred.

[2016-08-22 08:43] #1345 closed

[2016-08-22 08:52] grdw commented on #1313
I don't get what you mean by this. It should be 'measured' column of your *market model* I guess. The topology just has a `stakeholder` attribute and that's it. In [here](https://github.com/quintel/etmoses/blob/master/app/services/finance/business_case_validator.rb#L20) you see which stakeholder colum it fetches from the Market model.

[2016-08-22 08:57] grdw commented on #925
No, the whole technical background is entirely different. Also what would be the expected outcome in the gas chart; multiple charts with strategies enabled and disabled? The thing is that that would take a considerable amount of time like @antw said.

[2016-08-22 08:58] #1058 closed

[2016-08-22 08:58] grdw commented on #1058
Yes.

[2016-08-22 08:59] grdw commented on #1069
This is already fixed

![screen shot 2016-08-22 at 10 58 51](https://cloud.githubusercontent.com/assets/2676542/17849085/7002609e-6857-11e6-9fa4-5a1770d0d9f1.png)

[2016-08-22 08:59] #1069 closed

[2016-08-22 09:02] grdw commented on #936
[Link to P2G](https://github.com/quintel/etmoses/blob/master/db/static/technologies/energy_flexibility_p2g_electricity.yml)

I don't know? Can someone cross-check the capacities. I don't know if the current value is the correct one. I also forgot why we hard-code the capacity for P2G

[2016-08-22 09:25] ThomBuijs opened #1383 "Changing concurrency of EV to minimum also changes number of Households space/water heater combined network gas"
When I change the concurrency of my EV's from maximum to minimum, ETMoses also changes the number of Households space/water heater combined network gas. However the units for the heating remains the original value (before changing concurrency) or is set to zero. I use this [LES](https://moses.energytransitionmodel.com/testing_grounds/537) for minimum EV concurrency and this is the [LES](https://mo

[2016-08-22 09:57] grdw commented on #540
I'll write a spec for it and display no business case if something went wrong.

[2016-08-22 09:59] ChaelKruip commented on #1368
I think that the business case should take costs of the (total) hybrid thing into account. Is that not the most obvious solution @grdw?

[2016-08-22 10:08] ChaelKruip commented on #1313
I was unclear and rephrased it.

No, the stakeholders in the 'measured at stakeholder' are the ones that should be present in the topology:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/17851192/080fc9c2-6861-11e6-88ac-43b6c0372a54.png)

[2016-08-22 10:31] grdw opened #1385 "Remember the week throughout the load, gas-load and heat-load pages"
As described in: https://github.com/quintel/etmoses/pull/1373

[2016-08-22 10:38] antw commented on #1368
Since the costs are for the combined unit, can't they be assigned to the top-level HHP technology rather than the individual components?

[2016-08-22 10:42] antw commented on #1368
I realise now why that's easier said than done; the costs are [taken from the technologies assigned to the networks](https://github.com/quintel/etmoses/blob/master/app/models/market/initial_costs/technology_costs.rb), whereas the top-level tech isn't assigned to a network (but the individual components are).

Perhaps `TechnologyCosts` can be changed to use `TestingGround#technology_profile` instea

[2016-08-22 11:04] grdw commented on #1368
Was already thinking that 👯

[2016-08-22 11:04] #1356 closed

[2016-08-22 12:30] grdw commented on #1368
I managed to solve it like [this](https://github.com/quintel/etmoses/pull/1322/files#diff-ef7b95ba8dfcf01a0259f362cc54ca29R6). I think the PR is all good. So if somebody could check it out.

[2016-08-22 12:41] #1353 closed

[2016-08-23 07:58] ChaelKruip commented on #1383
Closing as this is a duplicate of https://github.com/quintel/etmoses/issues/1145

[2016-08-23 07:58] #1383 closed

[2016-08-23 08:06] antw commented on #1380
A "Charts are empty" error is raised whenever clicking a node which has a non-existent load (e.g. clicking an MV node while viewing gas). Ideal behaviour would be to show an empty chart with a "there is no load to show" (or words to that effect) like we do with the ETModel excess events chart:

![screen shot 2016-08-23 at 09 04 04](https://cloud.githubusercontent.com/assets/4383/17884503/93f001e6-

[2016-08-23 08:46] grdw commented on #1380
I'll take a look :)

[2016-08-23 10:43] grdw commented on #1380
<img width="1155" alt="screen shot 2016-08-23 at 12 41 11" src="https://cloud.githubusercontent.com/assets/2676542/17889095/ed89add8-692e-11e6-8444-ed23a7c7a723.png">

I managed to make it like this. Also I'm not keen on showing the axis of the chart. This is mainly due to the distortion of the message. You're telling the user that there's no chart available (yet) and you're already showing them a

[2016-08-23 11:01] ChaelKruip commented on #1380
I think this is fine but I would say "All load is zero for Households 1"

Even better would be to include the selected type of load in the message: "All *gas* load is zero for Households 1" because many users are confused by the workings of the carrier-selection button.

[2016-08-23 12:01] ChaelKruip commented on #1331
Assigning @grdw as he knows how to do this without anything breaking...

[2016-08-23 12:02] ChaelKruip commented on #1285
Closing as this issue is out-dated.

[2016-08-23 12:02] #1285 closed

[2016-08-23 12:03] ChaelKruip commented on #1161
Closing this as the toggling is not such a great idea anyways.

[2016-08-23 12:03] #1161 closed

[2016-08-23 12:04] ChaelKruip commented on #1039
What is the status of this @grdw?

[2016-08-23 12:08] grdw commented on #1380
The check is now purely for *['all load'](https://github.com/quintel/etmoses/pull/1386/files#diff-50b59e598d9801423712d14f44c844ecR119)*. If there's only `gas` load zero, you could still show the chart if there's electricity or heat, right?

[2016-08-23 12:29] grdw commented on #1331
Famous last words

[2016-08-23 12:32] grdw commented on #1039
This is already fixed and deployed. I did found a strange bug though when testing out #1386 but that's fixed in that PR (I also think that that bug is only relevant because of the changes that were made for that PR). I'll close this issue therefor.

[2016-08-23 12:32] #1039 closed

[2016-08-23 12:37] grdw commented on #1331
I removed the category on beta since there were no profiles with that load profile category. Production however still has [6 profiles left](https://moses.energytransitionmodel.com/profiles) for Power-to-Heat. What should we do with those? Deprecate them?

[2016-08-23 12:46] grdw commented on #1157
Hmm.. you could do that right now by forgetting to fill in the name for a LES. 😅 Obviously that's a bit of a hack, but it works. What there should be done is the following:

Have a CSV file field + an import button, like said. Than when somebody hits the import button, create a new `TechnologyList` for the `TestingGround` and render (quiet probably with `.js.erb`) a new Profile Matrix and done.. W

[2016-08-23 12:56] grdw commented on #1313
The LES id = 641

The `topology_id` is 309 and the `market_model_id` is 293.

<img width="769" alt="screen shot 2016-08-23 at 14 49 48" src="https://cloud.githubusercontent.com/assets/2676542/17892359/26d3b586-6941-11e6-93e3-f71361645a53.png">

And I don't really see anything happening locally.  Did you edit one of the two afterwards or? I can't seem to reproduce the behavior you specified, also t

[2016-08-23 12:59] #1257 closed

[2016-08-23 13:04] grdw commented on #1158
<img width="1061" alt="screen shot 2016-08-23 at 15 03 00" src="https://cloud.githubusercontent.com/assets/2676542/17892649/b7212b36-6942-11e6-9c10-be485180d1a6.png">

This is what I now see happening. Is this what you mean or is this something else?

[2016-08-23 13:06] grdw commented on #1203
This won't be a problem anymore when #1322 is merged.

[2016-08-23 13:36] ChaelKruip commented on #1331
Yes.

[2016-08-23 13:43] ChaelKruip commented on #1380
That's fine. I meant to say that you can have the following working chart:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/17893892/ab2e59c0-6947-11e6-807f-f346a300f06f.png)
But if you change the carrier (to gas) the chart is empty:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/17893976/efd71ea4-6947-11e6-9f48-22fc16c4cd59.png)

Some people might be less confused if y

[2016-08-23 13:45] ChaelKruip commented on #938
Can this be closed @grdw?

[2016-08-23 13:48] ChaelKruip commented on #1157
How much time do you think this would take @grdw?

[2016-08-23 13:52] ChaelKruip commented on #1313
Closing as this seems to be fixed indeed.

[2016-08-23 13:52] #1313 closed

[2016-08-23 14:15] grdw commented on #1331
I've done it throguh the rails console on production. 👍  Therefor closing.

[2016-08-23 14:15] #1331 closed

[2016-08-23 14:16] ChaelKruip commented on #1158
This seems to be fine. When @DorinevanderVlies was importing the technologies through CSV, the two radio buttons where both not selected for many technologies. If this no longer happens we can close this.

Did you try initialising the technology matrix with CSVs @grdw?

[2016-08-23 14:18] ChaelKruip commented on #1342
I have updated the documentation with the examples given in the expert session at Alliander.

Closing.

[2016-08-23 14:18] #1342 closed

[2016-08-24 06:58] grdw commented on #938
Yes it can

[2016-08-24 06:58] #938 closed

[2016-08-24 07:12] grdw commented on #1158
Yes, I did the hacky version of ['forgetting the name'](https://github.com/quintel/etmoses/issues/1157#issuecomment-241718608). Maybe that's what is causing this bug in the first place. I need to test again . Moment please.

[2016-08-24 07:18] grdw commented on #1158
I can't seem to reproduce this issue. Therefor closing. I'm assuming this is caused by a typo in the csv? Otherwise you can always re-export the CSV to make sure that all the headers are correct.

[2016-08-24 07:18] #1158 closed

[2016-08-24 08:08] ChaelKruip commented on #862
Closing as this issue has been resolved.

[2016-08-24 08:08] #862 closed

[2016-08-24 08:18] grdw commented on #1070
Water heating buffers dind't have profile's assinged to them. Added them manually.

[2016-08-24 08:18] #1070 closed

[2016-08-24 09:01] #993 closed

[2016-08-24 09:15] #998 closed

[2016-08-24 09:15] #999 closed

[2016-08-24 09:15] #1120 closed

[2016-08-24 09:15] #1145 closed

[2016-08-24 09:15] #1170 closed

[2016-08-24 09:15] #1267 closed

[2016-08-24 09:15] #1368 closed

[2016-08-24 09:22] grdw commented on #1319
- [ ] Add extra column called 'enabled' to `asset_lists`
- [ ] Add buttons to gas asset list edit page and heat source list edit page
- [ ] Ignore the 'gas load' page and the 'heat load' page when both options are disabled. Set the corresponding business case costs to 0.

[2016-08-24 10:21] ChaelKruip commented on #326
This is actually a feature request.

[2016-08-24 10:22] ChaelKruip commented on #325
@antw can we close this?

[2016-08-24 10:23] ChaelKruip commented on #1203
Closing this as https://github.com/quintel/etmoses/pull/1322 has been merged

[2016-08-24 10:23] #1203 closed

[2016-08-24 10:23] #325 closed

[2016-08-24 11:20] ChaelKruip commented on #985
This issue is superseded by https://github.com/quintel/etmoses/issues/1319

[2016-08-24 11:20] #985 closed

[2016-08-24 11:35] ChaelKruip opened #1388 "District heating should inherit units and only allow boosting"
Currently, the user can edit the number of units and toggle the buffering/boosting:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/17929228/69844382-69ff-11e6-9d01-8710e8831970.png)

Buffering should be disabled as an option (as with combi-boilers and other gas-technologies). The units should be inherited from the buffer (as with other technologies).

[2016-08-24 11:45] #1388 closed

[2016-08-24 11:45] ChaelKruip commented on #1079
Which GQL's are used for the capacity per unit and the number of units for the dispatchable part?

[2016-08-24 11:53] antw commented on #1079
* [Capacity](https://github.com/quintel/etsource/blob/master/gqueries/modules/etmoses/etmoses_dispatchable_capacity_for_households_from_central_heat_network.gql)

I can't find where the number of units is set. Yesterday I found that number of units [wasn't set for the must-run](https://github.com/quintel/etmoses/commit/9233b00290ba5612eb5efa9f4f016d1596e933db), perhaps that is also true for the di

[2016-08-24 12:00] antw commented on #1079
I can't find any sign of the number of units being set for the dispatchable. Is it meant to be set to 1.0 by the app?

[2016-08-24 12:08] ChaelKruip commented on #1079
For the must-runs, the only thing that matters is the yearly production. Number of units or capacity per unit are irrelevant and often unknown. Think of it as a swimming pool that has some excess heat which can be used in the neighbouring houses. Nobody knows what the capacity or units of the swimming pool is but rather how much heat is coming from there every year.

For the dispatchables, the ins

[2016-08-24 12:32] #1079 closed

[2016-08-24 12:59] #1380 closed

[2016-08-24 13:02] antw commented on #1079
Number of units does matter, albeit [only internally](https://github.com/quintel/etmoses/blob/bfe224ed9ac1e98b98eb7e099cc49bc8b21e7f45/app/models/installed_heat_source.rb#L57). It's set to 1.0 anyway, so it should make no difference to the end-user.

Done.

[2016-08-24 13:08] ChaelKruip opened #1389 "Consumption of P2G should be shown on higher nodes"
Currently it is not shown for higher nodes:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/17931596/8f58d03e-6a0c-11e6-80ae-1fda0069a006.png)
Although it is available for lower nodes:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/17931606/9ff4c04c-6a0c-11e6-84f9-dfe600661742.png)

[2016-08-24 13:14] antw commented on #1389
The P2G is using the excess solar production on the endpoint. I don't see why it's would load appear on the MS-LS node.

This sounds very much like #1378?

[2016-08-24 13:16] antw commented on #1382
I think this is still broken. When the chart *first* loads, the vertical axis has the wrong numbers. Toggling any of the carriers on or off causes the axis to re-render, and then the values are correct.

![screen shot 2016-08-24 at 14 15 23](https://cloud.githubusercontent.com/assets/4383/17931871/4e5f9132-6a05-11e6-9c0f-589ab1e24d38.png)

[2016-08-24 13:18] antw commented on #1382
If I put `this.setYscaleDomain(false);` towards the end of D3LoadChart.update, that fixes it. I'm not sure if that is the correct thing to do though?

[2016-08-24 13:18] ChaelKruip commented on #1389
Yes! And I understand my own confusion a bit better now: because it cancels local production, its effects are locally only. In my mind, each technology was having impact on the higher nodes but this is a misconception.

[2016-08-24 13:18] #1389 closed

[2016-08-24 13:20] #1363 closed

[2016-08-24 13:25] ChaelKruip commented on #936
The capacity seems to be correct. You can find stuff like that on ETSource @grdw: [energy_flexibility_p2g_electricity.ad#L22](https://github.com/quintel/etsource/blob/master/nodes/energy/energy_flexibility_p2g_electricity.ad#L22)

Perhaps we can un-hard-code it then? I don't see any reason for it.

[2016-08-24 13:42] grdw commented on #1382
Hmm.. I'll take a closer look.. one moment.

[2016-08-24 13:49] #1382 closed

[2016-08-24 13:50] grdw commented on #1382
I put it at the end of `render` stating that it only occurs the first time drawing. Update would trigger a recalculation everytime which is a little overkill.

[2016-08-24 13:54] grdw commented on #1382
Hmm.. and than I had to put it back at `update`. 🎊 When you switch from `total -> invididual` the Y-scale is still incorrect. But not anymore .... in 3,2,1..

[2016-08-24 13:56] grdw commented on #936
I'm a big fan of un-hard-coding.

[2016-08-24 15:25] grdw commented on #1147
The weird thing is that [this error](https://quintel.airbrake.io/projects/111227/groups/1717440641621278465) still occurs even though we deployed way past 2016(06)(10)160327 (10th of June).

Delayed job fails to restart. There was a process running from the 10th of June. I'll have to look why Delayed job fails to restart.

I killed the old processes and started them with:

[code]

[2016-08-24 15:36] grdw commented on #1319
I am now able to disable the Gas asset list and Heat asset list however I have no idea what 'disable' means in this context. I assumed this was to exclude it from the business case. This was an understatement.

The following things could be part of 'disable'

- Ignore the business case
- Ignore all gas/heat load (also at end-points)
- Ignore all gas/heat load related market model measures (for pro

[2016-08-24 23:05] dennisschoenmakers opened #1390 "[Airbrake] [Staging] undefined method `profile_required?' for nil:NilClass"
**Airbrake error:** [#0798](https://quintel.airbrake.io/projects/111227/groups/1759727466347740798)
**Airbrake project:** ETMoses

**Error type:** `NoMethodError`
**Error message:** `` undefined method `profile_required?' for nil:NilClass ``
**Where:** `testing_grounds#show`
**Occurred at:** Aug 24, 2016 23:05:09 UTC
**First seen at:** Aug 24, 2016 23:05:09 UTC
**Occurrences:** 1 (1 since last dep

[2016-08-25 08:01] ChaelKruip commented on #1319
Perhaps we can break this discussion up into sections:

* Scope
* What should it look like to the user? / What can the user do?
* What happens to the load calculation?
* What happens to the Market model?
* What happens to the Business case?

## Scope

My feeling is that this functionality is relevant for
* gas infra
* heat infra
* district heat sources

##  What should it look like to the user? /

[2016-08-25 08:12] grdw commented on #1319
Disabling the heat infra now results in the disabling of district heat sources and the other way around. So I think we should talk about disabling the "heat network" and disabling the "gas network" as a whole.

Right now the `calculation_context` contains all three networks in an array. We might add/remove them depending on which asset list is enabled or not? Could you verify it might work somethi

[2016-08-25 08:15] #1390 closed

[2016-08-25 08:18] dennisschoenmakers opened #1391 "[Airbrake] [Staging] undefined method `carrier' for nil:NilClass"
**Airbrake error:** [#4322](https://quintel.airbrake.io/projects/111227/groups/1760006276238524322)
**Airbrake project:** ETMoses

**Error type:** `NoMethodError`
**Error message:** `` undefined method `carrier' for nil:NilClass ``
**Where:** `testing_grounds#data`
**Occurred at:** Aug 25, 2016 08:19:06 UTC
**First seen at:** Aug 25, 2016 08:19:06 UTC
**Occurrences:** 2 (2 since last deploy on Aug

[2016-08-25 08:19] #1372 closed

[2016-08-25 08:27] grdw commented on #1375
The `households_flexibility_p2h_electricity` can't be found. It was removed in 522ceca32f4256f64d838256f765ba997f272dcf but there was no migration done for old LES's or?

[2016-08-25 08:49] grdw commented on #1375
Including @antw

[2016-08-25 08:59] antw commented on #1319
Can a visitor not just delete the infrastructure from the LES? I think this is opaque only because the business case doesn't explain the breakdown of each cost, which may leave a visitor wondering where a number came from. I think it's *really* unintuitive to see a list of heat and gas assets, only have to them do nothing in the LES because a magic "Disable [carrier]?" button was pressed.

If sett

[2016-08-25 09:00] antw commented on #1375
[There was a migration](https://github.com/quintel/etmoses/blob/master/db/migrate/20160804143207_replace_p2h_with_resistive_heaters.rb). 😕

I'll take a look at the LES and see if I can find out why it was missed.

[2016-08-25 09:01] dennisschoenmakers opened #1393 "[Airbrake] [Staging] undefined method `carrier' for nil:NilClass"
**Airbrake error:** [#6687](https://quintel.airbrake.io/projects/111227/groups/1760027752266186687)
**Airbrake project:** ETMoses

**Error type:** `NoMethodError`
**Error message:** `` undefined method `carrier' for nil:NilClass ``
**Where:** `testing_grounds#edit`
**Occurred at:** Aug 25, 2016 09:01:47 UTC
**First seen at:** Aug 25, 2016 09:01:47 UTC
**Occurrences:** 1 (1 since last deploy on Aug

[2016-08-25 09:03] grdw commented on #1375
Hmm. It seems to be a pretty old LES and it's yours 😅 so I don't know. Maybe the P2H is not attached to a buffer?

[2016-08-25 09:05] antw commented on #1375
That's what it is, good catch! :+1:

[2016-08-25 09:05] grdw commented on #1319
Couldn't we just decide to not create the asset lists at all? I mean, it saves database clutter. Or do we allow the user - after he/she created the LES - to manually add technologies to the empty asset lists?

[2016-08-25 09:14] ChaelKruip commented on #1319
Fair point. Like the reference to [http://www.imdb.com/title/tt0088258/](http://www.imdb.com/title/tt0088258/) 😄

I like this idea a lot! 👍

Perhaps we should warn the user if he/she un-checks a box but has technologies in the LES that depend on those infrastructures?

I think so yes.

[2016-08-25 09:15] antw commented on #1319
We could, but then you have to handle that explicitly with `if les.gas_asset_list.present?` *every* time you want to do something with an asset list. It's very easy to introduce bugs, because one day we'll assume that the assets lists will be there and forget to add the conditional.

Not adding a blank `asset_list` to the DB *would* be okay so long as we have something like:

[code]

... that way,

[2016-08-25 09:32] grdw commented on #1319
This also takes some changes to the current `asset_list` forms, since you can't add a technology to the table if your `asset_list` is blank. If you'd move the "+" icon to the header row this problem would be solved :)

[2016-08-25 09:37] ChaelKruip commented on #1319
I am in favour of this anyways because now you can't delete the last line even if you wanted to remove infrastructure manually.

[2016-08-25 10:38] ChaelKruip commented on #1319
I think we should go ahead with this. Assigning @grdw.

[2016-08-25 10:42] grdw commented on #1319
![screen shot 2016-08-25 at 12 41 22](https://cloud.githubusercontent.com/assets/2676542/17966332/4125dc12-6ac1-11e6-9bbc-583e07281f05.png)

I already started on changing the asset list table so it's possible to remove every row.

[2016-08-25 12:46] grdw commented on #1359
Assigning @antw because this should be returned as a negative serie from the gas flow calculation. I could also do it in the .js but this sounds unelegant.

[2016-08-25 12:57] grdw commented on #1096
After discussion we have decided to close this issue because there's no obvious improvment to this issue.

[2016-08-25 12:57] #1096 closed

[2016-08-25 13:17] antw opened #1394 "Combine input and output capacity fields on one line"
Random thought for reducing form clutter:

<img width="408" alt="screen shot 2016-08-25 at 14 12 21" src="https://cloud.githubusercontent.com/assets/4383/17970327/0b7686fe-6ace-11e6-9f93-b611a162b1e5.png">

[code]

[2016-08-25 13:37] ThomBuijs opened #1395 "How does the P2H strategy work for heat pumps?"
I'm testing the P2H strategy with heat pumps, but I can't figure out why there is no difference between the standard case and the one with the strategy applied. I'm using this [les](https://beta-moses.energytransitionmodel.com/testing_grounds/712). When I add an electric heater there is a change between the strategy applied and not applied but it's still looking weird to me, as there is an increas

[2016-08-25 13:51] #540 closed

[2016-08-25 13:53] ChaelKruip commented on #1395
My suspicion is that the buffers are already full and therefore no extra heat can be stored with the P2H strategy. This would be solved by https://github.com/quintel/etmoses/issues/670 right @antw?

I think this is due to the difference in COP. If no strategy is applied, heat pumps (with COP = 4.5) fill the buffers. If the strategy is applied, a part of the heat is provided by the electric heater

[2016-08-25 13:55] grdw commented on #1319
There are currently two ways of making the asset table fully removable:

**My first idea:**
![screen shot 2016-08-25 at 14 42 26](https://cloud.githubusercontent.com/assets/2676542/17969417/3c421fba-6ad2-11e6-8257-d4cb8d198e05.png)

*Pro's*
- The table looks empty

*Con's*
- It's pretty unclear what the '+' button will 'add' (you can't control the newly added row).

---

**My second idea**
![scree

[2016-08-25 13:57] ChaelKruip commented on #1090
I think that we should support mouse-over break down of numbers for the business case summary shown in the results section:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/17971773/81c1faf6-6adc-11e6-8064-ac44a770115c.png)
Perhaps we can also support mouse-over break down for the matrix in the edit section.

[2016-08-25 14:01] antw commented on #1395
Prior to [the recent P2H changes]((https://github.com/quintel/etmoses/commit/522ceca32f4256f64d838256f765ba997f272dcf)), heat pumps would *always* convert excess electricity to (buffered) heat. The strategy only affected the (now-removed) dedicated P2H technology.

In making those changes, the dedicated P2H tech was removed and all electric heating technologies we made to buffer whenever the P2H s

[2016-08-25 14:11] ThomBuijs commented on #1395
Okay, so if I understand correctly the P2H strategy doens't use heat pumps?

[2016-08-25 14:13] ChaelKruip commented on #1395
Unless the buffer is full right? But that would change with #670...

Yes and no. It uses them alright but because the buffers are already full due to the default buffering strategy it has no visible effect.

[2016-08-25 14:16] ThomBuijs commented on #1395
This means that due to the default buffering of heat pumps the P2H strategy can't be applied when there are heat pumps in the technology table, since it will cause the buffers to be full. Therefore, the other heating technologies can't convert excess solar electricity to heat for the buffer.

[2016-08-25 14:19] antw commented on #1395
Correct. If the buffer is full, no further buffering can occur and the excess electricity will go unused (returned to the grid, or used by a buffer or technology in another endpoint).

That depends on how much buffering volume, and how many heat pumps, are available in your LES. If you have a large volume and few heat pumps, there will still be plenty of opportunity for other technologies to conve

[2016-08-25 14:21] ChaelKruip commented on #1395
Yes. That is exactly why I think #670 is important and I hope we can make it happen this sprint. That will allow buffers to be filled to a higher temperature (bigger volume) when the P2H is in effect. So, the buffers will reserve some extra space for those moments that there is excess electricity production.

[2016-08-25 14:24] #1375 closed

[2016-08-25 14:24] #1391 closed

[2016-08-25 14:24] #1393 closed

[2016-08-25 14:27] ChaelKruip commented on #1319
I like the first idea because it conveys the message that the table is empty.

In the second case, a user might fill in values for the row which is shown and forget to press "+" (why would he/she? The row is already there right?) This would be more confusing than option 1 IMO.

I'd like to hear other opinions as well though! @antw @jorisberkhout @dennisschoenmakers @MarjoleinSchwachofer @ThomBuijs

[2016-08-25 14:42] ThomBuijs commented on #1395
If I'm correct, the number of heat pumps is equal to the number of buffers, since I can't change the number of heat pumps directly. So I guess this means that I would have 2 (or more) buffers where each buffer has its own heating technology, for example heat pumps for buffer water heating #1 and electric boilers for water heating #2. In this case then the effect of P2H would become visible for the

[2016-08-25 14:44] antw commented on #1319
If the table is empty, render an "Add heat source" button in place of the empty row:

![addsource](https://cloud.githubusercontent.com/assets/4383/17973528/ba032c8e-6ada-11e6-9713-db01b4d44c56.png)

[2016-08-25 14:48] ChaelKruip commented on #1090
I am still unsure to what level of detail we break down the costs. My first guess would be to identify:

* Depreciation costs of [carrier] infra
* O&M costs of [carrier] infra
* Depreciation costs of district heat sources
* O&M costs of district heat sources
* Result of every relevant row (transaction) of the Market Model

The results could perhaps be displayed as follows:

[code]

[2016-08-25 14:48] ChaelKruip commented on #1090
@grdw @dennisschoenmakers @antw @MarjoleinSchwachofer @ThomBuijs what do you think would be useful?

[2016-08-25 15:31] #1359 closed

[2016-08-25 16:24] ThomBuijs commented on #1395
So for my own understanding, P2H strategy isn't working in the way that it uses excess (solar) electricity to produce heat (but instead tries to fill the buffer completely). When #670 is implemented then the P2H strategy will convert the excess electricity to heat? Because in my opinion this is not the case right now.

[2016-08-25 16:38] antw commented on #1395
You're correct about this; energy is being taken from the grid in order to fill the buffers, and not just from excess solar PV. I'm fairly sure that's a mistake and it will be corrected momentarily.

I'm unclear whether heat pumps are permitted to take energy from the grid when buffering – the documentation doesn't say one way or another. Historically they *have* been allowed to do this in our mod

[2016-08-26 07:02] ChaelKruip commented on #1395
In default 'buffering' mode, heat pumps all fill up the storage as quickly as they can using local production first and electricity from the grid secondly if needed.

If the 'only buffer heat pumps if network has spare capacity'-strategy is invoked, electricity is only taken from the grid if this does not lead to congestion.

[2016-08-26 07:54] ChaelKruip commented on #1063
This has been fixed on BETA and will be pushed to LIVE at the next deploy. Closing.

[2016-08-26 07:54] #1063 closed

[2016-08-26 07:59] ChaelKruip commented on #432
This has not happened for a while so I think this was an old LES that triggered the re-opening. Closing.

[2016-08-26 07:59] #432 closed

[2016-08-26 08:02] ChaelKruip commented on #731
This has not happened since Februari and is most likely outdated. Closing so we will be properly updated if it re-occurs.

[2016-08-26 08:02] #731 closed

[2016-08-26 08:05] ChaelKruip commented on #839
I think this needs a bit more thought before being implemented. Removing milestone.

[2016-08-26 08:06] ThomBuijs commented on #1395
Yes I agree and it is clear to me. So for now the P2H is not working but will be fixed with the help of #670, is this correct. Then I will test this strategy again when this is implemented.

[2016-08-26 08:12] ChaelKruip commented on #1395
Closing this issue as it is superseded by #670

[2016-08-26 08:14] ChaelKruip commented on #1151
I have updated this issue and will remove the milestone as all tasks scheduled for the milestone have been completed with the exception of input validation which is a continued effort and not a single issue.

[2016-08-26 10:08] ChaelKruip opened #1397 "Heat load chart needs axis label"
![etmoses](https://cloud.githubusercontent.com/assets/1303760/18001996/cfdfe23a-6b85-11e6-80b5-df42889d4056.png)

[2016-08-26 10:12] jorisberkhout opened #1398 "Split function assigns deprecated profile that is no longer be included in concurrency"
We increased the storage volume of electric vehicles in the ETM in https://github.com/quintel/etsource/commit/526e1960f599b5409147be8352b77722b425c5ce. This means that any newly installed electric vehicles in ETMoses will have a storage volume of 100 kWh. Since the electric vehicles availability profiles depend on this storage volume, I generated new profiles and uploaded them to the Beta server.

[2016-08-26 11:23] grdw commented on #1319
If the asset list is empty couldn't we just also remove the header of the table? And ofourse; if you add a new row, show the header.

*Technical questions*
I'm currently trying to set `import_gas_assets` and `import_heat_assets`. However the `check_box` form helper automatically asumes that the value is either '1' or '0'. The `Import` class does not know how to deal with this since the `attr_reade

[2016-08-26 13:53] grdw commented on #1319
Going from one problem to the next. Adding a button to create a new table row is a good idea. However, removing all table rows, actually removes them from the dom. This is 'great' and not so 'great'. Great because gone = gone. Not so great, because the 'Add a must-run heat source' button has no dom-elements to draw from. I'm trying to solve this by abusing the `<tfoot>` element and placing a hidde

[2016-08-26 14:22] grdw commented on #1091
The whole attribute `default_demand`  does not exist anymore. It seems impossible that this error will ever re-occur.

[2016-08-26 14:22] #1091 closed

[2016-08-26 14:27] grdw commented on #1142
It looks like @DorinevanderVlies hacked ETMoses. 😓 However, I think this is a masked error. The error indicates that the gas asset list is blank. This can be possible if all the gas assset types were not properly saved or inproperly added (?). This will result in the problem that the gas asset list will filter out all the non-existing gas asset types. What I'd rather see is that the `GasAssetListD

[2016-08-26 14:50] grdw commented on #1350
I can't seem to reproduce this issue. Therefor closing.

[2016-08-26 14:50] #1350 closed

[2016-08-26 14:51] dennisschoenmakers opened #1399 "[Airbrake] [Staging] Validation failed: Technology profile includes a connection to missing node "PV plant""
**Airbrake error:** [#5115](https://quintel.airbrake.io/projects/111227/groups/1760928443985805115)
**Airbrake project:** ETMoses

**Error type:** `ActiveRecord::RecordInvalid`
**Error message:** `` Validation failed: Technology profile includes a connection to missing node "PV plant" ``
**Where:** `testing_grounds#save_as`
**Occurred at:** Aug 26, 2016 14:50:21 UTC
**First seen at:** Aug 26, 2016

[2016-08-26 14:53] grdw commented on #1315
Hmm.. looks like somebody renamed the Topology names.... funny that nobody does this until now haha. This should not be possible in the first place however I have no simple fix on how to prevent a user from doing this.

[2016-08-26 15:03] grdw commented on #1236
Closing. I know who did it and why it happened 😶

[2016-08-26 15:03] #1236 closed

[2016-08-29 11:56] antw commented on #1319
Its a little ugly to store temporary data with the TestingGround, since it means adding columns which will never be used except during the import.

I see two ways around this:

* Add a new `imports` table and model which stores information about the import:

  * `id`
  * `scenario_id`
  * `topology_id`
  * `market_model_id`
  * **`gas_enabled`** (bool)
  * **`heat_enabled`** (bool)

  ... then whe

[2016-08-29 12:13] grdw commented on #1397
Fixed by https://github.com/quintel/etmoses/commit/4c1b3b468871f6ea67d5bbc968a735bf999c4db3

[2016-08-29 12:13] #1397 closed

[2016-08-29 12:40] ThomBuijs opened #1400 "What is the effect of changing the charging power and battery volume?"
I would like to make a LES with electric vehicles with a different then default charging power and battery volume. Can I just use the standard availability scenario's which have a default charging power of 3.7 kW and battery capacity of 25 kWh? Or what kind of assumptions am I making when I for example change the charging power to 11 kW and battery volume to 85.5 kWh?

[2016-08-29 13:05] grdw commented on #1352
I was a bit to quick with that one.

Hmm.. should we? I don't have a really strong opinion about this matter but maybe people who work at Alliander do? What insights do you have @ChaelKruip

[2016-08-29 13:17] ChaelKruip commented on #1352
Yes, I think so. Only the owners (and admin's) can use this button for private LESses so it is a very logical way to go IMO.

@dennisschoenmakers @MarjoleinSchwachofer do you have an opinion?

[2016-08-29 14:11] #1261 closed

[2016-08-29 14:21] antw commented on #1398
It is my understanding that splitting a technology gives you an exact duplicate of the original (including the profile) and halves the number of units for each. It's up to the user if they want to assign a different profile (or change any other attributes) for the new technology.

[2016-08-29 14:23] ChaelKruip commented on #1398
Is this true @grdw? I suspect that the 'clone' gets a new profile...

[2016-08-29 14:46] ChaelKruip commented on #1400
The profiles for EV are such that they cannot be meaningfully used with other charging capacities and storage volumes. It is, however, not difficult to produce profiles for other combinations of capacity and volume with [this Python script](https://github.com/quintel/etmoses/blob/master/scripts/electric_vehicles/EV_availability_profile_generator.py).

You can download, edit and run the script your

[2016-08-29 14:46] #1400 closed

[2016-08-29 15:27] grdw commented on #1319
This is the same when adding a separate `import` table and putting those columns in there. So I don't see any validity in the `imports` table.

Maybe we could set the two checkboxes through [form objects](https://robots.thoughtbot.com/activemodel-form-objects). This problem sounds exactly like the right use for it. So instead of using the `@testing_ground` as the actual form. Use a form object.

[2016-08-29 15:31] ThomBuijs commented on #1400
I am not too familiar with Python and at the moment I cannot install it on my laptop. If it isn't too much trouble can you make a profile for a charging power of 11 kW and a battery volume of 85.5 kWh? These are the specifications of a Tesla  Model S P90D. Thank you in advance

[2016-08-29 15:58] antw commented on #1319
Not really. There's a difference between a *table* which stores temporary data – which can be cleaned out regularly if necessary, without side-effects – and adding one-time-use columns to an unrelated table that forever take up space (remember also that ActiveRecord reads and writes all those values every time you `find` or `save`). A permanent record of the import has the advantage of repeatabili

[2016-08-30 07:34] ChaelKruip commented on #1400
The profiles (11 different ones) can be downloaded here:
[tesla_profiles.zip](https://github.com/quintel/etmoses/files/444247/tesla_profiles.zip)

You can upload them into the application by choosing 'create new load profile' from the profile menu.

[2016-08-30 07:35] ChaelKruip commented on #1400
Let me know if this does not solve your problems.

[2016-08-30 08:17] grdw commented on #1398
So you are assuming that by the 100 kWh in their name the code automatically looks at the volume of the EV and picks the correct profile? Would be a cool feature.

That's not really how that works.... because they are still in the select box:
![screen shot 2016-08-30 at 10 12 49](https://cloud.githubusercontent.com/assets/2676542/18081400/58a4c24a-6e9a-11e6-9694-41a51bc37e0c.png)

The way this wor

[2016-08-30 08:25] ChaelKruip commented on #1398
If so, how can it be possible that @jorisberkhout experiences this:

So, either the clone gets the exact same profile as the original and @jorisberkhout is lying. Or the clone gets assigned another profile and @grdw is lying. 😜

[2016-08-30 08:51] grdw commented on #1398
The current profile matrix editor is pretty dumb when splitting and selecting a new profile (just like we told each other to do). When hitting the split button it selects the first profile from the select box. However, when importing the code automatically selects the first profile where `included_in_concurrency` (which right now is a pretty useless name, because it should just be called `visible`

[2016-08-30 08:58] ChaelKruip commented on #1398
Wouldn't 'automatically_selectable' be a better term? The application can only choose from those profiles that have that boolean set to True. The user can also select other profiles still.

[2016-08-30 09:06] antw commented on #1398
It looks to me like splitting assigns the same profile as the original technology. For me, at least, it doesn't assign a new profile at random, nor does it default back to the first profile in the `<select>` box (`base_load_4` is the fourth option in the list).

### Before

<img width="801" alt="screen shot 2016-08-30 at 10 01 02" src="https://cloud.githubusercontent.com/assets/4383/18082906/bc9d5

[2016-08-30 09:08] grdw commented on #1398
Hmm.. I need to think about that.

That's only true for base loads. Every non-base load technology fishes out the first profile from the select box. This is because base loads have the [EdsnSwitch](https://github.com/quintel/etmoses/blob/master/app/assets/javascripts/les/profile_matrix_editor/edsn_switch.js) in between the profile selection.

[2016-08-30 09:43] grdw commented on #1311
*Todo:*
- [ ] Never round anything (show everything raw)
- [ ] Write a little JS class that rounds 'most' inputs (sets data-raw).
- [ ] Unrounded value should be stored in `data` attribute.
- [ ] Show unrounded raw value in front-end when clicking
- [ ] Onblur should round again

[2016-08-30 10:03] grdw commented on #1319
I tried this yesterday for a moment. But this sounded nice on paper, but hard todo in practise. The `Import` form needs to send all the data to the `#new` (profile matrix) form and not build an actual `TestingGround` (which is a bit of a large step).

Than the `form_for` at the new page had to change to the form object which was harder than it looked considering the major use of helpers and checki

[2016-08-30 12:12] MarjoleinSchwachofer commented on #1090
I think this indeed would be a useful breakdown.

Another nice to have would be if you could export the businesscase and breakdown in an Excel or something and not only see them in the mouseover. So that you can copy them easily.

[2016-08-30 12:54] ThomBuijs commented on #1400
Thank you very much!

[2016-08-30 12:55] MarjoleinSchwachofer commented on #1352
It isn't directly clear to me what the difference is, so I would have to look into this.
@ThomBuijs @JeroenvdLogt: do you already have an opinion on this?

[2016-08-30 12:58] MarjoleinSchwachofer opened #1402 "Future enhancement - gas storage technology"
This is related to issue Gas storage/LNG #951. When biogas infeed will be added or large P2G with the current strategy will be applied, this would be an interesting /relevant option to include in ETMoses. This would be an alternative for reinforcing the grid / investing in grid compressors. We therefore suggest to keep it on the overall backlog (longterm wishes). If you can indicate which things n

[2016-08-30 13:02] ThomBuijs opened #1403 "How do I create a profile of electricity demand building"
I want to upload a profile for the electricity demand of a building. Right now I have the amount of kW per 15 minutes for a year. Do I need to scale this profile to the highest kW peak in the original profile. Or do I need to scale the profile in such a way that the total energy for a year equals 1 kWh (so dividing each datapoint by the total energy demand of that building). I tried to find it on

[2016-08-30 13:41] ChaelKruip commented on #1403
The application scales the profile automatically so it does not matter what the original scaling is.

The demand (the surface area under the profile) can be given in the technology matrix after the LES is created. Demand does not have to be specified when uploading a profile.

I will add some explanation in the documentation about this.

[2016-08-30 13:47] ChaelKruip opened #1404 "The default volume, demand and capacity for profiles should be removed"
![etmoses](https://cloud.githubusercontent.com/assets/1303760/18091470/0636faf8-6ec9-11e6-9c3f-9d93edae2405.png)

I don't think it is used often (and I'm not sure if it is fully supported still) but it can lead to confusion and possibly errors.

[2016-08-30 14:47] ThomBuijs commented on #902
When is the fix for this expected. Or is there a workaround available?

[2016-08-30 15:07] ChaelKruip commented on #902
This is not planned yet.

[2016-08-30 16:14] #1062 closed

[2016-08-31 13:25] #670 closed

[2016-08-31 14:05] ThomBuijs opened #1406 "The stakeholder cooperation is not in my LES but still in the businessmodel?"
I'm using this [LES](https://moses.energytransitionmodel.com/testing_grounds/542/business_cases/306) where I have no stakeholder named cooperation. However I still have this stakeholder in my business case and it has a outgoing cashflow which I don't understand. I cannot see the stakeholder in the marketmodel, topology, gas asset lists or the technology table. Can someone have a look at it or expl

[2016-08-31 15:04] ChaelKruip commented on #1406
Looking at the gas asset list in the database, the cooperation is the owner of all gas assets. In the front-end this is not shown however.

It seems that only stakeholders that are present in the topology file can be selected to own a part of the gas assets. **This is wrong.**
Moreover, the cooperation used to be the default stakeholder for gas assets so perhaps something has gone wrong when we ch

[2016-08-31 15:12] antw commented on #1406
I've changed the stakeholder for the gas assets to be "system operator" (since I believe that is correct for the live/production application). The cooperation has no longer appears in the business case.

![screen shot 2016-08-31 at 16 09 22](https://cloud.githubusercontent.com/assets/4383/18134157/534d3d6c-6f95-11e6-9332-37347f14c3db.png)

This has been fixed on beta. All stakeholders are availabl

[2016-09-01 08:11] grdw commented on #1090
![screen shot 2016-09-01 at 10 07 20](https://cloud.githubusercontent.com/assets/2676542/18160119/1aa0add6-702c-11e6-8a2b-b7820b06692f.png)

Right now it shows the breakdown of the total numbers. It does not yet know if the calculated number came from O&M costs or were depreciation costs etc.

[2016-09-01 08:56] ThomBuijs commented on #1406
I made a new [LES](https://moses.energytransitionmodel.com/testing_grounds/545/business_cases/309) and the cooperation stakeholder is back again. This time its value is zero, but I would rather leave him out of the picture at all. Any ideas on how to solve this?

[2016-09-01 10:55] ThomBuijs commented on #1406
I forgot to change the stakeholder to system operator.. So I am closing this, since it is fixed now.

[2016-09-01 10:55] #1406 closed

[2016-09-01 11:19] #1105 closed

[2016-09-01 11:19] #1156 closed

[2016-09-01 11:23] ChaelKruip commented on #1330
Re-opened to keep this on the radar.

[2016-09-01 12:05] dennisschoenmakers opened #1407 "[Airbrake] [Production] comparison of String with 0 failed"
**Airbrake error:** [#4776](https://quintel.airbrake.io/projects/111227/groups/1765193666125084776)
**Airbrake project:** ETMoses

**Error type:** `ArgumentError`
**Error message:** `` comparison of String with 0 failed ``
**Where:** `testing_grounds#update`
**Occurred at:** Sep 01, 2016 12:04:40 UTC
**First seen at:** Sep 01, 2016 12:04:40 UTC
**Occurrences:** 1 (1 since last deploy on Jul 18, 20

[2016-09-02 07:16] MarjoleinSchwachofer commented on #1352
If I clone  my own LES, cloning works and works the same as save as, only do not have to go to click edit, go to the general page en find this button (which needs a lot of more steps and is not directly visible). Is this correct?
I tried to clone a public LES from someone else, but nothing happened. This would be a handy function  and than it would be logical to give it another name so that it can

[2016-09-02 09:04] dennisschoenmakers commented on #1117
*Comment from Airbrake:* Resolved [error](https://quintel.airbrake.io/projects/111227/groups/1712971192235176415) reoccurred.

[2016-09-03 16:28] ThomBuijs commented on #1395
I'm currently testing the P2H strategy for heat pumps but there not working as they should. I am using this [LES](https://beta-moses.energytransitionmodel.com/testing_grounds/712) but as you can see there is no change in the excess local electricity (due to PV).
![p2h with heat pumps](https://cloud.githubusercontent.com/assets/20039533/18226155/c48595f4-7203-11e6-923c-85b8a24aa9c4.PNG)
It was my u

[2016-09-03 16:45] antw commented on #1395
There are no electric heating technologies installed in that LES except for the heat pump. Heat pumps may always buffer electricity into heat, therefore there is no change in behaviour when enabling the P2H strategy.

In addition, our implementation of heat pumps presently cannot distinguish between energy coming from the grid and energy coming from excess local production (solar PV), therefore th

[2016-09-03 16:50] ThomBuijs commented on #1395
Exactly, therefore issue #626 should be open I guess. Since the heatpump is not influenced by the P2H strategy. Or am I missing something?

[2016-09-05 07:42] ChaelKruip commented on #1138
is this a duplicate of https://github.com/quintel/etmoses/issues/864 @antw @grdw?

[2016-09-05 08:01] grdw commented on #1138
It sounds like it. I'll close the older #864 and keep this one.

[2016-09-05 08:01] #864 closed

[2016-09-05 08:08] grdw commented on #1407
This is another type casting done wrong. `units` is interpreted as as `String` probably due to a faulty CSV import. In Excel, when the CSV is exported, the numbers are being seen as a `String` due to a fauly separator setting (?) would be my guess.

[2016-09-05 08:37] grdw opened #1409 "Merge the buffer and the technology it is attached to into one"

[2016-09-05 08:41] #1409 closed

[2016-09-05 09:23] ChaelKruip opened #1410 "Split functionality in documentation plus links"

[2016-09-05 09:33] ChaelKruip opened #1411 "What do the gas assets really mean?"
Do we use what we have in the ground or what has been deployed in a recent year? Or a mixture?

[2016-09-05 11:40] grdw commented on #1352
Yes. This is correct.

Could you be more specific? Nothing as in, the Clone button didn't work, the 'Save' button didn't bring you to the page of the cloned LES?

[2016-09-05 12:56] #1311 closed

[2016-09-06 06:44] dennisschoenmakers opened #1412 "[Airbrake] [Production] Validation failed: Technology profile includes a connection to missing node "Eengezin 55a", Technology profile includes a connection to missing node "Eengezin 35a", Technology profile includes a connection to missing node "Eenge..."
**Airbrake error:** [#4956](https://quintel.airbrake.io/projects/111227/groups/1768656416306344956)
**Airbrake project:** ETMoses

**Error type:** `ActiveRecord::RecordInvalid`
**Error message:** `` Validation failed: Technology profile includes a connection to missing node "Eengezin 55a", Technology profile includes a connection to missing node "Eengezin 35a", Technology profile includes a connec

[2016-09-06 08:25] #1090 closed

[2016-09-06 09:24] grdw commented on #1157
Allright, I took some morning time to figure this out. It turns out that there are multiple ways to achieve what we need. Because we need to upload a file to the server I think it would be best to make a separate form for the import of the CSV. However, this takes some changes in the actual layout since you can't put a form inside of a form. What I mean by this is that:

<img width="755" alt="scre

[2016-09-06 09:57] grdw commented on #1157
Allright, I did some more investigating. But changing the `action` of the form is a bad idea. Since you can't change the `data-remote` button on the fly. It has to be `remote` when loading the page... *sigh*. So we would have to drag the import csv out of the box like this:

It's technically simpler, layout-wise uglier:

<img width="760" alt="screen shot 2016-09-06 at 11 53 25" src="https://cloud.

[2016-09-06 10:59] JeroenvdLogt opened #1413 "I'am not able to access a own private LESS"
When I want to look at a own private LES at the regulering@alliander.com account on PRO server I get an error message. Refreshing and recalculation is not working.

Showcase buurtbatterij - buurtbatterij en capping - aangepaste business case has number 522.

![image](https://cloud.githubusercontent.com/assets/7781037/18271286/a1f97732-7431-11e6-83e7-60e468f56d9e.png)

[2016-09-06 12:16] grdw commented on #1399
To reproduce:

- Create a LES
- Rename an Endpoint (any of them)
- Go to 'Save as' and create a new LES.
- Result: this error.

[2016-09-06 12:39] grdw commented on #1413
You have to be signed in as "regulering@alliander.com" to view the LES for "regulering@alliander.com". I could give the LES to your own personal account though. It looks as though you're singed in with that account (you can verify by clicking on "Your account", right next to the "Sign out" button).

[2016-09-06 12:49] #1398 closed

[2016-09-06 12:50] grdw commented on #1398
Turns out it was a bug. The `profile_id` was correctly set, however cloning a DOM element caused the select box to reset. I fixed that problem 👍

[2016-09-06 13:23] grdw commented on #1413
It should be fixed now. This is still bug-worthy though. What I saw was the following:

- The LES belonged to regulering@alliander.com
- The Market model aswell
- The Topology belonged to the orphan user (implying that somebody tried to delete that Topology while it was still used in a LES)

I'll create a follow up issue.

[2016-09-06 13:25] grdw opened #1414 "Orphaned topologies or market models should not be able to make a difference in privacy setting"
Related #1413

Steps to reproduce:
- Create a LES
- Update the Topology
- Save it.
- Give the Topology the orphaned user (or delete it from the interface)
- Go back to your LES.
- It breaks.

[2016-09-06 14:14] #1263 closed

[2016-09-06 14:20] grdw commented on #1412
Duplicate of #1399

[2016-09-06 14:41] grdw commented on #1228
@ChaelKruip is this still relevant?

[2016-09-06 14:49] ChaelKruip commented on #1228
No. Closing.

[2016-09-06 14:49] #1228 closed

[2016-09-06 15:31] ChaelKruip commented on #1413
Can this one be closed than @grdw?

[2016-09-07 07:25] #1413 closed

[2016-09-07 09:00] ChaelKruip commented on #1414
After some discussion with @grdw I think the following would fix the current issues without too much work:

Whenever a **private** topology (or market model) is deleted, warn the user about which other LESses use it too:

"The topology you are trying to delete is used in the following LESses: LES_1, LES_2, LES_403. Are you sure you want to delete the topology **and the related LESes**?"

If the us

[2016-09-07 09:15] antw commented on #1414
I liked #839 as a solution to this. Every LES would have it's own *copy* of the LES and market model, and this would allow us to get rid of the topology and market model pages entirely. There wouldn't have to be such a thing as deleting a topology or market model; to a user they'd just be part of the LES and not separate entities (like asset lists or selected strategies).

[2016-09-07 09:29] ThomBuijs opened #1415 "Add a generic technology which represents the amount of gas/heat demand (same as for electricity)"
As discussed with Chael, it would be nice to be able to add a technology that can cope directly with an uploaded gas profile or heat profile. The profile represent directly the amount of gas or heat consumed and should therefore be visible in the gas and heat chart. To make myself clear, the uploaded profile is not something like a hot water demand profile or space heating profile.

[2016-09-07 09:30] ChaelKruip commented on #1414
I still like #839 as well. My feeling is that it is too big of an overhaul to do if we want to deploy to LIVE by the end of this week, however. @antw do you think it is comparable in effort?

[2016-09-07 09:37] antw commented on #1414
No, but I don't think this is such a big issue that it *needs* to be resolved before deploying. I'd rather we wait and do it right, than waste effort on something we'll (hopefully?) replace soon.

If it's a deal-breaker we can prevent users from deleting a topology which is in use by one or more LESes. That's an ugly solution too, but at least it's fast to implement.

[2016-09-07 09:41] ChaelKruip commented on #1414
I agree with that. This takes a very specific series of actions to crop up and will not inhibit the work-flow of users at all.

@MarjoleinSchwachofer @ThomBuijs do you agree as well?

[2016-09-07 09:52] ChaelKruip commented on #1415
We already have an 'other' (generic) technology for electricity but not yet for gas or heat.

[2016-09-07 09:53] ThomBuijs commented on #1415
That is what I mean, sorry for not making this clear.

[2016-09-07 09:54] ChaelKruip commented on #1415
No problem! I just tried to clarify your request even more 😄

[2016-09-07 09:57] ThomBuijs commented on #1414
Yes I agree

[2016-09-07 14:29] #626 closed

[2016-09-07 14:29] #1395 closed

[2016-09-09 09:37] dennisschoenmakers opened #1416 "[Airbrake] [Production] 301 Moved Permanently"
**Airbrake error:** [#0490](https://quintel.airbrake.io/projects/111227/groups/1770917698501850490)
**Airbrake project:** ETMoses

**Error type:** `RestClient::MovedPermanently`
**Error message:** `` 301 Moved Permanently ``
**Where:** `testing_grounds#perform_import`
**Occurred at:** Sep 09, 2016 09:37:19 UTC
**First seen at:** Sep 09, 2016 09:37:19 UTC
**Occurrences:** 1 (1 since last deploy on

[2016-09-09 10:02] dennisschoenmakers opened #1417 "[Airbrake] [Production] 422 Unprocessable Entity"
**Airbrake error:** [#5606](https://quintel.airbrake.io/projects/111227/groups/1770930150853555606)
**Airbrake project:** ETMoses

**Error type:** `RestClient::UnprocessableEntity`
**Error message:** `` 422 Unprocessable Entity ``
**Where:** `testing_grounds#perform_import`
**Occurred at:** Sep 09, 2016 10:02:03 UTC
**First seen at:** Sep 09, 2016 10:02:03 UTC
**Occurrences:** 1 (1 since last depl

[2016-09-09 15:23] dennisschoenmakers opened #1418 "[Airbrake] [Production] Table 'etmoses_production.gas_asset_lists' doesn't exist"
**Airbrake error:** [#2035](https://quintel.airbrake.io/projects/111227/groups/1771091618563602035)
**Airbrake project:** ETMoses

**Error type:** `Mysql2::Error`
**Error message:** `` Table 'etmoses_production.gas_asset_lists' doesn't exist ``
**Where:** `<no information>`
**Occurred at:** Sep 09, 2016 15:22:52 UTC
**First seen at:** Sep 09, 2016 15:22:52 UTC
**Occurrences:** 1 (1 since last depl

[2016-09-12 12:10] dennisschoenmakers opened #1419 "Missing (?) cache files ("No such file or directory @ rb_file_s_mtime ...")"
**Airbrake error:** [#9126](https://quintel.airbrake.io/projects/111227/groups/1773169212180119126)
**Airbrake project:** ETMoses

**Error type:** `Errno::ENOENT`
**Error message:** `` No such file or directory @ rb_file_s_mtime - /var/www/etmoses/releases/20160909100052/tmp/networks/production/574/basic/gas/fb8e2d3ff1444e237a30aeacf9e3653e067b7677ac0a133c78b695c74c491730.load.year.tmp ``
**Where:

[2016-09-12 12:44] #1418 closed

[2016-09-12 12:44] #1417 closed

[2016-09-12 12:44] #1416 closed

[2016-09-12 14:14] dennisschoenmakers opened #1420 "[Airbrake] [Production] undefined method `each_pair' for nil:NilClass"
**Airbrake error:** [#1692](https://quintel.airbrake.io/projects/111227/groups/1773231324503981692)
**Airbrake project:** ETMoses

**Error type:** `NoMethodError`
**Error message:** `` undefined method `each_pair' for nil:NilClass ``
**Where:** `business_cases#compare_with`
**Occurred at:** Sep 12, 2016 14:13:52 UTC
**First seen at:** Sep 12, 2016 14:13:52 UTC
**Occurrences:** 1 (1 since last depl

[2016-09-12 15:26] JeroenvdLogt opened #1421 "Marketmodel not updated and topology gone by removing LES"
I made changes to the marketmodel
TKI-SGE Usecase Presikhaaf standaard markmodel
and
TKI-SGE Usecase Presikhaaf standaard markmodel - Hoeveel flex

The business case of
LES 'TKI-SGE: Usecase Presikhaaf netverzwaring conventioneel + stroomversnelling'
and
LES 'TKI-SGE: Usecase Presikhaaf standaard netwerk + hybride warmtepomp + batterijen'
were not update however.

So I cloned the LES and removed t

[2016-09-12 15:28] ChaelKruip commented on #1421
This should not be possible right @antw @grdw?

[2016-09-12 15:30] ChaelKruip commented on #1421
@antw @grdw can you retrieve the topology for the LESses mentioned here? @JeroenvdLogt needs these LESses for a project with some time pressure.

[2016-09-12 15:32] JeroenvdLogt commented on #1421
I have to leave now, I have some time left to look at this after dinner. If there are questions you can call me Chael (I can answer your call in the train).

[2016-09-12 15:37] grdw commented on #1421
I gave the topology id 541 and market model id 232 back from user id 42 (which is the orphan) back to user 67.

This is the same issue as #1414. It is not removed, just not visible to non-admin users.

[2016-09-12 16:06] grdw opened #1422 "Clear business case jobs when market model is edited"
Pseudo code:

[code]

[2016-09-12 16:57] #1421 closed

[2016-09-12 17:00] antw commented on #1421
I don't think this is the same as #1414, which says that deleting a topology from the *topology page* causes a LES to break. In this issue, deleting a LES caused the topology (and market model) to be reassigned to the orphan user, even though the topology owner was still using it elsewhere.

@JeroenvdLogt, @grdw has reassigned the market model and topology back to you, and you should be able to us

[2016-09-13 09:05] ThomBuijs opened #1423 "I cannot edit a public LES"
I was trying to transfer a private LES from my account to another account by first making the topology and market model public and make a clone of it on the first account. After that I wanted to open the LES on the other account and clone it there to make the settings private again. However, when I clone the LES and give it a different name, I seems that it isn't saved anywhere. The new name doesn

[2016-09-13 10:01] antw commented on #1423
Sorry Thom, this should be resolved now. Let me know if you continue to have problems.

[2016-09-13 10:57] ThomBuijs commented on #1423
Thank you for the quick fix. I still have a minor issue. First I clone and edit the public LES. Afterwards I make the topology and market model private. However the cloned LES still remains visible. But I cannot open it with a different account. I guess it shouldn't be visible in the list of LESses for other accounts in the first place. The LESses I am talking about are [LES1](https://moses.energy

[2016-09-13 11:33] dennisschoenmakers opened #1424 "[Airbrake] [Production] Validation failed: Technology profile includes a connection to missing node "Woning 101d""
**Airbrake error:** [#8293](https://quintel.airbrake.io/projects/111227/groups/1773874976850948293)
**Airbrake project:** ETMoses

**Error type:** `ActiveRecord::RecordInvalid`
**Error message:** `` Validation failed: Technology profile includes a connection to missing node "Woning 101d" ``
**Where:** `testing_grounds#save_as`
**Occurred at:** Sep 13, 2016 11:32:37 UTC
**First seen at:** Sep 13, 2

[2016-09-13 11:40] antw commented on #1424
I have fixed this LES manually. This is a duplicate of #1315 and #1286.

[2016-09-13 11:40] #1424 closed

[2016-09-13 14:29] #1423 closed

[2016-09-15 08:22] grdw opened #1425 "New interface for Topology edit and new form"
I'd like to propose a change in the new and edit form of the Topology. I see a lot of [Airbrake messages](https://github.com/quintel/etmoses/issues/1412) coming from people naively editing the Topology and accidentally destroying their LES. Also the current interface excpects that people know YAML..

# Second iteration

I went to the drawing board and showed @ChaelKruip and he and I returned to an

[2016-09-15 09:27] ChaelKruip commented on #1425
Also see

https://github.com/quintel/etmoses/issues/1192
https://github.com/quintel/etmoses/issues/780
https://github.com/quintel/etmoses/issues/596

[2016-09-15 11:57] dennisschoenmakers opened #1426 "[Airbrake] [Production] invalid byte sequence in UTF-8"
**Airbrake error:** [#5487](https://quintel.airbrake.io/projects/111227/groups/1775336874054235487)
**Airbrake project:** ETMoses

**Error type:** `ArgumentError`
**Error message:** `` invalid byte sequence in UTF-8 ``
**Where:** `load_profiles#create`
**Occurred at:** Sep 15, 2016 11:57:27 UTC
**First seen at:** Sep 15, 2016 11:57:27 UTC
**Occurrences:** 1 (1 since last deploy on Sep 13, 2016 14:

[2016-09-15 12:13] ThomBuijs opened #1427 "I cannot create a load profile"
When I try to create a new load profile I get the following message when I press the create new profile button

We're sorry, but something went wrong.

If you are the application owner check the logs for more information.

[2016-09-15 12:14] dennisschoenmakers opened #1428 "[Airbrake] [Production] invalid byte sequence in UTF-8"
**Airbrake error:** [#4500](https://quintel.airbrake.io/projects/111227/groups/1775345459366704500)
**Airbrake project:** ETMoses

**Error type:** `ArgumentError`
**Error message:** `` invalid byte sequence in UTF-8 ``
**Where:** `load_profiles#update`
**Occurred at:** Sep 15, 2016 12:14:30 UTC
**First seen at:** Sep 15, 2016 12:14:30 UTC
**Occurrences:** 1 (1 since last deploy on Sep 13, 2016 14:

[2016-09-15 12:15] ThomBuijs commented on #1427
I didn't use a csv file for the profile, sorry for the inconvenience

[2016-09-15 12:15] #1427 closed

[2016-09-15 12:18] antw commented on #1428
This is happening because someone is trying to upload a load profile with malformed UTF-8 characters. There's no reason for a load profile to contain any UTF-8 characters, so while this error is ugly, it's probably for the best since an invalid load profile would not work correctly in a calculation.

What we *should* do is catch these errors and show the visitor a nicer error message.

[2016-09-15 12:33] grdw commented on #1425
I would like some opinions about the Second Iteration from @dennisschoenmakers @antw

[2016-09-15 13:22] #1426 closed

[2016-09-15 13:22] #1428 closed

[2016-09-15 13:41] antw commented on #1425
I like the direction; a graphical approach would be hugely better than what we have today. I have a slight preference for *Adding a new node: idea 2* since explicit `(+)` buttons are quite intuitive, whereas "click a node and drag" is not obvious and might have to be explained to new visitors.

It *sounds* like you want to allow visitors to position the nodes themselves instead of them being auto-

[2016-09-15 13:45] ThomBuijs opened #1429 "Y-axis doesn't update"
I am using this [LES](https://moses.energytransitionmodel.com/testing_grounds/586), but when I look at the results, the Y axis unit for node MSR wageningen campus isn't updated. It shows me values in kW which would be logical in MW.

[2016-09-15 14:52] grdw commented on #1429
![screen shot 2016-09-15 at 16 50 39](https://cloud.githubusercontent.com/assets/2676542/18554429/903d4f8e-7b64-11e6-8d7b-c3840cec4fbc.png)

I'm not able to reproduce this behavior exactly. I just looked at your LES and I see the units in MW. Did you do anything else than just look at the results? For example; update the strategies, selected another week, changed from 'Total' view to 'Stacked' and

[2016-09-16 09:18] ThomBuijs commented on #1429
I did play a bit with the the view to see a whole year and a week, and stacked and total view. However right now I get the following problem that the unit on the Y-axis is MW also for other nodes while the order of magnitude for the values are in kW.

![units wrong](https://cloud.githubusercontent.com/assets/20039533/18580973/bd6707f8-7bfe-11e6-9fa0-cf9795a9ca5f.PNG)

![knipsel2](https://cloud.git

[2016-09-16 09:27] grdw commented on #1420
Fixed by: https://github.com/quintel/etmoses/commit/a49a6a1e7ef6c5c173e572b4b6aa02f36c7171fb

[2016-09-16 09:27] #1420 closed

[2016-09-16 09:32] grdw commented on #1429
I'll fix this with some priority 👍

[2016-09-16 09:41] #1429 closed

[2016-09-16 09:55] grdw commented on #1429
@ThomBuijs  these changes won't be visible directly on production though. For now they're on the beta server.

@antw is it ok, if I cherry-pick this single commit to production?

[2016-09-16 12:13] antw commented on #1429
Sure thing! It's easy to rollback, so go for it. :+1:

If [this](https://github.com/quintel/etmoses/commit/a49a6a1e7ef6c5c173e572b4b6aa02f36c7171fb) can also go to production, you can just merge master into the production branch rather than cherry-picking. I've done that a couple of times this week with small fixes.

[2016-09-16 13:20] grdw opened #1431 "Labels to long in legend of stacked gas chart"
![screen shot 2016-09-16 at 15 20 01](https://cloud.githubusercontent.com/assets/2676542/18587207/10a2c3c2-7c21-11e6-95f9-8ef7cc665e8f.png)

[2016-09-16 13:30] dennisschoenmakers commented on #1425
Do I understand correctly, that the *first iteration* has been surpassed by the *second iteration*?

Agree (how could I not?) with @antw.

I was also thinking about this. The current approach works well with small trees, but for large trees this is going to be a disaster.

Perhaps we could keep the visual approach, we're all in favor of that, but steal from the folder and file trees that have been

[2016-09-16 15:37] ChaelKruip commented on #1425
👍 Especially if we support the option of hiding/folding parts of the tree (as we currently do) which is the staple of such directory trees as well.

[2016-09-19 06:42] MarjoleinSchwachofer commented on #1352
Then the button didn't work. However I tried it again today and now it worked.

[2016-09-19 07:57] grdw commented on #1425
Wich parts should we steal? (The collapsing part or the way it's positioned?); considering the point made by anthony was about the 'free' positioning; I guess it's positining. To explain the roots of that idea; the free positioning  came forth from the idea of a map of Holland where you could drag the components to. I think the free positioning idea should be reconsidered once we're actually doing

[2016-09-19 08:04] ChaelKruip commented on #1352
Can we close this @grdw?

[2016-09-19 08:07] ChaelKruip commented on #1425
Hopefully this will be quite soon so it would be wise to keep this in mind when designing this.

[2016-09-19 08:35] grdw opened #1432 "Inteface elements of new topology interface"
**Adding a new node**
We could also when hovering/focussing over/on a node add another bulb/'add/+' button (like here) to be able to drag a new node out of. This way moving a node can be just done by dragging without having to press Ctrl/Cmd. Also the 'add/+' button will be able to take two event handlers:

[code]

What if someone clicks the addButton 3x?

[code]
It should automatically space out

[2016-09-19 08:35] grdw opened #1433 "Syling/look/feel topology editor"

[2016-09-19 08:36] grdw opened #1434 "New topology editor overview issue"
- For the interface elements -> #1432
- D3 Adding/removing/positioning nodes -> #1438
- For the styling/looks/feel -> #1433
- For technical ->
   - Technical design (Javascript) -> #1435

[2016-09-19 08:37] grdw opened #1435 "Topology editor technical design"
### Technical

There is one global class called `GraphEditor`. This serves purely as an interface between the other components. When you're at the new form the `GraphEditor` will take a default hierarchical data.

[code]

In the class above there are two components visible the `GraphData` being one of them. I don't want to flood the DOM with lots of `data-` elements (like the `TechnologiesForm`).

[2016-09-19 08:38] grdw opened #1436 "Add UUID's to topology nodes when adding and inflating them"
This module should be able to take hierarchal data like:

[code]
to:

[code]
and the other way around.

[2016-09-19 08:43] grdw opened #1437 "Topology data Hierarchal <=> Flat"
Write a little Javascript helper that turns flat data into hierarchal data and the other way around.

[2016-09-19 08:48] grdw opened #1438 "D3: Adding/removing/positioning nodes"

[2016-09-19 09:11] grdw commented on #1425
I moved all details into separate issues. An overview issue has been created here: #1434. Please keep everything on topic. 😄

I'll close this issue.

[2016-09-19 09:11] #1425 closed

[2016-09-19 09:11] grdw commented on #1352
I think we can 👍

[2016-09-19 09:11] #1352 closed

[2016-09-19 09:32] antw commented on #1436
I'm not married to UUIDs by the way (UUIDs might be a bit long?). Any sufficiently-random string will do; [maybe this?](http://stackoverflow.com/a/19964557)

[2016-09-19 12:25] DorinevanderVlies opened #1439 "Translation missing in business case table (in edit LES)"
The translation for `en.business_case.yearly_depreciation	` is missing in the business case table.
Both on the beta and the live server.

I think it should read "Stakeholder".

![image](https://cloud.githubusercontent.com/assets/19907658/18631806/781537d8-7e74-11e6-9b83-7a785e2bd811.png)

[2016-09-19 12:45] ChaelKruip commented on #1439
@grdw can you pick this up?

[2016-09-20 09:45] ChaelKruip opened #1440 "Heat deficit where I don't expect it"
In [this LES](https://moses.energytransitionmodel.com/testing_grounds/592/heat_load), the heat deficit does not seem to disappear when the demand should be low enough to be fully satisfied by the heat network and the local sources of heat:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/18665373/378ba3f6-7f27-11e6-87c1-f8f6b58bd1fb.png)

It seems almost as if the deficit is a fixed f

[2016-09-20 09:55] ChaelKruip opened #1441 "EV behaviour with 'capacity-respecting buffering' very strange"
In [this LES](https://moses.energytransitionmodel.com/testing_grounds/592), the strategy "Only buffer EVs if network has spare capacity" gives rise to very strange behaviour:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/18665686/a0c0c62a-7f28-11e6-93d3-a713f14147c9.png)

Not only are the peaks much higher everywhere (although properly shifted to wait until EVs go to mandatory char

[2016-09-20 10:05] ChaelKruip opened #1442 "I can't select any profile for the must-run sources on LIVE server"
![etmoses](https://cloud.githubusercontent.com/assets/1303760/18666148/8a537d7c-7f2a-11e6-9565-a833a90e9294.png)

[2016-09-20 12:20] #1439 closed

[2016-09-20 12:36] dennisschoenmakers opened #1443 "[Airbrake] [Production] No such file or directory @ rb_file_s_mtime - /var/www/etmoses/releases/20160915134453/tmp/networks/production/593/basic/electricity/49a08c0e397826d795e50f9a6a16b08f35708bd965875a2b22d9bb1db5e25bc6.load.current_week.tmp"
**Airbrake error:** [#3171](https://quintel.airbrake.io/projects/111227/groups/1778980363572853171)
**Airbrake project:** ETMoses

**Error type:** `Errno::ENOENT`
**Error message:** `No such file or directory @ rb_file_s_mtime - /var/www/etmoses/releases/20160915134453/tmp/networks/production/593/basic/electricity/49a08c0e397826d795e50f9a6a16b08f35708bd965875a2b22d9bb1db5e25bc6.load.current_week.t

[2016-09-20 12:36] dennisschoenmakers opened #1444 "[Airbrake] [Production] No such file or directory @ rb_file_s_mtime - /var/www/etmoses/releases/20160915134453/tmp/networks/production/593/basic/electricity/49a08c0e397826d795e50f9a6a16b08f35708bd965875a2b22d9bb1db5e25bc6.load.current_week.tmp"
**Airbrake error:** [#9689](https://quintel.airbrake.io/projects/111227/groups/1778980440429279689)
**Airbrake project:** ETMoses

**Error type:** `Errno::ENOENT`
**Error message:** `` No such file or directory @ rb_file_s_mtime - /var/www/etmoses/releases/20160915134453/tmp/networks/production/593/basic/electricity/49a08c0e397826d795e50f9a6a16b08f35708bd965875a2b22d9bb1db5e25bc6.load.current_week

[2016-09-20 13:00] dennisschoenmakers opened #1445 "[Airbrake] [Production] No such file or directory @ rb_file_s_mtime - /var/www/etmoses/releases/20160915134453/tmp/networks/production/586/basic/electricity/49a08c0e397826d795e50f9a6a16b08f35708bd965875a2b22d9bb1db5e25bc6.load.current_week.tmp"
**Airbrake error:** [#8119](https://quintel.airbrake.io/projects/111227/groups/1778992638933318119)
**Airbrake project:** ETMoses

**Error type:** `Errno::ENOENT`
**Error message:** `` No such file or directory @ rb_file_s_mtime - /var/www/etmoses/releases/20160915134453/tmp/networks/production/586/basic/electricity/49a08c0e397826d795e50f9a6a16b08f35708bd965875a2b22d9bb1db5e25bc6.load.current_week

[2016-09-20 13:24] grdw opened #1447 "Remove opacties of colors"
It becomes a little confusing:

<img src="http://g.recordit.co/OibEg0T9qk.gif"/>

[2016-09-20 15:18] #1441 closed

[2016-09-20 15:30] grdw commented on #1442
Fixed:
![Uploading Screen Shot 2016-09-20 at 17.28.22.png…]()

The constant profile didn't had the correct associated technology `central_heat_network_must_run`, which you can easily add at the permitted technologies at a certain profile.

![screen shot 2016-09-20 at 17 29 43](https://cloud.githubusercontent.com/assets/2676542/18677048/e7db317e-7f57-11e6-8974-f880c64d9898.png)

[2016-09-20 15:30] #1442 closed

[2016-09-21 06:05] MarjoleinSchwachofer opened #1448 "New strategy P2G/P2H based on network congestion"
For the future, an enhancement would be if there is also a strategy to use P2G/P2H only if the local network is congested.  The amount of the PV/Wind electricity in the local network (local feeder and MSR) that exceeds the capacity of the local network/transformer is converted to Gas/Heat (not PV/Wind in other parts of the network). This would be a specific congestion elevation strategy.

This wou

[2016-09-21 08:39] ChaelKruip commented on #1440
@antw what is the status here?

[2016-09-21 09:07] #1445 closed

[2016-09-21 09:36] antw commented on #1440
#1446

[2016-09-21 09:42] #1422 closed

[2016-09-21 09:45] grdw opened #1449 "Using a test framework for Javascript"
I am currently writing code for the Topology Editor however - as @ChaelKruip pointed out - there are no Javascript specs. It sounds lovely and I know how to write tests in [QUnit](http://qunitjs.com/). However considering we're having a Rails project it might also be worthwhile to checkout [teaspoon](https://github.com/jejacks0n/teaspoon).

What is your opinion about this matter? @antw

[2016-09-21 09:57] antw commented on #1449
I think Jasmine and Mocha are quite popular in the JS world, but I don't know very much about either. I used QUnit and Jasmine a few years ago, but it's been so long that I don't think my opinion counts for much. 😆

Perhaps we might research the different options? Teaspoon looks pretty cool as well

[2016-09-21 10:24] antw commented on #1440
#1446 has been merged; are there any objections on sending it to production today?

[2016-09-21 10:47] ChaelKruip commented on #1440
No objections! Go ahead! I'm doing a demo between 14:00 and 16:00 my time. That's the only thing to take into account.

[2016-09-21 10:50] antw commented on #1440
Unless you think these heat issues will crop up during the demo, perhaps it's best to wait until after you've finished?

[2016-09-21 11:01] ChaelKruip commented on #1440
I'm fine with you deploying now. The demo is not that critical and I can switch to beta in case it's not ok on production.

[2016-09-21 11:42] #1440 closed

[2016-09-21 12:13] grdw commented on #1449
I have some experience with QUnit and that's it. But I used it for a pretty vanilla Javascript application.

I'll research some options and present my findings. 👍 Teaspoon does look really cool. I'll try some of them and see what 'works' nice and easy.

[2016-09-22 07:27] ChaelKruip opened #1451 "Allow capacity to be shown in individual and stacked load view as well"
![etmoses](https://cloud.githubusercontent.com/assets/1303760/18739859/bed14d90-80a6-11e6-87b5-b39294d1fee6.png)

[2016-09-22 07:31] ChaelKruip opened #1452 "EV buffering only when network has spare room strategy not fully functional"
I think that in [my LES](https://moses.energytransitionmodel.com/testing_grounds/596) the calculator does not take some load (heat pumps?) into account when calculating how much the EV should consume to alleviate the congestion of the network:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/18739925/2cdd3718-80a7-11e6-9063-a6bb63116c1a.png)
The stacked load chart:
![etmoses](https://

[2016-09-22 07:35] ChaelKruip opened #1453 "Saving base load strategy is not working properly"
In [my LES](https://moses.energytransitionmodel.com/testing_grounds/596) I have base load (aggregated) but it is not saved when I expect it to be (at moments of congestion):
![etmoses](https://cloud.githubusercontent.com/assets/1303760/18740047/e894ef1e-80a7-11e6-8459-69a2b3fea5fd.png)

[2016-09-22 08:27] antw commented on #1453
With a LES containing *only* the base load (and more units, in order to exceed capacity), the strategy is working:

<img width="565" alt="screen shot 2016-09-22 at 09 25 59" src="https://cloud.githubusercontent.com/assets/4383/18741352/a6a06ae4-80a6-11e6-9d55-c05e4b4b187a.png">

I'll find out why there's no difference in this LES...

[2016-09-22 09:59] antw commented on #1453
The reason for this and #1452 is the [order in which technologies are calculated](https://github.com/quintel/etmoses/blob/master/app/models/calculation/context.rb#L124-L138). For these two issues, the only thing you need to know is that the order is:

1. Saving base load (`Technologies::OptionalConsumer`)
2. Electric vehicle (`Technologies::ElectricVehicle`)
3. Electric heating technologies (`Tech

[2016-09-22 09:59] antw commented on #1452
Closing as a duplicate of #1453. See: https://github.com/quintel/etmoses/issues/1453#issuecomment-248859383.

[2016-09-22 09:59] #1452 closed

[2016-09-22 10:21] ChaelKruip commented on #1453
😲  has this always been the case? I have always thought that the load reducing strategies took the total load (before strategies) into account!

Why not put the Capacity-constrained technologies last? Like:
* Unconstrained technologies first
* Excess-constrained technologies next (*"_____ with only local/excess PV"*)
* Capacity-constrained technologies last

Could the Excess-constrained technologi

[2016-09-22 10:33] antw commented on #1453
It has indeed always been this way. Each technology is asked in turn – in the defined order – how much energy they want to consume. They also tell the calculator if they are excess- and/or capacity-constrained. The calculator gives them the appropriate amount of energy. They don't know what the total/final amount of energy consumption will be, because the other technologies haven't had a chance to

[2016-09-22 10:41] antw commented on #1453
For what it's worth, the "mandatory consumption" is unaffected by the calculation order (since mandatory *means* mandatory).

What this does mean is that a capacity-constrained EV may get less energy for buffering purposes than a non-capacity-constrained EV, even in times when there is no exceedance. For example, a capacity-constrained EV would have a lower priority than a non-capacity-constrained

[2016-09-22 11:31] ChaelKruip commented on #1453
If there is no exceedance, why would the (capacity-constrained) EV buffer less than its maximum? Even if it is lower in the order, if the network allows it, EV will buffer maximally by default right?

[2016-09-22 11:38] antw commented on #1453
Fair point, and completely accurate. 😆

I think that scenario *is* true if the EV is capacity- *and* excess-constrained ("buffer using only local excess") *and* if P2H is turned on.

[2016-09-22 11:42] ChaelKruip commented on #1453
Because P2H has precedence over EV buffering of excess? That makes sense 😄

[2016-09-22 11:54] DorinevanderVlies opened #1454 "Which node causes the deficits in my heat load"
### Description
I have a [LES](https://beta-moses.energytransitionmodel.com/testing_grounds/726).
At certain points in time I have a deficit in my heat load.

The technologies and heat sources were defined by the export from ETModel to ETM-SA.
I did change the distribution of the total space heating demand over the different types of houses. In this scenario some (free standing houses) have a high

[2016-09-22 13:51] antw commented on #1453
I think this also necessitates that P2G becomes capacity-constrained, otherwise it's given preference over capacity-constrained technologies, including EVs.

@ChaelKruip Does that sound reasonable?

[2016-09-22 13:58] DorinevanderVlies opened #1455 "Wanted: option to load a market model into my LES"
Currently market models can be selected when creating a LES. However, when starting my LES I don't always know which market model will be applicable.

It would be nice if it was possible to load an existing market model to a LES.

[2016-09-22 14:35] ChaelKruip commented on #1455
Related to https://github.com/quintel/etmoses/issues/839

[2016-09-22 17:40] #1453 closed

[2016-09-22 19:26] antw commented on #1451
Capacity seems less meaningful on these charts since the net load shown on the "total" chart is the consumption (positive) minus production (negative). You could have a technology consuming well beyond the capacity of the node, but as long as some other technology is producing then the node isn't over-capacity.

| Total Load | Stacked Load |
| --- | --- |
| <img width="547" alt="screen shot 2016-0

[2016-09-22 19:44] antw commented on #1454
Unfortunately the answer to both is currently no.

My approach to this problem in the past has been to clone the LES, eliminate all non-heat technologies and then remove heat techs one-by-one, observing the effect on the heat deficit after each removal.

In this case the problem is insufficient central heat production to meet demand through the "Households space heating / hot water district heatin

[2016-09-23 07:37] ChaelKruip commented on #1451
100% right. Closing.

[2016-09-23 07:37] #1451 closed

[2016-09-23 07:50] ChaelKruip commented on #1453
Remind me, does P2G only use excess from its own node or also excess of other nodes than its own?

If the first, making it capacity-constrained would not change anything really except if multiple technologies are 'fighting' for the same excess.
Typically, in real life, excess electricity would be first stored in batteries and EVs (electricity is more valuable than gas or heat as an energy carrier)

[2016-09-23 08:48] DorinevanderVlies commented on #1454
Thanks @antw, shall I keep this issue open, as I think it would be a nice enhancement?

[2016-09-23 10:10] antw commented on #1453
It did, thanks. P2G *can* take local production from other endpoints, but as the final technology to be calculated this is an act-of-last-resort; i.e. no other technology in the subnet wants the energy, therefore it goes to P2G.

This is already fixed on beta; I'll send it to production shortly (it's easy to rollback if there are any side-effects).

[2016-09-26 13:36] dennisschoenmakers opened #1456 "[Airbrake] [Production] Validation failed: Technology profile has an unknown load profile: hp_space_heating_10kW_50m2_100liter"
**Airbrake error:** [#7796](https://quintel.airbrake.io/projects/111227/groups/1783359293704617796)
**Airbrake project:** ETMoses

**Error type:** `ActiveRecord::RecordInvalid`
**Error message:** `` Validation failed: Technology profile has an unknown load profile: hp_space_heating_10kW_50m2_100liter ``
**Where:** `testing_grounds#save_as`
**Occurred at:** Sep 26, 2016 13:36:32 UTC
**First seen at

[2016-09-28 09:54] grdw commented on #1432
![screen shot 2016-09-28 at 11 54 00](https://cloud.githubusercontent.com/assets/2676542/18909020/43c1c870-8572-11e6-875a-9097bbfda651.png)

Overview of interface.

You are able to add, update and remove nodes.

[2016-09-28 09:55] grdw commented on #1438
This is now possible except for the positioning. I'll have to look into that at a later moment in time.

[2016-09-28 09:55] #1438 closed

[2016-09-28 09:56] grdw opened #1457 "Topology Editor; make it possible to move nodes into a certain position"

[2016-09-28 09:57] grdw opened #1458 "When adding a new node the name is blank"
Produce a useful error message when the user hits the save button without changing the new. Prefereably the name input will be a reddish colour + the node will turn red.

[2016-09-28 09:58] grdw opened #1459 "Dragging the topology editor causes the topology to jump into the upper left corner"
This only happens the first time you do this. Needs some investigating.

[2016-09-28 10:06] grdw opened #1460 "Discussion: keep the YAML editor"
Should we keep the YAML editor as an available option to edit and create a topology alongside the current graphical editor?

[2016-09-28 10:59] ChaelKruip commented on #1460
I think so yes. This allows advanced users to make changes to a topology in a text editor and quickly generate topologies from existing ones.

[2016-09-28 11:08] grdw commented on #1437
Closing this issue; no longer relevant.

[2016-09-28 11:08] #1437 closed

[2016-09-28 13:51] grdw opened #1461 "Clean up tree layouts"
There are now several tree layouts scattered accross ETMoses which all seem to have some abstract similarities. I think these should somehow be managed by a super class.

[2016-09-28 17:02] dennisschoenmakers commented on #1460
Agree

[2016-09-29 08:43] grdw commented on #1436
I'm closing this due to the irrelevance in the current implementation.

[2016-09-29 08:43] #1436 closed

[2016-09-29 09:50] dennisschoenmakers opened #1463 "[Airbrake] [Production] undefined method `*' for nil:NilClass"
**Airbrake error:** [#1582](https://quintel.airbrake.io/projects/111227/groups/1785419834824571582)
**Airbrake project:** ETMoses

**Error type:** `NoMethodError`
**Error message:** `` undefined method `*' for nil:NilClass ``
**Where:** `testing_grounds#data`
**Occurred at:** Sep 29, 2016 09:50:30 UTC
**First seen at:** Sep 29, 2016 09:50:30 UTC
**Occurrences:** 1 (1 since last deploy on Sep 21, 2

[2016-09-29 10:10] grdw opened #1464 "Switching between YAML input and Graphical input"
I'm currently thinking about how to make a nice switch between the YAML input and the graphical input for the new topology editor.

My first approach will be a little blue text link on the bottom of the graphical editor like:

![screen shot 2016-09-29 at 11 54 25](https://cloud.githubusercontent.com/assets/2676542/18949392/7dcca4a8-863b-11e6-8eab-a13483fa439c.png)

Considering this an advanced fea