[2015-08-18 09:43] antw commented on #266
[Here's an example of it working](http://beta.moses.et-model.com/testing_grounds/110) (turn on "Buffering in heat pumps").

Here's the technology profile:

[code]

[2015-08-19 14:11] ChaelKruip opened #276 "Technology functions could be more intuitive/physical"
This is a bit of a vague issue so bear with me :smile:

@grdw and myself are having some trouble understanding the workings of some of the methods associated with technology types. For example, the [production_at method](https://github.com/quintel/etmoses/blob/master/app/models/network/technologies/buffer.rb#L22-L29) in `buffer.rb` is quite abstract to the uninitiated (me :stuck_out_tongue: ). I'l

[2015-08-19 14:11] ChaelKruip commented on #276
Including @dennisschoenmakers @grdw

[2015-08-19 14:14] ChaelKruip commented on #270
The volumes quoted above are to be assigned as the default value to the heat-pumps in etmoses. The user should not be able to change them as they are intimately connected to the profiles. Because the ETM does not have a 'volume' attribute, perhaps we can store such defaults in the database?

Including @grdw

[2015-08-19 14:31] antw commented on #276
Many of the methods exist in one form or another already:

* **Maximum Input Capacity [kW] / Maximum Output Capacity [kW]**: [Technology#capacity](https://github.com/quintel/etmoses/blob/6eebc9a9e0b58e257d27cfda935a78e9692aba37/app/models/network/technologies/generic.rb#L76-L78)
  Currently input and output capacities are assumed to be the same.

* **Number of units [number]**: Technology#units

*

[2015-08-19 14:37] ChaelKruip commented on #276
@antw thanks for the clarifications!

Yes please!

[2015-08-19 15:05] antw commented on #276
Also: in writing tests, I think I'd encourage not looking directly at the technologies except in very low-level unit tests. They act like strategies and are meant to work *with* the calculator (`PullConsumption` and `TechnologyPath`). Instead, build a small network (@grdw has [already done something like this](https://github.com/quintel/etmoses/blob/master/spec/controllers/testing_grounds_load_man

[2015-08-20 08:48] ChaelKruip opened #277 "Scaling a scenario does not work anymore"
After hitting 'scale', the page does not load a new scenario.

[2015-08-20 08:50] antw commented on #277
It's working fine for me. Maybe it has something to do with the full-size scenario being scaled; could you grab the ID for me?

[2015-08-20 08:53] ChaelKruip commented on #277
I think it has to do with the presets having faulty input keys (https://github.com/quintel/etsource/issues/938). It works with a fresh scenario but not with preset scenarios.

[2015-08-20 08:55] ChaelKruip opened #278 "Changing concurrency does not seem to work anymore"
![etmoses](https://cloud.githubusercontent.com/assets/1303760/9379477/ed5f34fe-4729-11e5-8255-5396428733d2.png)

[2015-08-20 09:28] ChaelKruip commented on #131
Added priority to this because we would like to do some more realistic tests the coming week.

[2015-08-20 09:32] ChaelKruip commented on #277
Closing.

[2015-08-20 09:32] #277 closed

[2015-08-20 09:44] dennisschoenmakers opened #279 "Could load colours be improved?"
Now the difference is sometimes hard to spot:

![image](https://cloud.githubusercontent.com/assets/104830/9380470/ad8d2c08-4730-11e5-9192-9466e643158d.png)

Especially when the green is *behind* the blue:

![image](https://cloud.githubusercontent.com/assets/104830/9380474/b5577eac-4730-11e5-8346-ad6c65a99dff.png)

Perhaps we could use more 'complementary colours' such as:

![image](https://cloud.g

[2015-08-20 10:25] ChaelKruip opened #280 "For some LESs EV storage is not behaving as expected"
For [this LES](http://beta.moses.et-model.com/testing_grounds/198), the number of EV and solar PV panels is such that I would expect to see the effects of the 'storage in EV' strategy. But in all but one day, the results are equal blue and green curves.

[2015-08-20 10:29] ChaelKruip opened #281 "Save 'as' does not work correctly for LES"
The new name is not used...

[2015-08-20 12:17] antw commented on #280
Enabling EV storage but not buffering means the EV charges from local excesses only ([per #234](https://github.com/quintel/etmoses/issues/234#issuecomment-123210565)). Enable buffering to take energy from the grid when there is available network capacity, or add more solar panels to charge the cars.

[See this example](http://beta.moses.et-model.com/testing_grounds/202): Zoom in on Household 1 on

[2015-08-20 12:27] ChaelKruip commented on #280
But how can it be that if I connect the same number of PV and EV to a connection in [a LES with another topology (the default)](http://beta.moses.et-model.com/testing_grounds/201) I get completely different behaviour?
These technologies
![etmoses](https://cloud.githubusercontent.com/assets/1303760/9383173/1bf6e524-4747-11e5-9dd7-2e928e7b874b.png)
lead to
![etmoses](https://cloud.githubusercontent.

[2015-08-20 12:28] ChaelKruip commented on #280
Are the different constraints in the topology to blame? But that would be weird as the technologies share a connection in both cases!

[2015-08-20 12:43] antw commented on #280
The two networks are not equivalent. Your "default topology" network contains only the three technologies (base load, PV, and EV) on one node. The original example includes technologies on the other household nodes.

The difference is almost certainly caused by interactions with those technologies in the *other* nodes. It may be that the excess solar PV from "Household 1" is consumed by higher-pri

[2015-08-20 12:54] #278 closed

[2015-08-20 13:18] antw commented on #279
I think blue/orange is a no-go since many colourblind people can't see much difference between the two. I have removed the blue shading when the green "strategies" line is shown; is this better?

<img width="273" alt="screen shot 2015-08-20 at 14 16 11" src="https://cloud.githubusercontent.com/assets/4383/9384124/0b92bcd6-4746-11e5-98a1-36322a1f9349.png">

I think there's still room for improvemen

[2015-08-20 13:39] ChaelKruip commented on #280
I see. Thanks for clarifying and sorry for my confusion.

[2015-08-20 13:39] #280 closed

[2015-08-20 13:41] ChaelKruip commented on #279
Yes. Better indeed. Let's pick this up at some later time. Putting on-hold for now.

[2015-08-20 13:50] antw commented on #280
:grin:

[2015-08-20 13:54] ChaelKruip commented on #280
I guess I deserved that :stuck_out_tongue:

[2015-08-24 09:11] ChaelKruip commented on #213
Can we close this @grdw?

[2015-08-24 09:23] ChaelKruip commented on #156
I think this is not relevant anymore.

[2015-08-24 09:23] #156 closed

[2015-08-24 09:24] ChaelKruip commented on #273
Can this be closed @grdw?

[2015-08-24 09:31] ChaelKruip opened #282 "Scaling with the number of residents should be disabled"
The user should only be able to scale with the number of residences (that is the only supported option anyway).

[2015-08-24 09:33] ChaelKruip opened #283 "Lorem ipsum for market models should be replaced with real text"

[2015-08-24 09:35] ChaelKruip opened #284 "Remove period in listing"
![etmoses](https://cloud.githubusercontent.com/assets/1303760/9437046/35c46b56-4a54-11e5-8a83-a0e6493f4ab2.png)

[2015-08-24 09:56] ChaelKruip opened #285 "All technologies should get appropriate default values"
This table summarises the debts for the assignment of default values from the different technologies in ETMoses.  Boldface capital words mean that this still has to be done.

|Technology| Still needs capacity|Capacity should be fixed|Still needs volume|Volume should be fixed|Comments|
|---|---|---|---|---|---|
|HP space heating (air)| no | **YES** | **YES** | **YES** | (see https://github.com/quin

[2015-08-24 09:58] ChaelKruip opened #286 "Is the "Generic battery" redundant?"
The attributes of the normal battery can be changed by the user. Does that make the generic battery redundant?

[2015-08-24 10:07] ChaelKruip opened #287 "P2G and P2H do not show up in ETMoses although they are included in scaled scenario"
In the case of P2G this is likely due to scaling of the slider caps (max = 100 for a normal scenario). Perhaps we can allow a scaled scenario to have at least 2 P2H installations? @antw do we have an elegant way of limiting the scaling of the max slider setting?

In the case of P2H I don't see why they don't show up... The number of units in ETE seem to be correct.

[2015-08-24 11:12] ChaelKruip opened #288 "Deprecated profiles should not be automatically chosen for new scenarios"
![etmoses](https://cloud.githubusercontent.com/assets/1303760/9438819/c2329c86-4a61-11e5-8211-44a5e5408349.png)

[2015-08-24 11:15] ChaelKruip opened #289 "When changing concurrency back to max for households, the individual profiles should be replace by aggregated ones"
A group of 33 households should get an aggregated profile:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/9438854/0f9ada06-4a62-11e5-8f62-c34228c649c5.png)

[2015-08-24 11:30] ChaelKruip opened #290 "Now that profiles are referenced by a database key, that key should be visible in the profile overview"
For example in the 'technology CSV dump', the user has no idea what profiles are used:
![screenshot_24_08_15_13_28](https://cloud.githubusercontent.com/assets/1303760/9439095/308d2050-4a64-11e5-8f95-5de5f80b67dd.png)

[2015-08-24 11:33] ChaelKruip opened #291 "Technology CSV dump should have the ID of the LES in the name"
Otherwise the files get's overwritten when downloaded etc.

[2015-08-24 11:41] ChaelKruip opened #292 "EV has no effect for my LES"
In [this LES](http://beta.moses.et-model.com/testing_grounds/206) I have increased the number of EV to 1000 and there is no extra load visible. Is it corrupted?

[2015-08-24 11:45] ChaelKruip commented on #292
I have made [another LES](http://beta.moses.et-model.com/testing_grounds/207) which behaves normally. Perhaps it became unresponsive because I initialised the technology table with a CSV file?

[2015-08-24 11:55] ChaelKruip opened #293 "default for solar PV capping should be 100%"

[2015-08-24 12:04] ChaelKruip opened #294 "When downloading curves, both blue and green curve should be written to file"
![etmoses](https://cloud.githubusercontent.com/assets/1303760/9439623/dd24c6e8-4a68-11e5-982e-f0113928dd28.png)
If no flexibility option is selected, the green curve can be taken to be identical to the blue one.

[2015-08-24 12:16] ChaelKruip opened #295 "NICE TO HAVE: persistence of load chart and flex options options after editing"
Now you have to re-do everything (zooming, choosing which flex options to use etc) after an edit.

[2015-08-24 13:44] ChaelKruip opened #296 "P2H must use a 'use profile' to empty its tank and should get default capacity and volume"
The specs are the same as the hot water heat pump:

* Tank volume: 100 liters
* Temperature difference: 80 degrees (from 15 to 95)
* Specific heat capacity of water: 0.00116 kWh / degree

Which results in a volume of: **9.3 kWh**

[2015-08-24 13:44] ChaelKruip commented on #285
P2H also must get a use profile (see https://github.com/quintel/etmoses/issues/296)

[2015-08-24 13:58] ChaelKruip commented on #285
For volumes of HPs see https://github.com/quintel/etmoses/issues/270. The capacity should be taken from ETE but is 10.0kW in all cases.

[2015-08-24 14:00] ChaelKruip opened #297 "Cost attributes and lifetimes of technologies should be taken from ETE"
This is necessary for the investment costs calculation for customers (end-points) in the LES.

[2015-08-24 14:03] ChaelKruip opened #298 "P2H strategy does not conform to expectation"
This is the observed behaviour with only solar panels and P2H devices:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/9441004/cb5b3036-4a73-11e5-807e-d29d2d55a8f5.png)
I would expect the P2H device to use excess PV electricity as long as its tank is not full (which doesn't seem to happen). The tank should be emptied using a hot water demand profile (see https://github.com/quintel/et

[2015-08-24 14:52] ChaelKruip opened #299 "Volume of HP should not change its capacity"
If the heat pumps in my scenario have a 'volume' of 10.0kWh, the load is:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/9443256/62867c98-4a80-11e5-8bcb-8bc72935fc72.png)
But with volume=100, the load is:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/9443253/5e9ead8a-4a80-11e5-8b57-99e71ef4cfff.png)

[2015-08-25 08:42] ChaelKruip opened #300 "Text for flex options should be clickable"
It is annoying to only be able to press the box:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/9462421/f4430508-4b15-11e5-9682-d0414164ff18.png)

[2015-08-25 08:45] ChaelKruip opened #301 "Show human readable key for profiles"
![etmoses](https://cloud.githubusercontent.com/assets/1303760/9462467/59600148-4b16-11e5-815b-28695c7f41f2.png)

[2015-08-25 08:47] ChaelKruip opened #302 "'Saving' of aggregated base load profiles does not work"
Although the capacity of the transformer is exceeded, there is no reduction in load:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/9462503/a0d44890-4b16-11e5-8888-991f66ac29b7.png)

@antw, please re-assign to @grdw if that makes more sense to you.

[2015-08-25 08:50] ChaelKruip opened #303 "Postponing of individual base load does not work"
Similar to #203

![etmoses](https://cloud.githubusercontent.com/assets/1303760/9462573/0b01c63e-4b17-11e5-8f69-291f155998b6.png)
@antw, please re-assign to @grdw if that makes more sense to you.

[2015-08-25 09:05] ChaelKruip opened #304 "Editing topology and going back in browser draws another copy"
![etmoses](https://cloud.githubusercontent.com/assets/1303760/9462908/34f61b46-4b19-11e5-929d-6f657d40e79a.png)

[2015-08-25 09:07] antw commented on #303
The curve being used in [that testing ground](http://beta.moses.et-model.com/testing_grounds/207) does not have separate flexible and inflexible components. In fact, there are only a couple of curves which do seem to have separate components:

* [edsn_e2a_flex](http://beta.moses.et-model.com/load_profiles/321)
* [edsn_e3a_flex](http://beta.moses.et-model.com/load_profiles/341)
* [anonimous_base_lo

[2015-08-25 09:09] ChaelKruip commented on #303
I think so. Let's assign to @grdw as he was working on this.

[2015-08-25 09:33] ChaelKruip commented on #303
The postponing seems to work fine. I'll make a separate issue for the splitting up of profiles. Closing.

[2015-08-25 09:33] #303 closed

[2015-08-25 09:36] ChaelKruip opened #305 "All automatically chosen base-load profiles need a flex and inflex part"
Now only a few have one.

[2015-08-25 09:37] ChaelKruip opened #306 "Flexible and inflexible parts should not be presented in the profile overview"
It is not very clear for the user which profile is which:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/9463558/9bd0cda8-4b1d-11e5-99c8-9ad4dda97a6d.png)

[2015-08-25 12:36] ChaelKruip opened #307 "If creating business case fails, the user should get a proper warning"
Now you see:
![beta_moses_et-model_com_testing_grounds_209_business_cases](https://cloud.githubusercontent.com/assets/1303760/9467576/079dcb84-4b3d-11e5-8c4a-1d9ad46d1773.png)

[2015-08-25 13:24] ChaelKruip commented on #307
For [this scenario](http://beta.moses.et-model.com/testing_grounds/209) I got an error message when making a business case with Market Model 3. After changing the MM in the database to '8', the [business case overview](http://beta.moses.et-model.com/testing_grounds/209/business_cases/1) works fine! Even when I set the MM to '3' in the database! :confused:

[2015-08-25 13:33] ChaelKruip opened #308 "The market model table needs a re-style"
Currently it has the following columns:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/9467778/4efe8bd4-4b3e-11e5-9830-38032a48e54d.png)
This should become:

|From stakeholder|To stakeholder|Measure|Applied to stakeholder|Tariff (EUR/unit)|
|---|---|---|---|---|
|Customer|Supplier|kWh consumed|Customer|0.22|

As described in https://github.com/quintel/etmoses/issues/219

[2015-08-25 13:55] ChaelKruip opened #309 "It should be possible to 'see' which Market Model you are using"
![etmoses](https://cloud.githubusercontent.com/assets/1303760/9468401/bac9fbc0-4b41-11e5-910f-15654d97b2c7.png)

[2015-08-25 15:41] ChaelKruip opened #310 ""Subnet Awareness" needed for load calculation"
This ticket is meant to document and discuss the wanted improvement of the load calculation.

# Background
The current 'push-pull' implementation for load calculation first pushes all production (starting at the end-points) 'up' to the stem of the network (the HV node). Subsequently, the (mandatory) consumption of all technologies is 'pulled' from the network (again starting at the end-nodes).

#

[2015-08-26 08:06] dennisschoenmakers commented on #310
What's the verdict on this? :smile:

[2015-08-26 08:42] ChaelKruip opened #311 "Profiles should be displayed in alphabetical order"
![screen shot 2015-08-26 at 10 41 01](https://cloud.githubusercontent.com/assets/1303760/9489143/1b413142-4bdf-11e5-8120-07816a71baae.png)

[2015-08-26 08:52] ChaelKruip commented on #310
I have made a [LES that recreates the above example](http://beta.moses.et-model.com/testing_grounds/212). Strangely (but as @antw did mention before), trafo 2 is not congested as would be expected from the 'push-pull' algorithm. At least we can use the LES to check if things are still working properly and to use as integration test for the new method (subnet awareness).

[2015-08-26 09:06] ChaelKruip opened #312 "Expand topologies by default to maximum size"
Now, most topologies are actually collapsed too far and the user needs to expand them after each editing step (of the technology matrix or the topology itself or a profile etc).

It would be even better if the topology view could 'remember' its state after each editing step.

[2015-08-26 09:39] ChaelKruip opened #313 "A business case should not be comparable to itself"
![screen shot 2015-08-26 at 11 38 35](https://cloud.githubusercontent.com/assets/1303760/9490281/22692ff8-4be7-11e5-942f-36a4eeecc6a8.png)

[2015-08-26 09:41] ChaelKruip opened #314 "It should also be possible to compare to no other business case"
Now you always compare to another, once you chose to compare...

[2015-08-26 09:46] ChaelKruip opened #315 "No transactions happen although there is electricity consumption"
In [this LES](http://beta.moses.et-model.com/testing_grounds/215/business_cases/2), I have used the 'simple market' market model and a minimalistic setup of one household, one building and one solar panel. There is consumption on the HV net:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/9490411/edf73d0e-4be7-11e5-937d-f150fb7cc4f5.png)
yet the financial summary table only shows zer

[2015-08-26 11:47] dennisschoenmakers opened #316 "LESS show page can be better organised"
Currently, it is a bit chaotic.

My thoughts on how it can be improved:

* It should show all the generic stuff first, on top (e.g. strategies, stakeholders, the topology).

* Below the topology it should read something like: "Click on a node above to see the load and technologies".

* Once you select a node you should see a header title "Load and technologies for connection HH1", the load chart (

[2015-08-26 11:49] ChaelKruip opened #317 "Business case interface needs 'back to load' button or should be opened in new tab"
![etmoses](https://cloud.githubusercontent.com/assets/1303760/9492565/fe6bf2e0-4bf8-11e5-8835-8ea9a643a525.png)

@dennisschoenmakers @antw which option would you prefer? Open in 'new tab' or 'go back'?

[2015-08-26 11:53] antw commented on #315
There are four interactions defined in this market model:

* **customer** pays **supplier** for `kWh`
* **customer** pays **government** for `kWh`
* **customer** pays **system operator** for `kW_contracted`
* **supplier** pays **producer** for `kWh`

I see two problems with this business case:

1. **customer** isn't a stakeholder of any node in the topology. **system operator** is the stakeholder

[2015-08-26 12:13] antw commented on #317
"Go back" please. Opening in a new tab/window [isn't very user-friendly](http://www.webcredible.com/blog/beware-opening-links-new-window/).

[2015-08-26 12:14] ChaelKruip commented on #315
How silly of me! Thanks for pointing that out.

Yes and no. I am worried about how we then assign cost. Is the customer paying for the O&M cost or the SO?

I'll make a ticket for that.

[2015-08-26 12:14] #315 closed

[2015-08-26 12:27] ChaelKruip opened #318 "All end-points of a topology should be available in the technology matrix"
(even if the user deletes then first).
[This LES](http://beta.moses.et-model.com/testing_grounds/224/) had 3 end-points but now the user can only choose one.

[2015-08-26 12:28] antw commented on #315
I agree this needs a bit more thought and experimentation. However, I think this specific example isn't a problem: the customer would only pay the operating costs if you explicitly set up a payment rule to that effect. Instead, the model is likely to be:

* **customer** → **supplier** (`kWh_consumed`)
* **system operator** → **???** (`operating_costs`)

In this way, you can have two stakeholders r

[2015-08-26 12:40] jorisberkhout commented on #274
I agree with @ChaelKruip that it would be nice if this can be solved. Changing the capacity of a transformer is now quite a lot of work, while it is something that I want to change in particular when testing a LES.

[2015-08-26 12:47] ChaelKruip opened #319 "Depreciation cost and O&M cost of infrastructure and technologies should be included in cost"
As mentioned in https://github.com/quintel/etmoses/issues/219, the depreciation cost of the network needs to be accounted for.

I just realised that the same goes for O&M costs and the depreciation costs of technologies. I suggest the following approach:
Depreciation cost and O&M cost are paid to 'yourself'. So, in the financial interaction matrix, the diagonal should include those costs. Obviousl

[2015-08-26 12:48] ChaelKruip commented on #316
:+1:

[2015-08-26 13:22] jorisberkhout opened #320 "Behaviour of 'Capping of solar pv' strategy not as expected"
In [LES#216](http://beta.moses.et-model.com/testing_grounds/216), I created a very simple testing ground with only households and residential PV on the same, not technologies on the other. I applied the 'Capping of solar pv' strategy (with slider setting 100%) and, given the large installed capacity of PV I installed, I was expecting the load to be equal to the negative max of the transformer most

[2015-08-26 13:33] ChaelKruip commented on #320
Good catch @jorisberkhout

[2015-08-26 13:35] ChaelKruip opened #321 "kW_connection is not working properly"
Market models including this measure fail to compute it seems.

[2015-08-26 13:39] ChaelKruip opened #322 "Financial overview needs some finishing touches"
The Stakeholders column does not have a title and the corrections column should be called 'Correction'.
![etmoses](https://cloud.githubusercontent.com/assets/1303760/9494800/782bbf48-4c08-11e5-8dbe-799c9796767b.png)
Also, if no correction are present, it would be better to not show numbers (as in the other empty cells).

[2015-08-26 14:19] ChaelKruip opened #323 "Expenses should be subtracted from income"
It seems that 'out; is now added to 'in':
![etmoses](https://cloud.githubusercontent.com/assets/1303760/9495924/27cf6c88-4c0e-11e5-9369-e9607b1c4ed7.png)

[2015-08-26 14:55] jorisberkhout opened #324 "Cancelling a change in the concurrency settings messes up the technologies"
While editing a LES, I accidentally pressed the `Apply` button under the concurrency switches. I cancelled the operation through the `Cancel` button on the pop-up but this messed up the technologies. I noticed the following changes:

- the residential PV panel was changed from `solar_pv_amsterdam` to `solar_pv_zwolle`
- the yearly demand for the residential PV was set to `0` where it had no value

[2015-08-26 15:00] jorisberkhout opened #325 "Setting the yearly demand of solar PV to `0` is possible and removes the solar load profile from the LES"
After ETMoses decided to set the yearly demand of my solar PV to `0` (see https://github.com/quintel/etmoses/issues/324), the solar load profile disappeared from my LES. I was expecting that solar PV does not take a yearly demand attribute at all since it already has a capacity.

[2015-08-26 15:34] jorisberkhout opened #326 "Scaling of flex part of base load profile does not work properly"
I wanted to see the curve for the flex part of `anonimous_base_load_1` for a specific week. I opened the profile and the associated curves through the `Profiles -> Show all` and selected the specific week for the inflex curve of this profile. When I scrolled down to see the flex curve for this week I noticed that the dropdown menu indeed indicated the correct week, but according to the x-axis of t

[2015-08-26 15:38] jorisberkhout commented on #326
I you first scale the flex chart, this works fine, but the inflex chart fails

[2015-08-26 22:26] antw commented on #325
By this, do you mean that you shouldn't be able to enter a `demand` value at all? This makes sense, but I just want to be clear.

[2015-08-26 22:30] antw commented on #320
I agree. This is strange since conservation of production (solar PV capping in this case) is the last thing to be calculated. This should result in the green line being flush with the lower capacity line; I'll investigate.

[2015-08-27 06:23] jorisberkhout commented on #325
Yes, that is indeed what I mean. Sorry for not making this clear.

[2015-08-27 07:55] grdw commented on #213
Yes

[2015-08-27 07:55] #213 closed

[2015-08-27 08:12] grdw commented on #273
Not yet. There's still some front-end things that need to be discussed.

[2015-08-27 08:13] ChaelKruip commented on #219
Because this issue is becoming a bit lengthy, I'll be making separate issues for the measures that are still needed or are not behaving as expected.

[2015-08-27 08:15] grdw commented on #282
This is in ET-model right?

[2015-08-27 08:17] #284 closed

[2015-08-27 08:18] ChaelKruip commented on #282
Yes, sorry.

[2015-08-27 08:18] grdw commented on #289
That's one of the problems I found when trying to implement #273

[2015-08-27 08:22] grdw commented on #304
They should ban the 'back' button in browsers ...
Will look into it! :smile_cat:

[2015-08-27 08:32] grdw commented on #306
Well this has to do with categorization of the *load profiles*. Not wether the *load profile components* have a `flex` or `inflex` part. I removed the categorizations `flex` and `inflex` for it has nothing to do with the actual load profile.

[2015-08-27 08:33] grdw commented on #307
I also noticed that it sometimes takes quite a while to calculate a business case. It might be that the server just timed out?

[2015-08-27 08:34] antw commented on #305
I suspect what's really needed here is the "upload / edit load profile" page to allow a user to upload the curve *components* depending on the type of curve, then we wouldn't have to do this manually ourselves.

**Normal curve:**
* "default" component only

**Base load profile:**
* "inflex" component
* "flex" component

**Heat pump profile:**
* "availability" component
* "use" component

(Maybe we

[2015-08-27 08:37] antw commented on #302
I'll leave this assigned to me, but I *think* saving will work once we have a separate `base_load_large` technology for the EDSN base loads (see #273).

I'll keep the issue open and assigned to me as a reminder to check that the results are as expected.

[2015-08-27 08:42] antw commented on #299
This is a known issue, caused by the HP load profile – currently a *use* profile – being scaled by the `volume` instead of the `capacity` (necessary for EVs). I'll revisit this in the next day or so once I have finished heat pump availability profiles and EV use.

[2015-08-27 08:45] antw commented on #307
I found business cases to be reasonably fast, but what slows everything down is the need to calculate the network loads first. Since we're not storing the network loads anywhere we have to do that before we can calculate the business case. This is on my radar to fix.

On the testing_grounds/show page we show a "please wait..." message while the loads are being calculated, and then show the topolog

[2015-08-27 08:45] ChaelKruip opened #327 "kW_connection measure should measure the number of connections of a certain type"
This is the fixed (on number per year) connection fee that most customers have to pay for their connection to the network. The only thing that matters here is how many `units` of a certain connection type (given by its capacity) are associated with an end-point.

As mentioned shortly in https://github.com/quintel/etmoses/issues/219 and specifically https://github.com/quintel/etmoses/issues/219#iss

[2015-08-27 08:47] antw commented on #298
Modelling or calculation issue, so I'll reassign this to me.

[2015-08-27 08:53] antw commented on #295
Maybe we could save these options to `localStorage` whenever the user makes a change? That way it's easy to restore the settings when they come back to the page.

[2015-08-27 09:00] antw commented on #288
A quick and easy solution is to remove "Household" from the permitted technologies list when editing the profile. However, if a user goes back and edits this old LES, they won't be able to reselect these older profiles and a different profile will likely be selected in the drop-down.

Ideally, we would add a boolean `autoselect` column to the `technology_profiles` table (that defines the permitted

[2015-08-27 09:09] #68 closed

[2015-08-27 09:11] antw commented on #282
Closed by quintel/etmodel#1883.

[2015-08-27 09:11] #282 closed

[2015-08-27 09:12] #263 closed

[2015-08-27 09:19] ChaelKruip commented on #305
Yes! :+1:

[2015-08-27 09:23] ChaelKruip commented on #288
If not too difficult I would prefer this as well.

[2015-08-27 09:24] ChaelKruip commented on #282
:+1:

[2015-08-27 09:35] ChaelKruip opened #328 "Topology view truncates the topology image"
![etmoses](https://cloud.githubusercontent.com/assets/1303760/9517345/c22fa580-4caf-11e5-8cfb-11cab1182176.png)

[2015-08-27 10:00] ChaelKruip opened #329 "kW_max should let the customer pay for the highest load in a month"
kW_max is the monthly maximum load (could also be negative) for a given end-point.

The payment tariff that goes with it is just the normal 'fixed' tariff.
The tariff (max-kW-measured-in-month * (EUR/kW))  should be 'transferred' for each month.

At second thought, I am not quite sure how the client envisions this:
* Look at the load of each end-point individually and add for each stakeholder or
*

[2015-08-27 10:05] grdw commented on #285
![screen shot 2015-08-27 at 12 03 51 pm](https://cloud.githubusercontent.com/assets/2676542/9517974/b6d1228c-4cb3-11e5-9bb4-00ec5a5967e4.png)

With this being my database table, what would be the correct defaults (apart from the values you just specified)? Also could you maybe tell me which technology-values do and don't have a default?

[2015-08-27 10:22] #286 closed

[2015-08-27 10:34] ChaelKruip commented on #24
I think we can close this.

[2015-08-27 10:34] #24 closed

[2015-08-27 11:13] ChaelKruip commented on #329
Am I correct in thinking that this is already implemented @antw? I did a short test and it seems to work nicely :smile:

[2015-08-27 11:24] antw commented on #329
Yes indeed.

The second of the two suggestions is how it currently works. If the tariff is a fixed amount (EUR/kW), does it matter which of the two we implemented? If there are two stakeholders each with a maximum load of 5kW, and a price of 2 €/kW, the final price will be the same either way:

* **5.0** × 2.0 + **5.0** × 2.0 = €20.0
* **10.0** × 2.0 = €20.0

The only time it matters whether we me

[2015-08-27 11:33] grdw commented on #318
Fixed with: https://github.com/quintel/etmoses/commit/6c0e84c4d329158f0654e3588c8c6183a54d55e2

[2015-08-27 11:36] #318 closed

[2015-08-27 11:37] ChaelKruip commented on #329
I think that's fine!

In your example it does not matter. I think it can matter in general because the peak load is an *instantaneous* thing. Suppose two end-points have loads as follows:
* HH1: [5, 1]
* HH2: [1, 5]

For method 1 we would find 10 (5 for each end-point). For the stakeholder as a whole, we would find the maximum of the joint load: [6, 6], which is 6 obviously.

I think we can do wit

[2015-08-27 11:44] antw commented on #329
Good point!

[2015-08-27 13:32] ChaelKruip opened #330 "kW_flex does not seem to work"
With this Market Model:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/9521667/7ca5be34-4cd0-11e5-8129-8a849615edba.png)
and [this LES](http://beta.moses.et-model.com/testing_grounds/230), I get an error when trying to calculate a business case. I have tried to use different strategies.

I realise that there are no technologies with working flexibility strategies in this LES but the

[2015-08-27 13:37] antw commented on #330
The flexibility measures aren't properly "hooked up"; I'll see that this gets done.

Out of interest, what is the kW_flex measure specifically? The market model has two flexibility-related measures implemented:

* **FlexibilityRealised**: The *actual* flexibility of each endpoint throughout the year: the difference between the blue and green curves in each time-step.
* **FlexibilityPotential**: Th

[2015-08-27 13:47] ChaelKruip commented on #330
I think we should have them both indeed and name them:
* kWh_flex_realised
* kWh_flex_potential

We will be measuring the total **kWh** of flex in our LES anyway instead of the instantaneous flex in **kW** so let's make that expicit.

[2015-08-27 13:51] antw commented on #330
Understood! The measures *are* in fact in kWh already, but I'll change the name(s) to reflect that.

[2015-08-28 09:29] #306 closed

[2015-08-28 11:23] ChaelKruip opened #333 "kW_contracted needs to be added to the measures"
This is a very simple measure once 'kW_max' (https://github.com/quintel/etmoses/issues/329) has been implemented. The only difference is that this measure deals with the yearly peak rather than the monthly peak. The payment is once and at the end of the year.

For now, we can use a fixed tariff but in real life this measure is a 'stepped tariff'.

[2015-08-28 12:54] ChaelKruip commented on #266
Just to avoid confusion: the capacity is specified in units of kW and the volume in units of kWh.

The profiles (both 'use' and 'availability') for heat pumps should be scaled by the storage volume of the tank (also see https://github.com/quintel/etmoses/issues/299). So, if the volume and capacity are specified as above, a use/availability of 0.5 translates into `0.5 * 2.0

[2015-08-28 12:59] grdw commented on #323
Fixed with: https://github.com/quintel/etmoses/commit/57990fa45ec0d21da581555a700e3ad9ae1f6758

[2015-08-28 12:59] #323 closed

[2015-08-28 13:02] grdw commented on #317
![screen shot 2015-08-28 at 3 01 52 pm](https://cloud.githubusercontent.com/assets/2676542/9546772/c1212830-4d95-11e5-9bcb-c5736262c745.png)
Like this?

[2015-08-28 13:09] #314 closed

[2015-08-28 13:12] grdw commented on #313
Fixed with: 7b73700

[2015-08-28 13:12] ChaelKruip opened #334 "COP should be taken into account for heat pumps"
The 'capacity' attribute of heat-pumps refers to the **output of heat** and is not equal to the **input** capacity of electricity which determines the load on the network.

For heat pumps, the coefficient of performance (COP) determines how a given input capacity is related to the output capacity. The COP can be used as an efficiency in the sense that:

[code]

So, the load of heat pumps should be

[2015-08-28 13:12] #313 closed

[2015-08-28 13:35] #281 closed

[2015-08-28 13:36] grdw commented on #267
Is this still relevant?

[2015-08-28 13:36] grdw commented on #317
DIscussed it and changed it on the fly.

[2015-08-28 13:36] #317 closed

[2015-08-28 13:45] ChaelKruip commented on #267
I think we can close this.

[2015-08-28 13:45] #267 closed

[2015-08-28 14:00] #293 closed

[2015-08-31 07:32] ChaelKruip opened #335 "Alternative measure for number of connections would be nice"
The current measure for connections (see https://github.com/quintel/etmoses/issues/327) relies heavily on the information in the topology (specifically `capacity` and `units` of end-points). Most users will never edit their topology, however.

I suggest to add another measure that 'just' uses the number of `base_load` profiles for each stakeholder as the measure of the number of connections. In it

[2015-08-31 08:32] ChaelKruip opened #336 "NICE TO HAVE: distribution of households should take capacity of topology into account"
Currently, the important topologies (e.g., `default`) have a `capacity` and `units` attribute. This would allow ETMoses to be able to distribute households and technologies according to the available capacity of the end-points. For example a scenario with 100 households could be coupled to a topology with two -end-points. Currently, ETMoses would divide the HHs 50/50 over the end-points. The sugge

[2015-08-31 09:19] grdw commented on #312
I managed to. However, I'm now testing with the Lochem topology.
Which results in this:

![screen shot 2015-08-31 at 11 18 46 am](https://cloud.githubusercontent.com/assets/2676542/9575723/1417fac6-4fd2-11e5-95ce-17ccedaec094.png)

[2015-08-31 09:31] grdw commented on #304
Closed with: 6bc0b53

[2015-08-31 09:31] #304 closed

[2015-08-31 09:33] ChaelKruip commented on #312
I don't think that is a problem. The user can collaps the topology view right?

[2015-08-31 09:37] grdw commented on #312
In a way. I'll show you what the issue is.

[2015-08-31 10:03] ChaelKruip commented on #308
Including @antw as this ties in with the way the measures work ('measure' and 'applied to').

[2015-08-31 10:06] grdw commented on #312
Issue fixed with: 033a3d8

[2015-08-31 12:11] #312 closed

[2015-08-31 12:17] grdw commented on #301
Fixed with: https://github.com/quintel/etmoses/commit/d11beaff26e9aeaf987435aefffff3b3d67aab50

[2015-08-31 12:20] #301 closed

[2015-08-31 15:05] dennisschoenmakers opened #337 "Show LES interface should be restructured"
As discussed in the meeting with @grdw and @ChaelKruip

![img_1241](https://cloud.githubusercontent.com/assets/104830/9581907/6fbdfcce-5002-11e5-9214-72aaff5d6396.JPG)

[2015-09-01 08:06] grdw commented on #308
What's the purpose of the 'Applied to stakeholder' field? Is that a completly different field than `from` and `to`?

[2015-09-01 08:08] ChaelKruip commented on #308
Yes. That is the stakeholder that the measure is applied to. So, the customer (from) might pay the supplier (to) for the number of kWh produced (measure) by the producer (stakeholder that the measure is applied to).

[2015-09-01 08:13] grdw commented on #308
![screen shot 2015-09-01 at 10 09 48 am](https://cloud.githubusercontent.com/assets/2676542/9599133/99cbe8a2-5091-11e5-8f31-2ddd80c5ef86.png)

Does that imply that the edit and new screen also need another dropdown box, selecting to which stakeholder (from or to) the measure applies to?

[2015-09-01 09:47] jorisberkhout commented on #217
I looked into the scripts that generate the use and availability profiles for space heating **and** hot water heat pumps and spotted the following points that need fixing:

**Space heating script**
- [ ] There is no need to multiply by the COP as `capacity_in kW` already is the heat output capacity
- [ ] The volume that is set in `hp_space_heater_availability_profile_generator.py` (100 liter) conf

[2015-09-01 09:48] jorisberkhout commented on #217
Reassigning to @ChaelKruip to make the changes and re-create the profiles.

[2015-09-01 10:14] #217 closed

[2015-09-01 10:23] #260 closed

[2015-09-01 10:23] #268 closed

[2015-09-01 10:23] #273 closed

[2015-09-01 10:23] #289 closed

[2015-09-01 10:23] #324 closed

[2015-09-01 12:23] ChaelKruip opened #339 "Flexible and inflexible part of profiles should be clearly distinguished in overview"
![etmoses](https://cloud.githubusercontent.com/assets/1303760/9604019/ffcb1858-50b4-11e5-8379-f5502170eadc.png)

[2015-09-01 12:26] ChaelKruip opened #340 "The profile category should have persistence when editing"
Now it just jumps to the first category:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/9604068/5fdb154a-50b5-11e5-928a-14df417e00d5.png)

[2015-09-01 12:27] ChaelKruip opened #341 "It should be clear which file is for the 'use' and 'availability' when uploading new (HP) profiles"
![etmoses](https://cloud.githubusercontent.com/assets/1303760/9604095/9235bc2a-50b5-11e5-9c2d-d5b6aa57ec66.png)

[2015-09-01 13:49] grdw opened #342 "Importing and refreshing"
When you import a scenario from EtEngine and reload the browser, the profile table cannot detect `base_load_edsn` technologies anymore. This is because the base load technologies get imported as `base_load` than it changes to `base_load_edsn` by javascript - based upon the amount of units.

Than when you refresh the page it tries to find the `base_load_edsn` value in the list of technologies (beca

[2015-09-01 14:08] ChaelKruip opened #343 "HP profiles should be shown as two curves similar to flex and inflex part of base_load profiles"
Now, the 'use' and 'availability' part are still separate:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/9606418/a2fe2494-50c3-11e5-9892-7a79929a17e1.png)

[2015-09-01 14:17] grdw commented on #341
http://beta.moses.et-model.com/load_profiles/new

This was a database thingy -> fixed.

[2015-09-01 15:12] ChaelKruip opened #344 "Financial profiles should not have three upload boxes"
![etmoses](https://cloud.githubusercontent.com/assets/1303760/9608028/97f22ba0-50cc-11e5-9fbd-98063e87466c.png)

[2015-09-02 08:43] grdw commented on #344
Fixed with 528ddf4

[2015-09-02 08:43] #344 closed

[2015-09-02 08:43] #343 closed

[2015-09-02 08:43] #341 closed

[2015-09-02 08:47] grdw commented on #340
Fixed with: ce7eca67bc0c88514ec0a1bc6d1114ccdd2df20d

[2015-09-02 08:47] #340 closed

[2015-09-02 09:13] #285 closed

[2015-09-02 09:14] grdw commented on #339
Fixed with: a65e1a3c11e358b5df6c2199c989d603819756ea

[2015-09-02 09:14] #339 closed

[2015-09-02 09:26] antw opened #345 "Sign in form doesn't care what password I enter"
Steps to reproduce:

* Visit Moses while signed out.
* Enter a valid e-mail address.
* Leave password blank, or enter an incorrect password.

As long as you know the e-mail address of a registered user, you can sign in as them even though the password is incorrect.

It looks like our custom SessionsController does not call [warden.authenticate! as the "official" Devise controller does](https://git

[2015-09-02 09:38] grdw commented on #345
**slaps forehead**

Yes, they are.

I'll fix this asap

[2015-09-02 09:57] grdw commented on #345
@antw this is now solved. There are still some unused devise partials that can be removed before I close this issue.

[2015-09-02 10:04] #345 closed

[2015-09-02 10:08] antw commented on #345
Thanks!

No harm done; that's what betas are for. :smiley:

[2015-09-02 12:25] grdw commented on #337
![screen shot 2015-09-02 at 2 24 19 pm](https://cloud.githubusercontent.com/assets/2676542/9631019/544a8e76-517e-11e5-90c7-9b71df9c9128.png)

Including @ChaelKruip @antw @dennisschoenmakers

If the topology and load chart are next to each other; this is the result.
I want to hear your thoughts.

[2015-09-02 12:31] antw commented on #337
We used to have the topology top-down – instead of left-to-right – and abandoned it because it was difficult to show complex networks. *However* left-to-right [still has that problem with very large networks](https://cloud.githubusercontent.com/assets/2676542/9575723/1417fac6-4fd2-11e5-95ce-17ccedaec094.png) and I actually prefer top-down. So I think that's a win.

I also like the chart being next

[2015-09-02 17:57] dennisschoenmakers commented on #337
I like the charts next to each other, absolutely. :+1:

It should be even more **clear** which node is selected, I think the current underline is too subtle.

[2015-09-03 08:31] ChaelKruip opened #346 "Gas use of burner that kicks in when heat pump is insufficient needs to be accounted for"
Now we don't track the gas use, but we will need to when we add gas-infra.

[2015-09-03 08:33] ChaelKruip opened #347 "Profile view needs some improvements"
It is unclear what those names mean (the allowed technologies) and 'Default' is not clear either:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/9653898/14ff5c70-5227-11e5-9d0d-c51c8822fa57.png)

[2015-09-03 08:45] grdw commented on #347
Hmmm because of the duplicate form fields issue not so long ago, it now uploaded 4 profiles for the heat pump you're now looking at. Should I remove the older profiles?

[2015-09-03 08:48] ChaelKruip commented on #347
Yes please. I'll be uploading other versions later today. When using the 'edit' function, I think any new upload should overwrite the current.

[2015-09-03 09:16] grdw commented on #347
Yes they do .... except if the `curve_type` is `default` which was the case for all the old components.

[2015-09-03 09:28] ChaelKruip commented on #270
After discussion with @jorisberkhout, the temperature difference and, therefore, the volume for hot water heat pumps have been adjusted. The default volume should be 5.8 kWh (used to be 9.2kWh). NOTE: For  P2H, the 9.3kWh is still correct.

Including @antw @grdw

[2015-09-03 09:32] grdw commented on #337
![screen shot 2015-09-03 at 10 10 09 am](https://cloud.githubusercontent.com/assets/2676542/9655152/6eb8594e-522f-11e5-9e97-18ce81e44a54.png)

How about some opacity?

[2015-09-03 09:49] ChaelKruip commented on #337
I like!

[2015-09-03 12:10] grdw opened #348 "When you've removed all technologies, you can't add a new one."
The first question that should arise here: why would you do this?

Therefor, will fix this when time is on our side.

[2015-09-03 13:44] grdw commented on #337
Full-preview

![screen shot 2015-09-03 at 3 44 03 pm](https://cloud.githubusercontent.com/assets/2676542/9659806/aee0fecc-5252-11e5-8a00-ea800ee2b12f.png)

[2015-09-03 13:52] ChaelKruip commented on #337
Very nice! :+1: :+1:

[2015-09-03 14:01] antw commented on #337
* Turn this into a call-for-action with something like "Click on a network component to view its load and attached technologies"; this encourages the user to do something (explore and experiment). "Network component" is likely more meaningful to them than "node", which is a comp-sci term.

  We should try not to use computer science terms when there are more general alternatives. Most people won't

[2015-09-03 14:32] ChaelKruip opened #349 "How shall we call the options that users can choose for the behaviour of technologies?"
Currently, the user is asked to "Pick a strategy" (see https://github.com/quintel/etmoses/issues/337#issuecomment-137450841)

@antw suggests to use "Choose network features" as an alternative

I feel "strategies" is an accurate description for what the user can choose there because it deals with *how* to use the technologies in order to attain some goal but perhaps my mind is warped too much by ex

[2015-09-03 15:55] antw commented on #349
We're [bikeshedding](https://en.wikipedia.org/wiki/Parkinson%27s_law_of_triviality) pretty hard here. :stuck_out_tongue:

* **Choose technology behaviour**
* Select technology features
* Customise technology behaviour  _(bonus points for that option having *two* words which have different British and American English spellings)_
* Choose network features

I dislike "strategies" for being a technic

[2015-09-03 17:58] ChaelKruip commented on #349
Haha, indeed.

I opened this issue half for laughs but I really appreciate the points that @antw is making here. Perhaps we can have a fresh mind (Rob Terwel?) look over ETMoses soon and let him point out everything that he doesn't intuitively get?

[2015-09-04 08:26] grdw opened #350 "Remember import id from et-model"
Store import id into session and add a 'Your current LES' button in the menu.

[2015-09-07 13:38] grdw commented on #349
Is "strategies" really a technical term? I don't feel that way, but I wouldn't mind if it's left out due to better alternatives.

[2015-09-07 15:02] #322 closed

[2015-09-07 15:20] #290 closed

[2015-09-07 15:21] grdw commented on #290
This is already deployed, forgot to close.

[2015-09-08 08:14] dennisschoenmakers commented on #337
Yes, very nice! Maybe this is another ticket, but could we round those
Floats? 2239.99999994 is almost 2240, right? :)

On Thu, Sep 3, 2015 at 4:01 PM, Anthony Williams <notifications@github.com>
wrote:

--

Dennis Schoenmakers, *Partner*

*Quintel Intelligence*Atrium - Strawinskylaan 3051
1077 ZX  Amsterdam
The Netherlands

*Visiting Address:*
Keizersgracht 639
1017 DT Amsterdam

T  : +31 (0)20 3

[2015-09-08 08:17] grdw commented on #337
![screen shot 2015-09-08 at 10 16 36 am](https://cloud.githubusercontent.com/assets/2676542/9729856/b673f220-5612-11e5-9040-0f90c0e54988.png)

That's already fixed :)

[2015-09-08 08:18] dennisschoenmakers commented on #337
:+1:

[2015-09-08 08:23] grdw opened #352 "LES Edit page discussion"
![screen shot 2015-09-08 at 10 19 16 am](https://cloud.githubusercontent.com/assets/2676542/9729911/26fc0e10-5613-11e5-82ae-0101e92a378a.png)

@ChaelKruip had the request to make all the parts of the LES editable through one single page.

My first setup was a collapse structure,, that didn't look nice.
So I switched to tabs instead.

The market model and topologies are cloned or updated depending

[2015-09-08 08:43] grdw commented on #347
![profile](https://cloud.githubusercontent.com/assets/2676542/9730321/08f6bd4a-5616-11e5-8b00-2fbedc80e978.png)

What is the issue in this case? Is it purely a lack of context or is it the somewhat technical notation with all the underscores?

[2015-09-08 09:18] ChaelKruip commented on #347
Context. Needs a title like: "associated technologies" or something. It would be nice if the wording is consistent with the select boxes where the technologies can be selected for the first time.

[2015-09-08 09:20] dennisschoenmakers commented on #352
I like it, and I think tabs work well. I was wondering:
* how do you 'save' it? And how to make sure that saving is not accidentally forgotten? For instance, when you toggle a concurrency, is that change saved? or do I need to press a button, if yes: where is it, and how do you communicate that?
* Could you communicate more clearly that the 'apply' button applies to the toggles above? E.g. borderi

[2015-09-08 09:22] dennisschoenmakers commented on #352
One more thing: the LES's name should not be in the tab of technologies, right?

[2015-09-08 09:40] ChaelKruip commented on #352
I like the tabs and I fully agree with @dennisschoenmakers's questions/suggestions.

One more thing: the business case is the *output* of the market models but also editable (the free-format corrections). Wouldn't it be more logical to put them on the same page? If we do that, we must make sure that the user is guided to first edit the market model, apply the changes and only then adds corrections

[2015-09-08 09:40] grdw commented on #352
You save each individual part instead of the whole thing in one go.

That's now the responsibility of the user. Maybe we could have soms sort of "you have unsaved changes, do you really want to leave"-prompt?

Apply, applies the concurrency settings. "Toggle-all" toggles all the switches.

Good question. Maybe we could also just hide that bit of information under a tooltip.

Yes. I agree. A little

[2015-09-08 09:47] dennisschoenmakers commented on #352
Could you create an extra tab called 'general'? Maybe (later) we could all kind of generic information there, such as user, scenario_id, private or public, etc.

[2015-09-08 09:50] grdw commented on #352
That sounds like a nice solution :+1:

[2015-09-08 10:02] antw commented on #352
Depends. The same market model could be used for a very large LES and a very small one. Moving the correction into the market model means that the correction has to be the same, regardless of the LES on which it is used. If a user wants a correction to model "installation of cables", then that's going to be LES-dependant.

This might not be an issue since the new behaviour is to clone the market m

[2015-09-08 10:24] ChaelKruip commented on #352
Good point!

Also a good point which seem to balance out the first a bit. Do you have a preferred solution @antw?

[2015-09-08 10:47] antw commented on #352
I'm leaning in favour of us merging corrections into the market model. The downside is that if a user edits the correction in ten separate LES', they end up with ten clones of the market model. Thus, they lose the benefits of using the same MM in each LES (the ability to edit the MM and have the changes reflected immediately in all ten business cases).

There are ways around this that we could imp

[2015-09-08 11:31] ChaelKruip commented on #214
@jorisberkhout let's make this happen! :smile:

[2015-09-08 12:45] #131 closed

[2015-09-08 14:25] grdw opened #353 "Add the includeSelectAllOption to the multiselect for strategies on the LES show page"
Add the `includeSelectAllOption` propert to the bootstrap multiselect on the LES show page.

**Why it isn't implemented already? **
The property is set to true, but the checkbox of the 'select all' won't fill it's checkbox eventhough all the options are all selected.

Might try:
- bump the `bootstrap-multiselect` library to a higher version
- disable javascript files one at a time to see if any of

[2015-09-08 15:16] ChaelKruip commented on #337
Fixed with https://github.com/quintel/etmoses/issues/352

[2015-09-08 15:16] #337 closed

[2015-09-08 15:16] grdw commented on #347
![screen shot 2015-09-08 at 5 01 32 pm](https://cloud.githubusercontent.com/assets/2676542/9738345/4d7cb87c-564b-11e5-9cc6-783b5f8e7f97.png)

Hmm like this? :smiley:

[2015-09-08 15:18] grdw commented on #352
Still need to fix some feedback.

[2015-09-08 15:31] ChaelKruip commented on #347
Yes!

[2015-09-08 15:34] grdw commented on #347
Fixed it: 2b49482

[2015-09-08 15:34] #347 closed

[2015-09-08 15:36] antw commented on #334
Does the COP come from ETEngine, or is it a user-provided/hard-coded value? I can see, for example, that [this heat-pump](http://beta.et-engine.com/data/latest/converters/households_space_heater_heatpump_air_water_electricity) gets 22.22% of its energy from electricity.

[2015-09-08 15:39] #333 closed

[2015-09-08 15:58] antw commented on #329
Closing as this measure is implemented.

If we want add the ability to charge the tariff per-stakeholder, per-endpoint, and per-connection (and so on), then we shall have to schedule a couple of days to make that a reality.

[2015-09-08 15:58] #329 closed

[2015-09-08 15:59] #335 closed

[2015-09-08 16:07] ChaelKruip opened #354 "Groups of households have no name in technology overview"
<img width="1170" alt="etmoses" src="https://cloud.githubusercontent.com/assets/1303760/9740311/6554e8c6-5654-11e5-83b1-bca2423adb30.png">

[2015-09-08 17:08] ChaelKruip commented on #334
The COP can be taken from ETEngine as `coefficient_of_performance`.

[2015-09-09 07:24] grdw commented on #354
I found out why. Made a somewhat 'ok' solution. Still needs a nice solution though.

[2015-09-09 12:58] ChaelKruip opened #355 "Combining solar capping and storage in EV reduces solar production more than expected"
In [this LES](http://beta.moses.et-model.com/testing_grounds/242), the combination of the two strategies results in the following load:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/9762316/fe4ecd54-5702-11e5-99ba-0513d72f2455.png)
It seems that all production is capped instead of the amount that exactly solves the congestion.

This seems to be different than the issue described in

[2015-09-09 13:03] ChaelKruip opened #356 "Which strategies are working?"
This is an overview ticket to keep track of functionality that is currently under construction. This will keep us from testing strategies which are still being implemented.

- [x] Storage in EV prioritising local PV production
- [x] Storage in batteries prioritising local PV production
- [x] Conversion of local PV excess using P2H
- [x] Conversion of local PV excess using P2G
- [x] Buffering of el

[2015-09-09 13:07] antw opened #357 "Deferred loads (postponing) should be all-or-nothing"
Deferred loads may currently be part-postponed. Currently if a postponable technology wants to place a load of 5kW on the network, but there is only 2.5kW of available capacity, the technology will place 2.5kW onto the network and defer the remaining 2.5kW for later.

Instead, the technology should place no load on the network, and postpone the entire 5.0kW for later.

[2015-09-09 13:22] ChaelKruip commented on #356
Including @JeroenvdLogt

[2015-09-09 13:26] grdw opened #358 "'Ajaxify' edit screen"
![screen shot 2015-09-09 at 3 22 43 pm](https://cloud.githubusercontent.com/assets/2676542/9762889/aa7472c0-5706-11e5-9960-7623b5d00f45.png)

I'm turning the edit screen form submits into ajax requests.
The reason behind this, is:

- To not lose any changes you have made in multiple tabs.
- To be able to have a 'Save all' function.

Todo:

- [x] Detect changes in the form and give the tab a differ

[2015-09-09 13:29] grdw opened #359 "Calculate business case in background job"
In the current 'ajax' #358 situation. The market model and topology can be editied, but the business case has to change accordingly. Recalculating the business case costs a lot of time.

@ChaelKruip Chael suggested to move the freeform rules to the market model. Which is fine with me.
This way we can remove the business case tab from the edit screen and calculate once the user is on the LES-page.

[2015-09-09 13:39] antw commented on #359
To take this a bit further... it would be nice to also do the network calculation in a background job. Currently the LES loads with a "please wait..." message while an XHR request is sent to Moses for the load data.

This XHR request hits `testing_grounds/:id/data` where the loads are calculated in the Rails process. This is an *okay* solution provided we have enough processes, but moving this to

[2015-09-09 14:14] grdw commented on #359
Do you have any preference for a background processor?

Resque / DelayedJob / Sidekiq / ActiveJob ?

[2015-09-09 14:15] grdw commented on #359
This is in my experience still a tricky one. Without using `setInterval` how could this be done nicely?

[2015-09-09 14:27] antw commented on #359
*Maybe* Resque? In truth I don't have a huge amount of experience with any of them; so if you have a preference, I'm happy with whatever you choose.

WebSocket, but that feels like overkill. `setInterval`/`setTimeout` is probably how I'd have done it:

[code]

[2015-09-09 15:35] ChaelKruip commented on #349
I say we go with "Customise technology behaviour".
Re-open this if you feel strongly otherwise.

[2015-09-09 15:35] #349 closed

[2015-09-10 07:28] dennisschoenmakers opened #361 "Download curve button should not be visible when nothing is selected"
![image](https://cloud.githubusercontent.com/assets/104830/9782547/408746f6-579e-11e5-8db5-acc403ac7905.png)

[2015-09-10 07:33] dennisschoenmakers opened #362 "I would prefer not to 'guess' what happened with the strategies selected"
But I need a bit more information.

E.g.:

![image](https://cloud.githubusercontent.com/assets/104830/9782575/8dc12680-579e-11e5-8b09-463aeacd900d.png)

Especially if you select multiple strategies, you'll have  to understand what is going on. E.g. in the picture above, the load could as well have been capped... :scream:

### Possible solution
I think it would be very helpful if we can add series

[2015-09-10 07:33] dennisschoenmakers commented on #362
cc @ChaelKruip

[2015-09-10 07:44] ChaelKruip opened #363 "Which measure are implemented and can be tested?"
This is an overview ticket to keep track of functionality that is currently under construction. This will keep us from testing strategies which are still being implemented.

# Connection-related measures

- [x] The number of base_load profiles (this is how we determine how many 'user connections' there are to the network. Note that an end-point of the network can have many 'user connections' (the

[2015-09-10 07:55] ChaelKruip opened #364 "It should not be possible to view a LES containing a private topology that you don't own"
See [http://beta.moses.et-model.com/testing_grounds/243](http://beta.moses.et-model.com/testing_grounds/243)

[2015-09-10 07:58] ChaelKruip opened #365 "Business cases should be comparable to one from another LES"
This used to be possible but now the button has disappeared.

[2015-09-10 07:59] ChaelKruip opened #366 "Stakeholders should be viewable in topology"
We used to have this but the option has disappeared.

[2015-09-10 08:01] ChaelKruip opened #367 "For some LESs, the business case is not displayed in the 'overview' page"
See [http://beta.moses.et-model.com/testing_grounds/244](http://beta.moses.et-model.com/testing_grounds/244). When editing, you can see the business case though...

[2015-09-10 08:04] ChaelKruip opened #368 "Extra cell should be deleted in business case matrix"
![etmoses](https://cloud.githubusercontent.com/assets/1303760/9783260/5f5bac98-57a3-11e5-8c73-55ea4516a90b.png)

[2015-09-10 13:43] grdw commented on #364
@dennisschoenmakers came up with a nice solution. All the testing grounds that use a private topology or market model for that matter, are by default private.

And I would like to add that you cannot change your privacy settings of a testing ground unless both the market model and the topology are public.

[2015-09-10 13:45] ChaelKruip commented on #364
:+1:

[2015-09-10 14:42] dennisschoenmakers opened #370 "When you pan the topology, the current node looses focus and the rest unblurs"
CLick a node:
![image](https://cloud.githubusercontent.com/assets/104830/9791325/c55726e4-57da-11e5-84e6-72bafd2df798.png)

Now pan it:

![image](https://cloud.githubusercontent.com/assets/104830/9791310/b3ec22b0-57da-11e5-9c2c-e2774c5a7b2d.png)

[2015-09-10 15:52] #266 closed

[2015-09-10 15:52] #299 closed

[2015-09-11 07:23] grdw commented on #370
Hmm yes. I know, I didn't do it for the 'panning'. I did it to make sure that the user can 'unfocus'. Though right now I'm not sure if that was such a practical feature.

[2015-09-11 07:30] grdw commented on #367
Don't know why has to do with the duplicate 'system operator' bug.

[2015-09-11 07:38] #370 closed

[2015-09-11 07:38] #367 closed

[2015-09-11 07:52] grdw commented on #366
![screen shot 2015-09-11 at 9 52 25 am](https://cloud.githubusercontent.com/assets/2676542/9809703/d4e5357a-586a-11e5-9e7d-c6cfdc78ca5e.png)

Right here would be nice?

[2015-09-11 09:48] dennisschoenmakers opened #371 "When you select technologies and then click a(nother) node something weird happens"
![image](https://cloud.githubusercontent.com/assets/104830/9812020/dfd558f6-587a-11e5-8bf2-2d881e832bcc.png)

@ChaelKruip re-assign at wlll

[2015-09-11 09:50] dennisschoenmakers opened #372 "'View toplogy' is unnessary with current GUI"
And sometimes it doesn't even work. (in the case of http://beta.moses.et-model.com/testing_grounds/243, must be because it is 'private'?)

@ChaelKruip re-assign at wlll

[2015-09-11 09:57] dennisschoenmakers opened #373 "When I try to create a new topology I get a 'page not found' after clicking save"
![image](https://cloud.githubusercontent.com/assets/104830/9812241/36199a00-587c-11e5-9aee-13e00c090949.png)

@ChaelKruip re-assign at will

[2015-09-11 10:09] ChaelKruip commented on #371
Re-assigned to @grdw

[2015-09-11 10:10] ChaelKruip commented on #373
Re-assigned to @grdw

[2015-09-11 10:22] dennisschoenmakers opened #374 "Why does it not calculate?"
e.g. http://beta.moses.et-model.com/testing_grounds/243

![image](https://cloud.githubusercontent.com/assets/104830/9812743/b0a82dc4-587f-11e5-8cf1-5fb1a4c28ab6.png)

[2015-09-11 10:23] dennisschoenmakers commented on #374
Reminds me of the classic: :smile:

![](http://vignette2.wikia.nocookie.net/mysims/images/2/2d/YUNO.png/revision/latest?cb=20111207025749)

[2015-09-11 11:02] antw commented on #374
This message almost always indicates a code or data error; it's the result of an exception being raised. In development and test environments you'll see a full backtrace, but in staging and production we opt for a user-friendly message (and the exception goes to Airbrake).

In this case, there's a heat-pump using an old-style profile which hasn't been split into separate `use` and `availability` c

[2015-09-11 11:05] dennisschoenmakers commented on #374
:laughing:

[2015-09-11 11:10] dennisschoenmakers commented on #374
Thanks for clearing this up. Matter resolved!

[2015-09-11 11:10] #374 closed

[2015-09-11 11:14] ChaelKruip commented on #374
I have uploaded new profiles yesterday so this should not occur. Can we trace which one is the offender?

[2015-09-11 11:17] antw commented on #374
[hp_space_heating_10kw_100m2_100liter](http://beta.moses.et-model.com/load_profiles/253). I removed the technology assignments from these deprecated profiles so that they won't be selected for any *new* testing grounds, but that does nothing for older testing grounds which use them.

If there are new equivalents of these old profiles, I'll create a migration to update the old scenarios.

[2015-09-11 11:50] ChaelKruip opened #375 "EV should get default values when chosen from dropdown"
![etmoses](https://cloud.githubusercontent.com/assets/1303760/9814152/0ad0aa86-588c-11e5-8e05-4b49706bcded.png)

[2015-09-11 12:47] grdw opened #376 "Business case calculation with strategies"
I currently made it possible to make the business case calculation with strategies.

- Save strategies with testing ground

[2015-09-11 13:27] #373 closed

[2015-09-11 13:28] grdw commented on #373
Fixed with: https://github.com/quintel/etmoses/commit/8753afe53c3b1dbb07672e69e6e6825292524875

[2015-09-11 13:52] ChaelKruip commented on #372
Assigned @grdw

[2015-09-11 14:21] grdw commented on #375
![screen shot 2015-09-11 at 4 21 16 pm](https://cloud.githubusercontent.com/assets/2676542/9817082/2cc92c2a-58a1-11e5-90c7-d045628625b8.png)

[2015-09-11 14:29] #375 closed

[2015-09-11 14:34] grdw commented on #371
Weird, I know of this problem.

He squeezes only the cached load graphs.

[2015-09-11 14:35] #366 closed

[2015-09-11 14:49] #358 closed

[2015-09-11 14:50] #354 closed

[2015-09-11 14:51] #352 closed

[2015-09-11 14:54] #308 closed

[2015-09-11 14:55] #300 closed

[2015-09-11 14:56] #291 closed

[2015-09-11 14:57] #274 closed

[2015-09-11 14:57] #240 closed

[2015-09-11 15:00] #212 closed

[2015-09-11 15:08] grdw opened #378 "Capistrano deploy is complaining about ET_MODEL_URL"
![screen shot 2015-09-11 at 5 07 51 pm](https://cloud.githubusercontent.com/assets/2676542/9818232/b7fef710-58a7-11e5-8fce-350aedcfefa6.png)

Nothing to horrible. Just a warning. Should probably use a `config.yml`.

[2015-09-11 15:13] #311 closed

[2015-09-14 07:30] grdw commented on #372
@dennisschoenmakers Your suggestion is to completly remove the link?

The private thing is solved in: e0c48e5

[2015-09-14 07:32] ChaelKruip commented on #372
Yes.

[2015-09-14 07:48] grdw commented on #372
Fixed by: 7b4c585

[2015-09-14 07:48] #372 closed

[2015-09-14 07:49] grdw commented on #371
Fixed with d0c69ba

[2015-09-14 07:49] #371 closed

[2015-09-14 07:55] grdw commented on #361
Fixed with: 075d254

[2015-09-14 07:55] #361 closed

[2015-09-14 08:19] grdw commented on #316
@ChaelKruip Is this issue still relevant?

This is maybe something that's still nice to do though.

![screen shot 2015-09-14 at 10 17 29 am](https://cloud.githubusercontent.com/assets/2676542/9845288/0cab470e-5aca-11e5-98b6-a8d1438ae416.png)

Maybe something subtle like the header in the screenshot above.

[2015-09-14 08:21] ChaelKruip commented on #316
If this can be done without too much work I would like that yes.

[2015-09-14 08:23] grdw commented on #309
This sounds like it will result in @dennisschoenmakers making another issue to remove this market model link :sweat_smile:

Don't know what your current thoughts are?

[2015-09-14 08:24] grdw commented on #316
Yes. This can be done without too much work.

[2015-09-14 08:30] grdw commented on #316
Fixed with: 1274e5b

[2015-09-14 08:30] #316 closed

[2015-09-14 08:34] grdw commented on #236
We talked about this last friday I remember. The thing was that if

![screen shot 2015-09-14 at 10 33 57 am](https://cloud.githubusercontent.com/assets/2676542/9845559/225fbdbc-5acc-11e5-9bc6-cff99fa298fe.png)

One of these does not appear in the topology the user should get a warning.

If I understand correctly.

[2015-09-14 08:52] ChaelKruip commented on #309
Not really. The topology is shown explicitly in the current page and therefore the link to view the topology does not add any new information. This is not true for the market model. Only the business case summary is shown... I would say that a link is still desirable.

[2015-09-14 09:00] ChaelKruip commented on #236
Wrong column! The payer or the payee don't have to be owners of nodes in the topology. The stakeholder to which the measure is applied **does**, however.
![etmoses](https://cloud.githubusercontent.com/assets/1303760/9845979/7266dc7a-5acf-11e5-8092-a103f6c4448c.png)
The measures need to be able to measure (what's in a name :stuck_out_tongue_winking_eye: ) some quantity in the topology like how many

[2015-09-14 09:01] grdw commented on #288
I deployed a fix for this on beta.

Though it now doesn't show the `deprecated` profiles in the select box once somebody has those in their LES. I'll look into this.

[2015-09-14 09:01] ChaelKruip commented on #236
In other words: The user should be warned if one of the stakeholders in the 'applied to stakeholder' column does not exist in the topology.

[2015-09-14 09:46] ChaelKruip commented on #363
Including @JeroenvdLogt

[2015-09-14 10:26] grdw commented on #288
Hmm. I'm just seeing that the `technology_profiles`-associations are gone for deprecated household profiles? I'll close this. Re-open if this is not the intention or if something is not working.

[2015-09-14 10:26] #288 closed

[2015-09-14 10:30] grdw commented on #236
Thanks for explaining! :+1:

I think the nicest way to do this is to use the import form to validate whether or not the business case can be build.

Question: should this only be a warning? Or should the user not be able to make a LES at all?

[2015-09-14 11:08] ChaelKruip commented on #236
I think it would be a bit too much to prohibit the user from choosing a combination of topology and market model that are not calculable. He should be able to combine them but get a clear message. This way, the user can either choose to edit the market model or the topology to make it work.

[2015-09-14 11:38] antw commented on #288
I deleted them last week in a migration. Many of the old profiles weren't just deprecated, they didn't work with the latest implementation of heat pumps (use+availability) or base loads (flex+inflex).

I think perhaps we need a more considered approach to the difference between "deprecated" and "not working". Instead of deprecating broken profiles, *in the future* we should prefer to upload newer

[2015-09-14 12:25] grdw commented on #236
I wrote a tiny validator class that checks if the applied to stakeholders are in the topology. However, when should the user be messaged? After importing, before importing?

[2015-09-14 12:46] JeroenvdLogt opened #379 "Sometimes my LES seems to dissappear"
Whe I tested the Testing Wijk 11-9-2015 and changed the technology table and saved it, it still dissappeared after a chrash.

[2015-09-14 13:09] JeroenvdLogt opened #380 "Documentation ET Moses"
I couldn't find documentation about ET Moses and the associated instructions in both the ETM interface and ET-Moses self. On git hub I found some instructions and I made them myselve too. Although they need some revision they are suited for users I think. I will mail my work to Dennis and Chael.

[2015-09-14 13:13] ChaelKruip commented on #380
That would be really useful @JeroenvdLogt!

[2015-09-14 13:15] ChaelKruip commented on #236
I don't really have a preference. After might be more logical as the user is than in the position to edit the market model and the topology.

[2015-09-14 13:15] #320 closed

[2015-09-14 13:15] #355 closed

[2015-09-14 13:20] JeroenvdLogt opened #381 "ET Moses standalone?"
In the ETM interface there are instructions to deploy ETM on a standalone laptop or desktop. Will this also be possible for ET Moses? This could be a possible solution for usecase with privacy & security issues.

[2015-09-14 13:25] JeroenvdLogt opened #382 "Topology syntax"
For users it is not clear which syntax to use for topologies. I tried to create a simple topology with nodes for customers, cooperation and system operator. Altough load flow calculation are performed without problems it is not possible to create a business case.

I did this experiment with topology (cooperatie testen) within the LES (cooperatie testen). After I clicked on the create busniess case

[2015-09-14 13:27] JeroenvdLogt commented on #382
Would this be good syntax?
- name: gemeenschapsgebouw
  stakeholder: cooperation
  capacity: 345
  cost: 200000

[2015-09-14 13:29] JeroenvdLogt opened #383 "Downloading and uploading curves"
It is possible to download curves (load on nodes and profiles). But this the value seems to be very strange and not corresponding to the load curve of nodes. 15 min values of more than 10^20 for just around 100 households.

[2015-09-14 13:33] ChaelKruip commented on #383
Assigned @grdw

[2015-09-14 13:35] JeroenvdLogt commented on #383
When I try to upload a direct downloaded csv file from ET Moses back to ET Moses it doesn't work. And this is Always the case for own made csv files.

[2015-09-14 13:36] ChaelKruip commented on #381
Assigned @dennisschoenmakers

[2015-09-14 13:39] ChaelKruip commented on #381
@JeroenvdLogt, ETMoses can make private LESs. Is that not sufficient for foreseen applications?

It is possible but still quite technically challenging (you need to be able to run some software that are not installed by default on a pc).

[2015-09-14 13:39] JeroenvdLogt opened #384 "Building a technology tabel in LES from scratch"
It is not possible to start a LES with a blank technology table. This is inconvenient with big complex topologies and LES'en. This because all relevant technologies are assigned to all end-nodes. Uncheck boxes is quit a lot of work for big tables.

[2015-09-14 13:40] antw commented on #383
Can you paste a link to the LES where you see this behaviour? The CSV file describing the load of an LES node *should* be exactly the same as the load chart.

[2015-09-14 13:46] JeroenvdLogt commented on #381
I believe this will be challenging Chael but still the only option in some usecases. Privacy & security requirements  and -procedures of Liander (and more parties) can be a really pain in the ass;) Any involvement of American companies for cases with sensitive data is seen as big risk. It must be completely clear where data is stored and transported to. Because of some major issues recently proced

[2015-09-14 13:48] JeroenvdLogt commented on #384
Related to this issue: After a user deleted all techniques it is not possible to add new ones.

[2015-09-14 13:53] ChaelKruip commented on #382
It is hard to answer that without the context of the whole topology. @JeroenvdLogt can you include more of the topology in a ['gist'](https://gist.github.com/) perhaps?

The 'cost' keyword is currently not recognised by ETMoses. There is support of `investment_cost`, however.

Syntax for topology YAML is given [here](https://github.com/quintel/documentation/blob/master/general/topology_syntax.md)

[2015-09-14 13:56] grdw opened #385 "Some LES's take incredibly long to load causing a 504."
![screen shot 2015-09-14 at 3 54 58 pm](https://cloud.githubusercontent.com/assets/2676542/9851453/020db898-5af9-11e5-9f2e-9d12ccdcb788.png)

[2015-09-14 14:00] antw commented on #385
The default Nginx `proxy_pass` timeout is 60s, which would explain the 504. We could increase that setting, but maybe the better solution is to move the calculation into a background worker once #377 is merged.

[2015-09-14 14:01] ChaelKruip commented on #384
@JeroenvdLogt you can refer to other issues by using links like this: https://github.com/quintel/etmoses/issues/348

[2015-09-14 14:05] dennisschoenmakers opened #386 "Add general instructions akin to etmodel"
@ChaelKruip re-assign at will

[2015-09-14 14:06] dennisschoenmakers commented on #381
We will add general instructions to the README file on how to run etmoses on your local machine comparable to the instructions found on [etmodel](http://github.com/quintel/etmodel). See #386. Closing this one.

[2015-09-14 14:06] #381 closed

[2015-09-14 14:14] JeroenvdLogt commented on #348
I agree that this is of less priority than other issues.
Why a user would do this is because the wanted situation can be completely different than after automatic assiging by ET Moses. (slighlty different configuration per "streng van trafo's ". For nation wide cases this is not applicable but for some specific usecases it is.

[2015-09-14 14:19] ChaelKruip commented on #386
Assigned to @twilkinson573. Please use the etmodel instructions as a template.

[2015-09-14 14:19] JeroenvdLogt commented on #383
http://beta.moses.et-model.com/testing_grounds/251
It seems to correspend but only a factor 10^12 to big.
20 kW vs 20197545587165600

[2015-09-14 14:21] antw commented on #208
In order to calculate "flexibility realised" or "flexibility potential", we need to compare two calculated networks to see the difference in load. At this moment in time, the measure would look at the differences between an all-strategies-off ("blue line") network and an all-strategies-on network.

In light of #376, which will include the author's choice of strategies when calculating a business c

[2015-09-14 14:22] ChaelKruip commented on #383
Could it be that you use comma's as decimal separators? ETMoses uses periods. Perhaps the 197545587165600 are just the decimals after the 20 :smile:

[2015-09-14 14:24] JeroenvdLogt commented on #382
Thank you for this information. I will try again.

[2015-09-14 14:25] ChaelKruip commented on #208
That is exactly what I had in mind. :+1:

[2015-09-14 14:26] antw commented on #208
Thanks. The measure was implemented some time ago; this is a trivial change. Hope to have it on beta shortly.

[2015-09-14 14:41] grdw commented on #379
Including issue #385

[2015-09-14 14:57] JeroenvdLogt commented on #382
It have it working now for a market model with only customer, cooperation and supplier. Other features seem not to work in market table.

[2015-09-14 15:03] JeroenvdLogt opened #387 "Some techniques seem not to work as it should be"
heat pumps: in general
batteries: surplus PV strategy is not capped by limitations of MSR's
P2H: althoug big volume and power doesn't seem to have much impact on load

[2015-09-14 15:04] JeroenvdLogt opened #388 "Relative contribution to loadflow per node"
It is possible to see which nodes are owned by whom. But it is not possible to see the relative contributtion of cooperation to individual nodes.

[2015-09-14 15:07] JeroenvdLogt opened #389 "How does other and generic device work"
Is it possible to use other techniques the one allready deployed? If so, how does that work, implications for calculations? For example windturbines on company's site.

[2015-09-14 15:13] grdw commented on #385
I do have a question about this though. Where would I store the load calculation when the background processor is finished with it's calculation? With a business case we just use the financials table. With this calculation I'm not to sure we should use the database for this.
`Rails.cache`?

What are your thought, @antw ?

[2015-09-14 15:14] ChaelKruip commented on #382
Can you make specific tickets for those please @JeroenvdLogt ?

Can you include links to your LES please?

[2015-09-14 15:25] ChaelKruip commented on #387
I have trouble understanding what you mean by the above @JeroenvdLogt. Can you please be more specific? Also, could you try to make your tickets more 'atomic' and 'actionable'?

What are you trying to do here? Using strategies or viewing load? What are your expectations and how are the results not in line with those?

Are you referring to buffering strategies?

Do you observe behaviour as describe

[2015-09-14 15:34] ChaelKruip commented on #388
That is correct. We already have [an issue](https://github.com/quintel/etmoses/issues/74) about this. There have to be some major changes to the way information is sent to the browser and the server in order to make this happen. Closing as this is a duplicate issue.

[2015-09-14 15:34] #388 closed

[2015-09-14 15:37] ChaelKruip commented on #389
You can use the 'other' technology with any profile that you have uploaded. You can give it a capacity to scale that profile with.

[2015-09-14 15:37] #389 closed

[2015-09-14 15:56] antw commented on #362
I'm tempted to close this as a duplicate of #74. @dennisschoenmakers Does that issue adequately describe your solution?

We also previously discussed adding a chart to show how much is being stored in batteries, heat pump tanks, etc. That might go a long way to explaining changes between the blue and green lines.

[2015-09-15 07:17] dennisschoenmakers commented on #362
Yes!

That would absolutely also add to understand what is going on. For instance: you could easily tell that your buffers are full, and hence you cannot dump excess local production anymore, et cetera.

[2015-09-15 08:52] dennisschoenmakers opened #390 "Another simulated exception - 59bd7bb6ff"
Check full details on Airbrake: [#1509976032493944212](https://quintel.airbrake.io/projects/111227/groups/1509976032493944212)

Backtrace:
[code]

[2015-09-15 08:53] JeroenvdLogt commented on #388
Okay, thanks for your reaction

[2015-09-15 08:54] dennisschoenmakers commented on #390
Airbrake auto generates Issues now! :smile:

[2015-09-15 08:54] #390 closed

[2015-09-15 11:33] ChaelKruip commented on #368
Closing.

[2015-09-15 11:33] #368 closed

[2015-09-15 12:23] grdw commented on #385
This is currently in a branch with the same issue number. Waiting for pull request #377 before making a merge request.

[2015-09-15 13:13] dennisschoenmakers opened #393 "NoMethodError: undefined method `technology_profile' for nil:NilClass"
Check full details on Airbrake: [#1510107097363627202](https://quintel.airbrake.io/projects/111227/groups/1510107097363627202)

Backtrace:
[code]

[2015-09-15 14:11] dennisschoenmakers opened #394 "NoMethodError: undefined method `technology_profile' for nil:NilClass"
Check full details on Airbrake: [#1510135632035822311](https://quintel.airbrake.io/projects/111227/groups/1510135632035822311)

Backtrace:
[code]

[2015-09-15 14:21] antw commented on #385
For this reason alone, I'd suggest not proceeding too far with this, for now (5MB for a *small* LES). I think there is a good chance that there is simply too much data to put into a "dumb" cache and hope for the best. As we will also have to start storing individual technology loads and storage amounts, the requirements may increase by 10-100 times.

Caching is something we need to think about pro

[2015-09-15 14:22] antw commented on #394
Dup: #394

[2015-09-15 14:22] #394 closed

[2015-09-15 14:23] antw commented on #393
I believe this was triggered when I tried to change technology concurrency options in an LES.

[2015-09-15 14:50] grdw commented on #385
Okay. Thanks for clarifying.

Yes.

[2015-09-15 15:41] #357 closed

[2015-09-15 15:52] #270 closed

[2015-09-15 15:55] antw commented on #296
As far as I can tell, this should work as expected save for the lack of profiles currently on beta. P2H already has a default volume assigned in the database, and correctly imports the capacity from ETEngine.

@ChaelKruip I'll reassign to you on account of the needed profiles. Assign back to me if I've misunderstood.

[2015-09-15 19:50] dennisschoenmakers opened #396 "Psych::SyntaxError: (<unknown>): could not find expected ':' while scanning a simple key at line 159 column 13"
Check full details on Airbrake: [#1510306886701265755](https://quintel.airbrake.io/projects/111227/groups/1510306886701265755)

Backtrace:
[code]

[2015-09-16 06:41] JeroenvdLogt opened #397 "test heatpump 16-9-2015: no load curves are generated"
![no load curve](https://cloud.githubusercontent.com/assets/7781037/9897964/7257ddda-5c4e-11e5-9cff-049b8c4776ed.JPG)
Is this because of maintenance of ET Moses?

[2015-09-16 06:43] dennisschoenmakers opened #398 "RuntimeError: Missing use profile for Heat pump for space heating (ground)"
Check full details on Airbrake: [#1510635421097769294](https://quintel.airbrake.io/projects/111227/groups/1510635421097769294)

Backtrace:
[code]

[2015-09-16 07:25] grdw commented on #397
Fixed with: https://github.com/quintel/etmoses/commit/0e802ddc10b21984817d4064200badaae5910c83

[2015-09-16 07:25] #397 closed

[2015-09-16 07:26] grdw commented on #393
Yes, I know of this problem. This is already fixed: https://github.com/quintel/etmoses/commit/a7ece77f55f1c4a9fcbb76de5f38a1f2d0398745

[2015-09-16 07:26] #393 closed

[2015-09-16 07:27] #376 closed

[2015-09-16 07:27] #365 closed

[2015-09-16 07:36] grdw commented on #364
This applies only to future LES's for now. I should also run a migration to make all current LES's this way.

[2015-09-16 07:36] #359 closed

[2015-09-16 08:10] grdw commented on #236
@ChaelKruip I need some warning text :smiley:

I currently made the following sentence:

" This combination of market model and topology will cause the business case not to calculate completely."

But I'm guessing that you might have a better suggestion?

[2015-09-16 08:46] grdw commented on #364
Fixed.

[2015-09-16 08:46] #364 closed

[2015-09-16 08:49] #236 closed

[2015-09-16 08:52] grdw commented on #305
This is already the case if you look at:

http://beta.moses.et-model.com/load_profiles/new

Close this issue. Re-open at will.

[2015-09-16 08:52] #305 closed

[2015-09-16 09:19] dennisschoenmakers opened #400 "ActionView::MissingTemplate: Missing template pages/t, application/t with {:locale=>[:en], :formats=>[:html], :variants=>[], :handlers=>[:erb, :builder, :raw, :ruby, :coffee, :haml, :jbuilder]}. Searched in: * "/var/www/etmoses/releases/201509160848..."
Check full details on Airbrake: [#1510714044978805734](https://quintel.airbrake.io/projects/111227/groups/1510714044978805734)

Backtrace:
[code]

[2015-09-16 09:20] dennisschoenmakers opened #401 "NoMethodError: undefined method `public?' for nil:NilClass"
Check full details on Airbrake: [#1510714667489016905](https://quintel.airbrake.io/projects/111227/groups/1510714667489016905)

Backtrace:
[code]

[2015-09-16 09:22] jorisberkhout commented on #400
I triggered this one by mistyping the moses URL as http://http://beta.moses.et-model.com/t.

Would be nice if this shows a 404.

[2015-09-16 09:23] jorisberkhout commented on #401
I triggered this one when I tried to edit a LES that belongs to me. Somehow I can't edit this LES anymore.

[2015-09-16 09:24] grdw opened #402 "Public error airbrake"
https://quintel.airbrake.io/projects/111227/groups/1510714667489016905/notices/1510716272665935120

Some LES's don't have a market model and topology.

[2015-09-16 09:40] grdw commented on #383
![screen shot 2015-09-16 at 11 34 39 am](https://cloud.githubusercontent.com/assets/2676542/9901295/f03d2a8a-5c66-11e5-846d-ee64eec2dc7e.png)

We downloaded the load csv file from end point `portiek1a1`. Values seem to be correct using period as decimal separator. @JeroenvdLogt you can change the setting for decimal separator for [Excel in Windows](http://superuser.com/a/606274).

[2015-09-16 10:13] dennisschoenmakers opened #403 "NoMethodError: undefined method `detect' for nil:NilClass"
Check full details on Airbrake: [#1510741231299705171](https://quintel.airbrake.io/projects/111227/groups/1510741231299705171)

Backtrace:
[code]

[2015-09-16 10:33] dennisschoenmakers opened #404 "NoMethodError: undefined method `financials' for nil:NilClass"
Check full details on Airbrake: [#1510751546443808378](https://quintel.airbrake.io/projects/111227/groups/1510751546443808378)

Backtrace:
[code]

[2015-09-16 11:02] JeroenvdLogt commented on #383
I changed the seperator accordingly to the instruction but it is still nog functioning.
![changed seperator1](https://cloud.githubusercontent.com/assets/7781037/9903040/34ca9f50-5c73-11e5-90da-d313d5243dbc.JPG)
![changed seperator2](https://cloud.githubusercontent.com/assets/7781037/9903039/34c9cb98-5c73-11e5-9d87-a96e4f3d7174.JPG)

[2015-09-16 11:05] JeroenvdLogt commented on #383
For downloading it is functioning. For uploading I will make a new ticket.

[2015-09-16 11:05] #383 closed

[2015-09-16 11:11] JeroenvdLogt opened #405 "CSV upload is not working"
I have to go to a meeting now. I will give more comments after that.
![changed seperator1](https://cloud.githubusercontent.com/assets/7781037/9903159/42916b54-5c74-11e5-87e7-78d8ceb1dc2b.JPG)
![changed seperator2](https://cloud.githubusercontent.com/assets/7781037/9903160/42916f6e-5c74-11e5-99b3-ebfda1d742ae.JPG)

[2015-09-16 11:34] grdw commented on #405
The only way I seem fit to reproduce the above error is to remove a Financial profile, correct?

But I'll wait for your comments :+1:

[2015-09-16 11:35] grdw commented on #403
This was me testing something..

[2015-09-16 11:35] #403 closed

[2015-09-16 11:36] #402 closed

[2015-09-16 11:37] grdw commented on #401
This issue is now resolved. This had to do with the fact that newer LES's don't have a market model and even older one's don't even have a topology.... oh, well. It works again.

[2015-09-16 11:37] #401 closed

[2015-09-16 12:30] ChaelKruip opened #406 "Landing page need a make-over"
* Currently, a LES consists of (roughly speaking) four components:
  * Scaled ETM scenario
  * Technologies (from ETM)
  * Topology
  * Market model

* The "Import from the ETM" functionality is not user friendly at all, so instead the user should be guided to the ETM and explained some steps that will lead to a LES.

![etmoses](https://cloud.githubusercontent.com/assets/1303760/9904561/05b1a824-5

[2015-09-16 12:34] ChaelKruip opened #407 "It should be possible to clone a LES (save as) with a new name"
I think we did have that option but it seems to have disappeared...

[2015-09-16 12:48] ChaelKruip opened #408 "Groups of households larger than 30 should not get individual profiles assigned to them"
![etmoses](https://cloud.githubusercontent.com/assets/1303760/9904916/d7eb49d8-5c81-11e5-9523-8b83e1265503.png)

[2015-09-16 12:49] ChaelKruip commented on #408
Maybe this is a visualisation issue only! The table looks like this:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/9904962/168833fe-5c82-11e5-82e8-11ad28a7112a.png)

[2015-09-16 13:03] ChaelKruip opened #409 "Technologies without profiles should not inherit defaults from previously selected technologies"
I had a heat pump. Now the P2H unit has the HP defaults...
![etmoses](https://cloud.githubusercontent.com/assets/1303760/9905233/09d766f0-5c84-11e5-8093-bea720ff1091.png)

[2015-09-16 13:22] JeroenvdLogt commented on #405
Can I call you? Because can't figure out why it is not working.

[2015-09-16 13:27] antw commented on #405
@grdw [Could this be it?](https://quintel.airbrake.io/projects/111227/groups/1480388160539571427/notices/1510806649691420960)

PriceCurvesController#create doesn't assert that the price curve passed validation and was created successfully. If the curve wasn't created, it's ID would be `nil` and route generation will fail.

[2015-09-16 13:43] grdw commented on #405
@antw my guess is the same as yours.

Will change this and fiddle around with it to see if I can reproduce this error.

[2015-09-16 13:51] antw commented on #405
@JeroenvdLogt This is a wild shot in the dark (I'm not too familiar with Excel), but your digit separator ("Cijfergroepering") should probably be blank. Commas are used to separate multiple values; if the numbers in your CSV file contain them, your price curve will not be interpreted correctly.

Price and load curves should contain a single value per line. For example:

[code]

You may optionally

[2015-09-16 14:04] dennisschoenmakers opened #411 "NoMethodError: undefined method `price_curf_url' for #<PriceCurvesController:0x007fd960fa9038>"
Check full details on Airbrake: [#1510857864164913622](https://quintel.airbrake.io/projects/111227/groups/1510857864164913622)

Backtrace:
[code]

[2015-09-16 14:05] jorisberkhout opened #412 "'Financial profiles' header appears twice in profile overview"
When I hit `Profiles -> Show all` the bottom of the list looks like this. I think the first instance of `Financial profiles` should not be there. What about you, @ChaelKruip, @grdw ?

<img width="605" alt="screen shot 2015-09-16 at 16 01 12" src="https://cloud.githubusercontent.com/assets/4669028/9906821/6c53db8a-5c8c-11e5-98c2-8da8c51332c6.png">

[2015-09-16 14:09] ChaelKruip commented on #412
Indeed, they should occur only once (the second one).

[2015-09-16 14:12] grdw commented on #405
@antw  Made the `respond_with` change (a bit more manual due to the fact that Rails automagically named a single `price_curve` a `price_curf`).

@JeroenvdLogt To put the above in more human-readable language.

I made the fix. However when you're uploading your csv I'm guessing that the csv get's rejected because of unknown reasons. If you could try it again and make a print screen of the error mes

[2015-09-16 14:15] ChaelKruip commented on #405
@JeroenvdLogt can you put the offending CSV in a [gist](https://gist.github.com/) so we can have a look at it as well? That way we can try to upload your file and see if the problem is browser-, OS-, CSV-related or otherwise.

[2015-09-16 14:15] jorisberkhout opened #413 "Units for financial profiles should not be 'kW'"
I'm guessing these should be Euro's. Is that correct, @ChaelKruip ?

<img width="1176" alt="screen shot 2015-09-16 at 16 13 08" src="https://cloud.githubusercontent.com/assets/4669028/9907183/1eeec146-5c8e-11e5-9a06-4007cba5f7fe.png">

[2015-09-16 14:17] ChaelKruip commented on #413
Yes.

[2015-09-16 14:20] grdw commented on #409
Discussed this with @ChaelKruip . Closing.

[2015-09-16 14:55] antw commented on #298
I made a small fix, but I couldn't reproduce the situation with the positive load documented in the original post. It might have been profile-related, but more likely it was fixed by the recent heat pump changes; `OptionalBuffer` (P2H) is a subclass of `Buffer` (heat pumps).

See LES: **[P2H+PV](http://beta.moses.et-model.com/testing_grounds/271)**.

![screen shot 2015-09-16 at 15 52 36](https://c

[2015-09-16 14:55] #298 closed

[2015-09-16 15:18] JeroenvdLogt commented on #405
I had troubles making a gist with IE. BUt with google chrome it worked.
https://gist.github.com/cb019826c2f48434ddc4.git

[2015-09-16 15:18] JeroenvdLogt commented on #405
Chael also received the file by e-mail

[2015-09-16 15:21] JeroenvdLogt commented on #405
https://gist.github.com/cb019826c2f48434ddc4.git

[2015-09-16 15:28] ChaelKruip commented on #405
@JeroenvdLogt somehow your links do not work.

Hope [this one](https://gist.github.com/ChaelKruip/80be19dc32f71a5ce30d) works better.

[2015-09-16 15:31] ChaelKruip commented on #405
I've tried uploading this profile but it does not seem to work for me either: "We're sorry, but something went wrong."

[2015-09-16 15:59] #411 closed

[2015-09-16 16:05] antw commented on #405
Man, this was a weird one. :laughing:

The CSV file is fine. In *some* circumstances Rails' "inflector" was singularizing "curves" as "curf" (as @grdw mentioned in another issue). It should be fixed now.

[2015-09-16 16:18] dennisschoenmakers commented on #411
That's actually quite funny! :grin:

[2015-09-17 06:28] dennisschoenmakers opened #414 "Show me what you got, before I sign in"
If you go to Etmoses now, you need to log in first, but why not show the world what we got?

Of course, then, if you want to edit, delete, create or upvote a LES, then you'll need to log in.

![image](https://cloud.githubusercontent.com/assets/104830/9926455/e22067aa-5d15-11e5-840f-bdcfda8a219e.png)

cc @grdw @antw

[2015-09-17 07:20] JeroenvdLogt commented on #405
Great :+1: it works properly

[2015-09-17 07:27] grdw commented on #414
To make things clear:

The `show` (for public testing grounds/topologies/market models) and `index` pages should be viewable by anybody?

[2015-09-17 07:28] grdw commented on #412
This is because `Financial profiles` is a category in the load profiles category table. This can be removed I guess.

[2015-09-17 07:29] dennisschoenmakers commented on #414
Yes, to start with. In addition: **edit** should not be available, and **create** should take you to the sign in page. :smile:

[2015-09-17 07:32] grdw commented on #412
I removed that category from the list. No load profiles were used with that category.

[2015-09-17 07:32] #412 closed

[2015-09-17 07:36] dennisschoenmakers opened #415 "Download technologies button should not be visible when no node point is selected"
![image](https://cloud.githubusercontent.com/assets/104830/9927523/7c8b821c-5d1f-11e5-8325-dddbf96093ee.png)

cc @ChaelKruip

[2015-09-17 07:42] dennisschoenmakers opened #416 "RuntimeError: Missing use profile for Heat pump for space heating (ground)"
Check full details on Airbrake: [#1507114028179634030](https://quintel.airbrake.io/projects/111227/groups/1507114028179634030)

Backtrace:
[code]

[2015-09-17 07:44] dennisschoenmakers commented on #416
That heatpump profile error is haunting us! This happened when I edited the name of a [LES 261](http://beta.moses.et-model.com/testing_grounds/261). I clicked 'save' and then 'save all'. It saved correctly, but as I went to he show page, it showed:

![image](https://cloud.githubusercontent.com/assets/104830/9927636/9dd7d0b4-5d20-11e5-9387-06a51e9b6b5f.png)

[2015-09-17 07:45] grdw commented on #385
@antw I'm just thinking out loud here and this may sound a little far off.

But couldn't we - instead of requesting the whole load calculation at once - request it in 'parts'.
The first thing you request would be the [downsampled curve](https://github.com/quintel/etmoses/blob/master/app/assets/javascripts/testing_grounds.js.coffee#L174-L184)(the graph with a really low resolution). When you select

[2015-09-17 07:50] ChaelKruip commented on #416
Assigned @grdw

[2015-09-17 08:11] dennisschoenmakers opened #417 "NoMethodError: undefined method `graph' for nil:NilClass"
Check full details on Airbrake: [#1511404786348962130](https://quintel.airbrake.io/projects/111227/groups/1511404786348962130)

Backtrace:
[code]

[2015-09-17 08:14] ChaelKruip commented on #417
Assigned @grdw

[2015-09-17 08:15] ChaelKruip commented on #414
:+1:

Assigned @grdw

[2015-09-17 08:28] grdw opened #418 "It should not be possible to remove a topology once it's in use."
The same accounts for market models.

Right now you can destroy a LES and cause errors by removing a topology which might be in use by another LES.

What we could do to fix this, is to:

- Let the LES gently break instead of raising an error.
- Clone the deleted topology - if it's public - and assign it to Chael for instance?
- Forbid any user to remove any topologies - and only allow admin users

[2015-09-17 08:29] grdw commented on #417
Has to do with really old LES's. Follow up issue to prevent any future cases: #418

[2015-09-17 08:29] #417 closed

[2015-09-17 08:34] ChaelKruip commented on #418
I prefer this one but perhaps instead of assigning them to me we could make a user called 'ETMoses' that owns such orphaned topologies.

[2015-09-17 08:35] grdw commented on #400
I'll add constraints to https://github.com/quintel/etmoses/blob/master/config/routes.rb#L44

[2015-09-17 08:39] #400 closed

[2015-09-17 08:50] grdw commented on #407
I put this back under the general tab.

[2015-09-17 08:50] #407 closed

[2015-09-17 08:51] grdw commented on #408
This was probably related to the load profile options bug during the demo? I can't reproduce this anymore.

I'll close this for now.

[2015-09-17 08:51] #408 closed

[2015-09-17 08:52] grdw commented on #409
I'll check why some technologies are responding weird like Power-to-heat

[2015-09-17 09:02] grdw commented on #409
Allright, this problem is very simple. The defaults are attached to the `profile` options. Since `Power-to-gas` doesn't have any profiles it can't read the defaults.

My solution would be is to hide `Power to gas` from the database for now. Or we could limit the visibility for Technologies without load profiles.

[2015-09-17 09:36] grdw commented on #409
I managed to turn the defaults blank if a technology doesn't have a set of load profiles.

[2015-09-17 09:52] grdw commented on #406
A link to http://beta.pro.et-model.com/scaled like this?

[2015-09-17 10:30] grdw commented on #406
![screen shot 2015-09-17 at 12 30 26 pm](https://cloud.githubusercontent.com/assets/2676542/9930986/e7dfeda6-5d37-11e5-9cb5-e15607aa432d.png)

Maybe like this?

[2015-09-17 11:40] grdw commented on #406
![screen shot 2015-09-17 at 12 30 26 pm](https://cloud.githubusercontent.com/assets/2676542/9932130/b66b0f44-5d41-11e5-978d-7764aabdb53c.png)

[2015-09-17 11:41] grdw commented on #406
![screen shot 2015-09-17 at 1 40 38 pm](https://cloud.githubusercontent.com/assets/2676542/9932139/c630f38a-5d41-11e5-812e-5ba858bd279e.png)

[2015-09-17 11:42] ChaelKruip opened #419 "ETMoses should get its own production environment"
similar to ETM. Also see https://github.com/quintel/etcentral/issues/124

Including @grdw @dennisschoenmakers

[2015-09-17 11:45] ChaelKruip commented on #406
I think it is quite an improvement. One detail: It is also possible to 'Start an existing scenario' and make a LES. Perhaps those two options should be highlighted?

@antw @dennisschoenmakers @jorisberkhout I am also interested in your opinions.

[2015-09-17 11:50] grdw commented on #406
Yes. I think they should.

[2015-09-17 11:51] antw commented on #406
Definitely an improvement. If I were to be *very* picky:

* There's a 1px border down the left side of the "step 1" image which is bothering me.
* It would be nice if the highlights around "Scale this scenario" and "Save and open..." were aligned with the sides of the drop-down menu, the the grey lines above and beneath each link.

[2015-09-17 11:54] dennisschoenmakers commented on #406
Excellent step forward!

I am not sure that people will understand that you have to click 'settings' first to arrive at the picture under 2. Any thoughts on this?

[2015-09-17 11:57] jorisberkhout opened #420 "Unit of use and availability profiles should not be 'kW'"
As these are fractions of the storage volume of the tank or battery, I believe these should not have a unit at all. What do you think, @ChaelKruip ?

<img width="1181" alt="screen shot 2015-09-17 at 13 55 24" src="https://cloud.githubusercontent.com/assets/4669028/9932402/e495c6a0-5d43-11e5-90c8-10337f2d82dc.png">

[2015-09-17 12:00] ChaelKruip commented on #420
True!

[2015-09-17 12:02] dennisschoenmakers commented on #396
Hmmm... :unamused: maybe we should add a YAML format check when the user edits a file like this? And if incorrect re-render the page with the error warning? :smile:

[2015-09-17 12:02] grdw commented on #406
After @antw points:
![screen shot 2015-09-17 at 2 01 59 pm](https://cloud.githubusercontent.com/assets/2676542/9932509/c115fa1e-5d44-11e5-8752-a48b1dbd12c4.png)

[2015-09-17 12:03] dennisschoenmakers commented on #406
Better! Change the header of step 1 to : "Start a new **or existing** scenario".

[2015-09-17 12:04] dennisschoenmakers commented on #406
And since you have more than enough space I would use "Go to the Energy Transition Model".

[2015-09-17 12:06] antw commented on #396
Agree. However, it's a bit difficult to provide more meaningful feedback then "your topology was incorrect" because the exception message will probably be indecipherable to most people.

We could extract the line number from the exception message and highlight this to the user. Not very user-friendly, but it's an improvement over "Something went wrong!".

[2015-09-17 12:06] grdw commented on #406
My initial thought was that including the 'Settings' header would clarify things for a user (first it was excluded and that didn't made any sense). Obviously a complete ETModel rookie would still need a little more help. But I'm guessing there's some 'help/wiki' thing at ETModel for the people who are completly new.

[2015-09-17 12:07] grdw commented on #406
Including @dennisschoenmakers text-edits.

![screen shot 2015-09-17 at 2 07 02 pm](https://cloud.githubusercontent.com/assets/2676542/9932583/679e74a6-5d45-11e5-8dc1-e021dd77013f.png)

[2015-09-17 12:08] dennisschoenmakers commented on #406
I agree with that. No rookies here (yet). Let's leave this for now.

[2015-09-17 12:10] grdw commented on #406
I'm merging this one.

[2015-09-17 12:12] antw commented on #406
Pixel-perfect! :+1:

[2015-09-17 12:24] ChaelKruip commented on #396
:+1:

[2015-09-17 12:37] dennisschoenmakers opened #421 "NoMethodError: undefined method `reject' for nil:NilClass"
Check full details on Airbrake: [#1511538431017595371](https://quintel.airbrake.io/projects/111227/groups/1511538431017595371)

Backtrace:
[code]

[2015-09-17 12:53] #406 closed

[2015-09-17 13:48] grdw opened #422 "When creating/updating the topology graph, a useful error message would be nice"
Right now it just breaks, throws a 500.

[2015-09-17 15:03] #214 closed

[2015-09-17 15:30] grdw commented on #422
Got a long way. Still needs some changing with the whole cloning bit.

[2015-09-17 15:34] ChaelKruip opened #423 "save buttons should be close together"
Now they are not aligned and separated by a long distance which is confusing:
![etmoses](https://cloud.githubusercontent.com/assets/1303760/9937746/4f724886-5d62-11e5-8ac6-d9a5cf51d670.png)

[2015-09-18 08:01] JeroenvdLogt commented on #405
To bad:( The try yesterday morning was on my personal PC with windows 10 and openoffice. Today I tried with my business laptop and microsoft excel and then ET Moses gives an error. I will mail the csv to CHael.
Curve content type is invalid
Curve is invalid

[2015-09-18 08:29] JeroenvdLogt commented on #405
Now it works also with MS excel. Thanks for not giving up
![nevergiveup](https://cloud.githubusercontent.com/assets/7781037/9955311/2e2960fe-5df0-11e5-9078-d27f7956c63c.png)

[2015-09-18 08:29] #405 closed

[2015-09-18 09:51] dennisschoenmakers commented on #405
:+1: Excellent!

[2015-09-18 10:06] grdw commented on #422
Fixed it :+1:

[2015-09-18 10:06] #422 closed

[2015-09-18 11:20] JeroenvdLogt opened #424 "Market model: what about tarriff euro/kw connection for stakeholders not present in LES"
I was wondering what happens if I choose a network related tarriff for stakeholders not present in the LES. euro/kw connection between supplier and producer for example.
I did this in testingwijk 16-9-2015  and ET Mose came up with a business case....

[2015-09-18 11:23] dennisschoenmakers opened #425 "NoMethodError: undefined method `symbolize_keys' for false:FalseClass"
Check full details on Airbrake: [#1512225848435391539](https://quintel.airbrake.io/projects/111227/groups/1512225848435391539)

Backtrace:
[code]

[2015-09-18 11:23] antw commented on #425
This happened when I tried to create a new topology having completely deleted the contents of the "graph" field.

[2015-09-18 12:02] ChaelKruip commented on #424
The 'payer' and 'payee' do not have to be part of the topology but the 'applied to stakeholder' has to be. See also [this comment](https://github.com/quintel/etmoses/issues/236#issuecomment-140006825)

[2015-09-18 12:02] #424 closed

[2015-09-18 12:05] jorisberkhout commented on #106
Changing milestone to 'Deploy January 2016'.

[2015-09-18 12:29] grdw commented on #409
@ChaelKruip fixed, deployed and all! :dancers:

[2015-09-18 12:29] #409 closed

[2015-09-18 12:29] grdw commented on #425
And haven't really tested that.

I'll look into it.

[2015-09-18 12:31] ChaelKruip commented on #409
:+1:

[2015-09-18 12:46] grdw commented on #425
Fixed with: https://github.com/quintel/etmoses/commit/9c1aea9b828b8568c923b744c65243cad5728257

[2015-09-18 12:46] #425 closed

[2015-09-21 08:00] ChaelKruip opened #426 "Capacities in technology table should be 'electrical'."
For heat pumps, the capacity shown now is the heat capacity. It would be more intuitive for the user to see the electrical (input) capacity in the table as this is what the load will be on the network.

This necessitates that the COP is taken into account in the methods of ETMoses where load and heat production are calculated.

[code]

[2015-09-21 08:01] ChaelKruip commented on #426
Also see  https://github.com/quintel/etmoses/issues/334

[2015-09-21 08:03] ChaelKruip commented on #382
@JeroenvdLogt can we close this issue?

[2015-09-21 08:04] ChaelKruip commented on #387
@JeroenvdLogt If you find issues with the behaviour of a technology please make atomic, actionable issues for them. Closing this one.

[2015-09-21 08:04] #387 closed

[2015-09-21 08:05] ChaelKruip commented on #356
Closing.

[2015-09-21 08:05] #356 closed

[2015-09-21 08:07] ChaelKruip commented on #302
@antw can this be closed?

[2015-09-21 08:08] #292 closed

[2015-09-21 08:08] #32 closed

[2015-09-21 08:09] ChaelKruip commented on #208
@antw can this be closed?

[2015-09-21 08:09] #208 closed

[2015-09-21 08:11] ChaelKruip commented on #219
Closing this. See https://github.com/quintel/etmoses/issues/363 for current status.

[2015-09-21 08:11] #219 closed

[2015-09-21 08:13] ChaelKruip commented on #193
Closing this.

[2015-09-21 08:13] #193 closed

[2015-09-21 08:14] ChaelKruip opened #427 "Merit order price needs to be useable as a tariff"

[2015-09-21 08:14] #302 closed

[2015-09-21 08:33] antw commented on #330
Closing; the two flexibility measures have been added to the front-end, called "flex_realised" and "flex_potential".

[2015-09-21 08:33] #330 closed

[2015-09-22 09:11] grdw commented on #423
Closed with c7bab36

[2015-09-22 09:11] #423 closed

[2015-09-22 10:42] JeroenvdLogt opened #428 "Automatic reset of PV capacity"
In this LES: http://beta.moses.et-model.com/testing_grounds/277/edit

the installed capacity of PV at node "household 3" keeps being reset to -1.5 after other changes of this value and other values in technology table.

[2015-09-22 10:48] JeroenvdLogt opened #429 "P2H and P2G strategies"
In this LES I can't see difference between green and blue graphs alltough I installed big P2G and P2H installations (2 different tries) to node "household 3".

http://beta.moses.et-model.com/testing_grounds/277

[2015-09-22 10:54] ChaelKruip commented on #428
Assigned @grdw

[2015-09-22 10:56] ChaelKruip commented on #429
@JeroenvdLogt did you apply the "Conversion of local PV excess with P2H" and/or "Conversion of local PV excess with P2G" strategies?

[2015-09-22 11:00] antw commented on #429
The LES has a deficit, with energy being taken from the grid (visualised in the network as the "HV Network" node) to meet the needs of the households. P2G and P2H will only run at times when there is a surplus (see #121).

[2015-09-22 11:38] JeroenvdLogt commented on #429
So the surplus and deficit for purpose of P2G and P2H is determined at the top node?
Is this also the case for batteries?

[2015-09-22 11:48] grdw commented on #428
![screen shot 2015-09-22 at 1 39 25 pm](https://cloud.githubusercontent.com/assets/2676542/10017519/5e8e8e26-612f-11e5-990d-a5d22e9b1cab.png)

How would I reproduce this?
I do see that if I'd take these steps:

1) I made a LES one solar panel to a single household with the default topology
2) Changed the capacity to -2.0 instead of -1.5
3) Saved it
4) Edited the LES
5) Changed the solar panel capa

[2015-09-22 11:48] antw commented on #429
Yes, although there are plans to improve this behaviour in the very near future. The proposed changes would allow excesses to be stored locally (in "Households 3") even if there is a deficit in another endpoint (e.g. in "Households 1").

There are still some details to be worked out, but making this improvement is pretty high-priority.

For more information you can see:

* [#310: "Subnet Awareness

[2015-09-22 11:55] JeroenvdLogt commented on #429
Okay thank you. It is kind of logic to say that loading is only possible if there is a surplus on the highest node. In reality the point in the network at which this could best be decided is difficult to say. Main question then is which network (including power quality and voltage controle) is the most robust. Also the place of the battery/P2G/P2H will be important than.

[2015-09-22 11:55] #429 closed

[2015-09-22 12:25] grdw commented on #420
Fixed with: 754137b

[2015-09-22 12:25] #420 closed

[2015-09-22 12:26] grdw commented on #413
Fixed with 754137b

[2015-09-22 12:26] #413 closed

[2015-09-22 14:44] JeroenvdLogt commented on #428
1. I made the LES from ETM scenario 414971 with default topology and market model test
2. Saved the LES
3. Viewed the load profile on different nodes
4. Edited LES by chaning Pv capacity of household 3 to -5.0
5. Saved the LES
6. Viewed the load profile on different nodes
7. Edit LES and saw that PV capacity of house household 3 was reset to -1.5

[2015-09-22 14:48] JeroenvdLogt commented on #428
This is strange, after I wrote previous comment I am not able to reproduce the error. It seems the problem is solved or that I did something wrong or the error was temporarily.

[2015-09-22 15:17] ChaelKruip commented on #319
Assigned @grdw

[2015-09-22 15:27] grdw commented on #319
Also need to expand `etengine` becuase of these changes.

[2015-09-22 15:30] ChaelKruip commented on #319
:+1:

[2015-09-23 09:15] ChaelKruip opened #430 "Warning message for incompatibility of topology and market model should be more verbose"
Right now it just tells me that some stakeholders are not compatible:
![cursor_and_etmoses](https://cloud.githubusercontent.com/assets/1303760/10041379/337e66b0-61e4-11e5-81e1-d5c8ef17f5b4.png)

It would really help if the user gets a list of those that are in the Market Model but not in the topology (and vice versa).

[2015-09-23 09:18] ChaelKruip commented on #426
This also means that the default HP capacities in the front-end should be adjusted to be:
[code]

[2015-09-23 09:28] ChaelKruip opened #431 "When viewing the overview page of a LES for the first time, the business case does not show"
It says: "business case not yet available" although it shows after I 'edit' the LES and return to the overview page.

[2015-09-23 11:06] grdw commented on #431
This has to do with the background processor not being finished with the initial caculation.

[2015-09-23 12:27] dennisschoenmakers opened #432 "Market::CurveLengthError: Tried to price a value collection containing 0 values with a curve containing 35040"
Check full details on Airbrake: [#1515882299653599519](https://quintel.airbrake.io/projects/111227/groups/1515882299653599519)

Backtrace:
[code]

[2015-09-23 15:35] JeroenvdLogt opened #433 "Cost of central production units (coal etc.) of producers in business case?"
I was wandering wether or not the cost for central produced electricity is included in de business case as cost for producers?

[2015-09-23 16:53] JeroenvdLogt opened #434 "Buffering with heath pump"
![buffering heatpump](https://cloud.githubusercontent.com/assets/7781037/10052013/d6c6eee2-6224-11e5-94a6-b9a767ce3b1d.JPG)
I created a node with 31 households (EDSN 1a and 2200 kWh) plus 31 heatpumps 1.63 kW and 100 kWh (just for testing purposes) plus 1 PV installation of - 47.3 kW. The cable (node of 31 households is a child of cable node) has a capacity of 51 kW.

When I apply buffering in hea

[2015-09-24 11:10] antw commented on #434
The heat pumps in this LES have been given custom values for their capacity and volume; the defaults are 10kW and 2.32kWh respectively. The heat pumps in your LES have values of 1.63kW and 1000kWh). If you want to increase the volume of the heat pump, you also have to increase the capacity to compensate, and vice versa.

What's happening in this LES is that the availability profile tells the heat

[2015-09-24 11:10] #434 closed

[2015-09-24 12:55] ChaelKruip commented on #433
Interesting point! In principle, the merit order price can be though of as the cost of produced electricity. This 'price' is based on the 'marginal cost' which includes fuel cost, CO2-cost and variable operation and maintenance cost. The subtlety, however, is that the merit order price represents the marginal cost of the most expensive plant that is running to satisfy the demand at a given time. S

[2015-09-24 12:55] #433 closed

[2015-09-24 13:48] dennisschoenmakers opened #435 "JSON::ParserError: 757: unexpected token at 'null'"
Check full details on Airbrake: [#1516647821655653551](https://quintel.airbrake.io/projects/111227/groups/1516647821655653551)

Backtrace:
[code]

[2015-09-24 13:50] jorisberkhout commented on #435
I guess that was me. I created a new LES from the ETM and tried to increase the number of solar PV. After doing this I couldn't save the LES anymore.

[2015-09-24 15:04] jorisberkhout opened #437 "Load chart does not have units on y-axis"
I believe they are `kW`, right @ChaelKruip ?

<img width="642" alt="screen shot 2015-09-24 at 17 03 29" src="https://cloud.githubusercontent.com/assets/4669028/10076939/55274b06-62de-11e5-9bf4-3582a2fc85ab.png">

[2015-09-24 15:05] dennisschoenmakers opened #438 "I am not sure how this can happen"
![image](https://cloud.githubusercontent.com/assets/104830/10076962/68a09c28-62de-11e5-891c-f432c88f6331.png)

Anybody any thoughts?

[2015-09-24 15:06] ChaelKruip commented on #437
Yes indeed.

@grdw we had labels in the load chart right?

[2015-09-24 15:08] ChaelKruip commented on #438
That's the ghost of a deleted topology that still haunts the new LESses built on its families burial grounds. :ghost:

[2015-09-24 15:09] dennisschoenmakers commented on #438
Thank God, I feared it was my bad karma haunting me! :grin:

[2015-09-24 15:13] jorisberkhout opened #439 "P2G strategy does not take into account number of units"
I made the following LES

<img width="595" alt="screen shot 2015-09-24 at 17 10 06" src="https://cloud.githubusercontent.com/assets/4669028/10077129/4120ae9e-62df-11e5-9227-69614711a070.png">

And expected the 1000(!) P2G units to easily take away any excess PV production. However, it appears like only 135 kW are taken away (in between the red arrows below). Since the capacity of one unit is 135 k

[2015-09-24 15:52] dennisschoenmakers opened #440 "Turbine::DuplicateEdgeError: Another edge already exists on #<Market::Stakeholder key="customer"> which is too similar to #<Market::Relation "customer" -:kwh_consumed-➤ "producer">"
Check full details on Airbrake: [#1516710413782726730](https://quintel.airbrake.io/projects/111227/groups/1516710413782726730)

Backtrace:
[code]

[2015-09-24 16:04] jorisberkhout opened #441 "I cannot create a LES from the ETM"
I followed the instructions on http://beta.moses.et-model.com/welcome and did the following steps:
1. I hit the `Go to the Energy Transition Model` button
2. I started a new scenario for NL/2050
3. I scaled this scenario to 100 residences using the scaling function in the settings menu
4. I then hit the `Save and open as local energy solution` button
5. This took me to http://beta.moses.et-model.c

[2015-09-24 16:47] ChaelKruip commented on #441
Assigned @grdw

[2015-09-24 19:14] dennisschoenmakers opened #442 "Could we move the selection box into the well?"
When I saw the select box 'select stakeholder', I thought it was about the underlying business case overview.

I think if we can shift the select box just a bit upwards and place it in (or perhaps better explained: 'over') the well, this would be more clear to the eye.

![image](https://cloud.githubusercontent.com/assets/104830/10083918/f5ab1914-6300-11e5-9043-cf792b418d6b.png)

[2015-09-24 19:25] antw commented on #433
If you want to do this, assign the top-most node to the "producer" stakeholder, and set up your market model like so:

<img width="1122" alt="screen shot 2015-09-24 at 20 22 02" src="https://cloud.githubusercontent.com/assets/4383/10084205/176c5f2e-62fa-11e5-9737-db9988a78007.png">

[Here's an example LES](http://beta.moses.et-model.com/testing_grounds/288).

[2015-09-24 19:45] ChaelKruip commented on #442
:+1

[2015-09-24 20:21] dennisschoenmakers opened #443 "RestClient::UnprocessableEntity: 422 Unprocessable Entity"
Check full details on Airbrake: [#1423177734332854657](https://quintel.airbrake.io/projects/111227/groups/1423177734332854657)

Backtrace:
[code]

[2015-09-24 21:08] #427 closed

[2015-09-24 21:09] antw commented on #416
This error was caused by old heat pump profiles which were still in use by older testing grounds. As it hasn't been triggered in over a week, I think it's safe to close.

[2015-09-24 21:09] #416 closed

[2015-09-24 21:09] #398 closed

[2015-09-24 21:13] antw commented on #439
This is odd since the number of units multiplier is a "general" feature used by technologies of all types. P2G is a pretty simple technology and doesn't require any special handling for units.

Still, your conclusion sounds right to me; I'll look into this ASAP.

[2015-09-24 21:27] dennisschoenmakers commented on #416
:+1:

[2015-09-24 21:37] antw commented on #426
The COP changes are ready to go, albeit without this request. In order to represent the electrical share of heat pumps, it isn't enough to divide the capacity by COP; the volume also has to be altered. Here's an example:

If we have a heat pump with a capacity of 10kW, volume of 2.32kWh, and a COP of 4.0, then the *electrical* capacity is 2.5kW with the remaining 7.5kW coming from other ambient he

[2015-09-24 23:04] antw commented on #419
The Merit price curve, and the soon-to-be-added heat pump COP and investment cost measures, both depend on changes to ETEngine. I think, therefore, a production ETMoses will have to wait until after the production deploy of ETEngine scheduled for next week. Can this wait until then?

[2015-09-24 23:06] antw commented on #321
Closing in favour of #327.

[2015-09-24 23:06] #321 closed

[2015-09-24 23:07] #275 closed

[2015-09-24 23:08] #228 closed

[2015-09-24 23:10] #100 closed

[2015-09-24 23:10] #175 closed

[2015-09-24 23:11] #176 closed

[2015-09-25 06:55] JeroenvdLogt commented on #433
I'll try. For now I could also determine in another calculation the investment cost and fixed operational cost of central producers and make a transfer in the market model (customer to producer euros per connection).

[2015-09-25 07:08] dennisschoenmakers opened #445 "Remove four components from the home page"
Now it's a bit confusing in combination with the three steps and the lack of e.g. profiles.

[2015-09-25 07:33] ChaelKruip commented on #433
:+1:

[2015-09-25 07:36] jorisberkhout commented on #441
Ahhh, I see what I was doing wrong. @ChaelKruip pointed out that I forgot to give the LES a name, but this is not clear to me from the interface. @grdw, could you add a red box around the name field, such that it is obvious that I need to fill out something here before I can proceed.

<img width="755" alt="screen shot 2015-09-25 at 09 33 40" src="https://cloud.githubusercontent.com/assets/4669028/

[2015-09-25 07:38] grdw commented on #438
Hate to ask but how did you manage to discover this feature?

[2015-09-25 07:40] dennisschoenmakers commented on #438
I tried to reproduce it, but now I get a weird compressed load chart.

![image](https://cloud.githubusercontent.com/assets/104830/10095334/4d3f2ea0-6369-11e5-8dac-82a84a728cbd.png)

I clicked impatiently on the topology and the load/technologies tabs when it's still loading.

[2015-09-25 07:58] grdw commented on #441
I already managed to get the old error messages back.

Still painting the erorr box red would be nice though. Maybe with `https://github.com/bootstrap-ruby/rails-bootstrap-forms`?

[2015-09-25 08:16] jorisberkhout opened #446 "Market models are not saved by hitting Save all button"
For http://beta.moses.et-model.com/testing_grounds/292, I updated the market model and hit the 'Save all' button. After the LES was reloaded, I noticed that the market model was not saved and was restored to its default.

[2015-09-25 08:24] dennisschoenmakers opened #447 "When I create a new LES I should not get a warning that the market models are"
I think the defaults should be compatible

![image](https://cloud.githubusercontent.com/assets/104830/10096152/977fc5fa-636f-11e5-8687-27e16d31133e.png)

Also: one is names 'default topology' the other 'test'. Can we also call the latter 'default market model'?

[2015-09-25 08:41] ChaelKruip commented on #426
Yes.

As discussed with @antw, we will show the heat energy volume.

[2015-09-25 08:42] ChaelKruip commented on #447
Fixed this by introducing a very simple Default market model.

[2015-09-25 08:42] #447 closed

[2015-09-25 08:42] #382 closed

[2015-09-25 08:43] ChaelKruip commented on #382
Closing. Please re-open if necessary.

[2015-09-25 08:43] ChaelKruip commented on #379
Closing this. Re-open if still occurs.

[2015-09-25 08:43] #379 closed

[2015-09-25 08:44] ChaelKruip commented on #446
@jorisberkhout are they saved with the 'normal' save button?

[2015-09-25 08:45] ChaelKruip commented on #445
@dennisschoenmakers can you also improve the welcome text on this page to describe concisely what ETMoses does?

[2015-09-25 08:46] ChaelKruip commented on #296
Profiles have been uploaded. Closing.

[2015-09-25 08:46] #296 closed

[2015-09-25 08:48] ChaelKruip commented on #14
Closing this as this is not an actionable ticket anymore.

[2015-09-25 08:48] #14 closed

[2015-09-25 08:50] ChaelKruip commented on #163
Closing.

[2015-09-25 08:50] #163 closed

[2015-09-25 08:50] jorisberkhout commented on #446
No. When I hit the save button, it appears to save the market model (i.e. when I switch to a different tab e.g. general and go back to market model, it has saved the changes), however when I return to the LES the market model has been reset to its default.

[2015-09-25 08:50] ChaelKruip commented on #172
Closing as this is no longer supported.

[2015-09-25 08:50] #172 closed

[2015-09-25 08:51] #445 closed

[2015-09-25 08:53] ChaelKruip commented on #294
If this is easy, it would be nice to have soonish because it helps to test whether flexibility-based measures are calculated correctly.

[2015-09-25 08:58] jorisberkhout commented on #446
Mmm, I tried with @grdw and cannot reproduce this error. Will re-open if it occurs again.

[2015-09-25 08:58] #446 closed

[2015-09-25 09:01] grdw commented on #438
I can reproduce this one :dancer:

[2015-09-25 09:09] grdw commented on #437
https://github.com/quintel/etmoses/commit/581180758b3dc0bf7fb0b8ea3f1390a9345cf2db

[2015-09-25 09:09] #437 closed

[2015-09-25 09:11] grdw commented on #428
I'm closing this issue due to the fact that it's hard to reproduce. If it occurs again you can re-open this issue.

[2015-09-25 09:11] #428 closed

[2015-09-25 09:12] dennisschoenmakers commented on #419
Yes, a week is fine IMO, we'll have to take this into account for the deploy planning @ChaelKruip

[2015-09-25 09:15] ChaelKruip commented on #419
Fine by me!

[2015-09-25 09:22] dennisschoenmakers opened #448 "ActiveRecord::PendingMigrationError: Migrations are pending. To resolve this issue, run: bin/rake db:migrate RAILS_ENV=development"
Check full details on Airbrake: [#1517238529278065331](https://quintel.airbrake.io/projects/111227/groups/1517238529278065331)

Backtrace:
[code]

[2015-09-25 09:27] grdw opened #449 "Business case fails to calculate"
![screen shot 2015-09-25 at 11 26 28 am](https://cloud.githubusercontent.com/assets/2676542/10097286/5ab4edfe-6378-11e5-8f59-d20269ad1f52.png)

@antw could you maybe explain what this error message means?

[2015-09-25 10:30] jorisberkhout opened #450 "Merit order tariff is not behaving as I expect"
To test the merit order tariff, I created a very simple LES (#298) with the following properties

<img width="1144" alt="screen shot 2015-09-25 at 12 20 42" src="https://cloud.githubusercontent.com/assets/4669028/10098224/ec788c44-637f-11e5-8285-a2c9bc9e6c33.png">

And added the following market model

<img width="1146" alt="screen shot 2015-09-25 at 12 20 53" src="https://cloud.githubusercontent.

[2015-09-25 10:30] jorisberkhout commented on #450
Including @ChaelKruip .

[2015-09-25 10:37] ChaelKruip opened #451 "Node should be renamed to 'connection' or 'end-point"
'node' is too technical. 'End-point' probably is best because 'connection' is already used to quantify how may households or buildings are part of an end-point.

[2015-09-25 10:53] jorisberkhout opened #452 "Merit order tariff is ~10 times higher than I expect"
I have created a LES (#300) from a scaled scenario that is scaled to 100% of its original size and included industry and agriculture and the technologies look like this

<img width="847" alt="screen shot 2015-09-25 at 12 48 36" src="https://cloud.githubusercontent.com/assets/4669028/10098714/c5a973ae-6383-11e5-9720-33c2b874a369.png">

and added the following market model

<img width="1146" alt="sc

[2015-09-25 11:11] antw commented on #449
It means there are two (or more) interactions between the same two stakeholders using the same "measure". I actually think this should be permitted, but will require some changes in the Market module before that can happen.

[2015-09-25 11:26] antw commented on #449
This comes from our graph library, Turbine, where it would normally make no sense to have multiple edges of the same type between two nodes. For example, in a social graph, if you had:

[code]

... trying to add a second `friend` edge between `[A]` and `[B]` is at best redundant, and at worst going to result in errors.

The market module is based on a graph because, originally, we wanted to set up

[2015-09-25 11:31] antw commented on #446
Might be fixed by #444.

[2015-09-25 11:40] ChaelKruip opened #453 "QUESTION: is kWh measure superfluous?"
As we already have 'kWh consumed' and 'kWh produced' it might be confusing to also support 'kWh':
![screen shot 2015-09-25 at 13 38 42](https://cloud.githubusercontent.com/assets/1303760/10099541/dcc05164-638a-11e5-8313-4ad887d8db71.png)

To be honest, I don't know what it does exactly...

[2015-09-25 11:46] #453 closed

[2015-09-25 11:48] antw commented on #453
I meant to post about this a few days ago and forgot. :blush:

[The KWh measure](https://github.com/quintel/etmoses/blob/de599537eca17f2ae897c33f8ad7f6d074c74958/app/models/market/measures/kwh.rb) is a base class used by KWhProduced and KWhConsumed. If used, it would charge the payer for kWh consumed and refund for kWh produced. I have removed it from the front-end since you can achieve this behav

[2015-09-25 11:48] ChaelKruip commented on #453
:+1:

[2015-09-25 11:54] ChaelKruip opened #454 "Does the `number of connections` measure count the number of base-load profiles?"
Or is it based on the 'units' that are specified for an end-point in the topology?

Looking at https://github.com/quintel/etmoses/issues/363 I would think the first right?

[2015-09-25 11:57] antw commented on #454
[It counts the number of `base_load`, `base_load_edsn`, and `base_load_buildings` technologies](https://github.com/quintel/etmoses/blob/1c68aeac4db627a178013407450083903ba08d01/app/models/market/measures/number_of_connections.rb).

[2015-09-25 12:03] ChaelKruip commented on #454
Thanks!

[2015-09-25 12:03] #454 closed

[2015-09-25 12:23] dennisschoenmakers opened #455 "ActiveRecord::PendingMigrationError: Migrations are pending. To resolve this issue, run: bin/rake db:migrate RAILS_ENV=development"
Check full details on Airbrake: [#1517238529278065331](https://quintel.airbrake.io/projects/111227/groups/1517238529278065331)

Backtrace:
[code]

[2015-09-25 12:26] dennisschoenmakers opened #456 "Market::NoSuchMeasureError: No such measure: :kwh"
Check full details on Airbrake: [#1517331458436872076](https://quintel.airbrake.io/projects/111227/groups/1517331458436872076)

Backtrace:
[code]

[2015-09-25 12:32] antw commented on #456
Fixed manually by changing any "kwh" interactions to "kwh_consumed". See #453.

[2015-09-25 12:32] #456 closed

[2015-09-25 13:00] dennisschoenmakers opened #459 "ArgumentError: comparison of Float with Float failed"
Check full details on Airbrake: [#1517348188190130069](https://quintel.airbrake.io/projects/111227/groups/1517348188190130069)

Backtrace:
[code]

[2015-09-25 13:04] dennisschoenmakers opened #460 "ArgumentError: comparison of Float with Float failed"
Check full details on Airbrake: [#1517350329214546101](https://quintel.airbrake.io/projects/111227/groups/1517350329214546101)

Backtrace:
[code]

[2015-09-25 13:10] #451 closed

[2015-09-25 13:12] dennisschoenmakers opened #461 "TypeError: nil can't be coerced into Fixnum"
Check full details on Airbrake: [#1517354328424690351](https://quintel.airbrake.io/projects/111227/groups/1517354328424690351)

Backtrace:
[code]

[2015-09-25 13:13] antw commented on #460
This means a Float was compared with NaN. I'll look into it shortly.

[2015-09-25 13:14] antw commented on #459
Closing in favour of #460

[2015-09-25 13:14] #459 closed

[2015-09-25 13:16] dennisschoenmakers commented on #460
I think this is the reason why http://beta.moses.et-model.com/testing_grounds/302 cannot be calculated:

![image](https://cloud.githubusercontent.com/assets/104830/10101344/6be8f4b0-6398-11e5-933e-f6adef8419b3.png)

[2015-09-25 13:21] grdw opened #462 "Implement bootstrap form for for nicer error messages"
https://github.com/bootstrap-ruby/rails-bootstrap-forms

This is just to make the input boxes glow red whenever there's an error on them.

[2015-09-25 13:21] grdw commented on #441
Continue at -> https://github.com/quintel/etmoses/issues/462

[2015-09-25 13:21] #441 closed

[2015-09-25 13:22] grdw commented on #421
I'm closing this. This had to due with LES's that didn't had a business case.

[2015-09-25 13:22] #421 closed

[2015-09-25 13:27] dennisschoenmakers opened #463 "NoMethodError: undefined method `curves' for nil:NilClass"
Check full details on Airbrake: [#1517362082736486053](https://quintel.airbrake.io/projects/111227/groups/1517362082736486053)

Backtrace:
[code]

[2015-09-25 13:30] grdw commented on #342
I took a sit with this one and managed to fix it.

[2015-09-25 13:30] #342 closed

[2015-09-25 13:33] grdw opened #464 "Refreshing and hard-refreshing"
Profile table sets wrong defaults for `base_load_edsn` when normally refreshing instead of hard-refreshing.

Will look into this myself.

[2015-09-25 13:46] #464 closed

[2015-09-25 13:56] grdw commented on #307
Still needs to be implemented eventhough the whole process is in a background job.

[2015-09-25 13:56] ChaelKruip opened #465 "When opening a new LES, the business case does not show"
![cursor_and_etmoses](https://cloud.githubusercontent.com/assets/1303760/10102300/ebe6d92a-639d-11e5-8e5a-fcf4880ade0e.png)
Only after I edit the LES, does it show up...

[2015-09-25 13:57] #319 closed

[2015-09-25 13:58] grdw commented on #465
See #460

[2015-09-25 14:00] ChaelKruip opened #466 "The top-left cell should be shaded as well and say 'depreciation cost' for clarity"
![cursor_and_etmoses](https://cloud.githubusercontent.com/assets/1303760/10102414/9301fcf8-639e-11e5-8954-b3d0015f41f8.png)

[2015-09-25 14:03] grdw commented on #465
http://beta.moses.et-model.com/testing_grounds/304 now does show up.

[2015-09-25 14:21] ChaelKruip commented on #465
It does show up after refresh or after 'editing' something. It seems that the initial background job finishes but never updates the front-end.

So, maybe I didn't wait long enough?
In that case I would expect the 'loading icon' to keep on showing until something has been calculated...

[2015-09-25 14:26] grdw commented on #465
This will be fixed once: #458 is merged

[2015-09-25 14:34] dennisschoenmakers opened #467 "RestClient::InternalServerError: 500 Internal Server Error"
Check full details on Airbrake: [#1517395850977326862](https://quintel.airbrake.io/projects/111227/groups/1517395850977326862)

Backtrace:
[code]

[2015-09-25 14:36] dennisschoenmakers opened #468 "ArgumentError: invalid value for Integer(): """
Check full details on Airbrake: [#1517396703830325128](https://quintel.airbrake.io/projects/111227/groups/1517396703830325128)

Backtrace:
[code]

[2015-09-25 14:37] dennisschoenmakers commented on #468
That last one happens when you leave the scenario id empty and click ok.

[2015-09-25 14:38] antw commented on #467
Apparently ETMoses sent a request for converter information for technologies it shouldn't have (generic, base_load, etc). Here's the ETE log:

[code]

[2015-09-25 14:38] ChaelKruip commented on #468
![cursor_and_world_burn_meme_-_google_search](https://cloud.githubusercontent.com/assets/1303760/10103390/e905af28-63a3-11e5-8325-6125d6265002.png)

[2015-09-25 14:44] ChaelKruip opened #469 "There seems to be a rounding error in the investment cost calculation"
The topology has 300_000 EUR of assets for the S.O. with a technical lifetime of 30 years. I would expect exactly 10_000 EUR/y depreciation cost but I see 9_998 EUR/y:
![cursor_and_etmoses](https://cloud.githubusercontent.com/assets/1303760/10103493/90d0feba-63a4-11e5-87fb-c602498c6cea.png)

[2015-09-25 14:45] ChaelKruip commented on #469
LES: [http://beta.moses.et-model.com/testing_grounds/304](http://beta.moses.et-model.com/testing_grounds/304)

[2015-09-25 14:52] dennisschoenmakers opened #470 "StandardError: An error has occurred, all later migrations canceled: Mysql2::Error: Duplicate entry '1-initial_investment' for key 'index_importable_attributes_on_technology_id_and_name': INSERT INTO `importable_attributes` (`name`, `technology_id`) ..."
Check full details on Airbrake: [#1517404687411166067](https://quintel.airbrake.io/projects/111227/groups/1517404687411166067)

Backtrace:
[code]

[2015-09-25 14:55] antw commented on #467
Maybe [this migration](https://github.com/quintel/etmoses/commit/f7c65ec0b109193d87c7b774f8487a8a43f80b3b), which would have added an importable attribute to all techs, not just those in ETEngine?

[2015-09-25 15:24] ChaelKruip opened #471 "When changing a technology into household, some things seem to go wrong"
* The individual profiles are selected even when the group is larger than 30:
![cursor_and_etmoses](https://cloud.githubusercontent.com/assets/1303760/10104464/0bdb97aa-63aa-11e5-8e26-58d46a849cb5.png)
* Some lines containing houses do not want to change (don't allow other options to be selected)

[2015-09-25 15:38] grdw commented on #471
It has to do with 'soft' refreshing. Whenever you 'soft' refresh the base load changes into a battery. This is due to the fact that the browser remembers `base_load_edsn` and than tries to find it in a select box without `base_load_edsn` so it assumes the first technology is `base_load_edsn` which is `battery`

[2015-09-25 16:06] antw commented on #471
As a temporary fix, I have reverted 680debc5 which is where this issue first arises. The issue I'm seeing is that `$(this).data('type')` always returns the original `type` even after the user has changed it. The result is that any "Household" technology present when the page loads cannot be changed to any other type of technology.

[2015-09-25 16:32] #469 closed

[2015-09-25 16:35] antw commented on #469
There was also a test containing an incorrectly rounded value. :frowning:

There's not much point in writing tests it the expected values are just copy/pasted from the output without being checked...

[2015-09-25 19:23] #334 closed

[2015-09-25 19:23] #426 closed

[2015-09-25 19:23] #468 closed

[2015-09-25 20:35] dennisschoenmakers opened #472 "NoMethodError: undefined method `each_tech' for #<Hash:0x007f9d00a91790>"
Check full details on Airbrake: [#1517577260665125913](https://quintel.airbrake.io/projects/111227/groups/1517577260665125913)

Backtrace:
[code]

[2015-09-25 20:35] #460 closed

[2015-09-25 20:42] #472 closed

[2015-09-25 20:43] antw commented on #432
Someone added a bunch of profiles containing 35,041 points. I've added validation to prevent this happening again.

[2015-09-25 21:09] antw commented on #470
I'm guessing the "importable_attributes" were messed with by hand prior to running [the migration](https://github.com/quintel/etmoses/blob/e90bbbb28a8dd3ec07a94bc7692c5d3981ab2228/db/migrate/20150925142359_add_initial_investment_technical_lifetime_attributes_to_db.rb). I can't think of any other reason why these records would have existed prior to running the migration...

[2015-09-25 21:09] #470 closed

[2015-09-25 21:17] antw commented on #463
This no longer seems to be an issue; the [LES calculates fine](http://beta.moses.et-model.com/testing_grounds/301). In theory this would be caused by deleting a load profile [which is in use by an LES](https://github.com/quintel/etmoses/blob/e90bbbb28a8dd3ec07a94bc7692c5d3981ab2228/app/models/installed_technology.rb#L211).

I think we need a better strategy for dealing with what happens when profi

[2015-09-25 21:17] #463 closed

[2015-09-25 21:19] antw commented on #455
I'm not sure how it came to be that Airbrake was configured on a development machine. [That shouldn't be possible](https://github.com/quintel/etmoses/blob/e90bbbb28a8dd3ec07a94bc7692c5d3981ab2228/config/initializers/airbrake.rb#L1). :confused:

[2015-09-25 21:20] antw commented on #448
Closing; see #455.

[2015-09-25 21:20] #448 closed

[2015-09-25 21:21] antw commented on #440
If you create a duplicate interaction (same payer, payee, and measure) you'll trigger this error. I have plans to remove this limitation early next week. See https://github.com/quintel/etmoses/issues/449#issuecomment-143188949 for more information.

[2015-09-25 21:21] #440 closed

[2015-09-25 21:42] #439 closed

[2015-09-25 22:12] #452 closed

[2015-09-26 14:14] #467 closed

[2015-09-26 16:58] ChaelKruip commented on #471
I think the trouble started with the feature that groups of households larger than 30 should get aggregated profiles, whereas smaller groups should get individual profiles. A new technology (`base_load_edsn`) was created which is selected when the group is larger than 30. But this new technology does not occur as a separate option in the selection menu in the front-end (as, to the user, it should

[2015-09-26 17:48] ChaelKruip opened #473 "Thermal capacities are shown in overview page"
Although the technology table in the edit menu shows the electric capacities (see https://github.com/quintel/etmoses/issues/426), the overview page shows the thermal capacities:
<img width="716" alt="etmoses" src="https://cloud.githubusercontent.com/assets/1303760/10118934/6d669da2-6487-11e5-89a3-265f0a7f2eb1.png">

[2015-09-26 18:18] ChaelKruip opened #474 "For the cooperation, it seems that investments are not included yet..."
I have made [a LES](http://beta.moses.et-model.com/testing_grounds/309) with technologies connected to an end-point owned by the cooperation. The depreciation costs do not show up however:
<img width="1317" alt="etmoses" src="https://cloud.githubusercontent.com/assets/1303760/10119067/a7b6e0d0-648b-11e5-8711-932a5c209366.png">

[2015-09-26 18:25] ChaelKruip commented on #474
They do show up in my [latest LES](http://beta.moses.et-model.com/testing_grounds/310).

Perhaps the reason that the end-point was not considered in the [offending LES](http://beta.moses.et-model.com/testing_grounds/309) is that I first removed it and later added it again to the technology matrix?

[2015-09-26 18:33] ChaelKruip opened #475 "If there are multiple end-points in a LES, the storage in EV strategy introduces negative spikes"
It is unfortunate that a strategy deployed to reduce network congestion introduces supply peaks that exceed the network capacity:
<img width="642" alt="etmoses" src="https://cloud.githubusercontent.com/assets/1303760/10119119/4033b18e-648d-11e5-9ca4-b38a1022bfb5.png">

@antw could this be the effect of the EVs in one end-point having some extra storage which is then used by EVs in another end-poin

[2015-09-26 18:34] ChaelKruip commented on #475
The LES in question: [http://beta.moses.et-model.com/testing_grounds/310](http://beta.moses.et-model.com/testing_grounds/310)

[2015-09-26 18:51] #473 closed

[2015-09-26 18:54] antw commented on #471
That's not related to `base_load` or `_edsn`, but because the relevant attribute is now called `electrical_capacity` instead of `capacity`. I have updated the JS.

However, the default heat pump capacity in the database is still 10.0 (it doesn't account for COP, nor can it as the COP comes from ETEngine). The coefficient-of-performance implementation is already feeling very hacky to me; it'll do i

[2015-09-26 19:01] antw opened #476 "Clicking a node prior to receiving the green-line loads raises a JS error"
When an LES page first loads, it fetches the "all-strategies-off" (blue line) loads. When finished, the network diagram shows up. At this point the JS is still waiting for the "all-strategies-on" (green line) loads. If you click on a node in the network diagram prior to the green-line loads being received, a JavaScript error is raised:

![screen shot 2015-09-26 at 20 00 09](https://cloud.githubuse

[2015-09-26 19:03] antw opened #477 "Green-line loads could be fetched in parallel with blue-line loads"
When an LES page loads, it fetches the all-strategies-off (blue line) loads. Once received, the JavaScript then asks the server for the green-line loads.

Instead of executing these requests in series, both requests could be sent simultaneously. This would improve the responsiveness of the "show LES" page.

@grdw Do you think this is this doable with the current "show LES" page?

[2015-09-26 19:22] antw commented on #475
The LES seems to have changed, and no longer has any loads on "Households 1".

That's a reasonable explanation, and I can imagine that would be the reason you would see this behaviour. Like you, I don't think it's ideal.

Subnet calculation might, in theory, be able to prevent this from happening.

[2015-09-27 08:18] ChaelKruip commented on #475
Oops! Sorry I think I dit some editing later :blush:

I'm not complaining but I would like to give a demo tomorrow where I understand the behaviour well. Thanks for validating my thoughts @antw!

[2015-09-27 08:18] #475 closed

[2015-09-27 08:25] ChaelKruip commented on #471
Would things break if we would change it to the electrical capacity?

Sounds good to me. I think we need a robust and generic way to treat both input and output capacity (and the COP/efficiency that is their ratio). Ideally, these values are all taken from ETE as they are present there and consistent.

[2015-09-27 08:26] ChaelKruip commented on #477
Good catch @antw and I like your suggestion!

[2015-09-27 08:41] ChaelKruip opened #478 "After editing and 'saving as new' the edits are not saved"
The old LES is just cloned it seems...

[2015-09-27 09:53] ChaelKruip commented on #430
For example, I'm using the default topology:
[code]
which includes, `producer`, `customer`, `system operator` and `cooperation`.

My [market model](http://beta.moses.et-model.com/market_models/63) includes all of these stakeholders except the `system operator`:
<img width="1371" alt="etmoses" src="https://cloud.githubusercontent.com/assets/1303760/10122150/53e72676-650e-11e5-811c-945665629346.png"

[2015-09-27 11:11] antw commented on #471
Yes, but since the technology won't have a COP defined (since it comes from ETEngine) We would also need to reduce the default volume by the same proportion to compensate. I think I can come up with a better fix for this tomorrow, but would this be good enough for the next 24-48 hours?

[2015-09-27 11:11] #430 closed

[2015-09-27 12:20] ChaelKruip commented on #471
Yes. Let's talk about a better solution next week. For now this will do thanks.

[2015-09-27 12:36] ChaelKruip opened #479 "Business case stops loading before being updated"
When changing a strategy, the business case output shows a 'loading message'. At some point, the loading message is replaced by the business case overview table but the values have not updated yet. After another 10 seconds or so, the values do change to their correct updated value.

It would be more logical if the 'loading message' shows until the updated values are available.

[2015-09-27 13:17] antw commented on #479
I'm not sure what's going on with the business case calculation, actually. It seems that since b64bef01 a new job is created every time the front-end polls to see if the market model has been calculated. The reason for that is that a `job_id` now isn't set until the job starts executing – rather than as soon as you submit the request. It may be many seconds before the job starts (depending on the

[2015-09-27 13:22] ChaelKruip commented on #479
Thanks @antw!

[2015-09-27 13:31] ChaelKruip opened #480 "Node should not remain 'red' of strategy reduces load enough to prevent congestion"
For [this LES](http://beta.moses.et-model.com/testing_grounds/314) the buffering strategy for HPs seems to solve all congestion problems. Still the 'Households 1' node is red:
<img width="1332" alt="etmoses" src="https://cloud.githubusercontent.com/assets/1303760/10123031/bba702ea-652c-11e5-861d-6fb23003bafa.png">

[2015-09-27 15:34] #480 closed

[2015-09-27 17:41] dennisschoenmakers opened #481 "NoMethodError: undefined method `curves' for nil:NilClass"
Check full details on Airbrake: [#1518939286205346201](https://quintel.airbrake.io/projects/111227/groups/1518939286205346201)

Backtrace:
[code]

[2015-09-27 17:45] ChaelKruip commented on #480
:+1:

[2015-09-27 17:52] dennisschoenmakers opened #482 "ArgumentError: wrong number of arguments (0 for 1..2)"
Check full details on Airbrake: [#1518944939984531908](https://quintel.airbrake.io/projects/111227/groups/1518944939984531908)

Backtrace:
[code]

[2015-09-27 17:56] dennisschoenmakers opened #483 "TypeError: nil can't be coerced into Fixnum"
Check full details on Airbrake: [#1518947008783036895](https://quintel.airbrake.io/projects/111227/groups/1518947008783036895)

Backtrace:
[code]

[2015-09-27 18:15] #482 closed

[2015-09-27 18:29] #294 closed

[2015-09-27 19:58] ChaelKruip opened #484 "BUG: When comparing market model, the income is incorrectly shown with a minus sign"
<img width="1315" alt="etmoses" src="https://cloud.githubusercontent.com/assets/1303760/10124903/cd844f8c-6562-11e5-92df-bb5bc4b3ba8e.png">

Weirdly, the cooperation does not have the erroneous minus sign!

[2015-09-27 20:32] antw commented on #484
The number in in brackets apparently shows the *difference* in price between the current business case and the comparison case. Is that what you're referring to?

| 20150907_kWpeak value | 20150922_complex_market value | Δ |
| --------------------:| -------------------------:| -------------------:|
| €998,332.65 | €15,436.32 | €982,896.32 |

*(I would expect the number in brackets to simply be the

[2015-09-27 20:35] antw commented on #443
Params sent (when exporting LES 315) were:

[code]

[2015-09-27 20:43] ChaelKruip commented on #484
It should just show the values indeed. Not the difference.

[2015-09-27 21:20] #484 closed

[2015-09-27 23:43] #297 closed

[2015-09-28 07:30] grdw commented on #479
It was like this 49d8c3b before I changed it to the never-ending-job-spawning line of code... don't really know what was causing me to think that this would actually work.

[2015-09-28 07:30] #479 closed

[2015-09-28 07:50] #465 closed

[2015-09-28 08:20] grdw commented on #415
Fixed with: 9037de0

[2015-09-28 08:20] #415 closed

[2015-09-28 08:21] #431 closed

[2015-09-28 08:32] grdw commented on #478
.. but with a new name! :smile: .. :disappointed:

I am aware of this though.

If I'm correct if you:

1. Edit the topology in the edit screen of a LES (for instance)
2. Hit 'Save as'.
3. Topology changes: gone.

[2015-09-28 09:32] grdw commented on #477
This is not to big of change. I'll look into it!

[2015-09-28 12:58] #443 closed

[2015-09-28 13:59] JeroenvdLogt opened #486 "little discharging of batteries"
I try to simulate a street with PV, heatpumps, P2H, and batteries. If I use buffering Heatpumps/P2H strategies in combination with storage of excess PV production there is something strong. It looks like there is charging but no discharging in the summer weeks.

If I remove the P2H strategie the load curve looks normal.
![technology battery](https://cloud.githubusercontent.com/assets/7781037/10137

[2015-09-28 14:12] JeroenvdLogt commented on #486
![power to heat](https://cloud.githubusercontent.com/assets/7781037/10137768/85f87708-65fb-11e5-89d9-eddaa62f8dd2.JPG)
Looks like this issue is caused by the P2H. It is a 'sink' for excess PV energy but the demand of P2H at a later time is not lower because of the buffering.

[2015-09-28 15:17] JeroenvdLogt opened #487 "reset to 100% PV capping"
When I use the strategy of PV capping and change something in the technology table, ET Moses reset the slider of PV capping to 100%.

[2015-09-28 15:33] JeroenvdLogt opened #488 "saving of aggregated baseload"
As I remembered well savings of aggregated baseload was 10%. If I apply the strategy it cuts to the maximum capacity of the node. This is quit unrealistic because this type of flex is no demand shift but energy saving.
![saving of aggregated base load](https://cloud.githubusercontent.com/assets/7781037/10140288/0d3b42e4-6607-11e5-9edc-35a68d96f3a9.JPG)

[2015-09-29 08:13] grdw opened #489 "Sometimes the strategies are not applied correctly"
As a follow up to #477; an annoying bug 'sometimes' comes along.

The problem is that the `solar_capping` strategy is not applied depending on a certain random cycle of reloads.
The only way of reproducing is to continuously refresh the page between 1-10 times and the strategies are applied differently.

*After a 'wrong' reload:*
![screen shot 2015-09-29 at 10 02 49 am](https://cloud.githubusercon

[2015-09-29 08:17] grdw commented on #489
@antw nevermind, I think I found it.

[2015-09-29 08:39] ChaelKruip commented on #486
I think that is where the confusion occurs. P2H converts solar energy into heat and that heat is consumed using a domestic hot water profile. There is, however, no 'demand' for P2H because it is a volatile rather than a dispatchable technology. Perhaps we could make this more realistic by either:
* Satisfying the the remaining heat demand by a simple electric boiler
* Subtracting the heat demand s

[2015-09-29 08:41] #489 closed

[2015-09-29 08:41] ChaelKruip commented on #488
Do yo mean that it seems that the 'savings' exceed the 10%? From your example it seems that is what is happing... @antw could it be that the inflexible part of the aggregated base load is accidentally made flexible?

[2015-09-29 08:47] grdw commented on #487
I also came across this problem yesterday. This will be fixed in pull request #485

[2015-09-29 08:59] grdw commented on #466
![screen shot 2015-09-29 at 10 56 58 am](https://cloud.githubusercontent.com/assets/2676542/10159505/d3b75430-6698-11e5-916c-3b1fdc01bc2d.png)

This is what it becomes.

Though, I like it better if the 'Depreciation cost' isn't bold and the diagonal line 'italic'.

![screen shot 2015-09-29 at 10 57 56 am](https://cloud.githubusercontent.com/assets/2676542/10159524/071665e6-6699-11e5-9b4d-8935a98c1

[2015-09-29 09:06] grdw commented on #483
Fixed with 3f80931

[2015-09-29 09:06] #483 closed

[2015-09-29 09:13] ChaelKruip commented on #466
I agree! :+1:

[2015-09-29 09:30] grdw commented on #466
Cool I'll merge this than :+1:

[2015-09-29 09:40] JeroenvdLogt commented on #486
Okay clear. This would mean that with P2H, customers simply increase their heat consumption so that energy in the electric boiler is released before the next buffering (no counter on "state of charge" of electric boiler). On the network you'll see only the buffering and no release of energy.

I think that subtracting the heat demand satisfied by P2H from the buffer of heatpumps/hotwater would be m

[2015-09-29 09:42] JeroenvdLogt commented on #487
Thank you
![elvis](https://cloud.githubusercontent.com/assets/7781037/10160650/2e8b5586-669f-11e5-986a-46f054985a00.jpg)

[2015-09-29 09:44] JeroenvdLogt commented on #488
Indeed it seems 10% of aggregated load savings is not set as limits and ET Moses saves as much baseload as necaserry to not overload the network.

[2015-09-29 09:53] ChaelKruip commented on #487
:smile:

[2015-09-29 09:55] ChaelKruip commented on #486
I agree. Not sure yet how complex this is. I'll make a separate ticket for this. Closing.

[2015-09-29 09:55] #486 closed

[2015-09-29 09:59] antw commented on #488
Some of the EDSN curves only have a `default` component, when they should in fact have separate `flex` and `inflex` components. [E3A](http://beta.moses.et-model.com/load_profiles/341) is the only one I found with the separate curves.

@ChaelKruip Do you have a copy of the split-up curves available? I can upload them and remove the `default` component.

[2015-09-29 09:59] ChaelKruip opened #490 "Heat produced with P2H should be subtracted from demand"
Right now, P2H converts solar PV excess into heat but that heat is not really used anywhere (see https://github.com/quintel/etmoses/issues/486). It would be more realistic to add the heat from P2H to the buffers of heat pumps (for hot water) on the same connection.

@antw what is your estimation of the complexity of this? I think that it would mean that in effect the P2H and the heat-pump would sh

[2015-09-29 10:05] ChaelKruip commented on #488
I have them indeed. Even thought I had uploaded them in the past :open_mouth: I can Slack them to you

[2015-09-29 11:24] antw commented on #488
@JeroenvdLogt I have uploaded the corrected load profiles for households. You should find that this is now fixed.

[2015-09-29 11:24] #488 closed

[2015-09-29 11:27] #476 closed

[2015-09-29 11:27] #477 closed

[2015-09-29 11:27] #487 closed

[2015-09-29 11:53] dennisschoenmakers commented on #438
Again:

![image](https://cloud.githubusercontent.com/assets/104830/10163181/554abcea-66b1-11e5-8dcd-a32fa3218ac2.png)

Maybe: this happens when I open a Less, and during the 'loading' phase press another LES in the menu

[2015-09-29 12:35] grdw commented on #461
Fixed with 3f80931

[2015-09-29 12:35] #461 closed

[2015-09-29 12:36] grdw commented on #466
Fixed with: 9fdc786

[2015-09-29 12:36] #466 closed

[2015-09-29 13:00] grdw commented on #442
![screen shot 2015-09-29 at 2 42 40 pm](https://cloud.githubusercontent.com/assets/2676542/10164174/5e1711be-66b8-11e5-92f7-31d92aabb9da.png)

Something like this?

[2015-09-29 13:06] ChaelKruip commented on #442
:+1:

[2015-09-29 13:06] dennisschoenmakers opened #492 "User sign up is broken because of activation email not working/not communicated properly to the user"
Now it's really confusing. If you sign up, you get redirected to the login page saying 'you need to sign in/ sign up'. If you type in your credentials again you get the cryptic:

![image](https://cloud.githubusercontent.com/assets/104830/10164761/abedc4f2-66bb-11e5-9b5f-e735ab083903.png)

* get rid of the activation requirement
* sign in when you sing up immediately.

cc @ChaelKruip

[2015-09-29 13:08] ChaelKruip commented on #492
:+1:

[2015-09-29 13:48] #478 closed

[2015-09-29 14:24] grdw commented on #492
Ok.

[2015-09-29 14:36] grdw commented on #492
Which song should they sing? :smile:

[2015-09-29 14:38] dennisschoenmakers commented on #492
Knocking on heavens door?

[2015-09-29 15:25] grdw commented on #438
Yep, that's how to do it! :+1:

![screen shot 2015-09-29 at 5 24 37 pm](https://cloud.githubusercontent.com/assets/2676542/10168890/fc513d4e-66ce-11e5-9945-43acd6d1ff0c.png)

[2015-09-29 15:28] dennisschoenmakers commented on #438
https://www.youtube.com/watch?v=0hiUuL5uTKc

[2015-09-30 08:39] ChaelKruip opened #494 ""Powered by Alliander" should become a more general partner statement"
As ETMoses likely will be sponsored by more partners than Alliander alone, we could make something similar to what the ETM has: one 'leading partner' (Alliander) and multiple 'partners' (future collaborators).

[2015-09-30 08:42] ChaelKruip opened #495 "ETMoses landing page should advertise our workshops"
John pointed out that because ETMoses is a real experts-tool it would be good to if he user would find his way to a workshop about how to use ETMoses rather than him getting frustrated by reading a lot of complex documentation.

[2015-09-30 08:57] grdw opened #496 "When importing a scenario from ET-model and refreshing something strange happens to households"
When you're importing a scenario from ET-model. The technology table is loaded. When you hit refresh (F5/Cmd+R) - the Households (aggregated) turn into Batteries (in Firefox that's the case). This is logical behaviour due to the fact that a browser remembers the option value from a select box in the browser-cache. In our case, we change this option value (after the dom has loaded) by hand to `base

[2015-09-30 09:01] grdw commented on #471
Continued at: https://github.com/quintel/etmoses/issues/496

[2015-09-30 09:01] #471 closed

[2015-09-30 09:18] antw commented on #496
Doesn't happen in Chrome or Safari, which is odd.

[2015-09-30 09:20] antw commented on #496
Oh I see what you mean; Firefox remembers the form settings from before the refresh. The problem isn't there if you force-refresh (Cmd+Shift+R). This is annoying... :anguished:

[2015-09-30 09:36] #496 closed

[2015-09-30 11:00] antw commented on #432
That message suggests the use of a price curve with a tariff that doesn't return a value for each 15-minutes of the year. These would be

* Annual maximum kW load ("contracted")
* Monthly maximum kW load ("kW max")
* Number of connections

I'll add a validation to prevent users from doing this.

[2015-09-30 11:12] ChaelKruip commented on #432
:+1:

[2015-09-30 11:41] #442 closed

[2015-09-30 11:42] grdw commented on #435
I think this problem is resolved. I'll re-open this issue if this error occurs again

[2015-09-30 11:42] #435 closed

[2015-09-30 11:56] #481 closed

[2015-09-30 12:34] #283 closed

[2015-09-30 12:35] ChaelKruip opened #498 "Tooltips should be replaced by something less flimsy"
Perhaps an ETM-style 'harmonica' info text with the option of including links to documentation and images?

@dennisschoenmakers @antw what do you think?

[2015-09-30 12:43] dennisschoenmakers commented on #498
Let's see some designs or hear some ideas first, @grdw !

[2015-09-30 12:53] #492 closed

[2015-09-30 13:16] dennisschoenmakers opened #499 "Merit information should be downloadable"
Keep it simple, comparable to http://beta.et-engine.com/data/latest/merit

[2015-09-30 13:28] ChaelKruip commented on #499
:+1:

Indeed, both load curves and price curve are interesting for the user.

[2015-09-30 14:23] ChaelKruip opened #500 "Household groups larger than 30 should get an aggregated profile"
Right now, the table still shows the individual profiles if you change another technology (with units > 30) to households.

[2015-10-01 09:46] grdw commented on #500
Fixed with: https://github.com/quintel/etmoses/commit/d4576bd53df49b8d77b7fc8dbb76d03804107d14

[2015-10-01 09:46] #500 closed

[2015-10-01 09:47] #455 closed

[2015-10-01 09:54] ChaelKruip commented on #500
:+1:

[2015-10-01 09:57] #309 closed

[2015-10-01 09:58] #378 closed

[2015-10-01 12:03] grdw commented on #438
I fixed it by disabling the 'Local Energy Solutions' header menu item when a LES is loading. When it's done loading it enables again.

[2015-10-01 12:08] grdw commented on #438
Fixed with: 37f8874

[2015-10-01 12:08] #438 closed

[2015-10-01 12:09] #474 closed

[2015-10-01 14:09] grdw commented on #414
I made the following things open to public:

- Testing grounds (only public) -> Index, show
- Business cases (only public - depends on LES) -> Summary, Data
- Market models (only public) -> Index, show
- Load profiles (only public) -> Index, show
- Load profile components (only public - depends on load profile) -> Data
- Price curves / Financial profiles (only public) -> Show

However, I first wan

[2015-10-01 14:23] dennisschoenmakers commented on #414
Check!

[2015-10-01 14:35] grdw commented on #414
I'm writing specs :+1:  still there's some feeling in my gut that somebody made a testing_ground/load_profile/market_model public while it should have been private or some weird combination of a public topology / private market model. I'm going to test those weird combinations of privacy settings though.

[2015-10-01 15:30] grdw opened #502 "Make it possible to create a LES with no account"
*This doesn't mean that you don't need an actual account*

`Import -> Perform Import -> New -> Create`

The create action should redirect to the `sign_up` or `sign_in` page and should return back to the `new` page with all the changes in-tact. Than the user should be able to save it.

The polluting solution would be:

- Creating the testing ground without a user
- Sign up and sign in the user
- At

[2015-10-01 16:02] antw commented on #500
* [Use data attribute instead of val()](https://github.com/quintel/etmoses/commit/680debc53973355b553155bdfae857907af0a259)
* [Revert "Use data attribute instead of val()"](https://github.com/quintel/etmoses/commit/07500b1d868a4c623233b54c9cf8c29048cc732e)
* [Use data attribute instead of val()](https://github.com/quintel/etmoses/commit/f77d851b16f40eb6b3406b89d0ab8c12b2efbb51)
* [Fixing edsn bug]

[2015-10-02 07:33] ChaelKruip commented on #414
@JeroenvdLogt could you have a look at possible oversights after the https://github.com/quintel/etmoses/pull/501 has been merged? It is important that we test that private data is not published by accident.

[2015-10-02 09:21] ChaelKruip opened #503 "Suggestion: change default behaviour of heat pumps to something more stupid"
I think that the current default behaviour of heat pumps is too smart and does not do justice to the problems that we need to tackle with strategies.

Right now, the heat pump behaves according to the availability profile: the pump starts to buffer when the availability profile tells it so. The availability profile takes into account any upcoming events for hot water or space heating. This 'knowle

[2015-10-02 09:28] ChaelKruip opened #504 "Suggestion: change default behaviour of electric vehicles to something more stupid"
Similar to #503, the default behaviour of EV should become more stupid IMO. I this case, I think the current default ("load at the latest time possible and only enough for the trip") is not only too smart but also not very realistic.

My suggested 'stupid default' would be: "load at full capacity when you return from a trip and don't discharge until you drive again."

This is how most people use t

[2015-10-02 09:43] ChaelKruip opened #505 "Suggestion: encode heat use in kW instead of 'fraction of buffer volume' for heat pumps"
If we would simplify te behaviour of heat pumps as suggested in https://github.com/quintel/etmoses/issues/503, we would be able to offer more flexibility to the user by allowing him to choose the capacity (and COP) of heat pumps **and** the storage buffer volume independently.

If the heat and hot water use is described in units of kW by the profiles, we can completely let go of the constraint tha

[2015-10-02 09:45] dennisschoenmakers commented on #505
:+1: Excellent idea!

[2015-10-02 09:47] ChaelKruip commented on #191
Closing.

[2015-10-02 09:47] #191 closed

[2015-10-02 09:47] ChaelKruip commented on #174
Closing.

[2015-10-02 09:47] #174 closed

[2015-10-02 09:48] ChaelKruip commented on #177
Closing.

[2015-10-02 09:48] #177 closed

[2015-10-02 09:48] ChaelKruip commented on #155
Closing.

[2015-10-02 09:48] #155 closed

[2015-10-02 10:08] #414 closed

[2015-10-02 14:24] ChaelKruip commented on #450
Closing this.

[2015-10-02 14:24] #450 closed

[2015-10-02 14:25] ChaelKruip commented on #385
what is the status here @grdw

[2015-10-02 14:27] ChaelKruip commented on #327
Closing as we currently use the 'units' of the base-load profiles

[2015-10-02 14:27] #327 closed

[2015-10-02 14:27] ChaelKruip commented on #328
This is very minor. Closing

[2015-10-02 14:27] #328 closed

[2015-10-02 14:29] ChaelKruip commented on #419
Closing as this is done.

[2015-10-02 14:29] #419 closed

[2015-10-02 14:33] ChaelKruip opened #507 "How to allow several technologies to fulfil the same heat demand?"
Currently we assign a use profile to each technology individually. I think that we need to go to a situation where the same demand (use) can be fulfilled by several technologies. For example, the hot-water use in a household could be partially satisfied by a heat pump, the gas-burner (if the heat pump has insufficient capacity) and a P2H installation all using the same buffer.

Perhaps the demand

[2015-10-05 07:47] grdw opened #508 "An existing LES should not need to re-calculate when viewed"
This is a general issue.

It takes a long time to load a LES while the calculation is already done.

We could save the calculation to the database in order to save time. Don't quiet know what the limitations are database wise and when it comes to `$.ajax`. So I'll have to look into that first.

- [ ] Researching options for storing large amounts of data to the database
- [ ] Researching limitation

[2015-10-05 07:49] jorisberkhout commented on #450
Thank for fixing this, @antw. I repeated the test as described in the opening comment of this issue and this resulted in the following relation between costs per kWh and number of households. As discussed with @ChaelKruip , this looks very plausible to us.

<img width="640" alt="screen shot 2015-10-05 at 09 45 49" src="https://cloud.githubusercontent.com/assets/4669028/10275224/1811efd0-6b46-11e5-

[2015-10-05 07:50] ChaelKruip commented on #450
:+1: thanks for testing this so thoroughly @jorisberkhout!

[2015-10-05 07:58] ChaelKruip opened #509 "Responsiveness/useability of ETMoses should improve"
As we are adding more functionality (gas, load per technology, load per stakeholder etc.) the responsiveness and performance of ETMoses become an issue.

There are several potential areas where we could improve ETMoses:

* Load calculation (@antw will focus on this)
* Information sent to and from browser
* ...

Perhaps it is good to do some profiling first to see where we can gain the most.

[2015-10-05 08:44] antw commented on #450
Thanks indeed, @jorisberkhout; much appreciated!

[2015-10-05 08:57] antw commented on #503
This was the way heat pumps used to behave [before support for availability profiles was added](https://github.com/quintel/etmoses/commit/8ca1ecfa85e6a99ca9b4a8d0923154c0e85ee6d2). :neutral_face:

What would happen if the amount stored in the buffer and the capacity of the heat pump are insufficient to meet demand?

[2015-10-05 09:00] antw commented on #504
Charge *when the network has spare capacity* without discharging, is the behaviour you get when you choose:

* Buffering of electricity in PV: **on**
* Storage in EV prioritising local PV: **off**

[2015-10-05 09:06] antw commented on #502
I would imagine it is easier to have the `import` or `new` actions redirect to a sign-up/sign-in page. It feels like a bit of a tease to allow someone to choose their technology mix and design their LES, only to hit a wall when hitting submit.

[2015-10-05 09:07] ChaelKruip commented on #503
I know :disappointed:. I just recently realised how using an availability profile is some sort of buffering...

I think there are two options:

1. The needed extra heat is produced by an electric device with efficiency 100% or so. This would result in a tripling or quadrupling of the load on the network (the heat pump has effective efficiency of 400% or so).
2. The needed extra heat is produced by

[2015-10-05 09:08] ChaelKruip commented on #504
Correct, I am suggesting to start 'buffering' but without any concern for network capacity as the default.

[2015-10-05 09:10] antw commented on #504
Understood. :+1:

This is a pretty simple change if you choose to go ahead with it.

[2015-10-05 09:33] grdw commented on #502
Yes, it would and I agree.

[2015-10-05 10:06] grdw commented on #508
*If* we were to store it in the database. The thing would be, to store the 35040 points per end-point in `MEDIUMBLOB` type columns. Thing is though, if you have 200 end-points - it will still be slow.

The other options are:

- Redis (using `ENDPOINT_KEY_NAME => [ 35040 values ]`)
- Writing to file (this seems really slow mentally but maybe in practice it's really fast)

[2015-10-05 11:09] #418 closed

[2015-10-05 11:31] grdw opened #510 "Cloning of a topology should rename the topology to <Topology name> - Clone #"

[2015-10-05 11:43] ChaelKruip commented on #326
Assigning @grdw

[2015-10-05 11:44] ChaelKruip commented on #325
Adding to sprint 1 of GasInfra. If there is time...

[2015-10-05 11:45] ChaelKruip commented on #16
Closing this.

[2015-10-05 11:45] #16 closed

[2015-10-05 11:46] ChaelKruip commented on #26
Assigning @grdw

[2015-10-05 11:46] ChaelKruip commented on #307
@grdw can we close this?

[2015-10-05 11:47] ChaelKruip commented on #295
@grdw can we close this?

[2015-10-05 11:49] ChaelKruip commented on #287
Moving to February Deploy

[2015-10-05 11:49] ChaelKruip commented on #223
Closing this.

[2015-10-05 11:49] #223 closed

[2015-10-05 11:52] antw commented on #295
I think the relevant pull request is #457 which is unmerged. I'll look into it today.

[2015-10-05 11:54] ChaelKruip commented on #87
Assigning to @grdw to pick up in case of time :smile:

[2015-10-05 11:55] ChaelKruip commented on #139
To pick up if there is time.

[2015-10-05 11:56] ChaelKruip commented on #53
Still a nice idea. Moved to February deploy in case we have some time for this.

[2015-10-05 12:01] ChaelKruip opened #511 "The user should be warned if changing the end-points of a topology in an existing LES"
If you want to create and/or remove end-points in a topology, this should be done before attaching technologies to that topology. If the user tries to do that whilst editing he should get warned and told to first create a new topology and then create a LES with it.

[2015-10-05 12:02] ChaelKruip commented on #404
Closing.

[2015-10-05 12:02] #404 closed

[2015-10-05 12:03] ChaelKruip commented on #396
This has been done right? Can we close this @antw?

[2015-10-05 12:04] ChaelKruip commented on #386
@dennisschoenmakers what is the status of this?

[2015-10-05 12:05] ChaelKruip commented on #510
:+1:

[2015-10-05 12:05] antw commented on #396
@grdw added an error message in the front-end when the YAML is invalid. The message is still quite technical (in this case, "Psych::SyntaxError: (<unknown>): could not find expected ':' while scanning a simple key at line 159 column 13").

I believe this can be closed if you don't want any further changes.

[2015-10-05 12:06] ChaelKruip commented on #396
good enough for now. Closing.

[2015-10-05 12:06] #396 closed

[2015-10-05 13:39] antw commented on #508
I put some thought into this recently, but I will start by saying these ideas are off the top of my head. I have some experience of building simple caching systems, but this task will be tricky because of the amount of data we need to store at once, and the way in which we need to access it.

### Requirements

* We need to store at least two versions of the computed network: the “blue-line” and “g

[2015-10-05 13:47] grdw commented on #508
I'll write a tiny script that will do this. `Benchmark` is my friend.

I agree :+1:

Perhaps there is. I'll look into it with the script.

[2015-10-05 13:49] antw commented on #508
[evanphx/benchmark-ips](https://github.com/evanphx/benchmark-ips) is pretty sweet.

[2015-10-05 13:50] grdw commented on #508
Nice! :smile:

[2015-10-05 13:51] ChaelKruip commented on #508
Yes, and it would also be very nice to store loads of stakeholders at various parts in the network to be shown in a chart

Doesn't this depend on the operation? Loads will not change if names or costs are changed for instance. Only if capacities are updated should it be necessary to re-calculate right?

[2015-10-05 14:44] grdw commented on #508
Results of benchmarking

Contents of script

[code]

It's a bit of tie between `MessagePack`-memcache or `MessagePack`-redis.

[2015-10-05 14:52] antw commented on #508
I'm not sure if we need to *cache* that; we might be able to pull all the individual loads out of the cache, recreate the network (without having to recalculate) and compute the stakeholder loads. We should only cache

Indeed. Changes to the capacity, layout, or component names are the only operations which would warrant a cache expiry (and the last two may be prohibited, per #511).

However, for

[2015-10-05 14:54] grdw commented on #508
Oh yes - sorry

`big` - means 200 curves
`mp` - means `to_msgpack / MessagePack.unpack`
`bp` - means `pack("d*") / unpack("d*")`

[2015-10-05 15:05] antw commented on #508
Could you put the script in a Gist? 2.5 seconds to store 200 curves seems a bit disappointing; still *way* better than recalculating, but I was hoping it would be faster. :disappointed:

[2015-10-05 15:07] grdw commented on #508
Yes: https://gist.github.com/grdw/5c03be7090a9b65c5c76

[2015-10-05 15:51] #510 closed

[2015-10-05 21:54] antw commented on #508
Thanks. [I made some changes](https://gist.github.com/antw/8cc5e0ac2b8fe056116c).

* With benchmark/ips you don't need to wrap the contents of each `report` block with `n.times`. Whereas the normal benchmark library tells us “it takes *n* seconds to execute this block”, benchmark/ips reports “you can execute this block *n* times per second (reported as ‘i/s’)”.

* The raw file and Redis versions (

[2015-10-06 08:20] #295 closed

[2015-10-06 08:30] grdw commented on #508
The data from the benchmarking +

Concludes that `file+msg` is a winner.

[2015-10-07 08:26] ChaelKruip opened #513 "Business cases do not re-calculate when strategies are updated"
See LES 313 for example.

[2015-10-07 09:43] grdw commented on #513
Since this is only - not working on the production environment - the most easy fix would be to merge all the changes that are related to the business cases to the production environemnt.

[2015-10-07 09:49] antw commented on #513
Can we identify the issue and cherry-pick the relevant commit onto the production branch? I think we should have another production deploy of Moses soon, but this would be good enough for the short-term.

[2015-10-07 09:50] grdw commented on #513
Yes. That's basically what I was trying to say.

[2015-10-07 10:01] ChaelKruip commented on #513
@dennisschoenmakers is doing a demo at the moment. Please wait an hour or so before deploying production!

[2015-10-07 10:03] antw commented on #513
The problem is that the Moses scenario points to ETEngine scenario 434138. ETEngine has no such scenario.

ETEngine *production* scenarios are currently numbered in the 200,000s, while *staging* is in the 400,000s. I'm not clear how production Moses could take scenarios from staging ETEngine, and I'm sure I deleted all the scenarios on Moses production during the deploy last week.

The `created_at

[2015-10-07 10:10] grdw commented on #513
Yes.

[2015-10-07 11:06] ChaelKruip commented on #513
Closing.

[2015-10-07 11:06] #513 closed

[2015-10-07 11:33] ChaelKruip commented on #513
@grdw please remove the offending LESses again from the production database to prevent future issues.

[2015-10-07 12:02] ChaelKruip opened #514 "Solar slider should show up when capping is selected"
Now it disappears!
![etmoses](https://cloud.githubusercontent.com/assets/1303760/10336846/e61abd74-6cfb-11e5-94fb-9b2e6a9dc523.png)

[2015-10-07 15:06] ChaelKruip opened #515 "NICE TO HAVE: query for bio footprint"
@AlexanderWirtz and myself have been dreaming up some charts to display relations between energy content and bio_footprint of carriers (and how much they are used in a scenario). Currently, the bio_footprint is [calculated in ETEngine](https://github.com/quintel/etengine/blob/master/app/models/qernel/graph_api.rb#L61-L71) but there is no easy way to use GQL to return the footprint of individual no

[2015-10-07 15:16] antw commented on #515
This issue was moved to quintel/etengine#790

[2015-10-07 15:16] #515 closed

[2015-10-08 08:36] dennisschoenmakers opened #516 "Default topology and market model shouldn't lead to private LESS"
![image](https://cloud.githubusercontent.com/assets/104830/10361422/535b25c0-6da8-11e5-830e-e3590feacc9f.png)

[2015-10-08 09:35] grdw opened #517 "Optimalizing SQL queries for load calculation"
I see a lot of duplicate queries flying by when doing a load calculation on my development machine.

The queries are mainly about loading the load_profiles and their load_profile_components.

[2015-10-08 09:54] ChaelKruip commented on #516
I think the defaults should be public. Assigning to @grdw

[2015-10-08 09:58] grdw commented on #516
They are both public. However because there are now more than ~60 topologies with the name `Default topology` you can't be sure that the `Default topology` is actually the `Default Topology`. The same problem exists for market models. There is an issue for this problem that's already fixed. Will deploy it after the demo.

[2015-10-08 09:59] ChaelKruip commented on #516
:+1:

[2015-10-08 13:04] ChaelKruip commented on #363
Closing this as this is done.

[2015-10-08 13:04] #363 closed

[2015-10-08 13:29] grdw commented on #516
I deployed it. Also renamed the Default clone's with a query.

[2015-10-08 13:29] #516 closed

[2015-10-08 14:07] grdw opened #519 "Calculate load in a background job"
The title says it all. With caching this shouldn't be too hard.

[2015-10-09 10:12] dennisschoenmakers opened #520 "Profile chart does not show on Production"
cc @ChaelKruip. I also experienced the same malfunction yesterday. A refresh helped back then, not today :grin:

[2015-10-09 11:52] ChaelKruip opened #521 "Changes in the load chart do not show up after changing strategies"
Only after refreshing the page...

[2015-10-12 07:38] grdw commented on #520
Do you have an example of this?

[2015-10-12 07:47] dennisschoenmakers commented on #520
Closing. Cannot reproduce. Let's keep an eye out for it anyways.

[2015-10-12 07:55] ChaelKruip commented on #520
![cursor_and_etmoses](https://cloud.githubusercontent.com/assets/1303760/10423514/694b366e-70c7-11e5-9b83-36de82282f6b.png)

[2015-10-12 07:57] grdw commented on #520
Awesome. Thanks! Already see what it is though.

[2015-10-12 08:04] #520 closed

[2015-10-12 08:14] grdw commented on #521
I can reproduce this if I'm not signed in.

[2015-10-12 08:15] dennisschoenmakers commented on #520
:+1:

[2015-10-12 09:04] ChaelKruip commented on #276
Closing.

[2015-10-12 09:04] #276 closed

[2015-10-12 09:31] #521 closed

[2015-10-12 13:43] dennisschoenmakers opened #522 "Legend acts weirdly"
If I click on households 3, it seems to alternate between capacity and households 3. (b.t.w. this also happens when you have a green line):

![legend](https://cloud.githubusercontent.com/assets/104830/10429300/ce051630-70f7-11e5-8d6a-7048d16771d7.gif)

cc @grdw

[2015-10-12 13:45] dennisschoenmakers opened #523 "We should define a couple (say 3) of default topologies for different sizes"
e.g.:

1. small (10-100 households)
2. medium (100-1000 households)
3. large (1000+ households)

[2015-10-12 13:45] antw commented on #523
:+1:

[2015-10-12 13:47] dennisschoenmakers opened #524 "We should smartly put together default topologies depending on size of the etmodel scenario"
Could we have something that scales with your etmodel scenario? E.g. depending on the number of households? So it adds more nodes, and more 'middenspanningsruimtes'? Also see #523: it is related.

[2015-10-13 07:14] ChaelKruip commented on #522
Assigning to @grdw

[2015-10-13 07:20] ChaelKruip commented on #522
This is part of a more general class of weird behaviour that is observed in the load chart:
* if you select/deselect a curve several times, the scaling can differ erratically
* Persistence is not always in working (sometimes the chart forgets your settings)

[2015-10-13 07:31] ChaelKruip commented on #523
Perhaps we could then make ETMoses choose those defaults automagically based on the number of households in the scaled scenario.

[2015-10-13 07:32] ChaelKruip commented on #524
:+1:

[2015-10-13 07:32] ChaelKruip commented on #524
Assigning to @antw

[2015-10-13 08:22] dennisschoenmakers commented on #523
I love automagic!

[2015-10-13 08:52] #522 closed

[2015-10-13 13:21] JeroenvdLogt opened #525 "number of households is not correctly with units in topology"
I made topology with 94 MSR's, 1168 households with maximum 3 kW load. But in the loadcurve on the MSR node it results in just 3 kW load.
I used topology standard (editied for Goor) in LES First trial oefencase Goor at the live server (not beta).

[2015-10-13 13:23] ChaelKruip commented on #525
[This is the corresponding LES](http://moses.et-model.com/testing_grounds/336)

[2015-10-13 13:34] JeroenvdLogt commented on #525
Yes it is

[2015-10-13 13:41] antw commented on #525
I might be being thick, but I'm not sure what I'm supposed to be noticing in the above LES. :laughing:

I do see that all the *technologies* have `units=1` (hence the low network load), but that appears to have been set manually; [a fresh import of the ETEngine scenario](http://moses.et-model.com/testing_grounds/import?scenario_id=264915) has the expected number of units for each technology.

[2015-10-13 13:51] JeroenvdLogt commented on #525
I loaded a fresh scenario from ETM but still have the same problem. Units of MSR1 and MSR2 are 94 and number of households is 1168. But load at HV network 1 is just 84 kW.
![image](https://cloud.githubusercontent.com/assets/7781037/10456564/4f86e6fa-71c2-11e5-9006-56f7b9710f9c.png)

---
name: UHV Network
stakeholder: producer
children:
- name: HV network 1
  units: 1
  stakeholder: system operator

[2015-10-13 14:07] ChaelKruip commented on #525
Also, when I look in [your LES](http://moses.et-model.com/testing_grounds/338) I only see base_load profiles with units = 1 in the technology matrix:
![cursor_and_etmoses](https://cloud.githubusercontent.com/assets/1303760/10456955/2fdd6a5c-71c4-11e5-995e-00ee6c478860.png)
That is the number which determines the number of units and thus the multiplication factor of the load profile.

The `units` i

[2015-10-13 14:10] JeroenvdLogt opened #526 "business case is not calculated and cannot be modified within LES"
In the LES: "oefening vrijdag 13-10-2015 opslag netbeheerder" ET Moses doesn't calculate the business case. I am not able to modify the market model within the LES. When I choose the merit-order or price-curve the screen blinks and after that tarrif fields are blank.

This happens on the live-server (not beta).

[2015-10-13 14:20] JeroenvdLogt commented on #525
I think so. I always thought the households and technnologies were multiplied by both units in technology table and topology. So if I simulate the usecase of Hof van Twente f.e. I need to enter all the households (f.e. 3000) of HvT in the technology table and number of MSR's (94 f.e.) ? The aggregated baseload of households would then be 3000*1.1 kW? The total capacity of MSR's would then be 94*41

[2015-10-13 14:25] ChaelKruip commented on #525
Exactly! This behaviour is the clearest in my opinion: all information about technologies and base-loads is in the technology matrix and all info about the topology is in the topology file.

Closing. Please re-open if this does not solve your issue.

[2015-10-13 14:25] #525 closed

[2015-10-13 14:31] dennisschoenmakers opened #527 "AirbrakeTestingException: Testing airbrake via "rake airbrake:test". If you can see this, it works."
Check full details on Airbrake: [#1530440211528922153](https://quintel.airbrake.io/projects/111227/groups/1530440211528922153)

Backtrace:
[code]

[2015-10-13 14:32] dennisschoenmakers opened #528 "AirbrakeTestingException: Testing airbrake via "rake airbrake:test". If you can see this, it works."
Check full details on Airbrake: [#1530440606011602034](https://quintel.airbrake.io/projects/111227/groups/1530440606011602034)

Backtrace:
[code]

[2015-10-13 14:32] #527 closed

[2015-10-13 14:33] #528 closed

[2015-10-14 06:58] dennisschoenmakers opened #529 "End points are not 'equally treated' with local solar storage?"
I started with the 100% co2 reduction 2030 preset, scaled down to 600 residences and choose all the defaults. I ended up with [**LES 340**](http://moses.et-model.com/testing_grounds/340). I selected the first strategy, and I found that all three end points have very different loads:

![image](https://cloud.githubusercontent.com/assets/104830/10476764/0c8fed80-7251-11e5-973b-15a7b8e0a8a7.png)

![im

[2015-10-14 07:00] dennisschoenmakers commented on #529
BTW: Technologies are distributed equally over the end points, except some rounding differences.

[2015-10-14 08:09] grdw commented on #519
This is as good as finished. Waiting for pull request #518 to merge before making a pull request for this issue.

[2015-10-14 08:45] dennisschoenmakers commented on #529
Hopefully this behaviour will be solved with #310. First implementation expected today! I suggest we deploy this to production too.

[2015-10-14 09:11] dennisschoenmakers opened #530 "When creating a LES, could we show a 'preview' of the topology"
When presenting ETMoses, I notice that people would like to preview the topology before it is chosen. It's also hard to change it later.

Could we improve on this? I have two ideas:

1. Show the collection of three default, or choose by text:

    ![image](https://cloud.githubusercontent.com/assets/104830/10479273/ac84a36e-7263-11e5-9e25-db09c8529510.png)

2. Or preview the topology from the selec

[2015-10-14 09:37] grdw commented on #530
Maybe a dropdown with images:

![dropdown-with-images](https://cloud.githubusercontent.com/assets/2676542/10479993/eb1d839e-7267-11e5-9d9d-83df6a583906.png)

[2015-10-14 09:39] dennisschoenmakers commented on #530
Good idea! Would the images be large enough to be understood though?

[2015-10-14 09:46] grdw commented on #530
It's only to get a basic idea of the 'shape' of the topology. Which for Lochem topologies might become a bit of a problem when it comes to size.

I personally like the "preview idea" a bit better than my own when I think a bit harder about the usability problem. Would also make the topology preview - not just a preview - but a bit more interactive. For instance: seeing which stakeholders are attac

[2015-10-14 10:15] antw commented on #530
Nice idea. :+1:

Funnily enough, my first thought was in the opposite direction: strip out as much information from the topology preview as possible: reduce the nodes to a 3-4px wide, hide the labels, and bring the nodes closer together (kind of like in [the drop-down version](https://github.com/quintel/etmoses/issues/530#issuecomment-147990821)). That way we'd fit the diagram into a smaller space

[2015-10-14 11:12] JeroenvdLogt commented on #530
Good to see you're thinking about this! I would prefer the second option of Dennis. I am mostly interested in the shape of the availabe topologies (in bit more detail than the dropdownmenu option) when creating a LES and not in just the defaults.

[2015-10-14 11:28] ChaelKruip commented on #530
:+1: Very nice idea indeed.

I agree with @antw's reasoning here but I would like to show one 'property' of the topology that we currently don't really support/show: the typical number of households/connection that the topology is meant to represent. This can be extracted from the topology file by adding up the 'units' of the end-nodes.

[2015-10-14 13:32] grdw opened #532 "Adding more customer stakeholders"
This issues is merely as a status update

- [x] Adding stakeholders to the database
- [x] Adding hierarchy to stakeholder
- [ ] Finding a select box library that can show and hide suboptions
- [x] Expand business cases
- [x] Expand market models

[2015-10-14 14:58] dennisschoenmakers opened #533 "TypeError: String can't be coerced into Float"
Check full details on Airbrake: [#1531178452418803503](https://quintel.airbrake.io/projects/111227/groups/1531178452418803503)

Backtrace:
[code]

[2015-10-15 11:34] grdw opened #534 "Remember which tab was last opened in the edit screen of a LES"

[2015-10-15 11:38] grdw commented on #532
@ChaelKruip I think the most easy way to make the 24 stakeholders work out, is if we blank out the stakeholders that we don't use in the `MarketModel` / `Topology`. This way you only get a business case with all the 'relevant' information. I'm still wondering if there was a reason to why we kept all the stakeholders listed in the business case eventhough there were no rules for them?

[2015-10-15 11:41] ChaelKruip commented on #532
Uniformity of the table mostly.

[2015-10-15 12:37] #514 closed

[2015-10-15 14:11] grdw opened #535 "Now that we have 24 sub-customers, what for status should the customer have?"
- Is customer the 25th?
- Is customer the parent of the 24 sub-customers

What to with the market model rules in which transactions are defined for a sub-customer or/and a customer?

The same question accounts for the topology.

Including @ChaelKruip @dennisschoenmakers

[2015-10-15 14:32] grdw opened #536 "When comparing business cases should all the stakeholders be visible?"
Some context:

- This is when there are an additional 24 stakeholders.
- To make the business case fit into the summary box niceley on the LES show page - I rejected all the stakeholders which aren't also in your topology. This is to make it 'fit'.

---

Let's say you have two business cases:
[code]

[code]

Would it have any significance to showing the differences for the `customer`? Considering

[2015-10-15 14:48] JeroenvdLogt opened #537 "investment cost of nodes but no end-nodes"
I see in the business case table no investment cost of nodes which are no end-nodes.
you can look at Oefencase Etten-Leur SSU in the live server.

[2015-10-15 15:00] ChaelKruip commented on #537
@JeroenvdLogt please include a link to [your LES](http://moses.et-model.com/testing_grounds/341) (like this :smile:)

[2015-10-15 15:08] ChaelKruip commented on #537
I see that the `system operator` has no depreciation costs although they should be equal to:
[code]

Assigning to @grdw

[2015-10-16 08:35] grdw commented on #537
I already see what is happening here.

In some Topologies `technical_lifetime` is used to specify the 'duration' of a certain technology. In others the term `economic_lifetime` is used. The term to use for succesfully calculating the depreciation costs is `technical_lifetime`. There are no calculations that make use of the term `economic_lifetime`.

In order to not cause any future confusion about

[2015-10-16 12:19] #511 closed

[2015-10-16 12:32] #307 closed

[2015-10-16 12:34] grdw commented on #307
I'm closing this for now. Usually something really serious is broken when it doesn't calculate in which case an issue should be made. The user however doesn't really receive any 'correct feedback' if it didn't calculate. Except for the fact that the business case isn't available. Which is enough for the fact that the error message is usually way to technical for a user to understand.

[2015-10-16 14:43] grdw commented on #530
![screen shot 2015-10-16 at 4 42 43 pm](https://cloud.githubusercontent.com/assets/2676542/10544656/f48bfd2a-7424-11e5-8c99-b5984270eadd.png)

Preview of the preview

[2015-10-16 14:44] dennisschoenmakers commented on #530
Great. Could we also show it top to bottom, i.e. the same direction as in
the LES itself?

Sent from my iPhone

On 16 okt. 2015, at 16:43, Gerard Westerhof <notifications@github.com>
wrote:

[image: screen shot 2015-10-16 at 4 42 43 pm]
<https://cloud.githubusercontent.com/assets/2676542/10544656/f48bfd2a-7424-11e5-8c99-b5984270eadd.png>

Preview of the preview

—
Reply to this email directly or v

[2015-10-16 14:44] grdw commented on #530
I'm able to generate a preview pretty easily.

Only issue are the Lochem topologies:

![screen shot 2015-10-16 at 4 43 59 pm](https://cloud.githubusercontent.com/assets/2676542/10544687/2c4682d0-7425-11e5-9f25-513b85b55c3d.png)

[2015-10-16 14:44] grdw commented on #530
@dennisschoenmakers yeah sure! :+1:

[2015-10-16 19:00] JeroenvdLogt commented on #530
Great work Anthony! I consider the Lochem Topology as an exceptional situation. Simulation of bigger a LES with the same detail level could be feasible for ET Moses. But after a few usescase I notice it is allready prety hard to 'be in control' as user (read: difficult to see all implications of your input).

Anyways the representation of the topology you suggest is a good one I think.

[2015-10-16 19:15] JeroenvdLogt commented on #537
If calculations are right it is not important which term we chose I think. For Regulation Affairs there is however a big difference between economic_lifetime and technical_lifetime. To give an example: there are some cables in dutch networks older than 70/80 years (technical_lifetime). But in order to proper benchmark between DSO's a economic_lifetime is choosen (based on statistics about lifetime

[2015-10-17 11:28] antw commented on #530
This was all Gerard, thanks @grdw!

--

I still think reducing the node size – and separation between each – would be worthwhile for the preview:

<img width="162" alt="screen shot 2015-10-17 at 12 24 51" src="https://cloud.githubusercontent.com/assets/4383/10558532/23c3cc6c-74ca-11e5-85a2-4a9af5c8f105.png"> <img width="201" alt="screen shot 2015-10-17 at 12 28 01" src="https://cloud.githubusercon

[2015-10-19 08:24] ChaelKruip commented on #537
@JeroenvdLogt thanks for expanding on the subject.

I suggest that for the moment we allow both to be used. The lifetime (whichever one) is only used to determine the depreciation costs at the moment. It does not really matter which is used as long as it is representative for how to spread the investment.

Anyone opposed?

[2015-10-19 08:31] antw commented on #537
:+1:

[2015-10-19 09:02] ChaelKruip commented on #536
Indeed! I would show the [union](https://en.wikipedia.org/wiki/Union_(set_theory)) of the stakeholders in the two LESs (exclude only those that are in neither of them).

[2015-10-19 09:26] grdw commented on #530
![screen shot 2015-10-19 at 11 25 22 am](https://cloud.githubusercontent.com/assets/2676542/10574103/25713c26-7654-11e5-88b1-823c23187572.png)
![screen shot 2015-10-19 at 11 25 30 am](https://cloud.githubusercontent.com/assets/2676542/10574104/2574bc0c-7654-11e5-9374-9eb908f09b2a.png)

@antw something like this? :+1:

[2015-10-19 09:33] antw commented on #530
Exactly! I think that looks clearer. There's not much we can do with the really complex networks, so I think we'll have to live with the clutter in those cases.

Two *minor* things stand out in that screenshot:

* The `stroke` colour should be the same as the node colour (it looks like it is a lighter grey which makes the node look a bit blurry).
* Maybe the nodes could be 1-2px smaller?